.button-bar{
	position: relative;
	margin-bottom: 70px;
	@include breakpoint('tablet'){
		margin-bottom: 90px;
	}
	&:after{
		content: '';
		position: absolute;
		left: 0; right: 0; top: -16px; bottom: 0;
		background: $cl-white;
		width: 100%;
		height: 16px;
	    margin: auto;
	    filter: drop-shadow(0px 5px  3px rgba(130,130,130,0.2));
	}
	.news-button{
		text-align: center;
		.m-btn{
			font-size: 18px;
			color: $cl-primary;
			display: inline-block;
			text-align: center;
			margin-bottom: 0;
			position: relative;
			z-index: 2;
		}
	}
}
