.categories{
	background: #e5f0fd;
	padding: 82px 0;
	.boxes{
		padding: 0 15px;
		margin-top: 40px;
		@include breakpoint('tablet'){
			margin-top: 80px;
		}
		@include breakpoint('desktop'){
			padding: 0;
		}
		.box{
			height: 350px;
			width: 100%;
			margin-bottom: 15px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			@include breakpoint('tablet'){
				width: calc(50% - 20px);
				display: inline-block;
				float: left;
				margin: 0 10px 20px;
			}
			@include breakpoint('desktop_small'){
				width: calc(25% - 10px);
			    margin: 0 5px 0px;
				height: 320px;
			}
			&:hover{
				@include breakpoint('tablet'){
					&::before{
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&::before{
				content: '';
				background: rgba(26, 35, 126, .6);
				position: absolute;
				top: 0; bottom: 0; right: 0; left: 0;
				transition: .3s all;
				@include breakpoint('tablet'){
					visibility: hidden;
					opacity: 0;
					background: $cl-primary;
				}
			}
		}
	}
}
