.contact{
	.boxes{
		.box{
			padding: 0 15px;
			@include breakpoint('tablet'){
				box-sizing: border-box;
				width: 33.3%;
				display: inline-block;
				float: left;
			}
			@include breakpoint('desktop'){
				padding: 0 15px 0 0;
			}
		}
	}
}
