.form{
	margin: 40px auto 0;
	max-width: 1180px;
	padding: 0 15px 50px;
	position: relative;
	@include breakpoint('tablet'){
		padding: 0 0 50px;
		margin-top: 60px;
	}
	@include breakpoint('desktop_small'){
		padding: 0 0 120px;
		margin-top: 100px;
	}
	p{
		margin-bottom: 25px;
		@include breakpoint('tablet'){
		    width: 33.3%;
		    display: inline-block;
		    float: left;
			padding: 0 15px;
			box-sizing: border-box;
		}
		@include breakpoint('desktop'){
			padding: 0 15px 0 0;
		}
		&:nth-of-type(4){
			margin: 60px 0;
			@include breakpoint('desktop_small'){
				margin: 80px 0 40px;
			}
		}
		&:nth-of-type(4), &:last-of-type{
			@include breakpoint('tablet'){
				width: 100%;
			}
		}
		&:last-of-type{
			position: absolute;
		    bottom: -50px;
		    left: 0;
		    right: 0;
		    width: max-content;
		    margin: 0 auto;
		}
		label{
			font-size: 14px;
			color: $cl-secondary;
			text-transform: uppercase;
			input, textarea{
				border: 0;
				border-bottom: 2px solid $cl-primary;
				width: 100%;
				padding: 5px 0;
			    font-size: 18px;
			}
			textarea{
				transition: .3s all;
				height: 31px;
				font-family: 'Montserrat', sans-serif;
				resize: none;
			}
		}
		.wpcf7-submit{
			font-family: 'Montserrat', sans-serif;
			min-width: 230px;
			display: block;
			border-radius: 50px;
			font-size: 16px;
			padding: 15px 16px;
			background: $cl-secondary;
			color: $cl-primary;
			text-transform: uppercase;
			border: 2px solid $cl-secondary;
			cursor: pointer;
			color: $cl-white;
			font-weight: 600;

			@include breakpoint('tablet'){
				min-width: 245px;
			}
		}
	}
	.wpcf7-validation-errors, .wpcf7-mail-sent-ng{
		border: 0;
		color: red;
	}
}
