.heading-bar{
	background: $cl-tertiary;
	padding: 50px 0 80px;
	&.small{
		padding: 50px 0 80px;
		@include breakpoint('tablet'){
			padding: 50px 0 130px;
		}
	}
	.two-boxes{
		margin-top: 50px;
		@include breakpoint('desktop_small'){
			margin: 50px 15px 0;
		}
		.content-wrapper{
			margin-top: 0;
			.box{
				@include breakpoint('desktop_small'){
					display: inline-block;
					float: left;
					box-sizing: border-box;
				}
				&:first-of-type{
					margin: 0 15px;
					background: $cl-white;
					padding: 25px 15px;
					font-size: 20px;
					font-weight: 300;
					line-height: 28px;
					@include breakpoint('tablet'){
						padding: 25px;
					}
					@include breakpoint('desktop_small'){
						margin: 0 1% 0 0;
						width: 44%;
						text-align: center;
					    line-height: 32px;
					}
					.team{
						font-weight: 800;
					}
					.sign-wrapper{
						@include breakpoint('tablet'){
							padding-top: 30px;
						}
						.boss{
							color: #000;
							display: block;
							font-size: 16px;
							text-align: center;
							padding: 20px 0;
							@include breakpoint('tablet'){
								padding-top: 15px;
							}
						}
						.sign{
							display: block;
							background: $cl-secondary;
							text-align: center;
							border-radius: 50px;
							padding: 15px;
							color: $cl-white;
							font-weight: 500;
							@include breakpoint('tablet'){
								max-width: 300px;
							}
						}
						.boss, .sign{
							@include breakpoint('tablet'){
								width: 50%;
								display: inline-block;
								float: left;
								box-sizing: border-box;
							}
						}
					}
				}
				&:last-of-type{
					@include breakpoint('desktop_small'){
						margin-left: 1%;
						width: 54%;
					}
				}
				.sub-box{
					margin: 25px 15px;
					@include breakpoint('tablet'){
						width: 50%;
						display: inline-block;
						float: left;
						box-sizing: border-box;
						margin: 25px 0;
						padding: 0 15px;
					}
					@include breakpoint('desktop_small'){
						margin: 0;
					}
					.image{
						height: 240px;
						background-size: cover;
						background-position: center;
						@include breakpoint('desktop_small'){
							height: 200px;
						}
					}
					h3{
						font-size: 18px;
						font-weight: 800;
						padding: 15px 0;
					}
					p{
						color: #000;
					}
				}
			}
		}
	}
}

.news{
	&.about{
		.heading-bar{
			padding: 50px 0 20px;
			@include breakpoint('tablet'){
				padding: 50px 0 50px;
			}
		}
	}
}
