.header{
	position: relative;
	.carousel-wrapper-primary{
		margin-bottom: 0;
		@include breakpoint('desktop'){
			height: 100vh;
			min-height: 550px;
		}
		.box{
			background-size: cover;
			height: 100vh;
			background-position: center;
			position: relative;
			filter: contrast(170%);
			@include breakpoint('tablet'){
				height: 600px;
			}
			@include breakpoint('desktop_small'){
				height: 670px;
			}
			@include breakpoint('desktop'){
				// height: 860px;
				min-height: 550px;
				height: 100vh;
			}
			&::after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: rgba(15, 77, 161, .4);
			}
		}
		.slick-dots{
			bottom: 30px;
			li{
				button{
					&::before{
						content: '';
						display: block;
						height: 12px;
						width: 12px;
						background: transparent;
						border: 1.5px solid $cl-primary;
						border-radius: 50%;
						opacity: 1;
					}
				}
				&.slick-active{
					button{
						&::before{
							background: $cl-primary;
						}
					}
				}
			}
		}
	}
	&-text, &-button{
		z-index: 1;
		position: absolute;
		left: 0;
		right: 0;
		top: 26%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;
		box-sizing: border-box;
		@include breakpoint('tablet'){
			top: 28%;
		}
	}
	&-button{
		padding: inherit;
		bottom: 85px;
		top: auto;
		&::after{
			content: '';
			height: 50px;
			width: 100px;
			background: red;
			-webkit-box-shadow: 9px 10px 55px -4px rgba(0,0,0,0.75);
			-moz-box-shadow: 9px 10px 55px -4px rgba(0,0,0,0.75);
			box-shadow: 9px 10px 55px -4px rgba(0,0,0,0.75);
		}
	}
	&_other{
		.header-bg{
			height: 260px;
			background-size: cover;
			background-position: center;
			@include breakpoint('tablet'){
				height: 280px;
			}
			@include breakpoint('desktop_small'){
				height: 380px;
			}
			@include breakpoint('desktop'){
				height: 460px;
			}
			@include breakpoint('desktop_big'){
				height: 530px;
			}
		}
	}
}
