.news{
	position: relative;
	margin-bottom: 50px;
	padding: 50px 0;
	@include breakpoint('tablet'){
		padding: 70px 0;
	}
	.boxes{
		@include breakpoint('desktop_small'){
			margin-bottom: 60px;
		}
			&:first-of-type{
				.box{
					@include breakpoint('desktop'){
						margin-left: 0;
						width: calc(33.3% - 15px);
					}
				}
			}
			&:nth-of-type(2){
				.box{
					@include breakpoint('desktop'){
						margin: 0 8px;
						width: calc(33.3% - 16px);
					}
				}
			}
			&:last-of-type{
				.box{
					@include breakpoint('desktop'){
						margin-right: 0;
						width: calc(33.3% - 15px);
					}
				}
			}
			.box{
				margin: 0 15px;
				margin-bottom: 30px;
				@include breakpoint('tablet'){
					width: calc(50% - 30px);
					float: left;
					display: inline-block;
					box-sizing: border-box;
					transition: .3s all;
				}
				@include breakpoint('desktop_small'){
					width: calc(33.3% - 30px);
					margin-bottom: 0;
				}
				&:hover{
					@include breakpoint('tablet'){
						-webkit-box-shadow: 5px 3px 35px -11px rgba(153,153,153,1);
						-moz-box-shadow: 5px 3px 35px -11px rgba(153,153,153,1);
						box-shadow: 5px 3px 35px -11px rgba(153,153,153,1);
					}
				}
				.img{
					height: 250px;
					background-size: cover;
					background-position: center;
					@include breakpoint('tablet'){
						height: 270px;
					}
				}
				.text-wrapper{
					padding: 0 10px;
					box-sizing: border-box;
				}
			}
	}
	&-button{
		max-width: 1170px;
		margin: 0 auto; 
		padding: 0 15px;
		box-sizing: border-box;
		@include breakpoint('desktop_small'){
			margin-bottom: 15px;
		}
	}
	&.about{
		.content-wrapper{
			margin-top: 0;
			.post-content{
				padding: 45px 15px 30px;
				@include breakpoint('tablet'){
					padding: 65px 45px 70px;
				}
			}
		}
	}
}
