.post-content{
	color: #000;
	padding: 25px 15px 0;
	@include breakpoint('tablet'){
		padding: 25px 30px 0;
	}
	@include breakpoint('desktop_small'){
		padding: 25px 45px 0;
	}
	a{
		color: $cl-secondary;
		font-weight: 600;
	}
}
