.news{
	&_listing{
		padding: 0;
		margin-bottom: 15px;
		.content-wrapper{
			@include breakpoint('tablet'){
				margin-top: -110px;
			}
			.boxes{
				margin: 40px 0 0;
				@include breakpoint('tablet'){
					margin: 80px 0 0;
					background: $cl-white;
					padding-top: 16px;
					padding: 25px 15px 0;
				}
				@include breakpoint('desktop'){
					padding: 20px 25px 0;
				}
				a{
					&:nth-child(3n+2) {
						.box{
							@include breakpoint('desktop'){
								margin: 0 23px;
							}
						}
					}
					.box{
						@include breakpoint('desktop_small'){
							margin-bottom: 30px;
						}
						@include breakpoint('desktop'){
							margin: 0 0 80px 0;
						}
						&:last-of-type{
							.box{
								@include breakpoint('desktop'){
									width: calc(33.3% - 15px);
								}
							}
						}
					}
				}
			}
		}
	}
}
