.news{
	&.post{
		.content-wrapper{
			@include breakpoint('tablet'){
				margin-top: -160px;
			}
			.boxes{
				.img{
					height: 260px;
					margin: 0 15px;
					background-size: cover;
					background-position: center;
					@include breakpoint('tablet'){
						height: 280px;
						margin: 0;
					}
					@include breakpoint('desktop_small'){
						height: 380px;
					}
					@include breakpoint('desktop'){
						height: 460px;
					}
					@include breakpoint('desktop_big'){
						height: 670px;
					}
				}
			}
		}
	}
}

.post-navigation{
	border-top: 3px solid $cl-primary;
    margin: 0 15px;
    padding-top: 15px;
	margin-bottom: 20px;
	@include breakpoint('tablet'){
		margin-bottom: 50px;
		padding-top: 25px;
	}
	@include breakpoint('desktop'){
		max-width: 1090px;
		margin: 0 auto 50px;
	}
	.content-wrapper{
		@include breakpoint('tablet'){
			margin: 0 auto;
		    width: 84%;
		}
		@include breakpoint('desktop_small'){
			width: 65%;
		}
		@include breakpoint('desktop'){
		    width: 54%;
		}
		@include breakpoint('desktop_colossal'){
			width: 55%;
		}
		.box{
			text-align: center;
			padding: 25px 0;
			margin: 0 25px;
			@include breakpoint('tablet'){
				width: calc(50% - 1px);
				display: inline-block;
				float: left;
				margin: 0;
				position: relative;
				padding: 45px 0;
			}
			&:first-of-type{
				border-bottom: 2px solid #d8d8d8;
				@include breakpoint('tablet'){
					border-bottom: 0;
					border-right: 1px solid #d8d8d8;
				}
				.arrow{
					transform: rotate(180deg);
					top: 0;
					bottom: 0;
					height: 40px;
					margin: auto;
					left: 0;
				}
			}
			&:last-of-type{
				@include breakpoint('tablet'){
					border-left: 1px solid #d8d8d8;
				}
				.arrow{
					transform: rotate(0);
				    top: 0;
				    bottom: 0;
				    margin: auto;
				    height: 40px;
					right: 0;
					left: auto;
				}
			}
			.arrow{
				display: none;
				z-index: 2;
				background: $cl-primary;
				cursor: pointer;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50px;
				width: 40px;
				padding: 5px 0 5px 20px;
				box-sizing: border-box;
				left: 25px;
				@include breakpoint('tablet'){
					display: block;
				}
				@include breakpoint('desktop_big'){
					left: -5px;
				}
				span{
				  height: 18px;
				  background: $cl-secondary;
				  display: block;
				  width: 2px;
				  display: block;
				  &:first-of-type{
						transform: rotate(-45deg);
						margin-bottom: -6px;
				  }
				  &:last-of-type{
						margin-top: -6px;
						transform: rotate(45deg);
				  }
				}
			}
		}
	}
}
