.news{
	&.review{
		.content-wrapper{
			.post-content{
				padding-bottom: 25px;
			}
		}
	}
}

.review-table{
	margin: 0 15px 65px;
	@include breakpoint('tablet'){
		margin-bottom: 100px;
	}
	.content-wrapper{
		.row{
			@include breakpoint('tablet'){
				position: relative;
			}
			&:nth-child(1n+2){
				.box{
					&:last-of-type{
						border-top: 0;
					}
				}
			}
			&:last-of-type{
				.box{
					&:first-of-type{
						border-bottom: 0;
					}
				}
			}
			.box{
				font-weight: 800;
				a{
					color: $cl-secondary;
					font-weight: 400;
				}
				ul{
					li{
						&:before{
							content: '-';
							padding-right: 5px;
							color: #000;
						}
					}
				}
				&.descr{
					font-weight: 500;
				    color: #000;
				}
				@include breakpoint('tablet'){
					display: inline-block;
					float: left;
				}
				&:first-of-type{
					background: #d8d8d8;
					text-align: center;
					padding: 25px;
					@include breakpoint('tablet'){
						left: 0;
						width: 185px;
						bottom: 0;
						top: 0;
						position: absolute;
						box-sizing: border-box;
						border-bottom: 2px solid $cl-white;
					}
				}
				&:last-of-type{
					border: 2px solid #d8d8d8;
					padding: 25px 15px;
					@include breakpoint('tablet'){
						padding: 25px 15px 25px 25px;
						width: calc(100% - 220px);
						margin-left: 185px;
					}
				}
				.star{
					display: inline-block;
					float: left;
					width: 50%;
					text-align: center;
					margin-bottom: 15px;
					opacity: .4;
					@include breakpoint('tablet'){
						width: auto;
						margin: 0px -4px 0px 0;
						text-align: left;
					}
					@include breakpoint('desktop_small'){
						margin-right: 15px;
					}
					&.selected{
						opacity: 1;
					}
				}
			}
		}
	}
}
