.news{
	&.section{
		.content-wrapper{
			margin-top: 0;
			.post-content{
				.tab-nav-wrapper{
					margin-bottom: 20px;
					@include breakpoint('tablet'){
						margin-bottom: 40px;
						display: flex;
						justify-content: center;
					}
					.tab-nav{
						display: inline-block;
						font-size: 18px;
						margin: 0 5px 15px;
						width: calc(50% - 10px);
						float: left;
						text-align: center;
						padding-bottom: 15px;
						border-bottom: 3px solid $cl-secondary;
						cursor: pointer;
						@include breakpoint('tablet'){
							width: calc(25% - 10px);
						    margin: 0 10px 15px 0;
						}
						@include breakpoint('desktop_small'){
							width: 15%;
						}
						@include breakpoint('desktop'){
							// width: calc(12% - 4px);
							width: auto;
							min-width: 13%;
						}
						&:last-of-type{
							@include breakpoint('tablet'){
								margin-right: 0;
							}
						}
						&.active{
							border-bottom-color: $cl-primary;
						}
					}
				}
				.tab-content{
					display: none;
					margin-bottom: 50px;
					@include breakpoint('tablet'){
						margin-bottom: 60px;
					}
					&.active{
						display: block;
					}
				}
			}
		}
	}
}
