<div class="menu is-offerList">
    <ul class="menuList">
        <li class="menuItem">
            <a href="#" class="menuLink">O nas</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">Technologia</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">Oferta</a>
        </li>
    </ul>

</div>