<div class="menu is-offerList">
    <h3 class="heading heading-primary">Sprawdź naszą ofertę</h3>
    <ul class="menuList">
        <li class="menuItem"><a href="#" class="menuLink">Dla biznesu</a></li>
        <li class="menuItem"><a href="#" class="menuLink">Dla samorządów</a></li>
        <li class="menuItem"><a href="#" class="menuLink">Dla domu</a></li>
    </ul>

</div>