<div class="menu is-partners js-partners">
    <ul class="menuList">
        <li class="menuItem">
            <a href="#" class="menuLink">1</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">2</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">3</a>
        </li>
    </ul>
</div>