/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0;
}

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.ui-state-active .m-btn_primary {
  background-color: #240202;
  color: #8dc63f;
  border-color: #240202;
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900;
}

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px;
}

.m-btn_primary {
  background: white;
  color: red;
  border: 2px solid red;
}

.m-btn_secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../fonts/MyriadPro-Cond.otf");
}

@font-face {
  font-family: "MyriadPro-Semi";
  src: url("../fonts/MyriadPro-Semibold.otf");
}

@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-BoldCond.otf");
}

@font-face {
  font-family: "MyriadPro-Light";
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: "Antonio-Bold";
  src: url("../fonts/Antonio-Bold.ttf");
}

.typo_primary {
  font-family: "Antonio-Bold";
  font-size: 24px;
}

.typo_primary.heading {
  color: #9b997c;
  line-height: normal;
  font-size: 48px;
  text-align: center;
  margin: 15px 0 30px;
}

@media screen and (min-width: 768px) {
  .typo_primary.heading {
    margin: 0 0 14px;
  }
}

.typo_text {
  font-family: "MyriadPro-Cond";
  font-size: 24px;
  color: black;
}

.nav .typo_primary {
  color: #240202;
  font-size: 22px;
}

@media screen and (min-width: 1024px) {
  .nav .typo_primary {
    font-size: 18px;
    color: #c9c7b2;
  }
}

.main-slider .typo {
  text-shadow: black 4px 0px 0px, black 3.87565px 0.98962px 0px, black 3.51033px 1.9177px 0px, black 2.92676px 2.72656px 0px, black 2.16121px 3.36588px 0px, black 1.26129px 3.79594px 0px, black 0.28295px 3.98998px 0px, black -0.71298px 3.93594px 0px, black -1.66459px 3.63719px 0px, black -2.51269px 3.11229px 0px, black -3.20457px 2.39389px 0px, black -3.69721px 1.52664px 0px, black -3.95997px 0.56448px 0px, black -3.97652px -0.43278px 0px, black -3.74583px -1.40313px 0px, black -3.28224px -2.28625px 0px, black -2.61457px -3.02721px 0px, black -1.78435px -3.57996px 0px, black -0.84318px -3.91012px 0px, black 0.15041px -3.99717px 0px, black 1.13465px -3.8357px 0px, black 2.04834px -3.43574px 0px, black 2.83468px -2.82216px 0px, black 3.44477px -2.03312px 0px, black 3.84068px -1.11766px 0px, black 3.9978px -0.13272px 0px;
  letter-spacing: 0.6px;
}

.main-slider .typo:first-child {
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 768px) {
  .main-slider .typo:first-child {
    width: 60%;
    font-size: 30px;
    padding-top: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .main-slider .typo:first-child {
    line-height: 54px;
    font-size: 38px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .main-slider .typo:first-child {
    font-size: 40px;
  }
}

.main-slider .typo:last-child {
  line-height: 32px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .main-slider .typo:last-child {
    font-size: 22px;
    margin-left: auto;
    width: 60%;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .main-slider .typo:last-child {
    word-spacing: 8px;
    line-height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .main-slider .typo:last-child {
    font-size: 24px;
  }
}

.beers .typo_primary.heading {
  margin: 45px 0 35px;
}

@media screen and (min-width: 768px) {
  .beers .typo_primary.heading {
    margin: 25px 0 45px;
  }
}

@media screen and (min-width: 1024px) {
  .beers .typo_primary.heading {
    margin: 25px 0 62px;
  }
}

.beers .typo_text {
  color: dimgray;
}

.beers .typo_text span {
  color: black;
}

.beers-list_item-descr .typo_text {
  color: black;
  letter-spacing: .3px;
  word-spacing: 2px;
  line-height: 27px;
  transition: .3s color;
}

.beers-list_item:hover .beers-list_item-descr .typo {
  color: white;
}

.footer .typo_text {
  font-size: 18px;
  letter-spacing: .5px;
  color: white;
  opacity: 0.6;
}

.footer .typo_text a {
  font-size: 18px;
  letter-spacing: .5px;
}

.footer .typo:first-of-type {
  opacity: 1;
  margin-bottom: 15px;
  color: white;
}

.footer .typo:first-of-type a {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .footer .typo:first-of-type {
    margin: 0 45px 0 0;
  }
}

.footer .text-wrapper .typo_text {
  margin: 0;
  color: black;
}

.footer .text-wrapper .typo_text a {
  color: black;
  font-size: 18px;
}

.posts-listing .posts-item .typo_primary {
  margin: 15px 0;
  line-height: 32px;
  font-family: "MyriadPro-Cond";
  color: black;
  font-size: 30px;
  letter-spacing: 1.3px;
}

@media screen and (min-width: 768px) {
  .posts-listing .posts-item .typo_primary {
    margin: 0 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .posts-listing .posts-item .typo_primary {
    height: 70px;
    margin-bottom: 0;
  }
}

.posts-listing .posts-item .typo_text,
.posts-listing .posts-item .typo a {
  color: black;
  font-family: "MyriadPro-Light";
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 25px;
}

.posts-listing .posts-item .typo_text span,
.posts-listing .posts-item .typo a span {
  font-family: "MyriadPro-Cond";
  display: block;
  text-align: right;
  font-weight: 600;
  margin-top: 10px;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .posts-listing .posts-item .typo_text span,
  .posts-listing .posts-item .typo a span {
    margin-top: 25px;
  }
}

.article p,
.about p {
  color: black;
  font-family: "MyriadPro-Light";
  font-size: 18px;
}

.article p strong,
.about p strong {
  font-family: "MyriadPro-Semi";
}

.article p em,
.about p em {
  font-style: italic;
}

.article .typo_primary {
  color: black;
}

.article .typo_primary.heading {
  color: #9b997c;
}

.article .typo_primary.title {
  margin-bottom: 30px;
  line-height: 35px;
  letter-spacing: 1.3px;
}

.article .typo_primary a {
  color: black;
  font-family: "MyriadPro-Bold";
  font-size: 24px;
}

.article .typo_text,
.contact .typo_text {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: dimgray;
  max-width: 750px;
  margin: 0 auto 30px;
}

@media screen and (min-width: 768px) {
  .article .typo_text,
  .contact .typo_text {
    margin: 0 auto 55px;
  }
}

.about .typo_text {
  max-width: 750px;
  margin: 0 auto 30px;
}

.about .typo_text h1,
.about .typo_text h2,
.about .typo_text h3,
.about .typo_text h4,
.about .typo_text h5,
.about .typo_text h6 {
  line-height: 32px;
  font-family: "MyriadPro-Cond";
  color: black;
  font-size: 30px;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
}

.wpcf7-form input,
.wpcf7-form textarea {
  font-size: 16px;
  font-family: "MyriadPro-Light";
  color: white;
}

.wpcf7-form input::-webkit-input-placeholder,
.wpcf7-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}

.wpcf7-form input::-moz-placeholder,
.wpcf7-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

.wpcf7-form input:-ms-input-placeholder,
.wpcf7-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

.wpcf7-form input:-moz-placeholder,
.wpcf7-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

.gallery .gg-image-caption {
  font-family: "MyriadPro-Semi" !important;
  line-height: 24px;
  letter-spacing: .1px;
  font-style: italic;
}

.header {
  z-index: 3;
  background: #240202;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 0;
  }
}

.footer_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .footer_logo {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .footer_logo {
    margin-bottom: 32px;
  }
}

.footer-bar {
  background: #240202;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer-bar {
    padding: 40px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-bar {
    padding: 40px 0;
  }
}

.footer-bar .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-bar .content-wrapper {
    flex-direction: row;
  }
}

.footer-boxes {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .footer-boxes {
    margin-bottom: 30px;
  }
}

.footer-boxes_box {
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .footer-boxes_box {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box {
    width: 33.3%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-boxes_box:last-of-type {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box:last-of-type {
    width: 33.3%;
  }
}

.footer-boxes_box_heading {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  background: black;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box_heading {
    margin-bottom: 27px;
    padding: 3px 0 0;
  }
}

.footer-boxes_box_heading-img {
  max-height: 42px;
  margin: 0 17px 0 5px;
}

@media screen and (min-width: 768px) {
  .footer-boxes_box_heading-img {
    margin-right: 6px;
  }
}

.footer-boxes_box .text-wrapper {
  border: 1px solid dimgray;
  margin: 0 15px;
  padding: 15px;
  background: white;
  border: 5px solid #e8e8e8;
  outline: 1px solid #d1d2d2;
}

@media screen and (min-width: 768px) {
  .footer-boxes_box .text-wrapper {
    display: inline-block;
    padding: 11px 11px;
    width: 300px;
    margin: 0 auto;
    display: block;
    height: 235px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box .text-wrapper {
    height: 300px;
  }
}

.footer-boxes_box_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-boxes_box_list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box_list {
    flex-wrap: wrap;
  }
}

.footer-boxes_box_list-item {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .footer-boxes_box_list-item {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box_list-item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-boxes_box_list-item {
    margin-bottom: 22px;
  }
}

.footer-boxes_box_list-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box_list-item:last-of-type {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-boxes_box_list-item:last-of-type {
    margin-bottom: 22px;
  }
}

.footer-boxes_box_list-item-img {
  border: 1px solid dimgray;
  max-width: 162px;
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box_list-item-img {
    max-width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-boxes_box_list-item-img {
    max-width: 165px;
  }
}

.footer-boxes_box-map {
  margin: 0 15px;
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box-map {
    display: flex;
    justify-content: center;
  }
}

.footer-boxes_box-map iframe {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .footer-boxes_box-map iframe {
    height: 300px;
    width: 314px;
  }
}

.burger {
  margin-left: auto;
}

.burger_item {
  display: block;
  width: 45px;
  height: 7px;
  background: white;
  transition: .3s all;
  cursor: pointer;
}

.burger_item:nth-child(2) {
  margin: 5px 0;
}

@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    padding-top: 58px;
    transition: .3s padding;
  }
}

.nav-list {
  transition: .3s all;
  background: white;
  border-left: 4px solid #240202;
  border-bottom: 4px solid #240202;
  border-right: 4px solid #240202;
  position: absolute;
  bottom: 0;
  top: -4px;
  left: 0;
  right: 0;
  margin-top: 95px;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: 42px;
}

@media screen and (min-width: 1024px) {
  .nav-list {
    position: static;
    overflow: visible;
    height: auto;
    background: transparent;
    margin-top: 0;
    flex-direction: row;
  }
}

.nav-list.is-active {
  height: calc(100vh - 95px);
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .nav-list li {
    margin: 0 20px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list li {
    margin: 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-list li:first-of-type {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .nav-list li:last-of-type {
    position: absolute;
    right: 15px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list li:last-of-type {
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .nav-list li:nth-child(5) {
    position: absolute;
    right: 102px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list li:nth-child(5) {
    right: 74px;
  }
}

.nav-list li a {
  line-height: normal;
  text-align: center;
  font-family: "Antonio-Bold";
  color: #240202;
  font-size: 22px;
}

@media screen and (min-width: 1024px) {
  .nav-list li a {
    font-size: 18px;
    color: #c9c7b2;
  }
}

@media screen and (min-width: 1024px) {
  .nav-logo a::after {
    content: '';
    background: #240202;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 200px;
    transition: .3s all;
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo a::after {
    height: 132px;
    width: 260px;
  }
}

.nav-logo a .nav-logo_img {
  width: 80px;
  display: flex;
  transition: .3s all;
}

@media screen and (min-width: 1024px) {
  .nav-logo a .nav-logo_img {
    width: 162px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
    z-index: 2;
    padding: 11px 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo a .nav-logo_img {
    width: 202px;
  }
}

.nav .content-wrapper {
  display: flex;
  align-items: center;
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  .nav .content-wrapper {
    position: relative;
    padding: 0 15px 9px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .content-wrapper {
    padding: 0 0 9px;
  }
}

@media screen and (min-width: 1024px) {
  .nav.reduced {
    padding-top: 10px;
  }
}

.nav.reduced .nav-logo a .nav-logo_img {
  width: 60px;
}

@media screen and (min-width: 1024px) {
  .nav.reduced .nav-logo a .nav-logo_img {
    width: 110px;
    top: -15px;
  }
}

@media screen and (min-width: 1024px) {
  .nav.reduced .nav-logo a::after {
    height: 85px;
    width: 160px;
  }
}

.nav.reduced .nav-list {
  margin-top: 80px;
}

@media screen and (min-width: 1024px) {
  .nav.reduced .nav-list {
    margin-top: 0;
  }
}

.nav.reduced .nav-list.is-active {
  height: calc(100vh - 80px);
}

.nav.reduced .social-icons {
  visibility: hidden;
  opacity: 0;
}

.social-icons {
  height: 38px;
  letter-spacing: 9px;
  visibility: visible;
  opacity: 1;
  transition: .3s all;
}

.nav .social-icons {
  position: absolute;
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav .social-icons {
    display: block;
    top: -45px;
    right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .social-icons {
    right: 0;
  }
}

.footer .social-icons {
  margin: 25px 0;
}

@media screen and (min-width: 768px) {
  .footer .social-icons {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-slider {
    position: relative;
    margin: 15px 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-slider {
    padding: 15px 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-slider {
    padding: 55px 0 0;
  }
}

.main-slider_item {
  height: 472px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15px;
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main-slider_item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 45px;
  }
}

@media screen and (min-width: 1024px) {
  .main-slider_item {
    height: 485px;
    padding: 0 85px;
  }
}

.slick-track {
  display: flex;
}

.slider-arrows {
  background: #240202;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 15px;
  bottom: -32.5px;
  border: 5px solid #fff;
  cursor: pointer;
}

.slider-arrows::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 15px 8px 0;
  border-color: transparent #cac8b4 transparent transparent;
  position: absolute;
  right: 0;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .slider-arrows::after {
    border-width: 10px 20px 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .slider-arrows::after {
    border-width: 15px 28px 15px 0;
  }
}

@media screen and (min-width: 768px) {
  .slider-arrows {
    bottom: 0;
    top: 0;
    margin: auto;
    left: -30px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-arrows {
    top: 15px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .slider-arrows {
    width: 95px;
    height: 95px;
    left: -33px;
  }
}

.slider-arrows:last-child {
  right: 15px;
  left: auto;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .slider-arrows:last-child {
    right: -30px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-arrows:last-child {
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .slider-arrows:last-child {
    right: -33px;
  }
}

.beers-list {
  margin: 0 15px;
}

@media screen and (min-width: 1200px) {
  .beers-list {
    margin: 0;
  }
}

.beers-list_item {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .beers-list_item {
    margin-bottom: 45px;
    display: inline-block;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .beers-list_item {
    position: relative;
    height: 500px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .beers-list_item {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .beers-list_item:nth-child(odd) {
    padding-right: 7.5px;
  }
}

@media screen and (min-width: 1024px) {
  .beers-list_item:nth-child(odd) {
    padding-right: 12.5px;
  }
}

@media screen and (min-width: 768px) {
  .beers-list_item:nth-child(even) {
    padding-left: 7.5px;
  }
}

@media screen and (min-width: 1024px) {
  .beers-list_item:nth-child(even) {
    padding-left: 12.5px;
  }
}

@media screen and (min-width: 1024px) {
  .beers-list_item:nth-child(even) .beers-list_item-img {
    left: 27px;
  }
}

.beers-list_item-img {
  max-height: 300px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 1024px) {
  .beers-list_item-img {
    max-height: none;
    position: absolute;
    left: 15px;
    bottom: 10px;
    transition: .3s bottom;
  }
}

.beers-list_item-info {
  margin: 30px 0 15px;
  line-height: 26px;
}

@media screen and (min-width: 1024px) {
  .beers-list_item-info {
    padding-left: 34%;
    margin-bottom: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .beers-list_item-info {
    padding-left: 32%;
  }
}

.beers-list_item-descr {
  background: #e2e2e2;
  color: black;
  padding: 15px;
  transition: .3s background;
}

@media screen and (min-width: 1024px) {
  .beers-list_item-descr {
    padding: 10px 15px 10px 34%;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .beers-list_item-descr {
    padding: 10px 15px 10px 32%;
  }
}

.beers-list_item:hover .beers-list_item-descr {
  background: #240202;
}

@media screen and (min-width: 1024px) {
  .beers-list_item:hover .beers-list_item-img {
    bottom: 20px;
  }
}

.posts-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .posts-item {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 1024px) {
  .posts-item {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.posts-item:last-of-type {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .posts-item:last-of-type {
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 768px) {
  .posts-item_content {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .posts-item_content {
    width: 54%;
  }
}

@media screen and (min-width: 1200px) {
  .posts-item_content {
    width: 58%;
  }
}

@media screen and (min-width: 768px) {
  .posts-item-href {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .posts-item-href {
    align-items: flex-start;
  }
}

.posts-item_img {
  width: auto;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .posts-item_img {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .posts-item_img {
    height: 248px;
    width: 340px;
  }
}

.article img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 30px;
  display: block;
}

.listing-btn {
  display: flex;
  justify-content: center;
  margin: 35px 0 80px;
}

@media screen and (min-width: 1024px) {
  .listing-btn {
    margin: 70px 0 160px;
  }
}

.listing-btn span {
  cursor: pointer;
}

.wpcf7-form {
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .wpcf7-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .wpcf7-form {
    padding: 0;
  }
}

.wpcf7-form p {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wpcf7-form p {
    width: 80%;
  }
}

.wpcf7-form textarea,
.wpcf7-form input {
  padding-left: 12px;
  box-sizing: border-box;
  width: 100%;
  background: white;
  border: 5px solid #e8e8e8;
  outline: 1px solid #d1d2d2;
}

.wpcf7-form input {
  height: 40px;
  margin-bottom: 16px;
}

.wpcf7-form input.wpcf7-submit {
  font-family: "MyriadPro-Bold";
  font-size: 24px;
  background: transparent;
  border: none;
  width: auto;
  float: right;
  margin-top: 12px;
  outline: 0;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .wpcf7-form input.wpcf7-submit {
    margin-top: 12px;
  }
}

.wpcf7-form input.wpcf7-not-valid {
  border-color: red;
}

.wpcf7-form textarea {
  padding-top: 7px;
  height: 124px;
  resize: none;
}

.wpcf7-form .wpcf7-not-valid-tip,
.wpcf7-form .wpcf7-response-output {
  font-family: "MyriadPro-Light";
}

.wpcf7-form .wpcf7-not-valid-tip {
  position: relative;
  top: -10px;
  padding-left: 5px;
}

.wpcf7-form .wpcf7-response-output {
  margin: 0px;
  padding: 15px;
  box-sizing: border-box;
  color: black;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wpcf7-form .wpcf7-response-output {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .wpcf7-form .wpcf7-response-output {
    margin-top: 10px;
  }
}

.subpage {
  margin: 0 15px;
}

@media screen and (min-width: 1024px) {
  .subpage {
    margin-top: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .subpage {
    margin: 120px 0 0 0;
  }
}

body {
  overflow-x: hidden;
  background: white;
  padding-top: 94px;
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 95px;
  }
}

body.is-active {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1180px;
  }
}

@media screen and (min-width: 1024px) {
  .content-wrapper.narrow {
    max-width: 874px;
  }
}

@media screen and (min-width: 1200px) {
  .content-wrapper.narrow {
    max-width: 920px;
  }
}

.content-wrapper.narrow.single {
  max-width: 605px;
  margin: 0 auto;
}
