<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
        <title>   
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="pingback" href="{{ site.pingback_url }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,700|Montserrat:400,600,700,900&amp;subset=latin-ext">
    <link rel="stylesheet" href="{{ site.theme.link }}/core/styles/style.min.css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" media="screen" />

    {{ function('wp_head') }}
    
</head>
	<body class="{{ body_class }}">
		<div class="page-container">
			<header class="page-header">
				{% include 'templates/sections/header.twig' %}
			</header>
			<section id="content" role="main" class="content-wrapper">

                {% block content %}

                {% endblock %}

			</section>
			<footer id="footer">
                <div class="footer">
                    <div class="footer_col">
                        {% include "templates/modules/logo.twig" with {
                            'url' : '',
                            'svg' : true,
                            'image' : site.theme.link ~ '/core/images/logo.svg'
                        } %}
                    </div>
                    <div class="footer_col">
                        {% include "templates/modules/zone/zone.twig" with {
                            'template' : 'footerData'
                        } %}
                    </div>
                    <div class="footer_col">
                        {% include 'templates/modules/menu/menu.twig' with {
                            'template' : 'footerMenu'
                        } %}
                    </div>

				{% include 'templates/sections/footer.twig' %}
			</footer>  
		</div>

		{{ function('wp_footer') }}
	</body>
</html>