{% extends "base.twig" %}

{% block content %}

    {% include 'templates/modules/slider/slider.twig' with {
        'template' : 'default',
        'data' : [
            'Slide 1', 'Side 2'
        ],
        'settings' : {
            'active': true
        }
    } %}

    <div class="sneaky">

        {% include 'templates/modules/btn/btn.twig' with {
            'href': '#',
            'label': 'Scroll Down',
            'class': 'anchor js-scrollTo'
        } %}
        {% include 'templates/modules/btn/btn.twig' with {
            'href' : '#',
            'label' : 'Nasze realizacje',
            'btn': 'btn btn-tertiary'
        } %}

    </div>

    {% include 'templates/modules/contentBox/contentBox.twig' %}

    {% include 'templates/modules/menu/menu.twig' with {
        'template': 'offerList'
    } %}

    {% include 'templates/modules/menu/menu.twig' with {
        'template' : 'partners'
    } %}

    {% include 'templates/modules/newsletter/newsletter.twig' %}



{% endblock %}