{% extends "base.twig" %}

{% block content %}

	<section class="form-ui_section">
		<div class="form-ui_block">
			{% include 'elements/btn.twig' with {
				'label': 'Button',
				'class': 'btn'
			} %}
		</div>
		<div class="form-ui_block">
			{% include 'elements/btn.twig' with {
				'label': 'Button',
				'class': 'btn btn-primary'
			} %}
		</div>
		<div class="form-ui_block">
			{% include 'elements/btn.twig' with {
				'label': 'Button',
				'class': 'btn btn-secondary'
			} %}
		</div>
		<div class="form-ui_block is-dark">
			{% include 'elements/btn.twig' with {
				'label': 'Button',
				'class': 'btn btn-tertiary'
			} %}
		</div>
	</section>	
	<section class="form-ui_section">
		<div class="form-ui_block">
			<p class="font-primary fw-400">Montserrat 400</p>
			<p class="font-primary fw-600">Montserrat 600</p>
			<p class="font-primary fw-700">Montserrat 700</p>
			<p class="font-primary fw-900">Montserrat 900</p>
		</div>		
		<div class="form-ui_block">
			<p class="font-secondary fw-400">Arvo 400</p>
			<p class="font-secondary fw-700">Arvo 700</p>
		</div>
	</section>

{% endblock %}