/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 * Local changes!!!
 *
 * /public_html/pub/wp-content/plugins/flexible-checkout-fields-pro/classes/flexible-checkout-fields-pro.php:630
 * /public_html/pub/wp-content/plugins/gravityforms/common.php:1347
 * /public_html/pub/wp-content/plugins/gravityforms/common.php:1279
 *
 */

.b-container .vc_column_container > .vc_column-inner {
	padding: 0;
}
body .subpage_article-post a {
	font-size: 18px;
}

body .subpage_article-post .wpb_wrapper ul {
	list-style: none;
}

.vc_empty_space {
	clear: both;
}
.info-list-ul, .list {
    list-style-type: none !important;
}
.info-list-item::before {
	left: -210px !important;
}
.cta-wrapper a.m-btn_primary {
	color: #fff !important;
	text-decoration: none;
}
.cta-wrapper .m-typo_primary {
	margin: 0 !important;
}
.table-overflow {
  overflow: scroll;
}
@media (min-width: 768px) {
	.table-overflow {
		overflow: visible;
	}
	.table-wrapper {
		margin: 0 15px !important;
	}
}
.surf p::after {
  display: none;
}

.subpage_vacation .m-blog-posts {
	width: 100%;
	margin-bottom: 85px !important;
}
pre {
	overflow: auto;
	width: 500px;
}
.b-tips .m-btn.m-btn_primary{
	position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 10;
    transform: translateX(-50%);
}
@media (max-width: 1024px) {
	.b-tips .b-tips-cols {
	    margin-bottom: 90px;
		margin-top: 40px;
	}
}
.m-tip-text a {
	color: #fff;
}
.is-noPhoto {
	padding-left: 20px;
    width: 100%;
}
@media (min-width: 1024px) {
	.is-noPhoto {
		padding-left: 50px;
	}
}
.m-testimonials_itemDescribe .author {
	text-align: right;
}
.single-trainers .page-template-template-personel {
	overflow-x: visible;
}
.pt20 {
	padding-top: 20px;
}
.mb50 {
	margin-bottom: 50px;
}
.tablep10 td {
	padding: 10px;
}
.m-blog-info .m-typo_text a,
.m-blog-info .m-typo_text {
	color: #9a98a0;
	font-size: 12px;
	line-height: 19px;
}
.subpage_contact .m-four-boxes .boxes-wrapper .box:nth-child(3) .m-typo_text span {
	font-size: 17px;
}
.subpage_article-post .subpage_offer::after {
	top: 0;
}

.subpage_article-post .subpage_diet-secondary::after {
	display: none;
}

.b-tips .m-typo_heading {
	line-height: 57px;
}

.gf_progressbar_percentage span {
	width: 92px !important;
	height: 80px !important;
	background: url(http://dawidwozniakowski.pl/wp-content/uploads/2018/01/Prostokąt-6.png);
	border: 0 !important;
    text-align: center;
    line-height: 74px !important;
    margin-top: -20px;
    margin-right: -23px !important;
}
.gf_progressbar_percentage span::after {
	display: none;
}

.js-tooltip_content {
	display: none;
}

.js-tooltip:hover + .js-tooltip_content {
	display: block;
}

.js-tooltip_content {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(224, 224, 224);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 36px 0px rgba(0, 0, 0, 0.09);
	max-width: 250px;
	margin-top: -58px;
	margin-left: 20px;
	line-height: 17px;
	padding: 15px;
	position: absolute;
	z-index: 1000000;
}
.field_description_below {
	position: relative;
}
.gfield_description {
	padding-top: 0 !important;
	position: absolute;
	top: 39%;
	left: 85%;
}
#field_1_20 .gfield_label,
#field_1_21 .gfield_label {
	display: none;
}
#field_1_129 .gfield_radio li {
	width: 75px !important;
}

#gform_wrapper_1 #field_1_20, #gform_wrapper_1 #field_1_21 {
	width: 24%;
}
#field_1_129 .gfield_description {
	left: 30%;
	top: 26%;
}
#field_1_23 {
	display: none;
}
.cta-wrapper {
	position: relative; 
	z-index: 1000000;
	margin-bottom: 50px;
}
.container-headline {
	padding-left: 190px;
	margin-bottom: 15px;
}
.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible .container-headline ul {
	margin: 0 !important;
}
.container-headline ul li {
	display: inline-block;
	width: 155px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	margin-right: 32px !important;
	position: relative;
}
.container-headline ul li::after {
	content: '' !important;
	display: block;
	border: 2px solid #b5b8ba;
	width: 160px;
	height: 755px;
	position: absolute;
	top: 35px;
}
#field_1_191 .gfield_radio li,
#field_1_192 .gfield_radio li,
#field_1_193 .gfield_radio li,
#field_1_194 .gfield_radio li,
#field_1_195 .gfield_radio li,
#field_1_196 .gfield_radio li,
#field_1_197 .gfield_radio li,
#field_1_198 .gfield_radio li,
#field_1_199 .gfield_radio li,
#field_1_200 .gfield_radio li {
	display: inline-block;
	width: 155px;
}

#field_1_191 .gfield_label,
#field_1_192 .gfield_label,
#field_1_193 .gfield_label,
#field_1_194 .gfield_label,
#field_1_195 .gfield_label,
#field_1_196 .gfield_label,
#field_1_197 .gfield_label,
#field_1_198 .gfield_label,
#field_1_199 .gfield_label,
#field_1_200 .gfield_label {
	display: inline-block;
	width: 190px;
	margin: 0 !important;
}
#field_1_191 .ginput_container_radio,
#field_1_192 .ginput_container_radio,
#field_1_193 .ginput_container_radio,
#field_1_194 .ginput_container_radio,
#field_1_195 .ginput_container_radio,
#field_1_196 .ginput_container_radio,
#field_1_197 .ginput_container_radio,
#field_1_198 .ginput_container_radio,
#field_1_199 .ginput_container_radio,
#field_1_200 .ginput_container_radio {
	display: inline-block;
}

#field_1_191 .ginput_container_radio li,
#field_1_192 .ginput_container_radio li,
#field_1_193 .ginput_container_radio li,
#field_1_194 .ginput_container_radio li,
#field_1_195 .ginput_container_radio li,
#field_1_196 .ginput_container_radio li,
#field_1_197 .ginput_container_radio li,
#field_1_198 .ginput_container_radio li,
#field_1_199 .ginput_container_radio li,
#field_1_200 .ginput_container_radio li {
	width: 159px;
	text-align: center;
	margin-right: 32px;
}

#field_1_201 {
	margin-bottom: 50px;
}
#field_1_191 {
	margin-top: 20px;
}

.gfield_error .gfield_label,
.gfield_error label, {
	color: red !important;
}
.gform_wrapper .gfield_error .gfield_label {
	color: red !important;
}
.dbl {
	display: block !important;
}
.w100 {
	width: 100% !important;
}
.clbl {
	color: #009ee3;
}
.fs24 {
	font-size: 24px;
	margin-bottom: 24px;
}
.fw {
	color: #fff !important;
}
.bgw {
	background-color: #fff;
	color: #000 !important;
}
.dni {
	display: none !important;
}
.t-dni {
	/*display: none !important;*/
}

.cta-wrapper .cta_quinary .m-typo_secondary {
	font-size: 18px;
}
.page-id-353 span.heading_text {
    color: #009ee3;
    font-size: 25px;
    line-height: 36px;
    padding-bottom: 30px;
    display: block;
}
.m-ten-boxes .m-typo.m-typo_primary {
	color: #fff;
}
.b-container_buttons .m-btn_secondary {
	border: 2px solid #009ee3 !important;
	color: #009ee3 !important;
}
.b-container_buttons .m-btn.form-btn {
	display: inline-block !important;
	float: none !important;
}
.b-container_buttons {
	text-align: center;
}
.payment_box {
	display: block !important;
}
.about_paypal {
	display: none;
}
.subpage_training .subpage_vacation::after {
	display: none;
}
.greenbtn a {
	color: #fff !important;
}
.greenbtn {
	background: green;
	color: #fff;
}
.txacth th {
	text-align: center !important;
}