.footer{
	padding: 40px 0 15px;
	@include breakpoint('tablet'){
		padding: 85px 0 0;
	}
	@include breakpoint('desktop_small'){
		padding: 135px 0 0;
	}
	&-bottles{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	    justify-content: space-around;
		flex-wrap: wrap;
		@include breakpoint('desktop_small'){
		    width: 65%;
			justify-content: space-between;
		    margin: 0 auto;
		}
		&_item{
			&-img{
				height: 300px;
				@include breakpoint('desktop_small'){
					height: 345px;
				}
			}
		}
	}
	&-brand-info{
		text-align: center;
		&_logo{
			margin: 40px 0 25px;
			@include breakpoint('desktop_small'){
				margin: 50px 0 25px;
			}
		}
	}
}
