/*Base*/
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%; }
  .div:nth-child(n) {
    margin-bottom: 5;
    margin-right: 5; }
  .div:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0; }

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.presentation-content__box-title:after {
  position: absolute;
  content: ""; }

.program__title:before, .seealso__box-title:after, .certificate__content-title:after, .opinions__container-title:after, .single-lesson__number:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px; }

.download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative; }

.download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  .download__experts-box__button-link:after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 27px;
    height: 13px;
    right: -10px;
    background-image: url("../img/download-icon.png");
    background-size: cover; }

/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a; }
  .footer__heading {
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.125rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 35px 0 0 20px;
    /* 9 */
    padding: 2.1875rem 0 0 1.25rem;
    /* 9 */ }
  .footer__content {
    color: white;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 0 0 0 50px;
    /* 9 */
    padding: 0 0 0 3.125rem;
    /* 9 */ }
    .footer__content-mobile__text {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 5 */
      padding: 30px 0 0 0;
      /* 9 */
      padding: 1.875rem 0 0 0;
      /* 9 */
      font-weight: 400;
      font-size: 16px;
      font-size: 1rem; }
    .footer__content-paragraph {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-top: 5px;
      /* 9 */
      margin-top: 0.3125rem;
      /* 9 */ }

@media (min-width: 992px) {
  .footer__mobile {
    display: none; } }

.footer__tablet {
  display: none; }
  @media (min-width: 992px) {
    .footer__tablet {
      min-height: 480px;
      display: block;
      margin: 0 auto;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 6 */
      /* 6 */
      padding: 60px;
      /* 9 */
      padding: 3.75rem;
      /* 9 */ } }
  @media (min-width: 1200px) {
    .footer__tablet {
      min-height: 550px; } }

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative; }
  @media (min-width: 1200px) {
    .footer__container-left {
      min-height: 420px; } }
  .footer__container-left:before {
    content: "";
    border-left: 1px solid #808080;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.footer__container-middle {
  width: 60%;
  float: left; }

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */ }
  @media (min-width: 1200px) {
    .footer__container-right {
      min-height: 420px; } }
  .footer__container-right:before {
    content: "";
    border-left: 1px solid #808080;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .footer__container-right:after {
    content: "";
    border-left: 1px solid #808080;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; }

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative; }
  @media (min-width: 1200px) {
    .footer__navbox {
      min-height: 215px; } }
  .footer__navbox:before {
    content: "";
    border-left: 1px solid #808080;
    height: 65%;
    position: absolute;
    left: 0;
    top: 0; }
    @media (min-width: 1200px) {
      .footer__navbox:before {
        height: 75%; } }
  .footer__navbox-title {
    color: white;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 14px;
    font-weight: 600; }
    @media (min-width: 1200px) {
      .footer__navbox-title {
        font-size: 16px;
        top: -35px; } }
    @media (min-width: 1360px) {
      .footer__navbox-title {
        font-size: 20px; } }
    @media (min-width: 1620px) {
      .footer__navbox-title {
        font-size: 21px;
        font-weight: 600; } }

.footer__navbox:nth-child(n+5) {
  padding-top: 45px; }
  .footer__navbox:nth-child(n+5):before {
    content: "";
    border-left: 1px solid #808080;
    height: 65%;
    position: absolute;
    left: 0;
    top: 20%; }
    @media (min-width: 1200px) {
      .footer__navbox:nth-child(n+5):before {
        height: 75%; } }

.footer__navbox:nth-child(n+5) h3 {
  top: 5px; }

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3; }
  @media (min-width: 1200px) {
    .footer__about {
      font-size: 16px; } }
  @media (min-width: 1620px) {
    .footer__about {
      font-size: 21px;
      font-size: 1.3125rem; } }

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block; }
  @media (min-width: 1200px) {
    .footer__link {
      font-size: 16px; } }

.footer__link:hover {
  color: #B7C9D3; }

.footer__contact {
  border: 1px solid red !important; }
  .footer__contact-adress {
    color: white;
    font-size: 14px; }
    @media (min-width: 1200px) {
      .footer__contact-adress {
        font-size: 16px; } }
    .footer__contact-adress p {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 5 */
      padding: 7px 30px 0 0;
      /* 9 */
      padding: 0.4375rem 1.875rem 0 0;
      /* 9 */ }
  .footer__contact-telephone {
    color: white;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 15px 0;
    /* 9 */
    margin: 0.9375rem 0;
    /* 9 */
    font-size: 14px;
    font-weight: 400; }
    .footer__contact-telephone p {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-top: 7px;
      /* 9 */
      padding-top: 0.4375rem;
      /* 9 */ }
    @media (min-width: 1200px) {
      .footer__contact-telephone {
        font-size: 16px; } }
  .footer__contact-email {
    color: white;
    font-size: 14px;
    font-size: 0.875rem; }
    @media (min-width: 1200px) {
      .footer__contact-email {
        font-size: 16px; } }
  .footer__contact-social {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */ }
  .footer__contact-social__link {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */ }

.footer a {
  color: white; }

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%; }
  .div:nth-child(n) {
    margin-bottom: 5;
    margin-right: 5; }
  .div:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0; }

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.presentation-content__box-title:after {
  position: absolute;
  content: ""; }

.program__title:before, .seealso__box-title:after, .certificate__content-title:after, .opinions__container-title:after, .single-lesson__number:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px; }

.download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative; }

.download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  .download__experts-box__button-link:after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 27px;
    height: 13px;
    right: -10px;
    background-image: url("../img/download-icon.png");
    background-size: cover; }

.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12; }
  @media (min-width: 768px) {
    .nav-toggle {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }
  @media (min-width: 992px) {
    .nav-toggle {
      display: none; } }

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .nav-toggle span.active,
  .nav-toggle span:before.active,
  .nav-toggle span:after.active {
    top: 0; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent; }
  .nav-toggle--active span:before {
    background: white;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-toggle--active span:after {
    background: white;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11; }
  .nav-mobile__logo {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 130px;
    height: auto; }
    @media (min-width: 768px) {
      .nav-mobile__logo {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 30px;
        /* 9 */
        margin-top: 1.875rem;
        /* 9 */
        width: 170px;
        margin-left: 25px;
        top: initial;
        left: initial; } }
  .nav-mobile__facebook {
    position: absolute;
    right: 75px;
    bottom: 15px; }
  .nav-mobile__linkedin {
    position: absolute;
    right: 15px;
    bottom: 15px; }
  .nav-mobile__search--wrapper {
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 80px 25px 0 0;
    /* 9 */
    margin: 5rem 1.5625rem 0 0;
    /* 9 */ }
    @media (min-width: 768px) {
      .nav-mobile__search--wrapper {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 5 */
        margin: 100px 25px 0 0;
        /* 9 */
        margin: 6.25rem 1.5625rem 0 0;
        /* 9 */ } }
  .nav-mobile__search {
    position: relative;
    top: -3px;
    float: right;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 15px;
    /* 9 */
    margin-right: 0.9375rem;
    /* 9 */ }
  .nav-mobile__english {
    text-transform: uppercase;
    color: white;
    float: right;
    margin-right: 5px; }

.visible {
  display: none; }

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */ }
  @media (min-width: 768px) {
    .nav-mobile__list {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-top: 150px;
      /* 9 */
      margin-top: 9.375rem;
      /* 9 */ } }

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */ }
  @media (min-width: 768px) {
    .nav-mobile__item {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-bottom: 40px;
      /* 9 */
      margin-bottom: 2.5rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-left: 30px;
      /* 9 */
      margin-left: 1.875rem;
      /* 9 */ } }

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700; }
  .nav-mobile__link:hover {
    color: #B7C9D3; }
  @media (min-width: 768px) {
    .nav-mobile__link {
      font-size: 24px;
      font-size: 24px/16pxrem;
      font-weight: 700; } }

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%; }
  .div:nth-child(n) {
    margin-bottom: 5;
    margin-right: 5; }
  .div:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0; }

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.presentation-content__box-title:after {
  position: absolute;
  content: ""; }

.program__title:before, .seealso__box-title:after, .certificate__content-title:after, .opinions__container-title:after, .single-lesson__number:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px; }

.download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative; }

.download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  .download__experts-box__button-link:after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 27px;
    height: 13px;
    right: -10px;
    background-image: url("../img/download-icon.png");
    background-size: cover; }

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important; }

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px; }

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/ }
  @media (min-width: 992px) {
    .nav {
      display: block; } }
  @media (min-width: 1620px) {
    .nav {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-left: 50px;
      /* 9 */
      margin-left: 3.125rem;
      /* 9 */ } }
  .nav__item {
    display: inline-block; }
    @media (min-width: 992px) {
      .nav__item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-right: 10px;
        /* 9 */
        padding-right: 0.625rem;
        /* 9 */ } }
    @media (min-width: 992px) {
      .nav__item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-right: 15px;
        /* 9 */
        padding-right: 0.9375rem;
        /* 9 */ } }
    @media (min-width: 1620px) {
      .nav__item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-right: 25px;
        /* 9 */
        padding-right: 1.5625rem;
        /* 9 */ } }
  .nav__link {
    color: #53565A;
    line-height: 112px;
    font-weight: 500; }
    @media (min-width: 500px) {
      .nav__link {
        font-size: 12px;
        font-size: 0.75rem; } }
    @media (min-width: 768px) {
      .nav__link {
        font-size: 13px;
        font-size: 13px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .nav__link {
        font-size: 16px;
        font-size: 16px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1620px) {
      .nav__link {
        font-size: 19px;
        font-size: 19px/16pxrem;
        font-weight: 500; } }
    .nav__link:hover {
      color: #B7C9D3; }

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/ }
  .header__logo {
    width: 130px;
    margin-top: 10px;
    margin-left: 15px; }
    @media (min-width: 768px) {
      .header__logo {
        margin-left: 25px;
        width: 170px;
        float: left;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 25px;
        /* 9 */
        margin-top: 1.5625rem;
        /* 9 */ } }
    @media (min-width: 1620px) {
      .header__logo {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-left: 55px;
        /* 9 */
        margin-left: 3.4375rem;
        /* 9 */ } }
  .header__navigation {
    height: 65px;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 25px;
    /* 9 */
    margin-bottom: 1.5625rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .header__navigation {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 5 */
        /* 8 */
        margin-bottom: 0;
        /* 9 */
        border-bottom: none;
        height: 112px; } }
    .header__navigation-search {
      cursor: pointer;
      display: none;
      position: absolute;
      top: 47%;
      right: 105px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 992px) {
        .header__navigation-search {
          right: 0;
          display: inline-block; } }
    .header__navigation-english {
      display: none;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 75px; }
      @media (min-width: 992px) {
        .header__navigation-english {
          right: 40px;
          display: block; } }
      .header__navigation-english h3 {
        font-size: 20px;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: #53565A;
        font-weight: 600; }
  .header__navigation--search {
    border-bottom: 1px solid #E6E6E6; }
  .header__navigation--nomargin {
    margin: 0; }
  .header__title {
    display: none;
    height: 150px; }
    @media (min-width: 768px) {
      .header__title {
        display: block;
        height: 200px;
        background-image: url("../img/header/badania.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
    .header__title-wrapper {
      width: 95%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      height: 150px; }
      @media (min-width: 768px) {
        .header__title-wrapper {
          width: 95%;
          height: 200px; } }
      @media (min-width: 1620px) {
        .header__title-wrapper {
          max-width: 1600px; } }
    .header__title-text {
      position: absolute;
      bottom: -6px;
      color: white;
      font-weight: 300;
      font-size: 32px;
      font-size: 2rem; }
      @media (min-width: 768px) {
        .header__title-text {
          font-size: 48px;
          font-size: 3rem; } }
      @media (min-width: 992px) {
        .header__title-text {
          font-size: 70px;
          font-size: 4.375rem; } }
      @media (min-width: 1620px) {
        .header__title-text {
          font-size: 100px;
          font-size: 6.25rem; } }
  .header__title--badania {
    background-image: url("../img/header/badania.jpg"); }
  .header__title--raporty {
    background-image: url("../img/header/raporty.jpg"); }
  .header__title--akademia {
    background-image: url("../img/header/akademia.jpg"); }
  .header__title--kontakt {
    background-image: url("../img/header/kontakt.jpg"); }
  .header__title--pbi {
    background-image: url("../img/header/pbi.jpg"); }
  .header__title--media {
    background-image: url("../img/header/media.jpg"); }
  .header__title--aktualnosci {
    background-image: url("../img/header/aktualnosci.jpg"); }
  .header__title--gemius {
    background-image: url("../img/header/gemius.jpg"); }

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%; }
  .div:nth-child(n) {
    margin-bottom: 5;
    margin-right: 5; }
  .div:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0; }

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.presentation-content__box-title:after {
  position: absolute;
  content: ""; }

.program__title:before, .seealso__box-title:after, .certificate__content-title:after, .opinions__container-title:after, .single-lesson__number:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px; }

.download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative; }

.download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  .download__experts-box__button-link:after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 27px;
    height: 13px;
    right: -10px;
    background-image: url("../img/download-icon.png");
    background-size: cover; }

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important; }

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (min-width: 992px) {
    .search--wrapper {
      right: 80px;
      display: block; } }

.search-input {
  display: none;
  border: none; }

.search-input label {
  position: relative;
  z-index: 15;
  display: none; }
  @media (min-width: 992px) {
    .search-input label {
      display: block; } }

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
  display: none; }
  @media (min-width: 992px) {
    .search-input ~ input {
      display: block; } }

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s; }
  @media (min-width: 992px) {
    .search-input:checked ~ input {
      display: block; } }

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (min-width: 768px) {
    .search__mobile--wrapper {
      display: none; } }

.search__mobile-input {
  display: none;
  padding-bottom: 5px; }

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a; }
  @media (min-width: 768px) {
    .search__mobile-input label {
      display: none; } }

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1; }
  @media (min-width: 768px) {
    .search__mobile-input ~ input {
      display: none; } }

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s; }
  @media (min-width: 768px) {
    .search__mobile-input:checked ~ input {
      display: none; } }

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important; }

body,
html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px; }

/*/
/////////////////////////////////*/
/*/
//// Main*/
/* Sub-Academy-Lessons*/
.return {
  position: absolute;
  right: 0;
  top: -10px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 1px;
  /* 9 */
  padding-top: 0.0625rem;
  /* 9 */
  display: inline-block;
  width: 114px;
  height: 32px;
  border-radius: 25px;
  border: 1px solid #53565A;
  text-align: center;
  line-height: 32px;
  color: #53565A;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  @media (min-width: 768px) {
    .return {
      top: 85px;
      height: 52px;
      line-height: 52px; } }
  .return:before {
    content: url("../img/return-arrow.png");
    position: relative;
    left: -5px;
    top: -1px; }
  .return:hover:before {
    left: -10px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.return--lesson {
  top: 0; }
  @media (min-width: 768px) {
    .return--lesson {
      top: 0; } }
  @media (min-width: 1200px) {
    .return--lesson {
      top: 0;
      left: 25px; } }

.return--presentation {
  left: 0;
  top: 0; }
  @media (min-width: 500px) {
    .return--presentation {
      left: 0;
      top: -35px; } }
  @media (min-width: 768px) {
    .return--presentation {
      left: 0;
      top: -55px; } }

.academy {
  position: relative;
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1820px) {
    .academy {
      max-width: 1600px; } }
  .academy__title {
    font-size: 20px;
    font-size: 1.25rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */
    font-weight: 700; }
    @media (min-width: 768px) {
      .academy__title {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-top: 90px;
        /* 9 */
        padding-top: 5.625rem;
        /* 9 */
        font-size: 48px;
        font-size: 3rem;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-bottom: 27px;
        /* 9 */
        padding-bottom: 1.6875rem;
        /* 9 */ } }
  .academy__lesson-item {
    overflow: hidden;
    border: 1px solid #E6E6E6;
    height: 170px;
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 10px;
    /* 9 */
    margin-bottom: 0.625rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .academy__lesson-item {
        width: 49.5%;
        float: left;
        height: 295px; }
        .academy__lesson-item:nth-child(n) {
          margin-bottom: 1%;
          margin-right: 1%; }
        .academy__lesson-item:nth-child(2n) {
          margin-right: 0;
          margin-bottom: 0; } }
    @media (min-width: 1360px) {
      .academy__lesson-item {
        width: 32.66667%;
        height: 295px; }
        .academy__lesson-item:nth-child(n) {
          margin-bottom: 1%;
          margin-right: 1%; }
        .academy__lesson-item:nth-child(3n) {
          margin-right: 0;
          margin-bottom: 0; } }
    .academy__lesson-item:hover {
      box-shadow: -8px 9px 36px -2px rgba(173, 173, 173, 0.5);
      position: relative;
      top: -10px;
      z-index: 1;
      cursor: pointer; }
    .academy__lesson-item:hover .academy__lesson-number {
      color: #EEDC00; }
  .academy__lesson-number {
    position: absolute;
    left: -15px;
    top: 110px;
    background-size: contain;
    height: 130px;
    width: 100%;
    z-index: -1;
    font-size: 280px;
    z-index: -1;
    color: #E6E6E6;
    line-height: 0; }
    @media (min-width: 768px) {
      .academy__lesson-number {
        height: 200px; } }
    .academy__lesson-number--1 {
      /* background: url('../img/numbers/01.svg') no-repeat left top;*/ }
    .academy__lesson-number--2 {
      /* background: url('../img/numbers/02.svg') no-repeat left top;*/
      font-size: 280px;
      z-index: -1;
      color: #E6E6E6;
      line-height: 0; }
    .academy__lesson-number--3 {
      /* background: url('../img/numbers/03.svg') no-repeat left top;*/ }
    .academy__lesson-number--4 {
      /* background: url('../img/numbers/04.svg') no-repeat left top;*/ }
    .academy__lesson-number--5 {
      /* background: url('../img/numbers/05.svg') no-repeat left top;*/ }
  .academy__lesson-content {
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 40px 0 0 15px;
    /* 9 */
    padding: 2.5rem 0 0 0.9375rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .academy__lesson-content {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding: 40px 0 0 60px;
        /* 9 */
        padding: 2.5rem 0 0 3.75rem;
        /* 9 */ } }
  .academy__lesson-title {
    display: inline-block;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 0 38px 20px 0;
    /* 9 */
    padding: 0 2.375rem 1.25rem 0;
    /* 9 */
    border-bottom: 3px solid #53565A;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500; }
  .academy__lesson-text {
    display: block;
    line-height: 1.2;
    font-size: 20px;
    font-size: 1.25rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    padding: 20px 95px 0 0;
    /* 9 */
    padding: 1.25rem 5.9375rem 0 0;
    /* 9 */
    font-weight: 500; }
    @media (min-width: 768px) {
      .academy__lesson-text {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-top: 20px;
        /* 9 */
        padding-top: 1.25rem;
        /* 9 */
        font-size: 30px;
        font-size: 1.875rem;
        font-weight: 700; } }
  .academy__lesson-text a {
    color: #53565A; }
  .academy__lesson-button {
    width: 60px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #53565A;
    position: absolute;
    right: 22px;
    bottom: 32px;
    cursor: pointer; }
  .academy__lesson-button:hover .academy__lesson-arrow {
    left: 55%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .academy__lesson-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* Sub-Academy-Presentations //////////////////////////////////////////////////////////////////////////////*/
.presentation {
  clear: both;
  position: relative; }

.presentation-content {
  margin: 0 auto;
  width: 95%;
  position: relative;
  max-width: 1600px; }
  .presentation-content__search {
    max-width: 1600px;
    overflow: hidden;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 45px 0 35px 0;
    /* 9 */
    margin: 2.8125rem 0 2.1875rem 0;
    /* 9 */ }
    @media (min-width: 768px) {
      .presentation-content__search {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        margin: 85px 0 35px 0;
        /* 9 */
        margin: 5.3125rem 0 2.1875rem 0;
        /* 9 */ } }
  .presentation-content__search select {
    float: right;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    height: 30px;
    position: relative;
    top: 0; }
    @media (min-width: 768px) {
      .presentation-content__search select {
        top: 10px; } }
  .presentation-content__title {
    float: left;
    display: none;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700; }
    @media (min-width: 500px) {
      .presentation-content__title {
        display: block; } }
    @media (min-width: 768px) {
      .presentation-content__title {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .presentation-content__title {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .presentation-content__title a {
    color: black; }
    .presentation-content__title a:hover {
      color: #ce0037; }
  .presentation-content__box {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 15px 15px 0 15px;
    /* 9 */
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    /* 9 */
    position: relative;
    margin-bottom: 10px;
    height: 160px;
    width: 100%;
    border: 1px solid #E6E6E6; }
    @media (min-width: 768px) {
      .presentation-content__box {
        float: left;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding: 35px 35px 0 35px;
        /* 9 */
        padding: 2.1875rem 2.1875rem 0 2.1875rem;
        /* 9 */ } }
    @media (min-width: 768px) {
      .presentation-content__box {
        width: 49.5%;
        height: 295px; }
        .presentation-content__box:nth-child(n) {
          margin-bottom: 1%;
          margin-right: 1%; }
        .presentation-content__box:nth-child(2n) {
          margin-right: 0;
          margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .presentation-content__box {
        width: 32.66667%;
        height: 350px; }
        .presentation-content__box:nth-child(n) {
          margin-bottom: 1%;
          margin-right: 1%; }
        .presentation-content__box:nth-child(3n) {
          margin-right: 0;
          margin-bottom: 0; } }
    @media (min-width: 1620px) {
      .presentation-content__box {
        height: 295px; } }
    .presentation-content__box:after {
      content: url("../img/academy/circle-top--mobile.png");
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }
      @media (min-width: 768px) {
        .presentation-content__box:after {
          display: none; } }
    .presentation-content__box:hover {
      box-shadow: -8px 9px 36px -2px rgba(173, 173, 173, 0.5);
      position: relative;
      top: -10px;
      z-index: 1;
      cursor: pointer; }
  .presentation-content__box-circle--top:before {
    content: url("../img/academy/circle-top.png");
    position: absolute;
    top: 0;
    right: 0;
    display: none; }
    @media (min-width: 768px) {
      .presentation-content__box-circle--top:before {
        display: block; } }
  .presentation-content__box-circle--left:before {
    content: url("../img/academy/circle-left.png");
    position: absolute;
    left: 0;
    bottom: -7px;
    display: none; }
    @media (min-width: 768px) {
      .presentation-content__box-circle--left:before {
        display: block; } }
  .presentation-content__box-circle--right:before {
    content: url("../img/academy/circle-right.png");
    position: absolute;
    bottom: -7px;
    right: 0;
    display: none; }
    @media (min-width: 768px) {
      .presentation-content__box-circle--right:before {
        display: block; } }
  .presentation-content__box-title {
    color: black;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */
    position: relative; }
    .presentation-content__box-title:after {
      bottom: 0;
      left: 0;
      width: 80px;
      border: 2px solid #53565a; }
    @media (min-width: 768px) {
      .presentation-content__box-title {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 600; } }
  .presentation-content__box-title a {
    color: black !important; }
    .presentation-content__box-title a:hover {
      color: #ce0037; }
  .presentation-content__box-details {
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .presentation-content__box-details {
        height: 80px;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-left: 35px;
        /* 9 */
        padding-left: 2.1875rem;
        /* 9 */ } }
  .presentation-content__box-author {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 7px;
    /* 9 */
    margin-bottom: 0.4375rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .presentation-content__box-author {
        font-size: 16px;
        font-size: 16px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-bottom: 13px;
        /* 9 */
        margin-bottom: 0.8125rem;
        /* 9 */ } }
  .presentation-content__box-date {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400; }
  .presentation-content__box-button {
    width: 60px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #53565A;
    position: absolute;
    right: 22px;
    top: 0;
    cursor: pointer; }
    .presentation-content__box-button:after {
      position: absolute;
      content: url("../img/arrow-small-desktop.png");
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .presentation-content__box-button:hover:after {
      left: 55%;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

/* Single Research / Single Report*/
.single-presentation {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 215px;
  /* 9 */
  margin-bottom: 13.4375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 25px;
  /* 9 */
  margin-top: 1.5625rem;
  /* 9 */ }
  @media (min-width: 768px) {
    .single-presentation {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-top: 85px;
      /* 9 */
      margin-top: 5.3125rem;
      /* 9 */ } }
  @media (min-width: 1620px) {
    .single-presentation {
      max-width: 1600px; } }
  .single-presentation__title {
    width: 100%;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 20px;
    /* 9 */
    margin-bottom: 1.25rem;
    /* 9 */
    position: relative; }
    @media (min-width: 768px) {
      .single-presentation__title {
        width: 100%;
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .single-presentation__title {
        width: 80%;
        max-width: 950px;
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
    .single-presentation__title:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 87px;
      border: 2px solid black; }
  .single-presentation__aside {
    float: left;
    width: 300px; }
  .single-presentation__main {
    overflow: hidden;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    width: 100%;
    float: left; }
    @media (min-width: 1000px) {
      .single-presentation__main {
        width: 600px;
        float: left; } }
    @media (min-width: 1200px) {
      .single-presentation__main {
        width: 580px;
        float: left; } }
    @media (min-width: 1360px) {
      .single-presentation__main {
        width: 640px;
        float: left; } }

.single-presentation__aside-details {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 30px;
  /* 9 */
  margin-bottom: 1.875rem;
  /* 9 */ }

.single-presentation__aside-details span {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 400; }

.single-presentation__aside-download {
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative; }

.single-presentation__aside-link {
  color: black;
  position: relative; }
  .single-presentation__aside-link:after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 27px;
    height: 13px;
    right: -10px;
    background-image: url("../img/download-icon.png");
    background-size: cover; }

.single-presentation__aside-download--desktop {
  display: none; }
  @media (min-width: 1000px) {
    .single-presentation__aside-download--desktop {
      display: block; } }

.single-presentation__aside-download--mobile {
  display: block;
  margin: 0 auto;
  clear: both; }
  @media (min-width: 1000px) {
    .single-presentation__aside-download--mobile {
      display: none; } }

/* Single Presentation*/
.single-presentation__main-paragraph {
  line-height: 1.5;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  @media (min-width: 768px) {
    .single-presentation__main-paragraph {
      font-size: 18px;
      font-size: 18px/16pxrem;
      font-weight: 400; } }

.single-presentation__main-paragraph--intro {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600;
  line-height: 1.3;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 35px;
  /* 9 */
  margin-bottom: 2.1875rem;
  /* 9 */ }
  @media (min-width: 768px) {
    .single-presentation__main-paragraph--intro {
      font-size: 18px;
      font-size: 18px/16pxrem;
      font-weight: 600; } }

/* PROGRAM SZKOLENIOWY /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.program {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .program {
      max-width: 1600px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-left: 320px;
      /* 9 */
      padding-left: 20rem;
      /* 9 */
      margin: 0; } }
  .program__intro-left {
    float: right;
    width: 100%; }
    @media (min-width: 1200px) {
      .program__intro-left {
        float: left;
        width: 70%;
        margin-bottom: 80px; } }
  .program__intro-right {
    float: left;
    width: 100%; }
    @media (min-width: 1200px) {
      .program__intro-right {
        float: right;
        width: 50%;
        margin-top: 80px; } }
  .program__title {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */ }
    @media (min-width: 1200px) {
      .program__title:before {
        left: 150px; } }
    @media (min-width: 768px) {
      .program__title {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 20px;
        /* 9 */
        margin-top: 1.25rem;
        /* 9 */
        left: initial; } }
    @media (min-width: 1200px) {
      .program__title {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700;
        left: -150px;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 80px;
        /* 9 */
        margin-top: 5rem;
        /* 9 */ } }
  .program__title--second {
    clear: both;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .program__title--second {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-bottom: 50px;
        /* 9 */
        margin-bottom: 3.125rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 80px;
        /* 9 */
        margin-top: 5rem;
        /* 9 */
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .program__title--second {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .program__title--third {
    display: inline-block;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .program__title--third {
        display: inline-block;
        width: 100%;
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .program__title--third {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .program__title--grey {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 500;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 15px;
    /* 9 */
    margin-top: 0.9375rem;
    /* 9 */
    clear: both; }
    @media (min-width: 768px) {
      .program__title--grey {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 35px;
        /* 9 */
        margin-top: 2.1875rem;
        /* 9 */
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .program__title--grey {
        font-size: 42px;
        font-size: 42px/16pxrem;
        font-weight: 500; } }
  .program__title--grey--padding {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 500;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 70px 0 0 0;
    /* 9 */
    margin: 4.375rem 0 0 0;
    /* 9 */
    clear: both; }
    @media (min-width: 768px) {
      .program__title--grey--padding {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .program__title--grey--padding {
        font-size: 42px;
        font-size: 42px/16pxrem;
        font-weight: 500; } }
  .program__intro-seealso {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 500;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .program__intro-seealso {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .program__intro-seealso {
        margin-top: 0;
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 500;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-left: 25px;
        /* 9 */
        margin-left: 1.5625rem;
        /* 9 */ } }
  .program__text {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 15px;
    /* 9 */
    margin-top: 0.9375rem;
    /* 9 */
    line-height: 1.3;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400; }
  .program:before {
    display: none; }
    @media (min-width: 1200px) {
      .program:before {
        display: block;
        position: absolute;
        content: '';
        width: 297px;
        height: 220px;
        left: 0;
        top: 170px;
        background-color: #f2f2f2; } }

/* Links to other sections ////////////////////////////////////////////////*/
.seealso {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 40px;
  /* 9 */
  padding-bottom: 2.5rem;
  /* 9 */
  overflow: hidden; }
  .seealso__box {
    height: 225px;
    width: 95%;
    text-align: center;
    margin: 0 auto; }
    @media (min-width: 500px) {
      .seealso__box {
        width: 250px;
        float: left;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-left: 20px;
        /* 9 */
        margin-left: 1.25rem;
        /* 9 */ } }
    @media (min-width: 1200px) {
      .seealso__box {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-left: 50px;
        /* 9 */
        margin-left: 3.125rem;
        /* 9 */ } }
    .seealso__box:hover {
      cursor: pointer;
      box-shadow: -8px 9px 36px -2px rgba(173, 173, 173, 0.5);
      position: relative; }
  .seealso__box-icon {
    max-height: 55px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 30px 0 30px 0;
    /* 9 */
    margin: 1.875rem 0 1.875rem 0;
    /* 9 */ }
  .seealso__box-title {
    position: relative;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 500;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 15px;
    /* 9 */
    padding-bottom: 0.9375rem;
    /* 9 */ }
    .seealso__box-title:after {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    @media (min-width: 768px) {
      .seealso__box-title {
        font-size: 20px;
        font-size: 20px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .seealso__box-title {
        font-size: 28px;
        font-size: 28px/16pxrem;
        font-weight: 500; } }

.program--second:before {
  display: none; }

/* Training /////*/
.training-categories__boxes {
  max-width: 850px;
  overflow: hidden; }

.training-categories__box {
  text-align: center;
  float: left;
  min-height: 160px;
  width: 100%; }
  @media (min-width: 500px) {
    .training-categories__box {
      text-align: center;
      width: 49.5%; }
      .training-categories__box:nth-child(n) {
        margin-bottom: 1%;
        margin-right: 1%; }
      .training-categories__box:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .training-categories__box {
      min-height: 220px;
      width: 24.25%; }
      .training-categories__box:nth-child(n) {
        margin-bottom: 1%;
        margin-right: 1%; }
      .training-categories__box:nth-child(4n) {
        margin-right: 0;
        margin-bottom: 0; } }

.training-categories__box-title {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
  color: #53565A;
  line-height: 1.3; }
  @media (min-width: 1200px) {
    .training-categories__box-title {
      font-size: 24px;
      font-size: 24px/16pxrem;
      font-weight: 400; } }

.training-categories__box-icon {
  height: 80px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 30px 0 10px 0;
  /* 9 */
  margin: 1.875rem 0 0.625rem 0;
  /* 9 */ }

/* Certificate ////*/
.certificate {
  overflow: hidden; }
  @media (min-width: 1200px) {
    .certificate {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-bottom: 60px;
      /* 9 */
      margin-bottom: 3.75rem;
      /* 9 */ } }
  .certificate__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 20px 0 10px 0;
    /* 9 */
    margin: 1.25rem 0 0.625rem 0;
    /* 9 */
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
    position: relative; }
    @media (min-width: 768px) {
      .certificate__title {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .certificate__title {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        margin: 80px 0 40px 0;
        /* 9 */
        margin: 5rem 0 2.5rem 0;
        /* 9 */
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .certificate__content {
    overflow: hidden; }
  @media (min-width: 1200px) {
    .certificate__content-left {
      float: left;
      width: 47%; } }
  @media (min-width: 1200px) {
    .certificate__content-right {
      float: right;
      width: 47%; } }
  .certificate__content-title {
    color: #53565A;
    position: relative;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 500;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 15px;
    /* 9 */
    margin-bottom: 0.9375rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 15px;
    /* 9 */
    padding-bottom: 0.9375rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .certificate__content-title {
        font-size: 26px;
        font-size: 26px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .certificate__content-title {
        font-size: 42px;
        font-size: 42px/16pxrem;
        font-weight: 500; } }
  .certificate__content-title--second {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 35px;
    /* 9 */
    margin-top: 2.1875rem;
    /* 9 */ }
    @media (min-width: 1200px) {
      .certificate__content-title--second {
        margin-top: 0; } }
  .certificate__content-text {
    line-height: 1.5;
    color: #53565A;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400; }
    @media (min-width: 768px) {
      .certificate__content-text {
        font-size: 18px;
        font-size: 18px/16pxrem;
        font-weight: 400; } }
    @media (min-width: 1200px) {
      .certificate__content-text {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 400; } }

/* Range /////////////////////////*/
/* Four Steps*/
.gemius-steps {
  overflow: hidden; }
  .gemius-steps__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .gemius-steps__title {
        font-size: 48px;
        font-size: 3rem; } }
  .gemius-steps__subtitle {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500; }
    @media (min-width: 768px) {
      .gemius-steps__subtitle {
        font-size: 36px;
        font-size: 2.25rem;
        font-weight: 300; } }
  .gemius-steps__content {
    width: 100%;
    overflow: hidden; }

.gemius-steps__content-box {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 80px;
  /* 9 */
  margin-top: 5rem;
  /* 9 */
  min-height: 350px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 20px;
  /* 9 */
  padding-left: 1.25rem;
  /* 9 */ }
  @media (min-width: 768px) {
    .gemius-steps__content-box {
      float: left; } }
  @media (min-width: 1200px) {
    .gemius-steps__content-box {
      min-height: 400px;
      width: 32.66667%;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-left: 20px;
      /* 9 */
      padding-left: 1.25rem;
      /* 9 */ }
      .gemius-steps__content-box:nth-child(n) {
        margin-bottom: 1%;
        margin-right: 1%; }
      .gemius-steps__content-box:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 0; } }
  @media (min-width: 1820px) {
    .gemius-steps__content-box {
      min-height: 350px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-left: 100px;
      /* 9 */
      padding-left: 6.25rem;
      /* 9 */ } }

.gemius-steps__content-box:nth-child(3) p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */ }
  @media (min-width: 768px) {
    .gemius-steps__content-box:nth-child(3) p {
      margin: 0; } }

.gemius-steps__content-image {
  height: 110px;
  position: relative; }

.gemius-steps__content-icon {
  position: absolute;
  bottom: 10px;
  width: 50px; }
  @media (min-width: 768px) {
    .gemius-steps__content-icon {
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .gemius-steps__content-icon--2 {
    width: 65px; }
  .gemius-steps__content-icon--3 {
    width: 80px;
    left: -10px; }
  .gemius-steps__content-icon--4 {
    width: 70px; }

.gemius-steps__content-arrow {
  display: none; }
  @media (min-width: 768px) {
    .gemius-steps__content-arrow {
      position: absolute;
      width: 13px;
      top: -2px;
      right: 50px; } }

.gemius-steps__content-title {
  color: #53565A;
  display: inline-block;
  position: relative;
  font-size: 50px;
  font-size: 50px/16pxrem;
  font-weight: 300;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 10px;
  /* 9 */
  padding-bottom: 0.625rem;
  /* 9 */ }
  .gemius-steps__content-title:before {
    content: url("../img/four-steps-circle.svg");
    width: 118px;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -70px; }

.gemius-steps__content-title--small {
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 400;
  color: #53565A;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 15px;
  /* 9 */
  padding-bottom: 0.9375rem;
  /* 9 */ }
  .gemius-steps__content-title--small:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 65px;
    border-bottom: 3px solid #53565a; }

.gemius-steps__content-title--mobile {
  position: absolute;
  bottom: 5px;
  left: 100px; }
  @media (min-width: 768px) {
    .gemius-steps__content-title--mobile {
      display: none; } }

.gemius-steps__content-text {
  line-height: 1.3;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 10px;
  /* 9 */
  padding-top: 0.625rem;
  /* 9 */
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 400;
  font-weight: 600;
  position: relative; }
  @media (min-width: 768px) {
    .gemius-steps__content-text {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-top: 23px;
      /* 9 */
      padding-top: 1.4375rem;
      /* 9 */ } }

.gemius-steps__content-button {
  bottom: 30px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: #53565a;
  height: 61px;
  width: 203px;
  display: inline-block;
  border: 1px solid #53565a;
  border-radius: 30px;
  line-height: 61px; }
  .gemius-steps__content-button:after {
    content: url("../img/arrow-small.png");
    position: relative;
    left: 10px; }
  .gemius-steps__content-button:hover:after {
    left: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.gemius-steps__content-box:nth-child(2) .gemius-steps__content-title:before {
  content: url("../img/stopienII.svg");
  width: 177px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -70px; }

.gemius-steps__content-box:nth-child(3) .gemius-steps__content-title:before {
  content: url("../img/stopienIII.svg");
  width: 236px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -70px; }

/* Calendar for training program ///////*/
.calendar__title {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  position: relative; }
  @media (min-width: 768px) {
    .calendar__title {
      font-size: 32px;
      font-size: 32px/16pxrem;
      font-weight: 700; } }
  @media (min-width: 1200px) {
    .calendar__title {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      margin: 50px 0 40px 0;
      /* 9 */
      margin: 3.125rem 0 2.5rem 0;
      /* 9 */
      font-size: 48px;
      font-size: 48px/16pxrem;
      font-weight: 700; } }

/* Experts //////////////////////*/
.download__experts {
  overflow: hidden; }
  .download__experts--wrapper {
    max-width: 1600px; }
  .download__experts-title {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 20px 0 20px 0;
    /* 9 */
    margin: 1.25rem 0 1.25rem 0;
    /* 9 */ }
    @media (min-width: 768px) {
      .download__experts-title {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        margin: 90px 0 25px 0;
        /* 9 */
        margin: 5.625rem 0 1.5625rem 0;
        /* 9 */
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .download__experts-box {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 50px;
    /* 9 */
    margin-bottom: 3.125rem;
    /* 9 */ }
    @media (min-width: 1200px) {
      .download__experts-box {
        width: 49.5%;
        float: left; }
        .download__experts-box:nth-child(n) {
          margin-bottom: 1%;
          margin-right: 1%; }
        .download__experts-box:nth-child(2n) {
          margin-right: 0;
          margin-bottom: 0; } }
  .download__experts-image--wrapper {
    text-align: center; }
    @media (min-width: 768px) {
      .download__experts-image--wrapper {
        text-align: initial; } }
  .download__experts-box__image {
    width: 144px; }
  @media (min-width: 500px) {
    .download__experts-box__name {
      text-align: center; } }
  @media (min-width: 768px) {
    .download__experts-box__name {
      text-align: initial;
      font-size: 24px;
      font-size: 24px/16pxrem;
      font-weight: 600;
      color: #53565A;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      margin: 20px 0;
      /* 9 */
      margin: 1.25rem 0;
      /* 9 */ } }
  .download__experts-box__name--position {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 300;
    color: #53565A; }
  .download__experts-box__email {
    position: relative;
    top: 5px; }
    @media (min-width: 500px) {
      .download__experts-box__email {
        text-align: center; } }
    @media (min-width: 768px) {
      .download__experts-box__email {
        text-align: initial;
        top: 15px; } }
  .download__experts-box__topics {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 15px;
    /* 9 */
    margin-top: 0.9375rem;
    /* 9 */
    line-height: 1.3;
    width: 95%; }
    @media (min-width: 500px) {
      .download__experts-box__topics {
        text-align: center; } }
    @media (min-width: 768px) {
      .download__experts-box__topics {
        width: 70%;
        text-align: initial;
        font-size: 18px;
        font-size: 18px/16pxrem;
        font-weight: 400;
        line-height: 1.4; } }
  .download__experts-button--wrapper {
    text-align: center; }
    @media (min-width: 768px) {
      .download__experts-button--wrapper {
        text-align: initial; } }
  .download__experts-box__button {
    width: 180px;
    display: inline-block;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 15px;
    /* 9 */
    margin-bottom: 0.9375rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .download__experts-box__button {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-right: 20px;
        /* 9 */
        margin-right: 1.25rem;
        /* 9 */ } }

/* Program Partners /////////////////////////////////////////////////////////////////////*/
.program-partners__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 50px 0 25px 0;
  /* 9 */
  margin: 3.125rem 0 1.5625rem 0;
  /* 9 */ }
  @media (min-width: 1200px) {
    .program-partners__title {
      font-size: 48px;
      font-size: 48px/16pxrem;
      font-weight: 700; } }

.program-partners__title--small {
  clear: both;
  color: #53565A; }
  @media (min-width: 1200px) {
    .program-partners__title--small {
      font-size: 42px;
      font-size: 42px/16pxrem;
      font-weight: 500; } }

.program-partners__boxes {
  text-align: left;
  overflow: hidden; }
  @media (min-width: 768px) {
    .program-partners__boxes {
      margin-bottom: 40px; } }

.program-partners__box {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 30px;
  /* 9 */
  margin-bottom: 1.875rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 15px;
  /* 9 */
  padding-left: 0.9375rem;
  /* 9 */
  width: 100%; }
  @media (min-width: 500px) {
    .program-partners__box {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 5 */
      /* 8 */
      padding-left: 0;
      /* 9 */
      float: left;
      width: 49.5%; }
      .program-partners__box:nth-child(n) {
        margin-bottom: 1%;
        margin-right: 1%; }
      .program-partners__box:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .program-partners__box {
      width: 24.25%; }
      .program-partners__box:nth-child(n) {
        margin-bottom: 1%;
        margin-right: 1%; }
      .program-partners__box:nth-child(4n) {
        margin-right: 0;
        margin-bottom: 0; } }

.program-partners__box-logo {
  max-width: 50%;
  height: auto;
  margin: 30px 0; }
  @media (min-width: 768px) {
    .program-partners__box-logo {
      max-width: 100%; } }

/* Opinions /////////////////////////////////////////////////////////////////////*/
.opinions {
  clear: both; }
  .opinions__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 5px 0 15px 0;
    /* 9 */
    margin: 0.3125rem 0 0.9375rem 0;
    /* 9 */
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .opinions__title {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        margin: 50px 0 20px 0;
        /* 9 */
        margin: 3.125rem 0 1.25rem 0;
        /* 9 */ } }
    @media (min-width: 1200px) {
      .opinions__title {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }

.opinions__container {
  overflow: hidden;
  float: left;
  border-bottom: 1px solid #53565a;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 20px;
  /* 9 */
  padding-top: 1.25rem;
  /* 9 */
  width: 100%;
  max-width: 960px; }
  .opinions__container-left {
    float: left;
    width: 100px; }
  .opinions__container-right {
    float: left; }
    @media (min-width: 768px) {
      .opinions__container-right {
        width: 80%;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-left: 25px;
        /* 9 */
        padding-left: 1.5625rem;
        /* 9 */ } }
  .opinions__container-photo {
    max-height: 100px; }
  .opinions__container-title {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 600;
    color: #53565A;
    position: relative;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */ }
  .opinions__container-text {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    line-height: 1.3;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */ }
  .opinions__container-button--wrapper {
    display: block;
    text-align: center;
    clear: both; }
  .opinions__container-button {
    text-align: center;
    cursor: pointer;
    color: #53565a;
    height: 52px;
    width: 214px;
    display: inline-block;
    border: 1px solid #53565a;
    border-radius: 30px;
    line-height: 52px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */ }
    .opinions__container-button:hover {
      background-color: #53565A;
      color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

/* Program Faq ////////////////////////////*/
.program-faq {
  clear: both;
  overflow: hidden; }
  .program-faq__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 15px 0 15px 0;
    /* 9 */
    margin: 0.9375rem 0 0.9375rem 0;
    /* 9 */
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .program-faq__title {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        margin: 80px 0 20px 0;
        /* 9 */
        margin: 5rem 0 1.25rem 0;
        /* 9 */ } }
    @media (min-width: 1200px) {
      .program-faq__title {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .program-faq__title--contact {
    display: inline-block;
    margin-bottom: 50px; }
  .program-faq__question {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 700;
    line-height: 1.3;
    color: #53565A; }
    @media (min-width: 768px) {
      .program-faq__question {
        font-size: 20px;
        font-size: 20px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        padding: 5px 0 5px 0;
        /* 9 */
        padding: 0.3125rem 0 0.3125rem 0;
        /* 9 */ } }
    @media (min-width: 1200px) {
      .program-faq__question {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 700; } }
  .program-faq__text {
    line-height: 1.3;
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 5px 0 15px 0;
    /* 9 */
    padding: 0.3125rem 0 0.9375rem 0;
    /* 9 */
    border-bottom: 1px solid #53565a; }
    @media (min-width: 768px) {
      .program-faq__text {
        font-size: 20px;
        font-size: 20px/16pxrem;
        font-weight: 300;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        padding: 15px 0 35px 0;
        /* 9 */
        padding: 0.9375rem 0 2.1875rem 0;
        /* 9 */ } }
    @media (min-width: 1200px) {
      .program-faq__text {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 300; } }
  .program-faq__button--wrapper {
    display: block;
    text-align: center;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 45px;
    /* 9 */
    margin-bottom: 2.8125rem;
    /* 9 */ }
  .program-faq__button {
    text-align: center;
    cursor: pointer;
    color: #53565a;
    height: 52px;
    width: 214px;
    display: inline-block;
    border: 1px solid #53565a;
    border-radius: 30px;
    line-height: 52px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */ }
    .program-faq__button:hover {
      background-color: #53565A;
      color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

/* Map /////////////////////////////////*/
.contact__us-map {
  clear: both; }
  .contact__us-map__title {
    display: none; }
    @media (min-width: 768px) {
      .contact__us-map__title {
        display: block;
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 80px;
        /* 9 */
        margin-top: 5rem;
        /* 9 */ } }

/* Mobile contact information*/
.contact__us-contact {
  display: block; }
  @media (min-width: 1200px) {
    .contact__us-contact {
      display: none; } }
  .contact__us-contact__information {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */ }
  .contact__us-contact__title {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 700;
    max-width: 1600px;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 20px;
    /* 9 */
    margin-bottom: 1.25rem;
    /* 9 */ }
    @media (min-width: 1200px) {
      .contact__us-contact__title {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .contact__us-contact__paragraph {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    line-height: 1.4; }

/* Tablet + contact information*/
/* map*/
.map__img {
  height: 400px;
  width: 100%;
  position: relative; }

.map {
  position: relative; }

.map__contact {
  display: none;
  position: relative;
  opacity: 0.8;
  width: 670px;
  height: 285px;
  background-color: #B7C9D3;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; }
  @media (min-width: 1200px) {
    .map__contact {
      display: block; } }
  @media (min-width: 1500px) {
    .map__contact {
      height: 485px;
      right: 0; } }
  .map__contact-left {
    float: left;
    width: 50%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 28px 0 0 42px;
    /* 9 */
    padding: 1.75rem 0 0 2.625rem;
    /* 9 */ }
  .map__contact-right {
    float: left;
    width: 50%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 28px 0 0 42px;
    /* 9 */
    padding: 1.75rem 0 0 2.625rem;
    /* 9 */ }
  .map__contact-title {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 18px;
    /* 9 */
    padding-bottom: 1.125rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 18px;
    /* 9 */
    margin-bottom: 1.125rem;
    /* 9 */
    position: relative; }
    @media (min-width: 1200px) {
      .map__contact-title {
        font-size: 30px;
        font-size: 30px/16pxrem;
        font-weight: 700; } }
    .map__contact-title:after {
      display: block;
      content: "";
      width: 81px;
      position: absolute;
      bottom: 0;
      left: 0;
      border: 2px solid #53565a; }
  .map__contact-text {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    line-height: 1.4; }

/*Weryfikacja /////////////////////////////*/
.verify-certificate {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 50px;
  /* 9 */
  padding-bottom: 3.125rem;
  /* 9 */ }
  @media (min-width: 1200px) {
    .verify-certificate {
      max-width: 1600px;
      margin: 0; } }
  .verify-certificate__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 35px 0 15px 0;
    /* 9 */
    margin: 2.1875rem 0 0.9375rem 0;
    /* 9 */
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .verify-certificate__title {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        /* 4 */
        /* 5 */
        margin: 80px 0 20px 0;
        /* 9 */
        margin: 5rem 0 1.25rem 0;
        /* 9 */ } }
    @media (min-width: 1200px) {
      .verify-certificate__title {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .verify-certificate__input {
    border: none;
    border-bottom: 1px solid #E6E6E6;
    outline: 0;
    border-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    color: #000; }
  .verify-certificate__input::-webkit-input-placeholder {
    color: #000;
    opacity: 1; }
  .verify-certificate__button {
    text-align: center;
    cursor: pointer;
    color: #53565a;
    height: 42px;
    width: 163px;
    display: block;
    border: 1px solid #53565a;
    border-radius: 30px;
    line-height: 42px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 20px;
    /* 9 */
    margin-top: 1.25rem;
    /* 9 */ }
    .verify-certificate__button:hover {
      background-color: #53565A;
      color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

/* Single Lesson //////////////////////////////////////////////////////////////////*/
.single-lesson {
  position: relative;
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .single-lesson {
      max-width: 1600px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-left: 200px;
      /* 9 */
      padding-left: 12.5rem;
      /* 9 */
      margin: 0; } }
  .single-lesson h1,
  .single-lesson h2,
  .single-lesson h3,
  .single-lesson h4,
  .single-lesson h5,
  .single-lesson h6 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 25px 0 25px 0;
    /* 9 */
    margin: 1.5625rem 0 1.5625rem 0;
    /* 9 */ }
  .single-lesson__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 45px;
    /* 9 */
    margin-top: 2.8125rem;
    /* 9 */
    color: #53565A;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 500; }
    @media (min-width: 768px) {
      .single-lesson__title {
        font-size: 20px;
        font-size: 20px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .single-lesson__title {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 500; } }
  .single-lesson__number {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    color: #53565A;
    position: relative;
    font-size: 32px;
    font-size: 32px/16pxrem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .single-lesson__number {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .single-lesson__number {
        font-size: 60px;
        font-size: 60px/16pxrem;
        font-weight: 700; } }
  .single-lesson__name {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    color: #53565A;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700; }
    @media (min-width: 768px) {
      .single-lesson__name {
        font-size: 25px;
        font-size: 25px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .single-lesson__name {
        font-size: 30px;
        font-size: 30px/16pxrem;
        font-weight: 700; } }

.single-lesson li {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 35px;
  /* 9 */
  margin-top: 2.1875rem;
  /* 9 */
  line-height: 1.3;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400; }
  @media (min-width: 768px) {
    .single-lesson li {
      font-size: 16px;
      font-size: 16px/16pxrem;
      font-weight: 400; } }
  @media (min-width: 1200px) {
    .single-lesson li {
      font-size: 18px;
      font-size: 18px/16pxrem;
      font-weight: 400; } }

.single-lesson li ul {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 30px;
  /* 9 */
  padding-left: 1.875rem;
  /* 9 */ }

.single-lesson li ul li {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 15px 0;
  /* 9 */
  margin: 0.9375rem 0 0.9375rem 0;
  /* 9 */ }

.single-lesson li mark {
  background-color: #B7C9D3; }

i {
  font-style: initial;
  color: #53565A; }

.single-lesson__content-text i {
  font-style: initial;
  color: #53565A; }

.single-lesson a {
  color: black; }
  .single-lesson a:hover {
    color: #B7C9D3; }

.single-lesson li span {
  line-height: 1.3;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .single-lesson li span {
      font-size: 16px;
      font-size: 16px/16pxrem;
      font-weight: 600; } }
  @media (min-width: 1200px) {
    .single-lesson li span {
      font-size: 18px;
      font-size: 18px/16pxrem;
      font-weight: 600; } }

.single-lesson ul {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 10px 0 25px 0;
  /* 9 */
  margin: 0.625rem 0 1.5625rem 0;
  /* 9 */ }

.single-lesson li {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 10px 0 10px 0;
  /* 9 */
  margin: 0.625rem 0 0.625rem 0;
  /* 9 */
  line-height: 1.3;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .single-lesson li {
      font-size: 16px;
      font-size: 16px/16pxrem;
      font-weight: 600; } }
  @media (min-width: 1200px) {
    .single-lesson li {
      font-size: 18px;
      font-size: 18px/16pxrem;
      font-weight: 600; } }

.single-lesson li span:first-child {
  line-height: 1.3;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .single-lesson li span:first-child {
      font-size: 16px;
      font-size: 16px/16pxrem;
      font-weight: 600; } }
  @media (min-width: 1200px) {
    .single-lesson li span:first-child {
      font-size: 18px;
      font-size: 18px/16pxrem;
      font-weight: 600; } }

.single-lesson__content {
  max-width: 925px; }
  @media (min-width: 1200px) {
    .single-lesson__content {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-left: 125px;
      /* 9 */
      padding-left: 7.8125rem;
      /* 9 */ } }
  .single-lesson__content-title {
    line-height: 1.3;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 15px;
    /* 9 */
    margin-top: 0.9375rem;
    /* 9 */
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 600; }
    @media (min-width: 768px) {
      .single-lesson__content-title {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 45px;
        /* 9 */
        margin-top: 2.8125rem;
        /* 9 */
        font-size: 20px;
        font-size: 20px/16pxrem;
        font-weight: 600; } }
    @media (min-width: 1200px) {
      .single-lesson__content-title {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 600; } }
  .single-lesson__content-title--subtitle {
    line-height: 1.3;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 25px;
    /* 9 */
    margin-bottom: 1.5625rem;
    /* 9 */ }
  .single-lesson__content-title--big {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 20px 0 20px 0;
    /* 9 */
    margin: 1.25rem 0 1.25rem 0;
    /* 9 */ }
    @media (min-width: 768px) {
      .single-lesson__content-title--big {
        font-size: 32px;
        font-size: 32px/16pxrem;
        font-weight: 700; } }
    @media (min-width: 1200px) {
      .single-lesson__content-title--big {
        font-size: 48px;
        font-size: 48px/16pxrem;
        font-weight: 700; } }
  .single-lesson__content-text {
    line-height: 1.4;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 25px 0 25px 0;
    /* 9 */
    margin: 1.5625rem 0 1.5625rem 0;
    /* 9 */ }
    @media (min-width: 768px) {
      .single-lesson__content-text {
        font-size: 16px;
        font-size: 16px/16pxrem;
        font-weight: 400; } }
    @media (min-width: 1200px) {
      .single-lesson__content-text {
        font-size: 18px;
        font-size: 18px/16pxrem;
        font-weight: 400; } }
  .single-lesson__content p {
    line-height: 1.4;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 25px 0 25px 0;
    /* 9 */
    margin: 1.5625rem 0 1.5625rem 0;
    /* 9 */ }
    @media (min-width: 768px) {
      .single-lesson__content p {
        font-size: 16px;
        font-size: 16px/16pxrem;
        font-weight: 400; } }
    @media (min-width: 1200px) {
      .single-lesson__content p {
        font-size: 18px;
        font-size: 18px/16pxrem;
        font-weight: 400; } }
  .single-lesson__content-img {
    display: block;
    max-width: 100%; }
  .single-lesson__content img {
    display: block;
    max-width: 100%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 15px 0 15px 0;
    /* 9 */
    margin: 0.9375rem 0 0.9375rem 0;
    /* 9 */ }

/* Program training*/
.panel {
  position: relative;
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .panel {
      max-width: 1600px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-left: 320px;
      /* 9 */
      padding-left: 20rem;
      /* 9 */
      margin: 0; } }
  .panel:before {
    display: none; }
    @media (min-width: 1200px) {
      .panel:before {
        display: block;
        position: absolute;
        content: url("../img/circle-landing.png");
        left: 0;
        top: -5px;
        z-index: -1; } }
  .panel--wrapper {
    max-width: 800px; }
  .panel-intro__text {
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 300; }
    @media (min-width: 1200px) {
      .panel-intro__text {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 85px;
        /* 9 */
        margin-top: 5.3125rem;
        /* 9 */
        font-size: 22px;
        font-size: 22px/16pxrem;
        font-weight: 300; } }
  .panel__title {
    position: relative;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 300;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 35px;
    /* 9 */
    margin-top: 2.1875rem;
    /* 9 */ }
    @media (min-width: 1200px) {
      .panel__title {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 300;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-top: 55px;
        /* 9 */
        margin-top: 3.4375rem;
        /* 9 */ } }
  .panel__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    list-style-type: initial;
    color: #53565A;
    font-size: 150%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 25px;
    /* 9 */
    padding-left: 1.5625rem;
    /* 9 */ }
  .panel__list--number {
    list-style-type: none; }
  .panel__list-item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */ }
  .panel__list-inner {
    font-size: 150%;
    color: #53565A;
    list-style-type: initial;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 65px;
    /* 9 */
    padding-left: 4.0625rem;
    /* 9 */ }
  .panel__list-inner li span {
    color: #53565A;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 600; }
    @media (min-width: 1200px) {
      .panel__list-inner li span {
        font-size: 18px;
        font-size: 18px/16pxrem;
        font-weight: 600; } }
  .panel__list-item p {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 5px;
    /* 9 */
    padding-right: 0.3125rem;
    /* 9 */
    display: inline-block;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 300; }
    @media (min-width: 1200px) {
      .panel__list-item p {
        font-size: 24px;
        font-size: 24px/16pxrem;
        font-weight: 300; } }
  .panel__list-item span {
    color: black;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 600; }
    @media (min-width: 1200px) {
      .panel__list-item span {
        font-size: 18px;
        font-size: 18px/16pxrem;
        font-weight: 600; } }

form, input {
  font-family: "Hind","sans-serif"; }

.training__price {
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 300;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 35px;
  /* 9 */
  margin-top: 2.1875rem;
  /* 9 */ }
  .training__price-text {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 300;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 15px;
    /* 9 */
    margin-top: 0.9375rem;
    /* 9 */ }

.training__form-title {
  color: #53565A;
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 500;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 60px 0 10px 0;
  /* 9 */
  margin: 3.75rem 0 0.625rem 0;
  /* 9 */ }

.training__form-input {
  width: 100%;
  max-width: 500px;
  height: 55px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 25px;
  /* 9 */
  margin-top: 1.5625rem;
  /* 9 */
  padding-left: 25px; }

.training__form-details {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 25px;
  /* 9 */
  margin-top: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 25px;
  /* 9 */
  padding-left: 1.5625rem;
  /* 9 */ }

.training__form-details h3 {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 400; }

.training__form-details label {
  display: block; }

.training__form-details__checkbox {
  position: relative;
  top: 1px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */ }

.training__form-details__newform {
  display: none; }

.training__form-details__checkbox--additional:checked ~ div {
  display: block; }

.form__send {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 20px 0 80px 0;
  /* 9 */
  margin: 1.25rem 0 5rem 0;
  /* 9 */
  max-width: 500px;
  text-align: center; }

.form__send span {
  text-decoration: underline;
  color: blue; }

.form__send-button {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  height: 45px;
  line-height: 45px;
  width: 162px;
  border: 1px solid #53565a;
  color: #53565a; }
  .form__send-button:hover {
    color: white;
    background-color: #53565a;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
