@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.en-intro__title:after, .search-intro__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px;
}

/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a;
}

.footer__heading {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 20px;
  /* 9 */
  padding: 2.1875rem 0 0 1.25rem;
  /* 9 */
}

.footer__content {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 50px;
  /* 9 */
  padding: 0 0 0 3.125rem;
  /* 9 */
}

.footer__content-mobile__text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 30px 0 0 0;
  /* 9 */
  padding: 1.875rem 0 0 0;
  /* 9 */
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.footer__content-paragraph {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.3125rem;
  /* 9 */
}

@media (min-width: 992px) {
  .footer__mobile {
    display: none;
  }
}

.footer__tablet {
  display: none;
}

@media (min-width: 992px) {
  .footer__tablet {
    min-height: 480px;
    display: block;
    margin: 0 auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    padding: 60px;
    /* 9 */
    padding: 3.75rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .footer__tablet {
    min-height: 550px;
  }
}

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__container-left {
    min-height: 420px;
  }
}

.footer__container-left:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-middle {
  width: 60%;
  float: left;
}

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__container-right {
    min-height: 420px;
  }
}

.footer__container-right:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-right:after {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__navbox {
    min-height: 215px;
  }
}

.footer__navbox:before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .footer__navbox:before {
    height: 75%;
  }
}

.footer__navbox-title {
  color: white;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .footer__navbox-title {
    font-size: 16px;
    top: -35px;
  }
}

@media (min-width: 1360px) {
  .footer__navbox-title {
    font-size: 20px;
  }
}

@media (min-width: 1620px) {
  .footer__navbox-title {
    font-size: 21px;
    font-weight: 600;
  }
}

.footer__navbox:nth-child(n+5) {
  padding-top: 45px;
}

.footer__navbox:nth-child(n+5):before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 1200px) {
  .footer__navbox:nth-child(n+5):before {
    height: 75%;
  }
}

.footer__navbox:nth-child(n+5) h3 {
  top: 5px;
}

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .footer__about {
    font-size: 16px;
  }
}

@media (min-width: 1620px) {
  .footer__about {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
  }
}

.footer__link:hover {
  color: #B7C9D3;
}

.footer__contact {
  border: 1px solid red !important;
}

.footer__contact-adress {
  color: white;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .footer__contact-adress {
    font-size: 16px;
  }
}

.footer__contact-adress p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 7px 30px 0 0;
  /* 9 */
  padding: 0.4375rem 1.875rem 0 0;
  /* 9 */
}

.footer__contact-telephone {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
  font-size: 14px;
  font-weight: 400;
}

.footer__contact-telephone p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 7px;
  /* 9 */
  padding-top: 0.4375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__contact-telephone {
    font-size: 16px;
  }
}

.footer__contact-email {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .footer__contact-email {
    font-size: 16px;
  }
}

.footer__contact-social {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
}

.footer__contact-social__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-right: 10px;
  /* 9 */
  padding-right: 0.625rem;
  /* 9 */
}

.footer a {
  color: white;
}

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.en-intro__title:after, .search-intro__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px;
}

.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12;
}

@media (min-width: 768px) {
  .nav-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: white;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.nav-mobile__facebook {
  position: absolute;
  right: 75px;
  bottom: 15px;
}

.nav-mobile__linkedin {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.nav-mobile__search--wrapper {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 80px 25px 0 0;
  /* 9 */
  margin: 5rem 1.5625rem 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__search--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 100px 25px 0 0;
    /* 9 */
    margin: 6.25rem 1.5625rem 0 0;
    /* 9 */
  }
}

.nav-mobile__search {
  position: relative;
  top: -3px;
  float: right;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

.nav-mobile__english {
  text-transform: uppercase;
  color: white;
  float: right;
  margin-right: 5px;
}

.visible {
  display: none;
}

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 150px;
    /* 9 */
    margin-top: 9.375rem;
    /* 9 */
  }
}

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 30px;
    /* 9 */
    margin-left: 1.875rem;
    /* 9 */
  }
}

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.nav-mobile__link:hover {
  color: #B7C9D3;
}

@media (min-width: 768px) {
  .nav-mobile__link {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.en-intro__title:after, .search-intro__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 47%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .header__navigation-search {
    right: 0;
    display: inline-block;
  }
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__navigation--search {
  border-bottom: 1px solid #E6E6E6;
}

.header__navigation--nomargin {
  margin: 0;
}

.header__title {
  display: none;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title {
    display: block;
    height: 200px;
    background-image: url("../img/header/badania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__title-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title-wrapper {
    width: 95%;
    height: 200px;
  }
}

@media (min-width: 1620px) {
  .header__title-wrapper {
    max-width: 1600px;
  }
}

.header__title-text {
  position: absolute;
  bottom: -6px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 70px;
    font-size: 4.375rem;
  }
}

@media (min-width: 1620px) {
  .header__title-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__title--badania {
  background-image: url("../img/header/badania.jpg");
}

.header__title--raporty {
  background-image: url("../img/header/raporty.jpg");
}

.header__title--akademia {
  background-image: url("../img/header/akademia.jpg");
}

.header__title--kontakt {
  background-image: url("../img/header/kontakt.jpg");
}

.header__title--pbi {
  background-image: url("../img/header/pbi.jpg");
}

.header__title--media {
  background-image: url("../img/header/media.jpg");
}

.header__title--aktualnosci {
  background-image: url("../img/header/aktualnosci.jpg");
}

.header__title--gemius {
  background-image: url("../img/header/gemius.jpg");
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.en-intro__title:after, .search-intro__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #53565a;
  width: 81px;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
  border: none;
}

.search-input label {
  position: relative;
  z-index: 15;
  display: none;
}

@media (min-width: 992px) {
  .search-input label {
    display: block;
  }
}

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .search-input ~ input {
    display: block;
  }
}

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 992px) {
  .search-input:checked ~ input {
    display: block;
  }
}

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__mobile--wrapper {
    display: none;
  }
}

.search__mobile-input {
  display: none;
  padding-bottom: 5px;
}

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a;
}

@media (min-width: 768px) {
  .search__mobile-input label {
    display: none;
  }
}

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .search__mobile-input ~ input {
    display: none;
  }
}

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 768px) {
  .search__mobile-input:checked ~ input {
    display: none;
  }
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body,
html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

.en-intro__container {
  font-size: 32px;
  font-size: 32px/16pxrem;
  font-weight: 700;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .en-intro__container {
    max-width: 1600px;
  }
}

.en-intro__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 10px;
  /* 9 */
  padding-bottom: 0.625rem;
  /* 9 */
  position: relative;
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .en-intro__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 45px;
    /* 9 */
    margin-top: 2.8125rem;
    /* 9 */
  }
}

.en-intro__title:after {
  right: 0;
}

@media (min-width: 1200px) {
  .en-intro__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 85px;
    /* 9 */
    margin-top: 5.3125rem;
    /* 9 */
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

.en {
  position: relative;
  width: 95%;
  margin: 0 auto;
  /* Containers for images*/
}

@media (min-width: 1200px) {
  .en {
    max-width: 1600px !important;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 320px;
    /* 9 */
    padding-left: 20rem;
    /* 9 */
    margin: 0;
  }
}

.en:before {
  display: none;
}

@media (min-width: 1200px) {
  .en:before {
    display: block;
    position: absolute;
    content: '';
    width: 297px;
    height: 171px;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
  }
}

.en-intro__text {
  line-height: 1.5;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .en-intro__text {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .en-intro__text {
    width: 800px;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
  }
}

.en__title {
  clear: both;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .en__title {
    font-size: 28px;
    font-size: 28px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 50px;
    /* 9 */
    margin-top: 3.125rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .en__title {
    font-size: 36px;
    font-size: 36px/16pxrem;
    font-weight: 700;
  }
}

.en__title--big {
  clear: both;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .en__title--big {
    font-size: 32px;
    font-size: 32px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 45px;
    /* 9 */
    margin-top: 2.8125rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .en__title--big {
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

.en__text {
  clear: both;
  line-height: 1.5;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .en__text {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .en__text {
    width: 800px;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
  }
}

.en__boxes {
  text-align: center;
  max-width: 1280px;
}

.en__box {
  position: relative;
  height: 100px;
  float: left;
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 30px;
  /* 9 */
  margin-bottom: 1.875rem;
  /* 9 */
}

@media (min-width: 500px) {
  .en__box {
    height: 150px;
    width: 49.5%;
  }
  .en__box:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .en__box:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .en__box {
    width: 30%;
  }
  .en__box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .en__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .en__box {
    width: 21.25%;
  }
  .en__box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .en__box:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.en__box-img {
  max-width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact__us--wrapper {
  width: auto;
}

@media (min-width: 1820px) {
  .contact__us--wrapper {
    width: 1450px;
  }
}

.contact__us-title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 65px 0 10px 0;
  /* 9 */
  margin: 4.0625rem 0 0.625rem 0;
  /* 9 */
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .contact__us-title {
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

.contact__us-text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 50px 0;
  /* 9 */
  margin: 0.9375rem 0 3.125rem 0;
  /* 9 */
}

.contact__us-box {
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 35px;
  /* 9 */
  margin-bottom: 2.1875rem;
  /* 9 */
}

@media (min-width: 768px) {
  .contact__us-box {
    width: 31.33333%;
    height: auto;
    float: left;
  }
  .contact__us-box:nth-child(n) {
    margin-bottom: 3%;
    margin-right: 3%;
  }
  .contact__us-box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.contact__us-box--wrapper {
  width: 100%;
  position: relative;
}

.contact__us-box__image {
  float: left;
  position: absolute;
  top: -10px;
  left: -40px;
  max-width: 170px;
}

@media (min-width: 768px) {
  .contact__us-box__image {
    float: initial;
    position: initial;
    left: 0;
    max-width: 100%;
  }
}

.contact__us-box--details {
  margin-top: 20px;
  position: relative;
  padding-left: 140px;
}

@media (min-width: 768px) {
  .contact__us-box--details {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    padding: 0;
    float: initial;
    position: initial;
    left: 0;
    width: auto;
  }
}

.contact__us-box__name {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .contact__us-box__name {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 400;
  }
}

.contact__us-box__surname {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .contact__us-box__surname {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

.contact__us-box__area {
  line-height: 1.4;
  display: inline-block;
  position: relative;
  height: 50px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .contact__us-box__area {
    height: auto;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
  }
}

.contact__us-box__text {
  clear: both;
  line-height: 1.3;
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .contact__us-box__text {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    line-height: 1.4;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 30px;
    /* 9 */
    margin-bottom: 1.875rem;
    /* 9 */
  }
}

.contact__us-box__mail {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 10px;
  /* 9 */
  padding-bottom: 0.625rem;
  /* 9 */
  position: relative;
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .contact__us-box__mail {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */
  }
}

.contact__us-box__mail:after {
  display: block;
  content: "";
  width: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #53565a;
}

.contact__us-map {
  clear: both;
}

@media (min-width: 768px) {
  .contact__us-map {
    padding-top: 100px;
  }
}

.contact__us-map__title {
  display: none;
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .contact__us-map__title {
    display: block;
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 80px;
    /* 9 */
    margin-top: 5rem;
    /* 9 */
  }
}

/* Mobile contact information*/
.contact__us-contact {
  width: 95%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 1200px) {
  .contact__us-contact {
    display: none;
  }
}

.contact__us-contact__information {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 40px;
  /* 9 */
  margin-bottom: 2.5rem;
  /* 9 */
}

.contact__us-contact__title {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  color: #53565A;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 20px;
  /* 9 */
  margin-bottom: 1.25rem;
  /* 9 */
}

.contact__us-contact__paragraph {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 400;
  line-height: 1.4;
}

/* Tablet + contact information*/
/* map*/
.map__img {
  height: 400px;
  width: 100%;
  position: relative;
}

.map {
  position: relative;
}

.map__contact {
  display: none;
  width: 670px;
  height: 485px;
  background-color: #B7C9D3;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: 1;
}

@media (min-width: 1200px) {
  .map__contact {
    display: block;
  }
}

.map__contact-left {
  float: left;
  width: 50%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 28px 0 0 42px;
  /* 9 */
  padding: 1.75rem 0 0 2.625rem;
  /* 9 */
}

.map__contact-right {
  float: left;
  width: 50%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 28px 0 0 42px;
  /* 9 */
  padding: 1.75rem 0 0 2.625rem;
  /* 9 */
}

.map__contact-title {
  font-size: 30px;
  font-size: 30px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 18px;
  /* 9 */
  padding-bottom: 1.125rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 18px;
  /* 9 */
  margin-bottom: 1.125rem;
  /* 9 */
  position: relative;
}

.map__contact-title:after {
  display: block;
  content: "";
  width: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #53565a;
}

.map__contact-text {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 400;
  line-height: 1.4;
}

/* 404 error ///////////////////////////////////////////////////////////////////*/
.error {
  position: relative;
  height: 70vh;
  background-color: #B7C9D3;
}

.error__image {
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@media (min-width: 768px) {
  .error__image {
    display: block;
  }
}

.error__image--mobile {
  max-width: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .error__image--mobile {
    display: none;
  }
}

.search {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .search {
    max-width: 1600px !important;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 320px;
    /* 9 */
    padding-left: 20rem;
    /* 9 */
    margin: 0;
  }
}

.search:before {
  display: none;
}

@media (min-width: 1200px) {
  .search:before {
    display: block;
    position: absolute;
    content: '';
    width: 297px;
    height: 171px;
    left: 0;
    top: 25px;
    background-color: #f2f2f2;
  }
}

.search-intro__container {
  font-size: 32px;
  font-size: 32px/16pxrem;
  font-weight: 700;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .search-intro__container {
    max-width: 1600px;
  }
}

.search-intro__title {
  color: #53565A;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 10px;
  /* 9 */
  padding-bottom: 0.625rem;
  /* 9 */
  position: relative;
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 700;
}

.search-intro__title:after {
  right: 0;
}

@media (min-width: 1200px) {
  .search-intro__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 20px;
    /* 9 */
    margin-bottom: 1.25rem;
    /* 9 */
    font-size: 32px;
    font-size: 32px/16pxrem;
    font-weight: 700;
  }
}

.search-intro__title--first {
  color: #53565A;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .search-intro__title--first {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 45px;
    /* 9 */
    margin-top: 2.8125rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .search-intro__title--first {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 85px;
    /* 9 */
    margin-top: 5.3125rem;
    /* 9 */
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 400;
  }
}

.search-box {
  overflow: hidden;
  max-width: 1150px;
  border-bottom: 1px solid #53565A;
}

.search-box__content {
  float: left;
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 15px;
  /* 9 */
  padding: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .search-box__content {
    width: 60%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 25px;
    /* 9 */
    padding: 1.5625rem;
    /* 9 */
  }
}

.search-box__content--fullwidth {
  width: 100%;
}

.search-box__content-date {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 500;
  color: #53565A;
  display: block;
}

.search-box__content-medium {
  font-size: 23px;
  font-size: 23px/16pxrem;
  font-weight: 500;
  color: #53565A;
  display: inline-block;
}

.search-box__content-author {
  font-size: 23px;
  font-size: 23px/16pxrem;
  font-weight: 500;
  display: inline-block;
}

.search-box__content-break {
  margin-left: -4px;
  margin-right: -4px;
  font-size: 23px;
  font-size: 23px/16pxrem;
  font-weight: 500;
  display: inline-block;
}

.search-box__content-title {
  line-height: 1.3;
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .search-box__content-title {
    font-size: 26px;
    font-size: 26px/16pxrem;
    font-weight: 700;
  }
}

.search-box__content-title:hover {
  color: #ce0037;
  cursor: pointer;
}

.search-box__content-title--media {
  color: #53565A;
}

.search-box__content-text {
  line-height: 1.4;
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .search-box__content-text {
    font-size: 22px;
    font-size: 22px/16pxrem;
    font-weight: 300;
  }
}

.search-box__content-right {
  float: right;
  width: 40%;
}

.search-box__image {
  max-width: 100%;
  height: auto;
  display: none;
}

@media (min-width: 768px) {
  .search-box__image {
    display: block;
  }
}

.search-box:last-child {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 55px;
  /* 9 */
  margin-bottom: 3.4375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .search-box:last-child {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 125px;
    /* 9 */
    margin-bottom: 7.8125rem;
    /* 9 */
  }
}
