@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a;
}

.footer__heading {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 20px;
  /* 9 */
  padding: 2.1875rem 0 0 1.25rem;
  /* 9 */
}

.footer__content {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 50px;
  /* 9 */
  padding: 0 0 0 3.125rem;
  /* 9 */
}

.footer__content-mobile__text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 30px 0 0 0;
  /* 9 */
  padding: 1.875rem 0 0 0;
  /* 9 */
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.footer__content-paragraph {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.3125rem;
  /* 9 */
}

@media (min-width: 992px) {
  .footer__mobile {
    display: none;
  }
}

.footer__tablet {
  display: none;
}

@media (min-width: 992px) {
  .footer__tablet {
    min-height: 480px;
    display: block;
    margin: 0 auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    padding: 60px;
    /* 9 */
    padding: 3.75rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .footer__tablet {
    min-height: 550px;
  }
}

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__container-left {
    min-height: 420px;
  }
}

.footer__container-left:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-middle {
  width: 60%;
  float: left;
}

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__container-right {
    min-height: 420px;
  }
}

.footer__container-right:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-right:after {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__navbox {
    min-height: 215px;
  }
}

.footer__navbox:before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .footer__navbox:before {
    height: 75%;
  }
}

.footer__navbox-title {
  color: white;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .footer__navbox-title {
    font-size: 16px;
    top: -35px;
  }
}

@media (min-width: 1360px) {
  .footer__navbox-title {
    font-size: 20px;
  }
}

@media (min-width: 1620px) {
  .footer__navbox-title {
    font-size: 21px;
    font-weight: 600;
  }
}

.footer__navbox:nth-child(n+5) {
  padding-top: 45px;
}

.footer__navbox:nth-child(n+5):before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 1200px) {
  .footer__navbox:nth-child(n+5):before {
    height: 75%;
  }
}

.footer__navbox:nth-child(n+5) h3 {
  top: 5px;
}

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .footer__about {
    font-size: 16px;
  }
}

@media (min-width: 1620px) {
  .footer__about {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
  }
}

.footer__link:hover {
  color: #B7C9D3;
}

.footer__contact {
  border: 1px solid red !important;
}

.footer__contact-adress {
  color: white;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .footer__contact-adress {
    font-size: 16px;
  }
}

.footer__contact-adress p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 7px 30px 0 0;
  /* 9 */
  padding: 0.4375rem 1.875rem 0 0;
  /* 9 */
}

.footer__contact-telephone {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
  font-size: 14px;
  font-weight: 400;
}

.footer__contact-telephone p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 7px;
  /* 9 */
  padding-top: 0.4375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__contact-telephone {
    font-size: 16px;
  }
}

.footer__contact-email {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .footer__contact-email {
    font-size: 16px;
  }
}

.footer__contact-social {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
}

.footer__contact-social__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-right: 10px;
  /* 9 */
  padding-right: 0.625rem;
  /* 9 */
}

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12;
}

@media (min-width: 768px) {
  .nav-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: white;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.nav-mobile__facebook {
  position: absolute;
  right: 75px;
  bottom: 15px;
}

.nav-mobile__linkedin {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.nav-mobile__search--wrapper {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 80px 25px 0 0;
  /* 9 */
  margin: 5rem 1.5625rem 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__search--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 100px 25px 0 0;
    /* 9 */
    margin: 6.25rem 1.5625rem 0 0;
    /* 9 */
  }
}

.nav-mobile__search {
  position: relative;
  top: -3px;
  float: right;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

.nav-mobile__english {
  text-transform: uppercase;
  color: white;
  float: right;
  margin-right: 5px;
}

.visible {
  display: none;
}

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 150px;
    /* 9 */
    margin-top: 9.375rem;
    /* 9 */
  }
}

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 30px;
    /* 9 */
    margin-left: 1.875rem;
    /* 9 */
  }
}

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.nav-mobile__link:hover {
  color: #B7C9D3;
}

@media (min-width: 768px) {
  .nav-mobile__link {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 47%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .header__navigation-search {
    right: 0;
    display: inline-block;
  }
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__navigation--search {
  border-bottom: 1px solid #E6E6E6;
}

.header__navigation--nomargin {
  margin: 0;
}

.header__title {
  display: none;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title {
    display: block;
    height: 200px;
    background-image: url("../img/header/badania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__title-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title-wrapper {
    width: 95%;
    height: 200px;
  }
}

@media (min-width: 1620px) {
  .header__title-wrapper {
    max-width: 1600px;
  }
}

.header__title-text {
  position: absolute;
  bottom: -6px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 70px;
    font-size: 4.375rem;
  }
}

@media (min-width: 1620px) {
  .header__title-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__title--badania {
  background-image: url("../img/header/badania.jpg");
}

.header__title--raporty {
  background-image: url("../img/header/raporty.jpg");
}

.header__title--akademia {
  background-image: url("../img/header/akademia.jpg");
}

.header__title--kontakt {
  background-image: url("../img/header/kontakt.jpg");
}

.header__title--pbi {
  background-image: url("../img/header/pbi.jpg");
}

.header__title--media {
  background-image: url("../img/header/media.jpg");
}

.header__title--aktualnosci {
  background-image: url("../img/header/aktualnosci.jpg");
}

.header__title--gemius {
  background-image: url("../img/header/gemius.jpg");
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
  border: none;
}

.search-input label {
  position: relative;
  z-index: 15;
  display: none;
}

@media (min-width: 992px) {
  .search-input label {
    display: block;
  }
}

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .search-input ~ input {
    display: block;
  }
}

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 992px) {
  .search-input:checked ~ input {
    display: block;
  }
}

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__mobile--wrapper {
    display: none;
  }
}

.search__mobile-input {
  display: none;
  padding-bottom: 5px;
}

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a;
}

@media (min-width: 768px) {
  .search__mobile-input label {
    display: none;
  }
}

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .search__mobile-input ~ input {
    display: none;
  }
}

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 768px) {
  .search__mobile-input:checked ~ input {
    display: none;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.toggle__nav {
  margin: 0 auto;
  display: block;
  width: 95%;
  text-align: center;
  position: relative;
  left: 1px;
}

@media (min-width: 992px) {
  .toggle__nav {
    display: none;
  }
}

.toggle__nav label {
  cursor: pointer;
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #F2F2F2;
}

.toggle__nav label:before {
  content: url("../img/arrow-toggle.png");
  display: block;
  position: relative;
  top: 1px;
  padding: 1px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.toggle__nav label span {
  position: absolute;
  left: -9999em;
}

.toggle__nav input[type='checkbox']:checked + label[for='toggle__checkbox']:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.toggle__nav input[type='checkbox'] {
  position: absolute;
  left: -9999em;
}

.toggle__nav input[type='checkbox']:checked ~ ul {
  max-height: 13em;
  /* This value needs to exceed the potential height of the content. Try to make as close to the approximate of the content as possible. The greater the difference between the value and height of the content, the longer the pause before animation will be */
}

.toggle__nav ul {
  margin: 0 !important;
  padding: 0 !important;
  background: white;
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: 1;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle__nav ul li {
  text-align: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 15px 0;
  /* 9 */
  margin: 0.9375rem 0 0.9375rem 0;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 5px;
  /* 9 */
  padding-left: 0.3125rem;
  /* 9 */
}

.toggle__nav ul li a {
  color: black;
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 300;
}

.toggle__nav ul li a:hover {
  color: #B7C9D3;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body,
html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*/
/////////////////////////////////*/
/*/
//// Main*/
.aside-nav {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
  display: none;
}

@media (min-width: 992px) {
  .aside-nav {
    display: block;
    width: 25%;
    float: left;
  }
}

.aside-nav__item {
  display: inline-block;
  width: 70%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 40px;
  /* 9 */
  margin-left: 2.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 27px 0 27px 0;
  /* 9 */
  padding: 1.6875rem 0 1.6875rem 0;
  /* 9 */
  border-bottom: 1px solid #53565A;
}

.aside-nav__item:last-child {
  border-bottom: none;
}

.aside-nav__item--active a {
  color: #B7C9D3;
}

.aside-nav__link {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: left;
  color: #53565A;
  width: 100%;
}

.aside-nav__link:hover {
  color: #B7C9D3;
}

.aside-nav__link--active {
  color: #B7C9D3;
}

.gemius {
  overflow: hidden;
}

.gemius-content {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .gemius-content {
    float: right;
    padding-right: 5%;
    width: 75%;
  }
}

.gemius-content--wrapper {
  max-width: 1440px;
  overflow: hidden;
}

.gemius-content__main-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 40px 0 25px 0;
  /* 9 */
  padding: 2.5rem 0 1.5625rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-content__main-title {
    font-size: 48px;
    font-size: 3rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 87px 0 55px 0;
    /* 9 */
    padding: 5.4375rem 0 3.4375rem 0;
    /* 9 */
  }
}

.gemius-intro__content {
  max-width: 1280px;
}

.gemius-box {
  width: 100%;
  text-align: center;
  height: 215px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .gemius-box {
    width: 33.33333%;
    float: left;
    height: 370px;
    background-color: #808080;
    border-right: 1px solid white;
  }
  .gemius-box:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  .gemius-box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.gemius-box__icon {
  display: none;
  text-align: center;
  height: 106px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 70px 0 36px 0;
  /* 9 */
  margin: 4.375rem 0 2.25rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-box__icon {
    display: inline-block;
  }
}

.gemius-box__icon--1 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
  height: 106px;
}

@media (min-width: 768px) {
  .gemius-box__icon--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 70px;
    /* 9 */
    margin-top: 4.375rem;
    /* 9 */
  }
}

.gemius-box__icon--2 {
  height: 81px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 38px;
  /* 9 */
  margin-top: 2.375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-box__icon--2 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 98px;
    /* 9 */
    margin-top: 6.125rem;
    /* 9 */
  }
}

.gemius-box__icon--3 {
  height: 65px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 38px;
  /* 9 */
  margin-top: 2.375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-box__icon--3 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 113px;
    /* 9 */
    margin-top: 7.0625rem;
    /* 9 */
  }
}

.gemius-box__icon--mobile {
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-box__icon--mobile {
    display: none;
  }
}

.gemius-box__title:before {
  position: absolute;
  content: "";
  border-bottom: 3px solid #53565a;
  top: 0;
  width: 81px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .gemius-box__title:before {
    border-bottom: 3px solid white;
  }
}

.gemius-box__title {
  color: #53565a;
  line-height: 1.3;
  font-size: 32pxpx;
  font-size: 32pxpx/16pxrem;
  font-weight: 600;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 15px;
  /* 9 */
  padding-top: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-box__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-top: 30px;
    /* 9 */
    padding-top: 1.875rem;
    /* 9 */
    color: white;
  }
}

@media (min-width: 768px) {
  .gemius-box--wsparcie {
    background-image: url("../img/wsparcie.jpg");
  }
}

@media (min-width: 768px) {
  .gemius-box--wiarygodne {
    background-image: url("../img/wiarygodne.jpg");
  }
}

@media (min-width: 768px) {
  .gemius-box--standard {
    background-image: url("../img/standard.jpg");
  }
}

.gemius-possibilities {
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-possibilities {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 95px;
    /* 9 */
    margin-bottom: 5.9375rem;
    /* 9 */
  }
}

.gemius-possibilities__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 40px 0 15px 0;
  /* 9 */
  padding: 2.5rem 0 0.9375rem 0;
  /* 9 */
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .gemius-possibilities__title {
    font-size: 48px;
    font-size: 3rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 85px 0 48px 0;
    /* 9 */
    padding: 5.3125rem 0 3rem 0;
    /* 9 */
  }
}

.gemius-possibilities__content {
  overflow: hidden;
  max-width: 1280px;
  position: relative;
}

.gemius-possibilities__content:after {
  content: url("../img/circles/gemius-big-circle-white.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  display: none;
}

@media (min-width: 768px) {
  .gemius-possibilities__content:after {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .gemius-possibilities__content:after {
    width: 85%;
  }
}

.gemius-possibilities__content--wrapper {
  max-width: 1440px;
}

.gemius-possibilities__box {
  position: relative;
  background-color: #f2f2f2;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-possibilities__box {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    height: 100px;
    width: 100%;
    width: 32.66667%;
    height: 231px;
    float: left;
  }
  .gemius-possibilities__box:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .gemius-possibilities__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.gemius-possibilities__box-content {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 45px;
  /* 9 */
  padding: 2.8125rem;
  /* 9 */
}

.gemius-possibilities__box-circle {
  display: none;
}

@media (min-width: 768px) {
  .gemius-possibilities__box-circle {
    display: block;
    position: absolute;
  }
}

.gemius-possibilities__box-circle--1 {
  top: 0;
  right: 0;
}

.gemius-possibilities__box-circle--2 {
  bottom: 0;
  right: 0;
}

.gemius-possibilities__box-circle--3 {
  top: 0;
  left: 0;
}

.gemius-possibilities__box-circle--4 {
  top: 0;
  left: 0;
}

.gemius-possibilities__box-circle--5 {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.gemius-possibilities__box-circle--6 {
  bottom: 0;
  left: 0;
}

.gemius-possibilities__box-circle--7 {
  top: 0;
  right: 0;
}

.gemius-possibilities__box-circle--8 {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.gemius-possibilities__box-circle--9 {
  bottom: 0;
  right: 0;
}

.gemius-possibilities__box-title {
  color: #53565A;
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 36px;
  /* 9 */
  padding-bottom: 2.25rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-possibilities__box-title {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 300;
  }
}

.gemius-possibilities__box-title:before {
  position: absolute;
  content: "";
  border-bottom: 3px solid #ce0037;
  left: 0;
  bottom: 0;
  width: 103px;
}

/* Promoted Circle Gemius Explorer*/
.gemius-promoted {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-promoted {
    height: 505px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 90px;
    /* 9 */
    margin-bottom: 5.625rem;
    /* 9 */
  }
}

.gemius-promoted__content {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 8 */
  padding: 0 0 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-promoted__content {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 135px 0 0 357px;
    /* 9 */
    padding: 8.4375rem 0 0 22.3125rem;
    /* 9 */
  }
}

.gemius-promoted__content-title--first {
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .gemius-promoted__content-title--first {
    font-size: 48px;
    font-size: 3rem;
  }
}

.gemius-promoted__content-title {
  font-weight: 500;
  font-size: 20px;
  font-size: 1.25rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 10px;
  /* 9 */
  padding-bottom: 0.625rem;
  /* 9 */
  position: relative;
}

@media (min-width: 768px) {
  .gemius-promoted__content-title {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 28px;
    /* 9 */
    margin-bottom: 1.75rem;
    /* 9 */
  }
}

.gemius-promoted__content-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 81px;
  border-bottom: 2px solid #53565a;
}

.gemius-promoted__content-text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 10px;
  /* 9 */
  margin-top: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-promoted__content-text {
    line-height: 1.2;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
  }
}

.gemius-promoted__content-text--line {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 20px;
  /* 9 */
  margin-bottom: 1.25rem;
  /* 9 */
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  .gemius-promoted__content-text--line {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 5px;
    /* 9 */
    margin-bottom: 0.3125rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .gemius-promoted__content-text--line {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .gemius-promoted__content-text--line {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 400;
  }
}

.gemius-promoted__content-text--number {
  font-weight: 600;
}

.gemius-promoted__content-img {
  display: none;
}

@media (min-width: 768px) {
  .gemius-promoted__content-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 505px;
    height: 505px;
    z-index: -1;
  }
}

.gemius-promoted__content-img--mobile {
  position: absolute;
  left: -2.65%;
  top: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .gemius-promoted__content-img--mobile {
    display: none;
  }
}

/* Four Steps*/
.gemius-steps {
  overflow: hidden;
}

.gemius-steps__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .gemius-steps__title {
    font-size: 48px;
    font-size: 3rem;
  }
}

.gemius-steps__subtitle {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .gemius-steps__subtitle {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }
}

.gemius-steps__content {
  width: 100%;
  overflow: hidden;
}

.gemius-steps__content {
  max-width: 1280px;
}

.gemius-steps__content-box {
  position: relative;
  width: 100%;
  padding-left: 5%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 70px;
  /* 9 */
  margin-top: 4.375rem;
  /* 9 */
}

@media (min-width: 500px) {
  .gemius-steps__content-box {
    width: 50%;
    float: left;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .gemius-steps__content-box {
    width: 25%;
    float: left;
    padding-left: 0;
  }
}

.gemius-steps__content-box:nth-child(3) p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-steps__content-box:nth-child(3) p {
    margin: 0;
  }
}

.gemius-steps__content-image {
  height: 110px;
  position: relative;
}

.gemius-steps__content-icon {
  position: absolute;
  bottom: 10px;
  width: 50px;
}

@media (min-width: 768px) {
  .gemius-steps__content-icon {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.gemius-steps__content-icon--2 {
  width: 65px;
}

.gemius-steps__content-icon--3 {
  width: 80px;
  left: -10px;
}

.gemius-steps__content-icon--4 {
  width: 70px;
}

.gemius-steps__content-arrow {
  display: none;
}

@media (min-width: 768px) {
  .gemius-steps__content-arrow {
    position: absolute;
    width: 13px;
    top: -2px;
    right: 50px;
  }
}

.gemius-steps__content-title {
  color: #53565A;
  display: inline-block;
  position: relative;
  font-size: 50px;
  font-size: 50px/16pxrem;
  font-weight: 300;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 10px;
  /* 9 */
  padding-bottom: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-steps__content-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 23px;
    /* 9 */
    padding-bottom: 1.4375rem;
    /* 9 */
  }
}

.gemius-steps__content-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 65px;
  border-bottom: 3px solid #53565a;
}

.gemius-steps__content-title:before {
  content: url("../img/four-steps-circle.svg");
  width: 118px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -70px;
}

.gemius-steps__content-title--mobile {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

@media (min-width: 768px) {
  .gemius-steps__content-title--mobile {
    display: none;
  }
}

.gemius-steps__content-text {
  line-height: 1.2;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 10px;
  /* 9 */
  padding-top: 0.625rem;
  /* 9 */
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
}

@media (min-width: 768px) {
  .gemius-steps__content-text {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-top: 23px;
    /* 9 */
    padding-top: 1.4375rem;
    /* 9 */
  }
}

.gemius-steps__content-send {
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  height: 62px;
  clear: both;
  text-align: center;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 55px 0 90px 0;
  /* 9 */
  margin: 3.4375rem 0 5.625rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .gemius-steps__content-send {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 88px 0 160px 0;
    /* 9 */
    margin: 5.5rem 0 10rem 0;
    /* 9 */
  }
}

.gemius-steps__content-button {
  cursor: pointer;
  color: #53565a;
  height: 61px;
  width: 278px;
  display: inline-block;
  border: 1px solid #53565a;
  border-radius: 30px;
  line-height: 61px;
}

.gemius-steps__content-button:hover {
  background-color: #53565a;
  color: white;
}

.gemius-steps__content-button span:after {
  content: url("../img/arrow-small.png");
  position: relative;
  left: 10px;
}

.gemius-steps__content-button:hover span:after {
  display: inline-block;
  content: url("../img/arrow-white-small.png");
  position: relative;
  left: 10px;
}

/* FORM ////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ginput_container {
  margin-bottom: 50px;
}

.ginput_container li li {
  padding-left: 25px;
}

.form--wrapper .ginput_container {
  margin-bottom: 10px;
}

.form-container--wrapper {
  max-width: 1380px;
  float: right;
  width: 95%;
}

@media (min-width: 992px) {
  .form-container--wrapper {
    width: 75%;
  }
}

.form-container--wrapper label {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 0 0 5px 0;
  /* 9 */
  margin: 0 0 0.3125rem 0;
  /* 9 */
  display: inline-block;
}

.gfield_label {
  display: inline-block;
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 600;
  margin-bottom: 15px !important;
}

.form__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 25px 0 15px 0;
  /* 9 */
  margin: 1.5625rem 0 0.9375rem 0;
  /* 9 */
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.form-title--first {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 55px 0 15px 0;
  /* 9 */
  margin: 3.4375rem 0 0.9375rem 0;
  /* 9 */
}

.form__title--last {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 105px 0 15px 0;
  /* 9 */
  margin: 6.5625rem 0 0.9375rem 0;
  /* 9 */
}

.form__title--small {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 10px 0 10px 0;
  /* 9 */
  margin: 0.625rem 0 0.625rem 0;
  /* 9 */
}

.form__label {
  display: block;
}

.form__label--padding {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 15px;
  /* 9 */
  padding-left: 0.9375rem;
  /* 9 */
}

.form__label--big {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 10px 0 10px 0;
  /* 9 */
  margin: 0.625rem 0 0.625rem 0;
  /* 9 */
  padding: 0;
}

.form__checkbox {
  display: inline-block;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__input {
  display: block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 20px;
  /* 9 */
  margin-bottom: 1.25rem;
  /* 9 */
  outline: none;
  width: 300px;
}

.form__send {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 20px 0 80px 0;
  /* 9 */
  margin: 1.25rem 0 5rem 0;
  /* 9 */
}

.form__send span {
  text-decoration: underline;
  color: blue;
}

.form__send-button {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
  text-align: center;
  display: block;
  border-radius: 25px;
  height: 45px;
  line-height: 45px;
  width: 162px;
  border: 1px solid #53565a;
  color: #53565a;
}

.form__send-button:hover {
  color: white;
  background-color: #53565a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ginput_container_text input {
  padding: 5px 15px;
}

.ginput_container div:last-child {
  margin-bottom: 50px;
}

.gform_button {
  background-color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 50px 0;
  /* 9 */
  margin: 0.9375rem 0 3.125rem 0;
  /* 9 */
  text-align: center;
  display: block;
  border-radius: 25px;
  height: 45px;
  line-height: 45px;
  width: 162px;
  border: 1px solid #53565a;
  color: #53565a;
}

.gform_button:hover {
  color: white;
  background-color: #53565a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
