@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a;
}

.footer__heading {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 20px;
  /* 9 */
  padding: 2.1875rem 0 0 1.25rem;
  /* 9 */
}

.footer__content {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 50px;
  /* 9 */
  padding: 0 0 0 3.125rem;
  /* 9 */
}

.footer__content-mobile__text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 30px 0 0 0;
  /* 9 */
  padding: 1.875rem 0 0 0;
  /* 9 */
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.footer__content-paragraph {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.3125rem;
  /* 9 */
}

@media (min-width: 992px) {
  .footer__mobile {
    display: none;
  }
}

.footer__tablet {
  display: none;
}

@media (min-width: 992px) {
  .footer__tablet {
    min-height: 480px;
    display: block;
    margin: 0 auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    padding: 60px;
    /* 9 */
    padding: 3.75rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .footer__tablet {
    min-height: 550px;
  }
}

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__container-left {
    min-height: 420px;
  }
}

.footer__container-left:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-middle {
  width: 60%;
  float: left;
}

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__container-right {
    min-height: 420px;
  }
}

.footer__container-right:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-right:after {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__navbox {
    min-height: 215px;
  }
}

.footer__navbox:before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .footer__navbox:before {
    height: 75%;
  }
}

.footer__navbox-title {
  color: white;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .footer__navbox-title {
    font-size: 16px;
    top: -35px;
  }
}

@media (min-width: 1360px) {
  .footer__navbox-title {
    font-size: 20px;
  }
}

@media (min-width: 1620px) {
  .footer__navbox-title {
    font-size: 21px;
    font-weight: 600;
  }
}

.footer__navbox:nth-child(n+5) {
  padding-top: 45px;
}

.footer__navbox:nth-child(n+5):before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 1200px) {
  .footer__navbox:nth-child(n+5):before {
    height: 75%;
  }
}

.footer__navbox:nth-child(n+5) h3 {
  top: 5px;
}

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .footer__about {
    font-size: 16px;
  }
}

@media (min-width: 1620px) {
  .footer__about {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
  }
}

.footer__link:hover {
  color: #B7C9D3;
}

.footer__contact {
  border: 1px solid red !important;
}

.footer__contact-adress {
  color: white;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .footer__contact-adress {
    font-size: 16px;
  }
}

.footer__contact-adress p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 7px 30px 0 0;
  /* 9 */
  padding: 0.4375rem 1.875rem 0 0;
  /* 9 */
}

.footer__contact-telephone {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
  font-size: 14px;
  font-weight: 400;
}

.footer__contact-telephone p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 7px;
  /* 9 */
  padding-top: 0.4375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__contact-telephone {
    font-size: 16px;
  }
}

.footer__contact-email {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .footer__contact-email {
    font-size: 16px;
  }
}

.footer__contact-social {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
}

.footer__contact-social__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-right: 10px;
  /* 9 */
  padding-right: 0.625rem;
  /* 9 */
}

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12;
}

@media (min-width: 768px) {
  .nav-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: white;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.nav-mobile__facebook {
  position: absolute;
  right: 75px;
  bottom: 15px;
}

.nav-mobile__linkedin {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.nav-mobile__search--wrapper {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 80px 25px 0 0;
  /* 9 */
  margin: 5rem 1.5625rem 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__search--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 100px 25px 0 0;
    /* 9 */
    margin: 6.25rem 1.5625rem 0 0;
    /* 9 */
  }
}

.nav-mobile__search {
  position: relative;
  top: -3px;
  float: right;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

.nav-mobile__english {
  text-transform: uppercase;
  color: white;
  float: right;
  margin-right: 5px;
}

.visible {
  display: none;
}

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 150px;
    /* 9 */
    margin-top: 9.375rem;
    /* 9 */
  }
}

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 30px;
    /* 9 */
    margin-left: 1.875rem;
    /* 9 */
  }
}

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.nav-mobile__link:hover {
  color: #B7C9D3;
}

@media (min-width: 768px) {
  .nav-mobile__link {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 47%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .header__navigation-search {
    right: 0;
    display: inline-block;
  }
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__navigation--search {
  border-bottom: 1px solid #E6E6E6;
}

.header__navigation--nomargin {
  margin: 0;
}

.header__title {
  display: none;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title {
    display: block;
    height: 200px;
    background-image: url("../img/header/badania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__title-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title-wrapper {
    width: 95%;
    height: 200px;
  }
}

@media (min-width: 1620px) {
  .header__title-wrapper {
    max-width: 1600px;
  }
}

.header__title-text {
  position: absolute;
  bottom: -6px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 70px;
    font-size: 4.375rem;
  }
}

@media (min-width: 1620px) {
  .header__title-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__title--badania {
  background-image: url("../img/header/badania.jpg");
}

.header__title--raporty {
  background-image: url("../img/header/raporty.jpg");
}

.header__title--akademia {
  background-image: url("../img/header/akademia.jpg");
}

.header__title--kontakt {
  background-image: url("../img/header/kontakt.jpg");
}

.header__title--pbi {
  background-image: url("../img/header/pbi.jpg");
}

.header__title--media {
  background-image: url("../img/header/media.jpg");
}

.header__title--aktualnosci {
  background-image: url("../img/header/aktualnosci.jpg");
}

.header__title--gemius {
  background-image: url("../img/header/gemius.jpg");
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
  border: none;
}

.search-input label {
  position: relative;
  z-index: 15;
  display: none;
}

@media (min-width: 992px) {
  .search-input label {
    display: block;
  }
}

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .search-input ~ input {
    display: block;
  }
}

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 992px) {
  .search-input:checked ~ input {
    display: block;
  }
}

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__mobile--wrapper {
    display: none;
  }
}

.search__mobile-input {
  display: none;
  padding-bottom: 5px;
}

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a;
}

@media (min-width: 768px) {
  .search__mobile-input label {
    display: none;
  }
}

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .search__mobile-input ~ input {
    display: none;
  }
}

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 768px) {
  .search__mobile-input:checked ~ input {
    display: none;
  }
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body,
html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*/
///////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*/
/////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 170px;
  /* 9 */
  margin-bottom: 10.625rem;
  /* 9 */
  /* Navigation container*/
  /* Claim*/
  /* Navboxes*/
  /* Container for navboxes*/
}

@media (min-width: 1620px) {
  .header {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 260px;
    /* 9 */
    margin-bottom: 16.25rem;
    /* 9 */
  }
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__claim {
  background: url("../img/header-claim.png") no-repeat center top;
  background-size: cover;
  min-height: 380px;
  /* Claim text*/
}

@media (min-width: 1200px) {
  .header__claim {
    min-height: 500px;
    background: url("../img/header-claim-desktop.jpg") no-repeat center top;
  }
}

@media (min-width: 1360px) {
  .header__claim {
    min-height: 600px;
    background: url("../img/header-claim-desktop.jpg") no-repeat center top;
  }
}

.header__claim-container {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 10px;
  /* 9 */
  padding: 3.5rem 0 0 1rem;
  /* 9 */
  /* Mobile*/
  /* Tablet*/
}

@media (min-width: 500px) {
  .header__claim-container {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    padding: 0;
    /* 9 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}

.header__claim-text {
  color: white;
  font-size: 45px;
  font-size: 2.8125rem;
  font-weight: 700;
}

@media (min-width: 500px) {
  .header__claim-text {
    display: inline-block;
    font-size: 40px;
    font-size: 2.5rem;
  }
}

@media (min-width: 500px) and (min-width: 1200px) {
  .header__claim-text {
    font-size: 56px;
    font-size: 3.5rem;
  }
}

@media (min-width: 500px) and (min-width: 1360px) {
  .header__claim-text {
    font-size: 68px;
    font-size: 4.25rem;
  }
}

@media (min-width: 500px) and (min-width: 1620px) {
  .header__claim-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__navboxes {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: -150px;
  width: 95%;
  background-color: #fff;
  /* Navigation box*/
  /* Inner borders*/
}

@media (min-width: 500px) {
  .header__navboxes {
    width: 455px;
  }
}

@media (min-width: 768px) {
  .header__navboxes {
    bottom: -100px;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .header__navboxes {
    bottom: -125px;
    max-width: 1600px;
  }
}

@media (min-width: 1360px) {
  .header__navboxes {
    bottom: -150px;
  }
}

@media (min-width: 1620px) {
  .header__navboxes {
    width: 1600px;
    bottom: -200px;
  }
}

.header__navboxes-navbox {
  position: relative;
  float: left;
  width: 50%;
  height: 150px;
  border-bottom: 1px solid #f2f2f2;
  /* First heading with different padding*/
  /* Line after heading*/
}

@media (min-width: 768px) {
  .header__navboxes-navbox {
    width: 25%;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox {
    height: 250px;
  }
}

@media (min-width: 1360px) {
  .header__navboxes-navbox {
    min-height: 300px;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox {
    min-height: 400px;
  }
}

.header__navboxes-navbox:hover:after {
  content: '';
  position: absolute;
  bottom: -70px;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__navboxes-navbox:hover {
    box-shadow: -6px 3px 18px 0 #bfbdbf;
    position: relative;
    top: -25px;
    background-color: white;
    z-index: 0;
  }
}

.header__navboxes-navbox__circle {
  position: absolute;
  z-index: -1;
  display: none;
}

@media (min-width: 768px) {
  .header__navboxes-navbox__circle {
    display: block;
  }
}

@media (min-width: 768px) {
  .header__navboxes-navbox__circle {
    max-width: 70%;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__circle {
    max-width: 100%;
  }
}

.header__navboxes-navbox__circle--1 {
  left: 0;
  bottom: 0;
}

.header__navboxes-navbox__circle--2 {
  top: 0;
  left: 0;
}

.header__navboxes-navbox__circle--3 {
  bottom: 0;
  left: 0;
}

.header__navboxes-navbox__circle--4 {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .header__navboxes-navbox__circle--1, .header__navboxes-navbox__circle--4 {
    max-height: 70%;
  }
}

.header__navboxes-navbox__heading {
  color: #53565a;
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 16px 0 0 10px;
  /* 9 */
  margin: 1.6rem 0 0 1rem;
  /* 9 */
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header__navboxes-navbox__heading {
    font-size: 20px;
    font-size: 1.25rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 20px 0 0 25px;
    /* 9 */
    margin: 1.25rem 0 0 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__heading {
    font-size: 24px;
    font-size: 1.5rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 35px 0 0 50px;
    /* 9 */
    margin: 2.1875rem 0 0 3.125rem;
    /* 9 */
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__heading {
    font-size: 42px;
    font-size: 2.625rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 75px 0 0 70px;
    /* 9 */
    margin: 4.6875rem 0 0 4.375rem;
    /* 9 */
  }
}

.header__navboxes-navbox__heading--1 {
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 6px 0 0 10px;
  /* 9 */
  margin: 0.6rem 0 0 1rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navboxes-navbox__heading--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 19px 0 0 25px;
    /* 9 */
    margin: 1.1875rem 0 0 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__heading--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 35px 0 0 50px;
    /* 9 */
    margin: 2.1875rem 0 0 3.125rem;
    /* 9 */
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__heading--1 {
    text-align: left;
    font-size: 42px;
    font-size: 2.625rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 75px 0 0 70px;
    /* 9 */
    margin: 4.6875rem 0 0 4.375rem;
    /* 9 */
    padding: 0;
  }
}

.header__navboxes-navbox__heading:after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #53565a;
  left: 0;
  bottom: -13px;
  width: 67px;
}

@media (min-width: 768px) {
  .header__navboxes-navbox__heading:after {
    left: 0;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__heading:after {
    width: 45%;
  }
}

.header__navboxes-navbox__paragraph {
  line-height: 1.3;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 5px 0 10px;
  /* 9 */
  padding: 0 0.5rem 0 1rem;
  /* 9 */
  margin-top: 25px;
  font-size: 12px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .header__navboxes-navbox__paragraph {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 0 5px 0 25px;
    /* 9 */
    padding: 0 0.3125rem 0 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__paragraph {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 5px 5px 0 50px;
    /* 9 */
    padding: 0.3125rem 0.3125rem 0 3.125rem;
    /* 9 */
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__paragraph {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 5px 45px 0 70px;
    /* 9 */
    padding: 0.3125rem 2.8125rem 0 4.375rem;
    /* 9 */
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__paragraph {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.header__navboxes-navbox:hover .header__navboxes-navbox__link {
  color: black;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .header__navboxes-navbox:hover .header__navboxes-navbox__link {
    border: 2px solid black;
  }
}

@media (min-width: 1360px) {
  .header__navboxes-navbox:hover .header__navboxes-navbox__link--text:after {
    content: url("../img/navbox-black-arrow.png");
    position: relative;
    right: -7px;
  }
}

.header__navboxes-navbox__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 10px;
  /* 9 */
  padding: 0 0 0 1rem;
  /* 9 */
  color: #53565a;
}

@media (min-width: 768px) {
  .header__navboxes-navbox__link {
    text-align: center;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 35px 0 0 25px;
    /* 9 */
    margin: 2.1875rem 0 0 1.5625rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    padding: 0;
    /* 9 */
    text-align: center;
    line-height: 36px;
    display: block;
    width: 105px;
    height: 36px;
    border-radius: 25px;
    border: 1px solid #53565a;
    color: #53565a;
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__link {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 35px 0 0 50px;
    /* 9 */
    margin: 2.1875rem 0 0 3.125rem;
    /* 9 */
  }
}

@media (min-width: 1360px) {
  .header__navboxes-navbox__link {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 45px 0 0 35px;
    /* 9 */
    margin: 2.8125rem 0 0 2.1875rem;
    /* 9 */
    width: 150px;
    height: 43px;
    line-height: 43px;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__link {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 60px 0 0 70px;
    /* 9 */
    margin: 3.75rem 0 0 4.375rem;
    /* 9 */
    font-size: 14px;
    font-size: 0.875rem;
    width: 180px;
    height: 52px;
    line-height: 52px;
  }
}

.header__navboxes-navbox__link--text {
  display: none;
  position: relative;
  line-height: 36px;
}

@media (min-width: 1360px) {
  .header__navboxes-navbox__link--text {
    line-height: 43px;
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__link--text {
    line-height: 52px;
  }
}

@media (min-width: 768px) {
  .header__navboxes-navbox__link--text {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (min-width: 1360px) {
  .header__navboxes-navbox__link--text:after {
    content: url("../img/navbox-grey-arrow.png");
    position: relative;
    right: -7px;
  }
}

@media (min-width: 768px) {
  .header__navboxes-navbox__link--arrow {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__navboxes-navbox__link--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 17px 0 0 35px;
    /* 9 */
    margin: 1.0625rem 0 0 2.1875rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__link--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 13px 0 0 35px;
    /* 9 */
    margin: 0.8125rem 0 0 2.1875rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .header__navboxes-navbox__link--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 20px 0 0 50px;
    /* 9 */
    margin: 1.25rem 0 0 3.125rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__navboxes-navbox__link--1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 20px 0 0 70px;
    /* 9 */
    margin: 1.25rem 0 0 4.375rem;
    /* 9 */
  }
}

.header__navboxes-navbox--1 {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.header__navboxes-navbox--2 {
  border-bottom: 1px solid #E6E6E6;
}

@media (min-width: 768px) {
  .header__navboxes-navbox--2 {
    border-right: 1px solid #E6E6E6;
  }
}

.header__navboxes-navbox--3 {
  border-right: 1px solid #E6E6E6;
}

@media (min-width: 768px) {
  .header__navboxes-navbox--3 {
    border-right: 1px solid #E6E6E6;
  }
}

.news {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .news {
    width: 90%;
  }
}

@media (min-width: 1620px) {
  .news {
    width: 1600px;
  }
}

@media (min-width: 992px) {
  .news__wrapper-right {
    float: right;
    width: calc(50% - 5px);
  }
}

@media (min-width: 992px) {
  .news__wrapper-left {
    float: left;
    width: calc(50% - 5px);
  }
}

@media (min-width: 1620px) {
  .news__wrapper-left {
    width: calc(50% - 15px);
  }
}

@media (min-width: 992px) {
  .news__wrapper-aside {
    float: right;
    width: calc(50% - 5px);
  }
}

@media (min-width: 1620px) {
  .news__wrapper-aside {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 13px;
    /* 9 */
    margin-top: 0.8125rem;
    /* 9 */
  }
}

.news__heading {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .news__heading {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .news__heading {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */
    font-size: 36px;
    font-size: 2.25rem;
  }
}

@media (min-width: 1620px) {
  .news__heading {
    font-size: 48px;
    font-size: 3rem;
  }
}

/*/
/////////////////////////////////////////////////////*/
/* Promoted Article*/
.news__article {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .news__article {
    display: none;
  }
}

.news__article-bar {
  background-color: #E6E6E6;
  height: 40px;
  position: relative;
}

.news__article-bar__tag {
  line-height: 40px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 10px;
  /* 9 */
  padding-left: 1rem;
  /* 9 */
}

.news__article-bar__share {
  cursor: pointer;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}

.news__article-photo {
  width: 100%;
  height: auto;
  display: block;
}

.news__article-content {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 10px 10px 10px;
  /* 9 */
  padding: 0.5rem 1rem 1rem 1rem;
  /* 9 */
  height: auto;
  background-color: #f2f2f2;
}

.news__article-date {
  margin-bottom: 10px;
  font-size: 12px;
  font-size: 12px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .news__article-date {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .news__article-date {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

.news__article-title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.news__article-title:hover {
  color: #ce0037;
  cursor: pointer;
}

.news__article-title a {
  color: black;
}

.news__article-title a:hover {
  color: #ce0037;
  cursor: pointer;
}

.news__article-text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
}

/*/
/////////////////////////////////////////////////////*/
/* Promoted Article tablet version*/
.news__tarticle {
  height: 600px;
  position: relative;
  display: none;
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .news__tarticle {
    display: block;
    height: 400px;
  }
}

@media (min-width: 1620px) {
  .news__tarticle {
    display: block;
    height: 603px;
  }
}

.news__tarticle-circle {
  position: absolute;
  bottom: 0;
  left: 4.8%;
  z-index: 1;
  max-height: 12vmax;
}

@media (min-width: 1620px) {
  .news__tarticle-circle {
    max-height: 15vmax;
    left: 46px;
  }
}

.news__tarticle--wrapper {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.news__tarticle--wrapper:hover {
  opacity: 0.5;
}

.news__tarticle-img {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  max-width: 100%;
}

@media (min-width: 768px) {
  .news__tarticle-img {
    max-width: 100%;
    max-height: 450px;
  }
}

@media (min-width: 850px) {
  .news__tarticle-img {
    max-height: 520px;
  }
}

@media (min-width: 995px) {
  .news__tarticle-img {
    max-width: initial;
  }
}

@media (min-width: 1620px) {
  .news__tarticle-img {
    max-height: 603px;
  }
}

.news__tarticle-title {
  z-index: 5;
  position: relative;
  top: 45px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
}

.news__tarticle-title h3:hover {
  color: #ce0037;
  cursor: pointer;
}

.news__tarticle-title h3 a {
  color: black;
}

.news__tarticle-title h3 a:hover {
  color: #ce0037;
  cursor: pointer;
}

@media (min-width: 768px) {
  .news__tarticle-title {
    margin-right: 15%;
    font-size: 16px;
    font-size: 1rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 5px 0 0 15px;
    /* 9 */
    padding: 0.3125rem 0 0 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 993px) {
  .news__tarticle-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 5px 0 0 15px;
    /* 9 */
    padding: 0.3125rem 0 0 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .news__tarticle-title {
    width: 100%;
  }
}

.news__tarticle-title--wrapper {
  width: 100%;
}

.news__tarticle-title--inline {
  position: relative;
  line-height: 1.3;
  display: inline;
  background-color: #E6E6E6;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 1620px) {
  .news__tarticle-title--inline {
    font-size: 34px;
    font-size: 34px/16pxrem;
    font-weight: 700;
  }
}

.news__tarticle-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #E6E6E6;
}

.news__tarticle-bar {
  height: 40px;
  position: relative;
  left: 0;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #f2f2f2;
}

.news__tarticle-bar__title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 40px;
}

.news__tarticle-bar__share img {
  cursor: pointer;
  width: 18px !important;
  position: absolute;
  top: 10px !important;
  right: 1px;
}

.news__tarticle-content {
  top: 125%;
  left: 0;
  padding-left: 2.3%;
  padding-right: 2.3%;
  width: 250px;
  position: absolute;
  height: auto;
}

@media (min-width: 1620px) {
  .news__tarticle-content {
    padding-left: 1.6%;
    padding-right: 1.6%;
  }
}

.news__tarticle-content__text {
  word-wrap: break-word;
  padding: 0;
  position: relative;
  line-height: 1.2;
  font-size: 12pxpx;
  font-size: 12pxpx/16pxrem;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 10px;
  /* 9 */
  padding-top: 0.625rem;
  /* 9 */
  font-size: 12px;
  font-size: 0.75rem;
}

@media (min-width: 1200px) {
  .news__tarticle-content__text {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (min-width: 1360px) {
  .news__tarticle-content__text {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 1620px) {
  .news__tarticle-content__text {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.news__tarticle-content__text:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-top: 1px solid #f2f2f2;
  width: 100%;
}

@media (min-width: 1620px) {
  .news__tarticle-content__text:after {
    top: -10px;
    z-index: 5;
  }
}

.news__tarticle-details {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
}

.news__tarticle-details__date {
  float: left;
  font-weight: 400;
}

.news__tarticle-details__link {
  float: right;
  width: 20px;
  position: relative;
  top: 3px;
}

@media (min-width: 1200px) {
  .news__tarticle-details__link {
    width: 26px;
  }
}

/*/
/////////////////////////////////////////////////////*/
/* Normal Article*/
.news__small {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.news__small-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
}

@media (min-width: 1620px) {
  .news__small-container {
    margin-bottom: 24px;
  }
}

.news__small-container__details {
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 40px;
  right: 0;
  overflow: hidden;
}

@media (min-width: 1360px) {
  .news__small-container__details {
    width: 40%;
  }
}

.news__small-container:nth-child(even) .news__small-container__details {
  left: 0;
}

.news__small-container__date {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 10px;
  /* 9 */
  padding-left: 0.625rem;
  /* 9 */
  font-size: 12px;
  font-size: 12px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .news__small-container__date {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .news__small-container__date {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1620px) {
  .news__small-container__date {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */
  }
}

.news__small-container__link {
  position: absolute;
  right: 15px;
  bottom: 19px;
  line-height: 40px;
  width: 20px;
}

@media (min-width: 1200px) {
  .news__small-container__link {
    width: 27px;
  }
}

.news__small-container--padding {
  background-color: #f2f2f2;
}

.news__small-container:nth-child(even) > div {
  background-color: white;
}

.news__small-content {
  width: 50%;
  float: right;
  position: relative;
  z-index: 1;
  /* Photo container*/
  /* Text container*/
  /* Title of the small article*/
  /* Time of publishing*/
}

.news__small-content__circle-half {
  display: none;
}

@media (min-width: 500px) {
  .news__small-content__circle-half {
    display: block;
    position: absolute;
    right: -60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 120px;
    right: -60px;
  }
}

@media (min-width: 768px) {
  .news__small-content__circle-half {
    position: absolute;
    right: -82px;
    top: 50%;
    width: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
  }
}

.news__small-content--photo {
  position: relative;
  float: left;
  width: 50%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .news__small-content--photo {
    max-height: 240px;
  }
}

@media (min-width: 1360px) {
  .news__small-content--photo {
    width: 60%;
  }
}

@media (min-width: 1620px) {
  .news__small-content--photo {
    max-height: 288px;
  }
}

.news__small-content--photo:hover {
  opacity: 0.5;
}

.news__small-content--text {
  float: left;
  width: 50%;
  overflow: hidden;
}

@media (min-width: 1360px) {
  .news__small-content--text {
    width: 40%;
  }
}

.news__small-content__title {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 5px 0 0 5px;
  /* 9 */
  margin: 0.5rem 0 0 0.5rem;
  /* 9 */
}

.news__small-content__title:hover {
  color: #ce0037;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .news__small-content__title:after {
    content: "";
    border-bottom: 3px solid #53565a;
    left: 0;
    bottom: -4px;
    width: 25%;
    position: absolute;
  }
}

@media (min-width: 1200px) and (min-width: 1360px) {
  .news__small-content__title:after {
    bottom: -8px;
  }
}

@media (min-width: 1360px) {
  .news__small-content__title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 15px 0 0 15px;
    /* 9 */
    margin: 0.9375rem 0 0 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .news__small-content__title {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.news__small-content__title a {
  color: black;
}

.news__small-content__title a:hover {
  color: #ce0037;
  cursor: pointer;
}

.news__small-content__text {
  line-height: 1.2;
  display: none;
}

@media (min-width: 600px) {
  .news__small-content__text {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 5px 0 0 5px;
    /* 9 */
    padding: 0.5rem 0 0 0.5rem;
    /* 9 */
  }
}

@media (min-width: 600px) and (min-width: 1360px) {
  .news__small-content__text {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 15px 15px 0 15px;
    /* 9 */
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .news__small-content__text {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.news__small-photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.news__small-bar {
  height: 24px;
  position: relative;
  border: 1px solid #E6E6E6;
  border-top: none;
  border-right: none;
  /* Name of Tag*/
  /* Share Button*/
}

@media (min-width: 1360px) {
  .news__small-bar {
    height: 40px;
  }
}

.news__small-bar__tag {
  font-weight: 600;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 24px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 5px;
  /* 9 */
  padding-left: 0.5rem;
  /* 9 */
}

@media (min-width: 1360px) {
  .news__small-bar__tag {
    line-height: 40px;
    font-size: 12px;
    font-size: 0.75rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .news__small-bar__tag {
    font-size: 16px;
    font-size: 1rem;
  }
}

.news__small-bar__share img:first-child {
  cursor: pointer;
  position: absolute;
  top: 5px;
  width: 13px;
  right: 15px;
  display: block;
}

@media (min-width: 1360px) {
  .news__small-bar__share img:first-child {
    top: 10px;
    width: 18px;
  }
}

.news__small-showall {
  border: 1px solid #E6E6E6;
  height: 40px;
  line-height: 40px;
  color: black;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 5px;
  /* 9 */
  margin-bottom: 0.5rem;
  /* 9 */
}

.news__small-showall:hover {
  color: white;
  background-color: #E6E6E6;
}

@media (min-width: 1200px) {
  .news__small-showall {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 1620px) {
  .news__small-showall {
    font-size: 22px;
    font-size: 1.375rem;
    height: 80px;
    line-height: 80px;
  }
}

/* float right every second article*/
div [where=right] {
  float: right;
}

.news__small-container:nth-child(even) .news__small-content .news__small-content__circle-half {
  left: -60px;
}

@media (min-width: 768px) {
  .news__small-container:nth-child(even) .news__small-content .news__small-content__circle-half {
    left: -80px;
  }
}

/*/
/////////////////////////////////////////////////////*/
/* Aside Promo Material*/
.news__aside {
  overflow: hidden;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 1rem;
  /* 9 */
}

.news__aside-wrapper {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 20px 10px;
  /* 9 */
  padding: 2rem 1rem;
  /* 9 */
  overflow: hidden;
}

@media (min-width: 1620px) {
  .news__aside-wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 100px 60px;
    /* 9 */
    padding: 6.25rem 3.75rem;
    /* 9 */
  }
}

.news__aside-content {
  width: 100%;
  background-color: #53565a;
  min-height: 26vmax;
}

@media (min-width: 1360px) {
  .news__aside-content {
    min-height: 25vmax;
  }
}

@media (min-width: 1620px) {
  .news__aside-content {
    height: 708px;
  }
}

.news__aside-circle {
  position: absolute;
  top: 0;
  right: 6%;
  max-height: 12vmax;
}

@media (min-width: 1620px) {
  .news__aside-circle {
    max-height: 15vmax;
    right: 50px;
  }
}

.news__aside-icon {
  display: block;
  max-width: 100%;
}

@media (min-width: 1620px) {
  .news__aside-icon {
    display: none;
  }
}

.news__aside-icon--desktop {
  display: none;
}

@media (min-width: 1620px) {
  .news__aside-icon--desktop {
    display: block;
    max-width: 100%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 0 0 50px 40px;
    /* 9 */
    margin: 0 0 3.125rem 2.5rem;
    /* 9 */
  }
}

.news__aside-title {
  color: #eedc00;
  position: relative;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 17px 0 10px 0;
  /* 9 */
  padding: 1.7rem 0 1rem 0;
  /* 9 */
}

.news__aside-title:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #E6E6E6;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (min-width: 1620px) {
  .news__aside-title {
    font-size: 54px;
    font-size: 3.375rem;
  }
}

.news__aside-text {
  color: white;
  line-height: 1.3;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 10px;
  /* 9 */
  padding-top: 1rem;
  /* 9 */
}

@media (min-width: 1360px) {
  .news__aside-text {
    font-size: 20px;
    font-size: 1.25rem;
    float: left;
    width: 55%;
    min-height: 150px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-top: 25px;
    /* 9 */
    padding-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .news__aside-text {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.news__aside-button {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 30px;
  /* 9 */
  padding-top: 1.875rem;
  /* 9 */
}

@media (min-width: 1360px) {
  .news__aside-button {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 30px;
    /* 9 */
    padding-left: 1.875rem;
    /* 9 */
    float: left;
    min-height: 150px;
    width: 45%;
  }
  .news__aside-button__arrow {
    position: absolute;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-top: 25px;
    /* 9 */
    padding-top: 1.5625rem;
    /* 9 */
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.news__aside-link {
  display: block;
  position: relative;
  border: 1px solid white;
  height: 61px;
  width: 149px;
  border-radius: 40px;
}

@media (min-width: 1620px) {
  .news__aside-link {
    height: 81px;
    width: 189px;
  }
}

.news__aside-link:after {
  position: absolute;
  content: url("../img/arrow-white.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.news__aside-link:hover:after {
  position: absolute;
  left: 53%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*/
/////////////////////////////////////////////////////*/
/* Section Materials*/
.materials {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .materials {
    width: 90%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 30px 0 30px 0;
    /* 9 */
    padding: 1.875rem 0 1.875rem 0;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .materials {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 100px 0 80px 0;
    /* 9 */
    padding: 6.25rem 0 5rem 0;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .materials {
    width: 1600px;
  }
}

.materials__heading {
  font-size: 20px;
  font-size: 1.25rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 1rem;
  /* 9 */
  font-weight: 700;
}

@media (min-width: 768px) {
  .materials__heading {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .materials__heading {
    display: none;
  }
}

.materials__content {
  position: relative;
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 20px;
  /* 9 */
  padding-bottom: 2rem;
  /* 9 */
}

.materials__content:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #E6E6E6;
  left: 0;
  bottom: 15px;
  width: 100%;
}

.materials__title {
  float: left;
  width: 50%;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #53565A;
}

@media (min-width: 768px) {
  .materials__title {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .materials__title {
    font-size: 24px;
    font-size: 1.5rem;
    width: 30%;
  }
}

@media (min-width: 1620px) {
  .materials__title {
    font-size: 42px;
    font-size: 2.625rem;
  }
}

.materials__description {
  line-height: 1.3;
  float: right;
  width: 50%;
  color: #53565A;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .materials__description {
    width: 45%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .materials__description {
    float: left;
    width: 55%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 50px;
    /* 9 */
    padding-left: 3.125rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .materials__description {
    font-size: 26px;
    font-size: 1.625rem;
  }
}

.materials__description-link {
  color: inherit;
}

@media (min-width: 768px) {
  .materials__description-link {
    cursor: text;
  }
}

.materials__arrow {
  display: none;
}

@media (min-width: 768px) {
  .materials__arrow {
    display: inline-block;
    position: relative;
    left: 55px;
  }
}

@media (min-width: 1620px) {
  .materials__arrow {
    display: none;
  }
}

.materials__arrow--big {
  display: none;
}

@media (min-width: 1620px) {
  .materials__arrow--big {
    display: block;
    position: absolute;
    top: 30%;
    right: 55px;
    height: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .materials__arrow--big:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    right: 50px;
  }
}

@media (min-width: 1200px) {
  .materials__number {
    display: none;
  }
}

.materials__number-title {
  color: #ce0037;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
}

.materials__number-content {
  width: 50%;
}

.materials__number-content--right {
  float: right;
}

.materials__number-content--left {
  float: left;
}

.materials__number-big {
  color: #ce0037;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 700;
}

.materials__number-text {
  color: #53565a;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 10px;
  /* 9 */
  padding-top: 1rem;
  /* 9 */
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .materials__number-text {
    display: none;
  }
}

/* Desktop Materials*/
.materials {
  overflow: hidden;
}

@media (min-width: 1620px) {
  .materials {
    height: 600px;
    overflow: visible;
  }
}

.materials__left {
  display: none;
}

@media (min-width: 1200px) {
  .materials__left {
    display: block;
    float: left;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .materials__middle {
    width: 55%;
    float: left;
  }
}

.materials__right {
  display: none;
}

@media (min-width: 1200px) {
  .materials__right {
    display: block;
    float: right;
    width: 25%;
  }
}

.materials__heading--desktop {
  font-size: 36px;
  font-size: 2.25rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 35px;
  /* 9 */
  padding-bottom: 2.1875rem;
  /* 9 */
}

@media (min-width: 1620px) {
  .materials__heading--desktop {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .materials__number--desktop {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 25px;
    /* 9 */
    padding-left: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1360px) {
  .materials__number--desktop {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 65px;
    /* 9 */
    padding-left: 4.0625rem;
    /* 9 */
  }
}

.materials__number-title--desktop {
  color: #ce0037;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: left;
}

@media (min-width: 1620px) {
  .materials__number-title--desktop {
    font-size: 48px;
    font-size: 3rem;
  }
}

.materials__number-big--desktop {
  color: #ce0037;
  font-size: 80px;
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
}

@media (min-width: 1620px) {
  .materials__number-big--desktop {
    font-size: 175px;
    font-size: 10.9375rem;
    position: relative;
    z-index: 55;
  }
}

@media (min-width: 1800px) {
  .materials__number-big--desktop {
    font-size: 205px;
    font-size: 12.8125rem;
  }
}

@media (min-width: 1900px) {
  .materials__number-big--desktop {
    font-size: 235px;
    font-size: 14.6875rem;
  }
}

.materials__number-big--desktop span {
  font-size: 80px;
  font-size: 5rem;
}

.materials__number-text--desktop {
  color: #53565a;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

@media (min-width: 1620px) {
  .materials__number-text--desktop {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.materials__number-text--laptop {
  display: none;
}

@media (min-width: 768px) {
  .materials__number-text--laptop {
    display: block;
  }
}

@media (min-width: 1200px) {
  .materials__number-text--laptop {
    display: none;
  }
}

.materials__icon--desktop {
  position: relative;
  max-width: 50%;
}

@media (min-width: 1620px) {
  .materials__icon--desktop {
    top: 20px;
  }
}

/*/
/////////////////////////////////////////////////////*/
/* How Can we Help*/
.help {
  width: 100%;
  background-color: #b7c9d3;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 10px;
  /* 9 */
  margin-top: 1rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .help {
    min-height: 490px;
    padding-left: 5%;
  }
}

.help__container {
  overflow: hidden;
}

.help__circle {
  position: absolute;
  left: 0;
  z-index: 0;
  display: none;
}

@media (min-width: 1200px) {
  .help__circle {
    display: block;
    top: -300px;
  }
}

@media (min-width: 1620px) {
  .help__circle {
    top: -50%;
  }
}

@media (min-width: 1200px) {
  .help__wrapper {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.help__box {
  min-height: 130px;
  width: 50%;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .help__box {
    width: 20%;
    height: 300px;
  }
  .help__box:after {
    content: "";
    position: absolute;
    border-right: 1px solid black;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    height: 40%;
  }
  .help__box:last-child:after {
    border: none;
  }
}

@media (min-width: 1200px) {
  .help__box:first-child {
    display: none;
  }
}

.help__box-wrapper {
  overflow: hidden;
  min-height: 130px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 10px 0 0 15px;
  /* 9 */
  padding: 1rem 0 0 1.5rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .help__box-wrapper {
    min-height: 300px;
  }
}

.help__box-title {
  font-size: 30px;
  font-size: 30px/16pxrem;
  font-weight: 700;
}

.help__box-icon {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .help__box-icon {
    display: none;
  }
}

.help__box-icon--desktop {
  display: none;
}

@media (min-width: 1200px) {
  .help__box-icon--desktop {
    display: inline-block;
    max-width: 100%;
    height: 70px;
  }
}

.help__box-text {
  color: #53565A;
  line-height: 1.3;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 2px;
  /* 9 */
  margin-top: 0.2rem;
  /* 9 */
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .help__box-text {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    padding: 30px 15px 0 0;
    /* 9 */
    padding: 1.875rem 0.9375rem 0 0;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .help__box-text {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.help__box-link {
  color: inherit;
}

@media (min-width: 768px) {
  .help__box-link {
    cursor: text;
  }
}

.help__box-button {
  display: none;
}

@media (min-width: 1200px) {
  .help__box-button {
    position: absolute;
    left: 15px;
    bottom: 10px;
    display: block;
    width: 69px;
    height: 52px;
    border-radius: 32px;
    border: 1px solid #53565a;
  }
  .help__box-button:after {
    position: absolute;
    content: url("../img/arrow-help-grey.png");
    top: 50%;
    left: 50%;
    -webkit-transform: Translate(-50%, -50%);
    transform: Translate(-50%, -50%);
  }
  .help__box-button:hover:after {
    left: 54%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.help__box--1, .help__box--3, .help__box--5 {
  border-right: 1px solid #E6E6E6;
}

@media (min-width: 1200px) {
  .help__box--1, .help__box--3, .help__box--5 {
    border: none;
  }
}

.help__box--1, .help__box--2 {
  border-bottom: 1px solid #E6E6E6;
}

@media (min-width: 1200px) {
  .help__box--1, .help__box--2 {
    border: none;
  }
}

.help__box--5, .help__box--6 {
  border-top: 1px solid #E6E6E6;
}

@media (min-width: 1200px) {
  .help__box--5, .help__box--6 {
    border: none;
  }
}

.help__title--desktop {
  display: none;
}

@media (min-width: 1200px) {
  .help__title--desktop {
    color: white;
    display: block;
    position: relative;
    font-size: 24px;
    font-size: 1.5rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-top: 25px;
    /* 9 */
    padding-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1200px) and (min-width: 1200px) {
  .help__title--desktop {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.help__boxhide {
  background-color: white;
  position: absolute;
  bottom: -85px;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 85px;
}

/*/
/////////////////////////////////////////////////////*/
/* Partners*/
.partners {
  width: 95%;
  min-height: 380px;
  position: relative;
  z-index: 55;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 10px 0 0 0;
  /* 9 */
  padding: 0.625rem 0 0 0;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .partners {
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
  }
}

@media (min-width: 1200px) {
  .partners {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-top: 20px;
    /* 9 */
    padding-top: 1.25rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .partners {
    width: 1600px;
  }
}

.partners__heading {
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 10px;
  /* 9 */
  padding-left: 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .partners__heading {
    font-size: 32px;
    font-size: 2rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    padding: 10px 0 0 0;
    /* 9 */
    padding: 0.625rem 0 0 0;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .partners__heading {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 20px;
    /* 9 */
    padding-bottom: 1.25rem;
    /* 9 */
    font-size: 36px;
    font-size: 2.25rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    padding-left: 0;
    /* 9 */
  }
}

.partners__boxes {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .partners__boxes {
    max-width: 1600px;
    text-align: center;
  }
}

.partners__box {
  position: relative;
  min-height: 150px;
  float: left;
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

@media (min-width: 500px) {
  .partners__box {
    width: 47.5%;
  }
  .partners__box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .partners__box:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .partners__box {
    width: 30%;
  }
  .partners__box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .partners__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .partners__box {
    width: 21.25%;
  }
  .partners__box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .partners__box:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .partners__box {
    width: 16%;
  }
  .partners__box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .partners__box:nth-child(5n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.partners__box-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 70%;
}

@media (min-width: 500px) {
  .partners__box-logo {
    max-width: 100%;
  }
}

/* Search Input*/
.search--wrapper {
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: block;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
}

.search-input label {
  position: relative;
  z-index: 15;
}

.search-input ~ input {
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

.search-input:checked ~ input {
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

/* wordpress link fix*/
