/**
 *
 * Colors variables
 *
 */

$cl-white: rgba(255, 255, 255, 1);
$cl-black: rgba(0, 0, 0, 1);
$cl-lightDark: rgba(78, 72, 76, 1);
$cl-primary: rgba(89, 133, 39, 1);
$cl-secondary: rgba(141, 198, 63, 1);
$cl-lightOrange: rgba(241, 234, 224, 1);
$cl-orange: rgba(255, 108, 0, 1);
$cl-gray: rgba(160, 160, 160, 1);
$cl-lightGray: rgba(225, 225, 225, 1);
body,
html,
a {
    color: $cl-white;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.ui-state-active {
    .m-btn {
        &_primary {
            background-color: $cl-primary;
            color: $cl-secondary;
            border-color: $cl-primary;
        }
    }
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */

strong {
    font-weight: 900;
}

// preloader styles
.preloader {
    z-index: 10;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    &_img {
        width: 150px;
        animation: spin 2s ease infinite;
        animation-direction: alternate;
    }
}

@keyframes spin {
    0% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}