.content-wrapper {
    &.article {
        ul {
            margin: 20px 15px;
            @include breakpoint('desktop_small') {
                margin: 20px 0;
            }
            li {
                position: relative;
                font-size: 16px;
                margin-bottom: 10px;
                margin-bottom: 10px;
                padding-left: 30px;
                color: $cl-black;
                font-family: MyriadPro, sans-serif;
                &:last-of-type {
                    margin-bottom: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background: $cl-orange;
                    left: 0;
                    top: 4px;
                }
            }
        }
        p {
            a {
                color: $cl-orange;
                font-family: MyriadPro-Semi, Sans-serif;
            }
        }
        h2 {
            font-family: MyriadPro-BoldCond, sans-serif;
            color: $cl-orange;
            font-size: 20px;
            margin-bottom: 5px;
            @include breakpoint('tablet') {
                padding-right: 150px;
            }
        }
    }
}