/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-container {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
  .b-columns-4 {
    width: 100%;
    @include breakpoint(tablet) {
      width: 50%;
      float: left;
    }
    @include breakpoint(desktop_small) {
      width: 25%;
    }
  }
  .b-columns-3 {
    width: 100%;
    @include breakpoint(desktop_small) {
      float: left;
      width: 33.333%;
    }
  }
  .b-columns-2 {
    width: 100%;
    @include breakpoint(desktop_small) {
      float: left;
      width: 50%;
    }
  }
  &.is-single{
    padding: 25px 0;
    font-size: 18px;
    line-height: 30px;
    color: $cl-primary;
    .wpb_wrapper {
      a {
        font-size: 18px;
        line-height: 30px;
      }
      .m-btn {
        clear: both;
      }
      table {
        td {
          padding: 5px;
          @include breakpoint('tablet') {
            padding: 15px;
          }
        }
      }
    }
  }
}
.b-topbar{
  .b-columns-4{
    text-align: left;
    width: 50%;
    display: inline-block;
    @include breakpoint('tablet'){
      width: 28%;
	  width: auto;
    }
    @include breakpoint('desktop'){
      width: 18%;
    }
    @include breakpoint('desktop_big'){
      width: 16%;
    }
    @include breakpoint('desktop_colossal'){
      width: 15%;
    }
    &:nth-of-type(2), &:nth-of-type(3){
      display: none;
      @include breakpoint('tablet'){
        display: block;
		margin-left: 30px;
      }
	  @include breakpoint('desktop'){
		  margin-left: 0;
	  }
    }
	&:nth-of-type(3){
		@include breakpoint('desktop'){
			margin-left: 50px;
		}
	}
    &:last-of-type{
      float: right;
    }
  }
  &.reduced{
    .b-columns-4{
      &:first-of-type{
        @include breakpoint('desktop'){
          margin-left: 80px;
        }
        @include breakpoint('desktop_colossal'){
          margin-left: 135px;
        }
      }
      &:last-of-type{
        @include breakpoint('desktop'){
          margin-right: 80px;
        }
      }
    }
  }
}
.b-blog{
  .b-columns-2{
    @include breakpoint('phone'){
      width: 90%;
      margin: 0 auto 10px;
    }
    @include breakpoint('phone_big'){
      width: 70%;
    }
    @include breakpoint('desktop_small'){
      width: 50%;
    }
  }
}
.b-footer {
  .b-columns-3 {
    margin-bottom: 25px;
  }
  .b-columns-2 {
    width: 50%;
    float: left;
  }
}
