/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */
.b-footer {
  clear: both;
  background-color: $cl-primary;
  padding: 40px 15px;
  box-sizing: border-box;
  @include breakpoint('desktop_small') {
    padding: 40px 95px;
  }
  &-copyrights {
    background-color: $cl-secondary;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    color: $cl-white;
    text-align: center;
  }
  .b-columns-3{
    .list{
      @include breakpoint('tablet'){
        padding: 0 15px;
      }
      @include breakpoint('desktop_small'){
        padding: 0;
      }
      @include breakpoint('desktop'){
        padding: 0 15px;
      }
      &_item{
        margin-bottom: 20px;
        width: 50%;
        display: inline-block;
        float: left;
        @include breakpoint('tablet'){
          width: 30%;
        }
        @include breakpoint('desktop_small'){
          width: 50%;
        }
        .wrapper{
          a{
            display: inline-block;
            p{
              width: 90px;
              display: inline-block;
              margin-bottom: 0;
              position: relative;
              bottom: 10px;
              left: 5px;
            }
          }
        }
      }
    }
  }
}
