/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-hero {
  background-image: url('../images/hero-background.jpg');
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: $cl-white;
  box-sizing: border-box;
  padding: 15px;
  @include breakpoint('desktop_small') {
    min-height: 634px;
    overflow: visible;
  }
  &::after {
    content: url('../images/heroImage.png');
    display: block;
    position: absolute;
    top: 80px;
    right: -200px;
    width: 350px;
    height: 700px;
    z-index: 10;
    @include breakpoint('phone') {
      right: -120px;
    }
    @include breakpoint('tablet') {
      right: 0px;
    }
  }
  &_header {
    position: relative;
    z-index: 20;
    margin-bottom: 45px;

    @include breakpoint('desktop_small') {
      margin-bottom: 180px;
    }
    &.reduced{
      background: $cl-white;
      position: fixed;
      left: 0;
      right: 0;
      top: 40px;
      padding: 0 15px;
      z-index: 102;
      transition: .3s all;
      -webkit-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.75);
    }
    .m-logo{
      a{
        img{
          &:last-of-type{
            display: none;
          }
        }
      }
      &.reduced{
        a{
          img{
            &:first-of-type{
              display: none;
            }
            &:last-of-type{
              display: block;
              width: 80%;
            }
          }
        }
      }
    }
  }
  &_teaser {
    position: relative;
    z-index: 20;
    max-width: 80%;
    margin-bottom: 45px;
    z-index: 0;
    @include breakpoint('tablet') {
      max-width: 60%;
    }
    @include breakpoint('desktop_small') {
      max-width: 50%;
    }
    @include breakpoint('desktop') {
      margin-left: 75px;
    }
    @include breakpoint('desktop_big') {
      margin-left: 135px;
    }
    @include breakpoint('1900px') {
      // max-width: 30%;
    }
    &.reduced{
      margin-top: 140px;
      @include breakpoint('desktop_small'){
        margin-top: 265px;
      }
    }
  }
  &_teaser-white{
    &.reduced{
      margin-top: 120px;
      @include breakpoint('desktop_small'){
        margin-top: 180px;
      }
    }
  }
  &_cta {
    position: relative;
    z-index: 20;
    margin-bottom: 45px;
    @include breakpoint('desktop_small') {
      margin-bottom: 80px;
    }
    @include breakpoint('desktop') {
      margin-left: 75px;
    }
    @include breakpoint('desktop_big') {
      margin-left: 135px;
    }
  }
  &_teaser-white{
    margin-left: 0;
    position: relative;
    z-index: 11;
    @include breakpoint('desktop_small'){
      max-width: 100%;
    }
  }
  &_white{
    min-height: 0;
    background: $cl-white;
    @include breakpoint('desktop_small'){
      position: static;
    }
    &::after{
      content: none;
      @include breakpoint('desktop_small'){
      }
    }
    .m-logo{
      margin-left: 0;
    }
    .m-menu{
      margin-right: 0;
    }
    &.reduced{

    }
  }
  &_header-white{
    margin-bottom: 25px;
    @include breakpoint('desktop_small'){
      margin-bottom: 90px;
    }
    &.reduced{
      .m-logo{
        @include breakpoint('desktop') {
          margin-left: 80px;
        }
      }
      .m-menu{
        @include breakpoint('desktop') {
          margin-right: 80px;
        }
      }
    }
  }
  .m-logo{
    &.reduced{
      @include breakpoint('desktop_big'){
        margin-left: 80px;
      }
      @include breakpoint('desktop_colossal'){
        margin-left: 135px;
      }
    }
  }
  .m-menu{
    &.reduced{
      margin-top: 28px;
      @include breakpoint('desktop_colossal'){
        margin-right: 80px;
      }
    }
  }
}
.page:not(.home) {
  .b-hero {
    &_teaser {
      max-width: 100%;
    }
  }
}
