.page-template-template-page_template{
	.subpage_editor{
		position: relative;
		&::after{
			display: none;
			@include breakpoint('desktop_small'){
				width: auto;
				position: absolute;
				top: -305px;
				right: -108px;
				transform: scale(0.8);
				display: block;
			}
			@include breakpoint('desktop_big'){
				top: -325px;
				right: -90px;
				transform: scale(1);
			}
			@include breakpoint('desktop_colossal'){
				right: -165px;
			}
		}
		p{
			transition: color .3s;
			position: relative;
			z-index: 2;
			font-weight: 600;
			padding: 0 15px;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 20px;
			@include breakpoint('desktop_small'){
			 	width: 50%;
			}
			a{
				font-size: inherit;
				color: $cl-secondary;
			}
		}
		h2, h3, h4, h5, h6{
			padding: 0 15px;
			text-transform: none;
			font-weight: 600;
			font-size: 24px;
			color: $cl-secondary;
			margin: 30px 0 30px;
			line-height: 40px;
			@include breakpoint('tablet'){
				font-size: 30px;
			}
			@include breakpoint('desktop_small'){
				width: 50%;
			}
		}
		blockquote{
			padding-left: 15px;
			p{
				width: 100%;
			}
		}
		ul, ol{
		  margin: 15px 0 0;
		  @include breakpoint('tablet'){
			  margin: 15px 15px 30px;
		  }
		  li{
			position: relative;
			padding-left: 25px;
			margin: 15px 0;
			vertical-align: middle;
			font-weight: 600;
			font-size: 18px;
			&:before{
			  content: '-';
			  padding-right: 5px;
			}
			@include breakpoint('tablet'){
			  margin: 10px 0;
			}
			@include breakpoint('desktop_small'){
				width: 50%;
			}
		  }
		}
		ol{
			li{
				margin-left: 25px;
				&:before{
					content: '';
				    width: 8px;
				    height: 8px;
				    background: #00345c;
				    position: absolute;
					padding-right: 0;
				    transform: rotate(45deg);
				    left: 0;
				    bottom: 0;
				    top: 0;
				    margin: auto;
				}
			}
		}
		.m-ten-boxes{
			position: relative;
			z-index: 2;
		}


		// input
		.gfield{
			padding-left: 0;
			@include breakpoint('tablet'){
			  width: 100%;
			}
			@include breakpoint('desktop_small'){
			  width: 100%;
			}
			@include breakpoint('desktop'){
			  width: 50% !important;
			  clear: both;
			}
			input{
			  @include breakpoint('desktop_small'){
				width: 100% !important;
			  }
			}
			.gfield_label{
				margin: 20px 0 10px;
			}
			.ginput_container_text, .ginput_container_textarea, .ginput_container_email{
				input, textarea{
					border: 2px solid #009ee3;
					font-size: 18px;
					font-weight: 500;
				}
				input{
					height: 60px !important;
				}
			}
		}

		// form footer button
		.gform_footer{
			.button{
				width: 200px;
			    height: 60px;
			    font-size: 15px;
			    background: #009ee3;
			    color: #fff;
			    margin-bottom: 20px;
			    cursor: pointer;
			}
		}

		//gfield label
		.gfield_label{
		  margin-left: 0 !important;
		  font-weight: 500 !important;
		  margin: 30px 0 20px;
		  @include breakpoint('tablet'){
			margin: 40px 0 20px;
		  }
		}

		// fileupload label
		.gform_fileupload_multifile{
			.gfield_label{
			  margin-left: 0 !important;
			  font-weight: 500 !important;
			  margin: 30px 0 20px;
			  @include breakpoint('tablet'){
				margin: 40px 0 20px;
			  }
			}
		}

		// gfield checkbox
		.gfield_checkbox{
			li{
				margin-left: 15px !important;
				font-weight: 500;
				width: 100%; 
				label{
					font-weight: 500 !important;
				}
			}
		}



		// gfield radio
		.gfield_radio{
			li{
				input{
					display: none;
				}
				label{
					font-weight: 500 !important;
				}
			}
			input[type=radio] {
			  display: none;
			}
			input[type=radio] label {
			  position: relative;
			  cursor: pointer;
			}
			input[type=radio] + label:before {
				content: '';
				display:inline-block;
				width: 20px;
				height: 20px;
				margin: -2px 8px 0 8px;
				vertical-align:middle;
				cursor:pointer;
				border-radius:  50%;
				background-color: #fff;
				border: 2px solid $cl-secondary;
			}
			input[type=radio]:checked + label {
				position: relative;
				&:after {
				  content: "";
				  position: absolute;
				  top: 4px;
				  left: 10px;
				  width: 16px;
				  height: 16px;
				  border: none;
				  display: inline-block;
				  border-radius: 100%;
				  border: 2px solid $cl-white;
				  cursor:pointer;
				  background-color: $cl-secondary;
				}
			  &:before {
				background-color: $cl-secondary;
			  }
			}
		}

		// drop area
		.gform_drop_area{
		  min-height: 150px;
		  .gform_drop_instructions{
				font-size: 14px;
				color: #aaa;
				font-weight: 500;
		  }
		  .gform_button_select_files{
			line-height: 28px;
			background: $cl-secondary;
			color: $cl-white;
			cursor: pointer;
			display: block;
			text-align: center;
			line-height: 40px;
			vertical-align: middle;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			min-width: 130px;
			transition: .2s all;
			width: 100%;
			height: 60px;
			font-size: 18px;
			font-weight: 500;
		  }
		}

		.gform_wrapper{
		  padding: 0 15px;
		  #field_5_6, #field_1_8, #field_1_12, #field_1_13{
		    @include breakpoint('tablet'){
		      display: inline-block;
		    }
		  }
		  .ginput_container{
		    margin-top: 2px;
		    #field_5_6{
		      width: 100%;
		      border: 2px solid $cl-secondary;
		      height: 40px;
		      @include breakpoint('tablet'){
		        width: 350px;
		      }
		    }
		    #input_1_30, #input_1_104, #input_1_108, #input_1_111, #input_1_112, #input_1_113, #input_1_114, #input_1_115, #input_1_116, #input_1_117, #input_1_288{
		      border: 2px solid $cl-secondary;
		      max-width: 600px;
		    }
		  }
		  .gform_page_footer{
		    height: 110px;
		    @include breakpoint('tablet'){
		      height: 60px;
		    }
		  }
		}

	}
}
