/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */
.b-topbar {
  background-color: $cl-primary;
  text-align: center;
  line-height: 30px;
  max-height: 40px;
  display: block;
  padding: 5px 15px;
  box-sizing: border-box;

  top: -10px;
  &.reduced{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 103;
    transition: 0.3s all;
    width: 100%;
    max-width: none;
  }

  .b-columns-4{
    width: 12%;
    text-align: left;
  }
  .lang-item{
    display: inline-block;
    float: right;
    margin-right: 20px;
    &:first-child{
      margin-right: 0;
    }
    a{
      text-transform: uppercase;
      color: $cl-white;
      font-weight: 500;
    }
  }
}
