@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';


body{
  overflow-x: hidden;
  background: $cl-white;
}

.content-wrapper{
  @include breakpoint('desktop_small'){
    margin: 0 auto;
    max-width: 1530px;
  }
}


.header{
  background-image: url("../images/top.png");
  background-size: contain;
  background-repeat: no-repeat;
  .two-boxes{
    transition: .3s all;
    margin: 20px 0 60px;
    @include breakpoint('tablet'){
      margin: 170px 0 120px;
    }
    @include breakpoint('desktop_small'){
      margin: 200px 0 120px;
    }
    @include breakpoint('desktop_big'){
      margin: 250px 15px 130px  14%;
    }
    @include breakpoint('desktop_colossal'){
      margin: 290px 15px 130px  14%;
    }
    .box{
      margin: 0 15px;
      @include breakpoint('tablet'){
        margin: 0;
        width: 50%;
        float: left;
        display: inline-block;
      }
      &:first-of-type{
        @include breakpoint('tablet'){
          width: 35%;
        }
        @include breakpoint('desktop_small'){
          width: 25%;
        }
        @include breakpoint('desktop_big'){
          width: 15%;
        }
      }
      &:last-of-type{
        @include breakpoint('tablet'){
          width: 65%;
          padding: 0 15px;
          box-sizing: border-box;
        }
        @include breakpoint('desktop_small'){
          width: 75%;
        }
        @include breakpoint('desktop_big'){
          width: 80%;
          margin-left: 5%;
        }
      }
      .brand-logo{
        display: block;
        margin: 0 auto;
        padding: 80px 0 15px;
        @include breakpoint('tablet'){
          padding: 30px 0 0;
        }
        @include breakpoint('desktop_small'){
          padding: 10px 0 0;
        }
        @include breakpoint('desktop'){
          padding: 0;
        }
      }
    }
  }
}

.products-boxes{
  margin: 0 15px;
  @include breakpoint('tablet'){
    margin: auto;
  }
  .content-wrapper{
    @include breakpoint('tablet'){
      text-align: center;
    }
    @include breakpoint('desktop_small'){
      text-align: left;
      margin: 0 15px;
    }
    @include breakpoint('desktop'){
      text-align: center;
      margin: 0 auto;
    }
    .box{
      position: relative;
      border-radius: 8px;
      height: 450px;
      margin: 0 15px;
      background-image: url("../images/box-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      -webkit-box-shadow: 0px 0px 48px -18px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 48px -18px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 48px -18px rgba(0,0,0,0.75);
      max-width: 360px;
      margin: 0 auto 120px;
      &:last-of-type{
        margin-bottom: 0;
        @include breakpoint('tablet'){
          margin-bottom: 120px;
        }
      }
      @include breakpoint('tablet'){
        display: inline-block;
        width: 40%;
        margin: 0 15px 120px;
      }
      @include breakpoint('desktop_small'){
        margin: 0 0 120px;
        width: 30%;
        &:nth-of-type(3n+2){
          margin: 0 45px;
        }
      }
      @include breakpoint('desktop'){
        &:nth-of-type(3n+2){
          margin: 0 46px;
        }
      }
      .img{
        margin: 0 auto;
        display: block;
        padding: 45px 0 30px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 120px;
        max-height: 260px;
        max-width: 280px;
        @include breakpoint('tablet'){
            max-width: 310px;
        }
        @include breakpoint('desktop_small'){
            max-width: 290px;
        }
        @include breakpoint('desktop'){
            max-width: 310px;
        }
      }
      .points{
        z-index: 2;
        position: absolute;
        top: -50px;
        right: 20px;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: table;
        -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
        &.food{
          background: $cl-secondary;
        }
        &.water{
          background: #fcd309;
        }
        &.other{
          background: $cl-primary;
        }
        .wrapper{
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  .pagination{
    @include breakpoint('tablet'){
      text-align: center;
    }
    @include breakpoint('desktop_small'){
      margin-bottom: 40px;
    }
    .btn{
      display: block;
      text-align: center;
      max-width: 190px;
      margin: 10px auto;
      background-color: $cl-primary;
      font-size: 18px;
      color: #fff;
      padding: 12px 24px;
      font-weight: 600;
      border-radius: 50px;
      cursor: pointer;
      @include breakpoint('tablet'){
        display: inline-block;
      }
      &:first-of-type{
        @include breakpoint('tablet'){
          margin-right: 10px;
        }
      }
      &:last-of-type{
        @include breakpoint('tablet'){
          margin-left: 10px;
        }
      }
      &.hidden{
        display: none;
      }
    }
  }
}

.footer{
  margin-top: 100px;
  @include breakpoint('desktop_small'){
    margin-top: 0;
  }
  .box{
    background: $cl-secondary;
    @include breakpoint('tablet'){
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
    @include breakpoint('desktop_big'){
      margin: 0 6% 0;
    }
    @include breakpoint('desktop_colossal'){
      margin: 0 11% 0;
    }
  }
}
