@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';
@import '_custom/_wp-text.scss';
// modules
@import '_modules/_bar.scss';
@import '_modules/_offer.scss';
@import '_modules/_header-slider.scss';
@import '_modules/_slider-arrows.scss';
@import '_modules/_slider-dots.scss';
@import '_modules/_header-nav.scss';
@import '_modules/_burger.scss';
@import '_modules/_nav-list.scss';
@import '_modules/_header-about.scss';
@import '_modules/_header.scss';
@import '_modules/_header-social.scss';
@import '_modules/_realizations-slider.scss';
@import '_modules/_highlights.scss';
@import '_modules/_form.scss';
@import '_modules/_copyright-bar.scss';
@import '_modules/_sitemap.scss';
@import '_modules/_collabo-slider.scss';
@import '_modules/_article.scss';
@import '_modules/_subpage-listing.scss';
@import '_modules/_page-heading.scss';
@import '_modules/_realizations-listing.scss';
@import '_modules/_subpage-heading.scss';
@import '_modules/_footer.scss';
@import '_modules/_contact.scss';
@import '_modules/_article-view.scss';
@import '_modules/_www-offer.scss';
@import '_modules/_coloring.scss';
body {
    overflow-x: hidden;
    background: $cl-white;
    padding-top: 90px;
    @include breakpoint('desktop_small') {
        padding-top: 0;
    }
    &.is-active {
        overflow: hidden;
    }
}

.content-wrapper {
    @include breakpoint('desktop_small') {
        margin: 0 auto;
        max-width: 1180px;
    }
    &.narrow {
        @include breakpoint('desktop_small') {
            max-width: 874px;
        }
        @include breakpoint('desktop') {
            max-width: 920px;
        }
    }
    &.article {
        @include breakpoint('desktop_small') {
            max-width: 782px;
        }
    }
}