@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';

// modules
@import '_modules/navbar.scss';
@import '_modules/header.scss';
@import '_modules/two-boxes.scss';
@import '_modules/testimonials.scss';
@import '_modules/contact.scss';
@import '_modules/presentation.scss';
@import '_modules/footer.scss';
@import '_modules/bottom-bar.scss';


body{
  overflow-x: hidden;
  background: $cl-white;
  @include breakpoint('desktop_small'){
    position: relative;
	&::before{
		content: '';
        background: rgba(0, 0, 0, .6);
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 3;
        position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: .3s all;
	}
  }
  &.is-active{
    overflow: hidden;
    @include breakpoint('desktop_small'){
      &::before{
		visibility: visible;
		opacity: 1;
      }
    }
  }
}

.content-wrapper{
  @include breakpoint('desktop_small'){
    margin: 0 auto;
    max-width: 1180px;
  }
}
