/**
 *
 * Colors variables
 *
 */
$cl-white: rgba(255,255,255,1);
$cl-gray: rgba(242,242,242,1);
$cl-primary: rgba(255,68,17,1);

$cl-secondary: 	rgba(116, 219, 179, 1);
$cl-tertiary: 	rgba(229,240,253, 1);

body,
html,
a {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
	display: table;
}

.clearfix:after {
    clear: both;
}


/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
 	font-weight: 900;
}
