// FONTS
// font-family: 'Montserrat', sans-serif;
.typo {
    font-family: 'Montserrat', sans-serif;
    &_primary {
        text-transform: uppercase;
        font-size: 28px;
        color: #000;
        margin-bottom: 30px;
        line-height: 40px;
        letter-spacing: -1.8px;
        font-weight: 700;
        margin: 0 15px;
        @include breakpoint('tablet') {
            line-height: 36px;
        }
        @include breakpoint('desktop') {
            margin: 0;
        }
        &.heading {
            color: #000;
            margin-bottom: 38px;
            @include breakpoint('tablet') {
                margin-bottom: 55px;
            }
        }
    } // medium
    &_secondary {
        color: #000;
        line-height: 36px;
        letter-spacing: .6px;
    } // light
    &_text {
        color: #000;
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: -0.1px;
        @include breakpoint('tablet') {
            line-height: 25px;
        }
    }
}

.header {
    .m-typo {
        &_text {
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.1px;
            text-align: center;
            font-size: 18px;
            margin: 30px 15px 0;
            @include breakpoint('tablet') {
                font-size: 16px;
                margin: 40px 5% 0;
            }
            @include breakpoint('desktop_small') {
                margin: 40px auto 0;
                max-width: 874px;
            }
        }
    }
    &-text {
        text-align: center;
        .m-typo {
            &_primary {
                margin-bottom: 3px;
                letter-spacing: 1.6px;
                font-size: 28px;
                @include breakpoint('tablet') {
                    font-size: 32px;
                }
            }
            &_text {
                margin-top: 0;
                color: $cl-white;
                font-size: 19px;
                font-weight: 300;
                letter-spacing: -0.1px;
            }
        }
    }
    &-button {
        .m-typo {
            &_primary {
                font-size: 18px;
                color: $cl-primary;
            }
        }
    }
    .navbar {
        .list {
            li {
                a {
                    font-size: 22px;
                    line-height: 36px;
                    letter-spacing: .6px;
                    @include breakpoint('tablet') {
                        font-size: 24px;
                    }
                    @include breakpoint('desktop_small') {
                        font-weight: bold;
                        font-size: 16px;
                        padding: 5px 10px;
                    }
                    &:hover {
                        background: $cl-gray;
                    }
                }
            }
        }
    }
}

.contact {
    .typo {
        &_primary {
            &.heading {
                @include breakpoint('tablet') {
                    margin-bottom: 80px;
                }
                @include breakpoint('tablet') {
                    margin-bottom: 105px;
                }
            }
        }
    }
    .box {
        .typo {
            &_primary {
                font-size: 14px;
                font-weight: 400;
                color: $cl-primary;
                margin-bottom: 5px;
                letter-spacing: 0.1px;
                @include breakpoint('tablet') {
                    margin-bottom: 18px;
                }
                @include breakpoint('desktop_small') {
                    margin: 0 15px 20px;
                }
            }
            &_text {
                font-weight: 600;
                font-size: 22px;
                line-height: 32px;
                letter-spacing: -0.5px;
                margin: 0 15px 15px;
                @include breakpoint('tablet') {
                    font-size: 18px;
                }
                @include breakpoint('desktop_small') {
                    font-size: 22px;
                }
            }
        }
    }
}

.bottom-bar {
    .typo {
        &_text {
            color: $cl-white;
            margin-bottom: 15px;
            text-align: center;
            @include breakpoint('tablet') {
                text-align: left;
                margin: 0;
                font-size: 14px;
            }
            &:first-of-type {
                @include breakpoint('tablet') {
                    float: left;
                }
            }
            &:last-of-type {
                margin-bottom: 0;
                @include breakpoint('tablet') {
                    float: right;
                }
            }
            &:first-of-type,
            &:last-of-type {
                @include breakpoint('tablet') {
                    padding: 0;
                }
            }
        }
    }
}

.news {
    .m-typo {
        &_href {
            @include breakpoint('tablet') {
                display: inline-block;
                float: right;
            }
        }
        &_primary {
            &.heading {
                margin-bottom: 60px;
                @include breakpoint('tablet') {
                    margin-bottom: 98px;
                    text-align: left;
                    padding-left: 30px;
                    display: inline-block;
                }
                @include breakpoint('desktop_small') {
                    margin-bottom: 128px;
                }
            }
        }
        &_text {
            &.heading {
                font-size: 18px;
                text-align: center;
                font-weight: 500;
                color: $cl-primary;
                position: relative;
                padding: 0 15px;
                letter-spacing: 0;
                @include breakpoint('tablet') {
                    text-align: left;
                    display: inline-block;
                    float: right;
                    margin: 6px 80px 0 0;
                    padding-left: 0;
                }
                @include breakpoint('desktop_small') {
                    font-weight: 600;
                    margin-right: 90px;
                }
                &::after {
                    @include breakpoint('tablet') {
                        content: '';
                        background-image: url(../images/calendar.png);
                        position: absolute;
                        height: 30px;
                        width: 58px;
                        background-size: cover;
                        right: -50px;
                        top: -5px;
                    }
                    @include breakpoint('desktop_small') {
                        top: -8px;
                        height: 40px;
                        width: 78px;
                        right: -72px;
                    }
                }
            }
        }
        &.category {
            color: $cl-secondary;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0;
            margin: 20px 0;
            @include breakpoint('tablet') {
                margin: 28px 0;
                padding: 0 15px;
            }
            @include breakpoint('desktop_small') {
                margin: 36px 0;
            }
        }
        &_secondary {
            font-size: 24px;
            color: #000;
            font-weight: 600;
            line-height: 28px;
            text-transform: none;
            letter-spacing: -0.4px;
            margin-bottom: 25px;
            @include breakpoint('tablet') {
                height: 100px;
                padding: 0 15px;
            }
            @include breakpoint('desktop_small') {
                min-height: 146px;
            }
        }
    }
    .info {
        @include breakpoint('tablet') {
            padding: 0 15px;
        }
        .m-typo {
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            margin-bottom: 15px;
            @include breakpoint('tablet') {
                margin-bottom: 30px;
            }
            span {
                font-weight: 700;
                color: #000;
            }
        }
    }
}

// post listing typo styles
.news {
    &_listing {
        .m-typo {
            &_primary {
                &.heading {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 52px;
                    box-sizing: border-box;
                }
            }
            &_text {
                &.descr {
                    text-align: center;
                    max-width: 880px;
                    display: block;
                    margin: 0 auto;
                    line-height: 30px;
                    padding: 0 15px;
                    color: #000;
                    @include breakpoint('tablet') {
                        line-height: 35px;
                    }
                }
            }
        }
    }
}

.post-navigation {
    .m-typo {
        &_text {
            font-size: 24px;
            color: $cl-primary;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.heading-bar {
    &.small {
        text-align: center;
        .m-typo {
            &_primary {
                font-size: 24px;
                text-transform: none;
                color: #000;
                margin-bottom: 15px;
            }
            &_text {
                margin-bottom: 10px;
                font-weight: 500;
                color: #000;
                font-size: 18px;
                @include breakpoint('tablet') {
                    padding: 0 8px;
                    display: inline-block;
                }
                @include breakpoint('desktop_small') {
                    padding: 0 2px;
                }
                @include breakpoint('desktop') {
                    padding: 0;
                }
                &.cat {
                    color: $cl-secondary;
                }
            }
        }
    }
    &.section {
        .m-typo {
            &.descr {
                text-align: left;
                font-size: 16px;
                font-weight: 400;
                max-width: 1090px;
                line-height: 28px;
            }
        }
    }
}

.presentation {
    .typo {
        &_primary {
            &.heading {
                margin-bottom: 38px;
            }
        }
    }
    &-head {
        .typo {
            &:first-child {
                font-weight: bold;
                margin-bottom: 15px;
            }
            &_text {
                padding: 0 15px;
                @include breakpoint('tablet') {
                    padding: 0 30px;
                }
            }
        }
    }
    &-body {
        .typo {
            &_secondary {
                color: $cl-white;
                padding: 10px 0 10px 95px;
                height: 100%;
                align-items: flex-end;
                display: flex;
                @include breakpoint('tablet') {
                    padding: 0;
                }
                @include breakpoint('desktop') {
                    font-size: 18px;
                }
                span {
                    font-weight: bold;
                    padding-left: 5px;
                }
            }
        }
        .small {
            .typo {
                &_secondary {
                    @include breakpoint('tablet') {
                        justify-content: center;
                    }
                }
            }
        }
    }
    &.doors {
        .typo {
            &_secondary {
                padding: 0;
                line-height: 22px;
                height: auto;
            }
        }
    }
}

.category-listing {
    .typo {
        &_primary {
            &.heading {
                margin-bottom: 38px;
            }
        }
    }
    &-head {
        .typo {
            &_text {
                padding: 0 15px;
                @include breakpoint('tablet') {
                    padding: 0 30px;
                }
            }
        }
    }
    &-body {
        .arrow {
            .typo {
                &_secondary {
                    color: $cl-white;
                    line-height: initial;
                }
            }
        }
    }
}

.page-template-single-category-view {
    .typo {
        &_primary {
            &.heading {
                @include breakpoint('tablet') {
                    margin-bottom: 60px;
                }
            }
        }
    }
}

.bar {
    .typo {
        &_secondary {
            color: $cl-white;
            background: #000;
            text-align: center;
            padding: 30px 15px;
            font-size: 20px;
            @include breakpoint('tablet') {
                padding: 40px 15px;
            }
            @include breakpoint('desktop_small') {
                font-size: 22px;
                padding: 45px 15px;
            }
            span,
            a {
                color: $cl-primary;
            }
            span {
                display: block;
                @include breakpoint('tablet') {
                    display: inline-block;
                }
            }
            a {
                font-weight: bold;
                font-size: 18px;
                @include breakpoint('tablet') {
                    font-size: 20px;
                }
                @include breakpoint('desktop_small') {
                    font-size: 22px;
                }
            }
        }
    }
}

.footer {
    .map {
        .typo {
            &_primary {
                margin-bottom: 0;
            }
            &_secondary {
                color: $cl-primary;
                letter-spacing: 0px;
                margin: 0 15px 35px;
                font-size: 20px;
                line-height: 28px;
                @include breakpoint('desktop') {
                    font-size: 22px;
                    margin: 0 0 35px;
                }
            }
        }
    }
}

.about-product {
    p {
        margin-bottom: 15px;
    }
    .typo {
        &_secondary {
            height: 65px;
            background: #000;
            color: $cl-white;
            display: flex;
            align-items: flex-end;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
            padding: 0 0 4px 15px;
            font-size: 20px;
            @include breakpoint('tablet') {
                padding: 0 0 2px 30px;
            }
            @include breakpoint('desktop') {
                margin: 20px 0;
            }
        }
    }
}

.presentation-contact {
    .typo {
        &_text {
            margin-bottom: 0;
            border: 2px solid $cl-primary;
            padding: 15px 15px 30px;
            position: relative;
            @include breakpoint('tablet') {
                box-sizing: border-box;
                width: 464px;
                padding-right: 165px;
                min-height: 174px;
            }
            @include breakpoint('desktop_small') {
                width: 534px;
                padding-right: 235px;
            }
            @include breakpoint('desktop') {
                width: 634px;
                padding-right: 335px;
            }
            &::after {
                @include breakpoint('tablet') {
                    content: url('../images/pres-arrow.png');
                    position: absolute;
                    bottom: -110px;
                    left: 155px;
                }
                @include breakpoint('desktop_small'){
                    left: 170px;
                }
                @include breakpoint('desktop') {
                    left: 150px;
                }
            }
            &::before {
                content: 'Skontaktuj się z nami';
                position: absolute;
                background: $cl-gray;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 181px;
                padding: 0 10px;
                bottom: -15px;
                font-weight: bold;
                @include breakpoint('tablet') {
                    bottom: -14px;
                    left: -140px;
                }
                @include breakpoint('desktop_small') {
                    left: -180px;
                }
                @include breakpoint('desktop') {
                    left: -315px;
                }
            }
        }
        &_secondary {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            @include breakpoint('desktop_small') {
                padding-left: 70px;
            }
            @include breakpoint('desktop') {
                letter-spacing: 8px;
                padding-left: 155px;
            }
            span {
                color: $cl-primary;
            }
        }
    }
}