.form-ui {
	&_section {
		padding: 50px;
		border-top: 2px solid $cl-gray159;
		&:first-of-type {
			border-top: 0;
		}
	}
	&_block {
		display: inline-block;
		vertical-align: top;
		padding: 35px 50px;
		&.is-dark {
			background-color: $cl-gray44;
		}
	}
}