{% extends "base.twig" %}

{% block content %}

    {% include 'templates/modules/slider/slider.twig' with {
        'template' : 'default',
        'data' : [
            'raz', 'dwa'
        ],
        'settings' : {
            'active': true
        }
    } %}

{% endblock %}