/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0;
}

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-family: 'Montserrat', sans-serif;
  color: #1a237e;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.ui-state-active .m-btn_primary {
  background-color: #1a237e;
  color: #74dbb3;
  border-color: #1a237e;
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900;
}

.m-btn {
  font-family: 'Montserrat', sans-serif;
  min-width: 230px;
  display: block;
  border-radius: 50px;
  font-size: 16px;
  padding: 6px 16px;
}

@media screen and (min-width: 768px) {
  .m-btn {
    padding: 10px 16px;
    min-width: 245px;
  }
}

.m-btn_primary {
  background: #74dbb3;
  color: #1a237e;
  text-transform: uppercase;
  border: 2px solid #74dbb3;
}

.m-btn_secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.header .m-btn_primary {
  margin: 0 auto;
  text-align: center;
  width: 245px;
  letter-spacing: 0.1px;
  -webkit-box-shadow: 5px 3px 69px -15px black;
  -moz-box-shadow: 5px 3px 69px -15px black;
  box-shadow: 5px 3px 69px -15px black;
}

.news .m-btn_primary {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  max-width: 395px;
  letter-spacing: 0.1px;
  line-height: 25px;
  background: #1a237e;
  border-color: #1a237e;
}

@media screen and (min-width: 768px) {
  .news .m-btn_primary {
    width: 395px;
    line-height: 32px;
  }
}

.m-typo {
  font-family: 'Montserrat', sans-serif;
}

.m-typo_primary {
  text-transform: uppercase;
  font-size: 32px;
  color: white;
  margin-bottom: 30px;
  line-height: 44px;
  letter-spacing: 1.1px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .m-typo_primary {
    line-height: 36px;
  }
}

.m-typo_primary.heading {
  color: #1a237e;
  text-align: center;
  margin-bottom: 38px;
  letter-spacing: -0.4px;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .m-typo_primary.heading {
    font-size: 32px;
    margin-bottom: 52px;
  }
}

.m-typo_secondary {
  color: #1a237e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: .6px;
}

.m-typo_text {
  color: #6c6c6c;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .m-typo_text {
    line-height: 25px;
  }
}

.header .m-typo_text {
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 18px;
  margin: 30px 15px 0;
}

@media screen and (min-width: 768px) {
  .header .m-typo_text {
    font-size: 16px;
    margin: 40px 5% 0;
  }
}

@media screen and (min-width: 1024px) {
  .header .m-typo_text {
    margin: 40px auto 0;
    max-width: 874px;
  }
}

.header-text {
  text-align: center;
}

.header-text .m-typo_primary {
  margin-bottom: 3px;
  letter-spacing: 1.6px;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .header-text .m-typo_primary {
    font-size: 32px;
  }
}

.header-text .m-typo_text {
  margin-top: 0;
  color: white;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -0.1px;
}

.header-button .m-typo_primary {
  font-size: 18px;
  color: #1a237e;
}

.header .navbar .list li a {
  font-weight: 600;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: .6px;
}

@media screen and (min-width: 1024px) {
  .header .navbar .list li a {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header .navbar .list li a {
    font-size: 14px;
  }
}

.categories .m-typo_text {
  text-align: center;
  max-width: 880px;
  display: block;
  margin: 0 auto;
  line-height: 30px;
  padding: 0 15px;
  color: #000;
}

@media screen and (min-width: 768px) {
  .categories .m-typo_text {
    line-height: 35px;
  }
}

.categories .box .m-typo {
  position: relative;
  z-index: 2;
  transition: .3s all;
}

.categories .box .m-typo_primary {
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 0;
  color: #74dbb3;
}

@media screen and (min-width: 768px) {
  .categories .box .m-typo_primary {
    color: #1a237e;
  }
}

.categories .box .m-typo_text {
  color: white;
  position: relative;
  padding: 30px 25px 0;
  line-height: 36px;
}

@media screen and (min-width: 768px) {
  .categories .box .m-typo_text {
    visibility: hidden;
    opacity: 0;
    padding: 30px 40px 0;
  }
}

@media screen and (min-width: 1024px) {
  .categories .box .m-typo_text {
    padding: 25px 15px 0;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .categories .box .m-typo_text {
    padding: 25px 30px 0;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .categories .box:hover .m-typo_primary {
    color: #74dbb3;
  }
  .categories .box:hover .m-typo_text {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .partners .m-typo_primary.heading {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 768px) {
  .contact .m-typo_primary.heading {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .contact .m-typo_primary.heading {
    margin-bottom: 105px;
  }
}

.contact .box .m-typo_primary {
  font-size: 14px;
  font-weight: 400;
  color: #74dbb3;
  margin-bottom: 5px;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 768px) {
  .contact .box .m-typo_primary {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .contact .box .m-typo_primary {
    margin-bottom: 26px;
  }
}

.contact .box .m-typo_text {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  line-height: 28px;
  letter-spacing: -0.5px;
}

@media screen and (min-width: 768px) {
  .contact .box .m-typo_text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .contact .box .m-typo_text {
    font-size: 24px;
  }
}

.contact .box .m-typo_text.email {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .contact .box .m-typo_text.email {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .contact .box .m-typo_text.email {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .contact .box .m-typo_text.email {
    font-size: 24px;
  }
}

.bottom-bar .m-typo_text {
  letter-spacing: 0;
  font-size: 14px;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bottom-bar .m-typo_text {
    text-align: left;
  }
}

.bottom-bar .m-typo_text:first-of-type {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .bottom-bar .m-typo_text:first-of-type {
    float: left;
  }
}

.bottom-bar .m-typo_text:last-of-type {
  padding: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .bottom-bar .m-typo_text:last-of-type {
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .bottom-bar .m-typo_text:first-of-type, .bottom-bar .m-typo_text:last-of-type {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .news .m-typo_href {
    display: inline-block;
    float: right;
  }
}

.news .m-typo_primary.heading {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .news .m-typo_primary.heading {
    margin-bottom: 98px;
    text-align: left;
    padding-left: 30px;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .news .m-typo_primary.heading {
    margin-bottom: 128px;
  }
}

.news .m-typo_text.heading {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #1a237e;
  position: relative;
  padding: 0 15px;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .news .m-typo_text.heading {
    text-align: left;
    display: inline-block;
    float: right;
    margin: 6px 80px 0 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .news .m-typo_text.heading {
    font-weight: 600;
    margin-right: 90px;
  }
}

@media screen and (min-width: 768px) {
  .news .m-typo_text.heading::after {
    content: '';
    background-image: url(../images/calendar.png);
    position: absolute;
    height: 30px;
    width: 58px;
    background-size: cover;
    right: -50px;
    top: -5px;
  }
}

@media screen and (min-width: 1024px) {
  .news .m-typo_text.heading::after {
    top: -8px;
    height: 40px;
    width: 78px;
    right: -72px;
  }
}

.news .m-typo.category {
  color: #74dbb3;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .news .m-typo.category {
    margin: 28px 0;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .news .m-typo.category {
    margin: 36px 0;
  }
}

.news .m-typo_secondary {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  line-height: 28px;
  text-transform: none;
  letter-spacing: -0.4px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .news .m-typo_secondary {
    height: 100px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .news .m-typo_secondary {
    min-height: 146px;
  }
}

@media screen and (min-width: 768px) {
  .news .info {
    padding: 0 15px;
  }
}

.news .info .m-typo {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .news .info .m-typo {
    margin-bottom: 30px;
  }
}

.news .info .m-typo span {
  font-weight: 700;
  color: #000;
}

.news_listing .m-typo_primary.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 52px;
  box-sizing: border-box;
}

.news_listing .m-typo_text.descr {
  text-align: center;
  max-width: 880px;
  display: block;
  margin: 0 auto;
  line-height: 30px;
  padding: 0 15px;
  color: #000;
}

@media screen and (min-width: 768px) {
  .news_listing .m-typo_text.descr {
    line-height: 35px;
  }
}

.post-navigation .m-typo_text {
  font-size: 24px;
  color: #1a237e;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-bar.small {
  text-align: center;
}

.heading-bar.small .m-typo_primary {
  font-size: 24px;
  text-transform: none;
  color: #000;
  margin-bottom: 15px;
}

.heading-bar.small .m-typo_text {
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .heading-bar.small .m-typo_text {
    padding: 0 8px;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .heading-bar.small .m-typo_text {
    padding: 0 2px;
  }
}

@media screen and (min-width: 1200px) {
  .heading-bar.small .m-typo_text {
    padding: 0;
  }
}

.heading-bar.small .m-typo_text.cat {
  color: #74dbb3;
}

.heading-bar.section .m-typo.descr {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  max-width: 1090px;
  line-height: 28px;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  height: 85px;
  transition: .3s all;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: 80px;
  }
}

.navbar.reduced {
  -webkit-box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
  height: 70px;
}

@media screen and (min-width: 1024px) {
  .navbar.reduced {
    height: 65px;
  }
}

.navbar.reduced .content-wrapper .brand-logo {
  margin-top: -8px;
}

@media screen and (min-width: 1024px) {
  .navbar.reduced .content-wrapper .brand-logo {
    margin-top: 12px;
  }
}

.navbar.reduced .content-wrapper .burger {
  top: 25px;
}

@media screen and (min-width: 1024px) {
  .navbar.reduced .content-wrapper .list {
    margin-top: 15px;
  }
}

.navbar .content-wrapper {
  height: 0;
}

.navbar .content-wrapper .brand-logo {
  position: absolute;
  left: -28px;
  top: -14px;
  z-index: 1;
  width: 230px;
  transition: .3s all;
}

@media screen and (min-width: 768px) {
  .navbar .content-wrapper .brand-logo {
    width: 240px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .brand-logo {
    display: inline-block;
    margin: -42px 0 0 -55px;
    width: 300px;
    left: 22px;
    top: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar .content-wrapper .brand-logo {
    position: static;
    margin-left: -30px;
    width: 320px;
  }
}

@media screen and (min-width: 1370px) {
  .navbar .content-wrapper .brand-logo {
    margin-left: -70px;
  }
}

.navbar .content-wrapper .brand-logo img {
  width: 100%;
  transition: .3s all;
}

.navbar .content-wrapper .list {
  height: 100vh;
  padding-top: 110px;
  text-align: center;
  position: absolute;
  left: -1000px;
  transition: .3s all;
  z-index: 9;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list {
    background: white;
    height: auto;
    text-align: left;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    float: right;
    width: auto;
    margin-right: 15px;
    padding: 0 26px;
    border-radius: 50px;
    position: static;
  }
}

@media screen and (min-width: 1370px) {
  .navbar .content-wrapper .list {
    padding: 0 36px;
    margin-right: 0;
  }
}

.navbar .content-wrapper .list.is-active {
  left: 0;
  right: 0;
  background: white;
}

.navbar .content-wrapper .list li {
  margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list li {
    padding: 12px 0;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 13px;
  }
  .navbar .content-wrapper .list li:last-of-type {
    margin-right: 0;
  }
  .navbar .content-wrapper .list li.active a {
    color: #1a237e;
  }
  .navbar .content-wrapper .list li a {
    transition: .3s all;
  }
  .navbar .content-wrapper .list li a:hover {
    color: #1a237e;
  }
}

@media screen and (min-width: 1200px) {
  .navbar .content-wrapper .list li {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1370px) {
  .navbar .content-wrapper .list li {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list li.menu-item-has-children {
    position: relative;
  }
}

.navbar .content-wrapper .list li.current_page_item a {
  color: #1a237e;
}

.navbar .content-wrapper .list li .sub-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list li .sub-menu {
    position: absolute;
    top: 60px;
    left: -50px;
  }
}

.navbar .content-wrapper .list li .sub-menu:after {
  content: '';
  background: red;
  position: absolute;
  top: 60px;
}

.navbar .content-wrapper .list li .sub-menu li {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list li .sub-menu li {
    background: white;
    padding: 5px 20px;
    width: 110px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list li .sub-menu li:first-of-type {
    margin-top: 2px;
  }
}

.navbar .content-wrapper .list li .sub-menu li a {
  color: #74dbb3;
}

.navbar .content-wrapper .burger {
  background: #1a237e;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 22px;
  transition: .3s all;
  z-index: 10;
  padding: 18px 14px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .navbar .content-wrapper .burger {
    top: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .burger {
    display: none;
  }
}

.navbar .content-wrapper .burger.reduced {
  top: 25px;
}

.navbar .content-wrapper .burger_item {
  display: block;
  float: right;
  clear: both;
  width: 26px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.navbar .content-wrapper .burger_item:last-of-type {
  margin-bottom: 0;
}

.header {
  position: relative;
}

.header .carousel-wrapper-primary {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .header .carousel-wrapper-primary {
    height: 100vh;
    min-height: 550px;
  }
}

.header .carousel-wrapper-primary .box {
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  filter: contrast(170%);
}

@media screen and (min-width: 768px) {
  .header .carousel-wrapper-primary .box {
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .header .carousel-wrapper-primary .box {
    height: 670px;
  }
}

@media screen and (min-width: 1200px) {
  .header .carousel-wrapper-primary .box {
    min-height: 550px;
    height: 100vh;
  }
}

.header .carousel-wrapper-primary .box::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(15, 77, 161, 0.4);
}

.header .carousel-wrapper-primary .slick-dots {
  bottom: 30px;
}

.header .carousel-wrapper-primary .slick-dots li button::before {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 1.5px solid #1a237e;
  border-radius: 50%;
  opacity: 1;
}

.header .carousel-wrapper-primary .slick-dots li.slick-active button::before {
  background: #1a237e;
}

.header-text, .header-button {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 26%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header-text, .header-button {
    top: 28%;
  }
}

.header-button {
  padding: inherit;
  bottom: 85px;
  top: auto;
}

.header-button::after {
  content: '';
  height: 50px;
  width: 100px;
  background: red;
  -webkit-box-shadow: 9px 10px 55px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 55px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 55px -4px rgba(0, 0, 0, 0.75);
}

.header_other .header-bg {
  height: 260px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .header_other .header-bg {
    height: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .header_other .header-bg {
    height: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .header_other .header-bg {
    height: 460px;
  }
}

@media screen and (min-width: 1370px) {
  .header_other .header-bg {
    height: 530px;
  }
}

.categories {
  background: #e5f0fd;
  padding: 82px 0;
}

.categories .boxes {
  padding: 0 15px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .categories .boxes {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .categories .boxes {
    padding: 0;
  }
}

.categories .boxes .box {
  height: 350px;
  width: 100%;
  margin-bottom: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (min-width: 768px) {
  .categories .boxes .box {
    width: calc(50% - 20px);
    display: inline-block;
    float: left;
    margin: 0 10px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .categories .boxes .box {
    width: calc(25% - 10px);
    margin: 0 5px 0px;
    height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .categories .boxes .box:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.categories .boxes .box::before {
  content: '';
  background: rgba(26, 35, 126, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .3s all;
}

@media screen and (min-width: 768px) {
  .categories .boxes .box::before {
    visibility: hidden;
    opacity: 0;
    background: #1a237e;
  }
}

.partners {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .partners {
    margin-bottom: 75px;
  }
}

.partners .carousel-wrapper-secondary .box {
  position: relative;
  height: 150px;
}

.partners .carousel-wrapper-secondary .box img {
  margin: 0 auto;
  max-width: 140px;
  max-height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.partners .carousel-wrapper-secondary .arrow {
  z-index: 2;
  background: #1a237e;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: 40px;
  padding: 5px 0 5px 20px;
  box-sizing: border-box;
  left: 25px;
}

@media screen and (min-width: 1370px) {
  .partners .carousel-wrapper-secondary .arrow {
    left: -5px;
  }
}

.partners .carousel-wrapper-secondary .arrow:first-of-type {
  transform: translate(-50%, -50%) rotate(180deg);
}

.partners .carousel-wrapper-secondary .arrow:last-of-type {
  right: -10px;
  left: auto;
}

@media screen and (min-width: 1370px) {
  .partners .carousel-wrapper-secondary .arrow:last-of-type {
    right: -35px;
  }
}

.partners .carousel-wrapper-secondary .arrow span {
  height: 18px;
  background: #74dbb3;
  display: block;
  width: 2px;
  display: block;
}

.partners .carousel-wrapper-secondary .arrow span:first-of-type {
  transform: rotate(-45deg);
  margin-bottom: -6px;
}

.partners .carousel-wrapper-secondary .arrow span:last-of-type {
  margin-top: -6px;
  transform: rotate(45deg);
}

.contact .boxes .box {
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .contact .boxes .box {
    box-sizing: border-box;
    width: 33.3%;
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 1200px) {
  .contact .boxes .box {
    padding: 0 15px 0 0;
  }
}

.bottom-bar {
  background: #1a237e;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .bottom-bar {
    padding: 40px 15px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .bottom-bar {
    padding: 40px 0 15px;
  }
}

.news {
  position: relative;
  margin-bottom: 50px;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .news {
    padding: 70px 0;
  }
}

@media screen and (min-width: 1024px) {
  .news .boxes {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .news .boxes:first-of-type .box {
    margin-left: 0;
    width: calc(33.3% - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .news .boxes:nth-of-type(2) .box {
    margin: 0 8px;
    width: calc(33.3% - 16px);
  }
}

@media screen and (min-width: 1200px) {
  .news .boxes:last-of-type .box {
    margin-right: 0;
    width: calc(33.3% - 15px);
  }
}

.news .boxes .box {
  margin: 0 15px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .news .boxes .box {
    width: calc(50% - 30px);
    float: left;
    display: inline-block;
    box-sizing: border-box;
    transition: .3s all;
  }
}

@media screen and (min-width: 1024px) {
  .news .boxes .box {
    width: calc(33.3% - 30px);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .news .boxes .box:hover {
    -webkit-box-shadow: 5px 3px 35px -11px #999999;
    -moz-box-shadow: 5px 3px 35px -11px #999999;
    box-shadow: 5px 3px 35px -11px #999999;
  }
}

.news .boxes .box .img {
  height: 250px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .news .boxes .box .img {
    height: 270px;
  }
}

.news .boxes .box .text-wrapper {
  padding: 0 10px;
  box-sizing: border-box;
}

.news-button {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .news-button {
    margin-bottom: 15px;
  }
}

.news.about .content-wrapper {
  margin-top: 0;
}

.news.about .content-wrapper .post-content {
  padding: 45px 15px 30px;
}

@media screen and (min-width: 768px) {
  .news.about .content-wrapper .post-content {
    padding: 65px 45px 70px;
  }
}

.form {
  margin: 40px auto 0;
  max-width: 1180px;
  padding: 0 15px 50px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 0 0 50px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    padding: 0 0 120px;
    margin-top: 100px;
  }
}

.form p {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .form p {
    width: 33.3%;
    display: inline-block;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .form p {
    padding: 0 15px 0 0;
  }
}

.form p:nth-of-type(4) {
  margin: 60px 0;
}

@media screen and (min-width: 1024px) {
  .form p:nth-of-type(4) {
    margin: 80px 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .form p:nth-of-type(4), .form p:last-of-type {
    width: 100%;
  }
}

.form p:last-of-type {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
}

.form p label {
  font-size: 14px;
  color: #74dbb3;
  text-transform: uppercase;
}

.form p label input, .form p label textarea {
  border: 0;
  border-bottom: 2px solid #1a237e;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
}

.form p label textarea {
  transition: .3s all;
  height: 31px;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}

.form p .wpcf7-submit {
  font-family: 'Montserrat', sans-serif;
  min-width: 230px;
  display: block;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 16px;
  background: #74dbb3;
  color: #1a237e;
  text-transform: uppercase;
  border: 2px solid #74dbb3;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .form p .wpcf7-submit {
    min-width: 245px;
  }
}

.form .wpcf7-validation-errors, .form .wpcf7-mail-sent-ng {
  border: 0;
  color: red;
}

.news_listing {
  padding: 0;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .news_listing .content-wrapper {
    margin-top: -110px;
  }
}

.news_listing .content-wrapper .boxes {
  margin: 40px 0 0;
}

@media screen and (min-width: 768px) {
  .news_listing .content-wrapper .boxes {
    margin: 80px 0 0;
    background: white;
    padding-top: 16px;
    padding: 25px 15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .news_listing .content-wrapper .boxes {
    padding: 20px 25px 0;
  }
}

@media screen and (min-width: 1200px) {
  .news_listing .content-wrapper .boxes a:nth-child(3n+2) .box {
    margin: 0 23px;
  }
}

@media screen and (min-width: 1024px) {
  .news_listing .content-wrapper .boxes a .box {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .news_listing .content-wrapper .boxes a .box {
    margin: 0 0 80px 0;
  }
}

@media screen and (min-width: 1200px) {
  .news_listing .content-wrapper .boxes a .box:last-of-type .box {
    width: calc(33.3% - 15px);
  }
}

.heading-bar {
  background: #e5f0fd;
  padding: 50px 0 80px;
}

.heading-bar.small {
  padding: 50px 0 80px;
}

@media screen and (min-width: 768px) {
  .heading-bar.small {
    padding: 50px 0 130px;
  }
}

.heading-bar .two-boxes {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .heading-bar .two-boxes {
    margin: 50px 15px 0;
  }
}

.heading-bar .two-boxes .content-wrapper {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .heading-bar .two-boxes .content-wrapper .box {
    display: inline-block;
    float: left;
    box-sizing: border-box;
  }
}

.heading-bar .two-boxes .content-wrapper .box:first-of-type {
  margin: 0 15px;
  background: white;
  padding: 25px 15px;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .heading-bar .two-boxes .content-wrapper .box:first-of-type {
    padding: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .heading-bar .two-boxes .content-wrapper .box:first-of-type {
    margin: 0 1% 0 0;
    width: 44%;
    text-align: center;
    line-height: 32px;
  }
}

.heading-bar .two-boxes .content-wrapper .box:first-of-type .team {
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper {
    padding-top: 30px;
  }
}

.heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper .boss {
  color: #000;
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper .boss {
    padding-top: 15px;
  }
}

.heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper .sign {
  display: block;
  background: #74dbb3;
  text-align: center;
  border-radius: 50px;
  padding: 15px;
  color: white;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper .sign {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper .boss, .heading-bar .two-boxes .content-wrapper .box:first-of-type .sign-wrapper .sign {
    width: 50%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .heading-bar .two-boxes .content-wrapper .box:last-of-type {
    margin-left: 1%;
    width: 54%;
  }
}

.heading-bar .two-boxes .content-wrapper .box .sub-box {
  margin: 25px 15px;
}

@media screen and (min-width: 768px) {
  .heading-bar .two-boxes .content-wrapper .box .sub-box {
    width: 50%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 25px 0;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .heading-bar .two-boxes .content-wrapper .box .sub-box {
    margin: 0;
  }
}

.heading-bar .two-boxes .content-wrapper .box .sub-box .image {
  height: 240px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .heading-bar .two-boxes .content-wrapper .box .sub-box .image {
    height: 200px;
  }
}

.heading-bar .two-boxes .content-wrapper .box .sub-box h3 {
  font-size: 18px;
  font-weight: 800;
  padding: 15px 0;
}

.heading-bar .two-boxes .content-wrapper .box .sub-box p {
  color: #000;
}

.news.about .heading-bar {
  padding: 50px 0 20px;
}

@media screen and (min-width: 768px) {
  .news.about .heading-bar {
    padding: 50px 0 50px;
  }
}

.button-bar {
  position: relative;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .button-bar {
    margin-bottom: 90px;
  }
}

.button-bar:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
  bottom: 0;
  background: white;
  width: 100%;
  height: 16px;
  margin: auto;
  filter: drop-shadow(0px 5px 3px rgba(130, 130, 130, 0.2));
}

.button-bar .news-button {
  text-align: center;
}

.button-bar .news-button .m-btn {
  font-size: 18px;
  color: #1a237e;
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .news.post .content-wrapper {
    margin-top: -160px;
  }
}

.news.post .content-wrapper .boxes .img {
  height: 260px;
  margin: 0 15px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .news.post .content-wrapper .boxes .img {
    height: 280px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .news.post .content-wrapper .boxes .img {
    height: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .news.post .content-wrapper .boxes .img {
    height: 460px;
  }
}

@media screen and (min-width: 1370px) {
  .news.post .content-wrapper .boxes .img {
    height: 670px;
  }
}

.post-navigation {
  border-top: 3px solid #1a237e;
  margin: 0 15px;
  padding-top: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .post-navigation {
    margin-bottom: 50px;
    padding-top: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .post-navigation {
    max-width: 1090px;
    margin: 0 auto 50px;
  }
}

@media screen and (min-width: 768px) {
  .post-navigation .content-wrapper {
    margin: 0 auto;
    width: 84%;
  }
}

@media screen and (min-width: 1024px) {
  .post-navigation .content-wrapper {
    width: 65%;
  }
}

@media screen and (min-width: 1200px) {
  .post-navigation .content-wrapper {
    width: 54%;
  }
}

@media screen and (min-width: 1760px) {
  .post-navigation .content-wrapper {
    width: 55%;
  }
}

.post-navigation .content-wrapper .box {
  text-align: center;
  padding: 25px 0;
  margin: 0 25px;
}

@media screen and (min-width: 768px) {
  .post-navigation .content-wrapper .box {
    width: calc(50% - 1px);
    display: inline-block;
    float: left;
    margin: 0;
    position: relative;
    padding: 45px 0;
  }
}

.post-navigation .content-wrapper .box:first-of-type {
  border-bottom: 2px solid #d8d8d8;
}

@media screen and (min-width: 768px) {
  .post-navigation .content-wrapper .box:first-of-type {
    border-bottom: 0;
    border-right: 1px solid #d8d8d8;
  }
}

.post-navigation .content-wrapper .box:first-of-type .arrow {
  transform: rotate(180deg);
  top: 0;
  bottom: 0;
  height: 40px;
  margin: auto;
  left: 0;
}

@media screen and (min-width: 768px) {
  .post-navigation .content-wrapper .box:last-of-type {
    border-left: 1px solid #d8d8d8;
  }
}

.post-navigation .content-wrapper .box:last-of-type .arrow {
  transform: rotate(0);
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  right: 0;
  left: auto;
}

.post-navigation .content-wrapper .box .arrow {
  display: none;
  z-index: 2;
  background: #1a237e;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: 40px;
  padding: 5px 0 5px 20px;
  box-sizing: border-box;
  left: 25px;
}

@media screen and (min-width: 768px) {
  .post-navigation .content-wrapper .box .arrow {
    display: block;
  }
}

@media screen and (min-width: 1370px) {
  .post-navigation .content-wrapper .box .arrow {
    left: -5px;
  }
}

.post-navigation .content-wrapper .box .arrow span {
  height: 18px;
  background: #74dbb3;
  display: block;
  width: 2px;
  display: block;
}

.post-navigation .content-wrapper .box .arrow span:first-of-type {
  transform: rotate(-45deg);
  margin-bottom: -6px;
}

.post-navigation .content-wrapper .box .arrow span:last-of-type {
  margin-top: -6px;
  transform: rotate(45deg);
}

.post-content {
  color: #000;
  padding: 25px 15px 0;
}

@media screen and (min-width: 768px) {
  .post-content {
    padding: 25px 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .post-content {
    padding: 25px 45px 0;
  }
}

.post-content a {
  color: #74dbb3;
  font-weight: 600;
}

.news.section .content-wrapper {
  margin-top: 0;
}

.news.section .content-wrapper .post-content .tab-nav-wrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .news.section .content-wrapper .post-content .tab-nav-wrapper {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
}

.news.section .content-wrapper .post-content .tab-nav-wrapper .tab-nav {
  display: inline-block;
  font-size: 18px;
  margin: 0 5px 15px;
  width: calc(50% - 10px);
  float: left;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 3px solid #74dbb3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .news.section .content-wrapper .post-content .tab-nav-wrapper .tab-nav {
    width: calc(25% - 10px);
    margin: 0 10px 15px 0;
  }
}

@media screen and (min-width: 1024px) {
  .news.section .content-wrapper .post-content .tab-nav-wrapper .tab-nav {
    width: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .news.section .content-wrapper .post-content .tab-nav-wrapper .tab-nav {
    width: auto;
    min-width: 13%;
  }
}

@media screen and (min-width: 768px) {
  .news.section .content-wrapper .post-content .tab-nav-wrapper .tab-nav:last-of-type {
    margin-right: 0;
  }
}

.news.section .content-wrapper .post-content .tab-nav-wrapper .tab-nav.active {
  border-bottom-color: #1a237e;
}

.news.section .content-wrapper .post-content .tab-content {
  display: none;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .news.section .content-wrapper .post-content .tab-content {
    margin-bottom: 60px;
  }
}

.news.section .content-wrapper .post-content .tab-content.active {
  display: block;
}

.news.review .content-wrapper .post-content {
  padding-bottom: 25px;
}

.review-table {
  margin: 0 15px 65px;
}

@media screen and (min-width: 768px) {
  .review-table {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .review-table .content-wrapper .row {
    position: relative;
  }
}

.review-table .content-wrapper .row:nth-child(1n+2) .box:last-of-type {
  border-top: 0;
}

.review-table .content-wrapper .row:last-of-type .box:first-of-type {
  border-bottom: 0;
}

.review-table .content-wrapper .row .box {
  font-weight: 800;
}

.review-table .content-wrapper .row .box a {
  color: #74dbb3;
  font-weight: 400;
}

.review-table .content-wrapper .row .box ul li:before {
  content: '-';
  padding-right: 5px;
  color: #000;
}

.review-table .content-wrapper .row .box.descr {
  font-weight: 500;
  color: #000;
}

@media screen and (min-width: 768px) {
  .review-table .content-wrapper .row .box {
    display: inline-block;
    float: left;
  }
}

.review-table .content-wrapper .row .box:first-of-type {
  background: #d8d8d8;
  text-align: center;
  padding: 25px;
}

@media screen and (min-width: 768px) {
  .review-table .content-wrapper .row .box:first-of-type {
    left: 0;
    width: 185px;
    bottom: 0;
    top: 0;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 2px solid white;
  }
}

.review-table .content-wrapper .row .box:last-of-type {
  border: 2px solid #d8d8d8;
  padding: 25px 15px;
}

@media screen and (min-width: 768px) {
  .review-table .content-wrapper .row .box:last-of-type {
    padding: 25px 15px 25px 25px;
    width: calc(100% - 220px);
    margin-left: 185px;
  }
}

.review-table .content-wrapper .row .box .star {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
  opacity: .4;
}

@media screen and (min-width: 768px) {
  .review-table .content-wrapper .row .box .star {
    width: auto;
    margin: 0px -4px 0px 0;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .review-table .content-wrapper .row .box .star {
    margin-right: 15px;
  }
}

.review-table .content-wrapper .row .box .star.selected {
  opacity: 1;
}

body {
  overflow-x: hidden;
  background: white;
}

body.is-active {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1180px;
  }
}

.header .content-wrapper .two-boxes .box {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.header .content-wrapper .two-boxes .box:first-of-type {
  margin: 40px 0 15px;
  float: right;
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box:first-of-type {
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type {
    border-bottom: 11px solid #1a237e;
    margin: 0;
    height: 386px;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type .hero {
    position: relative;
    left: -39px;
    bottom: 80px;
    z-index: 3;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type::after {
    content: '';
    background-image: url(../images/hero-bg.png);
    display: block;
    border-bottom: 11px solid #1a237e;
    bottom: -11px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px;
  }
}

@media screen and (min-width: 1370px) {
  .header .content-wrapper .two-boxes .box:first-of-type::after {
    background-position: center;
    position: absolute;
    left: 200px;
    right: -200px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box {
    width: 50%;
    display: inline-block;
  }
}

.header .content-wrapper .two-boxes .box .hero {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box .hero {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box .hero {
    float: left;
    max-width: 100%;
  }
}

.post-wrapper {
  padding: 0 15px;
  clear: both;
}

@media screen and (min-width: 1024px) {
  .post-wrapper {
    margin-top: 62px;
  }
}

.post-wrapper .post {
  margin-bottom: 70px;
}

.post-wrapper .post:first-of-type {
  margin-top: 60px;
}

.post-wrapper .post:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_head {
    padding: 0 8%;
  }
}

.post-wrapper .post_head .post-head-img {
  margin: 0 auto 30px;
  display: block;
  max-height: 156px;
  max-width: 140px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head .post-head-img {
    display: inline-block;
    float: left;
    margin: 0px 6% 0 4%;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_head .post-head-img {
    margin-right: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head .content {
    width: 75%;
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 1370px) {
  .post-wrapper .post_head .content {
    width: 77%;
  }
}

@media screen and (min-width: 1760px) {
  .post-wrapper .post_head .content {
    width: 78%;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body {
    float: left;
    width: 100%;
  }
}

.post-wrapper .post_body .two-boxes {
  position: relative;
  padding-top: 100px;
  margin-top: 80px;
  border: 2px dashed #74dbb3;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes {
    text-align: center;
    padding: 74px 0;
    margin-top: 60px;
  }
}

.post-wrapper .post_body .two-boxes .box {
  vertical-align: top;
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box {
    width: 40%;
    display: inline-block;
    padding: 0;
  }
}

.post-wrapper .post_body .two-boxes .box .post-body-img {
  max-width: 100%;
  margin: 0 auto 15px;
  display: block;
}

@media screen and (min-width: 768px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    margin-bottom: 25px;
    max-width: 292px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    width: 100%;
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    max-width: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box:first-of-type {
    margin-right: 5%;
  }
}

.post-wrapper .post_body .two-boxes .box:last-of-type {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box:last-of-type {
    margin: 0 0 0 5%;
  }
}

.post-wrapper .post_body .two-boxes::after {
  content: url(../images/post-brand.png);
  display: block;
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  text-align: center;
}
