@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';
// modules
@import '_modules/_header.scss';
@import '_modules/_footer.scss';
@import '_modules/_burger.scss';
@import '_modules/_nav-list.scss';
@import '_modules/_social-icons.scss';
@import '_modules/_main-slider.scss';
@import '_modules/_beers.scss';
@import '_modules/_posts-listing.scss';
@import '_modules/_article.scss';
@import '_modules/_form.scss';
@import '_modules/_about.scss';
@import '_modules/_subpage.scss';
body {
    overflow-x: hidden;
    background: $cl-white;
    padding-top: 94px;
    @include breakpoint('desktop_small') {
        padding-top: 95px;
    }
    &.is-active {
        overflow: hidden;
    }
}

.content-wrapper {
    @include breakpoint('desktop_small') {
        margin: 0 auto;
        max-width: 1180px;
    }
    &.narrow {
        @include breakpoint('desktop_small') {
            max-width: 874px;
        }
        @include breakpoint('desktop') {
            max-width: 920px;
        }
        &.single {
            max-width: 605px;
            margin: 0 auto;
        }
    }
}