@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,500,700,900&subset=latin-ext');

$c0: #757575;
$c1: #d32f2f;
$c2: #1565c0;

.luckiest-font {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 400;
}
.transition {
  -webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}
input {
  outline: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #000;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    @extend .transition;
  }
}
.avatar, .meta {
    display: inline-block;
    vertical-align: top;
    img {
      margin-right: 30px;
    }
    .author {
      margin-bottom: 10px;
      display: block;
      font-weight: 600;
      color: #4b4933;
      font-size: 16px;

    }
    cite {
      display: block;
    }
}
.descr {
  text-align: left;
}
textarea,
input[type="text"],
input[type="email"], {
  display: inline-block;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 9px 20px 7px;
  color: #000;
  font-size: 16px;
  margin-bottom: 23px;
  border: 0;
  resize: none;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #000;
  }
}
button, input[type="submit"] {
  background-color: #4b4933;
  border: 0;
  color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 70px;
  @extend .transition;
  @media (min-width: 1024px) {
    float: left;

  }
  &:hover {
    opacity: 0.8;
  }
}
.wpcf7, #commentform {
  label {
    width: 100%;
  }
}
.wpcf7 {
  textarea,
  input[type="email"],
  input[type="text"] {
    background-color: #efedd7;
  }
}

.parallax {
  display: none;
  @media (min-width: 640px) {
    display: block;
    background-image: url('../images/parallaxfhd.jpg');
    // background-position: 60% -70%;
    // background-position: 0 -400%;
    background-repeat: no-repeat;
    // background-size: cover;
    text-align: center;
    position: relative;
    height: 640px;
    background-attachment: fixed;
  }
  @media (min-width: 1921px) {
    height: 1000px;
    background-position: top;
    background-image: url('../images/parallax.jpg');
  }

  img {
    display: none;
    @media (min-width: 500px) {
      position: absolute;
      display: block;
      top: calc(50% - 100px);
      left: calc(50% - 319.5px);
      max-width: 100%;
    }
  }
}
body, html {
  color: $c0;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.02em;
  background-color: #fffde7;
  overflow-x: hidden;
  max-width: 100vw;
  .pl30 {
    @media (min-width: 992px) {
      padding-left: 0;
    }
  }
  .pr30 {
    @media (min-width: 992px) {
      padding-right: 70px;
      padding-left: 45px;
    }
    &:after {
      @media (min-width: 992px) {
        content: '';
        background-color: #efedd7;
        left: 96%;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 90;
        height: 100%;
        width: 10000px;
      }
    }
  }
  header {
    background-color: rgba(75, 73, 51, 1);
    @media (min-width: 640px) {
      background-color: rgba(75, 73, 51, .33);
      position: absolute;
      z-index: 100;
      left: 0;
      right: 0;
      top: 555px;
      // @extend .transition;\
      -webkit-transition: background-color .2s; /* Safari */
      transition: background-color .2s;
    }
    @media (min-width: 1024px) {
      top: 555px;
    }
    @media (min-width: 1921px) {
      top: 915px;
    }
    .brand-fixed {
        display: none !important;
    }
    .brand-top {
      display: block;
    }
    &.fixed {
      position: fixed;
      top: 0;
      z-index: 100000;
      background-color: rgba(75, 73, 51, 1);
      width: 100%;
      right: 0;
      left: 0;
      .brand-top {
        display: none;
      }
      .brand-fixed {
        display: block !important;
      }
      a {
        color: #fcfad2;
      }
    }
    .brand {
      position: relative;
      a, .burger {
        display: inline-block;
        vertical-align: top;
        padding: 12px;
      }
      a {
        color: #fcfad2;
        img {
          position: relative;
          top: 3px;
          display: block;
          max-width: 80%;
          @media (min-width: 500px) {
            max-width: none;
          }

        }
      }
      .burger {
        padding: 20px;
        position: absolute;
        right: 15px;
        top: 2px;
        cursor: pointer;
        @media (min-width: 375px) {
          top: 7px;
        }
        @media (min-width: 500px) {
          top: 15px;
        }
        @media (min-width: 1024px) {
          display: none;
        }
        .meat {
          display: block;
          background-color: #fffde7;
          height: 3px;
          width: 35px;
          margin-bottom: 5px;
        }
      }
    }
    nav {
      text-align: center;
      max-height: 0;
      overflow: hidden;
      @extend .transition;
      &.mobile-open {
        max-height: 300px;
        li {
          padding: 12px 0;
          @media (min-width: 1024px) {
            padding: 0;
          }
        }
      }
      @media (min-width: 992px) {
        max-height: 85px;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        // margin-bottom: 20px;
        @media (min-width: 996px) {
          text-align: right;
        }
        @media (min-width: 1024px) {
          text-align: right;
        }
        li {
          padding: 12px 0;
          @media (min-width: 992px) {
            padding: 0;
            display: inline-block;
            line-height: 85px;
            margin-left: 42px;
          }
          a {
            color: #fcfad2;
            font-weight: 400;
            font-size: 18px;
            @extend .transition;
            &:active, &:hover {
              color: #fcfad2;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  main {
    &.fixed {
      padding-top: 120px;
      @media (min-width: 650px) {
        padding-top: 0;
      }
    }
    &.is-home {}
    .this-category {
      margin-top: 25px;
      display: block;
      margin-bottom: 30px;
      color: #424242;
      font-weight: 300;
      font-size: 18px;
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: 0;
        margin-right: 15px;
        width: 13px;
        height: 13px;
        background-color: #424242;
        border-radius: 7px;
      }
    }
    .navigation {
      margin-bottom: 50px;
        ul {
          text-align: center;
          li {
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;
            span {
              display: block;
              width: 100%;
              height: 100%;
              background-position: center;
              @extend .transition;
              &.label-prev {
                &:after {
                  content: '';
                  display: inline-block;
                  width: 0;
                  height: 0;
                  position: relative;
                  left: -1px;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-right: 10px solid #fffde7;
                }
              }
              &.label-next {
                text-align: center;
                &:after {
                  content: '';
                  display: inline-block;
                  width: 0;
                  height: 0;
                  position: relative;
                  left: 1px;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-left: 10px solid #fffde7;
                }
              }
            }
            a {
              display: block;
              line-height: 27px;
              width: 30px;
              height: 30px;
              background-color: #4b4933;
              color: #fffde7;
              border-radius: 20px;
              border: 2px solid #4b4933;
              overflow: hidden;
              @extend .transition;
            }
            &.active, &:hover {
              a {
                background-color: #fffde7;
                color: #4b4933;
              }
            }
            &:hover {
              span {
                &.label-prev {
                  &:after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    position: relative;
                    left: -1px;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-right: 10px solid #4b4933;
                  }
                }
                &.label-next {
                  text-align: center;
                  &:after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    position: relative;
                    left: 1px;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left: 10px solid #4b4933;
                  }
                }
              }
            }
          }
        }
    }
  }
  article {
    padding-bottom: 40px;
    border-bottom: 2px solid #efedd7;
    margin-bottom: 70px;
    &:last-child {
      border-bottom: 0;
    }
    .title {
      margin: 0;
      margin-bottom: 35px;
      font-size: 20px;
      // font-weight: 700;
      line-height: 36px;
      color: #4b4933;

    }
    p {
      font-size: 14px;
    }
    .article-thumbnail {
      @media (min-width: 1024px) {
        max-width: 254px;
        float: left;
        margin-right: 30px;
      }
    }
    figure {
      margin-bottom: 30px;
      opacity: 1;
      @extend .transition;
      @media (min-width: 768px) {
        width: 100%;
        text-align: center;
      }
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: #000;
      line-height: 24px;
      margin-bottom: 34px;
      &.excerpt {
        font-size: 14px;
      }
    }
    .meta {
      text-align: right;
      width: 100%;
      position: relative;
      a, span {
        font-size: 14px;
        color: #4b4933;
      }
      span {
        display: block;
        float: left;
      }
      a {
        float: right;
        padding-left: 20px;
        font-size: 14px;


        position: relative;
        z-index: 120;
      }
    }
    &.single {
      border-bottom: 0;
      padding-top: 30px;
    }
    &:hover {
      figure {
        opacity: .8;
      }
    }
  }
  .b-aside {
    background-color: #efedd7;
  }
  aside {
    padding-top: 50px;
    position: relative;
    z-index: 100;
    &:after {
      @media (min-width: 700px) {
        content: '';
        background-color: #efedd7;
        left: -120px;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 90;
        height: 100%;
        width: 10000px;
      }
      @media (min-width: 992px) {
        left: -30px;
      }
    }
    .module {
      position: relative;
      z-index: 100;
      h3 {
        color: #424242;
      }
      &.about {
        font-size: 16px;
        color: #000;
        line-height: 24px;
        figure {
          text-align: center;
        }
        h3 {
          font-size: 20px;
          margin-bottom: 32px;
          text-align: center;
        }
        p {
          font-size: 14px;
        }
        img {
          border-radius: 135px;
          max-width: 270px;
          position: relative;
          z-index: 50;
          @extend .transition;
          &:hover {
            transform: scale(1.1);
          }
        }
        .about {
          margin-bottom: 50px;
        }
      }
      &.partner {
        text-align: center;
        span {
          font-size: 12px;
          color: #bdbdbd;
        }
        img {
          max-width: 100%;
          margin-bottom: 70px;
        }
      }
      &.newsletter {
        h3 {
          margin-bottom: 30px;
          font-size: 20px;
        }
        p {
          line-height: 30px;
          color: #000;
          margin-bottom: 30px;
        }
      }
      &.search {
        position: relative;
        margin-bottom: 70px;
        input {
          border: 0;
          padding: 15px 16px 14px;
          width: 100%;
          @media (min-width: 1024px) {
            margin: 0 auto;
            display: block;
          }
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #000;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #000;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #000;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #000;
          }
        }
        button {
          border: 0;
          background-color: transparent;
          position: absolute;
          top: 10px;
          right: 5px;

        }
      }
      &.worth {
        h3 {
          font-size: 20px;
          margin-bottom: 32px;
        }
        article {
          padding-bottom: 0;
          border-bottom: 0px;
          margin-bottom: 50px;
          .title {
            font-size: 14px;
            font-weight: 700;
            line-height: 25px;
            color: #4b4933;

          }
          figure {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  footer {
    background-color: #efedd7;
    text-align: left;
    padding-top: 35px;
    padding-bottom: 20px;
    .left {
      font-weight: 700;
      color: #42402c;
      padding-bottom: 20px;
    }
    .right {
      font-style: italic;
      a {
        color: #42402c;
        display: block;
        &:last-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
ol {
  padding: 0;
  list-style-type: none;
  margin-bottom: 50px;
  &.comments {
    li {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid #efedd7;
      p {
        padding-top: 30px;
      }
    }
    a {
      color: #4b4933;
    }
  }
}
.comment-respond {
  textarea, input[type="text"], input[type="email"] {
    background-color: #efedd7;
  }
  a {
    color: #4b4933;
  }
}
.is-home {
  .title {
    margin-top: 30px;
  }
}
h3 {
  font-size: 20px;
  &.comments {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
