@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,500,700,900&subset=latin-ext");
.luckiest-font {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 400; }

.transition, a:hover, button, input[type="submit"], body header nav, html header nav, body header nav ul li a, html header nav ul li a, body main .navigation ul li span, html main .navigation ul li span, body main .navigation ul li a, html main .navigation ul li a, body article figure, html article figure, body aside .module.about img, html aside .module.about img {
  -webkit-transition: all .2s;
  /* Safari */
  transition: all .2s; }

input {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #000; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.avatar, .meta {
  display: inline-block;
  vertical-align: top; }
  .avatar img, .meta img {
    margin-right: 30px; }
  .avatar .author, .meta .author {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    color: #4b4933;
    font-size: 16px; }
  .avatar cite, .meta cite {
    display: block; }

.descr {
  text-align: left; }

textarea,
input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 9px 20px 7px;
  color: #000;
  font-size: 16px;
  margin-bottom: 23px;
  border: 0;
  resize: none; }
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000; }
  textarea::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #000; }
  textarea:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #000; }
  textarea:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder {
    /* Firefox 18- */
    color: #000; }

button, input[type="submit"] {
  background-color: #4b4933;
  border: 0;
  color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 70px; }
  @media (min-width: 1024px) {
    button, input[type="submit"] {
      float: left; } }
  button:hover, input[type="submit"]:hover {
    opacity: 0.8; }

.wpcf7 label, #commentform label {
  width: 100%; }

.wpcf7 textarea,
.wpcf7 input[type="email"],
.wpcf7 input[type="text"] {
  background-color: #efedd7; }

.parallax {
  display: none; }
  @media (min-width: 640px) {
    .parallax {
      display: block;
      background-image: url("../images/parallaxfhd.jpg");
      background-repeat: no-repeat;
      text-align: center;
      position: relative;
      height: 640px;
      background-attachment: fixed; } }
  @media (min-width: 1921px) {
    .parallax {
      height: 1000px;
      background-position: top;
      background-image: url("../images/parallax.jpg"); } }
  .parallax img {
    display: none; }
    @media (min-width: 500px) {
      .parallax img {
        position: absolute;
        display: block;
        top: calc(50% - 100px);
        left: calc(50% - 319.5px);
        max-width: 100%; } }

body, html {
  color: #757575;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.02em;
  background-color: #fffde7;
  overflow-x: hidden;
  max-width: 100vw; }
  @media (min-width: 992px) {
    body .pl30, html .pl30 {
      padding-left: 0; } }
  @media (min-width: 992px) {
    body .pr30, html .pr30 {
      padding-right: 70px;
      padding-left: 45px; } }
  @media (min-width: 992px) {
    body .pr30:after, html .pr30:after {
      content: '';
      background-color: #efedd7;
      left: 96%;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 90;
      height: 100%;
      width: 10000px; } }
  body header, html header {
    background-color: #4b4933; }
    @media (min-width: 640px) {
      body header, html header {
        background-color: rgba(75, 73, 51, 0.33);
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: 555px;
        -webkit-transition: background-color .2s;
        /* Safari */
        transition: background-color .2s; } }
    @media (min-width: 1024px) {
      body header, html header {
        top: 555px; } }
    @media (min-width: 1921px) {
      body header, html header {
        top: 915px; } }
    body header .brand-fixed, html header .brand-fixed {
      display: none !important; }
    body header .brand-top, html header .brand-top {
      display: block; }
    body header.fixed, html header.fixed {
      position: fixed;
      top: 0;
      z-index: 100000;
      background-color: #4b4933;
      width: 100%;
      right: 0;
      left: 0; }
      body header.fixed .brand-top, html header.fixed .brand-top {
        display: none; }
      body header.fixed .brand-fixed, html header.fixed .brand-fixed {
        display: block !important; }
      body header.fixed a, html header.fixed a {
        color: #fcfad2; }
    body header .brand, html header .brand {
      position: relative; }
      body header .brand a, body header .brand .burger, html header .brand a, html header .brand .burger {
        display: inline-block;
        vertical-align: top;
        padding: 12px; }
      body header .brand a, html header .brand a {
        color: #fcfad2; }
        body header .brand a img, html header .brand a img {
          position: relative;
          top: 3px;
          display: block;
          max-width: 80%; }
          @media (min-width: 500px) {
            body header .brand a img, html header .brand a img {
              max-width: none; } }
      body header .brand .burger, html header .brand .burger {
        padding: 20px;
        position: absolute;
        right: 15px;
        top: 2px;
        cursor: pointer; }
        @media (min-width: 375px) {
          body header .brand .burger, html header .brand .burger {
            top: 7px; } }
        @media (min-width: 500px) {
          body header .brand .burger, html header .brand .burger {
            top: 15px; } }
        @media (min-width: 1024px) {
          body header .brand .burger, html header .brand .burger {
            display: none; } }
        body header .brand .burger .meat, html header .brand .burger .meat {
          display: block;
          background-color: #fffde7;
          height: 3px;
          width: 35px;
          margin-bottom: 5px; }
    body header nav, html header nav {
      text-align: center;
      max-height: 0;
      overflow: hidden; }
      body header nav.mobile-open, html header nav.mobile-open {
        max-height: 300px; }
        body header nav.mobile-open li, html header nav.mobile-open li {
          padding: 12px 0; }
          @media (min-width: 1024px) {
            body header nav.mobile-open li, html header nav.mobile-open li {
              padding: 0; } }
      @media (min-width: 992px) {
        body header nav, html header nav {
          max-height: 85px; } }
      body header nav ul, html header nav ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        @media (min-width: 996px) {
          body header nav ul, html header nav ul {
            text-align: right; } }
        @media (min-width: 1024px) {
          body header nav ul, html header nav ul {
            text-align: right; } }
        body header nav ul li, html header nav ul li {
          padding: 12px 0; }
          @media (min-width: 992px) {
            body header nav ul li, html header nav ul li {
              padding: 0;
              display: inline-block;
              line-height: 85px;
              margin-left: 42px; } }
          body header nav ul li a, html header nav ul li a {
            color: #fcfad2;
            font-weight: 400;
            font-size: 18px; }
            body header nav ul li a:active, body header nav ul li a:hover, html header nav ul li a:active, html header nav ul li a:hover {
              color: #fcfad2;
              text-decoration: none; }
  body main.fixed, html main.fixed {
    padding-top: 120px; }
    @media (min-width: 650px) {
      body main.fixed, html main.fixed {
        padding-top: 0; } }
  body main .this-category, html main .this-category {
    margin-top: 25px;
    display: block;
    margin-bottom: 30px;
    color: #424242;
    font-weight: 300;
    font-size: 18px; }
    body main .this-category:before, html main .this-category:before {
      content: '';
      display: inline-block;
      position: relative;
      top: 0;
      margin-right: 15px;
      width: 13px;
      height: 13px;
      background-color: #424242;
      border-radius: 7px; }
  body main .navigation, html main .navigation {
    margin-bottom: 50px; }
    body main .navigation ul, html main .navigation ul {
      text-align: center; }
      body main .navigation ul li, html main .navigation ul li {
        display: inline-block;
        vertical-align: top;
        margin: 0 5px; }
        body main .navigation ul li span, html main .navigation ul li span {
          display: block;
          width: 100%;
          height: 100%;
          background-position: center; }
          body main .navigation ul li span.label-prev:after, html main .navigation ul li span.label-prev:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            position: relative;
            left: -1px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 10px solid #fffde7; }
          body main .navigation ul li span.label-next, html main .navigation ul li span.label-next {
            text-align: center; }
            body main .navigation ul li span.label-next:after, html main .navigation ul li span.label-next:after {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              position: relative;
              left: 1px;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 10px solid #fffde7; }
        body main .navigation ul li a, html main .navigation ul li a {
          display: block;
          line-height: 27px;
          width: 30px;
          height: 30px;
          background-color: #4b4933;
          color: #fffde7;
          border-radius: 20px;
          border: 2px solid #4b4933;
          overflow: hidden; }
        body main .navigation ul li.active a, body main .navigation ul li:hover a, html main .navigation ul li.active a, html main .navigation ul li:hover a {
          background-color: #fffde7;
          color: #4b4933; }
        body main .navigation ul li:hover span.label-prev:after, html main .navigation ul li:hover span.label-prev:after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          position: relative;
          left: -1px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 10px solid #4b4933; }
        body main .navigation ul li:hover span.label-next, html main .navigation ul li:hover span.label-next {
          text-align: center; }
          body main .navigation ul li:hover span.label-next:after, html main .navigation ul li:hover span.label-next:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            position: relative;
            left: 1px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 10px solid #4b4933; }
  body article, html article {
    padding-bottom: 40px;
    border-bottom: 2px solid #efedd7;
    margin-bottom: 70px; }
    body article:last-child, html article:last-child {
      border-bottom: 0; }
    body article .title, html article .title {
      margin: 0;
      margin-bottom: 35px;
      font-size: 20px;
      line-height: 36px;
      color: #4b4933; }
    body article p, html article p {
      font-size: 14px; }
    @media (min-width: 1024px) {
      body article .article-thumbnail, html article .article-thumbnail {
        max-width: 254px;
        float: left;
        margin-right: 30px; } }
    body article figure, html article figure {
      margin-bottom: 30px;
      opacity: 1; }
      @media (min-width: 768px) {
        body article figure, html article figure {
          width: 100%;
          text-align: center; } }
      body article figure img, html article figure img {
        max-width: 100%;
        width: 100%;
        height: auto; }
    body article p, html article p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: #000;
      line-height: 24px;
      margin-bottom: 34px; }
      body article p.excerpt, html article p.excerpt {
        font-size: 14px; }
    body article .meta, html article .meta {
      text-align: right;
      width: 100%;
      position: relative; }
      body article .meta a, body article .meta span, html article .meta a, html article .meta span {
        font-size: 14px;
        color: #4b4933; }
      body article .meta span, html article .meta span {
        display: block;
        float: left; }
      body article .meta a, html article .meta a {
        float: right;
        padding-left: 20px;
        font-size: 14px;
        position: relative;
        z-index: 120; }
    body article.single, html article.single {
      border-bottom: 0;
      padding-top: 30px; }
    body article:hover figure, html article:hover figure {
      opacity: .8; }
  body .b-aside, html .b-aside {
    background-color: #efedd7; }
  body aside, html aside {
    padding-top: 50px;
    position: relative;
    z-index: 100; }
    @media (min-width: 700px) {
      body aside:after, html aside:after {
        content: '';
        background-color: #efedd7;
        left: -120px;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 90;
        height: 100%;
        width: 10000px; } }
    @media (min-width: 992px) {
      body aside:after, html aside:after {
        left: -30px; } }
    body aside .module, html aside .module {
      position: relative;
      z-index: 100; }
      body aside .module h3, html aside .module h3 {
        color: #424242; }
      body aside .module.about, html aside .module.about {
        font-size: 16px;
        color: #000;
        line-height: 24px; }
        body aside .module.about figure, html aside .module.about figure {
          text-align: center; }
        body aside .module.about h3, html aside .module.about h3 {
          font-size: 20px;
          margin-bottom: 32px;
          text-align: center; }
        body aside .module.about p, html aside .module.about p {
          font-size: 14px; }
        body aside .module.about img, html aside .module.about img {
          border-radius: 135px;
          max-width: 270px;
          position: relative;
          z-index: 50; }
          body aside .module.about img:hover, html aside .module.about img:hover {
            transform: scale(1.1); }
        body aside .module.about .about, html aside .module.about .about {
          margin-bottom: 50px; }
      body aside .module.partner, html aside .module.partner {
        text-align: center; }
        body aside .module.partner span, html aside .module.partner span {
          font-size: 12px;
          color: #bdbdbd; }
        body aside .module.partner img, html aside .module.partner img {
          max-width: 100%;
          margin-bottom: 70px; }
      body aside .module.newsletter h3, html aside .module.newsletter h3 {
        margin-bottom: 30px;
        font-size: 20px; }
      body aside .module.newsletter p, html aside .module.newsletter p {
        line-height: 30px;
        color: #000;
        margin-bottom: 30px; }
      body aside .module.search, html aside .module.search {
        position: relative;
        margin-bottom: 70px; }
        body aside .module.search input, html aside .module.search input {
          border: 0;
          padding: 15px 16px 14px;
          width: 100%; }
          @media (min-width: 1024px) {
            body aside .module.search input, html aside .module.search input {
              margin: 0 auto;
              display: block; } }
          body aside .module.search input::-webkit-input-placeholder, html aside .module.search input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #000; }
          body aside .module.search input::-moz-placeholder, html aside .module.search input::-moz-placeholder {
            /* Firefox 19+ */
            color: #000; }
          body aside .module.search input:-ms-input-placeholder, html aside .module.search input:-ms-input-placeholder {
            /* IE 10+ */
            color: #000; }
          body aside .module.search input:-moz-placeholder, html aside .module.search input:-moz-placeholder {
            /* Firefox 18- */
            color: #000; }
        body aside .module.search button, html aside .module.search button {
          border: 0;
          background-color: transparent;
          position: absolute;
          top: 10px;
          right: 5px; }
      body aside .module.worth h3, html aside .module.worth h3 {
        font-size: 20px;
        margin-bottom: 32px; }
      body aside .module.worth article, html aside .module.worth article {
        padding-bottom: 0;
        border-bottom: 0px;
        margin-bottom: 50px; }
        body aside .module.worth article .title, html aside .module.worth article .title {
          font-size: 14px;
          font-weight: 700;
          line-height: 25px;
          color: #4b4933; }
        body aside .module.worth article figure, html aside .module.worth article figure {
          margin-bottom: 20px; }
  body footer, html footer {
    background-color: #efedd7;
    text-align: left;
    padding-top: 35px;
    padding-bottom: 20px; }
    body footer .left, html footer .left {
      font-weight: 700;
      color: #42402c;
      padding-bottom: 20px; }
    body footer .right, html footer .right {
      font-style: italic; }
      body footer .right a, html footer .right a {
        color: #42402c;
        display: block; }
        body footer .right a:last-child, html footer .right a:last-child {
          padding-bottom: 20px; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
ol {
  padding: 0;
  list-style-type: none;
  margin-bottom: 50px; }
  ol.comments li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #efedd7; }
    ol.comments li p {
      padding-top: 30px; }
  ol.comments a {
    color: #4b4933; }

.comment-respond textarea, .comment-respond input[type="text"], .comment-respond input[type="email"] {
  background-color: #efedd7; }
.comment-respond a {
  color: #4b4933; }

.is-home .title {
  margin-top: 30px; }

h3 {
  font-size: 20px; }
  h3.comments {
    margin-top: 0;
    margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
