/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: 0; }

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.ui-state-active .m-btn_primary {
  background-color: #598527;
  color: #8dc63f;
  border-color: #598527; }

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900; }

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px; }
  .m-btn_primary {
    background: white;
    color: red;
    border: 2px solid red; }
  .m-btn_secondary {
    background: transparent;
    color: white;
    border: 2px solid white; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Light.otf"); }

@font-face {
  font-family: "MyriadPro-Semi";
  src: url("../fonts/MyriadPro-Semibold.otf"); }

@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../fonts/MyriadPro-Cond.otf"); }

@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../fonts/MyriadPro-BoldCond.otf"); }

.typo {
  font-family: MyriadPro, sans-serif;
  color: black; }
  .typo_primary {
    font-family: MyriadPro-BoldCond, sans-serif;
    font-size: 24px; }
    .typo_primary.heading {
      font-size: 32px;
      display: table;
      margin: 26px auto 38px;
      position: relative;
      text-transform: uppercase; }
      @media screen and (min-width: 768px) {
        .typo_primary.heading {
          font-size: 36px; } }
      .typo_primary.heading::before {
        content: url("../images/brand-logo-small.png");
        position: absolute;
        left: -65px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 54px; }
  .typo_secondary {
    font-family: MyriadPro-Semi, Sans-serif; }
  .typo_text {
    font-family: 'Roboto', sans-serif; }

.header-nav_social .typo_blog {
  font-size: 24px;
  font-weight: bold;
  background: #076c22;
  color: white;
  display: inline-block;
  padding: 5px 14px 5px;
  border-radius: 50px;
  line-height: 25px; }

.header-nav_about a:first-of-type .typo_primary {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  opacity: 0;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  z-index: 2; }

.header-nav_about a:first-of-type:hover .typo_primary {
  opacity: 1; }

.header-nav_about .typo_primary {
  font-size: 18px;
  letter-spacing: 0.2px;
  font-style: italic;
  line-height: 25px; }

.nav-list li {
  font-family: MyriadPro-Semi, Sans-serif; }
  .nav-list li.current-menu-item a {
    color: #598527; }
  .nav-list li a {
    color: black;
    font-size: 22px;
    -webkit-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color; }
    @media screen and (min-width: 768px) {
      .nav-list li a {
        font-size: 25px; } }
    @media screen and (min-width: 1024px) {
      .nav-list li a {
        letter-spacing: -0.5px;
        font-size: 18px; } }
    .nav-list li a:hover {
      color: #076c22; }

.bar .typo_primary {
  color: white;
  letter-spacing: 0.2px;
  font-size: 22px;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .bar .typo_primary {
      font-size: 30px;
      padding: 0; } }

.offer-box .typo_primary {
  font-family: MyriadPro, sans-serif; }

.offer-box_excerpt .typo_text {
  padding: 0 5px; }

.offer-box_bar .typo_secondary {
  color: white;
  font-size: 18px; }

.offer-box_img-caption .typo {
  color: white;
  font-size: 18px;
  margin-bottom: 9px; }
  .offer-box_img-caption .typo:first-of-type {
    font-size: 30px; }

.realizations-slider .typo {
  max-width: 332px;
  margin: 0 auto; }
  .realizations-slider .typo_primary {
    font-family: MyriadPro, sans-serif;
    font-size: 19px;
    margin-bottom: 12px; }
  .realizations-slider .typo_text {
    opacity: .7; }

.header-slider .typo_primary {
  font-size: 32px;
  font-family: MyriadPro, sans serif;
  border: 2px dashed black;
  padding: 14px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 36px; }
  @media screen and (min-width: 768px) {
    .header-slider .typo_primary {
      line-height: 40px;
      padding: 25px;
      margin-bottom: 40px; } }

.header-slider .typo_text {
  text-align: center;
  max-width: 240px;
  line-height: 20px; }

.sitemap ul li a {
  font-family: MyriadPro, sans-serif;
  color: white; }

.copyright-bar a {
  font-size: 16px;
  -webkit-transition: .3s color;
  -o-transition: .3s color;
  transition: .3s color; }
  @media screen and (min-width: 768px) {
    .copyright-bar a {
      font-size: 14px; } }
  .copyright-bar a:hover {
    color: #076c22; }

.copyright-bar .typo_secondary {
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: -0.3px; }
  @media screen and (min-width: 768px) {
    .copyright-bar .typo_secondary {
      font-size: 14px; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar .typo_secondary {
      margin-bottom: 0; } }
  .copyright-bar .typo_secondary:last-of-type {
    margin-bottom: 0; }
  @media screen and (min-width: 1024px) {
    .copyright-bar .typo_secondary:nth-child(2) {
      margin-left: auto;
      padding-right: 10px;
      margin-right: 10px;
      position: relative; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar .typo_secondary:nth-child(2)::after {
      content: '';
      height: 15px;
      width: 1px;
      background: white;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; } }

.highlights_heading .typo_primary {
  font-size: 22px;
  background: white;
  border: 2px solid black;
  padding: 9px 54px 9px 12px;
  letter-spacing: 0.8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 28px;
  max-width: 220px; }
  @media screen and (min-width: 768px) {
    .highlights_heading .typo_primary {
      font-size: 36px;
      padding: 9px 62px 9px 10px;
      max-width: 350px; } }
  .highlights_heading .typo_primary::after {
    content: url("../images/loupe.png");
    display: block;
    display: block;
    position: absolute;
    background: #076c22;
    border: 2px solid black;
    top: -2px;
    bottom: 0;
    right: -2px;
    height: 34px;
    padding: 8px 5px 0; }

.highlights_heading .typo_text {
  max-width: 828px;
  margin: 0 auto; }

.highlights-boxes_box .typo_primary {
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.1px; }
  @media screen and (min-width: 768px) {
    .highlights-boxes_box .typo_primary {
      margin-bottom: 34px; } }

@media screen and (min-width: 1024px) {
  .highlights-boxes_box .typo_text {
    padding: 0 15px; } }

.footer-boxes_box_heading .typo_primary {
  color: white; }

.footer-boxes_box .text-wrapper .typo_text {
  line-height: 22px;
  color: #4e484c; }
  .footer-boxes_box .text-wrapper .typo_text:nth-child(2) {
    padding: 15px 0; }
    @media screen and (min-width: 768px) {
      .footer-boxes_box .text-wrapper .typo_text:nth-child(2) {
        padding: 20px 0; } }
  .footer-boxes_box .text-wrapper .typo_text a {
    color: #4e484c; }

.wpcf7-form input,
.wpcf7-form select,
.wpcf7-form textarea {
  font-size: 16px;
  font-family: "MyriadPro";
  color: #4e484c; }
  .wpcf7-form input::-webkit-input-placeholder,
  .wpcf7-form select::-webkit-input-placeholder,
  .wpcf7-form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4e484c; }
  .wpcf7-form input::-moz-placeholder,
  .wpcf7-form select::-moz-placeholder,
  .wpcf7-form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #4e484c; }
  .wpcf7-form input:-ms-input-placeholder,
  .wpcf7-form select:-ms-input-placeholder,
  .wpcf7-form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #4e484c; }
  .wpcf7-form input:-moz-placeholder,
  .wpcf7-form select:-moz-placeholder,
  .wpcf7-form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #4e484c; }

.articles .typo_primary {
  margin-bottom: 15px; }
  @media screen and (min-width: 1024px) {
    .articles .typo_primary {
      margin-bottom: 20px; } }

.articles-more .typo_secondary {
  padding: 7px 37px 7px 10px;
  background: black;
  display: inline-block;
  color: white;
  font-size: 22px;
  font-family: "MyriadPro-Cond";
  letter-spacing: 0.8px;
  position: relative; }
  .articles-more .typo_secondary::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 16px;
    border-color: transparent transparent transparent white;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto; }

.subpage-listing-row .typo_primary {
  letter-spacing: -0.6px;
  margin-bottom: 15px;
  font-size: 24px; }
  @media screen and (min-width: 768px) {
    .subpage-listing-row .typo_primary {
      margin-bottom: 25px; } }

.subpage-listing-row .typo_text {
  font-family: MyriadPro, sans-serif;
  letter-spacing: 0.2px; }

.realizations-listing.tales .realizations-listing-item_descr .typo_secondary {
  font-size: 20px;
  letter-spacing: -0.4px;
  margin-bottom: 10px; }

.realizations-listing.tales .realizations-listing-item_descr .typo_text {
  line-height: 19px; }

.page-heading .typo {
  font-family: MyriadPro-BoldCond, sans-serif;
  font-size: 24px;
  line-height: 32px; }

.post .typo_text {
  margin: 0 25px; }

.products-group .typo_text {
  margin: 0 15px;
  max-width: 680px; }
  @media screen and (min-width: 768px) {
    .products-group .typo_text {
      margin: 25px auto 45px; } }

.products-group-list .typo_text {
  max-width: none;
  margin: auto; }
  .products-group-list .typo_text p {
    margin-bottom: 15px; }
  .products-group-list .typo_text span {
    font-family: "MyriadPro-Semi";
    font-size: 17px; }

.subpage-heading .typo_primary {
  margin: 0 25px;
  color: black;
  font-size: 26px;
  font-family: "MyriadPro"; }
  @media screen and (min-width: 768px) {
    .subpage-heading .typo_primary.title {
      margin: 0 25px 15px;
      margin-right: auto; } }
  @media screen and (min-width: 768px) {
    .subpage-heading .typo_primary.realziations {
      margin-left: auto; } }
  .subpage-heading .typo_primary a {
    font-size: 24px;
    color: black;
    -webkit-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color; }
    .subpage-heading .typo_primary a:hover {
      color: #076c22; }

.article p {
  font-family: "MyriadPro";
  color: black;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 0 15px; }
  @media screen and (min-width: 1200px) {
    .article p {
      margin: 0; } }
  .article p em {
    font-style: italic;
    font-family: MyriadPro-BoldCond, Sans-serif; }

.www-offer .typo_text:first-of-type {
  font-size: 20px; }

.bar {
  background: black;
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.offer .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 640px) {
    .offer .content-wrapper {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  @media screen and (min-width: 768px) {
    .offer .content-wrapper {
      margin: 0 15px; } }
  @media screen and (min-width: 1024px) {
    .offer .content-wrapper {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (min-width: 1200px) {
    .offer .content-wrapper {
      margin: 0 auto; } }

.offer-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px 15px;
  max-width: 352px; }
  @media screen and (min-width: 640px) {
    .offer-box {
      max-width: 45%; } }
  @media screen and (min-width: 768px) {
    .offer-box {
      margin: 0 0 15px;
      max-width: 350px; } }
  @media screen and (min-width: 1024px) {
    .offer-box {
      max-width: 310px;
      margin-bottom: 29px; } }
  @media screen and (min-width: 1200px) {
    .offer-box {
      max-width: 352px; } }
  .offer-box_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 40px; }
    .offer-box_heading-img {
      max-height: 42px;
      margin: 0 17px 0 5px; }
  .offer-box_img {
    height: 220px;
    max-width: 350px;
    margin-bottom: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    @media screen and (min-width: 768px) {
      .offer-box_img {
        height: 300px; } }
  .offer-box_bar {
    background: #a0a0a0;
    margin-top: 12px; }
    @media screen and (min-width: 1024px) {
      .offer-box_bar {
        display: none; } }
    .offer-box_bar-href {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 10px;
      min-height: 37px; }

.header-slider {
  margin-bottom: 30px; }
  .header-slider_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 15px; }
    @media screen and (min-width: 768px) {
      .header-slider_box {
        margin: 0; } }
    .header-slider_box:first-of-type, .header-slider_box:last-of-type {
      display: none; }
      @media screen and (min-width: 768px) {
        .header-slider_box:first-of-type, .header-slider_box:last-of-type {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; } }
      @media screen and (min-width: 1200px) {
        .header-slider_box:first-of-type, .header-slider_box:last-of-type {
          width: 30%; } }
    @media screen and (min-width: 1200px) {
      .header-slider_box:nth-child(2) {
        width: 30%;
        z-index: 2; } }
    @media screen and (min-width: 768px) {
      .header-slider_box_item-img {
        height: 260px; } }
    @media screen and (min-width: 1024px) {
      .header-slider_box_item-img {
        height: 350px; } }
    @media screen and (min-width: 1200px) {
      .header-slider_box_item-img {
        height: 510px; } }

@media screen and (min-width: 768px) {
  .box {
    width: auto; } }

@media screen and (min-width: 1024px) {
  .box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (min-width: 768px) {
  .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.slider-arrows {
  display: none !important;
  height: 62px;
  width: 62px;
  background-size: 35px;
  background-position-x: 10px;
  cursor: pointer;
  background: white;
  position: absolute;
  top: -42px;
  bottom: 0;
  z-index: 2;
  margin: auto;
  background-image: url("../images/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%; }
  @media screen and (min-width: 768px) {
    .slider-arrows {
      display: inline !important; } }
  .slider-arrows.right {
    right: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.collabo-slider .slider-arrows {
  top: 0; }

.slick-dots {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #076c22;
  display: none !important; }
  @media screen and (min-width: 768px) {
    .slick-dots {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      height: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 50px 0; } }
  @media screen and (min-width: 1024px) {
    .slick-dots {
      margin: 22px 0 50px; } }
  .slick-dots li {
    border: 2px solid transparent;
    margin: 0 4px;
    height: 18px;
    width: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .1s all;
    -o-transition: .1s all;
    transition: .1s all; }
    .slick-dots li button {
      z-index: 2;
      cursor: pointer;
      color: transparent;
      background: #c1272c;
      border-radius: 50%;
      border-color: #c1272c;
      height: 14px;
      width: 14px;
      border: 0;
      position: relative; }
    .slick-dots li.slick-active {
      border-color: #c1272c; }
      .slick-dots li.slick-active button {
        width: 20px;
        height: 20px; }
    .slick-dots li::after {
      content: '';
      background: white;
      height: 22px;
      width: 75px;
      position: absolute; }

.realizations-slider .slick-dots li.slick-active {
  border-color: black; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 14px 15px 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  background: white;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  height: 90px;
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75); }
  @media screen and (min-width: 1024px) {
    .header-nav {
      height: 108px; } }
  .header-nav.reduced {
    height: 80px; }
    @media screen and (min-width: 1024px) {
      .header-nav.reduced {
        height: 90px; } }
  @media screen and (min-width: 1024px) {
    .header-nav {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      position: static;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 40px;
      border-bottom: 0; } }
  @media screen and (min-width: 1200px) {
    .header-nav {
      padding: 0; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav-brand-logo {
      width: 128px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .header-nav_nav-brand-logo img {
    max-width: 80px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    @media screen and (min-width: 1024px) {
      .header-nav_nav-brand-logo img {
        max-width: 220px; } }
    @media screen and (min-width: 1200px) {
      .header-nav_nav-brand-logo img {
        max-width: 270px; } }
  .header-nav.reduced .header-nav_nav-brand-logo img {
    max-width: 80px; }
    @media screen and (min-width: 1024px) {
      .header-nav.reduced .header-nav_nav-brand-logo img {
        max-width: 70px; } }
  .header-nav.reduced .burger_item {
    height: 5px;
    width: 35px; }
    .header-nav.reduced .burger_item:nth-child(2) {
      margin: 4px 0; }
  .header-nav.reduced .nav-list {
    margin-top: 65px; }
    @media screen and (min-width: 1024px) {
      .header-nav.reduced .nav-list {
        margin-top: 0; } }
    .header-nav.reduced .nav-list.is-active {
      height: calc(100vh - 64px);
      margin-top: 77px; }
      @media screen and (min-width: 768px) {
        .header-nav.reduced .nav-list.is-active {
          margin-top: 90px; } }
    .header-nav.reduced .nav-list li {
      margin: 10px 0; }
      @media screen and (min-width: 768px) {
        .header-nav.reduced .nav-list li {
          margin: 12px 0; } }
      @media screen and (min-width: 1024px) {
        .header-nav.reduced .nav-list li {
          margin: 0; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav.desktop-fixed .content-wrapper .header-nav_nav-brand-logo {
      opacity: 1;
      visibility: visible; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav .content-wrapper .header-nav_nav-brand-logo {
      margin-left: 15px; } }
  @media screen and (min-width: 1200px) {
    .header-nav_nav .content-wrapper .header-nav_nav-brand-logo {
      left: -6px;
      margin-left: 0; } }
  .header-nav_nav .content-wrapper .header-nav_nav-brand-logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center; }

.burger {
  margin-left: auto; }
  .burger_item {
    display: block;
    width: 45px;
    height: 7px;
    background: black;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    cursor: pointer; }
    .burger_item:nth-child(2) {
      margin: 5px 0; }
  @media screen and (min-width: 1024px) {
    .burger {
      display: none; } }

.header-nav_nav a {
  color: #000; }

.header-nav_nav .nav-list {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s height, opacity;
  -o-transition: .3s height, opacity;
  transition: .3s height, opacity;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 0; }
  @media screen and (min-width: 768px) {
    .header-nav_nav .nav-list {
      margin-top: 108px; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav .nav-list {
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s;
      overflow: visible;
      opacity: 1;
      clear: both;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      z-index: 3;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 2px 15px 0 35px;
      margin: 0 auto;
      max-width: 1180px;
      top: 0; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav .nav-list {
      visibility: visible; } }
  @media screen and (min-width: 1200px) {
    .header-nav_nav .nav-list {
      padding: 2px 0 0 35px; } }
  .header-nav_nav .nav-list li {
    margin: 6px 0;
    opacity: 0;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity; }
    .header-nav_nav .nav-list li:last-of-type {
      margin-bottom: 35px; }
      @media screen and (min-width: 1024px) {
        .header-nav_nav .nav-list li:last-of-type {
          margin: 0; } }
    @media screen and (min-width: 768px) {
      .header-nav_nav .nav-list li {
        margin: 12px 0; } }
    @media screen and (min-width: 1024px) {
      .header-nav_nav .nav-list li {
        opacity: 1;
        margin: 0; } }
  .header-nav_nav .nav-list.is-active {
    height: calc(100vh - 94px);
    opacity: 1;
    visibility: visible; }
    @media screen and (min-width: 768px) {
      .header-nav_nav .nav-list.is-active {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: white; } }
    .header-nav_nav .nav-list.is-active li {
      opacity: 1; }
  .header-nav_nav .nav-list_close {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer; }
    @media screen and (min-width: 1024px) {
      .header-nav_nav .nav-list_close {
        display: none; } }

.header-nav_nav {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .header-nav_nav {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 5;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      margin-top: 0;
      background-color: #fff; } }
  .header-nav_nav .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    @media screen and (min-width: 1024px) {
      .header-nav_nav .content-wrapper {
        height: 125px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav.desktop-fixed {
      -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75); } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav.desktop-fixed .content-wrapper {
      height: 65px; } }

@media only screen and (max-width: 600px) {
  .nav-list li {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    margin-bottom: 20px !important; }
  .nav-list.is-active {
    position: absolute;
    display: block;
    background-color: white;
    top: 13px;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center; } }

.header-nav_about {
  display: none; }
  @media screen and (min-width: 1024px) {
    .header-nav_about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 560px;
      margin: 0 36px 0 26px; } }
  @media screen and (min-width: 1200px) {
    .header-nav_about {
      max-width: 610px; } }
  .header-nav_about-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-transition: .3s filter;
    -o-transition: .3s filter;
    transition: .3s filter; }
  .header-nav_about a {
    position: relative;
    border: 3px solid #a0a0a0;
    border-radius: 50%;
    padding: 2px;
    margin-right: 20px; }
    .header-nav_about a:hover .header-nav_about-img {
      -webkit-filter: brightness(70%);
      filter: brightness(70%); }

.header-nav_social {
  display: none; }
  @media screen and (min-width: 1024px) {
    .header-nav_social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 158px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .header-nav_social a {
    height: 35px; }
    .header-nav_social a:first-child {
      margin: 0 22px 15px 0; }
  .header-nav_social span a:first-child {
    margin: 0; }

.realizations-slider .header-slider-wrapper_item {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .realizations-slider .header-slider-wrapper_item {
      margin-bottom: 20px; } }
  @media screen and (min-width: 1024px) {
    .realizations-slider .header-slider-wrapper_item {
      margin: 40px 0 32px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .realizations-slider .header-slider-wrapper_item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .realizations-slider .header-slider-wrapper_item-box-img {
      max-width: 300px;
      height: auto;
      margin: 0 auto 32px; }
      @media screen and (min-width: 768px) {
        .realizations-slider .header-slider-wrapper_item-box-img {
          max-height: 300px; } }
      @media screen and (min-width: 1024px) {
        .realizations-slider .header-slider-wrapper_item-box-img {
          max-width: 350px;
          max-height: none; } }

.highlights {
  background: #f1eae0;
  margin-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 1024px) {
    .highlights {
      margin-top: 42px;
      padding-bottom: 28px; } }
  .highlights_heading {
    padding: 35px 15px 26px; }
  @media screen and (min-width: 768px) {
    .highlights-boxes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .highlights-boxes_box {
    margin-bottom: 40px;
    padding: 0 15px; }
    .highlights-boxes_box:last-of-type {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .highlights-boxes_box {
        margin-bottom: 0; } }
    .highlights-boxes_box-img {
      max-width: 140px;
      margin: 20px auto 35px;
      display: block; }
      @media screen and (min-width: 1024px) {
        .highlights-boxes_box-img {
          max-width: 190px;
          margin-bottom: 40px;
          letter-spacing: -0.1px; } }

.wpcf7-form {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (min-width: 1200px) {
    .wpcf7-form {
      padding: 0; } }
  .wpcf7-form p {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .wpcf7-form p {
        width: 80%; } }
  .wpcf7-form textarea,
  .wpcf7-form select,
  .wpcf7-form input {
    border: 1px solid #a0a0a0;
    padding-left: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    -webkit-appearance: none;
    -webkit-border-radius: 0px; }
  .wpcf7-form input,
  .wpcf7-form select {
    height: 44px;
    margin-bottom: 18px; }
    @media screen and (min-width: 768px) {
      .wpcf7-form input,
      .wpcf7-form select {
        margin-bottom: 12px; } }
    .wpcf7-form input.wpcf7-submit,
    .wpcf7-form select.wpcf7-submit {
      font-family: "MyriadPro-BoldCond";
      font-size: 26px;
      background: transparent;
      border: none;
      width: auto;
      float: right;
      margin-top: 14px;
      cursor: pointer; }
      @media screen and (min-width: 1024px) {
        .wpcf7-form input.wpcf7-submit,
        .wpcf7-form select.wpcf7-submit {
          margin-top: 26px; } }
      @media screen and (min-width: 1200px) {
        .wpcf7-form input.wpcf7-submit,
        .wpcf7-form select.wpcf7-submit {
          margin-top: 36px; } }
    .wpcf7-form input.wpcf7-not-valid,
    .wpcf7-form select.wpcf7-not-valid {
      border-color: red; }
  .wpcf7-form textarea {
    padding-top: 14px;
    height: 120px;
    resize: none; }
  .wpcf7-form .wpcf7-not-valid-tip,
  .wpcf7-form .wpcf7-response-output {
    font-family: "MyriadPro"; }
  .wpcf7-form .wpcf7-not-valid-tip {
    position: relative;
    top: -10px;
    padding-left: 5px; }
  .wpcf7-form .wpcf7-response-output {
    margin: 0px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40px;
    color: black;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .wpcf7-form .wpcf7-response-output {
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      .wpcf7-form .wpcf7-response-output {
        margin-top: 60px;
        width: 88%; } }
  .wpcf7-form .selected-department::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 7px 0 7px;
    border-color: #000000 transparent transparent transparent;
    content: '';
    position: absolute;
    right: 12px;
    top: 4px; }

.copyright-bar {
  background: #076c22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 15px 15px 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .copyright-bar {
      padding: 15px; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar {
      display: block; } }
  @media screen and (min-width: 1200px) {
    .copyright-bar {
      padding: 20px 0; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar .content-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.sitemap {
  background: #076c22;
  padding: 38px 15px 15px; }
  @media screen and (min-width: 1200px) {
    .sitemap {
      padding: 38px 0 15px; } }
  @media screen and (min-width: 768px) {
    .sitemap .content-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .sitemap-list {
    margin-bottom: 15px;
    line-height: 30px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .sitemap-list {
        text-align: left; } }
  @media screen and (min-width: 768px) {
    .sitemap-logo {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .sitemap-logo {
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 50px; } }
  .sitemap-logo_img {
    max-width: 240px;
    margin: 30px auto 5px;
    display: block; }
    @media screen and (min-width: 1024px) {
      .sitemap-logo_img {
        margin: auto; } }

.collabo-slider {
  margin: 20px 0; }
  @media screen and (min-width: 768px) {
    .collabo-slider {
      margin: 40px 0; } }
  .collabo-slider .header-slider-wrapper_item-box-img {
    max-width: 300px;
    height: auto;
    margin: 20px auto 20px;
    max-width: 200px;
    max-height: 150px; }
    @media screen and (min-width: 768px) {
      .collabo-slider .header-slider-wrapper_item-box-img {
        max-width: 150px;
        max-height: 120px; } }
  .collabo-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.articles {
  margin: 20px 0; }
  @media screen and (min-width: 768px) {
    .articles {
      margin-top: 40px; } }
  @media screen and (min-width: 1024px) {
    .articles {
      margin-top: 52px; } }
  .articles-item {
    margin: 0 15px 40px; }
    @media screen and (min-width: 768px) {
      .articles-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 60px; } }
    @media screen and (min-width: 1024px) {
      .articles-item {
        margin: 0 30px 50px; } }
    @media screen and (min-width: 1200px) {
      .articles-item {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        margin-bottom: 80px; } }
    @media screen and (min-width: 768px) {
      .articles-item:last-of-type {
        margin-bottom: 36px; } }
    @media screen and (min-width: 1200px) {
      .articles-item:last-of-type {
        margin-bottom: 46px; } }
    .articles-item_img {
      height: 228px;
      max-width: 350px;
      margin-bottom: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      @media screen and (min-width: 768px) {
        .articles-item_img {
          width: 246px;
          height: 165px;
          margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .articles-item_content {
        width: 60%; } }
    @media screen and (min-width: 1024px) {
      .articles-item_content {
        width: 63%; } }
  .articles-more {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .articles-more {
        margin-bottom: 36px; } }
    @media screen and (min-width: 1024px) {
      .articles-more {
        margin: 0 30px 40px; } }

.subpage-listing {
  margin: 0 15px; }
  @media screen and (min-width: 1200px) {
    .subpage-listing {
      margin: 0; } }
  .subpage-listing .content-wrapper .subpage-listing-row {
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      .subpage-listing .content-wrapper .subpage-listing-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 62px; } }
    @media screen and (min-width: 1024px) {
      .subpage-listing .content-wrapper .subpage-listing-row {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    .subpage-listing .content-wrapper .subpage-listing-row_img {
      height: 228px;
      max-width: 350px;
      margin-top: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 15px auto 0; }
      @media screen and (min-width: 768px) {
        .subpage-listing .content-wrapper .subpage-listing-row_img {
          height: 280px;
          margin: 0; } }
      @media screen and (min-width: 1024px) {
        .subpage-listing .content-wrapper .subpage-listing-row_img {
          height: 330px;
          max-width: 440px; } }
      @media screen and (min-width: 1200px) {
        .subpage-listing .content-wrapper .subpage-listing-row_img {
          height: 350px; } }
    @media screen and (min-width: 768px) {
      .subpage-listing .content-wrapper .subpage-listing-row_img, .subpage-listing .content-wrapper .subpage-listing-row_content {
        width: 48%; } }
    .subpage-listing .content-wrapper .subpage-listing-row:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .subpage-listing_heading {
    letter-spacing: -0.2px;
    line-height: 32px;
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      .subpage-listing_heading {
        margin-bottom: 62px; } }

.page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0 25px; }
  @media screen and (min-width: 1024px) {
    .page-heading {
      margin: 40px 0 50px; } }
  .page-heading_img {
    max-height: 42px;
    margin: 0 17px 0 5px; }

.realizations-listing {
  background: #e1e1e1;
  padding: 0 15px 15px; }
  @media screen and (min-width: 1200px) {
    .realizations-listing {
      padding: 0 0 15px; } }
  .realizations-listing-item {
    margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .realizations-listing-item {
        width: 33.3%;
        max-width: 253px;
        display: inline-block;
        float: left;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    @media screen and (min-width: 1024px) {
      .realizations-listing-item {
        width: 25%;
        max-width: none; } }
    .realizations-listing-item_img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 250px;
      height: 325px;
      margin: 0 auto;
      position: relative; }
      @media screen and (min-width: 1024px) {
        .realizations-listing-item_img {
          height: 360px;
          max-width: none; } }
      @media screen and (min-width: 1024px) {
        .realizations-listing-item_img:hover .realizations-listing-item_img-heading {
          opacity: 1;
          visibility: visible; } }
      .realizations-listing-item_img-heading {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 15px 15px 0;
        bottom: 10px;
        left: 10px;
        right: 10px; }
        @media screen and (min-width: 1024px) {
          .realizations-listing-item_img-heading {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: .3s all;
            -o-transition: .3s all;
            transition: .3s all; } }
        .realizations-listing-item_img-heading span {
          letter-spacing: 0.3px; }
          .realizations-listing-item_img-heading span:last-of-type {
            padding: 46px 0 8px;
            display: block; }
  @media screen and (min-width: 768px) {
    .realizations-listing.tales .realizations-listing-item {
      width: 50%;
      max-width: none; } }
  @media screen and (min-width: 1024px) {
    .realizations-listing.tales .realizations-listing-item {
      width: 33.3%; } }
  .realizations-listing.tales .realizations-listing-item_img {
    margin: 0;
    max-width: none;
    height: 265px; }
    @media screen and (min-width: 768px) {
      .realizations-listing.tales .realizations-listing-item_img {
        height: 275px; } }
    @media screen and (min-width: 1024px) {
      .realizations-listing.tales .realizations-listing-item_img {
        max-width: 360px;
        margin: 0 auto; } }
  .realizations-listing.tales .realizations-listing-item_descr {
    background: white;
    padding: 14px 10px;
    margin-top: 4px; }
    @media screen and (min-width: 768px) {
      .realizations-listing.tales .realizations-listing-item_descr {
        height: 91px; } }
    @media screen and (min-width: 1024px) {
      .realizations-listing.tales .realizations-listing-item_descr {
        max-width: 360px;
        margin: 4px auto 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        max-height: 138px; } }

.page-heading {
  margin: 25px 0 25px; }

.subpage-heading .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  line-height: 70px; }
  @media screen and (min-width: 768px) {
    .subpage-heading .content-wrapper {
      line-height: normal;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative; } }
  .subpage-heading .content-wrapper:first-of-type {
    margin: 45px auto 20px; }
    @media screen and (min-width: 768px) {
      .subpage-heading .content-wrapper:first-of-type {
        margin: 62px auto; } }
    @media screen and (min-width: 768px) {
      .subpage-heading .content-wrapper:first-of-type::after {
        content: '';
        height: 8px;
        background: #076c22;
        width: calc(100% - 52px);
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; } }
  .subpage-heading .content-wrapper.w-brands {
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .subpage-heading .content-wrapper.w-brands {
        margin-bottom: 0; } }

@media screen and (min-width: 768px) {
  .subpage-heading.no-realizations .content-wrapper::after {
    left: auto;
    right: 15px;
    width: calc(100% - 140px); } }

@media screen and (min-width: 1024px) {
  .subpage-heading.no-realizations .content-wrapper::after {
    right: 0;
    width: calc(100% - 126px); } }

.subpage-heading_brand {
  margin: 0 25px; }
  @media screen and (min-width: 768px) {
    .subpage-heading_brand {
      margin-top: 10px; } }
  .subpage-heading_brand-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .subpage-heading_brand-list-item {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 15px auto; }
      @media screen and (min-width: 768px) {
        .subpage-heading_brand-list-item {
          margin: 0 auto; } }
      @media screen and (min-width: 768px) {
        .subpage-heading_brand-list-item {
          margin-right: 10px; } }

.footer {
  margin-top: 50px; }
  .footer-boxes {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .footer-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .footer-boxes_box {
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .footer-boxes_box {
          width: 50%; } }
      @media screen and (min-width: 1024px) {
        .footer-boxes_box {
          width: 33.3%;
          margin-bottom: 0; } }
      @media screen and (min-width: 768px) {
        .footer-boxes_box:last-of-type {
          width: 100%; } }
      @media screen and (min-width: 1024px) {
        .footer-boxes_box:last-of-type {
          width: 33.3%; } }
      .footer-boxes_box_heading {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 5px 0;
        background: black;
        margin-bottom: 20px; }
        @media screen and (min-width: 1024px) {
          .footer-boxes_box_heading {
            margin-bottom: 27px;
            padding: 3px 0 0; } }
        .footer-boxes_box_heading-img {
          max-height: 42px;
          margin: 0 17px 0 5px; }
          @media screen and (min-width: 768px) {
            .footer-boxes_box_heading-img {
              margin-right: 6px; } }
      .footer-boxes_box .text-wrapper {
        border: 1px solid #a0a0a0;
        margin: 0 15px;
        padding: 15px; }
        @media screen and (min-width: 768px) {
          .footer-boxes_box .text-wrapper {
            display: inline-block;
            padding: 18px 24px; } }
        @media screen and (min-width: 1024px) {
          .footer-boxes_box .text-wrapper {
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            max-width: 350px; } }
      .footer-boxes_box_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media screen and (min-width: 768px) {
          .footer-boxes_box_list {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly; } }
        @media screen and (min-width: 1024px) {
          .footer-boxes_box_list {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
        .footer-boxes_box_list-item {
          margin-bottom: 15px; }
          @media screen and (min-width: 768px) {
            .footer-boxes_box_list-item {
              margin: 0; } }
          @media screen and (min-width: 1024px) {
            .footer-boxes_box_list-item {
              margin-bottom: 15px; } }
          @media screen and (min-width: 1200px) {
            .footer-boxes_box_list-item {
              margin-bottom: 22px; } }
          .footer-boxes_box_list-item:last-of-type {
            margin-bottom: 0; }
            @media screen and (min-width: 1024px) {
              .footer-boxes_box_list-item:last-of-type {
                margin-bottom: 15px; } }
            @media screen and (min-width: 1200px) {
              .footer-boxes_box_list-item:last-of-type {
                margin-bottom: 22px; } }
          .footer-boxes_box_list-item-img {
            border: 1px solid #a0a0a0;
            max-width: 162px; }
            @media screen and (min-width: 1024px) {
              .footer-boxes_box_list-item-img {
                max-width: 130px; } }
            @media screen and (min-width: 1200px) {
              .footer-boxes_box_list-item-img {
                max-width: 165px; } }
      .footer-boxes_box iframe {
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        @media screen and (min-width: 768px) {
          .footer-boxes_box iframe {
            padding: 0; } }
        @media screen and (min-width: 1024px) {
          .footer-boxes_box iframe {
            max-width: 350px; } }

.contact {
  padding: 0 15px;
  margin-bottom: 25px; }
  @media screen and (min-width: 980px) {
    .contact {
      margin-bottom: 56px; } }
  .contact .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (min-width: 1024px) {
      .contact .content-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .contact .content-wrapper .contact-figure {
      margin: 0 auto 20px;
      display: inline-block; }
      @media screen and (min-width: 1024px) {
        .contact .content-wrapper .contact-figure {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin: 0; } }
    @media screen and (min-width: 1024px) {
      .contact .content-wrapper .contact_descr {
        width: 72%; } }

.article .articles-more {
  padding: 0;
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .article .articles-more {
      margin-top: 50px; } }
  @media screen and (min-width: 1024px) {
    .article .articles-more {
      margin: 65px 0 56px; } }

.article p img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.article .grid-gallery {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .article .grid-gallery {
      margin-top: 50px; } }
  @media screen and (min-width: 768px) {
    .article .grid-gallery .gg-link {
      max-width: 50%; } }
  .article .grid-gallery .gg-link .grid-gallery-caption {
    height: auto !important; }
    .article .grid-gallery .gg-link .grid-gallery-caption .ggImg {
      height: auto !important; }

.parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  background-image: url("../images/catalog_parallax.png");
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px; }
  @media screen and (min-width: 1024px) {
    .parallax {
      padding: 110px 0 90px;
      height: 415px; } }
  @media screen and (min-width: 1024px) {
    .parallax .catalog_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 1180px;
      margin: 0 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .parallax .catalog_text, .parallax .catalog_cta {
      margin: 0 27px; } }
  .parallax .catalog_text {
    background-color: rgba(0, 0, 0, 0.42);
    color: #fff;
    padding: 16px; }
    @media screen and (min-width: 1024px) {
      .parallax .catalog_text {
        max-width: 620px; } }
  .parallax .catalog_cta .btn_primary {
    display: block;
    text-align: center;
    padding: 16px;
    background-color: #fff;
    color: #000;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s; }
    @media screen and (min-width: 1024px) {
      .parallax .catalog_cta .btn_primary {
        display: inline-block; } }
    .parallax .catalog_cta .btn_primary:hover {
      opacity: .6; }

.post-img, .post-img-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .post-img img, .post-img-large img {
    max-width: 100%; }

.post .row {
  margin: 50px 15px 0; }
  @media screen and (min-width: 768px) {
    .post .row {
      margin-top: 80px; } }
  .post .row:last-of-type {
    margin-bottom: 80px; }
    @media screen and (min-width: 768px) {
      .post .row:last-of-type {
        margin-bottom: 120px; } }

.post-img img {
  max-width: 240px;
  max-height: 34px;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .post-img img {
      max-width: none;
      max-height: none; } }

.post-img-large img {
  margin-top: 30px; }

.products-group {
  margin-top: 30px; }
  .products-group img {
    max-width: 100%; }
  .products-group_heading {
    display: none; }
    @media screen and (min-width: 768px) {
      .products-group_heading {
        display: block; } }
  .products-group_showbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .products-group_showbox {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    .products-group_showbox img {
      max-width: 240px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .products-group_showbox img {
          max-width: none;
          margin: 0;
          max-height: 100px; } }
      @media screen and (min-width: 1024px) {
        .products-group_showbox img {
          max-height: 125px; } }
      @media screen and (min-width: 1200px) {
        .products-group_showbox img {
          max-height: 140px; } }
  .products-group-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .products-group-list {
        margin-bottom: 120px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .products-group-list_item {
      max-width: 680px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 40px; }
      .products-group-list_item:last-of-type {
        margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .products-group-list_item {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; } }
      .products-group-list_item img {
        margin: 35px auto 15px;
        display: block;
        max-height: 200px; }
        @media screen and (min-width: 768px) {
          .products-group-list_item img {
            max-height: 240px;
            margin: 0; } }
        @media screen and (min-width: 1024px) {
          .products-group-list_item img {
            max-height: none; } }
      .products-group-list_item-descr {
        background: #f1f1e3;
        padding: 15px; }
        @media screen and (min-width: 768px) {
          .products-group-list_item-descr {
            margin: 0 68px 0 25px; } }

body {
  overflow-x: hidden;
  background: white;
  padding-top: 85px; }
  @media screen and (min-width: 1024px) {
    body {
      padding-top: 0; } }
  body.is-active {
    overflow: hidden; }

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1180px; } }

@media screen and (min-width: 1024px) {
  .content-wrapper.narrow {
    max-width: 874px; } }

@media screen and (min-width: 1200px) {
  .content-wrapper.narrow {
    max-width: 920px; } }

@media screen and (min-width: 1024px) {
  .content-wrapper.article {
    max-width: 782px; } }
