.article {
    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto 30px;
        display: block;
    }
}

.listing-btn {
    display: flex;
    justify-content: center;
    margin: 35px 0 80px;
    @include breakpoint('desktop_small') {
        margin: 70px 0 160px;
    }
    span {
        cursor: pointer;
    }
}