.beers {
    &-list {
        margin: 0 15px;
        @include breakpoint('desktop'){
            margin: 0;
        }
        &_item {
            margin-bottom: 50px;
            @include breakpoint('tablet') {
                margin-bottom: 45px;
                display: inline-block;
                width: 50%;
                float: left;
                box-sizing: border-box;
            }
            @include breakpoint('desktop_small') {
                position: relative;
                height: 500px;
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                margin-bottom: 80px;
            }
            @include breakpoint('desktop') {
                margin-bottom: 100px;
            }
            &:nth-child(odd) {
                @include breakpoint('tablet') {
                    padding-right: 7.5px;
                }
                @include breakpoint('desktop_small') {
                    padding-right: 12.5px;
                }
            }
            &:nth-child(even) {
                @include breakpoint('tablet') {
                    padding-left: 7.5px;
                }
                @include breakpoint('desktop_small') {
                    padding-left: 12.5px;
                }
                .beers-list_item-img {
                    @include breakpoint('desktop_small') {
                        left: 27px;
                    }
                }
            }
            &-img {
                max-height: 300px;
                margin: 0 auto;
                display: block;
                @include breakpoint('desktop_small') {
                    max-height: none;
                    position: absolute;
                    left: 15px;
                    bottom: 10px;
                    transition: .3s bottom;
                }
            }
            &-info {
                margin: 30px 0 15px;
                line-height: 26px;
                @include breakpoint('desktop_small') {
                    padding-left: 34%;
                    margin-bottom: auto;
                    margin-top: 20px;
                }
                @include breakpoint('desktop') {
                    padding-left: 32%;
                }
            }
            &-descr {
                background: $cl-lightGray;
                color: $cl-black;
                padding: 15px;
                transition: .3s background;
                @include breakpoint('desktop_small') {
                    padding: 10px 15px 10px 34%;
                    width: 100%;
                }
                @include breakpoint('desktop') {
                    padding: 10px 15px 10px 32%;
                }
            }
            &:hover {
                .beers-list_item-descr {
                    background: $cl-primary;
                }
                .beers-list_item-img{
                    @include breakpoint('desktop_small'){
                        bottom: 20px;
                    }
                }
            }
        }
    }
}