.burger {
    margin-left: auto;
    &_item {
        display: block;
        width: 45px;
        height: 7px;
        background: $cl-white;
        transition: .3s all;
        cursor: pointer;
        &:nth-child(2) {
            margin: 5px 0;
        }
    }
    @include breakpoint('desktop_small') {
        display: none;
    }
}