.footer {
    @include breakpoint('tablet') {
        margin-top: 45px;
    }
    @include breakpoint('desktop_small') {
        margin-top: 0;
    }
    &_logo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        @include breakpoint('tablet') {
            margin-bottom: 45px;
        }
        @include breakpoint('desktop_small') {
            margin-bottom: 32px;
        }
    }
    &-bar {
        background: $cl-primary;
        padding-bottom: 25px;
        @include breakpoint('tablet') {
            padding: 40px 15px;
        }
        @include breakpoint('desktop') {
            padding: 40px 0;
        }
        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            @include breakpoint('tablet') {
                flex-direction: row;
            }
        }
    }
    &-boxes {
        width: 100%;
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @include breakpoint('desktop_small') {
            margin-bottom: 30px;
        }
        &_box {
            margin-bottom: 45px;
            @include breakpoint('tablet') {
                width: 50%;
                margin-bottom: 30px;
            }
            @include breakpoint('desktop_small') {
                width: 33.3%;
                margin-bottom: 0;
            }
            &:last-of-type {
                @include breakpoint('tablet') {
                    width: 100%;
                }
                @include breakpoint('desktop_small') {
                    width: 33.3%;
                }
            }
            &_heading {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 5px 0;
                background: $cl-black;
                margin-bottom: 20px;
                @include breakpoint('desktop_small') {
                    margin-bottom: 27px;
                    padding: 3px 0 0;
                }
                &-img {
                    max-height: 42px;
                    margin: 0 17px 0 5px;
                    @include breakpoint('tablet') {
                        margin-right: 6px;
                    }
                }
            }
            .text-wrapper {
                border: 1px solid $cl-gray;
                margin: 0 15px;
                padding: 15px;
                background: $cl-white;
                border: 5px solid #e8e8e8;
                outline: 1px solid #d1d2d2;
                @include breakpoint('tablet') {
                    display: inline-block;
                    padding: 11px 11px;
                    width: 300px;
                    margin: 0 auto;
                    display: block;
                    height: 235px;
                    box-sizing: border-box;
                }
                @include breakpoint('desktop_small') {
                    height: 300px;
                }
            }
            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include breakpoint('tablet') {
                    flex-direction: row;
                    justify-content: space-evenly;
                }
                @include breakpoint('desktop_small') {
                    flex-wrap: wrap;
                }
                &-item {
                    margin-bottom: 15px;
                    @include breakpoint('tablet') {
                        margin: 0;
                    }
                    @include breakpoint('desktop_small') {
                        margin-bottom: 15px;
                    }
                    @include breakpoint('desktop') {
                        margin-bottom: 22px;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                        @include breakpoint('desktop_small') {
                            margin-bottom: 15px;
                        }
                        @include breakpoint('desktop') {
                            margin-bottom: 22px;
                        }
                    }
                    &-img {
                        border: 1px solid $cl-gray;
                        max-width: 162px;
                        @include breakpoint('desktop_small') {
                            max-width: 130px;
                        }
                        @include breakpoint('desktop') {
                            max-width: 165px;
                        }
                    }
                }
            }
            &-map {
                margin: 0 15px;
                @include breakpoint('desktop_small') {
                    display: flex;
                    justify-content: center;
                }
                iframe {
                    width: 100%;
                    @include breakpoint('desktop_small') {
                        height: 300px;
                        width: 314px;
                    }
                }
            }
        }
    }
}