.wpcf7-form {
    padding: 0 15px;
    box-sizing: border-box;
    @include breakpoint('tablet') {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    @include breakpoint('desktop') {
        padding: 0;
    }
    p {
        width: 100%;
        @include breakpoint('tablet') {
            width: 80%;
        }
    }
    textarea,
    input {
        padding-left: 12px;
        box-sizing: border-box;
        width: 100%;
        background: $cl-white;
        border: 5px solid #e8e8e8;
        outline: 1px solid #d1d2d2;
    }
    input {
        height: 40px;
        margin-bottom: 16px;
        &.wpcf7-submit {
            font-family: "MyriadPro-Bold";
            font-size: 24px;
            background: transparent;
            border: none;
            width: auto;
            float: right;
            margin-top: 12px;
            outline: 0;
            color: $cl-black;
            cursor: pointer;
            @include breakpoint('desktop_small') {
                margin-top: 12px;
            }
        }
        &.wpcf7-not-valid {
            border-color: red;
        }
    }
    textarea {
        padding-top: 7px;
        height: 124px;
        resize: none;
    }
    .wpcf7-not-valid-tip,
    .wpcf7-response-output {
        font-family: "MyriadPro-Light";
    }
    .wpcf7-not-valid-tip {
        position: relative;
        top: -10px;
        padding-left: 5px;
    }
    .wpcf7-response-output {
        margin: 0px;
        padding: 15px;
        box-sizing: border-box;
        color: $cl-black;
        width: 100%;
        @include breakpoint('tablet') {
            width: 80%;
        }
        @include breakpoint('desktop_small') {
            margin-top: 10px;
        }
    }
}