.main-slider {
    @include breakpoint('tablet') {
        position: relative;
        margin: 15px 30px 0;
    }
    @include breakpoint('desktop_small') {
        padding: 15px 30px 0;
    }
    @include breakpoint('desktop') {
        padding: 55px 0 0;
    }
    &_item {
        height: 472px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 15px;
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        @include breakpoint('tablet') {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 0 45px;
        }
        @include breakpoint('desktop_small') {
            height: 485px;
            padding: 0 85px;
        }
    }
}

.slick-track {
    display: flex;
}

.slider-arrows {
    background: $cl-primary;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 15px;
    bottom: -32.5px;
    border: 5px solid #fff;
    cursor: pointer;
    &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 15px 8px 0;
        border-color: transparent #cac8b4 transparent transparent;
        position: absolute;
        right: 0;
        left: -5px;
        top: 0;
        bottom: 0;
        margin: auto;
        @include breakpoint('tablet') {
            border-width: 10px 20px 10px 0;
        }
        @include breakpoint('desktop') {
            border-width: 15px 28px 15px 0;
        }
    }
    @include breakpoint('tablet') {
        bottom: 0;
        top: 0;
        margin: auto;
        left: -30px;
    }
    @include breakpoint('desktop_small') {
        top: 15px;
        left: 0;
    }
    @include breakpoint('desktop') {
        width: 95px;
        height: 95px;
        left: -33px;
    }
    &:last-child {
        right: 15px;
        left: auto;
        transform: rotate(180deg);
        @include breakpoint('tablet') {
            right: -30px;
        }
        @include breakpoint('desktop_small') {
            right: 0;
        }
        @include breakpoint('desktop') {
            right: -33px;
        }
    }
}