.nav {
    @include breakpoint('desktop_small') {
        padding-top: 58px;
        transition: .3s padding;
    }
    &-list {
        transition: .3s all;
        background: $cl-white;
        border-left: 4px solid $cl-primary;
        border-bottom: 4px solid $cl-primary;
        border-right: 4px solid $cl-primary;
        position: absolute;
        bottom: 0;
        top: -4px;
        left: 0;
        right: 0;
        margin-top: 95px;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        line-height: 42px;
        @include breakpoint('desktop_small') {
            position: static;
            overflow: visible;
            height: auto;
            background: transparent;
            margin-top: 0;
            flex-direction: row;
        }
        &.is-active {
            height: calc(100vh - 95px);
            opacity: 1;
        }
        li {
            @include breakpoint('desktop_small') {
                margin: 0 20px;
                display: flex;
            }
            @include breakpoint('desktop') {
                margin: 0 30px;
            }
            &:first-of-type {
                @include breakpoint('desktop_small') {
                    margin-left: 0;
                }
            }
            &:last-of-type {
                @include breakpoint('desktop_small') {
                    position: absolute;
                    right: 15px;
                    margin-right: 0;
                }
                @include breakpoint('desktop') {
                    right: 0;
                }
            }
            &:nth-child(5) {
                @include breakpoint('desktop_small') {
                    position: absolute;
                    right: 102px;
                }
                @include breakpoint('desktop') {
                    right: 74px;
                }
            }
            a {
                line-height: normal;
                text-align: center;
                font-family: "Antonio-Bold";
                color: $cl-primary;
                font-size: 22px;
                @include breakpoint('desktop_small') {
                    font-size: 18px;
                    color: $cl-lightCreamy;
                }
            }
        }
    }
    &-logo {
        a {
            &::after {
                @include breakpoint('desktop_small') {
                    content: '';
                    background: $cl-primary;
                    border-bottom-left-radius: 130px;
                    border-bottom-right-radius: 130px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 100px;
                    width: 200px;
                    transition: .3s all;
                }
                @include breakpoint('desktop') {
                    height: 132px;
                    width: 260px;
                }
            }
            .nav-logo_img {
                width: 80px;
                display: flex;
                transition: .3s all;
                @include breakpoint('desktop_small') {
                    width: 162px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: -50px;
                    z-index: 2;
                    padding: 11px 0 0;
                }
                @include breakpoint('desktop') {
                    width: 202px;
                }
            }
        }
    }
    .content-wrapper {
        display: flex;
        align-items: center;
        padding: 15px;
        @include breakpoint('desktop_small') {
            position: relative;
            padding: 0 15px 9px;
        }
        @include breakpoint('desktop') {
            padding: 0 0 9px;
        }
    }
    &.reduced {
        @include breakpoint('desktop_small') {
            padding-top: 10px;
        }
        .nav-logo {
            a {
                .nav-logo_img {
                    width: 60px;
                    @include breakpoint('desktop_small') {
                        width: 110px;
                        top: -15px;
                    }
                }
                &::after {
                    @include breakpoint('desktop_small') {
                        height: 85px;
                        width: 160px;
                    }
                }
            }
        }
        .nav-list {
            margin-top: 80px;
            @include breakpoint('desktop_small') {
                margin-top: 0;
            }
            &.is-active {
                height: calc(100vh - 80px);
            }
        }
        .social-icons {
            visibility: hidden;
            opacity: 0;
        }
    }
}