.posts-item {
    margin-bottom: 30px;
    @include breakpoint('tablet') {
        margin-bottom: 65px;
    }
    @include breakpoint('desktop_small') {
        justify-content: space-between;
        align-items: flex-start;
    }
    &:last-of-type {
        margin-bottom: 25px;
        @include breakpoint('tablet') {
            margin-bottom: 75px;  
        }
    }
    &_content {
        @include breakpoint('tablet') {
            width: 50%;
        }
        @include breakpoint('desktop_small') {
            width: 54%;
        }
        @include breakpoint('desktop') {
            width: 58%;
        }
    }
    &-href {
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        @include breakpoint('desktop_small'){
            align-items: flex-start;
        }
    }
    &_img {
        width: auto;
        height: 220px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include breakpoint('tablet') {
            width: 280px;
        }
        @include breakpoint('desktop_small') {
            height: 248px;
            width: 340px;
        }
    }
}