.social-icons {
    height: 38px;
    letter-spacing: 9px;
    visibility: visible;
    opacity: 1;
    transition: .3s all;
}

.nav {
    .social-icons {
        position: absolute;
        display: none;
        @include breakpoint('desktop_small') {
            display: block;
            top: -45px;
            right: 15px;
        }
        @include breakpoint('desktop') {
            right: 0;
        }
    }
}

.footer {
    .social-icons {
        margin: 25px 0;
        @include breakpoint('tablet') {
            margin: 0;
        }
    }
}