/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0;
}

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-family: 'Poppins', sans-serif;
  color: #598527;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.ui-state-active .m-btn_primary {
  background-color: #598527;
  color: #8dc63f;
  border-color: #598527;
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900;
}

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px;
}

.m-btn_primary {
  background: white;
  color: red;
  border: 2px solid red;
}

.m-btn_secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.typo {
  font-family: 'Open Sans', sans-serif;
}

.typo_primary {
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  line-height: 44px;
  letter-spacing: 1.1px;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .typo_primary {
    line-height: 36px;
  }
}

.typo_secondary {
  color: #598527;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: .6px;
}

.typo_text {
  color: #6c6c6c;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .typo_text {
    line-height: 25px;
  }
}

.header .typo_text {
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 18px;
  margin: 30px 15px 0;
}

@media screen and (min-width: 768px) {
  .header .typo_text {
    font-size: 16px;
    margin: 40px 5% 0;
  }
}

@media screen and (min-width: 1024px) {
  .header .typo_text {
    margin: 40px auto 0;
    max-width: 874px;
  }
}

@media screen and (min-width: 768px) {
  .mosaic .box .text-wrapper {
    display: inline-block;
    width: 50%;
    margin-left: 5%;
    height: 230px;
    vertical-align: top;
    position: relative;
    display: table;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box .text-wrapper {
    width: 54%;
    margin-left: 0%;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .mosaic .box .text-wrapper {
    height: 230px;
  }
}

.mosaic .box .text-wrapper .typo_text {
  line-height: 23px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .mosaic .box .text-wrapper .typo_text {
    max-width: none;
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1200px) {
  .mosaic .box .text-wrapper .typo_text {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .mosaic .box:nth-child(even) .text-wrapper {
    margin-left: 0;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box:nth-child(even) .text-wrapper {
    margin-right: 0%;
  }
}

@media screen and (min-width: 768px) {
  .mosaic .box:nth-child(2n+1) .text-wrapper {
    float: right;
  }
}

.mosaic .show-more .wrapper .typo_text {
  font-weight: 800;
  color: #598527;
  margin-bottom: -6px;
}

.mini-box .typo_text, .bar .typo_text {
  color: white;
  margin-bottom: 0;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.mini-box.coop .typo_text, .bar.coop .typo_text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
}

.mini-box.bar .typo_text, .bar.bar .typo_text {
  font-size: 18px;
  font-weight: 600;
}

.two-boxes .typo_text.coop-descr {
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  margin: 10px 0 30px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .two-boxes .typo_text.coop-descr {
    line-height: 28px;
    margin: 10px 5% 70px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: 1024px) {
  .two-boxes .typo_text.coop-descr {
    margin: 10px auto 80px;
    max-width: 980px;
  }
}

.two-boxes .box .typo_primary {
  color: #ff9000;
  font-size: 36px;
  margin-bottom: 12px;
}

.two-boxes .box .typo_text {
  font-size: 18px;
  line-height: 32px;
  color: #949494;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .two-boxes .box .typo_text {
    font-size: 16px;
  }
}

.bottom-bar .typo_text {
  font-size: 12px;
  color: white;
  margin-bottom: 0;
  line-height: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bottom-bar .typo_text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.bottom-bar .typo_text a {
  color: white;
  font-weight: 200;
  font-size: 12px;
}

.download .typo_text {
  color: #598527;
  background: #fff;
  text-transform: none;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  min-height: 25px;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 768px) {
  .download .typo_text {
    width: 260px;
    font-size: 16px;
  }
}

.download .typo_text.heading {
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  background: #598527;
  text-align: center;
  min-height: 62px;
  line-height: 62px;
  width: auto;
  font-size: 20px;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .download .typo_text.heading {
    max-width: 365px;
  }
}

@media screen and (min-width: 1024px) {
  .download .typo_text.heading {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .download .typo_text.heading {
    margin-bottom: 38px;
  }
}

.partners .typo_text.heading {
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  background: #598527;
  text-align: center;
  min-height: 62px;
  line-height: 62px;
  font-size: 20px;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .partners .typo_text.heading {
    max-width: 230px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 40px;
    line-height: 40px;
  }
}

.article h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin: 15px 0 50px;
}

@media screen and (min-width: 768px) {
  .article h1 {
    margin: 15px 0 85px;
  }
}

.article h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.article h3 span {
  font-family: 'Open Sans', sans-serif;
}

.article p {
  color: #6c6c6c;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: -0.2px;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .article p {
    font-size: 16px;
  }
}

.article p strong {
  font-weight: 600;
}

.footer .two-boxes .typo_text {
  font-size: 18px;
  line-height: 24px;
}

.footer .two-boxes .box .typo_secondary {
  text-align: center;
  margin: 15px 0;
  text-transform: none;
}

@media screen and (min-width: 1024px) {
  .footer .two-boxes .box .typo_secondary {
    display: inline-block;
    float: left;
  }
}

.footer .two-boxes .box .info .typo_text {
  margin-bottom: 5px;
  color: #6c6c6c;
  font-weight: 600;
}

.footer .two-boxes .box .info .typo_text:last-of-type {
  margin-bottom: 0;
}

.footer .two-boxes .box .info .typo_text a {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 400;
}

.footer .two-boxes .box .short-descr .typo_text {
  color: #6c6c6c;
  line-height: 28px;
}

.footer .two-boxes .box .info .typo_text, .footer .two-boxes .box .short-descr .typo_text {
  text-align: left;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  height: 85px;
  transition: .3s all;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: 80px;
  }
}

.navbar.reduced {
  -webkit-box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
  height: 70px;
}

@media screen and (min-width: 1024px) {
  .navbar.reduced {
    height: 65px;
  }
}

.navbar.reduced .content-wrapper .brand-logo {
  margin-top: -8px;
}

@media screen and (min-width: 1024px) {
  .navbar.reduced .content-wrapper .brand-logo {
    margin-top: 12px;
  }
}

.navbar.reduced .content-wrapper .burger {
  top: 25px;
}

@media screen and (min-width: 1024px) {
  .navbar.reduced .content-wrapper .list {
    margin-top: 15px;
  }
}

.navbar .content-wrapper {
  height: 0;
}

.navbar .content-wrapper .brand-logo {
  position: absolute;
  left: 15px;
  top: 25px;
  z-index: 1;
  width: 169px;
  transition: .3s all;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .brand-logo {
    position: static;
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1370px) {
  .navbar .content-wrapper .brand-logo {
    margin-left: 0;
  }
}

.navbar .content-wrapper .brand-logo img {
  width: 100%;
  transition: .3s all;
}

.navbar .content-wrapper .list {
  height: 100vh;
  padding-top: 110px;
  text-align: center;
  position: relative;
  left: -800px;
  transition: .3s all;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list {
    padding-top: 0;
    height: auto;
    left: 0;
    text-align: left;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    float: right;
    width: auto;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1370px) {
  .navbar .content-wrapper .list {
    margin-right: 0;
  }
}

.navbar .content-wrapper .list.is-active {
  left: 0;
  background: white;
}

.navbar .content-wrapper .list_item {
  margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .navbar .content-wrapper .list_item:last-of-type {
    margin-right: 0;
  }
}

.navbar .content-wrapper .burger {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 30px;
  transition: .3s all;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .burger {
    display: none;
  }
}

.navbar .content-wrapper .burger.reduced {
  top: 25px;
}

.navbar .content-wrapper .burger_item {
  display: block;
  float: right;
  clear: both;
  width: 32px;
  height: 4px;
  background-color: #598527;
  margin-bottom: 5px;
}

.navbar .content-wrapper .burger_item:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .header {
    background-position: center -50px;
    background-repeat: no-repeat;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 90px;
    background-image: url(../images/bg-soja.jpg);
    background-position-y: -2px;
  }
}

.header .box-wrapper {
  text-align: center;
}

.header .box-wrapper .box {
  border: 20px solid #598527;
  display: inline-block;
  height: 360px;
  max-width: 680px;
}

.header .box-wrapper .box iframe {
  max-width: 100%;
  max-width: 100%;
  border: 8px solid #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
}

.mosaic .box {
  margin: 0 15px 50px;
}

.mosaic .box:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .mosaic .box {
    margin: 0 12% 40px;
  }
  .mosaic .box:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box {
    margin: 0 15px 40px;
    width: 46%;
    display: inline-block;
    margin-right: 0;
    max-height: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .mosaic .box {
    margin-left: 0;
  }
}

.mosaic .box.more {
  display: none;
}

.mosaic .box.more.active {
  display: block !important;
}

@media screen and (min-width: 1024px) {
  .mosaic .box.more.active {
    display: inline-block !important;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box.more {
    float: left;
  }
}

.mosaic .box .image {
  margin: 0 auto 20px;
  background-position: center;
  background-size: cover;
  height: 230px;
  width: 230px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .mosaic .box .image {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box .image {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .mosaic .box .image {
    height: 230px;
    width: 230px;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box:nth-child(even) {
    float: right;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .mosaic .box:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .mosaic .box:nth-child(even) .image {
    float: right;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box:nth-child(4n+3) .image {
    float: right;
  }
}

@media screen and (min-width: 1024px) {
  .mosaic .box:nth-child(4n+4) .image {
    float: left;
  }
}

.mosaic .show-more {
  width: 100%;
  text-align: center;
  clear: both;
  margin-top: -50px;
}

.mosaic .show-more .wrapper {
  cursor: pointer;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .mosaic .show-more .wrapper {
    margin-top: -20px;
  }
}

.mosaic .show-more .wrapper img {
  transition: .3s all;
  transform: scale(0.6);
}

.mosaic .show-more .wrapper.active img {
  transform: rotateX(180deg) scale(0.6);
}

.mini-box {
  margin: 120px 0 80px;
}

@media screen and (min-width: 768px) {
  .mini-box {
    margin: 133px 0 60px;
  }
}

.mini-box .box {
  min-height: 70px;
  max-width: 608px;
  background: #598527;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
}

.mini-box .box::after {
  content: url(../images/leaf.png);
  position: absolute;
  top: -80px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.mini-box.coop {
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .mini-box.coop {
    margin: 100px 0 30px;
  }
}

.mini-box.coop .box {
  max-width: 440px;
  border-radius: 25px;
}

.two-boxes {
  margin: 0 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .two-boxes {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .two-boxes .boxes-wrapper {
    margin: 0 6%;
  }
}

@media screen and (min-width: 1200px) {
  .two-boxes .boxes-wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .two-boxes .boxes-wrapper .box {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 0 30px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .two-boxes .boxes-wrapper .box {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1200px) {
  .two-boxes .boxes-wrapper .box {
    padding: 0 75px;
  }
}

.bar {
  background: #598527;
  margin: 20px 0 22px;
}

@media screen and (min-width: 768px) {
  .bar {
    margin: 0 0 42px;
  }
}

.bar .box {
  min-height: 100px;
  text-transform: uppercase;
  max-width: 665px;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .bar .box::before {
    content: url(../images/leaf.png);
    position: absolute;
    left: -100px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75px;
    filter: brightness(100);
    transform: rotateY(180deg);
  }
}

@media screen and (min-width: 1024px) {
  .bar .box::after {
    content: url(../images/leaf.png);
    position: absolute;
    right: -100px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75px;
    filter: brightness(100);
  }
}

.bottom-bar {
  background: #598527;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .bottom-bar {
    height: 114px;
  }
}

.bottom-bar .content-wrapper {
  margin: 0 15px;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .bottom-bar .content-wrapper {
    margin: 0 auto;
  }
}

.gallery {
  background: #598527;
  padding: 35px 0 5px;
  box-sizing: border-box;
  margin: 50px 0 120px;
}

@media screen and (min-width: 1024px) {
  .gallery {
    margin: 112px 0 70px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery .content-wrapper {
    margin: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery .content-wrapper {
    margin: auto;
    max-width: none;
  }
}

@media screen and (min-width: 1370px) {
  .gallery .content-wrapper {
    max-width: 1580px;
  }
}

@media screen and (min-width: 1760px) {
  .gallery .content-wrapper {
    max-width: 1880px;
  }
}

.gallery .content-wrapper .box {
  position: relative;
  width: 90%;
  height: 190px;
  display: block;
  margin: 0 auto 25px;
  background-size: cover;
  background-position: center;
}

.gallery .content-wrapper .box::after {
  content: '';
  display: block;
  background: red;
  height: 15px;
  position: absolute;
}

@media screen and (min-width: 375px) {
  .gallery .content-wrapper .box {
    height: 230px;
  }
}

@media screen and (min-width: 500px) {
  .gallery .content-wrapper .box {
    height: 270px;
  }
}

@media screen and (min-width: 575px) {
  .gallery .content-wrapper .box {
    height: 300px;
  }
}

@media screen and (min-width: 620px) {
  .gallery .content-wrapper .box {
    height: 320px;
  }
}

@media screen and (min-width: 650px) {
  .gallery .content-wrapper .box {
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .gallery .content-wrapper .box {
    height: 220px;
    width: 46%;
    margin: 0 2% 25px;
    float: left;
  }
}

@media screen and (min-width: 912px) {
  .gallery .content-wrapper .box {
    height: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery .content-wrapper .box {
    width: 23%;
    margin: 0 1% 25px;
    height: 240px;
  }
}

@media screen and (min-width: 1760px) {
  .gallery .content-wrapper .box {
    height: 280px;
  }
}

.gallery .content-wrapper .box a {
  height: 100%;
  width: 100%;
  display: block;
}

.gallery .lb-number {
  display: none;
}

.footer .two-boxes .box {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .footer .two-boxes .box {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .two-boxes .box {
    padding: 0 80px;
  }
}

.footer .two-boxes .box img {
  margin: 0 auto 30px;
  display: block;
}

@media screen and (min-width: 1024px) {
  .footer .two-boxes .box img {
    float: right;
    margin-top: 5px;
  }
}

.footer .two-boxes .box .info {
  border-bottom: 3px solid #598527;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .footer .two-boxes .box .info {
    clear: both;
  }
}

.footer .wpcf7-form p {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .footer .wpcf7-form p {
    width: 95%;
    margin-left: 0;
  }
}

.footer .wpcf7-form p span .wpcf7-not-valid-tip {
  font-size: 13px;
  position: relative;
  top: -10px;
}

.footer .wpcf7-form p span .wpcf7-form-control {
  border: 4px solid #598527;
  color: #598527;
  background: #ebebeb;
  border-radius: 12px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.footer .wpcf7-form p span .wpcf7-form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #598527;
}

.footer .wpcf7-form p span .wpcf7-form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #598527;
}

.footer .wpcf7-form p span .wpcf7-form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #598527;
}

.footer .wpcf7-form p span .wpcf7-form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #598527;
}

.footer .wpcf7-form p span .wpcf7-form-control.wpcf7-textarea {
  height: 240px;
  margin-bottom: 0;
  resize: none;
}

.footer .wpcf7-form p .wpcf7-submit {
  border: none;
  background: transparent;
  color: #ff9000;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 0.8px;
  float: right;
  padding-right: 15px;
  cursor: pointer;
}

.footer .wpcf7-form p:last-of-type {
  position: relative;
  margin-bottom: 30px;
}

.footer .wpcf7-form .wpcf7-response-output {
  color: red;
  margin: 0 auto 30px;
  padding: 10px 15px;
  font-size: 13px;
  box-sizing: border-box;
  border: none;
}

@media screen and (min-width: 1024px) {
  .footer .wpcf7-form .wpcf7-response-output {
    margin: 15px auto 15px 0;
    display: block;
    width: 85%;
  }
}

.footer .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #598527;
}

.footer .wpcf7-form .wpcf7-response-output.wpcf7-validation-errors, .footer .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ng {
  border: 2px solid #598527;
}

.download {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .download {
    margin-top: 60px;
    margin: 60px 0 48px;
  }
}

.download .box {
  text-align: center;
  margin: 20px 15px 0;
}

@media screen and (min-width: 768px) {
  .download .box {
    margin: auto;
    margin-top: 40px;
    width: 50%;
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  .download .box {
    width: 33.3%;
  }
}

@media screen and (min-width: 1024px) {
  .download .box:nth-child(n+4) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(odd) {
    box-sizing: border-box;
  }
}

.download .box:nth-of-type(odd) .sub-box a {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(odd) .sub-box a {
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(odd) .sub-box a p {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .download .box:nth-of-type(odd) .sub-box a p {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(odd) .sub-box a:last-of-type {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .download .box:nth-of-type(odd) .sub-box a:last-of-type {
    margin-right: 15px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .download .box:nth-of-type(odd) .sub-box a:last-of-type {
    margin-right: 18px;
  }
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(even) {
    box-sizing: border-box;
  }
}

.download .box:nth-of-type(even) .sub-box a {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(even) .sub-box a {
    float: right;
  }
}

@media screen and (min-width: 1024px) {
  .download .box:nth-of-type(even) .sub-box a {
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(even) .sub-box a p {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .download .box:nth-of-type(even) .sub-box a:last-of-type {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .download .box:nth-of-type(even) .sub-box a:last-of-type {
    margin-right: 18px;
  }
}

.download .box .sub-box {
  display: inline-block;
  margin: 0 auto;
}

.download .box .sub-box a img {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .download .box .sub-box a img {
    height: 55px;
    margin-top: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .download .box .sub-box a:first-of-type {
    float: right;
  }
}

.partners {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .partners .wrapper {
    border-bottom: 4px solid #598527;
  }
}

.partners .box {
  text-align: center;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .partners .box {
    margin-top: 2px;
    width: 50%;
    display: inline-block;
    float: left;
    height: 150px;
    display: table;
  }
}

@media screen and (min-width: 768px) {
  .partners .box:first-of-type {
    padding-left: 8%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .partners .box:first-of-type {
    padding-left: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .partners .box:first-of-type {
    padding-left: 12%;
  }
}

@media screen and (min-width: 768px) {
  .partners .box:last-of-type {
    padding-right: 8%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .partners .box:last-of-type {
    padding-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .partners .box:last-of-type {
    padding-right: 12%;
  }
}

.partners .box .sub-box {
  vertical-align: middle;
  display: block;
}

@media screen and (min-width: 768px) {
  .partners .box .sub-box {
    display: table-cell;
  }
}

.partners .box .sub-box a {
  display: inline-block;
}

.partners .box .sub-box a img {
  display: block;
  margin: 0 auto;
}

.article {
  margin-bottom: 30px;
}

.article .box {
  background: #fcfcfc;
  border: 2px solid #c8c8c8;
  margin: 20px 5px 0;
  box-sizing: border-box;
  padding: 30px 15px;
}

@media screen and (min-width: 768px) {
  .article .box {
    margin: 40px 5% 0;
    padding: 70px 8%;
  }
}

@media screen and (min-width: 1024px) {
  .article .box {
    margin: 40px auto 0;
    max-width: 795px;
  }
}

@media screen and (min-width: 1370px) {
  .article .box {
    max-width: 880px;
  }
}

.article .box img {
  max-width: 100%;
  margin: 15px auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .article .box img {
    margin: 45px auto;
  }
}

.article .box .tablepress {
  overflow: scroll;
  display: block;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .article .box .tablepress {
    margin-bottom: 45px;
    overflow: visible;
  }
}

.article .box .tablepress thead tr th {
  background: #598527;
  color: white;
}

.article .box ul, .article .box ol {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .article .box ul, .article .box ol {
    margin-bottom: 45px;
  }
}

.article .box ul li, .article .box ol li {
  padding: 5px 0 5px 20px;
  position: relative;
  color: #6c6c6c;
}

.article .box ul li:after, .article .box ol li:after {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #598527;
  left: 0;
  margin: auto;
  border-radius: 50%;
}

body {
  overflow-x: hidden;
  background: white;
  padding-top: 85px;
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 80px;
  }
}

body.is-active {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1180px;
  }
}

.header .content-wrapper .two-boxes .box {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.header .content-wrapper .two-boxes .box:first-of-type {
  margin: 40px 0 15px;
  float: right;
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box:first-of-type {
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type {
    border-bottom: 11px solid #598527;
    margin: 0;
    height: 386px;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type .hero {
    position: relative;
    left: -39px;
    bottom: 80px;
    z-index: 3;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type::after {
    content: '';
    background-image: url(../images/hero-bg.png);
    display: block;
    border-bottom: 11px solid #598527;
    bottom: -11px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px;
  }
}

@media screen and (min-width: 1370px) {
  .header .content-wrapper .two-boxes .box:first-of-type::after {
    background-position: center;
    position: absolute;
    left: 200px;
    right: -200px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box {
    width: 50%;
    display: inline-block;
  }
}

.header .content-wrapper .two-boxes .box .hero {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box .hero {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box .hero {
    float: left;
    max-width: 100%;
  }
}

.post-wrapper {
  padding: 0 15px;
  clear: both;
}

@media screen and (min-width: 1024px) {
  .post-wrapper {
    margin-top: 62px;
  }
}

.post-wrapper .post {
  margin-bottom: 70px;
}

.post-wrapper .post:first-of-type {
  margin-top: 60px;
}

.post-wrapper .post:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_head {
    padding: 0 8%;
  }
}

.post-wrapper .post_head .post-head-img {
  margin: 0 auto 30px;
  display: block;
  max-height: 156px;
  max-width: 140px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head .post-head-img {
    display: inline-block;
    float: left;
    margin: 0px 6% 0 4%;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_head .post-head-img {
    margin-right: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head .content {
    width: 75%;
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 1370px) {
  .post-wrapper .post_head .content {
    width: 77%;
  }
}

@media screen and (min-width: 1760px) {
  .post-wrapper .post_head .content {
    width: 78%;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body {
    float: left;
    width: 100%;
  }
}

.post-wrapper .post_body .two-boxes {
  position: relative;
  padding-top: 100px;
  margin-top: 80px;
  border: 2px dashed #8dc63f;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes {
    text-align: center;
    padding: 74px 0;
    margin-top: 60px;
  }
}

.post-wrapper .post_body .two-boxes .box {
  vertical-align: top;
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box {
    width: 40%;
    display: inline-block;
    padding: 0;
  }
}

.post-wrapper .post_body .two-boxes .box .post-body-img {
  max-width: 100%;
  margin: 0 auto 15px;
  display: block;
}

@media screen and (min-width: 768px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    margin-bottom: 25px;
    max-width: 292px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    width: 100%;
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    max-width: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box:first-of-type {
    margin-right: 5%;
  }
}

.post-wrapper .post_body .two-boxes .box:last-of-type {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box:last-of-type {
    margin: 0 0 0 5%;
  }
}

.post-wrapper .post_body .two-boxes::after {
  content: url(../images/post-brand.png);
  display: block;
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  text-align: center;
}
