/*
Theme Name: Klawiatura zamiast pióra
Author: Paweł Błoński, Sebastian Ślęczna
Version: 0.1

If you have any questions feel free to ask us sebastians@interpages.pl
*/

body header.fixed {
  z-index: 1000 !important;
}
ol.comments,
ol.comments ul,
ol.comments ul li,
ol.comments li ul li {
  list-style-type: none !important;
}
@media (min-width: 992px) {
  body header nav ul li {
      padding: 0;
      display: inline-block;
      margin-left: 42px;
  }
  body header nav {
    max-height: auto;
    overflow: visible;
  }
  body header .brand .burger {
      display: none;
  }
}
body header .brand a {
  position: relative;
  z-index: 1000;
}
main article h3.title {
  font-weight: 800;
}
@media (min-width: 992px) {
  .parallax.parallax_slim img{
    display: none;
  }
  .parallax.parallax_slim {
    max-height: 85px;
  }
  header.parallax_slim {
    top: 0;
  }
  header.parallax_slim + main.fixed .pr30 {
    padding-top: 35px;
  }
  aside {
    height: 100%;
  }
  main.is-home .pr30 {
    padding-top: 10px;
  }
}
@media (max-width: 992px) {
  body header {
    background: rgba(75, 73, 51, 1);
  }
  body header nav ul {
    padding-bottom: 10px;
  }
}

.module.about figure {
  width: 214px;
  height: 214px;
  overflow: hidden;
  border-radius: 150px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.module.about figure img {
  /*transform: scale(1);*/
}
nav ul li.current-menu-item a,
nav ul li:hover a {
  opacity: .7;
}
body article.iampoem p {
  margin-bottom: 14px;
}
body article.single {
  margin-bottom: 0 !important;
}
body article.single img {
  max-width: 100%;
  height: auto;
}
.addtoany_content_bottom {
  margin-top: 80px !important;
  margin-bottom: 0px !important;
  border-top: 2px solid #efedd7;
  text-align: right;
  padding-top: 12px;
}
.addtoany_header, .addtoany_list {
  display: inline-block;
}
article.single .wp-caption {
  width: 100% !important;
}
