@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';

// modules
@import '_modules/navbar.scss';
@import '_modules/header.scss';
@import '_modules/mosaic.scss';
@import '_modules/mini-box.scss';
@import '_modules/two-boxes.scss';
@import '_modules/bar.scss';
@import '_modules/bottom-bar.scss';
@import '_modules/gallery.scss';
@import '_modules/footer.scss';
@import '_modules/download.scss';
@import '_modules/partners.scss';
@import '_modules/article.scss';


body{
  overflow-x: hidden;
  background: $cl-white;
  padding-top: 85px;
  @include breakpoint('desktop_small'){
	    padding-top: 80px;
  }
  &.is-active{
    overflow: hidden;
  }
}

.content-wrapper{
  @include breakpoint('desktop_small'){
    margin: 0 auto;
    // max-width: 1530px;
    max-width: 1180px;
  }
}


// .navbar{
//   z-index: 2;
//   transition: .3s all;
//   height: 100px;
//   background: $cl-primary;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   @include breakpoint('desktop_small'){
//     height: 130px;
//     z-index: 3;
//   }
//   &.reduced{
//     position: fixed;
//     height: 70px;
//     z-index: 6;
//   }
//   .content-wrapper{
//     height: 100%;
//     @include breakpoint('desktop_small'){
//       position: relative;
//     }
//     .list{
//       position: relative;
//       height: 100vh;
//       left: -1300px;
//       transition: .3s all;
//       width: 100%;
//       @include breakpoint('desktop_small'){
//         position: static;
//         height: auto;
//       }
//       &.is-active{
//         left: 0;
//         right: 0;
//         background: $cl-primary;
//       }
//       &_item{
//         margin: 10px 0 18px;
//         text-align: center;
//         @include breakpoint('desktop_small'){
//           display: inline-block;
//           vertical-align: top;
//           width: 14%;
//           margin: 10px 0 0;
//         }
//         span{
//           cursor: pointer;
//         }
//         &:first-of-type{
//           padding-top: 140px;
//           @include breakpoint('desktop_small'){
//             padding-top: 0;
//           }
//         }
//         &:nth-child(-n+3){
//           .navbar-icon{
//             @include breakpoint('desktop_small'){
//               height: 84px;
//             }
//           }
//           span{
//             position: relative;
//             top: -3px;
//           }
//         }
//         &:nth-child(4), &:nth-child(5){
//           @include breakpoint('desktop_small'){
//             position: absolute;
//             padding-top: 10px;
//           }
//           .navbar-icon{
//             @include breakpoint('desktop_small'){
//               height: 62px;
//               padding-bottom: 9px;
//             }
//           }
//         }
//         &:nth-child(4){
//           @include breakpoint('desktop_small'){
//             right: 14%;
//           }
//         }
//         &:nth-child(5){
//           @include breakpoint('desktop_small'){
//             right: 0;
//           }
//         }
//         .box{
//           @include breakpoint('desktop_small'){
//             display: inline-block;
//           }
//         }
//         .navbar-icon{
//           cursor: pointer;
//           transition: .3s all;
//           display: none;
//           @include breakpoint('desktop_small'){
//             display: block;
//             margin: 0 auto;
//           }
//         }
//         a{
//           padding: 5px;
//           @include breakpoint('desktop_small'){
//             padding: 0;
//           }
//         }
//         &.reduced{
//           .navbar-icon{
//             opacity: 0;
//             visibility: hidden;
//             height: 10px;
//           }
//           &:nth-child(4), &:nth-child(5){
//             transition: .3s all;
//             padding-top: 0;
//             .navbar-icon{
//               height: 0;
//             }
//           }
//         }
//       }
//     }
//     .brand-logo{
//       margin: 0 auto;
//       padding-top: 15px;
//       background: $cl-primary;
//       border-radius: 50%;
//       padding: 15px 8px 8px;
//       z-index: 2;
//       position: absolute;
//       left: 0;
//       right: 0;
//       top: 0;
//       transition: .3s all;
//       pointer-events: none;
//       &.reduced{
//         pointer-events: painted;
//         top: -15px;
//       }
//     }
//     .burger{
//       position: absolute;
//       right: 15px;
//       top: 40px;
//       transition: .3s all;
//       @include breakpoint('desktop_small'){
//         display: none;
//       }
//       &.reduced{
//         top: 25px;
//       }
//       &_item{
//         display: block;
//         float: right;
//         clear: both;
//         width: 32px;
//         height: 4px;
//         background-color: $cl-white;
//         margin-bottom: 5px;
//         &:last-of-type{
//           margin-bottom: 0;
//         }
//       }
//     }
//   }
// }

.header{
  .content-wrapper{
    .two-boxes{
      .box{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        &:first-of-type{
          margin: 40px 0 15px;
          float: right;
          @include breakpoint('tablet'){
            margin: 30px 0 0;
          }
          @include breakpoint('desktop_small'){
            border-bottom: 11px solid $cl-primary;
            margin: 0;
            height: 386px;
            position: relative;
          }
          .hero{
            @include breakpoint('desktop_small'){
              position: relative;
              left: -39px;
              bottom: 80px;
              z-index: 3;
            }
          }
          &::after{
            @include breakpoint('desktop_small'){
              content: '';
              background-image: url(../images/hero-bg.png);
              display: block;
              border-bottom: 11px solid $cl-primary;
              bottom: -11px;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: 100px;
            }
            @include breakpoint('desktop_big'){
              background-position: center;
              position: absolute;
              left: 200px;
              right: -200px;
              background-size: cover;
            }
          }
        }
        @include breakpoint('tablet'){
          width: 50%;
          display: inline-block;
        }
        .hero{
          max-width: 100%;
          margin: 0 auto;
          display: block;
          @include breakpoint('tablet'){
            max-width: 80%;
          }
          @include breakpoint('desktop_small'){
            float: left;
            max-width: 100%;
          }
        }
      }
    }
  }
}




.post-wrapper{
  padding: 0 15px;
  clear: both;
  @include breakpoint('desktop_small'){
    margin-top: 62px;
  }
  .post{
    margin-bottom: 70px;
    &:first-of-type{
      margin-top: 60px;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
    &_head{
      @include breakpoint('desktop_small'){
        float: left;
        width: 100%;
        box-sizing: border-box;
      }
      @include breakpoint('desktop'){
        padding: 0 8%;
      }
      .post-head-img{
        margin: 0 auto 30px;
        display: block;
        max-height: 156px;
        max-width: 140px;
        @include breakpoint('desktop_small'){
          display: inline-block;
          float: left;
          margin: 0px 6% 0 4%;
        }
        @include breakpoint('desktop'){
          margin-right: 4%;
        }
      }
      .content{
        @include breakpoint('desktop_small'){
          width: 75%;
          display: inline-block;
          float: left;
        }
        @include breakpoint('desktop_big'){
          width: 77%;
        }
        @include breakpoint('desktop_colossal'){
          width: 78%;
        }
      }
    }
    &_body{
      @include breakpoint('desktop_small'){
        float: left;
        width: 100%;
      }
      .two-boxes{
        position: relative;
        padding-top: 100px;
        margin-top: 80px;
        border: 2px dashed $cl-secondary;
        @include breakpoint('desktop_small'){
          text-align: center;
          padding: 74px 0;
          margin-top: 60px;
        }
        .box{
          vertical-align: top;
          padding: 0 15px;
          @include breakpoint('desktop_small'){
            width: 40%;
            display: inline-block;
            padding: 0;
          }
          .post-body-img{
            max-width: 100%;
            margin: 0 auto 15px;
            display: block;
            @include breakpoint('tablet'){
              margin-bottom: 25px;
              max-width: 292px;
            }
            @include breakpoint('desktop_small'){
              width: 100%;
              max-width: 350px;
            }
            @include breakpoint('desktop'){
              max-width: 420px;
            }
          }
          &:first-of-type{
            @include breakpoint('desktop_small'){
              margin-right: 5%;
            }
          }
          &:last-of-type{
            margin-top: 50px;
            @include breakpoint('desktop_small'){
              margin: 0 0 0 5%;
            }
          }
        }
        &::after{
          content: url(../images/post-brand.png);
          display: block;
          position: absolute;
          top: -55px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
    }
  }
}

// .footer{
//   margin-top: 50px;
//   background: $cl-primary;
//   min-height: 420px;
//   .content-wrapper{
//     @include breakpoint('desktop_small'){
//       padding: 0 30px;
//     }
//     @include breakpoint('desktop'){
//       padding: 0 10%;
//     }
//     @include breakpoint('desktop_big'){
//       padding: 0 14%;
//     }
//     @include breakpoint('desktop_colossal'){
//       padding: 0 18%;
//     }
//     .col-3{
//       padding: 0 15px;
//       @include breakpoint('tablet'){
//         padding: 0 30px;
//       }
//       @include breakpoint('desktop_small'){
//         width: 33.3%;
//         display: inline-block;
//         float: left;
//         padding: 40px 0 0;
//       }
//       &:first-of-type{
//         padding-top: 40px;
//         @include breakpoint('tablet'){
//           position: relative;
//         }
//         .brand-logo{
//           display: block;
//           margin: 40px auto 60px;
//           @include breakpoint('tablet'){
//             position: absolute;
//             right: 30px;
//             top: 0;
//             bottom: 0;
//             margin: auto;
//           }
//           @include breakpoint('desktop_small'){
//             position: static;
//             margin: 0;
//             display: inline-block;
//           }
//         }
//       }
//       &:nth-of-type(2), &:nth-of-type(3){
//         @include breakpoint('tablet'){
//           width: calc(50% - 45px);
//           display: inline-block;
//           float: left;
//         }
//         @include breakpoint('desktop_small'){
//           padding: 40px 0 0;
//           width: 33.3%;
//           text-align: center;
//         }
//       }
//       &:nth-of-type(2){
//         @include breakpoint('tablet'){
//           padding-right: 15px;
//         }
//         @include breakpoint('desktop_small'){
//           padding-right: 0;
//         }
//       }
//       &:nth-of-type(3){
//         @include breakpoint('tablet'){
//           padding-left: 15px;
//         }
//         @include breakpoint('desktop_small'){
//           padding-left: 0;
//           text-align: right;
//         }
//       }
//       .wpcf7{
//         &-form{
//           p{
//             margin: 0 auto;
//             @include breakpoint('desktop_small'){
//               width: 75%;
//             }
//             span{
//               .wpcf7-not-valid-tip{
//                 font-size: 13px;
//                 position: relative;
//                 top: -10px;
//               }
//               .wpcf7-form-control{
//                 border: none;
//                 height: 40px;
//                 width: 100%;
//                 padding: 10px;
//                 box-sizing: border-box;
//                 font-weight: 600;
//                 font-size: 15px;
//                 font-family: 'Open Sans', sans-serif;
//                 margin-bottom: 20px;
//                 &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//                     color: $cl-primary;
//                   }
//                   &::-moz-placeholder { /* Firefox 19+ */
//                     color: $cl-primary;
//                   }
//                   &:-ms-input-placeholder { /* IE 10+ */
//                     color: $cl-primary;
//                   }
//                   &:-moz-placeholder { /* Firefox 18- */
//                     color: $cl-primary;
//                   }
//
//                 &.wpcf7-textarea{
//                   height: 125px;
//                   margin-bottom: 10px;
//                   resize: none;
//                 }
//               }
//             }
//             .wpcf7-submit{
//               border: none;
//               background: transparent;
//               color: $cl-white;
//               font-size: 18px;
//               font-family: 'Open Sans', sans-serif;
//               font-weight: 600;
//               letter-spacing: 0.8px;
//               float: right;
//               padding-right: 38px;
//               cursor: pointer;
//             }
//             &:last-of-type{
//               position: relative;
//               margin-bottom: 30px;
//               &::after{
//                 content: url(../images/arrow.png);
//                 display: block;
//                 position: absolute;
//                 bottom: 0;
//                 right: 0;
//                 top: 4px;
//               }
//             }
//           }
//           .wpcf7-response-output{
//             color: red;
//             margin: 0 auto 30px;
//             padding: 10px 15px;
//             font-size: 13px;
//             box-sizing: border-box;
//             border: 2px solid $cl-white;
//             @include breakpoint('desktop_small'){
//               width: 75%;
//               margin: 15px auto 0;
//             }
//             &.wpcf7-mail-sent-ok{
//               color: $cl-white;
//             }
//           }
//         }
//       }
//       iframe{
//         border: 10px solid $cl-white;
//         box-sizing: border-box;
//         height: 285px;
//         width: 100%;
//         @include breakpoint('desktop_small'){
//           width: 285px;
//         }
//       }
//     }
//   }
// }
