/**
  Colors
*/
$cl-black: #000000;
$cl-blue: #353EFC;
$cl-white: #FFFFFF;
$cl-red: #FC3D35;
$cl-greyBF: #BFBFBF;
$cl-greyEB: #EBEBEB;

/**
  Customize
*/
*,
html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: $cl-black;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
