.about-event{
	background: $cl-white;
	padding: 15px 0 40px;
	@include breakpoint('tablet'){
		padding: 45px 0;
	}
	@include breakpoint('desktop_small'){
		padding: 65px 0;
	}
	@include breakpoint('desktop'){
		padding: 85px 0;
	}
	&_heading, &_description{
		padding: 0 15px;
	}
	&_heading{
		@include breakpoint('tablet'){
			position: relative;
			width: 40%;
			float: left;
			padding: 0;
		}
		@include breakpoint('desktop_small'){
			width: 52%;
		}
		@include breakpoint('desktop'){
			width: 55%;
		}
		&-img{
			background: url(./../images/about-event.png) center center no-repeat;
			background-size: cover;
			height: 240px;
			@include breakpoint('phone_big'){
				height: 350px;
			}
			@include breakpoint('tablet'){
				height: 420px;
			}
			@include breakpoint('desktop_small'){
				height: 480px;
			}
			@include breakpoint('desktop_big'){
				height: 510px;
				position: relative;
				left: -88px;
				width: 108%;
			}
			@include breakpoint('desktop_colossal'){
				left: -167px;
				width: 1050px;
			}
		}
	}
	&_description{
		text-align: center;
		@include breakpoint('tablet'){
			text-align: left;
			width: 45%;
		    float: right;
		}
		@include breakpoint('desktop_small'){
			width: 38%;
			padding-right: 5%;
			box-sizing: border-box;
		}
		@include breakpoint('desktop'){
			width: 36%;
			padding-right: 3%;
		}
		@include breakpoint('desktop_big'){
			padding-right: 5%;
		}
		@include breakpoint('desktop_colossal'){
			width: 35%;
		}
	}
}
