.about-us{
	padding: 24px 15px;
	box-sizing: border-box;
	background: $cl-white;
	@include breakpoint('tablet'){
		position: relative;
	}
	@include breakpoint('desktop_small'){
		padding: 44px 0;
	}
	&_heading{
		@include breakpoint('tablet'){
			padding: 0 5%;
		}
		@include breakpoint('desktop_small'){
			padding: 0 10%;
		}
		@include breakpoint('desktop'){
			padding: 0 18%;
		}
	}
	&_featured{ 
		position: relative;
		margin-top: 50px;
		padding-bottom: 80px;
		@include breakpoint('desktop_small'){
			padding-bottom: 75px;
		}
		&::after{
			@include breakpoint('tablet'){
				content: '';
				background: url(./../images/about-us-after.png) center center no-repeat;
				background-size: contain;
				display: block;
				position: absolute;
				left: 7%;
				width: 290px;
				height: 420px;
				bottom: -300px;
			}
			@include breakpoint('desktop_small'){
				width: 330px;
				height: 460px;
				left: 10%;
				bottom: -340px;
			}
			@include breakpoint('desktop'){
				left: 11%;
				width: 380px;
			    height: 540px;
				bottom: -400px;
			}
			@include breakpoint('desktop_big'){
				left: 16%;
			}
		}
		&-heading-img{
			position: absolute;
			top: -27px; left: 0; right: 0;
			margin: auto;
			width: 290px;
			z-index: 2;
			@include breakpoint('phone'){
				width: 360px;
				top: -34px;
			}
			@include breakpoint('phone_big'){
				width: 500px;
				top: -47px;
			}
			@include breakpoint('tablet'){
				top: -67px;
				width: 721px;
			}
			@include breakpoint('desktop_small'){
				width: 872px;
				top: -81px;
			}
			@include breakpoint('desktop'){
				width: 1160px;
				top: -108px;
			}
			@include breakpoint('desktop_big'){
				width: auto;
				top: -117px;
			}
		}
		&-img{
			background: center center no-repeat;
			background-size: cover;
			height: 240px;
			position: relative;
			@include breakpoint('phone_big'){
				height: 350px;
			}
			@include breakpoint('tablet'){
				height: 420px;
			    width: 70%;
			}
			@include breakpoint('desktop_small'){
				width: 55%;
			}
			@include breakpoint('desktop'){
				height: 480px;
			}
		}
	}
	&_description{
		@include breakpoint('tablet'){
			width: 45%;
			float: right;
		}
		@include breakpoint('desktop_small'){
			width: 44%;
			padding-right: 5%;
			box-sizing: border-box;
		}
		@include breakpoint('desktop_big'){
			padding-right: 10%;
		}
		@include breakpoint('desktop_colossal'){
			padding-right: 15%;
		}
	}
}
