.btn{
	&_primary{
		font-family: 'Vollkorn', serif;
		font-weight: 600;
		color: $cl-white;
		font-size: 18px;
		padding: 18px;
		background: $cl-secondary;
		display: inline-block;
	}
}

.find-us{
	.btn{
		&_primary{
			@include breakpoint('tablet'){
				position: absolute;
				left: 0;
				right: 0;
				width: 190px;
				margin: auto;
				bottom: 60px;
			}
			@include breakpoint('desktop_small'){
				bottom: 110px;
			}
		}
	}
}
