.burger{
  width: 40px;
  height: auto;
  position: absolute;
  right: 15px;
  top: 30px;
  cursor: pointer;
  transition: .3s all;
  &.reduced{
    top: 20px;
  }
  @include breakpoint('desktop_small'){
    display: none;
  }
  &_item{
    width: 100%;
    height: 4px;
    background-color: #000;
    margin-bottom: 4px;
    display: block;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
