.contact{
	margin: 50px 0 80px 0;
	@include breakpoint('tablet'){
		margin: 80px 0 106px 0;
	}
	@include breakpoint('desktop_big'){
		padding: 0 2%;
	}
	@include breakpoint('desktop_colossal'){
		padding: 0 5%;
	}
	&_person{
		margin-bottom: 80px;
		@include breakpoint('tablet'){
			margin: 22px 0 0 0;
		}
		&:last-of-type{
			margin-bottom: 0;
			.contact_person-img{
				&::after{
					left: 32px;
					bottom: 28px;
				}
			}
		}
		@include breakpoint('tablet'){
			width: 50%;
			float: left;
			padding: 0 5%;
			box-sizing: border-box;
		}
		@include breakpoint('desktop_small'){
			padding: 0 10%;
		}
		@include breakpoint('desktop'){
			padding: 0 12%;
		}
		@include breakpoint('desktop_big'){
			padding: 0 14%;
		}
		&-img{
			background: url(./../images/contact-person.png) center center no-repeat;
			background-size: cover;
			height: 340px;
			max-width: 230px;
			margin: 0 auto 50px;
			position: relative;
			@include breakpoint('tablet'){
				height: 420px;
				margin: 20px 0 50px;
				max-width: none;
			}
			@include breakpoint('desktop_small'){
				margin: 20px 0 70px;
			}
			&::after{
				content: '';
				border: 4px solid $cl-secondary;
				position: absolute;
				height: 100%;
				width: 100%;
				left: -32px;
				bottom: -28px;
				z-index: -1;
			}
		}
	}
}
