.wpcf7-form{
	@include breakpoint('desktop_small'){
		margin: 0 10%;
	}
	@include breakpoint('desktop'){
		margin: 0 12%;
	}
	@include breakpoint('desktop_big'){
		margin: 0 15%;
	}
	@include breakpoint('desktop_colossal'){
		margin: 0 18%;
	}
	span{
		input, textarea{
			color: $cl-tertiary;
			font-family: $ff-vol;
			border: 2px solid $cl-tertiary;
			font-size: 18px;
			padding: 10px 15px;
			width: 100%;
			box-sizing: border-box;
			resize: none;
			@include breakpoint('tablet'){
				font-size: 20px;
			}
		}
		input{
			margin-bottom: 15px;
			@include breakpoint('tablet'){
				margin-bottom: 25px;
			}
			&.acceptance{
				width: auto;
			}
			&.wpcf7-not-valid{
				border-color: red;
			}
		}
		&.your-name, &.text-74, &.tel-821, &.your-email, &.number-444, &.text-897, &.number-215, &.growth, &.bosom, &.waist, &.hips, &.weight, &.language, &.place, &.footwear{
			input{
				@include breakpoint('tablet'){
					width: calc(50% - 7.5px);
					box-sizing: border-box;
					float: left;
				}
			}
			&:nth-child(odd){
				input{
					@include breakpoint('tablet'){
						margin-right: 7.5px;
					}
				}
			}
			&:nth-child(even){
				input{
					@include breakpoint('tablet'){
						margin-left: 7.5px;
					}
				}
			}
		}
		.wpcf7-not-valid-tip{
			display: none;
		}
	}
	.wpcf7-response-output{
		text-align: center;
		padding: 15px;
		font-size: 18px;
	}
	.acceptance-58, .acceptance-781{
		.wpcf7-list-item-label{
			span{
				font-family: $ff-vol;
				cursor: pointer;
				@include breakpoint('tablet'){
					display: inline-block;
				}
			}
		}
	}
	.acceptance-58{
		@include breakpoint('tablet'){
			top: 30px;
		}
		.wpcf7-acceptance{
			.wpcf7-list-item{
				margin-top: 15px;
				@include breakpoint('tablet'){
					width: 72%;
					margin-top: 0;
				}
				.wpcf7-list-item-label{
					span{
						@include breakpoint('tablet'){
							width: 65%;
						}
						@include breakpoint('desktop'){
							width: 59%;
						}
						@include breakpoint('desktop_big'){
							width: 57%;
						}
					}
				}
			}
		}
	}
	.acceptance-781{
		.wpcf7-list-item{
			@include breakpoint('tablet'){
				width: 100%;
			}
			.wpcf7-list-item-label{
				span{
					@include breakpoint('tablet'){
						width: 96%;
					}
				}
			}
		}
	}
	.wpcf7-submit{
		cursor: pointer;
		font-family: 'Vollkorn', serif;
		font-weight: 600;
		color: $cl-white;
		font-size: 18px;
		padding: 18px;
		background: $cl-secondary;
		display: inline-block;
		border: none;
		margin: 30px auto;
	    display: block;
		transition: .3s all;
		@include breakpoint('tablet'){
			margin: auto;
			display: inline-block;
			float: right;
			margin-top: 25px;
		}
		&:disabled{
			opacity: .5;
		}
	}
	.wpcf7-list-item{
		margin-left: 0;
		font-size: 16px;
		input[type="checkbox"] {
			float: left;
			opacity: 0.01;
			position: absolute;
			height: auto !important;
			+ span {
				display: inline-block;
				line-height: 1.4;
				margin: 0;
				position: relative;
				&::before {
					border: 2px solid $cl-tertiary;
					background: $cl-white;
					background-repeat: no-repeat;
					background-position: center;
					content: "";
					cursor: pointer;
					position: relative;
					left: 0;
					top: 2px;
					height: 11px;
					width: 11px;
					display: inline-block;
					margin-right: 8px;
					@include breakpoint('tablet'){
						top: -20px;
					}
				}
			}
			&:checked + span {
				&::before {
					background: url(./../images/blue-checkbox.png);
					background-size: cover;
				}
			}
			&:focus + span {
				&::before {
					outline: 0;
				}
			}
		}
	}
}

// subpage_contact form
.contact-form, .contest-form{
	margin: 50px 0 80px;
	@include breakpoint('tablet'){
		margin: 60px 0 110px;
	}
}

// subpage competition
.contest-form{
	textarea{
		height: 160px;
		margin-bottom: 15px;
		@include breakpoint('tablet'){
			height: 130px;
		}
	}
	.acceptance-781{
		margin: 20px 0;
	    display: block;
	}
}

.file-928{
	.wpcf7-multifile{
		height: 150px;
		&.wpcf7-not-valid{
			&::after{
				border-color: red;
			}
		}
		&::before{
			content: "Kliknij lub przeciagnij zdjecia";
			font-family: $ff-vol;
			background: $cl-secondary;
			width: 285px;
			text-align: center;
			position: absolute;
			right: 0; top: 0; left: 0;
			color: $cl-white;
			font-size: 20px;
			padding: 15px 0;
			margin: 0 auto;
			z-index: 2;
			@include breakpoint('tablet'){
				top: 12px;
			}
		}
		&::after{
			content: "zdjecie twarzy (preferowane bez makijazu) / zdjecie sylwetki / zdjecie dowolne";
			position: absolute;
			background: #f9f9f9;
			color: $cl-primary;
			left: 0;right: 0; top: -17px;
			width: 100%;
			font-size: 12px;
			font-family: $ff-vol;
			padding-top: 110px;
			text-align: center;
			height: 40px;
			border: 2px solid transparent;
		}
	}
}


.form-heading{
	margin-top: 30px;
	@include breakpoint('tablet'){
		position: absolute;
		left: 0;
		margin-top: 65px;
	}
	&:first-of-type{
		@include breakpoint('tablet'){
			margin-top: 0;
		}
	}
	&-space{
		height: 20px;
		@include breakpoint('tablet'){
			height: 160px;
		}
		&:first-of-type{
			@include breakpoint('tablet'){
				height: 90px;
			}
		}
	}
}


// disable inputs while castings're off
#wpcf7-f144-p141-o1{
	opacity: .3;
}