.find-us{
	background: $cl-white;
	text-align: center;
	padding: 40px 0;
	@include breakpoint('tablet'){
		display: flex;
		padding: 35px 0;
	}
	@include breakpoint('desktop_big'){
		overflow: hidden;
	}
	&_information{
		padding-bottom: 60px;
		@include breakpoint('tablet'){
			width: 56%;
			float: left;
			padding: 90px 0;
			margin-right: 4%;
			position: relative;
		}
		@include breakpoint('desktop_small'){
			width: 53%;
			padding: 110px 0;
			margin-right: 7%;
			padding: 160px 0;
		}
		@include breakpoint('desktop_big'){
			width: 58%;
			margin-right: 2%;
			padding: 190px 0;
		}
		@include breakpoint('desktop_colossal'){
			width: 55%;
			margin-right: 5%;
		}
	}
	&_place{
		@include breakpoint('tablet'){
			width: 40%;
			float: left;
			position: relative;
			height: 100%;
		}
		&-img{
			background: center center no-repeat;
			background-size: cover;
			height: 330px;
			margin: 0 15px;
			@include breakpoint('tablet'){
				height: 100%;
				width: 70%;
			    float: right;
				margin: auto;
			}
			@include breakpoint('desktop_big'){
				position: relative;
				right: -86px;
				width: 85%;
			}
			@include breakpoint('desktop_colossal'){
				right: -163px;
			}
		}
	}
}
