.finalists {
    background: $cl-white;
    @include breakpoint('tablet') {
        position: relative;
    }
    &::before {
        @include breakpoint('tablet') {
            content: '';
            background: url(./../images/about-us-after.png) center center no-repeat;
            background-size: contain;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 15px;
            left: 0;
            opacity: .2;
        }
        @include breakpoint('desktop_small') {
            left: -47%;
        }
    }
    &_presentation {
        &-slider {
            padding-bottom: 80px;
            @include breakpoint('desktop_small') {
                margin: 0 auto;
                width: 90%;
            }
            &-arrow {
                background: url(./../images/arrow.png) center center no-repeat;
                background-size: cover;
                height: 42px;
                width: 60px;
                bottom: 20px;
                position: absolute;
                cursor: pointer;
                @include breakpoint('desktop_small') {
                    z-index: 2;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                }
                &.left {
                    left: 25%;
                    right: auto;
                    transform: rotate(180deg);
                    @include breakpoint('tablet') {
                        left: 35%;
                    }
                    @include breakpoint('desktop_small') {
                        left: -40px;
                    }
                }
                &.right {
                    right: 25%;
                    left: auto;
                    @include breakpoint('tablet') {
                        right: 35%;
                    }
                    @include breakpoint('desktop_small') {
                        right: -40px;
                    }
                }
            }
            &-item {
                &-img {
                    position: relative;
                    background-size: cover;
                    background-position: center;
                    height: 550px;
                    margin: 0 15px;
                    @include breakpoint('tablet') {
                        width: 320px;
                        margin: 0 auto;
                    }
                    @include breakpoint('desktop_small') {
                        width: 400px;
                        height: 660px;
                    }
                    @include breakpoint('desktop') {
                        height: 710px;
                        width: 480px;
                    }
                    &-href {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                    &-description {
                        position: absolute;
                        bottom: 30px;
                        right: -25px;
                        @include breakpoint('desktop_small') {
                            bottom: auto;
                            top: 98px;
                            right: -33px;
                        }
                    }
                }
            }
        }
    }
}

.single-finalists {
    .post_boxes-img {
        height: 440px;
        @include breakpoint('phone_small') {
            height: 520px;
        }
        @include breakpoint('tablet') {
            height: 550px;
        }
        @include breakpoint('desktop_small') {
            height: 410px;
        }
        @include breakpoint('desktop') {
            height: 510px;
        }
    }
}