.hero {
    background-color: $cl-quaternary;
    padding: 135px 0 110px;
    height: auto;
    position: relative;
    @include breakpoint('tablet') {
        padding: 160px 0 0;
        min-height: calc(768px - 160px);
        background: url(./../images/header-bg.png) center center no-repeat / cover
    }
    @include breakpoint('desktop_big') {
        min-height: calc(888px - 160px);
    }
    &_live {
        // final styles
        position: absolute; //final styles
        left: 0; //final styles
        right: 0; //final styles
        margin: auto; //final styles
        height: 440px; //final styles
        width: 680px; //final styles
        @include breakpoint('desktop_small') {
            width: 620px;
            left: 25px;
            right: auto;
            top: 0;
            bottom: 0;
        }
        @include breakpoint('desktop') {
            left: 35px;
            width: 840px;
        }
    }
    &_heading {
        text-align: center;
        padding: 0 15px;
        box-sizing: border-box;
        @include breakpoint('tablet') {
            padding-top: 200px;
            text-align: left;
            position: relative;
        }
        @include breakpoint('desktop') {
            width: 70%;
            float: left;
            padding: 200px 15px 0px;
        }
        @include breakpoint('desktop_big') {
            padding: 240px 15px 0px;
        }

        &:after {
            @include breakpoint('tablet') {
                content: "";
                position: absolute;
                height: 100%;
                width: 740px;
                top: 30px;
                left: 0px;
                background: url(./../images/darkshadow.png) center center / contain no-repeat;
            }
        }

    }
    &_scroll-to {
        display: none;
        @include breakpoint('desktop') {
            display: block;
        }
        .scroll-to_ul {
            text-align: center;
            margin: 25px 0;
            line-height: 35px;
        }
    }
    &_scroll-to,
    &_social {
        @include breakpoint('desktop') {
            width: 30%;
            float: left;
            padding-right: 30px;
            box-sizing: border-box;
        }
        .scroll-to_ul,
        .social_ul {
            @include breakpoint('desktop') {
                text-align: right;
            }
        }
    }
    &_social {
        @include breakpoint('desktop') {
            padding: 94px 15px 0 0;
        }
        @include breakpoint('desktop_big') {
            padding: 134px 15px 0 0;
        }
    }
    .slide-down-arrow {
        cursor: pointer;
        position: absolute;
        bottom: 25px;
        right: 0;
        left: 0;
        margin: auto;
        border: 2px solid $cl-primary;
        width: 40px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint('tablet') {
            bottom: 50px;
        }
        &::before,
        &::after {
            content: '';
            height: 10px;
            width: 2px;
            position: absolute;
            background: $cl-quaternary;
        }
        &::after {
            right: -2px;
        }
        &::before {
            left: -2px;
        }
    }
}