// HEADING
.last-miss {
    &-heading {
        display: flex;
        justify-content: center;
        margin-bottom: 30px 0;
        @include breakpoint('tablet') {
            margin: 50px 0 70px;
        }
        &_img {
            max-width: 100%;
            height: 70px;
            @include breakpoint('tablet') {
                height: auto;
            }
        }
    }
}

// BODY
.last-miss {
    &-body {
        @include breakpoint('tablet') {
            display: flex;
            flex-wrap: wrap;
        }
        .last-miss-body-item {
            max-width: 360px;
            margin: 0 auto;
            margin-bottom: 25px;
            @include breakpoint('tablet') {
                width: 50%;
                margin-bottom: 40px;
            }
            @include breakpoint('desktop_small') {
                width: 33.3%;
            }
            .miss {
                &_img {
                    height: 420px;
                    position: relative;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    @include breakpoint('tablet') {
                        max-width: 300px;
                        margin: 0 auto;
                    }
                    @include breakpoint('desktop_small') {
                        max-width: 250px;
                        margin: 0 auto;
                        height: 400px;
                    }
                    @include breakpoint('desktop') {
                        height: 422px;
                        max-width: 310px;
                    }
                    @include breakpoint('desktop_small') {}
                    .typo_secondary {
                        font-size: 28px;
                        color: $cl-white;
                        background: rgba(89, 191, 199, .9);
                        text-align: center;
                        padding: 5px 0;
                        position: absolute;
                        right: -10px;
                        top: 15px;
                        width: 100%;
                        text-transform: uppercase;
                        @include breakpoint('tablet') {
                            right: -15px;
                            padding: 10px 0;
                        }
                    }
                }
                &_logo {
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    @include breakpoint('tablet') {
                        bottom: -20px;
                        left: -30px;
                    }
                }
            }
        }
    }
}