.map{
	@include breakpoint('tablet'){
		position: relative;
		margin-top: 45px;
		margin: 45px 0;
	}
	&_description{
		padding: 40px 15px;
		background: $cl-secondary;
		color: $cl-white;
		@include breakpoint('tablet'){
			position: absolute;
			bottom: 3px; right: 0;
			padding: 22px 15px;
			background: rgba(89,191,199, .6);;
		}
		@include breakpoint('desktop'){
			right: 6%;
			padding-bottom: 40px;
			width: 495px;
		}
		@include breakpoint('desktop_big'){
			right: 10%;
		}
		@include breakpoint('desktop_colossal'){
			right: 14%;
		}
	}
	iframe{
		@include breakpoint('tablet'){
			height: 400px;
		}
		@include breakpoint('desktop'){
			height: 450px;
		}
	}
}
