.hero_live {
    display: none;
}

.memories {
    &-heading {
        @include breakpoint('tablet') {
            display: flex;
        }
        .typo_secondary {
            font-size: 40px;
            text-align: center;
            margin-bottom: 50px;
            position: relative;
            @include breakpoint('tablet') {
                display: inline-block;
                margin: 0 auto 110px;
                font-size: 50px;
            }
            @include breakpoint('desktop_small') {
                font-size: 58px;
            }
            &:after {
                @include breakpoint('tablet') {
                    content: url(./../images/memories0.png );
                    position: absolute;
                    right: -50px;
                    bottom: 0;
                    top: -5px;
                    margin: auto;
                }
                @include breakpoint('desktop_small') {
                    right: -25px;
                    bottom: 0;
                    top: 10px;
                }
            }
        }
    }
    &-body {
        margin: 0 15px;
        @include breakpoint('desktop_small') {
            display: flex;
        }
        @include breakpoint('desktop') {
            margin: 0;
        }
        .memories-body-item {
            width: 100%;
            @include breakpoint('tablet') {
                display: flex;
            }
            @include breakpoint('desktop_small') {
                height: 450px;
            }
            @include breakpoint('desktop') {
                height: 620px;
            }
            &_sub {
                width: 100%;
                height: 250px;
                max-width: 360px;
                margin: 0 auto;
                @include breakpoint('tablet') {
                    max-width: none;
                }
            } // first
            &:first-of-type {
                @include breakpoint('tablet') {
                    flex-direction: column;
                    position: relative;
                }
                .memories-body-item_sub {
                    &:first-of-type {
                        background: url(./../images/memories1.png) center center no-repeat / cover;
                        @include breakpoint('tablet') {
                            height: 380px;
                        }
                        @include breakpoint('desktop_small') {
                            height: 100%;
                        }
                    }
                    &:last-of-type {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        min-height: 150px;
                        height: auto;
                        padding: 15px 0;
                        @include breakpoint('tablet') {
                            position: absolute;
                            background: rgba(89, 191, 199, .83);
                            width: 55%;
                            right: 0;
                            bottom: 0;
                            padding: 30px;
                        }
                        @include breakpoint('desktop_small') {
                            width: 90%;
                            height: 50%;
                            padding: 25px 45px;
                            text-align: left;
                            justify-content: flex-start;
                            box-sizing: border-box;
                        }
                        @include breakpoint('desktop') {
                            width: 580px;
                            padding: 15px 75px;
                        }
                        h5 {
                            font-family: "PT Sans Narrow", sans-serif;
                            font-size: 36px;
                            text-align: center;
                            line-height: 42px;
                            margin-bottom: 15px;
                            color: $cl-secondary;
                            @include breakpoint('tablet') {
                                color: $cl-white;
                                font-size: 45px;
                                line-height: 52px;
                            }
                            @include breakpoint('desktop_small') {
                                font-size: 50px;
                                line-height: 56px;
                                text-align: left;
                            }
                            @include breakpoint('desktop') {
                                font-size: 67px;
                                line-height: 78px;
                            }
                        }
                        a {
                            @include breakpoint('tablet') {
                                background: transparent;
                                border: 4px solid #fff;
                                font-weight: 100;
                                color: #fff;
                                padding: 10px 20px;
                            }
                            @include breakpoint('desktop_small') {
                                padding: 10px 20px;
                                font-size: 20px;
                            }
                            @include breakpoint('desktop') {
                                font-size: 24px;
                                padding: 15px 50px;
                            }
                        }
                    }
                }
            } // last
            &:last-of-type {
                @include breakpoint('desktop_small') {
                    flex-wrap: wrap;
                }
                .memories-body-item_sub {
                    margin-bottom: 15px;
                    @include breakpoint('tablet') {
                        height: 170px;
                    }
                    @include breakpoint('desktop_small') {
                        width: 50%;
                        margin: 0;
                        height: 50%;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                    &:first-of-type {
                        background: url(./../images/memories2.png) center center no-repeat / cover;
                        @include breakpoint('tablet') {
                            position: relative;
                        }
                        &:after {
                            @include breakpoint('tablet') {
                                content: '';
                                position: absolute;
                                background: rgba(89, 191, 199, .83);
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                            }
                        }
                    }
                    &:nth-child(2) {
                        background: url(./../images/memories3.png) center center no-repeat / cover;
                    }
                    &:nth-child(3) {
                        background: url(./../images/memories4.png) center center no-repeat / cover;
                    }
                    &:nth-child(4) {
                        background: url(./../images/memories5.png) center center no-repeat / cover;
                        @include breakpoint('tablet') {
                            position: relative;
                        }
                        &:after {
                            @include breakpoint('tablet') {
                                content: '';
                                position: absolute;
                                background: rgba(255, 255, 255, .6);
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}