.nav{
  position: fixed;
  width: 100%;
  height: 80px;
  background: $cl-quaternary;
  transition: .3s all;
  z-index: 3;
  &::before{
	  content: '';
      height: 80px;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -80px;
	  transition: .3s all;
	  background: -moz-linear-gradient(top, rgba(238,237,240,1) 0%, rgba(238,237,240,0.91) 17%, rgba(238,237,240,0.9) 18%, rgba(238,237,240,0) 100%);
	  background: -webkit-linear-gradient(top, rgba(238,237,240,1) 0%,rgba(238,237,240,0.91) 17%,rgba(238,237,240,0.9) 18%,rgba(238,237,240,0) 100%);
	  background: linear-gradient(to bottom, rgba(238,237,240,1) 0%,rgba(238,237,240,0.91) 17%,rgba(238,237,240,0.9) 18%,rgba(238,237,240,0) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeedf0', endColorstr='#00eeedf0',GradientType=0 );
  }
  &.reduced{
    height: 60px;
	&::before{
		height: 40px;
		bottom: -40px;
	}
  }
  .container{
	  height: 0;
	  .nav-wrapper{
		left: -110%;
		transition: .3s all;
	    position: relative;
		display: table;
		width: 100%;
		@include breakpoint('desktop_small'){
		  width: calc(50% - 37.5px);
		  display: inline-block;
		  float: left;
		  position: static;
		  transition: none;
		}
		@include breakpoint('desktop'){
		  width: 47.25%;
		}
		&.showed{
			left: 0;
		}
		.menu{
		  visibility: hidden;
		  opacity: 0;
		  transition: .3s all;
		  height: 50vh;
		  float: none;
		  vertical-align: bottom;
		  display: table-cell;
		  text-align: center;
		color: transparent;
		  @include breakpoint('desktop_small'){
			visibility: visible;
			opacity: 1;
			height: auto;
			width: 100%;
			display: block;
			margin-top: 46px;
			background: transparent;
		  }
		  &.reduced{
			@include breakpoint('desktop_small'){
			  margin-top: 26px;
			}
		  }
		  &-item{
			text-transform: uppercase;
			padding-bottom: 15px;
			@include breakpoint('desktop_small'){
			  padding-bottom: 0;
			  display: inline-block;
			  width: 29%;
			  vertical-align: top;
			}
			@include breakpoint('desktop'){
			  width: 25%;
			}
		  a{
			  transition: .3s all;
			  &:hover{
				  color: $cl-secondary;
			  }
		  }
		  &.current_page_item{
			  a{
				  position: relative;
				  &::after{
					  content: '';
					  position: absolute;
					  height: 3px;
					  background: $cl-secondary;
					  left: -5px;
					  right: -5px;
					  top: 0;
					  bottom: 0;
					  margin: auto;
				  }
			  }
		  }
		  }
		  &.showed{
		  color: #000;
		  background: #eeedf0;
			opacity: 1;
			visibility: visible;
		  }
		  &:last-of-type{
			position: relative;
			top: -2px;
			height: calc(50vh + 2px);
			@include breakpoint('desktop_small'){
			  height: auto;
			  position: static;
			}
		  }
		}
	  }
	  .menu-menu-right-container{
		.menu{
		  vertical-align: top;
		}
	  }
	  .brand-logo-href{
		position: absolute;
		left: 15px; top: 8px;
		@include breakpoint('desktop_small'){
		  width: 75px;
		  display: inline-block;
		  float: left;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		  text-align: center;
		  margin-top: 15px;
		}
		@include breakpoint('desktop'){
		  width: 5.5%;
		}
		.brand-logo{
		  height: 65px;
		  transition: .3s all;
		  &.reduced{
			height: 45px;
			@include breakpoint('desktop_small'){
			  height: 75px;
			}
		  }
		  @include breakpoint('desktop_small'){
			height: 105px;
		  }
		}
	  }
  }
}
