.post{
	&_boxes{
		&-img{
			height: 320px;
			background: center center no-repeat;
			background-size: cover;
			@include breakpoint('phone_big'){
				max-width: 50%;
				margin: 0 auto;
			}
			@include breakpoint('desktop_small'){
				max-width: none;
			}
		}
		&-box{
			&-social{
				.social_ul{
					margin: 0 auto;
					margin-top: 25px;
					@include breakpoint('desktop_small'){
						margin-top: 60px;
					}
					&-item{
						&::after{
							display: none;
						}
					}
				}
			}
			&:first-of-type, &:last-of-type{
				@include breakpoint('desktop_small'){
					display: inline-block;
					float: left;
				}
			}
			&:first-of-type{
				@include breakpoint('desktop_small'){
					width: 30%;
				}
			}
			&:last-of-type{
				@include breakpoint('desktop_small'){
					width: 65%;
				    margin-left: 5%;
				}
			}
		}
	}
}

.posts{
	&-list{
		a{
			&:nth-child(1){
				.posts-list_box{
					@include breakpoint('tablet'){
						margin-right: 5px;
					}
					@include breakpoint('desktop_small'){
						margin-right: 10px;
					}
					@include breakpoint('desktop_big'){
						margin-right: 60px;
					}
				}
			}
			&:nth-child(2){
				.posts-list_box{
					@include breakpoint('tablet'){
						margin: 0 2.5px;
					}
					@include breakpoint('desktop_small'){
						margin: 0 5px;
					}
					@include breakpoint('desktop_big'){
						margin: 0 30px;
					}
				}
			}
			&:nth-child(3){
				.posts-list_box{
					@include breakpoint('tablet'){
						margin-left: 5px;
					}
					@include breakpoint('desktop_small'){
						margin-left: 10px;
					}
					@include breakpoint('desktop_big'){
						margin-left: 60px;
					}
				}
			}
			.posts-list_box{
				@include breakpoint('phone_big'){
					max-width: 50%;
					margin: 0 auto 30px;
				}
				@include breakpoint('tablet'){
					max-width: none;
					box-sizing: border-box;
					width: calc(33.3% - 5px);
					float: left;
				}
				@include breakpoint('desktop_small'){
					width: calc(33.3% - 10px)
				}
				@include breakpoint('desktop_big'){
					width: calc(33.3% - 60px);
				}
				&-img{
					height: 320px;
					background: center center no-repeat;
					background-size: cover;
					position: relative;
					&::after, &::before{
						opacity: 0;
						transition: .3s all;
						left: 0;right: 0;top: 0;bottom: 0;
						position: absolute;
					}
					&::after{
						content: '';
						background: rgba(89,191,199,.6);
					}
					&::before{
						content: 'Przeczytaj';
						height: 50px;
						width: 160px;
						border: 2px solid $cl-white;
						margin: auto;
						z-index: 2;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: $ff-vol;
						font-size: 18px;
						color: $cl-white;
						font-weight: 600;
					}
					&:hover{
						&::after, &::before{
							opacity: 1;
						}
					}
				}
			}
		}
		.btn-wrapper{
			text-align: center;
			clear: both;
			padding: 30px 0 0;
			@include breakpoint('tablet'){
				padding: 60px 0 0;
			}
			@include breakpoint('desktop_big'){
				padding: 80px 0 50px;
			}
		}
	}
}


.posts-list.media {

	a{

		.posts-list_box-img {
			background-size: auto;
			height: 220px;
		}

		.posts-list_box p{
			display: none;
		}

		&:nth-child(3n-2){
			.posts-list_box{
				@include breakpoint('tablet'){
					margin-right: 5px;
				}
				@include breakpoint('desktop_small'){
					margin-right: 10px;
				}
				@include breakpoint('desktop_big'){
					margin-right: 60px;
				}
			}
		}
		&:nth-child(3n-1){
			.posts-list_box{
				@include breakpoint('tablet'){
					margin: 0 2.5px;
				}
				@include breakpoint('desktop_small'){
					margin: 0 5px;
				}
				@include breakpoint('desktop_big'){
					margin: 0 30px;
				}
			}
		}
		&:nth-child(3n-0){
			.posts-list_box{
				@include breakpoint('tablet'){
					margin-left: 5px;
				}
				@include breakpoint('desktop_small'){
					margin-left: 10px;
				}
				@include breakpoint('desktop_big'){
					margin-left: 60px;
				}
			}
		}


	}

}