.partners{
	margin-top: 50px;
	@include breakpoint('tablet'){
		margin-top: 60px;
	}
	&_boxes{
		text-align: center;
		margin: 50px 0 40px;
		@include breakpoint('tablet'){
			margin: 110px 0 40px;
		}
		&-box{
			margin-bottom: 50px;
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding: 0 15px;
			@include breakpoint('tablet'){
				width: 33.3%;
				float: left;
				margin-bottom: 100px;
			}
			&-img{
				max-width: 100%;
			    max-height: 150px;
				@include breakpoint('tablet'){
					max-width: 80%;
				}
			}
		}
		&.main-partner{
			display: flex;
			justify-content: center;
			.partners_boxes-box{
				height: 210px;
				&-img{
					max-height: 210px;
				}
			}
		}
	}
}
