.social{
	&_ul{
		text-align: center;
		margin-top: 25px;
		@include breakpoint('desktop_small'){
			margin-top: 0;
		}
		&-item{
			display: inline-block;
			&:nth-child(2){
				margin: 0 14px;
			}
			&-href{
				height: 28;
				width: 28px;
				display: inline-block;
				&-img{
					height: 28px;
					width: 28px;
					display: inline-block;
					background-position: center;
					background-size: cover;
				}
			}
		}
	}
}
