.subpage-content{
	padding: 30px 15px;
	@include breakpoint('tablet'){
		position: relative;
	}
	@include breakpoint('desktop_small'){
		margin: 0 5%;
	}
	@include breakpoint('desktop'){
		margin: 0 10%;
	}
	@include breakpoint('desktop_colossal'){
		margin: 0 13%;
	}
	&::before{
		@include breakpoint('tablet'){
			content: '';
			background: url(./../images/about-us-after.png) center center no-repeat;
			background-size: contain;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 15px;
			left: 0;
			opacity: .2;
		}
		@include breakpoint('desktop_small'){
			left: -47%;
		}
		@include breakpoint('desktop'){
			left: -68%;
		}
	}
	.container{
		position: relative;
		z-index: 2;
	}
}
