// fonts
// font-family: 'Vollkorn', serif;
// font-family: 'PT Sans Narrow', sans-serif;
$ff-vol: 'Vollkorn', serif;
$ff-pts: 'PT Sans Narrow', sans-serif;

.typo{
	font-family: $ff-pts;
	&_primary{
		font-family: $ff-vol;
		color: $cl-tertiary;
		font-size: 14px;
		line-height: 24px;
	}
	&_heading{
		&-primary{
			font-family: $ff-pts;
			font-size: 24px;
			line-height: 30px;
		}
		&-secondary{
			font-size: 36px;
			text-transform: uppercase;
			&.heading{
				font-size: 24px;
			}
			&.cl-other{
				color: $cl-secondary;
			}
		}
		&-tertiary{
			font-family: $ff-vol;
			font-style: italic;
			font-weight: 700;
		}
	}
	&_text{
		font-family: $ff-vol;
		font-weight: 800;
		color: $cl-text;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: -0.6px;
	}
	&_date{
		font-family: $ff-vol;
		font-weight: 600;
		color: #9fa3a7;
		font-size: 16px;
	}
	&_posts-counter{
		color: $cl-white;
		background: $cl-secondary;
		padding: 0px 6px;
		display: inline-block;
		font-size: 40px;
		vertical-align: top;
	}
}


.nav{
  .menu{
    &-item{
      a{
        font-family: $ff-pts;
        text-transform: uppercase;
        font-size: 24px;
		color: transparent;
        @include breakpoint('desktop_small'){
          font-size: 15px;
		  color: $cl-primary;
		  letter-spacing: -.1px;
        }
		@include breakpoint('desktop'){
			letter-spacing: normal;
		}
      }
    }
	&.showed{
		.menu-item{
			a{
				color: $cl-primary;
			}
		}
	}
  }
}

.hero{
	h1, h2{
		text-transform: uppercase;
		font-family: $ff-pts;
	}
	p, h1, h2{
		margin-bottom: 12px;
	}
	p{
		font-size: 32px;
		font-family: $ff-vol;
		font-weight: 600;
		font-style: italic;
		@include breakpoint('desktop_small'){
			margin-bottom: 18px;
		}
		strong{
			margin: 8px 0 0;
			font-family: $ff-pts;
			font-size: 36px;
			font-style: normal;
			text-transform: uppercase;
			color: $cl-white;
			background: $cl-secondary;
			padding: 2px 4px;
			display: inline-block;
			@include breakpoint('tablet'){
				margin: 0;
			}
		}
	}
	h1{
		font-size: 62px;
		@include breakpoint('tablet'){
			font-size: 105px;
			color: $cl-white;
			position: relative;
			z-index: 2;
			text-shadow: 0px 12px 22px rgba(0, 0, 0, 0.8);
		}
		@include breakpoint('desktop_small'){
			font-size: 112px;
			line-height: 120px;
		}
		@include breakpoint('desktop') {
			font-size: 150px;
			line-height: 165px;
		}
	}
	h2{
		font-size: 42px;
		margin-bottom: 25px;
		@include breakpoint('tablet'){
			font-size: 48px;
			margin-bottom: 22px;
		}
		@include breakpoint('desktop_small'){
			font-size: 62px;
		}
	}
	&_scroll-to{
		.typo{
			&_primary{
				font-family: $ff-pts;
				color: $cl-white;
				background: $cl-secondary;
				padding: 0 6px;
				font-size: 20px;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				transition: .3s all;
				font-weight: 400;
				z-index: -1;
				&::after, &::before{
					content: '';
					height: 3px;
					width: 10px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					transition: .3s all;
				}
				&::after{
					right: -16px;
					background: $cl-white;
				}
				&::before{
					background: $cl-tertiary;
					left: -16px;
					@include breakpoint('desktop'){
						background: transparent;
						height: 0;
						width: 0;
					}
				}
				@include breakpoint('desktop_small'){
					z-index: auto;
				}
				&:hover{
					&::after, &::before{
						background: $cl-secondary;
					}
					&::after{
						width: calc(100% + 32px);
						background: $cl-white;
					}
				}
			}
		}
	}
}

.about-us{
	&_heading{
		.typo{
			&_primary{
				font-size: 24px;
				text-align: center;
				padding: 50px 0;
				font-style: italic;
			    font-size: 28px;
				line-height: 34px;
				@include breakpoint('tablet'){
					font-size: 32px;
					padding: 50px 0 90px;
				}
				@include breakpoint('desktop_small'){
					padding: 50px 0 120px;
				}
				@include breakpoint('desktop'){
					padding: 50px 0 156px;
				}
			}
		}
	}
	&_featured{
		.typo{
			&_heading-primary{
				position: absolute;
				text-align: center;
				right: 0; left: 0; bottom: -38px;
				text-transform: uppercase;
				font-size: 28px;
				@include breakpoint('tablet'){
					left: auto;
					font-size: 43px;
					right: -185px;
					bottom: 125px;
				    width: 290px;
					transform: rotateZ(90deg);
					text-align: right;
				}
			}
		}
	}
	&_description{
		.typo{
			&_heading-primary{
				margin-bottom: 15px;
				@include breakpoint('tablet'){
					margin-bottom: 25px;
				}
				@include breakpoint('desktop_small'){
					margin-bottom: 35px;
				}
			}
			&_primary{
				@include breakpoint('tablet'){
					min-height: 140px;
				}
			}
		}
	}
}

.find-us{
	&_information{
		.typo{
			&_heading-secondary{
				margin-bottom: 41px;
				padding: 0 15px;
				@include breakpoint('tablet'){
					margin-bottom: 51px;
				}
				&:last-of-type{
					margin-bottom: 70px;
				}
				&.heading{
					margin-bottom: 8px;
				}
			}
		}
	}
	&_place{
		.typo{
			&_heading-secondary{
				color: $cl-orange;
				border-bottom: 3px solid $cl-orange;
				display: inline-block;
				padding-bottom: 15px;
				margin-bottom: 40px;
				@include breakpoint('tablet'){
					margin-bottom: 0;
					position: absolute;
					left: -100px;
					bottom: 0;
					top: 0;
					margin: auto;
					height: 50px;
					padding-bottom: 0;
					transform: rotate(90deg);
					font-size: 38px;
				}
				@include breakpoint('desktop_small'){
					height: 60px;
				}
				@include breakpoint('desktop'){
					font-size: 43px;
					left: -118px;
				}
				@include breakpoint('desktop_colossal'){
					left: -10px;
				}
			}
		}
	}
}

.about-event{
	&_heading{
		.typo{
			&_heading-primary{
				text-align: center;
				font-size: 32px;
				letter-spacing: 5px;
				padding: 15px 0 30px;
				@include breakpoint('tablet'){
					position: absolute;
					top: 0;
					right: -245px;
					transform: rotate(90deg);
					bottom: 0;
					height: 35px;
					padding: 0;
					margin: auto;
					font-size: 43px;
					letter-spacing: 10px;
				}
				@include breakpoint('desktop_small'){
					right: -285px;
					letter-spacing: 14px;
				}
				@include breakpoint('desktop_big'){
					letter-spacing: 16.3px;
					right: -285px;
					top: 8px;
				}
				@include breakpoint('desktop_colossal'){
					right: -329px;
				}
			}
		}
	}
	&_description{
		.typo{
			text-align: left;
			&_heading-primary{
				margin-bottom: 15px;
				@include breakpoint('tablet'){
					margin-bottom: 35px;
				}
				@include breakpoint('desktop'){
					margin-bottom: 50px;
				}
				@include breakpoint('desktop_big'){
					margin-bottom: 72px;
				}
			}
			&_primary{
				margin-bottom: 35px;
				@include breakpoint('tablet'){
					margin-bottom: 25px;
				}
				@include breakpoint('desktop'){
					margin-bottom: 53px;
				}
				@include breakpoint('desktop_big'){
					margin-bottom: 75px;
				}
			}
		}
	}
}

.finalists{
	&_heading{
		.typo{
			&_heading-primary{
				text-transform: uppercase;
				text-align: center;
				font-size: 44px;
				letter-spacing: 12px;
				padding: 30px 0 60px;
				@include breakpoint('tablet'){
					z-index: 2;
					position: relative;
					font-size: 94px;
					letter-spacing: 34px;
					padding: 80px 0 120px 25px;
				}
				@include breakpoint('desktop_small'){
					padding: 95px 0 160px 36px;
					letter-spacing: 56px;
				}
				@include breakpoint('desktop'){
					letter-spacing: 78px;
					padding-left: 56px;
					overflow: hidden;
				}
				@include breakpoint('desktop_big'){
					letter-spacing: 88px;
					padding: 120px 0 195px 90px
				}
			}
		}
	}
	&_presentation{
		.typo{
			&_heading-primary{
				display: block;
			}
			&.name{
				font-size: 32px;
				&:last-of-type{
					position: relative;
					margin: 13px 0 47px;
					&:after{
						content: '';
						width: 52px;
						height: 5px;
						background: $cl-secondary;
						position: absolute;
						bottom: -27px; left: 0;
					}
				}
			}
			&.number-info, &.number{
				font-family: $ff-vol;
			}
			&.number-info{
				font-size: 18px;
				color: $cl-primary;
			}
			&.number{
				font-size: 124px;
				color: $cl-secondary;
				margin-top: 30px;
				text-align: center;
			}
		}
	}
}

.motto{
	.typo{
		&_primary{
			font-size: 22px;
			font-weight: 600;
			color: $cl-primary;
			text-align: center;
			padding: 60px 15px;
			font-style: italic;
			line-height: 32px;
			@include breakpoint('tablet'){
				width: 85%;
				margin: 0 auto;
			}
			@include breakpoint('desktop_small'){
				width: 85%;
				margin: 0 auto;
			}
			@include breakpoint('desktop'){
				width: 75%;
				padding: 90px 0;
			}
			strong{
				color: $cl-white;
				background: $cl-secondary;
				padding: 0 2px;
			}
		}
	}
}

.subpage-header{
	&_heading{
		&.typo{
			padding-top: 160px;
			font-size: 38px;
			padding: 150px 15px 50px;
			text-align: center;
			text-transform: uppercase;
			line-height: 40px;
			@include breakpoint('tablet'){
				font-size: 50px;
				padding-top: 160px;
				line-height: 50px;
			}
			@include breakpoint('desktop_small'){
				font-size: 55px;
				padding: 196px 15px 68px;
			}
			@include breakpoint('desktop'){
				font-size: 60px;
			}
		}
	}
}

.subpage-content{
	font-family: $ff-pts;
	.typo{
		&_heading-tertiary{
			color: #212121;
			text-align: center;
			margin: 50px 0 40px;
			@include breakpoint('tablet'){
				margin: 60px 0 70px;
			}
			@include breakpoint('desktop_small'){
				margin: 75px 0 100px;
			}
			@include breakpoint('desktop'){
				margin: 115px 0 100px;
			}
		}
	}
}

.contact{
	.typo{
		font-family: $ff-vol;
		&_name, &_phone, &_mail{
			color: $cl-primary;
			font-weight: 400;
			a{
				color: $cl-primary;
				word-break: break-all;
			}
		}
		&_prof, &_mail{
			font-size: 18px;
		}
		&_mail{
			font-size: 20px;
			@include breakpoint('tablet'){
				font-size: 22px;
			}
			a{
				@include breakpoint('desktop_small'){
					word-break: normal;
				}
			}
		}
		&_name{
			font-size: 32px;
			margin-bottom: 2px;
			@include breakpoint('desktop_small'){
				width: 140%;
			}
			@include breakpoint('desktop'){
				width: 160%;
			}
		}
		&_prof{
			color: $cl-secondary;
			font-weight: 600;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		&_phone{
			font-size: 24px;
			margin-bottom: 18px;
		}
	}
}

.map{
	.typo{
		color: $cl-white;
		font-size: 20px;
		margin-bottom: 25px;
		&_map-heading{
			margin-bottom: 25px;
			font-family: $ff-vol;
			font-weight: 600;
			font-size: 28px;
		}
		&_primary{
			line-height: 31px;
			letter-spacing: 0.4px;
			@include breakpoint('tablet'){
				padding-left: 25px;
			}
			&:first-of-type{
				@include breakpoint('desktop'){
					margin-bottom: 66px;
				}
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}

.post{
	.typo{
		&_date{
			margin: 10px 0;
			@include breakpoint('tablet'){
				margin: 30px 0 10px;
			}
			@include breakpoint('desktop_small'){
				margin: 0 0 30px;
			}
		}
	}
}

.posts-list{
	&_box{
		margin-bottom: 30px;
		.typo{
			&_heading-primary{
				color: $cl-primary;
				font-size: 28px;
				margin: 20px 0 15px;
				@include breakpoint('tablet'){
					margin: 32px 15px 28px 0;
				}
			}
		}
	}
}

.partners{
	.typo{
		&_heading-primary{
			font-weight: 600;
			@include breakpoint('tablet'){
				font-size: 42px;
			}
			@include breakpoint('desktop_small'){
				font-size: 48px;
			}
		}
	}
}

.instagram-gallery{
	.typo{
		&_primary, &_heading-tertiary{
			color: #212121;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&_primary{
			font-size: 20px;
			padding-left: 32px;
			margin-bottom: 40px;
			@include breakpoint('tablet'){
				font-size: 24px;
				padding-left: 52px;
				margin-bottom: 35px;
			}
			@include breakpoint('desktop_small'){
				margin-bottom: 45px;
			}
			@include breakpoint('desktop'){
				margin-bottom: 75px;
			}
		}
		&_heading-tertiary{
			font-weight: 600;
			margin: 60px 0 0;
			font-size: 36px;
			@include breakpoint('tablet'){
				font-size: 42px;
				margin: 40px 0 0;
			}
		}
	}
}

.footer{
	.copyrights-bar{
		.typo{
			&_text{
				padding: 8px 15px 5px;
			}
		}
	}
}
