{% set template = template | default('default') %}
{% set data = data | default(false) %}
{% set settings = settings | default(false) %}

{% include 'templates/modules/menu/templates/' ~ template ~ '.twig' with {
    'data' : data,
    'settings' : settings
} %}