.m-banners{
	.m-four-boxes{
		.box{
			height: 310px;
			position: relative;
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			&:first-of-type{
				background: green;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height: 416px;
				@include breakpoint('tablet'){
					height: 346px;
				}
				&::before{
					content: '';
					background: $cl-primary;
					position: absolute;
					height: 100%;
					bottom: 0;
					right: 0;
					left: 0;
					opacity: .8;
				}
				.text-wrapper{
					position: absolute;
					bottom: 90px;
					@include breakpoint('tablet'){
						bottom: 115px;
					}
					@include breakpoint('desktop_small'){
						bottom: 125px;
					}
				}
			}
			&:nth-child(n+2) {
				@include breakpoint('desktop_small'){
					width: 33.33%;
					display: inline-block;
					float: left;
					height: 346px;
				}
				&::before{
					content: '';
					background-image: url(../images/banner-shadow.png);
					background-repeat: no-repeat;
					position: absolute;
					height: 100%;
					bottom: 0;
					right: 0;
					left: 0;
					// @include breakpoint('desktop_small'){
					// 	height: 68%; 
					// }
					// @include breakpoint('desktop_big'){
					// 	height: 70%;
					// }
				}
				a{
					height: 100%;
					width: 100%;
					position: absolute;
					.text-wrapper{
						bottom: 30px;
					}
				}
			}
			.text-wrapper{
				position: absolute;
				padding: 0 15px;
				@include breakpoint('tablet'){
					padding: 0 25px;
				}
			}
		}
	}
	.m-two-boxes{
		width: 100%;
		margin-top: 60px;
		@include breakpoint('tablet'){
			text-align: center;
		}
		.logotypes{
			clear: both;
			.logo{
				display: block;
				margin: 35px auto 0;
				@include breakpoint('tablet'){
					display: inline-block;
					margin: 55px 30px 75px;
				}
				@include breakpoint('desktop_small'){
					margin-bottom: 95px;
				}
				&:last-of-type{
					margin: 35px auto 35px;
					@include breakpoint('tablet'){
						margin: 55px 30px 75px;
					}
					@include breakpoint('desktop_small'){
						margin-bottom: 95px;
					}
				}
			}
		}
	}
}
