/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-about{
  background-image: url(../images/about-bg.png);
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  background-position: center;
  background-position-y: 0;
  @include breakpoint('desktop_small'){
    min-height: 693px;
  }
  &_heading{
    margin-top: 42px;
    margin-bottom: 68px;
  }
  &_boxes{
    @include breakpoint('tablet'){
      min-height: 1500px;
    }
    @include breakpoint('desktop_small'){
      width: 90%;
      margin: auto;
      text-align: center;
      margin-bottom: 80px;
      min-height: 980px;
    }
    @include breakpoint('desktop'){
      min-height: initial;
    }
    @include breakpoint('desktop_big'){
      width: 80%;
    }
    .b-about-box{
      border: 2px solid $cl-secondary;
      margin: 0 auto;
      position: relative;
      background-size: cover;
      background-position: center;
      margin-bottom: 100px;
      &:last-child{
        margin-bottom: 60px;
        @include breakpoint('phone_big'){
          margin-bottom: 160px;
        }
        @include breakpoint('tablet'){
          margin-bottom: 0;
        }
      }
      @include breakpoint('desktop_small'){
        margin: 0 75px 100px;
        display: inline-block;
        &:last-child{
          margin-bottom: 0;
        }
      }
      @include breakpoint('desktop'){
        margin: initial;
      }
      @include breakpoint('desktop_big'){
        margin: 0 10px;
      }
      .m-about-box{
        height: 91px;
        width: 91px;
        background: #003d68;
        border: 3px dashed $cl-secondary;
        color: #fff;
        position: relative;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 12;
      }
      &_primary, &_secondary{
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 100px;
          background: transparent;
          bottom: -110px;
          left: 0;
          right: 0;
          margin: auto;
          border: 2px dashed $cl-secondary;
        }
      }
      &_primary{
        height: 353px;
        width: 95%;
        background-image: url("../images/about-first.jpg");
        @include breakpoint('phone'){
          width: 257px;
        }
          &::after{
            @include breakpoint('desktop_small'){
              width: 570px;
              height: 100px;
              background: transparent;
              border-bottom: none;
              left: 75px;
              top: -105px;
              bottom: auto;
              }
              @include breakpoint('desktop'){
                width: 420px;
                top: -115px;
                height: 110px;
              }
              @include breakpoint('desktop_big'){
                width: 440px;
              }
          }
        .m-about-box{
          @include breakpoint('phone_big'){
            left: -80px;
            top: 140px;
            right: auto;
          }
        }
      }
      &_secondary{
        height: 428px;
        width: 95%;
        background-image: url("../images/about-second.jpg");
        @include breakpoint('phone'){
          width: 302px;
        }
        @include breakpoint('desktop_small'){
          top: 40px;
        }
        @include breakpoint('desktop'){
          top: 30px;
          z-index: 2;
        }
        &::after{
          @include breakpoint('phone'){
            height: 210px;
            left: -200px;
            bottom: -220px;
          }
          @include breakpoint('desktop_small'){
            border-left: none;
            border-top: none;
            right: 50px;
            left: auto;
            width: 100px;
            height: 215px;
          }
          @include breakpoint('desktop'){
            content: none;
          }
        }
        .m-about-box{
          @include breakpoint('phone_big'){
            top: -50px;
          }
        }
      }
      &_tertiary{
        height: 500px;
        width: 95%;
        background: $cl-secondary;
        border: none;
        overflow: hidden;
        @include breakpoint('phone'){
          width: 410px;
          height: 480px;
          overflow: visible;
        }
        @include breakpoint('phone_big'){
          height: 353px;
          top: 120px;
        }
        @include breakpoint('desktop'){
          top: auto;
        }
        &::before {
          @include breakpoint('desktop'){
            content: '';
            display: block;
            position: absolute;
            width: 260px;
            height: 60px;
            background: transparent;
            bottom: -60px;
            left: -60px;
            border: 2px dashed $cl-secondary;
            border-top: none;
          }
          @include breakpoint('desktop_big'){
            width: 270px;
            left: -75px;
          }
        }
        &::after {
          content: url('../images/about-hero.png');
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 10;
          @include breakpoint('phone'){
            top: -35px;
          }
          @include breakpoint('phone_big'){
            top: -165px;
          }
        }
        .m-about-box{
          @include breakpoint('phone_big'){
            top: 130px;
            right: -50px;
          }
        }
      }
    }
  }
}
