.b-tips{
  background-image: url('../images/tips-bg.jpg');
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: $cl-white;
  box-sizing: border-box;
  padding: 15px;
  background-position: center;
  background-position-y: 0;
  @include breakpoint('desktop_small') {
    min-height: 634px;
  }
  @include breakpoint('desktop') {
    &::after {
      content: url('../images/tips-hero.png');
      display: block;
      position: absolute;
      bottom: -31px;
      left: 50%;
      transform: translate(-50%, -25px);
    }
  }
.b-tips-cols{
  width: 80%;
  margin: auto;
  @include breakpoint('tablet') {
    width: 90%;
    margin-top: 90px;
  }
  @include breakpoint('desktop') {
    margin-top: 110px;
  }
  .b-tip-col{
    @include breakpoint('tablet') {
      width: 50%;
      display: inline-block;
    }
    @include breakpoint('desktop_small') {
      width: 40%;
    }
    @include breakpoint('desktop') {
      width: 30%;
    }
    &.b-tip_col-1{
      @include breakpoint('tablet') {
        .m-tip-icon, .m-tip-text{
          float: right;
        }
        .m-tip-text{
          text-align: right;
        }
      }
    }
    &.b-tip_col-2{
      @include breakpoint('tablet') {
        float: right;
        .m-tip-icon{
          float: left;
        }
        .m-tip-text{
          text-align: left;
        }
      }
    }
    .b-tip-boxes{
      .b-tip-box{
        margin-bottom: 40px;
        &:first-child{
          margin-top: 70px;
        }
        &:last-child{
          margin-bottom: 70px;
        }
        @include breakpoint('tablet') {
            margin: inherit;
            &:first-child{
            margin-top: 0;
          }
            &:last-child{
              margin-bottom: 0;
            }
          }
          .m-tip-icon{
            display: block;
            margin: 0 auto 15px;
            @include breakpoint('tablet') {
              margin: inherit;
              max-width: 20%;
              display: inline-block;
              padding: 5px 30px 0;
            }
          }
          .m-tip-text{
            max-width: 80%;
            margin: 0 auto;
            @include breakpoint('tablet') {
              margin: inherit;
              max-width: none;
              width: 50%;
              display: inline-block;
              margin-bottom: 60px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
