/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-blog{
  &_boxes{
    @include breakpoint('desktop_small'){
      margin: 0 auto;
      width: 95%;
    }
    @include breakpoint('desktop'){
      width: 76%;
    }
    @include breakpoint('desktop_big'){
      width: 70%;
    }
    .m-blog-box{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      &_image{
        background-size: cover;
        background-position: center;
        height: 200px;
        margin-bottom: 12px;
        @include breakpoint('tablet'){
          height: 260px;
        }
      }
      &_content{
        padding: 0 15px;
      }
      &_bar{
        .m-blog-box{
          &_info{
            display: inline-block;
            padding: 10px 15px;
            background: $cl-secondary;
            float: left;
            margin-top: 3px;
          }
          &_primary{
            height: 48px;
            @include breakpoint('tablet'){
              height: auto;
            }
          }
          &_secondary{
            height: 52px;
          }
        }
      }
    }
  }
  &_posts {
    @include breakpoint('tablet') {
      width: 62%;
      float: left;
    }
  }
  &_sidebar {
    display: none;
    @include breakpoint('tablet') {
      display: block;
      width: 30%;
      float: right;
      padding-left: 15px;
      box-sizing: border-box;
      .m-btn {
        margin: 0;
      }
      p {
        margin-bottom: 10px;
      }
      .m-typo_bold {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 28px;
      }
      .b-aboutMe_image {
        text-align: center;
      }
    }
  }
  &_button{
    width: 100%;
    float: left;
    position: relative;
    height: 44px;
    margin: 40px 0;
  }
}
.is-single {
  .b-blog,
  .b-blog_posts,
  .b-sidebar,
  .b-blog_sidebar {
    .m-btn {
      &_primary,
      &_quaternary {
        color: #fff;
        text-decoration: none;
        font-size: 12px !important;
        line-height: 40px !important;
      }
    }
    &_posts {
      padding-right: 30px;
      box-sizing: border-box;
    }
  }
}
.b-sidebar {
  .b-sidebar_section {
    margin-bottom: 40px;
  }
  .m-form {
    padding: 20px 0;
    &_input {
      width: 100%;
      border-bottom: 1px solid gray;
    }
  }
  .b-camps {
    .m-typo_secondary {
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
    }
    .m-typo_text {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    &_boxes {
      width: 100%;
      margin: 0;
      .m-camps-box_primary {
        width: 100%;
        margin: 0;
        &:hover {
          background-color: #fff;
          box-shadow: none;
          .m-typo {
            &_secondary,
            &_text {
              color: $cl-primary;
            }
          }
        }
      }
    }
    &_heading {
      text-align: left;
    }
  }
}
