/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-four-boxes{
  .b-columns-2{
    @include breakpoint('phone_big') {
      height: 536px;
    }
    @include breakpoint('desktop_small') {
      width: 50%;
      float: left;
    }
    .b-box{
      display: table;
      position: relative;
      &_img{
        background-size: cover;
        background-position: center;
        width: 100%;
      }
      .info-box{
        padding: 15px;
        display: table-cell;
        vertical-align: middle;
        @include breakpoint('tablet') {
          padding: 20px;
        }
        @include breakpoint('desktop') {
          padding: 30px;
        }
      }
      &_primary{
        height: 269px;
        width: 100.2%;
        background: $cl-primary;
        position: relative;
        &:hover{
          .b-box_img{
            &::after{
              opacity: .9;
            }
          }
        }
        @include breakpoint('tablet'){
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 12px solid $cl-primary;
            top: 50%;
            bottom: 50%;
            transform: translate(0%, -50%);
          }
        }
        .info-box{
          @include breakpoint('phone_big') {
            width: 50%;
          }
          @include breakpoint('desktop_small') {
            vertical-align: middle;
          }
        }
        .b-box_img{
          height: 100%;
          position: relative;
          &::after{
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            background: $cl-white;
            opacity: 0;
            transition: .4s all;
          }
        }
      }
      &_secondary{
        height: 267px;
        width: 100.2%;
        background-size: cover;
        background-position: center;
        @include breakpoint('tablet'){
          &::before{
            opacity: 0;
            content: '';
            transition: .4s all;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            background: $cl-white;
          }
          &:hover{
            &::before{
              opacity: .9;
              }
          }
        }
        .info-box{
          @include breakpoint('tablet') {
            position: relative;
          }
          @include breakpoint('desktop_small') {
            vertical-align: bottom;
          }
        }
      }
      &_tertiary{
        height: 536px;
        width: 100%;
        background-size: cover;
        background-position: center;
        @include breakpoint('phone_big') {
          width: 50%;
          display: inline-block;
          height: 100%;
        }
      }
      &_quaternary{
        height: 536px;
        width: 100%;
        background: $cl-secondary;
        position: relative;
          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid $cl-secondary;
            top: 50%;
            right: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        .info-box{
          min-height: 240px;
          height: 50%;
          display: table;
          @include breakpoint('tablet'){
            min-height: 0;
          }
        }
        .b-box_img{
          height: 50%;
        }
        @include breakpoint('phone_big') {
          width: 50%;
          display: inline-block;
          float: right;
        }
      }
    }
  }
}
