/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

 .b-features{
   background: $cl-primary;
   padding-bottom: 112px;
   &_heading{
     margin: 42px 0 78px;
     text-align: center;
     @include breakpoint('tablet'){
       margin-top: 72px;
     }
   }
   &_boxes{
     @include breakpoint('tablet_big'){
       width: 85%;
       margin: 0 auto;
     }
     @include breakpoint('desktop'){
       width: 90%;
     }
     @include breakpoint('desktop_big'){
       width: 75%;
     }
     .m-features-box{
       margin-bottom: 15px;
       height: 340px;
       position: relative;
       box-sizing: border-box;
       padding: 18px;
       &:last-child{
         margin-bottom: 0;
       }
       @include breakpoint('tablet'){
         margin-bottom: 0;
        background: $cl-secondary;
        width: 33.3%;
        float: left;
       }
       @include breakpoint('desktop'){
        max-width: 25%;
        height: 390px;
       }
       &:hover{
       @include breakpoint('tablet'){
         border: 1px solid #fff;
         }
         .m-features-layer{
           &_primary{
             @include breakpoint('tablet'){
               visibility: hidden;
               opacity: 0;
             }
           }
           &_secondary{
             visibility: visible;
             opacity: 1;
             background-size: cover;
           }
         }
       }
       &_describe{
         background: $cl-primary;
         padding-top: 0;
         height: auto;
         margin-bottom: 20px;
         @include breakpoint('tablet'){
           max-width: none;
           width: 100%;
         }
         @include breakpoint('desktop'){
          max-width: 254px;
         }
         @include breakpoint('desktop_big'){
          padding: 0 18px;
         }
         &:hover{
           border: none;
         }
       }
       &_primary, &_secondary, &_tertiary{
         padding-top: 30px;
       }
       .m-features-layer{
         transition: .4s all;
         &_primary{
           visibility: visible;
           opacity: 1;
           transition: .4s all;
           position: relative;
           z-index: 2;
           @include breakpoint('tablet'){
             position: static;
             z-index: auto;
           }
         }
         &_secondary{
           padding: 30px 15px;
           position: absolute;
           top: 0;
           bottom: 0;
           right: 0;
           left: 0;
           transition: .4s all;
           background-size: cover;
           background-repeat: no-repeat;
           @include breakpoint('tablet'){
             visibility: hidden;
             opacity: 0;
           }
           &::before{
            content: '';
            display: block;
            opacity: .6;
            background: #00345c;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
           }
         }
         &_icon{
           position: absolute;
           bottom: 24px;
           display: none;
           @include breakpoint('tablet'){
             display: block;
           }
         }
       }
     }
   }
 }
