/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-offer {
  padding: 15px;
  box-sizing: border-box;
  background: $cl-white;
  overflow: hidden;
  @include breakpoint('desktop_small') {
    padding: 80px 0 30px;
  }
  @include breakpoint('desktop_small') {
    position: relative;
    &::after {
      content: url('../images/offer-img.png');
      width: 535px;
      height: 556px;
      position: absolute;
      top: 15px;
      right: 865px;
      @include breakpoint('desktop'){
        right: 905px;
      }
      @include breakpoint('desktop_big'){
        left: 20px;
      }
    }
  }
  .content-wrapper{
    position: relative;
    z-index: 2;
    @include breakpoint('desktop_small'){
      width: 95%;
      margin: 0 auto;
    }
    @include breakpoint('desktop'){
      width: 76%;
    }
    @include breakpoint('desktop_big'){
      width: 70%;
    }
  }
}
