/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-plans{
  &_heading{
    text-align: center;
  }
  &_boxes{
    margin-bottom: 85px;
    @include breakpoint('tablet_big'){
      text-align: center;
    }
    @include breakpoint('desktop'){
      margin: 0 auto 85px;
      width: 90%;
    }
    @include breakpoint('desktop_big'){
      width: 80%;
    }
    .m-plans-box{
      padding: 1px 1px 9px;
      margin-bottom: 30px;
      transition: .4s all;
      &:hover{
        background: $cl-primary;
        -webkit-box-shadow: 2px 3px 9px -1px rgba(0, 158, 227, 0.7);
        -moz-box-shadow: 2px 3px 9px -1px rgba(0, 158, 227, 0.7);
        box-shadow: 2px 3px 9px -1px rgba(0, 158, 227, 0.7);
        .m-plans-box{
          &_image{
            &::after{
              opacity: 0;
            }
          }
        }
      }
      @include breakpoint('phone'){
        width: 65%;
        margin: 0 auto 30px;
      }
      @include breakpoint('tablet'){
        width: 50%;
        text-align: left;
      }
      @include breakpoint('tablet_big'){
        width: 310px;
        display: inline-block;
        margin-bottom: 0;
      }
      @include breakpoint('desktop_small'){
        width: 318px;
        margin: 0 5px;
      }
      @include breakpoint('desktop'){
        margin: 0 10px;
      }
      &_image{
        width: 100%;
        height: 186px;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center;
        display: block;
        position: relative;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          opacity: .6;
          background: $cl-primary;
          transition: .4s all;
        }
        .m-plans-box{
          position: absolute;
          left: 15px;
          bottom: -50px;
          height: 44px;
          width: 47px;
          padding-bottom: 0;
          display: table;
          background: $cl-secondary;
          z-index: 2;
          @include breakpoint('tablet_big'){
            bottom: -20px;
            left: 10px;
          }
          @include breakpoint('desktop_small'){
            bottom: -20px;
            left: 0;
          }
          &:hover{
            box-shadow: none;
          }
        }
      }
      &_line{
        margin: 30px 15px 0;
        border: none;
        background: $cl-primary;
        height: 1px;
      }
      .info-wrapper{
        margin: 10px 0;
      }
    }
  }
}
