/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-boxes{
  @include breakpoint('desktop_small') {
    max-height: 346px;
  }
  .b-box_solo{
    width: 100%;
    min-height: 250px;
    display: table;
    @include breakpoint('tablet') {
      position: relative;
    }
    @include breakpoint('desktop_small') {
      display: inline-block;
      width: 50%;
      min-height: 346px;
    }
    &:first-child{
      background-color: $cl-secondary;
      @include breakpoint('tablet'){
        &::after {
          content: url('../images/metamorphosis-hero.png');
          display: block;
          position: absolute;
          top: -42px;
          left: 40px;
          z-index: 10;
          @include breakpoint('desktop_small') {
            top: -76px;
            left: -10px;
          }
          @include breakpoint('desktop') {
            left: 60px;
          }
        }
      }
      .b-box_wrapper{
        @include breakpoint('tablet'){
          position: absolute;
          right: 0;
          top: 35px;
          z-index: 11;
          text-align: right;
        }
        @include breakpoint('desktop_small'){
          top: 85px;
        }
        .m-btn{
          @include breakpoint('tablet'){
            float: right;
          }
        }
      }
    }
    &:last-child{
      background-image: url('../images/diet-bg.jpg');
      background-size: cover;
      z-index: 10;
      @include breakpoint('desktop_small') {
        float: right;
        position: relative;
      }
      .b-box_wrapper{
        @include breakpoint('tablet'){
          position: absolute;
          left: 0;
          top: 35px;
        }
        @include breakpoint('desktop_small'){
          top: 85px;
        }
      }
    }
    .b-box_wrapper{
      padding: 15px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
