/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-testimonials {
  position: relative;
  &_describe {
    background-color: $cl-secondary;
    padding: 45px 0;
    text-align: center;
    position: relative;
    @include breakpoint('desktop_small') {
      max-width: 330px;
      float: left;
      padding: 100px 0 100px 45px;
      text-align: left;
      box-sizing: border-box; 
      width: 330px;
      height: 260px;
      display: flex;
      align-items: center;
    }
    &::after {
      @include breakpoint('desktop_small') {
        content: '';
        position: absolute;
        right: -20px;
        top: calc(50% - 5px);
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-left: 10px solid $cl-secondary;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
  &_slider {
    float: left;
    box-sizing: border-box;
    width: 100%;
    @include breakpoint('desktop_small') {
      width: calc(100% - 330px);
    }
  }
  &_item {
    padding: 70px 0 100px;
    box-sizing: border-box;
    @include breakpoint('desktop_small') {
      padding: 40px 0;
    }
    @include breakpoint('desktop_big') {
      padding: 70px 0;
    }
    &Photo {
      width: 23%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      img {
        display: inline-block;
        width: 80%;
        height: auto;
        @include breakpoint('tablet') {
          width: auto;
        }
      }
    }
    &Describe {
      width: 75%;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      line-height: 30px;
      color: $cl-secondary;
      padding-right: 15px;
      @include breakpoint('tablet') {
        padding-right: 60px;
      }
    }
  }
  &_navi {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 20px;
    @include breakpoint('desktop_small') {
      display: block;
    }
  }
  &_prev,
  &_next {
    position: relative;
    width: 46px;
    height: 46px;
    background-color: $cl-secondary;
    float: left;
    margin-right: 1px;
    &::after {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      top: calc(50% - 10px);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }
  &_next {
    &::after {
      border-left: 10px solid $cl-white;
      border-right: 10px solid transparent;
      left: calc(50% - 4px);
    }
  }
  &_prev {
    &::after {
      border-right: 10px solid $cl-white;
      border-left: 10px solid transparent;
      left: calc(50% - 14px);
    }
  }
}
