/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-team{
  position: relative;
  &_describe {
    background-color: $cl-secondary;
    padding: 45px 0;
    text-align: center;
    position: relative;
    @include breakpoint('desktop') {
      max-width: 330px;
      float: left;
      box-sizing: border-box;
      width: 100%;
      height: 275px;
      display: table;
    }
    &::after {
      @include breakpoint('desktop') {
        content: '';
        position: absolute;
        right: -20px;
        top: calc(50% - 5px);
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-left: 10px solid $cl-secondary;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        z-index: 2;
      }
    }
  }
  &_boxes{
    transition: .4s all;
    position: relative;
    @include breakpoint('desktop'){
      width: calc(100% - 330px);
      float: right
    }
    .m-team{
      &_primary-box, &_secondary-box, &_tertiary-box{
        background-size: cover;
        background-position: center;
        height: 380px;
        width: 100%;
        margin: 0 auto;
        display: table;
        @include breakpoint('phone') {
          width: 400px;
        }
        @include breakpoint('tablet') {
          margin: initial;
          width: 33.34%;
          height: 275px;
          float: left;
        }
        @include breakpoint('desktop_small') {
          float: left;
          position: relative;
        }
        @include breakpoint('desktop') {
          width: 33.34%;
        }
        &::after {
          @include breakpoint('desktop') {
            content: '';
            position: absolute;
            right: -20px;
            top: calc(50% - 5px);
            width: 0px;
            height: 0px;
            border-top: 10px solid transparent;
            border-left: 10px solid rgba(0,158,227, 0.63);
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            transition: .4s all;
          }
        }
        .m-team-text{
          display: block;
          background: rgba(0,158,227, 0.63);
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          opacity: 0;
          transition: .4s all;
        }
        &:hover{
          &::after {
            @include breakpoint('desktop') {
              visibility: visible;
              opacity: 1;
            }
          }
          .m-team-text{
            opacity: 1;
          }
        }
      }
      &_tertiary-box{
        &::after{
          content: none;
        }
      }
    }
    &:hover{
      .m-btn{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
