/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */
.b-hero {
	.m-breadcrumbs {
		display: none;
		@include breakpoint('desktop_small') {
			display: block;
			color: $cl-white;
			font-size: 18px;
		}
		a {
			font-size: 18px;
			color: $cl-white;
		}
		span {
			color: $cl-white;
			&.breadcrumb_last {
				color: $cl-secondary;
			}
		}
	}
	&_teaser-white{
		.m-breadcrumbs{
			span{
				color: #000;
				a{
					color: #000;
				}
				&.breadcrumb_last {
					color: #000;
				}
			}
		}
	}
}
