/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-btn,
.button {
  height: 40px;
  display: block;
  margin: 3px auto;
  border: 2px solid transparent;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 12px;
  min-width: 130px;
  transition: .2s all;
  @include breakpoint('tablet') {
    padding: 0 12px;
    float: left;
    margin: 3px;
  }
  &_primary {
    background-color: $cl-secondary;
    border-color: $cl-secondary;
    color: $cl-white;
  }
  &_secondary {
    color: $cl-white;
    border: 2px solid $cl-white;
  }
  &_tertiary {
    background-color: $cl-white;
    color: $cl-secondary;
    border: 2px solid $cl-white;
  }
  &_quaternary {
    background-color: $cl-primary;
    color: $cl-white;
  }
}
.b-four-boxes{
  .m-btn{
    margin-top: 20px;
    @include breakpoint('tablet') {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 15px;
      bottom: 20px;
    }
  }
  .b-box{
    &:hover{
      .m-btn{
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }
    }
    &_primary{
      .m-btn{
        background: $cl-secondary;
        @include breakpoint('tablet'){
          background: $cl-primary;
        }
      }
    }
  }
}
.b-hero{
  .m-btn{
    &:hover{
      background: $cl-white;
      color: $cl-secondary;
      border: 2px solid $cl-white;
    }
  }
}
.b-two-columns{
  .m-btn{
    &_tertiary{
      &:hover{
        background: transparent;
        color: $cl-white;
      }
    }
    &_primary{
      &:hover{
        background: $cl-primary;
        color: $cl-white;
        border: 2px solid $cl-primary;
      }
    }
  }
}
.b-team{
  .m-btn{
    transition: .4s all;
    margin: 0;
    max-width: 396px;
    margin: 0 auto;
    @include breakpoint('tablet'){
      position: absolute;
      right: 20px;
      bottom: -265px;
    }
    @include breakpoint('desktop'){
      bottom: 10px;
      visibility: hidden;
      opacity: 0;
    }
  }
}
.b-plans{
  .m-btn{
    max-width: 200px;
    margin-top: 10px;
    transition: .4s all;
    @include breakpoint('tablet'){
      float: initial;
      margin: 3px auto 0;
      max-width: 150px;
    }
  }
  .m-plans-box{
    &:hover{
      .m-btn{
        transition: .4s all;
        background: $cl-secondary;
      }
    }
  }
}
.b-camps{
  .m-btn{
    transition: .4s all;
    width: auto;
    margin: 10px 10px 0;
    @include breakpoint('tablet'){
      float: initial;
      margin: 10px 10px 0;
    }
  }
  .m-camps-box{
    &:hover{
      .m-btn{
        transition: .4s all;
        background: $cl-secondary;
      }
    }
  }
}
.b-features{
  .m-btn {
    position: absolute;
    bottom: 20px;
  }
}
.m-offer{
  .m-btn{
    margin: 3px 1px;
    transition: .4s all;
    background-color: $cl-secondary;
    border-color: $cl-secondary;
    color: $cl-white;
  }
}
.b-blog{
  .m-blog-box{
    &_primary{
      .m-btn{
        display: inline-block;
        float: left;
        min-width: 50px;
        position: relative;
        background: $cl-secondary;
        @include breakpoint('tablet'){
          min-width: 24px;
          margin: 3px 1px;
          &:first-of-type{
            margin-right: 0;
          }
        }
        &_image{
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    &_secondary{
      .m-btn{
        display: block;
        float: left;
        width: 100%;
        @include breakpoint('tablet'){
          width: auto;
          float: right;
        }
        &_quaternary{
          &:hover{
            background: transparent;
            color: $cl-secondary;
            border: 2px solid $cl-secondary;
          }
        }
      }
    }
  }
  &_button{
    .m-btn{
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      width: 260px;
      &:hover{
        background: transparent;
        color: $cl-secondary;
        border: 2px solid $cl-secondary;
      }
    }
  }
}
.gform_body {
  .m-btn {
    float: none;
    clear: both;
  }
}

.cta-wrapper{
  .cta{
    &_primary, &_tertiary, &_quaternary{
      .m-btn{
        padding: 8px 12px;
        margin: 0;
        @include breakpoint('tablet'){
          float: none;
          width: 18%;
          display: inline-block;
          min-width: 0;
          vertical-align: bottom;
        }
      }
    }
    &_secondary{
      .m-btn{
        @include breakpoint('tablet'){
          float: none;
          margin: 0 auto;
          min-width: 0;
          display: inline-block;
          padding: 0 15px;
        }
        @include breakpoint('desktop_small'){
          vertical-align: super;
        }
      }
    }
    &_tertiary{
      .m-btn{
        @include breakpoint('tablet'){
          width: 65%;
          border: none;
        }
        @include breakpoint('desktop_small'){
          width: 19%;
          border: 2px solid transparent;
        }
        @include breakpoint('desktop'){
          width: 30%;
        }
        @include breakpoint('desktop_big'){
          width: 25%;
        }
      }
    }
    &_quaternary{
      .m-btn{
        &_primary{
          height: auto;
          font-size: 14px;
          line-height: 28px;
          margin-top: 15px;
          @include breakpoint('tablet'){
            width: auto;
            min-width: 8%;
            margin-top: 0;
            line-height: 40px;
          }
          @include breakpoint('desktop_small'){
            width: auto;
            display: inline-block;
            vertical-align: super;
            padding: 0 12px;
          }
        }
      }
    }
    &_quinary{
      .m-btn{
        width: 50%;
        margin-bottom: 50px;
        @include breakpoint('tablet'){
          width: 30%;
          float: none;
          margin: 0 auto 50px;
        }
        @include breakpoint('desktop_small'){
          margin: 0 auto 80px;
        }
      }
    }
  }
}

.m-table{
  &_other{
    .m-btn{
      &_primary{
        background: #f4f4f4;
        border-color: #f4f4f4;
        min-width: 0;
        float: none;
        padding: 0 5px;
        color: #000;
        font-weight: 700;
        font-size: 14px;
        @include breakpoint('tablet'){
          font-size: 16px;
        }
        @include breakpoint('desktop_small'){
          font-size: 18px;
        }
      }
    }
  }
}
.subpage{
  &_consultation, &_recommendation{
    .m-btn{
      &_primary, &_tertiary{
        cursor: pointer;
      }
    }
    .subboxes-wrapper{
      .subbox{
        .m-btn{
          &_primary{
            @include breakpoint('tablet'){
              float: none;
              min-width: 120px;
              width: 120px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  &_catering{
    .m-btn{
      &_primary{
        margin: 0 15px;
        @include breakpoint('tablet'){
          margin: auto;
          float: none;
          width: 205px;
        }
        @include breakpoint('desktop_small'){
          width: 215px;
        }
      }
    }
  }
  &_blog-single{
    .m-btn{
      &_primary{
        position: relative;
        @include breakpoint('tablet'){
          padding-left: 55px;
          margin: 0 15px;
        }
        &::after{
            content: url('../images/printer.png');
            position: absolute;
            left: 15px;
            top: 7px;
            bottom: 0;
            margin: auto;
        }
      }
    }
  }
  &_article-post, &_whoiam{
    .m-btn{
      &.form-btn{
        padding: 20px 0;
        @include breakpoint('tablet'){
          padding: 20px;
        }
        @include breakpoint('desktop_small'){
          padding: 20px 40px;
        }
      }
    }
  }
}

.m-banners{
	.m-btn{
		&_primary{
			position: absolute;
		    left: 15px;
		    right: 15px;
		    bottom: 30px;
			padding: 5px 30px;
			@include breakpoint('tablet'){
				right: auto;
				left: 25px;
				padding: 15px 50px;
			    font-size: 16px;
			}
			@include breakpoint('desktop_small'){
				padding: 18px 50px;
			    font-size: 18px;
			}
		}
		&_secondary{
			background: $cl-secondary;
			padding: 15px 15px;
			@include breakpoint('tablet'){
				padding: 15px 55px;
			}
		}
	}
	.payment-info{
		.box{
			.m-btn{
				border: none;
				font-size: 18px;
				max-width: 355px;
				@include breakpoint('tablet'){
					padding: 15px 35px;
					float: right;
					margin-right: 20%;
				}
				@include breakpoint('desktop_small'){
					padding: 18px 30px;
					width: 280px;
					margin-right: 16%;
				}
			}
			&:last-of-type{
				@include breakpoint('desktop_small'){
					padding-left: 0;
				}
				.m-btn{
					&_secondary{
						margin-top: 15px;
						@include breakpoint('tablet'){
							margin: 0 0 0 20%;
							float: left;
						}
						@include breakpoint('desktop_small'){
							margin-left: 16%;
						}
					}
				}
			}
		}
	}
}

.b-footer {
  .m-btn {
    margin: 0;
    &:hover{
      background: transparent;
      color: $cl-white;
      border: 2px solid $cl-white;
      cursor: pointer;
    }
  }
}
