/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-burger {
  float: right;
  margin-top: 32px;
  cursor: pointer;
  @include breakpoint('desktop_small'){
    display: none;
  }
  &_item {
    display: block;
    float: right;
    clear: both;
    width: 25px;
    height: 2px;
    background-color: $cl-white;
    margin-bottom: 4px;
    &:nth-child(2) {
      width: 18px;
    }
    &:last-child {
      width: 22px;
    }
  }
  &.reduced{
    .m-burger_item{
      background: $cl-secondary;
    }
  }
}
.m-mobile {
  .m-burger {
    position: absolute;
    margin: 0;
    top: 47px;
    right: 15px;
    opacity: 0;
    transition: opacity .2s;
  }
  &.is-open {
    .m-burger {
      opacity: 1;
    }
  }
}
