
#gform_wrapper_1{
  #gf_progressbar_wrapper_1{
    .gf_progressbar_title{
      display: none;
    }
    .gf_progressbar_percentage{
      span{
        position: relative;
        bottom: 37px;
        left: 23px;
        color: #000;
        border: 1px solid #000;
        padding: 0 5px;
        position: relative;
        &::after{
          content: '';
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 11px solid red;
          position: absolute;
          bottom: -11px;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
  #gform_fields_1{
    li{
      label{
        display: none;
      }
    }
  }
#field_1_7, #field_1_8{
  @include breakpoint('desktop_small'){
    padding-right: 30px;
  }
}
#field_1_10, #field_1_11, #field_1_124, #field_1_13, #field_1_14{
    margin-bottom: 20px;
    @include breakpoint('tablet'){
      display: inline-block;
      width: 50%;
    }
    @include breakpoint('desktop_small'){
      width: auto;
      padding-right: 30px;
    }
    @include breakpoint('desktop'){
      float: left;
      clear: none;
    }
    select{
      width: 100%;
      max-width: 350px;
      @include breakpoint('tablet'){
        width: 350px;
      }
    }
  }
#field_1_125, #field_1_12{
    margin-bottom: 20px;
    @include breakpoint('tablet'){
      width: 100%;
    }
    .ginput_complex{
      span{
        clear:  both;
        float: left;
        padding-right: 0;
        width: 100%;
        max-width: 350px;
        margin-bottom: 16px;
        @include breakpoint('tablet'){
          clear: none;
          width: 50%;
          max-width: none;
        }
        @include breakpoint('desktop_small'){
          width: 350px;
          margin-right: 30px;
        }
        input{
          max-width: 350px;
          border: 2px solid $cl-secondary;
          height: 60px;
          padding-left: 15px;
          font-size: 18px;
          color: $cl-primary;
        }
      }
    }
  }
#field_1_126{
    .gfield_checkbox{
      @include breakpoint('desktop_small'){
        width: 68%;
      }
      @include breakpoint('desktop'){
        width: 57%;
      }
      @include breakpoint('desktop_colossal'){
        width: 45%;
      }
      li{
        @include breakpoint('tablet'){
          width: 50%;
          display: inline-block;
        }
        label{
          font-weight: 500;
        }
      }
    }
  }
#field_1_131{
  .gfield_description{
    left: 0;
    .js-tooltip{
      &.is-first{
        left: -10px;
        position: relative;
        bottom: 20px;
        @include breakpoint('tablet'){
          left: 122px;
          bottom: -10px;
        }
      }
      &.is-second{
        left: -30px;
        position: relative;
        bottom: -24px;
        @include breakpoint('tablet'){
          left: 120px;
          bottom: -47px;
        }
      }
      &.is-third{
        left: -50px;
        position: relative;
        bottom: -70px;
        @include breakpoint('tablet'){
          left: 544px;
          bottom: -84px;
        }
      }
      &.is-fourth{
        left: -70px;
        position: relative;
        bottom: -168px;
        @include breakpoint('tablet'){
          left: 202px;
          bottom: -121px;
        }
      }
    }
    .js-tooltip_content{
      &.is-first{
        left: -10px;
        position: absolute;
        bottom: 20px;
        @include breakpoint('tablet'){
          left: 122px;
        }
      }
      &.is-second{
        left: -10px;
        bottom: -24px;
        position: absolute;
        @include breakpoint('tablet'){
          left: 140px;
        }
      }
      &.is-third{
        left: -10px;
        position: absolute;
        bottom: -70px;
        @include breakpoint('tablet'){
          left: 584px;
        }
      }
      &.is-fourth{
        left: -10px;
        position: absolute;
        bottom: -168px;
        @include breakpoint('tablet'){
          left: 262px;
        }
      }
    }
  }
}
#field_1_150{
  .gfield_description{
    left: 0;
    .js-tooltip{
      &.is-zero{
        left: 0px;
        position: relative;
        bottom: 76px;
        @include breakpoint('tablet'){
          left: 438px;
          bottom: 33px;
        }
      }
      &.is-first{
        left: -30px;
        position: relative;
        bottom: -28px;
        @include breakpoint('tablet'){
          left: 72px;
          bottom: -24px;
        }
      }
      &.is-second{
        left: -50px;
        position: relative;
        bottom: -74px;
        @include breakpoint('tablet'){
          left: 74px;
          bottom: -61px;
        }
      }
      &.is-third{
        left: -70px;
        position: relative;
        bottom: -119px;
        @include breakpoint('tablet'){
          bottom: -97px;
          left: 29px;
        }
      }
    }
    .js-tooltip_content{
      &.is-zero{
        left: -10px;
        position: absolute;
        bottom: 20px;
        @include breakpoint('tablet'){
          left: 440px;
        }
      }
      &.is-zero{
        left: -10px;
        position: absolute;
        bottom: 20px;
        @include breakpoint('tablet'){
          left: 440px;
        }
      }
      &.is-first{
        @include breakpoint('tablet'){
          left: 90px;
        }
      }
      &.is-second{
        left: -10px;
        position: absolute;
        bottom: -70px;
        @include breakpoint('tablet'){
          left: 118px;
        }
      }
      &.is-third{
        left: -10px;
        position: absolute;
        bottom: -110px;
        @include breakpoint('tablet'){
          left: 94px;
        }
      }
    }
  }
}
#field_1_129{
    .gfield_radio{
      li{
        font-weight: 500 !important;
        display: inline-block;
        text-align: center;
        @include breakpoint('tablet'){
          margin-left: 8px !important;
        }
        &:nth-of-type(n+2){
          @include breakpoint('tablet'){
            margin-left: 16px !important;
          }
        }
        input[type=radio]:checked + label {
            &:after {
              left: 24px;
            }
        }
      }
    }
    .gfield_description{
      left: 0;
      top: 3%;
      @include breakpoint('tablet'){
        left: 441px;
        width: 20%;
        top: 26%;
      }
    }
  }
  #field_1_132, #field_1_133{
    .ginput_container{
      input{
        width: 100% !important;
        max-width: 350px;
        @include breakpoint('tablet'){
          width: 350px !important;
        }
      }
    }
  }
  #field_1_133{
    @include breakpoint('tablet'){
      clear: both !important;
    }
  }

// normalne boczne checkboxy radio
#field_1_135, #field_1_138, #field_1_141, #field_1_142, #field_1_143, #field_1_144, #field_1_150, #field_1_151, #field_1_154, #field_1_155, #field_1_156, #field_1_157, #field_1_158, #field_1_164, #field_1_166, #field_1_167, #field_1_171, #field_1_175, #field_1_177, #field_1_178, #field_1_179, #field_1_180, #field_1_182, #field_1_184, #field_1_185, #field_1_186, #field_1_187, #field_1_188, #field_1_189, #field_1_191, #field_1_192, #field_1_193, #field_1_194, #field_1_195, #field_1_196, #field_1_197, #field_1_198, #field_1_199, #field_1_200{
}
textarea{
  border: 2px solid $cl-secondary;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $cl-primary;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $cl-primary;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $cl-primary;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $cl-primary;
  }
}



#field_1_24, #field_1_25, #field_1_26, #field_1_27, #field_1_28, #field_1_132, #field_1_133, #field_1_136, #field_1_137, #field_1_146, #field_1_147, #field_1_148, #field_1_149, #field_1_159, #field_1_152, #field_1_153, #field_1_160, #field_1_161, #field_1_162, #field_1_163, #field_1_173, #field_1_174, #field_1_211, #field_1_212, #field_1_213, #field_1_214{
  .gfield_label{
    display: none;
  }
  @include breakpoint('tablet'){
    display: inline-block;
    width: 50%;
  }
  @include breakpoint('desktop_small'){
    width: auto;
    padding-right: 16px;
  }
  @include breakpoint('desktop'){
    float: left;
    clear: none;
  }
  input{
    @include breakpoint('desktop_small'){
      width: auto;
    }
  }
}
#field_1_136, #field_1_137, #field_1_146, #field_1_147, #field_1_148, #field_1_149{
  input{
    @include breakpoint('tablet'){
      width: 350px;
    }
  }
}

// TEXT AREA 50% WIDTH
#field_1_161, #field_1_162, #field_1_163, #field_1_160{
  @include breakpoint('tablet'){
    width: 100%;
  }
  @include breakpoint('desktop_small'){
    padding-right: 16px;
  }
}

// 50% WIDTH INPUT
 #field_1_211, #field_1_212, #field_1_213, #field_1_214, #field_1_152, #field_1_153, #field_1_159, #field_1_173, #field_1_174{
   @include breakpoint('tablet'){
     width: 100%;
   }
   @include breakpoint('desktop_small'){
     width: 100%;
   }
   @include breakpoint('desktop'){
     width: 50% !important;
     clear: both;
   }
   input{
     @include breakpoint('desktop_small'){
       width: 100% !important;
     }
   }
 }

#field_1_20, #field_1_21{
  &.gfield_error{
    @include breakpoint('tablet'){
      margin-top: 16px;
    }
    @include breakpoint('desktop_small'){
      padding-right: 16px;
      width: 350px !important;
    }
  }
}

// rotate tooltip
#field_1_20, #field_1_21, #field_1_24, #field_1_25, #field_1_26, #field_1_27, #field_1_28, #field_1_132, #field_1_133, #field_1_173, #field_1_174{
  .gfield_description{
    width: 0 !important;
    right: 15px;
    left: auto !important;
    &:hover{
      width: 96%;
      @include breakpoint('desktop_small'){
        width: 0;
      }
    }
    @include breakpoint('tablet'){
      right: 30px;
    }

    z-index: 101;
    left: 0;
    max-width: 335px;
    // width: 96%;
    transform: rotateY(180deg);
    @include breakpoint('desktop_small'){
      transform: inherit;
      left: 85%;
    }
    .js-tooltip_content{
      min-width: 250px;
      transform: rotateY(180deg);
      @include breakpoint('desktop_small'){
        transform: inherit;
      }
    }
  }
}

// LABEL
#field_1_8{
  input{
    &:focus::-webkit-input-placeholder { color:transparent; }
    &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
  }
  label{
    &.focused{
      position: static;
      display: inline-block;
      margin: 0;
      font-size: 16px !important;
      background: $cl-white;
      padding: 0 5px;
      left: 10px;
      top: -6px;
      z-index: 100 !important;
      @include breakpoint('tablet'){
        position: absolute;
      }
    }
  }
}


// DROP BUTTON
// DROP BUTTON
// DROP BUTTON
.gform_drop_area{
  height: 160px;
  input{
    width: 100%;
    background: $cl-secondary;
    color: $cl-white !important;
  }
}
.ginput_preview{
  font-size: 18px;
  strong{
    font-weight: 500 !important;
  }
}

// TITLE MARGIN & CHECBOX MARGIN LEFT
// TITLE MARGIN & CHECBOX MARGIN LEFT
// TITLE MARGIN & CHECBOX MARGIN LEFT
.gfield{
  &_checkbox{
    margin-left: 15px;
  }
  .gfield_label{
    margin-left: 0 !important;
    font-weight: 500 !important;
    margin: 30px 0 20px;
    @include breakpoint('tablet'){
      margin: 40px 0 20px;
    }
  }
  label{
    font-weight: 500 !important;
  }
}

//  ERROR INPUT
//  ERROR INPUT
//  ERROR INPUT
.gfield{
  &_error{
    width: auto;
    border: none;
    background: transparent;
    input{
      border-color: red !important;
      color: red !important;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: red !important;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: red !important;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: red !important;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: red !important;
      }
    }
    .validation_message{
      display: none;
    }
  }
}
.validation_error{
  background: red;
  color: $cl-white;
  font-size: 18px;
}


#field_1_160, #field_1_161, #field_1_162, #field_1_163{
  @include breakpoint('desktop'){
    width: 50%;
    clear: both;
    padding-right: 30px;
  }
}

  #field_1_20, #field_1_21{
    width: 100% !important;
    @include breakpoint('tablet'){
      width: 50% !important;
      display: inline-block;
    }
    @include breakpoint('desktop_small'){
      width: auto !important;
    }
    input{
      position: relative;
      width: 100% !important;
    }
  }
  #field_1_241{
    max-width: 750px;
    input{
      @include breakpoint('tablet'){
        width: 100%;
      }
    }
  }
  #field_1_20{
    @include breakpoint('tablet'){
      float: left;
    }
  }
  #field_1_135{
    .gfield_description{
      left: 0px;
      top: 12px;
      @include breakpoint('tablet'){
        left: 395px;
        top: 46px;
        width: 36%;
      }
    }
  }
  #field_1_152, #field_1_153{
    @include breakpoint('tablet'){
      width: 50%;
    }
    @include breakpoint('desktop'){
      width: 350px !important;
      clear: none;
    }
    input{
      @include breakpoint('tablet'){
        width: 100%;
      }
    }
  }
  #field_1_151{
    #input_1_151_other{
      width: 100%;
      max-width: 350px;
      margin: 10px 0;
    }
  }


#field_1_51, #field_1_52{
  label{
    font-weight: 500 !important;
  }
}
#field_1_52{
  label{
    margin-left: 15px;
  }
}


#field_1_160{
  .gfield_description{
    left: 0px;
    top: -12px;
    width: 50%;
    @include breakpoint('tablet'){
      left: 250px;
      top: -8px;
    }
  }
}

// clear both
  #field_1_124, #field_1_28, #field_1_26, #field_1_148{
    @include breakpoint('desktop'){
      clear: both !important;
    }
  }


  #field_1_173, #field_1_174{
    margin-top: 30px;
    @include breakpoint('tablet'){
      width: 50%;
      display: inline-block;
    }
    @include breakpoint('desktop_small'){
      position: relative;
    }
    input{
      @include breakpoint('tablet'){
        width: 100%;
      }
    }
    .gfield_description{
      left: 0;
      top: -20px;
      width: 80%;
      @include breakpoint('tablet'){
        left: 0;
        width: 65%;
      }
      @include breakpoint('desktop_small'){
        position: absolute;
        left: auto;
        right: 45px;
        top: 23px;
        transform: rotateY(180deg);
      }
      .js-tooltip_content{
        @include breakpoint('desktop_small'){
          transform: rotateY(180deg);
        }
      }
    }
  }

#field_1_291, #field_1_292, #field_1_293, #field_1_294,#field_1_295, #field_1_296, #field_1_297, #field_1_298, #field_1_299, #field_1_300, #field_1_301{
  @include breakpoint('desktop'){
    display: none;
  }
}

#field_1_190, #field_1_191, #field_1_192, #field_1_193,#field_1_194, #field_1_195, #field_1_196, #field_1_197, #field_1_198, #field_1_199, #field_1_200{
  display: none;
  @include breakpoint('desktop'){
    display: block;
  }
}

#field_1_125{
  @include breakpoint('tablet'){
    float: left;
    margin-top: 0;
  }
}
#field_1_120{
  margin-bottom: 30px;
  @include breakpoint('tablet'){
    margin-bottom: 40px;
  }
  .gfield_label{
    position: static;
    padding: inherit;
    font-size: 22px !important;
    margin-left: 0 !important;
    font-weight: 500 !important;
    margin: 30px 0 20px;
    @include breakpoint('tablet'){
      margin: 40px 0 20px;
    }
  }
  span{
    clear:  both;
    float: left;
    padding-right: 0;
  }
  label{
    display: inline-block !important;
    margin-left: 20px;
    font-weight: 600;
  }
}

  .gfield{
    select{
      background: $cl-white;
      font-weight: 500;
      border: 2px solid $cl-secondary;
      height: 60px !important;
      padding-left: 15px;
      font-size: 18px;
      color: $cl-primary;
      option{
        font-weight: 500;
      }
    }
    &_label{
      font-size: 22px !important;
      font-weight: 600;
      &.focused{
        position: static;
        display: inline-block !important;
        margin: 0;
        font-size: 16px !important;
        background: $cl-white;
        padding: 0 5px;
        left: 10px;
        top: -2px;
        z-index: 100;
        @include breakpoint('tablet'){
          position: absolute;
        }
      }
    }
    label{
      font-size: 18px;
    }
    input[type=radio] {
      display: none;
    }
    input[type=radio] label {
      position: relative;
      cursor: pointer;
    }
    input[type=radio] + label:before {
        content: '';
        display:inline-block;
        width: 20px;
        height: 20px;
        margin: -2px 8px 0 8px;
        vertical-align:middle;
        cursor:pointer;
        border-radius:  50%;
        background-color: #fff;
        border: 2px solid $cl-secondary;
    }
    input[type=radio]:checked + label {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 10px;
          width: 16px;
          height: 16px;
          border: none;
          display: inline-block;
          border-radius: 100%;
          border: 2px solid $cl-white;
          cursor:pointer;
          background-color: $cl-secondary;
        }
      &:before {
        background-color: $cl-secondary;
      }
    }
    .m-typo{
      &_smallHeading{
        font-size: 25px;
        font-weight: 600;
        color: $cl-secondary;
        span{
          font-size: 16px;
          padding-left: 5px;
          color: #000;
          font-weight: 600;
          opacity: .8;
        }
      }
    }
    .ginput_container{
      input{
        height: 60px !important;
        border: 2px solid $cl-secondary;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 500;
        color: $cl-primary;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $cl-primary;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $cl-primary;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $cl-primary;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $cl-primary;
        }
      }
      .gfield_checkbox{
        input{
          height: auto !important;
        }
      }
    }
  }
  .gform_page_footer{
    border-top: 0;
    @include breakpoint('tablet'){
        margin-bottom: 40px;
    }
    @include breakpoint('desktop_small'){
        margin-bottom: 70px;
    }
    .button{
      width: 200px;
      height: 60px;
      font-size: 15px;
      background: $cl-secondary;
    }
  }
}
// CONFIRM LOG
// CONFIRM LOG
// CONFIRM LOG
#gform_confirmation_wrapper_1{
  .gform_confirmation_message_1{
    background: $cl-secondary;
    padding: 30px 15px;
    text-align: center;
    color: $cl-white;
    font-weight: 500;
    font-size: 18px;
  }
}
