.m-fit-tabs{
	clear: both;
	ul, ol{
		margin: 15px 0 0;
		@include breakpoint('tablet'){
			margin: 15px 15px 30px;
		}
		li{
			position: relative;
			padding-left: 25px;
			margin: 15px 0;
			vertical-align: middle;
			font-weight: 600;
			font-size: 18px;
			&:before{
				content: '-';
				padding-right: 5px;
			}
			@include breakpoint('tablet'){
				margin: 10px 0;
			}
		}
	}
	.table-list{
		margin: 5px 0 0;
		&_item{
			position: static;
			padding: 0 15px;
			margin: 0;
			&:before{
				display: none;
			}
		}
	}
	.wrapper{
		p{
			margin-bottom: 15px;
		}
	}
	.mobile-btn{
		text-align: center;
		padding: 20px;
		border: 2px solid $cl-secondary;
		clear: both;
		margin: 0 15px 30px;
		@include breakpoint('tablet'){
		  box-sizing: border-box;
		  width: 50%;
		  margin: 0 auto 20px;
		  border-top: 0;
		  border-right: 0;
		  border-left: 0;
		}
		&.show{
		  color: $cl-white;
		  background: $cl-secondary;
		}
		@include breakpoint('desktop_small'){
			display: none;
		}
	}
	.tab{
		display: none;
		clear: both;
		padding: 10px 15px;
		width: 100%;
		box-sizing: border-box;
		@include breakpoint('tablet'){
			padding: 50px 0;
		}
		@include breakpoint('desktop_small'){
			padding: 20px 50px;
			float: left;
		}
		@include breakpoint('desktop'){
			padding: 50px 50px;
		}
		&.show{
			display: block;
		}
		.price{
			width: 100%;
			float: left;
			margin: 15px 0 35px;
			.m-btn{
				margin: 0 15px;
				text-transform: none;
				&_primary{
				    font-size: 22px;
				    padding: 15px 30px;
				}
				&_tertiary{
					font-size: 18px;
					padding: 15px;
					border-color: $cl-secondary;
					cursor: pointer;
				}
			}
		}
		.grid-gallery{
			margin-top: 45px;
		}
		.m-ten-boxes{
			@include breakpoint('desktop'){
				margin-right: 15px!important;
				margin-left: 15px!important;
			}
		}
		&.js-tab-2{
			p{
				margin-bottom: 10px;
			}
		}
		&.js-tab-5{
			.m-table{
				border-top: 0;
				margin-top: 0;
				padding: 20px 0 0;
			}
			.table-list{
				margin: 0;
				li{
					&:first-of-type{
						@include breakpoint('desktop'){
							width: 22% !important;
						}
					}
					&:last-of-type{
						width: 25% !important;
					    height: 60% !important;
						@include breakpoint('tablet'){
							width: 18% !important;
						}
						@include breakpoint('desktop'){
							width: 10%!important;
							height: 70%!important;
						}
					}
					&:nth-child(n+4){
						width: 74%;
					}
					&:nth-child(n+2){
						@include breakpoint('tablet'){
							width: 25%;
						}
						@include breakpoint('desktop'){
							width: 22%;
						}
					}
					&:nth-child(4){
						@include breakpoint('desktop'){
							clear: left;
						}
					}
					&:nth-child(5){
						@include breakpoint('tablet'){
							clear: left;
						}
						@include breakpoint('desktop'){
							clear: none;
						}
					}
					&::before{
						content: '';
						padding-right: 0;
					}
				}
			}
		}
		iframe{
			max-width: 100%;
		}
	}
	.m-table{
		overflow-y: hidden;
		border-top: 2px solid $cl-secondary;
		margin-top: 40px;
		@include breakpoint('tablet'){
			margin: 60px 0;
		}
		@include breakpoint('desktop_small'){
			padding: 20px 15px 0;
		}
		&.summary{
			margin-top: 0;
			border-top: 0;
		}
		.m-typo{
			&_secondary{
				@include breakpoint('desktop_small'){
					padding: 0;
				}
			}
		}
		.wrapper{
			width: 100%;
			margin: 0;
			.table{
				width: 100%;
				tbody{
					width: 100%;
					.table_item{
						&:first-of-type{
							th{
								text-align: center;
							}
						}
						&:nth-child(1n+2){
							background: #e9e9e9;
							th{
								color: #000;
								a{
									color: #000;
								}
							}
						}
						.greenbtn, .table-btn{
							padding: 0;
							a{
								margin: 0;
								padding: 5px 10px;
								display: block;
								text-align: center;
								@include breakpoint('desktop_small'){
									padding: 15px;
								}
							}
						}
					}
				}
			}
		}
		&.ticket{
			.table-list{
				position: relative;
				background: #e8e9e8;
				padding: 15px 0;
			    margin-bottom: 5px;
				@include breakpoint('desktop'){
					padding: 25px 0;
				}
				&_item{
					width: 37%;
					box-sizing: border-box;
					display: inline-block;
					float: left;
					color: #000;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 24px;
					margin: 15px 0 0;
					@include breakpoint('tablet'){
						font-size: 14px;
						width: 26%;
						line-height: 26px;
					}
					@include breakpoint('desktop'){
						width: 15%;
						line-height: 30px;
					}
					@include breakpoint('desktop_big'){
						width: 12%;
						margin-top: 0;
					}
					span{
						font-size: 19px;
						text-transform: none;
						@include breakpoint('tablet'){
							font-size: 24px;
						}
					}
					&:first-of-type{
						width: 100%;
						margin-top: 0;
						@include breakpoint('desktop_big'){
							width: 12%;
						}
						span{
							font-size: 22px;
							@include breakpoint('tablet'){
								font-size: 24px;
							}
						}
					}
					&:last-of-type{
						width: 22%;
					    height: 65%;
					    background: #32cc32;
					    position: absolute;
					    right: 5px;
					    margin: 0;
					    text-align: center;
					    border-radius: 12px;
					    bottom: 15px;
						@include breakpoint('tablet'){
							width: 20%;
							height: 55%;
							right: 15px;
						}
						@include breakpoint('desktop'){
							height: 34%;
						    bottom: 25px;
							width: 10%;
						}
						@include breakpoint('desktop_big'){
							height: 55%;
						}
						a{
							color: $cl-white;
							position: absolute;
							left: 0;
							bottom: 0;
							right: 0;
							top: 0;
							margin: 0;
							position: absolute;
							margin: auto;
							height: auto;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
		&.ticket_camp-info{
			.table-list{
				&_item{
					width: 65%;
					@include breakpoint('tablet'){
						width: 35%;
						margin-top: 0;
					}
					@include breakpoint('desktop_small'){
						width: 22%;
					}
					@include breakpoint('desktop_big'){
						width: 22%;
					}
					&:first-of-type{
						@include breakpoint('tablet'){
							margin-top: 0;
							width: 35%;
						}
						@include breakpoint('desktop_small'){
							width: 22%;
						}
					}
					&:last-of-type{
						width: 35%;
						@include breakpoint('tablet'){
							width: 20%;
						}
						@include breakpoint('desktop_big'){
							width: 15%;
							height: 70% !important;
						}
					}
					&:nth-child(4){
						@include breakpoint('desktop_small'){
							clear: left;
						}
						@include breakpoint('desktop_big'){
							clear: left;
						}
					}
					&:nth-child(6){
						@include breakpoint('tablet'){
							width: 70%;
						}
						@include breakpoint('desktop_small'){
							width: 65%;
							clear: left;
						}
						@include breakpoint('desktop'){
							clear: none;
							width: 34%;
						}
						@include breakpoint('desktop_big'){
							width: 38%;
						}
					}
				}
			}
		}
		&.ticket_training-info{
			.table-list{
				&_item{
					@include breakpoint('tablet'){
						margin-top: 15px;
						width: 35%;
					}
					@include breakpoint('desktop_small'){
						width: 17%;
					}
					&:first-of-type{
						@include breakpoint('tablet'){
							width: 100%;
							margin-top: 0;
						}
					}
					&:nth-child(2){
						@include breakpoint('desktop_small'){
							width: 10%;
						}
					}
					&:nth-child(5){
						@include breakpoint('tablet'){
							width: 35%;
						}
						@include breakpoint('desktop_small'){
							width: 15%;
						}
					}
					&:last-of-type{
						@include breakpoint('desktop'){
							width: 14%;
						}
					}
				}
			}
		}
	}
	.cta-wrapper{
		.cta{
			&_quaternary{
				background-image: url(../images/fitcamp-cta.png);
				.box{
					@include breakpoint('desktop_small'){
						padding-left: 15px;
						padding-right: 15px;
						width: 98%;
					}
					@include breakpoint('desktop'){
						width: 90%;
					}
					@include breakpoint('desktop_big'){
						width: 86%;
					}
					@include breakpoint('desktop_colossal'){
						width: 78%;
						padding-left: 30px;
						padding-right: 30px;
					}
					h1{
						@include breakpoint('desktop_small'){
							width: 76%;
							font-size: 18px;
						}
						@include breakpoint('desktop'){
							font-size: 20px;
							width: 78%;
						}
						@include breakpoint('desktop_big'){
							font-size: 23px;
						}
					}
					p{
						@include breakpoint('desktop_small'){
							width: 155px;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}
