/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-form {
  &_input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $cl-white;
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 5px 0;
    margin-bottom: 15px;
    color: $cl-secondary;
    font-size: 12px;
    @include breakpoint('desktop') {
      max-width: 300px;
    }
    &::placeholder {
      color: $cl-secondary;
    }
    &:focus {
      outline: 0;
    }
  }
}
