/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-logo {
  margin: 15px 0;
  float: left;
  @include breakpoint('desktop') {
    margin-left: 75px;
  }
  @include breakpoint('desktop_big') {
    margin-left: 135px;
  }
}
.m-mobile {
  .m-logo {
    margin: 30px 15px 0;
  }
}
