/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-menu {
  float: right;
  margin-top: 32px;
  display: none;
  @include breakpoint('desktop_small') {
    display: block;
  }
  @include breakpoint('desktop') {
    margin-right: 40px;
  }
  @include breakpoint('desktop_big') {
    margin-right: 80px;
  }
  &_item {
    display: inline-block;
    margin: 0 15px;
    padding: 0 9px 6px;
    border-bottom: 2px solid transparent;
    transition: border .3s;
    position: relative;
    z-index: 1000;
    @include breakpoint('desktop') {
      margin: 0 16px;
      padding: 0 10px 6px;
    }
    .m-menu_sub-menu {
      position: absolute;
      background-color: $cl-secondary;
      top: 100%;
      right: 0;
      max-height: 0;
      overflow: hidden;
      transition: .3s max-height;
      z-index: 100000;
      &_url {
        display: block;
        min-width: 200px;
        padding: 6px 20px;
        color: $cl-white;
      }
    }
    &:hover {
      border-color: $cl-secondary;
      .m-menu_sub-menu {
        @include breakpoint('desktop_small') {
          max-height: 400px;
        }
        &_url {
          transition: .2s all;
          &:hover {
            background-color: $cl-primary;
            color: $cl-secondary;
          }
        }
      }
      .m-menu_url {
        color: $cl-secondary;
      }
    }
  }
  &_url {
    color: $cl-white;
    transition: color .3s;
    &:hover {
      color: $cl-secondary;
    }
  }
}
.b-hero_header-white{
  .m-menu{
    &_item{
      .m-menu_url{
        color: #000;
        &:hover{
          color: $cl-secondary;
        }
      }
    }
    &.reduced{
      .m-menu_item{
        .m-menu_url{
          color: #000;
        }
      }
    }
  }
  .m-burger{
    &_item{
      background: $cl-secondary;
    }
  }
}
.b-hero_header{
  .m-menu{
    &.reduced{
      .m-menu_item{
        .m-menu_url{
          color: #000;
        }
      }
    }
  }
}
.m-mobile {
  .m-menu {
    min-width: 320px;
    display: block;
    float: none;
    margin-top: 10px;
    &_item-parent{
      a{
        &.is-active{
          &::after{
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            top: 0;
          }
        }
        pointer-events: none;
        &::after{
          content: "";
          border: solid $cl-white;
          border-width: 0 2.3px 2.3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          margin-left: 15px;
          position: relative;
          top: -3px;
          transition: .3s all;
        }
      }
      &:hover{
        background: transparent;
        a{
          color: $cl-white;
        }
      }
      .m-menu_sub-menu{
        a{
          &::after{
            display: none;
          }
        }
      }
    }
    &_item,
    &_url {
      display: block;
      text-align: left;
      &:hover {
        color: $cl-primary;
      }
    }
    &_url {
      padding: 5px 0;
      font-size: 18px;
    }
    &_sub-menu{
      width: 100%;
      position: static;
      a{
        pointer-events: auto;
        font-size: 18px;
      }
      &.is-active{
        max-height: 500px;
      }
      &_item{
        margin: 5px 0;
      }
    }
  }
}
.b-footer {
  .m-menu {
    float: left;
    margin: 0;
    display: block;
    &_item {
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
    }
    &_url {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
