/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-mobile {
  background-color: $cl-secondary;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
  min-height: 568px;
  width: 0;
  overflow: hidden;
  transition: width .2s;
  &.is-open {
    width: 100%;
    z-index: 1001;
	overflow: scroll;
  }
  &.reduced{
    &.is-open{
      position: fixed;
    }
    .m-mobile_header{
      .m-logo{
        margin-top: 20px;
        a{
          img{
            width: 80%;
          }
        }
      }
      .m-burger{
        top: 33px;
        &_item{
          background: $cl-white;
        }
      }
    }
  }
}
