#popmake-1236{
  border: none;
  border-radius: 0;
  @include breakpoint('tablet'){
    padding: 50px 18px;
  }
  @include breakpoint('desktop_small'){
    padding: 80px 18px;
    width: 90%;
  }
  @include breakpoint('desktop_big'){
    width: 80%;
    max-width: 1170px;
    overflow: hidden;
  }
  &::after{
    @include breakpoint('tablet'){
      content: url(../images/popup-hero.png);
      width: auto;
      position: absolute;
      top: -53px;
      left: -65px;
      transform: scale(0.7);
    }
    @include breakpoint('desktop_small'){
      top: -57px;
    }
    @include breakpoint('desktop'){
      left: -35px;
      transform: scale(0.8);
    }
  }
  #pum_popup_title_1236{
    font-size: 28px;
    color: $cl-primary;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 50px 0 40px;
    @include breakpoint('tablet'){
      width: 50%;
      float: right;
      clear: both;
      padding-top: 20px;
      margin-right: 2%;
    }
    @include breakpoint('desktop_small'){
      font-size: 30px;
      width: 65%;
      padding-bottom: 60px;
    }
    @include breakpoint('desktop_big'){
      max-width: 690px;
      margin-right: 3%;
    }
  }
  .pum-content{
    padding-bottom: 20px;
    @include breakpoint('tablet'){
      width: 50%;
      float: right;
      clear: both;
      margin-right: 2%;
    }
    @include breakpoint('desktop_small'){
      width: 65%;
    }
    @include breakpoint('desktop_big'){
      max-width: 690px;
      margin-right: 3%;
    }
    p{
      text-align: center;
      color: $cl-primary;
      font-weight: 600;
      font-size: 28px;
      @include breakpoint('desktop_small'){
        font-size: 30px;
      }
      span{
        color: $cl-secondary;
      }
    }
    .wrapper{
      text-align: center;
      @include breakpoint('tablet'){
        height: 60px;
        padding-top: 50px;
      }
      @include breakpoint('desktop_small'){
        margin: 0px 6%;
      }
      input{
        border: none;
        -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.25);
        box-shadow:0px 0px 20px -4px rgba(0, 0, 0, 0.25);
        height: 50px;
        width: 85%;
        margin: 35px 0 0;
        padding: 0 15px;
        font-size: 18px;
        color: $cl-primary;
        @include breakpoint('tablet'){
          width: 72%;
          float: left;
          margin-top: 0;
          height: 60px;
          padding: 0 20px;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $cl-primary;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $cl-primary;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $cl-primary;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $cl-primary;
        }
      }
      button{
        cursor: pointer;
        font-size: 16px;
        margin-top: 0px;
        position: relative;
        z-index: 2;
        width: 85%;
        height: 50px;
        text-transform: none;
        @include breakpoint('tablet'){
          font-size: 14px;
          float: left;
          width: 28%;
          float: left;
          height: 60px;
          margin: 0;
          min-width: 0;
        }
        @include breakpoint('desktop_small'){
          font-size: 16px;
        }
      }
    }
  }
  .pum-close{
    top: 15px;
    right: 15px;
    background: $cl-secondary;
    box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.15);
  }
}
.top-bar{
  margin-bottom: 40px;
    .wrapper{
      margin-bottom: 0;
      background: #f2f2f2;
      padding: 25px 0;
      @include breakpoint('tablet'){
        background-image: url(../images/topbar-banner.png);
        background-position: 80px;
        background-repeat: no-repeat;
        padding: 25px;
      }
      @include breakpoint('desktop_small'){
        background-position: right;
      }
      .m-typo{
        &_text{
          text-transform: uppercase;
          width: auto;
          &:first-of-type{
            font-size: 36px;
            line-height: 40px;
            @include breakpoint('desktop_small'){
              font-size: 38px;
              line-height: 44px;
            }
          }
          &:last-of-type{
            font-size: 22px;
            margin-bottom: 0;
            @include breakpoint('desktop_small'){
              font-size: 24px;
            }
            span{
              font-size: 44px;
              @include breakpoint('desktop_small'){
                font-size: 48px;
              }
            }
          }
        }
      }
    }
}
#simple-sticky-footer-container{
  z-index: 1000;
  background: red !important;
  #simple-sticky-footer{
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background: transparent;
    font-size: 21px;
    color: $cl-white;
    font-weight: 400;
    @include breakpoint('tablet'){
      text-align: left;
      padding-right: 30%;
      font-size: 24px;
    }
    @include breakpoint('desktop_small'){
      padding: 20px 30% 20px 6%;
    }
    @include breakpoint('desktop_big'){
      padding-right: 18%;
    }
    .m-btn{
      margin-top: 15px;
      background: #fff;
      color: red;
      @include breakpoint('tablet'){
        margin-top: 0;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
        position: absolute;
      }
      @include breakpoint('desktop_small'){
        right: 6%;
      }
    }
  }
}
