/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-social {
  &_item {
    float: right;
    position: relative;
    top: 1px;
    &:nth-of-type(1n+2){
      margin-right: 20px;
    }
    @include breakpoint('desktop_small'){
      margin-right: 20px;
    }
    a {
      color: $cl-secondary;
      &:hover{
        img{
          transform: scale(1.2);

        }
      }
      img{
        transition: all .3s;
      }
    }
  }
}
