.m-tab-nav{
  clear: both;
  display: none;
  @include breakpoint('desktop_small'){
	  display: block;
  }
  .list{
    margin: 0 15px;
    @include breakpoint('desktop'){
      margin: 0;
      display: flex;
    }
    &_item{
	  cursor: pointer;
      text-align: center;
      padding: 20px;
      border: 2px solid $cl-secondary;
      @include breakpoint('tablet'){
        box-sizing: border-box;
        width: 50%;
        float: left;
        border-top: 0;
        border-right: 0;
        border-left: 0;
      }
      @include breakpoint('desktop_small'){
        width: 33.3%;
      }
      @include breakpoint('desktop'){
        padding: 20px 15px;
      }
      @include breakpoint('desktop_colossal'){
        padding: 20px 5px;
      }
      &.show{
        color: $cl-white;
        background: $cl-secondary;
      }
      &:first-of-type{
        @include breakpoint('desktop'){
          width: 43%;
        }
      }
    }
  }
}

.subpage_training-template{
	.m-tab-nav{
		.list{
			@include breakpoint('desktop'){
				position: relative;
			}
			&:after{
				@include breakpoint('desktop_small'){
					border-bottom: 2px solid $cl-secondary;
					bottom: 2px;
					position: relative;
					display: block;
				}
				@include breakpoint('desktop'){
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			&_item{
				@include breakpoint('desktop_small'){
					margin-bottom: 0;
					width: 20%;
				}
				@include breakpoint('desktop'){
					width: 15%;
				}
				@include breakpoint('desktop_big'){
					width: 13%;
				}
			}
		}
	}
}
