/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.m-typo {
  transition: color .3s;
  &_url {
    font-size: 12px;
    color: $cl-white;
    font-weight: 500;
    &::before {
      margin-right: 15px;
    }
    &.is-phone {
      vertical-align: middle;
      &::before {
        content: url('../images/icons/tel.png');
        display: inline-block;
        width: 8px;
        height: 13px;
        position: relative;
        top: 2px;
      }
    }
    &.is-email {
      &::before {
        content: url('../images/icons/email.png');
        display: inline-block;
        width: 13px;
        height: 8px;
        position: relative;
        top: 2px;
      }
    }
    &.is-form {
      &::before {
        content: url('../images/icons/form.png');
        display: inline-block;
        width: 13px;
        height: 8px;
        position: relative;
        top: 2px;
      }
    }
    &.is-consultations {
      &::before {
        content: url('../images/icons/consultation.png');
        display: inline-block;
        width: 13px;
        height: 9px;
      }
    }
    &:hover {
      color: $cl-secondary;
    }
  }
  &_primary {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
    color: $cl-white;
    margin-bottom: 30px;
    line-height: 30px;
    letter-spacing: .9px;
    @include breakpoint('phone') {
      font-size: 25px;
    }
    span {
      color: $cl-secondary;
    }
  }
  &_secondary {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $cl-primary;
    line-height: 30px;
    letter-spacing: .9px;
    @include breakpoint('phone') {
      font-size: 25px;
    }
  }
  &_text{
    a{
      font-size: inherit;
      color: $cl-secondary;
    }
  }
}
.b-hero {
  .m-typo {
    &_primary {
      font-size: 26px;
      line-height: 36px;
      font-weight: 700;
      text-transform: uppercase;
      @include breakpoint('phone') {
        font-size: 32px;
        line-height: 42px;
      }
      @include breakpoint('desktop_small') {
        font-size: 42px;
        line-height: 52px;
      }
      span {
        color: $cl-secondary;
      }
    }
  }
  &_teaser-white{
    .m-typo{
      &_primary{
        color: #000;
      }
    }
  }
}
.b-tips{
  .m-typo{
    text-align: center;
    @include breakpoint('tablet') {
      text-align: inherit;
    }
    &_heading{
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      @include breakpoint('tablet') {
        margin-bottom: 5px;
      }
    }
    &_paragraph{
      font-size: 13px;
    }
  }
}
.b-about{
  .m-typo{
    text-align: center;
    &_heading{
      font-size: 24px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 5px;
      z-index: 11;
      font-size: 18px;
      line-height: 23px;
      &_secondary{
        @include breakpoint('desktop_small'){
          margin-bottom: 34px;
        }
      }
    }
  }
  .m-about-box{
    &_text{
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      height: 30px;
    }
  }
}
.m-tabs {
  .m-tab {
    .m-typo{
      p{
        &:nth-of-type(2){
          margin-bottom: 10px;
        }
      }
    }
  }
}
.m-testimonials {
  .m-typo {
    margin: 0;
  }
}
.b-team {
  .m-typo {
    margin: 0;
    @include breakpoint('desktop') {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    &_text{
      display: table;
      width: 100%;
      height: 100%;
      a{
        font-size: 24px;
        letter-spacing: 0.02em;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        display: table-cell;
        height: 245px;
        vertical-align: middle;
      }
    }
  }
}
.b-four-boxes{
  .m-typo{
    &_text{
      font-size: 14px;
      color: $cl-white;
      line-height: 17px;
      max-width: 310px;
    }
  }
  .b-box{
    &_secondary{
      @include breakpoint('tablet'){
        &:hover{
          .m-typo{
            color: $cl-primary;
          }
        }
      }
    }
    &_quaternary{
      .m-typo{
        text-align: center;
        padding: 15px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
.b-plans{
  .m-typo{
    margin: 20px 0 0;
    padding: 0 10px;
    &:nth-child(1){
      margin: 55px 0 45px;
      font-size: 25px;
    }
    &:nth-child(5){
      text-align: right;
      margin-top: 5px;
      font-size: 24px;
    }
    &:nth-child(6){
      font-size: 14px;
      padding-left: 15px;
      display: inline-block;
      margin: 0;
      text-align: left;
      color: $cl-tertiary;
      min-height: inherit;
      position: relative;
      bottom: 10px;
    }
    &_primary{
      &:first-child{
        font-size: 13px;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
    &_secondary{
      font-size: 20px;
      padding: 0 15px;
      @include breakpoint('tablet'){
        padding: 0 5px;
      }
    }
    &_text{
      font-size: 18px;
      padding: 0 30px;
      margin-top: 2px;
      min-height: 15px;
      @include breakpoint('tablet'){
        font-size: 14px;
      }
      &.plans{
        padding: 0 15px;
        text-align: left;
        font-size: 14px;
        margin-top: 2px;
        @include breakpoint('tablet'){
          padding: 0 5px;;
        }
      }
      &.info{
        font-size: 14px;
        margin: 0;
        min-height: 0;
        padding: 0 15px;
        @include breakpoint('tablet'){
          padding: 0 5px;
          display: inline-block;
        }
        &:last-of-type{
			@include breakpoint('tablet'){
				float: right;
			}
        }
        span{
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
  .m-plans-box{
    .m-typo{
      &_secondary{
        min-height: 90px;
      }
    }
    &:hover{
      .m-typo{
        color: $cl-white;
        &_text{
          &:nth-child(6){
            color: $cl-secondary;
          }
        }
      }
    }
  }
}
.b-features{
  .m-typo{
    &_primary{
      font-size: 18px;
      line-height: 24px;
    }
    &_text{
      color: $cl-white;
      line-height: 23px;
    }
  }
  &_heading{
    .m-typo{
      font-size: 24px;
    }
  }
  .m-features-layer{
    .m-typo{
      &_text{
        position: absolute;
        padding-right: 15px;
        padding-top: 65px;
        @include breakpoint('tablet'){
          padding-top: 0;
        }
      }
    }
  }
}
.m-offer {
  .m-typo {
    &_primary {
      color: #0e2e3c;
      margin-bottom: 70px;
    }
    &_text {
      color: #0e2e3c;
      max-width: 530px;
    }
  }
}
.b-blog{
  &_heading{
    .m-typo{
      text-align: center;
      margin: 55px 0 14px;
      @include breakpoint('desktop_small'){
        margin: 72px 0 14px;
      }
      &_secondary{
        margin-bottom: 4px;
        font-size: 25px;
      }
      &_text{
        padding: 0 15px;
        line-height: 21px;
        line-height: 20px;
        letter-spacing: -0.4px;
        margin-bottom: 25px;
        color: $cl-secondary;
        @include breakpoint('tablet'){
          width: 70%;
          margin: 16px auto 25px;
        }
        @include breakpoint('desktop_small'){
          width: 55%;
        }
      }
    }
  }
  .m-blog-box{
    &_content{
      .m-typo{
        &_secondary{
          margin-bottom: 4px;
          min-height: 60px;
          @include breakpoint('desktop_small'){
            min-height: 100px;
          }
          @include breakpoint('desktop_colossal'){
            min-height: 75px;
          }
        }
        &_text{
          min-height: 60px;
          line-height: 20px;
          letter-spacing: -0.4px;
          margin-bottom: 25px;
        }
      }
    }
    &_bar{
      .m-typo{
        &_text{
          color: $cl-white;
          font-size: 12px;
        }
      }
    }
  }
}

.b-camps{
  .m-typo{
    margin: 20px 0 0;
    padding: 0 10px;
    &:nth-child(1){
      margin: 55px 0 45px;
      font-size: 25px;
    }
    &:nth-child(5){
      text-align: right;
      margin-top: 5px;
      font-size: 24px;
    }
    &:nth-child(6){
      font-size: 14px;
      padding-left: 15px;
      display: inline-block;
      margin: 0;
      text-align: left;
      color: $cl-tertiary;
      min-height: inherit;
      position: relative;
      bottom: 10px;
    }
    &_primary{
      &:first-child{
        font-size: 13px;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
    &_secondary{
      font-size: 20px;
    }
    &_text{
      color: $cl-secondary;
      font-size: 18px;
      padding: 0 10px;
      margin-top: 2px;
      min-height: 45px;
      @include breakpoint('tablet'){
        font-size: 14px;
      }
    }
  }
  .m-camps-box{
    .m-typo{
      &_primary{
        padding: 0 10px;
      }
    }
    &:hover{
      .m-typo{
        color: $cl-white;
        &_text{
          &:nth-child(6){
            color: $cl-secondary;
          }
        }
      }
    }
  }
  &_heading{
    .m-typo{
      &_text{
        padding: 0 15px;
        line-height: 21px;
        line-height: 20px;
        letter-spacing: -0.4px;
        margin-bottom: 25px;
        color: #0e2e3c;
        margin: 0 auto;
        @include breakpoint('tablet'){
          width: 70%;
          margin: 16px auto 25px;
        }
        @include breakpoint('desktop_small'){
          width: 55%;
        }
      }
    }
  }
  .m-camps{
    &_top-bar{
      display: none;
      &.active{
        display: block;
        .m-typo{
          &_primary{
            background: $cl-primary;
            margin: 0 auto;
            display: block;
            max-width: 100%;
            margin: 0 15px;
            position: relative;
            top: 10px;
          }
        }
      }
    }
  }
}

.cta-wrapper{
  .cta{
    &_primary, &_tertiary, &_quinary{
      .m-typo{
        &_primary{
          text-align: center;
          padding-top: 50px;
          font-size: 30px;
          margin-bottom: 40px;
          @include breakpoint('tablet'){
            font-size: 32px;
            margin-bottom: 50px;
          }
          @include breakpoint('desktop_big'){
            margin-bottom: 60px;
          }
        }
        &_text{
          color: $cl-white;
          font-size: 16px;
          padding: 30px 15px 0;
          clear: both;
          @include breakpoint('desktop_small'){
            padding-top: 58px;
            width: 60%;
            margin: 0 auto;
          }
        }
      }
    }
    &_secondary, &_quaternary{
      .m-typo{
        &_primary{
          margin-bottom: 15px;
          font-size: 23px;
          color: #000;
          text-transform: none;
          font-weight: 600;
          letter-spacing: 0.5px;
          @include breakpoint('tablet'){
            padding: 20px 0;
            margin-bottom: 0;
          }
          @include breakpoint('desktop_small'){
            width: 80%;
            display: inline-block;
            padding: 30px 10px;
            text-align: left;
          }
          @include breakpoint('desktop'){
            padding: 30px 0;
            width: 75%;
          }
          span{
            font-weight: 700;
          }
        }
      }
    }
    &_secondary{
      .m-typo{
        text-align: center;
        @include breakpoint('desktop_small'){
          text-align: left;
        }
        &_primary{
          span{
            display: block;
            @include breakpoint('desktop_small'){
              display: inline-block;
            }
          }
        }
      }
    }
    &_tertiary, &_quinary{
      .m-typo{
        color: #000;
        &_primary{
          padding: 50px 15px 0;
          margin-bottom: 15px;
        }
        &_text{
          font-weight: 600;
          color: #9fa3a7;
          padding: 0 15px;
          margin: 30px auto 50px;
        }
      }
    }
    &_quaternary{
      .m-typo{
        &_primary{
          @include breakpoint('desktop_small'){
            width: 65%;
          }
        }
      }
    }
  &_quinary{
    .m-typo{
      &_primary{
        text-transform: none;
      }
      &_secondary{
        font-size: 14px;
        margin: 40px 0 0;
        color: #9fa3a7;
        @include breakpoint('tablet'){
          font-size: 12px;
        }
        @include breakpoint('desktop_small'){
          margin: 80px 0 0;
        }
      }
      &_text{
        font-size: 14px;
      }
    }
      .box{
        &:last-child{
          .m-typo{
            color: $cl-white;
          }
        }
      }
    }
  &_senary{
    .m-typo{
      &_primary{
        font-size: 30px;
        text-transform: none;
        line-height: 36px;
        margin-bottom: 0;
        @include breakpoint('tablet'){
          font-size: 36px;
          line-height: 44px;
          text-align: left;
          padding-left: 20%;
          &::after{
            content: '';
            background: $cl-white;
            height: 7px;
            width: 26%;
            display: block;
            position: relative;
            top: 20px;
          }
        }
        @include breakpoint('desktop_small'){
          font-size: 50px;
          line-height: 62px;
          &::after{
            top: 25px;
            height: 10px;
          }
        }
        @include breakpoint('desktop_big'){
          font-size: 56px;
          line-height: 70px;
          padding-left: 25%;
        }
      }
    }
  }
  }
}

.m-info-list{
  .m-typo{
    &_primary{
      text-align: center;
      padding-top: 50px;
      font-size: 30px;
      margin-bottom: 40px;
      color: $cl-secondary;
      @include breakpoint('tablet'){
        width: 80%;
        margin: 0px auto 80px;
      }
      @include breakpoint('desktop_big'){
        width: 60%;
      }
    }
  }
  .box{
    .m-typo{
      &_primary{
        font-size: 60px;
        padding-top: 50px;
        color: $cl-white;
        width: 100%;
      margin-bottom: 30px;
      }
      &_secondary{
        font-size: 14px;
        margin: 0 15px;
        color: $cl-white;
        line-height: 20.5px;
        letter-spacing: -0.1px;
        @include breakpoint('tablet'){
          margin: 0 5px;
        }
      }
      &_text{
        margin: 30px 15px 50px;
        font-size: 18px;
        line-height: 30px;
        @include breakpoint('tablet'){
          margin: 0;
          display: table-cell;
          vertical-align: middle;
          padding-left: 30px;
        }
      }
    }
  }
  .info-list-ul{
    .info-list-item{
      &:nth-child(even){
        .box{
          &:first-child{
            .m-typo{
              color: #000;
            }
          }
        }
      }
    }
  }
}

.m-ten-boxes, .m-subpage-six-boxes{
  .m-typo{
    &_primary{
      font-size: 30px;
      padding: 30px;
      background: $cl-primary;
      text-align: center;
      @include breakpoint('tablet'){
        margin-bottom: 40px;
        padding: 45px;
      }
      @include breakpoint('desktop_small'){
        margin-bottom: 60px;
      }
    }
    &_secondary{
      color: #000;
      padding-top: 30px;
      @include breakpoint('tablet'){
        height: 60px;
      }
      @include breakpoint('desktop_small'){
        padding-top: 40px;
      }
    }
  }
  .boxes-wrapper{
    .box{
      .m-typo{
        &_secondary{
          font-size: 24px;
          @include breakpoint('tablet'){
            font-size: 28px;
            line-height: 32px;
            height: 90px;
          }
          @include breakpoint('desktop_small'){
            line-height: 36px;
            font-size: 30px;
            height: 110px;
          }
          @include breakpoint('desktop_big'){
            height: 70px;
          }
        }
      }
    }
  }
}

.m-subpage-six-boxes{
  .m-typo{
    &_secondary{
      line-height: 32px;
      color: $cl-white;
      margin: 0;
      padding-top: 0;
      @include breakpoint('tablet'){
        max-width: 240px;
        vertical-align: middle;
        display: table-cell;
        font-size: 28px;
      }
      @include breakpoint('desktop_small'){
        padding: 0;
        font-size: 29px;
        line-height: 36px;
      }
      @include breakpoint('desktop_big'){
        font-size: 36px;
        line-height: 40px;
      }
    }
  }
  .box{
    &:hover{
      .m-typo{
        color: $cl-secondary;
      }
    }
  }
}

.m-table{
  .wrapper{
    .table{
      .m-typo{
        color: $cl-white;
        font-weight: 600;
      }
    }
    .list{
      &_item{
        .m-typo{
          text-align: left;
          &_primary{
            color: $cl-secondary;
            font-size: 24px;
            text-transform: none;
            margin-bottom: 5px;
            line-height: 22px;
            padding: 0 15px;
          }
          &_text{
            font-weight: 600;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
.m-two-boxes{
  .m-typo{
    &_primary{
      text-align: center;
      color: $cl-secondary;
      font-size: 28px;
      @include breakpoint('tablet'){
        font-size: 36px;
        margin-bottom: 60px;
      }
      @include breakpoint('desktop_big'){
        margin-bottom: 80px;
      }
    }
    &_text{
      padding: 0 15px;
      font-size: 18px;
    }
  }
}
.m-motto{
  .m-typo{
    &_primary{
      color: #000;
      text-transform: none;
      text-align: center;
      position: relative;
      z-index: 2;
      @include breakpoint('tablet'){
        min-height: 120px;
      }
      @include breakpoint('desktop_small'){
        line-height: 33px;
        font-size: 28px;
      }
    }
    &_text{
      color: $cl-secondary;
      font-weight: 600;
      font-size: 18px;
      float: right;
      @include breakpoint('tablet'){
        float: right;
      }
    }
  }
}

.subpage{
	&_training-template{
		.m-two-boxes{
			&.heading{
				.m-typo{
					&_secondary{
						margin: 15px 0;
						padding: 0 15px;
						font-size: 24px;
						text-transform: none;
						color: $cl-secondary;
						@include breakpoint('tablet'){
							margin-top: 0;
						}
					}
					&_text{
						margin-bottom: 15px;
						span{
							font-size: 24px;
						}
					}
				}
			}
		}
	}
  &_personal, &_offer, &_diet, &_plans, &_consultation, &_blog, &_whoiam, &_table-secondary, &_contact, &_vacation, &_history, &_myteam, &_personel, &_personel-price, &_training, &_recommendation, &_catering, &_blog-single, &_blog-single-text, &_article-post, &_diet-secondary, &_fit-camp{
    .m-typo{
      &_primary{
        text-align: center;
        color: #000;
        font-size: 30px;
        line-height: 38px;
        @include breakpoint('desktop_small'){
          font-size: 36px;
          line-height: 44px;
        }
      }
      &_text{
        position: relative;
        z-index: 2;
        font-weight: 600;
        padding: 0 15px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
        @include breakpoint('desktop_small'){
          width: 50%;
        }
      }
    }
    .m-table{
      .table{
        &_item{
          .m-typo{
            &_text{
              width: inherit;
            }
          }
        }
      }
      .list{
        &_item{
          .m-typo{
            &_text{
              width: 100%;
            }
          }
        }
      }
    }
  }
  &_offer{
    span{
      font-size: 24px;
      color: $cl-secondary;
    }
  }
  &_plans{
    .m-two-boxes{
      .boxes-wrapper{
        .m-typo{
          &_primary{
            color: $cl-secondary;
            text-align: center;
            font-size: 26px;
            text-transform: none;
            @include breakpoint('desktop_small'){
              font-size: 30px;
            }
          }
        }
        .box{
          &:first-of-type{
            .top{
              .m-typo{
                &_primary{
                  border-right: 1px solid $cl-white;
                }
              }
            }
            @include breakpoint('desktop_small'){
              .body{
                .m-typo{
                  &_text{
					  width: 100%;
					  display: table-cell;
					  vertical-align: middle;
                    // position: absolute;
                    // left: -350px;
                    // text-align: right;
                    // width: 210px;
                    // top: 0;
                    // @include breakpoint('desktop'){
                    //   left: -335px;
                    // }
                    // @include breakpoint('desktop_big'){
					// 	left: -380px;
					//    width: 226px;
                    // }
                    // @include breakpoint('desktop_colossal'){
                    //   left: -430px;
                    // }
                  }
                }
              }
            }
          }
          &:last-of-type{
            .top{
              .m-typo{
                &_primary{
                  border-left: 1px solid $cl-white;
                }
              }
            }
            @include breakpoint('desktop_small'){
              .body{
                .m-typo{
                  &_text{
                    display: none;
                  }
                }
              }
            }
          }
          .top{
            .m-typo{
              &_primary{
                text-transform: none;
                font-size: 20px;
                background: $cl-primary;
                padding: 12px 0;
                color: $cl-white;
                font-weight: 600;
                margin-bottom: 5px;
                @include breakpoint('tablet'){
                  font-size: 24px;
                  margin-bottom: 10px;
                }
                @include breakpoint('desktop_small'){
                  margin-bottom: 15px;
                }
              }
              &_text{
                font-size: 18px;
                color: #5a5a5a;
                margin-bottom: 15px;
                height: 55px;
                text-align: center;
                @include breakpoint('tablet'){
                  font-size: 20px;
                  margin-bottom: 40px;
                }
                @include breakpoint('desktop_small'){
                  font-size: 18px;
                  width: auto;
                }
                @include breakpoint('desktop'){
                  font-size: 22px;
                }
                @include breakpoint('desktop_big'){
                  font-size: 24px;
                }
              }
            }
          }
          .body{
            .m-typo{
              &_text{
                margin-bottom: 15px;
                line-height: 25px;
              }
            }
          }
        }
        &:nth-of-type(1n+2){
          .box{
            border: none !important;
            .m-typo{
              &_text{
                color: #5a5a5a;
                text-align: center;
                margin: 0 auto;
				@include breakpoint('desktop_small'){
					width: auto;
				}
                span{
                  font-size: 45px;
                  display: block;
                  margin: 10px 0 15px;
                }
              }
            }
          }
        }
        &:nth-of-type(2){
          .box{
            &:first-of-type{
              .m-typo{
                &_text{
                  color: $cl-white;
                  &:first-of-type{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 15px;
                    width: auto;
                  }
                  &:last-of-type{
                    position: relative;
                    top: 15px;
                    &:after{
                      content: '';
                      width: 100%;
                      height: 2px;
                      background: $cl-white;
                      display: block;
                      position: absolute;
                      top: -15px;
                      left: 0;
                      right: 0;
                      width: 140px;
                      margin: auto;
					  @include breakpoint('desktop'){
						  width: 180px;
					  }
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-of-type(1n+3){
          .m-typo{
            &_primary{
              margin-bottom: 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  &_blog{
    .cta-wrapper{
      .m-typo{
        color: $cl-white;
      }
    }
    .pagination-box{
      .pagination-ul{
        .pagination-li{
          &.active{
            .pagination-href{
              color: $cl-white;
            }
          }
          .pagination-href, .arrow{
            color: #888888;
            font-weight: 600;
            text-transform: uppercase;
          }
          .arrow{
            color: transparent;
            @include breakpoint('tablet'){
              color: #888888;
              font-size: 13px;
            }
          }
        }
      }
    }
    .m-ten-boxes{
      span{
        a{
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  &_personal{
    .m-typo{
      &_text{
        span{
          &.m-typo_text{
            padding: 0;
          }
        }
      }
    }
  }
  &_fit-camp{
    .m-tab-nav{
      .m-typo{
        &_text{
          color: $cl-secondary;
        }
      }
    }
    .heading{
      .m-typo{
        &_text{
          @include breakpoint('desktop_small'){
            width: auto;
          }
        }
      }
    }
	.m-fit-tabs{
		.m-typo{
			&_text{
				@include breakpoint('desktop_small'){
					width: auto;
				}
			}
			&_secondary{
				padding: 0 15px;
				text-transform: none;
				font-weight: 600;
				font-size: 24px;
				@include breakpoint('tablet'){
					font-size: 30px;
				}
				&.small-heading{
					font-size: 24px;
					color: $cl-secondary;
					margin: 30px 0 15px;
				}
			}
		}
	}
  }
  &_diet{
    .m-typo{
      &_primary{
        font-size: 33px;
        color: $cl-primary;
        text-align: left;
        padding: 0 15px;
        @include breakpoint('tablet'){
          font-size: 36px;
          margin-bottom: 60px;
        }
        @include breakpoint('desktop_small'){
          margin-bottom: 80px;
        }
      }
    }
    .m-ten-boxes{
      .m-typo{
        &_primary{
          font-size: 33px;
          padding: 40px 15px;
          text-align: center;
          color: $cl-white;
          @include breakpoint('tablet'){
            font-size: 36px;
            padding: 40px;
          }
        }
      }
    }
    .m-info-list{
      .m-typo{
        &_primary{
          text-align: center;
          position: relative;
          z-index: 2;
        }
      }
      .info-list-ul{
        .info-list-item{
          .wrapper{
            .box{
              .m-typo{
                &_primary{
                  padding: 50px 0 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
    .m-motto{
      .m-typo{
        &_primary{
          font-size: 25px;
          margin-bottom: 30px;
          color: #000;
          text-align: center;
          @include breakpoint('tablet'){
            font-size: 36px;
          }
        }
      }
    }
    .m-two-boxes{
      .m-typo{
        &_primary{
          text-align: center;
          color: $cl-secondary;
          font-size: 28px;
          @include breakpoint('tablet'){
            font-size: 36px;
          }
        }
        &_text{
          width: auto;
        }
      }
    }
  }
  &_consultation, &_recommendation{
    .m-typo{
      &_primary{
        color: $cl-primary;
      }
    }
    .subbox{
      .m-typo{
        &_text{
          color: #000;
          text-align: left;
          margin-bottom: 15px;
          width: auto;
          @include breakpoint('desktop_small'){
            margin-bottom: 5px;
          }
          @include breakpoint('desktop_big'){
            padding: 0 8%;
          }
          &.read-more-text{
            display: none;
            animation: fadein 2s;
            &.is-showed{
              display: block;
            }
          }
        }
        &_primary{
          font-size: 32px;
        }
      }
    }
    .read-more{
      cursor: pointer;
      float: right;
      text-transform: uppercase;
      padding: 0 15px;
      box-sizing: border-box;
      font-weight: 700;
      color: $cl-secondary;
      margin-bottom: 30px;
      @include breakpoint('desktop_big'){
        margin: 0 8% 0 30px;
      }
    }
    .price{
      .m-typo{
        &_secondary{
          margin-bottom: 40px;
          font-size: 18px;
          text-transform: none;
          span{
            font-size: 26px;
            position: relative;
            top: 10px;
            background: $cl-primary;
            color: $cl-white;
            display: inline-block;
            padding: 15px;
          }
        }
      }
    }
    .price-wrapper{
      .price{
        &:first-child, &:last-child{
          .m-typo{
            &_secondary{
              @include breakpoint('tablet'){
                min-height: 128px;
              }
              @include breakpoint('desktop'){
                min-height: 107px;
              }
            }
          }
        }
      }
    }
  }
  &_whoiam{
    .m-typo{
      .heading_text{
        color: $cl-secondary;
        font-size: 22px;
        @include breakpoint('tablet'){
            line-height: 40px;
            font-size: 30px;
        }
      }
    }
    .b-about{
      &_heading{
        .m-typo{
          &_primary{
            visibility: hidden;
          }
        }
      }
      &_boxes{
        .m-typo{
          &_primary{
            font-size: 18px;
            color: $cl-white;
            line-height: 23px;
            line-height: 30px;
          }
        }
      }
    }
  }
  &_training{
    .m-typo{
      &_secondary{
        &.heading{
          font-size: 32px;
          margin: 0 15px 30px;
          position: relative;
          z-index: 2;
          line-height: 40px;
          @include breakpoint('tablet'){
            font-size: 36px;
            line-height: 44px;
          }
        }
      }
    }
    .m-ten-boxes{
      .list{
        .m-typo{
          &_text{
            font-size: 18px;
            color: #000;
            @include breakpoint('tablet'){
              font-size: 24px;
            }
          }
        }
      }
    }
    .m-two-boxes{
      &.faq{
        .subbox{
          .m-typo{
            &_text{
              color: #000;
              line-height: 24px;
              background: #e1e1e1;
              margin-bottom: 15px;
              position: relative;
              padding: 22px 20% 22px 15px;
              @include breakpoint('desktop_small'){
                padding: 22px 25% 22px 30px;
              }
              @include breakpoint('desktop'){
                padding-right: 35%;
              }
              @include breakpoint('desktop_big'){
                padding-right: 42%
              }
              &::after{
                content: url(../images/faq-close-icon.png);
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 42px;
              }
            }
          }
          &.active{
            .m-typo{
              &_text{
                background: $cl-secondary;
                color: $cl-white;
                &::after{
                  content: url(../images/faq-icon.png);
                  height: 35px;
                }
              }
            }
          }
        }
      }
    }
    .subpage_vacation{
      .m-blog-posts{
        .post{
          .m-typo{
            &_text{
              display: none;
            }
            &_primary{
              padding-bottom: 14px;
              height: auto;
            }
          }
        }
      }
    }
  }
  &_personel-price{
    .m-table{
      .m-typo{
        &_primary{
          color: $cl-secondary;
          text-align: left;
          margin: 0 15px 30px;
          @include breakpoint('tablet'){
            margin-bottom: 60px;
          }
        }
      }
      .wrapper{
        .table{
          &_item{
            &:nth-child(n+2){
              .m-typo{
                &_text{
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
  &_diet-secondary{
    .m-ten-boxes{
      .m-typo{
        &_primary{
          color: $cl-white;
        }
      }
    }
    .m-table{
      .m-typo{
        &_primary{
          color: $cl-secondary;
          text-align: center;
          font-size: 30px;
          margin: 0 15px 30px;
          @include breakpoint('tablet'){
            margin-bottom: 60px;
          }
        }
      }
      .wrapper{
        .table{
          &_item{
            &:nth-child(n+2){
              .m-typo{
                &_text{
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
    .m-two-boxes{
      @include breakpoint('desktop_small'){
        margin-bottom: 60px;
      }
      .m-typo{
        &_primary{
          color: $cl-secondary;
          position: relative;
          z-index: 2;
        }
        &_text{
          @include breakpoint('desktop_small'){
            width: 60%;
          }
          @include breakpoint('desktop'){
            width: 65%;
          }
          &.price{
            margin-top: 40px;
            background: $cl-primary;
            color: $cl-white;
            padding: 30px 0;
            font-size: 28px;
            margin: 0 15px;
            @include breakpoint('tablet'){
              min-height: auto;
              text-align: center;
              max-width: 395px;
              margin: 60px 15px;
            }
            @include breakpoint('desktop_small'){
              font-size: 30px;
              width: 395px;
            }
          }
        }
      }
      &.faq{
        .m-typo{
          &_primary{
            font-size: 28px;
            @include breakpoint('desktop_small'){
              font-size: 30px;
            }
          }
        }
        .subbox{
          .m-typo{
            &_text{
              color: #000;
              line-height: 24px;
              background: #e1e1e1;
              margin-bottom: 15px;
              position: relative;
              padding: 22px 15% 22px 15px;
              @include breakpoint('desktop_small'){
                padding: 22px 12% 22px 30px;
                width: auto;
              }
              @include breakpoint('desktop'){
                padding-right: 8%;
              }
              &::after{
                content: url(../images/faq-close-icon.png);
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 42px;
              }
            }
          }
          &.active{
            .m-typo{
              &_text{
                background: $cl-secondary;
                color: $cl-white;
                @include breakpoint('desktop_small'){
                  width: auto;
                }
                &::after{
                  content: url(../images/faq-icon.png);
                  height: 35px;
                }
              }
            }
          }
        }
      }
      &.info{
        .m-typo{
          &_text{
            text-align: center;
            margin: 0 auto 40px;
            clear: both;
            @include breakpoint('tablet'){
              margin-bottom: 60px;
            }
          }
        }
        .boxes-wrapper{
          float: left;
          margin-bottom: 60px;
          @include breakpoint('tablet'){
            margin-bottom: 80px;
          }
          .box{
            .m-typo{
              &_primary{
                color: $cl-primary;
                margin: 30px 15px 20px;
                font-size: 28px;
                text-align: left;
                @include breakpoint('desktop_small'){
                  font-size: 30px;
                }
              }
              &_text{
                text-align: left;
                @include breakpoint('tablet'){
                  min-height: 400px;
                  margin-bottom: 20px;
                }
                @include breakpoint('tablet_big'){
                  min-height: 330px;
                }
                @include breakpoint('desktop_small'){
                  min-height: 300px;
                  width: auto;
                }
                @include breakpoint('desktop'){
                  min-height: 250px;
                }
                &.price{
                  font-size: 28px;
                  margin: 0 15px;
                  text-align: center;
                  padding: 30px 0;
                  @include breakpoint('tablet'){
                    min-height: auto;
                  }
                  @include breakpoint('desktop_small'){
                    font-size: 30px;
                    width: 395px;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }
    .m-motto{
      .text-wrapper{
        .m-typo{
          &_primary{
            @include breakpoint('tablet'){
              font-size: 28px;
              line-height: 28px;
            }
            @include breakpoint('desktop_small'){
              font-size: 35px;
              line-height: 44px;
            }
            @include breakpoint('desktop'){
              font-size: 36px;
            }
          }
        }
      }
    }
  }
  &_recommendation, &_training{
    .m-two-boxes{
      &.recommendations{
        .m-typo{
          span{
            color: $cl-secondary;
            float: left;
            margin-top: 30px;
            width: 100%;
            @include breakpoint('desktop_small'){
              margin-top: 60px;
            }
          }
        }
      }
    }
  }
  &_recommendation{
    .m-two-boxes{
      &.recommendations{
        .row{
          .m-typo{
            span{
              margin: 15px 0 20px;
              @include breakpoint('desktop_small'){
                margin: 15px 0 25px;
              }
            }
          }
          &.other-type{
            .m-typo{
              span{
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
  &_catering{
    .m-typo{
      &_text{
        a{
          color: #8dc967;
          font-size: 18px;
        }
      }
    }
    .m-ten-boxes{
      .m-typo{
        &_primary{
          color: $cl-white;
        }
        &_text{
        }
      }
      .row{
        .m-typo{
          &_secondary{
            font-size: 30px;
            color: $cl-secondary;
            margin: 0 15px 30px;
            text-transform: none;
          }
          &_text{
            @include breakpoint('desktop_small'){
              width: 70%;
            }
          }
        }
        .list{
          .m-typo{
            &_secondary{
              font-size: 24px;
              color: $cl-primary;
              margin-bottom: 20px;
              height: auto;
              padding-top: 60px;
            }
          }
        }
      }
    }
    .post-wrapper{
      .post{
        .m-typo{
          &_primary{
            color: #555365;
            font-size: 18px;
            text-transform: none;
            margin: 15px;
            line-height: 30px;
          }
        }
      }
    }
  }
  &_blog-single, &_blog-single-text, &_article-post{
    .m-two-boxes{
      .boxes-wrapper{
        .box{
          .m-typo{
            &_secondary{
              font-size: 24px;
              color: $cl-secondary;
              text-transform: none;
              margin: 0 15px 25px;
              @include breakpoint('tablet'){
                margin: 0 0 35px;
              }
              @include breakpoint('desktop_small'){
                margin: 0 15px 35px;
              }
              @include breakpoint('desktop_colossal'){
                margin: 0 0 35px;
              }
              &.small-heading{
                font-size: 24px;
                text-transform: none;
                text-align: left;
                margin: 55px 15px;
                line-height: 30px;
                padding-top: 0;
                @include breakpoint('tablet'){
                  margin: 30px 15px;
                  font-size: 30px;
                  line-height: 36px;
                }
                @include breakpoint('desktop_small'){
                  margin: 50px 15px;
                }
                @include breakpoint('desktop'){
                  margin: 80px 15px;
                }
              }
            }
          }
          .table{
            &_item{
              .m-typo{
                &_text{
                  padding-bottom: 15px;
                  @include breakpoint('desktop_colossal'){
                    padding-left: 0;
                  }
                  &:first-of-type{
                    text-align: left;
                  }
                  &:last-of-type{
                    text-align: right;
                    @include breakpoint('desktop_small'){
                      text-align: center;
                    }
                    @include breakpoint('desktop_big'){
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
          .list{
            .m-typo{
              &_text{
                padding-right: 0;
                @include breakpoint('tablet'){
                  display: inline-block;
                  float: left;
                  clear: both;
                }
              }
            }
          }
        }
      }
    }
    .m-bar{
      .boxes-wrapper{
        .box{
          .m-typo{
            &_text{
              color: #999999;
              font-size: 24px;
              margin-bottom: 0;
              @include breakpoint('desktop_small'){
                width: auto;
                display: inline-block;
              }
              span{
                color: $cl-secondary;
              }
            }
          }
          &:first-child{
            .m-typo{
              &_text{
                @include breakpoint('tablet'){
                  padding-left: 35px;
                }
                @include breakpoint('desktop_small'){
                  padding-left: 40px;
                }
              }
            }
          }
          &:last-child{
            .m-typo{
              &_text{
                @include breakpoint('tablet'){
                  padding-right: 35px;
                  text-align: right;
                }
                @include breakpoint('desktop_small'){
                  padding-right: 40px;
                  float: right;
                }
              }
            }
          }
        }
      }
    }
    .m-blog-posts{
      .m-typo{
        &_secondary{
          color: $cl-secondary;
          text-align: center;
          padding-top: 0;
          font-size: 30px;
          margin-bottom: 40px;
          text-transform: uppercase;
          @include breakpoint('tablet'){
            font-size: 32px;
            margin-bottom: 50px;
          }
          @include breakpoint('desktop_big'){
            margin-bottom: 60px;
          }
        }
      }
    }
  }
  &_article-post{
    .m-typo{
      &_text{
        word-wrap: break-word;
        @include breakpoint('tablet'){
          word-wrap: normal;
        }
      }
    }
    .m-table{
      .table{
        tbody{
          .table_item{
            .m-typo{
              &_text{
                text-align: left !important;
              }
              &.heading{
                text-align: center;
                background: $cl-primary;
              }
            }
          }
        }
      }
    }
    .m-two-boxes{
      &.regulations{
        .m-typo{
          &_text{
            width: auto;
          }
        }
      }
    }
    .m-ten-boxes{
      .m-typo{
        &_primary{
          color: $cl-white;
        }
      }
    }
    .m-typo{
      &_secondary{
        &.small-heading{
          color: $cl-secondary;
          margin: 0 15px 30px;
          padding-top: 30px;
          @include breakpoint('tablet'){
            padding-top: 40px;
          }
        }
      }
    }
    .img-wrapper{
      .m-typo{
        &_text{
          word-wrap: break-word;
          @include breakpoint('tablet'){
            text-align: center;
            padding-top: 10px;
          }
          @include breakpoint('desktop_small'){
            text-align: left;
          }
        }
      }
    }
  }
  &_blog-single-text{
    .m-two-boxes{
      .boxes-wrapper{
        .box{
          .author{
            .m-typo{
              &_text{
                width: calc(100% - 90px);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: 30px;
                @include breakpoint('tablet'){
                  height: 25px;
                }
              }
            }
          }
          .category{
            .m-typo{
              &_text{
                @include breakpoint('tablet'){
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  height: 25px;
                }
                span{
                  color: #5c5c5c;
                  padding-right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .m-ten-boxes{
      h2, h3{
        color: $cl-secondary;
        margin: 0 15px 30px;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.02em;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: .9px;
        @include breakpoint('phone'){
          font-size: 25px;
        }
      }
      p{
        position: relative;
        z-index: 2;
        font-weight: 600;
        padding: 0 15px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }
    .m-tags{
      .m-typo{
        &_text{
          span{
            color: $cl-secondary;
            a{
              color: $cl-secondary;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  &_blog-single{
    .m-two-boxes{
      &.heading{
        .box{
          .m-typo{
            &_text{
              width: auto;
            }
          }
          .rate{
            p{
              padding-left: 0;
            }
          }
          .m-tags{
            .m-typo{
              &_text{
                span{
                  color: $cl-secondary;
                  a{
                    color: $cl-secondary;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &_contact{
    .m-motto{
      .m-typo{
        &_primary{
          @include breakpoint('tablet'){
            line-height: 120px;
          }
          @include breakpoint('desktop_small'){
            line-height: 140px;
          }
        }
      }
    }
    .m-ten-boxes{
      .m-typo{
        text-align: center;
        &_primary{
          color: $cl-white;
          position: relative;
          z-index: 2;
        }
        &_text{
          @include breakpoint('desktop_small'){
            width: 80%;
            margin: 0 auto;
          }
          @include breakpoint('desktop_big'){
            width: 70%;
          }
        }
        &_secondary{
          color: $cl-secondary;
          text-transform: none;
          margin-bottom: 0;
          @include breakpoint('tablet'){
            width: 44%;
            display: inline-block;
            padding-top: 70px;
            font-size: 25px;
          }
          @include breakpoint('desktop_small'){
            font-size: 30px;
            width: 48%;
          }
          @include breakpoint('desktop'){
            width: 40%;
            font-size: 36px;
            padding-top: 100px;
          }
        }
      }
    }
    .m-two-boxes{
      .m-typo{
        text-align: center;
        &_primary{
          clear: both;
          margin-top: 50px;
          color: $cl-secondary;
          text-transform: none;
          @include breakpoint('tablet'){
            margin: 50px 0 90px;
          }
          @include breakpoint('desktop_small'){
            margin-top: 80px;
          }
        }
        &_text{
          @include breakpoint('tablet'){
            font-size: 20px;
            width: 100%;
          }
          @include breakpoint('desktop_small'){
            font-size: 24px;
          }
        }
      }
    }
    .m-four-boxes{
      .m-typo{
        &_primary{
          color: #009ee3;
          text-align: left;
          margin-bottom: 0;
          @include breakpoint('tablet'){
            font-size: 48px;
            margin-bottom: 5px;
          }
        }
        &_primary, &_secondary{
          text-transform: none;
          position: relative;
          z-index: 2;
          @include breakpoint('desktop_small'){
            margin: 0 15px;
          }
        }
        &_secondary{
          margin-bottom: 50px;
          @include breakpoint('tablet'){
            font-size: 30px;
            margin-bottom: 60px;
          }
          @include breakpoint('desktop_small'){
            margin-bottom: 100px;
          }
        }
      }
      .boxes-wrapper{
        @include breakpoint('tablet'){
          float: left;
        }
        .box{
          .m-typo{
            &_text{
              font-size: 24px;
              padding-top: 15px;
              color: #000;
              @include breakpoint('desktop_small'){
                width: auto;
              }
              span{
                font-size: 30px;
                .mail, .skype{
                  font-size: 16px;
                  color: #000;
                  @include breakpoint('desktop_small'){
                    font-size: 14px;
                  }
                  @include breakpoint('desktop_big'){
                    font-size: 17px;
                  }
                }
                .skype{
                  font-size: 14px;
                  @include breakpoint('desktop_big'){
                    font-size: 14px;
                  }
                }
              }
              a{
                padding: 0;
                span{
                  font-size: 30px;
                }
              }
            }
          }
          &:nth-child(3){
            .m-typo{
              &_text{
                span{
                  font-size: 16px;
                  @include breakpoint('desktop_small'){
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &_vacation{
    .m-ten-boxes{
      .m-typo{
        &_primary{
          color: $cl-white;
          @include breakpoint('desktop_small'){
            margin-bottom: 95px;
          }
          @include breakpoint('desktop'){
            margin-bottom: 120px;
          }
        }
        &_secondary{
          color: $cl-secondary;
          font-size: 30px;
          text-align: center;
          margin: 55px 0;
          line-height: 36px;
          @include breakpoint('tablet'){
            line-height: 42px;
            font-size: 36px;
            text-align: center;
            margin: 30px 0;
          }
          @include breakpoint('desktop_small'){
            margin: 50px 0;
          }
          @include breakpoint('desktop'){
            margin: 80px 0;
          }
        }
        &_text{
          @include breakpoint('desktop_small'){
            width: 60%;
          }
          @include breakpoint('desktop'){
            width: 65%;
          }
        }
      }
    }
  }

  &_history{
    .m-motto{
      .m-typo{
        &_primary{
          font-size: 24px;
          line-height: 29px;
          @include breakpoint('desktop_small'){
            font-size: 32px;
            line-height: 40px;
          }
          @include breakpoint('desktop'){
            font-size: 36px;
            line-height: 44px;
          }
        }
      }
    }
    .m-two-boxes, .m-ten-boxes{
      .m-typo{
        &_primary{
          color: $cl-white;
          clear: both;
          position: relative;
          z-index: 2;
        }
        &_secondary{
          color: $cl-secondary;
          font-size: 30px;
          text-align: center;
          margin: 55px 0;
          line-height: 36px;
          @include breakpoint('tablet'){
            line-height: 42px;
            font-size: 36px;
            text-align: center;
            margin: 30px 0;
            height: auto;
          }
          @include breakpoint('desktop_small'){
            margin: 50px 0;
          }
          @include breakpoint('desktop'){
            margin: 80px 0;
          }
          &.small-heading{
            font-size: 24px;
            text-transform: none;
            text-align: left;
            margin: 55px 15px;
            line-height: 30px;
            padding-top: 0;
            @include breakpoint('tablet'){
              margin: 30px 15px;
              font-size: 30px;
              line-height: 36px;
            }
            @include breakpoint('desktop_small'){
              margin: 50px 15px;
            }
            @include breakpoint('desktop'){
              margin: 80px 15px;
            }
          }
        }
      }
    }
    .m-two-boxes{
      .m-typo{
        &_primary{
          background: $cl-primary;
          padding: 30px;
          @include breakpoint('tablet'){
            padding: 45px;
          }
        }
        &_text{
          width: auto;
        }
      }
    }
    .m-ten-boxes{
      .m-typo{
        &_text{
          @include breakpoint('desktop_big'){
            width: 55%;
          }
          &.full-width{
            width: auto;
          }
        }
        &_primary{
          word-wrap:break-word;
        }
      }
      &.hero{
        .m-typo{
          &_text{
            @include breakpoint('desktop_big'){
              width: 65%;
            }
          }
        }
      }
    }
    .b-about{
      &_heading{
        .m-typo{
          &_primary{
            visibility: hidden;
          }
        }
      }
      &_boxes{
        .m-typo{
          &_primary{
            font-size: 18px;
            color: $cl-white;
            line-height: 23px;
            line-height: 30px;
          }
        }
      }
    }
    .m-typo{
      &_text{
        &.large{
          @include breakpoint('desktop_small'){
            width: 65%;
          }
          @include breakpoint('desktop_big'){
            width: 70%;
          }
          @include breakpoint('desktop_colossal'){
            width: 73%;
          }
          a{
            color: $cl-secondary;
            font-size: 18px;
          }
        }
      }
    }
  }
  &_whoiam, &_myteam, &_training, &_recommendation{
    .m-two-boxes{
      .m-typo{
        &_primary{
          color: $cl-secondary;
        }
        &_text{
          width: initial;
        }
      }
    }
    .m-ten-boxes{
      .m-typo{
        &_primary{
          color: $cl-white;
        }
      }
    }
  }
  &_myteam{
    .m-ten-boxes{
      .m-typo{
        &.non-bg{
          color: $cl-secondary;
          background: transparent;
        }
      }
    }
  }
}

.m-three-boxes, .m-blog-posts{
  .m-typo{
    &_primary{
      font-size: 18px;
      color: #555365;
      font-weight: 700;
      text-align: left;
      line-height: 27px;
      text-transform: none;
      margin-bottom: 5px;
      padding: 10px 15px;
      @include breakpoint('desktop_small'){
        padding: 14px 35px 0;
      }
      @include breakpoint('desktop'){
        min-height: 81px;
      }
      @include breakpoint('desktop_big'){
        min-height: inherit;
      }
    }
    &_text{
      font-size: 15px;
      color: #9a98a0;
      padding-bottom: 25px;
      @include breakpoint('desktop_small'){
          width: initial;
          padding: 0 35px 17.5px;
          line-height: 25px;
      }
    }
  }
  .subbox{
    &:nth-child(-n+2){
      .m-typo{
        &_primary{
          @include breakpoint('tablet'){
            height: 81px;
          }
          @include breakpoint('desktop'){
            height: 54px;
          }
        }
        &_text{
          @include breakpoint('tablet'){
            height: 90px;
          }
          @include breakpoint('desktop_small'){
            height: 100px;
          }
          @include breakpoint('desktop'){
            height: 75px;
          }
        }
      }
    }
    &:last-child{
      .m-typo{
        &_primary{
          @include breakpoint('desktop_small'){
            line-height: 40px;
            font-size: 28px;
            padding: 40px 35px 80px;
            height: 80px;
          }
          @include breakpoint('desktop'){
            padding: 40px 20% 40px 35px;
          }
        }
        &_text{
          @include breakpoint('desktop_small'){
            min-height: 204px;
          }
          @include breakpoint('desktop'){
            min-height: 193px;
          }
          @include breakpoint('desktop_big'){
            min-height: 139px;
          }
        }
      }
    }
  }
}
.m-blog-posts{
  .m-typo{
    &_primary{
      @include breakpoint('desktop_small'){
        height: 84px;
      }
      @include breakpoint('desktop'){
        height: 54px;
      }
    }
    &_text{
      @include breakpoint('desktop_small'){
        height: 95px;
      }
      @include breakpoint('desktop'){
        height: 75px;
      }
    }
  }
}
.m-blog-info{
  .m-typo{
    &_text{
      font-size: 12px;
      color: #ddd;
      line-height: 20px;
      padding-top: 25px;
      @include breakpoint('tablet'){
        font-size: 10px;
        line-height: 16px;
      }
      @include breakpoint('desktop_small'){
        width: inherit;
      }
    }
  }
  a{
    font-size: 12px;
    color: #ddd;
    line-height: 20px;
    padding-top: 0;
    @include breakpoint('tablet'){
      font-size: 10px;
      line-height: 16px;
    }
  }
}

.m-banners{
	.box{
		.m-typo{
			&_primary{
				font-size: 25px;
			    line-height: 36px;
			    margin-bottom: 20px;
			}
		}
		&:first-of-type{
			.m-typo{
				&_secondary{
					display: inline-block;
				    font-size: 12px;
				    color: $cl-white;
				    background: $cl-secondary;
				    padding: 2px 12px;
					margin-bottom: 0;
					left: 15px;
					top: 15px;
					position: absolute;
					@include breakpoint('tablet'){
						left: 25px;
						top: 25px;
					}
				}
				&_text{
					color: $cl-white;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 500;
				    max-width: 870px;
				    margin-bottom: 15px;
				}
			}
		}
		&:nth-child(n+2){
			.m-typo{
				&_primary{
					word-break: break-all;
					line-height: 32px;
					margin-bottom: 15px;
				}
				&_text{
					color: $cl-white;
					font-size: 25px;
					font-weight: 600;
					span{
						font-size: 40px;
					}
				}
			}
		}
	}
	.payment-info{
		.m-typo{
			&_primary{
				color: $cl-primary;
				font-size: 25px;
				margin-bottom: 45px;
			}
			&_text{
				font-size: 16px;
			    font-weight: 600;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}

.b-footer {
  .m-typo {
    &_secondary {
      color: $cl-secondary;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 38px;
      cursor: pointer;
      @include breakpoint('desktop_small') {
        cursor: default;
      }
    }
    &_text {
      color: $cl-white;
      margin-bottom: 15px;
      strong {
        letter-spacing: 0.02em;
        font-weight: 600;
      }
    }
  }
}
