.woocommerce{
  .cart-empty{
    background: #ebe9eb;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
  }
  .return-to-shop{
    a{
      &.button{
        line-height: 40px;
        background: $cl-white;
        border-radius: 0;
        color: $cl-secondary;
        border: 2px solid $cl-secondary;
        margin: 15px 0 30px;
        &:hover{
          background: $cl-white;
          color: $cl-secondary;
        }
      }
    }
  }

  .woocommerce-Message, .woocommerce-message{
    line-height: 60px;
    font-weight: 500;
    a{
      &.button{
        line-height: 40px;
        background: $cl-white;
        border-radius: 0;
        color: $cl-secondary;
        &:hover{
          background: $cl-white;
          color: $cl-secondary;
        }
      }
      &.restore-item{
        font-size: 18px;
        font-weight: 500;
        color: $cl-primary;
      }
    }
  }

  &-message, &-error, &-info, &-notice{
    margin: 0 0 1.5em !important;
    background-color: #55d14d !important;
    text-align: center;
    color: $cl-white !important;
    text-transform: uppercase;
    border-top: 0 !important;
    padding: .7em 15px !important;
    &::before{
      display: none !important;
    }
  }
  &-error{
    background-color: red !important;
  }
  &-info{
    background-color: $cl-secondary !important;
    a{
      font-weight: 600;
      font-size: 17px;
    }
  }
  .product-remove{
    @include breakpoint('tablet'){
      border-left: 2px solid #dcdcdc !important;
    }
  }
  .product-subtotal{
    @include breakpoint('tablet'){
      border-right: 2px solid #dcdcdc !important;
    }
  }
  .shop_table{
    border-radius: 0 !important;
    border-top: 2px solid #dcdcdc !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    .product-thumbnail{
      display: none !important;
    }
    .cart_item{
      font-weight: 500;
      @include breakpoint('tablet'){
        height: 80px;
      }
      @include breakpoint('desktop_small'){
        height: 100px;
      }
      .product-remove{
        @include breakpoint('tablet'){
          border-top: 2px solid #dcdcdc !important;
          width: 6%;
        }
        @include breakpoint('desktop_small'){
          width: 6%;
        }
        a{
          @include breakpoint('desktop_small'){
            margin: 0 auto;
          }
        }
      }
      .product-name, .product-price, .product-quantity, .product-subtotal{
        padding: 15px 12px;
        border-top: 2px solid #dcdcdc !important;
      }
      .product-quantity{
        .quantity{
          input[type='number'] {
             border-color: $cl-secondary;
            padding: 12px 0;
            color: $cl-primary;
            -moz-appearance:textfield;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
              -webkit-appearance: none;
          }
        }
      }
    }
    .actions{
      border-top: 2px solid #dcdcdc !important;
      @include breakpoint('tablet'){
        clear: both;
        padding: 15px 12px;
      }
      @include breakpoint('desktop_small'){
        padding: 20px 0 5px;
      }
      .coupon{
        .input-text{
          width: 100% !important;
          height: 60px;
          border: 2px solid $cl-secondary !important;
          padding: 6px 18px 5px !important;
          font-size: 15px !important;
          font-weight: 600 !important;
          @include breakpoint('tablet'){
            width: 32% !important;
          }
          @include breakpoint('desktop_small'){
              width: inherit !important;
          }
        }
        .input-text::-webkit-input-placeholder {
          font-size: 15px;
          color: $cl-primary;
          font-weight: 600;
        }
        .input-text::-moz-placeholder {
          font-size: 15px;
          color: $cl-primary;
          font-weight: 600;
        } /* firefox 19+ */
        .input-text:-ms-input-placeholder {
          font-size: 15px;
          color: $cl-primary;
          font-weight: 600;
        } /* ie */
        .input-text:-moz-placeholder {
          font-size: 15px;
          color: $cl-primary;
          font-weight: 600;
        }
        .button{
          @include breakpoint('tablet'){
            float: left !important;
            width: 32% !important;
            margin-top: 0 !important;
          }
          @include breakpoint('desktop_small'){
            width: inherit !important;
          }
        }
      }
      .button{
        font-family: 'Montserrat', sans-serif !important;
        opacity: 1 !important;
        font-size: 15px;
        border-radius: 0;
        height: 60px;
        width: 100% !important;
        color: $cl-white !important;
        background: $cl-secondary !important;
        margin-top: 10px;
        @include breakpoint('tablet'){
          padding: .618em 2em !important;
        }
        @include breakpoint('desktop_small'){
          margin-top: 0;
          width: inherit !important;
          padding: .618em 3em !important;
        }
      }
    }
  }
  .cart-collaterals{
    margin-top: 35px;
    .cart_totals{
      h2{
        color: $cl-secondary;
        font-weight: 600;
        margin-bottom: 25px;
      }
      @include breakpoint('desktop_small'){
        width: 40% !important;
      }
      @include breakpoint('desktop_big'){
        width: 32% !important;
      }
      @include breakpoint('desktop_colossal'){
        width: 30% !important;
      }
      .shop_table{
        border: 2px solid #dcdcdc !important;
        .cart-subtotal{
          th{
            font-weight: 500;
          }
        }
        .order-total{
          text-transform: uppercase;
          th{
            font-weight: 600 !important;
            border-top: 2px solid #dcdcdc !important;
          }
          td{
            border-top: 2px solid #dcdcdc !important;
            strong{
              span{
                font-weight: 600 !important;
                text-transform: none;
              }
            }
          }
        }
        .cart-subtotal, .order-total{
          @include breakpoint('desktop_small'){
            height: 60px;
          }
          th{
            @include breakpoint('desktop_small'){
              vertical-align: middle;
            }
          }
          td{
            padding: 12px;
            @include breakpoint('desktop_small'){
              padding: 6px 12px;
              vertical-align: middle;
            }
          }
        }
      }
      .wc-proceed-to-checkout{
        .checkout-button{
          font-size: 15px;
          box-sizing: border-box;
          line-height: 28px;
          border-radius: 0;
          height: 60px;
          width: 100% !important;
          color: $cl-white !important;
          background: $cl-secondary !important;
          margin-top: 10px;
          @include breakpoint('tablet'){
            padding: .618em 2em !important;
            line-height: 41px;
            width: inherit !important;
            float: right;
          }
          @include breakpoint('desktop_small'){
            margin-top: 0;
            padding: .618em 3em !important;
          }
        }
        .woo_pp_cart_buttons_div{
          display: none !important;
        }
      }
    }
  }

  // step 2

  .col-1{
    @include breakpoint('tablet'){
      width: 100% !important;
    }
    @include breakpoint('desktop_small'){
      width: 60% !important;
    }
    .woocommerce-billing-fields{
      h3{
        font-size: 24px;
        font-weight: 600;
        color: $cl-secondary;
        margin: 30px 0 15px;
        @include breakpoint('tablet'){
          font-size: 26px;
        }
      }
      &__field-wrapper{
        .form-row{
          width: 100%;
          float: left;
          padding: 0;
          height: 90px;
          @include breakpoint('tablet'){
            width: 35%;
            clear: none;
            margin-right: 10px;
          }
          &:nth-child(4){
            @include breakpoint('tablet'){
              clear: left;
            }
          }
          &:nth-child(5){
            @include breakpoint('tablet'){
              clear: left;
            }
          }
          input{
            height: 60px;
            width: 100%;
            border: 2px solid $cl-secondary;
            font-size: 15px;
            padding-left: 15px;
            color: $cl-primary;
            font-weight: 600;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: $cl-primary;
              font-weight: 600;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: $cl-primary;
              font-weight: 600;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: $cl-primary;
              font-weight: 600;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $cl-primary;
              font-weight: 600;
            }
          }
          .select2-container{
            .selection{
              .select2-selection{
                border: 2px solid $cl-secondary;
                border-radius: 0;
                padding: 14px 0 14px 15px;
                height: auto;
                .select2-selection__arrow{
                  top: 12px;
                  right: 15px;
                  b{
                    border: solid $cl-secondary;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                  }
                }
              }
            }
            .select2-dropdown{
              border: 2px solid #dcdcdc;
              border-radius: 0;
              .select2-search{
                &__field{
                  border: 2px solid #dcdcdc;
                }
              }
            }
          }
          select{
            border: 2px solid $cl-secondary;
            border-radius: 0;
            padding: 14px 0 14px 15px;
            height: auto;
            background: $cl-white;
            font-size: 15px;
            font-weight: 600;
            color: $cl-primary;
            height: 60px;
          }
        }
      }
    }
    .woocommerce-account-fields{
      input{
        @include breakpoint('tablet'){
          max-width: 295px;
        }
      }
      label{
        font-weight: 500;
        font-size: 18px;
        color: $cl-secondary;
        @include breakpoint('tablet'){
          font-size: 20px;
        }
      }
      #account_password{
        height: 60px;
        width: 100%;
        border: 2px solid $cl-secondary;
        font-size: 15px;
        padding-left: 15px;
        color: $cl-primary;
        font-weight: 600;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $cl-primary;
          font-weight: 600;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $cl-primary;
          font-weight: 600;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $cl-primary;
          font-weight: 600;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $cl-primary;
          font-weight: 600;
        }
      }
    }
  }



.col-2{
  @include breakpoint('tablet'){
    width: 100% !important;
  }
  @include breakpoint('desktop_small'){
    width: 40% !important;
  }
  .woocommerce-additional-fields{
    h3{
      font-size: 24px;
      font-weight: 600;
      color: $cl-secondary;
      margin: 30px 0 15px;
      @include breakpoint('tablet'){
        font-size: 26px;
      }
      @include breakpoint('desktop_small'){
        margin: 40px 0 30px;
      }
    }
    &__field-wrapper{
      .form-row{
        label{
          font-weight: 500;
          font-size: 18px;
          color: $cl-secondary;
          @include breakpoint('tablet'){
            font-size: 20px;
          }
        }
        textarea{
          height: 6em;
          color: $cl-primary;
          padding: 5px 10px;
          border: 2px solid $cl-secondary;
          font-size: 15px;
          color: $cl-primary;
          font-family: 'Montserrat', sans-serif !important;
          font-weight: 600;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $cl-primary;
            font-size: 15px;
            font-weight: 600;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $cl-primary;
            font-size: 15px;
            font-weight: 600;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $cl-primary;
            font-size: 15px;
            font-weight: 600;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $cl-primary;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

#payment{
  .wc_payment_methods{
    min-height: 260px;
  }
}

  #order_review_heading{
      font-size: 24px;
      font-weight: 600;
      color: $cl-secondary;
      margin: 30px 0 15px;
      @include breakpoint('tablet'){
        font-size: 26px;
      }
      @include breakpoint('desktop_small'){
        margin: 40px 0 30px;
      }
  }

  .woocommerce-checkout-review-order{
    @include breakpoint('desktop_small'){
      width: 40%;
    }
    .shop_table{
      border: 2px solid #dcdcdc !important;
      thead{
        tr{
          th{
            padding: 15px 12px;
            &:first-of-type{
              @include breakpoint('tablet'){
                  padding-left: 20px;
              }
              @include breakpoint('desktop_small'){
                  padding-left: 25px;
              }
            }
          }
        }
      }
      tbody{
        tr{
          height: auto;
          td, th{
            border-top: 2px solid #dcdcdc !important;
          }
          td{
            &:first-of-type{
              @include breakpoint('tablet'){
                  padding-left: 20px !important;
              }
              @include breakpoint('desktop_small'){
                  padding-left: 25px !important;
              }
            }
            .product-quantity{
              border-top: 0 !important;
              font-weight: 500;
              padding: 15px 0 15px 4px;
            }
          }
        }
      }
      tfoot{
        tr{
          td, th{
            border-top: 2px solid #dcdcdc !important;
          }
          th{
            padding: 15px 12px;
            @include breakpoint('tablet'){
                padding-left: 20px;
            }
            @include breakpoint('desktop_small'){
                padding-left: 25px;
            }
          }
          &:last-of-type{
            th{
              text-transform: uppercase;
            }
            td{
              strong{
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    .woocommerce-checkout-payment{
      background: transparent !important;
      .wc_payment_methods{
        .wc_payment_method{
          input[type=radio] {
            display: none;
          }
          input[type=radio] label {
            position: relative;
            cursor: pointer;
          }
          input[type=radio] + label:before {
              content: '';
              display:inline-block;
              width:14px;
              height:14px;
              margin: -2px 8px 0 8px;
              vertical-align:middle;
              cursor:pointer;
              border-radius:  50%;
              background-color: #fff;
              border: 2px solid $cl-secondary;
          }
          input[type=radio]:checked + label {
              position: relative;
              &:after {
                content: "";
                position: absolute;
                top: 4px;
                left: 10px;
                width: 10px;
                height: 10px;
                border: none;
                display: inline-block;
                border-radius: 100%;
                border: 2px solid $cl-white;
                cursor:pointer;
                background-color: $cl-secondary;
              }
            &:before {
              background-color: $cl-secondary;
            }
          }
        }
        label{
          font-weight: 600;
        }
      }
      .form-row{
        .button{
          font-family: 'Montserrat', sans-serif !important;
          opacity: 1 !important;
          font-size: 15px;
          border-radius: 0;
          height: 60px;
          width: 100% !important;
          color: $cl-white !important;
          background: $cl-secondary !important;
          margin-top: 10px;
          @include breakpoint('tablet'){
            padding: .618em 2em !important;
          }
          @include breakpoint('desktop_small'){
            margin-top: 0;
            width: inherit !important;
            padding: .618em 3em !important;
          }
        }
      }
    }
  }

  // step 3
  &-order{
    .woocommerce-order-overview{
      margin-top: 50px !important;
      @include breakpoint('desktop_small'){
        margin-top: 70px !important;
        margin-bottom: 20px !important;
      }
      li{
        border-right: 0 !important;
        margin-bottom: 15px;
        color: $cl-secondary;
        text-transform: none !important;
        font-weight: 600;
        font-size: 15px !important;
        @include breakpoint('tablet'){
          width: 25%;
        }
        @include breakpoint('desktop_small'){
          width: auto;
          margin-right: 50px !important;
          padding-right: 0 !important;
        }
        @include breakpoint('desktop_big'){
          margin-right: 70px !important;
        }
        strong{
          font-weight: 600;
          color: $cl-primary;
          padding-top: 4px;
          @include breakpoint('tablet'){
            font-size: 15px !important;
          }
          @include breakpoint('desktop_small'){
            padding-top: 10px;
          }
        }
      }
    }

    .woocommerce-order-details{
      @include breakpoint('tablet'){
        width: 50%;
        float: left;
        margin-right: 40px;
      }
      h2{
        font-size: 24px;
        font-weight: 600;
        color: $cl-secondary;
        margin: 30px 0 15px;
        @include breakpoint('tablet'){
          font-size: 26px;
        }
        @include breakpoint('desktop_small'){
          margin: 40px 0 30px;
        }
      }
      .woocommerce-table{
        border: 2px solid #dcdcdc !important;
        thead{
          tr{
            th{
              padding: 15px 12px;
              &:first-of-type{
                @include breakpoint('tablet'){
                    padding-left: 20px;
                }
                @include breakpoint('desktop_small'){
                    padding-left: 25px;
                }
              }
            }
          }
        }
        tbody{
          tr{
            height: auto;
            td, th{
              border-top: 2px solid #dcdcdc !important;
            }
            td{
              &:first-of-type{
                @include breakpoint('tablet'){
                    padding-left: 20px !important;
                }
                @include breakpoint('desktop_small'){
                    padding-left: 25px !important;
                }
              }
              .product-quantity{
                border-top: 0 !important;
                font-weight: 500;
                padding: 15px 0 15px 4px;
              }
            }
          }
        }
        tfoot{
          tr{
            td, th{
              border-top: 2px solid #dcdcdc !important;
            }
            th{
              padding: 15px 12px;
              @include breakpoint('tablet'){
                  padding-left: 20px;
              }
              @include breakpoint('desktop_small'){
                  padding-left: 25px;
              }
            }
            &:last-of-type{
              th{
                text-transform: uppercase;
              }
              td{
                strong{
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }

    .woocommerce-customer-details{
      @include breakpoint('tablet'){
        width: 40%;
        float: left;
      }
      h2{
        font-size: 24px;
        font-weight: 600;
        color: $cl-secondary;
        margin: 30px 0 15px;
        @include breakpoint('tablet'){
          font-size: 26px;
        }
        @include breakpoint('desktop_small'){
          margin: 40px 0 30px;
        }
      }
      address{
        margin-left: 0;
        padding: 0 !important;
        border: 0 !important;
        box-sizing: border-box;
        font-weight: 500;
        color: $cl-primary;
      }
    }
  }
  &-MyAccount-navigation{
    @include breakpoint('tablet'){
      width: 30% !important;
      float: left !important;
      display: inline-block;
    }
    ul{
      border-bottom: 2px solid $cl-secondary;
      padding-bottom: 15px;
      margin-bottom: 25px;
      @include breakpoint('tablet'){
        border-bottom: none;
        border-right: 2px solid $cl-secondary;
        padding-bottom: 100px;
      }
      li{
        margin-bottom: 10px;
        a{
          font-size: 18px;
          font-weight: 500;
        }
        &.is-active{
          a{
            font-weight: 700;
          }
        }
      }
    }
  }
  &-MyAccount-content{
    @include breakpoint('tablet'){
      display: inline-block;
      width: 70% !important;
      float: left !important;
      padding-left: 50px;
      box-sizing: border-box !important;
    }
    p{
      &:first-of-type{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        strong{
          font-weight: 500;
        }
      }
      &:nth-of-type(2){
        font-size: 18px;
        font-weight: 700;
        a{
          color: $cl-secondary;
          font-size: 18px;
        }
      }
    }
    .woocommerce-orders-table{
      border: 2px solid #dcdcdc !important;
      thead{
        tr{
          th{
            font-size: 18px;
            @include breakpoint('desktop_small'){
              padding: 15px 8px;
            }
          }
          .woocommerce-orders-table__header-order-number{
            @include breakpoint('desktop_small'){
              padding-left: 30px;
            }
          }
          .woocommerce-orders-table__header-order-actions{
            display: none;
          }
        }
      }
      tbody{
        tr{
          clear: both;
          td{
            padding: 15px 8px;
            font-weight: 500;
            border-top: 2px solid #dcdcdc !important;
            font-size: 18px;
          }
        }
        .woocommerce-orders-table__cell-order-actions{
          display: none;
        }
        .woocommerce-orders-table__cell-order-number{
          @include breakpoint('desktop_small'){
            padding-left: 30px;
          }
          a{
            font-size: 18px;
          }
        }
      }
    }
    .woocommerce-Addresses{
      .col-1, .col-2{
        .title{
          h3{
            font-weight: 700;
            margin-bottom: 15px;
          }
          a{
            padding: 10px 15px;
            background: $cl-secondary;
            color: $cl-white;
            font-weight: 500;
          }
        }
        address{
          font-weight: 500;
        }
      }
      .col-1{
        margin-bottom: 20px;
        @include breakpoint('tablet'){
          margin-bottom: 0;
        }
      }
    }
    .woocommerce-EditAccountForm{
      @include breakpoint('desktop_small'){
        width: 80%;
      }
      @include breakpoint('desktop'){
        width: 60%;
      }
      @include breakpoint('desktop_big'){
        width: 50%;
      }
      p{
        input{
          height: 60px;
          border: 2px solid $cl-secondary;
          font-size: 18px;
          color: $cl-primary;
          padding-left: 15px;
          &.button{
            background: $cl-secondary;
            color: $cl-white;
            border-radius: 0;
            margin-top: 15px;
          }
        }
      }
      fieldset{
        legend{
          font-weight: 700;
          padding: 20px 0;
        }
      }
    }
  }
  pre{
    width: 100%;
    overflow: hidden;
  }
}
