.beer-module{
	&-presentation{
		padding: 40px 0;
		@include breakpoint('tablet'){
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding: 60px 0 40px;
		}
		&_bottle, &_name{
			&-img{
				max-width: 80%;
				margin: 0 auto;
				display: block;
				@include breakpoint('tablet'){
					margin: unset;
					transition: .3s all;
				}
			}
		}
		&_name{
			&-img{
				margin-bottom: 40px;
				@include breakpoint('tablet'){
					margin-bottom: 0;
				}
				@include breakpoint('desktop_small'){
					margin: 0px 5px 0 15px;
					max-width: 70%;
				}
				@include breakpoint('desktop'){
					max-width: none;
					width: auto;
					margin: 0;
				}
			}
		}
		&_bottle{
			position: relative;
			&:hover{
				&:after{
					@include breakpoint('tablet'){
						opacity: .3;
						transform: scale(1);
					}
				}
			}
			&::after{
				@include breakpoint('tablet'){
					content: '';
					background-image: url(../images/shadow.png);
					background-position: center;
					background-size: cover;
					position: absolute;
					bottom: -6px; left: 0; right: 0;
					margin: auto;
					width: 76px;
					height: 28px;
					z-index: -1;
					transition: .3s all;
					opacity: 0;
					transform: scale(.6);
				}
			}
			&-img{
				height: 260px;
				@include breakpoint('tablet'){
					position: relative;
					bottom: 0;
					max-width: none;
				}
				@include breakpoint('desktop_small'){
					height: 305px;
				}
				&:hover{
					@include breakpoint('tablet'){
						bottom: 15px;
					}
				}
			}
		}
	}
	&-descr{
		padding: 0 0 60px;
		@include breakpoint('desktop_small'){
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		    align-items: center;
			justify-content: center;
		}
	}
	&-presentation, &-descr{
		@include breakpoint('desktop_small'){
			width: 50%;
			padding: 52px 0 42px 0;
		}
	}
	&-ilustration{
		height: 240px;
	    background-position: center;
	    background-size: cover;
		@include breakpoint('tablet'){
			height: 380px;
		}
		@include breakpoint('desktop_small'){
			height: 600px;
		}
		&_bottle{
			display: none;
			@include breakpoint('tablet'){
				display: block;
				position: absolute;
				height: 440px;
				left: 60px; top: -30px;
				transform: rotate(-15deg);
			}
			@include breakpoint('desktop_small'){
				height: auto;
				left: 150px;
			}
		}
	}
	.content-wrapper{
		@include breakpoint('tablet'){
			position: relative;
		}
		@include breakpoint('desktop_small'){
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}
	}
	.bottle-scene{
		display: none;
		@include breakpoint('tablet'){
			display: inherit;
			transform: rotate(-20deg) !important;
			top: -90px; left: 10%;
			width: 50%;
		}
		@include breakpoint('desktop_small'){
			display: inline-block;
			top: -100px;
		}
	}
	&:nth-child(2n + 1){
		.content-wrapper{
			flex-direction: row-reverse;
			.beer-module{
				&-presentation{
					flex-direction: row-reverse;
					&_name{
						@include breakpoint('desktop_small'){
							margin: 0px 15px 0 5px;
						}
						@include breakpoint('desktop'){
							margin: 0;
						}
					}
				}
			}
			.bottle-scene{
				@include breakpoint('tablet'){
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					flex-direction: row-reverse;
					transform: rotate(20deg) !important;
					right: -38%;
					left: auto;
				}
				@include breakpoint('desktop_small'){
					right: 10%;
				}
			}
		}
	}
}
