.footer{
	padding: 40px 0 15px;
	@include breakpoint('tablet'){
		padding: 85px 0 0;
	}
	@include breakpoint('desktop_small'){
		padding: 135px 0 0;
	}
	&-bottles{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	    justify-content: space-around;
		flex-wrap: wrap;
		@include breakpoint('desktop_small'){
		    width: 65%;
			justify-content: space-between;
		    margin: 0 auto;
		}
		&_item{
			position: relative;
			&:hover{
				&:after{
					@include breakpoint('tablet'){
						opacity: .3;
						transform: scale(1);
					}
				}
			}
			&::after{
				@include breakpoint('tablet'){
					content: '';
					background-image: url(../images/shadow.png);
					background-position: center;
					background-size: cover;
					position: absolute;
					bottom: 0; left: 0; right: 0;
					margin: auto;
					width: 76px;
					height: 28px;
					z-index: -1;
					transition: .3s all;
					opacity: 0;
					transform: scale(.6);
				}
			}
			&-img{
				height: 300px;
				transition: .3s all;
				@include breakpoint('tablet'){
					position: relative;
					bottom: 0;
				}
				@include breakpoint('desktop_small'){
					height: 345px;
				}
				&:hover{
					@include breakpoint('tablet'){
						bottom: 15px;
					}
				}
			}
		}
	}
	&-brand-info{
		text-align: center;
		&_logo{
			margin: 40px 0 25px;
			@include breakpoint('desktop_small'){
				margin: 50px 0 25px;
			}
		}
	}
}
