.header{
	box-sizing: border-box;
	height: auto;
	min-height: 100vh;
	border-bottom: 7px solid $cl-gray;
	padding-bottom: 115px;
	position: relative;
	@include breakpoint('desktop_small'){
		padding-bottom: 115px;
	}
	&-arrow{
		position: absolute;
		bottom: 15px; left: 0; right: 0;
    	text-align: center;
		&_img{
			width: 60px;
			transform: rotate(-90deg);
		}
	}
	&_img{
		max-width: 80%;
		margin: 0 auto;
		display: block;
		padding-top: 20px;
		@include breakpoint('tablet'){
			padding-top: 75px;
		}
		@include breakpoint('desktop_small'){
			padding-top: 96px;
		}
	}
	.content-wrapper{
		@include breakpoint('tablet'){
			position: relative;
		}
		&::after{
			@include breakpoint('tablet'){
				content: url('../images/header_hop.png');
				position: absolute;
				top: -21px; left: -30px;
				transform: scale(0.9);
			}
			@include breakpoint('desktop_small'){
				left: 82px; top: 0px;
				transform: scale(1);
			}
		}
		&::before{
			@include breakpoint('tablet'){
				content: url('../images/header_wheat.png');
				position: absolute;
				top: -100px; right: -40px;
				transform: scale(0.8);
			}
			@include breakpoint('desktop_small'){
				right: 74px; top: -60px;
				transform: scale(1);
			}
		}
	}
}
