/**
 * Wordpress template created for "Nature House"
 *
 * Version 1.0
 * Date: 26.09.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 *
 * Colors variables
 *
*/

 $cl-white: rgba(255,255,255,1);
 $cl-primary: rgba(15,170,172,1);
 $cl-secondary: rgba(45,45,45,1);
 $cl-tertiary: rgba(211,243,244,1);
 $cl-quaternary: rgba(5,119,120,1);
 $cl-dark-primary: rgba(0,139,138,1);
 $cl-bright-primary: rgba(241,251,251, 1);
 $cl-gray: rgba(243,243,243,1);
 $cl-grayEB: rgb(235, 235, 235);
 $cl-orange: rgb(255, 124, 0);

 body,
 html,
 a {
   color: $cl-primary;
   font-size: 14px;
   line-height: 24px;
   text-decoration: none;
 }

 body{
   &.is-open{
     overflow: hidden;
   }
   @include breakpoint('desktop_small'){
     margin: 0 5%;
     overflow-x: hidden;
   }
 }
 .wpcf7-not-valid-tip{
   display: none !important;
 }
 .wpcf7-response-output{
    display: block;
    margin: 0 15px !important;
    border: 1px solid $cl-white !important;
    color: $cl-white;
    font-family: 'Roboto Condensed', sans-serif;
    @include breakpoint('tablet'){
      position: absolute;
      top: 105px;
      right: 0;
      left: 0;
    }
    @include breakpoint('desktop_small'){
      top: 125px;
    }
    @include breakpoint('desktop_big'){
      top: 100px;
    }
 }

 .b-article-text{
   span{
     font-family: 'Roboto Condensed', sans-serif !important;
   }
   table{
     width: 100%;
     tbody{
       tr{
         height: 55px;
         display: block;
         width: 100%;
         &:first-child{
           td{
             width: 100%;
           }
         }
         td{
           padding: 10px;
           display: inline-block;
           width: 40%;
           background: transparent;
           h3{
             span{
               span{
                 font-size: 18px !important;
               }
             }
           }
         }
       }
     }
   }
 }

/* == WordPress WYSIWYG Editor Styles == */

.entry-content img {
  margin: 0 0 1.5em 0;
  }
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
  }
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
  }
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
  }
.alignnone, img.alignnone {
  /* not sure about this one */
  }
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  }
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
  }
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
  }
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
  }
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
  }
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
  }
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.js-MailInput {
  display: none;
}

.price-template-img{
  width: 100%;
  @include breakpoint('tablet'){
    width: 75%;
  }
}

.cn-bottom{
  background: $cl-quaternary !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px !important;
  .cookie-notice-container{
    @include breakpoint('tablet'){
      padding-bottom: 60px;
    }
    @include breakpoint('desktop_small'){
      padding-bottom: 10px;
      width: 80%;
    }
    @include breakpoint('desktop_big'){
      width: 85%;
    }
    .cn-set-cookie{
      background: $cl-white;
      border: 2px solid $cl-primary;
      max-width: 160px;
      margin: 8px auto 0 !important;
      @include breakpoint('tablet'){
        margin-top: 0;
        right: 15px;
        left: 15px;
        position: absolute;
        bottom: 5px;
      }
      @include breakpoint('desktop_small'){
        right: 15px;
        top: 15px;
        bottom: auto;
        left: auto;
        margin: auto !important;
      }
      @include breakpoint('desktop'){
        top: 9px;
      }
    }
  }
}
