.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px;
  &_primary{
    background: $cl-white;
    color: red;
    border: 2px solid red;
  }
  &_secondary{
    background: transparent;
    color: $cl-white;
    border: 2px solid $cl-white;
  }
}
