// FONTS

// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Poppins', sans-serif;


.m-typo {
  transition: color .3s;
  &_url {
    font-size: 11px;
    &::before {
      margin-right: 6px;
    }
    &:hover {
      color: $cl-secondary;
    }
  }
  &_primary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: $cl-primary;
    margin-bottom: 30px;
    line-height: 36px;
    letter-spacing: 0;
    @include breakpoint('tablet'){
        font-size: 36px;
    }
  }
  &_secondary {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    color: $cl-primary;
    line-height: 24px;
  }
  &_text {
    text-transform: uppercase;
    font-weight: 600;
    color: $cl-secondary;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    line-height: 30px;
  }
}


.header{
  .m-typo{
    &_text{
      margin-bottom: 15px;
      @include breakpoint('desktop_small'){
        margin-bottom: 35px;
      }
    }
    &_primary{
      font-family: 'Fredericka the Great', cursive;
      letter-spacing: 1.5px;
      @include breakpoint('tablet'){
        margin-bottom: 15px;
      }
    }
    &_secondary{
      @include breakpoint('desktop_small'){
        max-width: 540px;
      }
    }
    &_text, &_primary{
      text-align: center;
      @include breakpoint('tablet'){
        text-align: left;
      }
      @include breakpoint('desktop_small'){
        margin-bottom: 30px;
      }
    }
  }
}

.products-boxes{
  .box{
    .m-typo{
      &_text{
        text-align: center;
        &:nth-of-type(1){
          position: relative;
          bottom: -310px;
        }
        &:last-of-type{
          background: $cl-primary;
          color: $cl-white;
          max-width: 260px;
          margin: 0 auto;
          padding: 10px 0;
          border-radius: 28px;
          font-size: 14px;
          position: absolute;
          width: 100%;
          right: 0;
          left: 0;
          bottom: -25px;
          &::before{
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: #fff;
            margin: auto;
            position: relative;
            top: -2px;
            bottom: 0;
            margin: auto 4px auto 0;
          }
          &::after{
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: #fff;
            margin: auto;
            position: relative;
            top: -2px;
            bottom: 0;
            margin: auto 0 auto 4px;
          }
        }
      }
    }
    .points{
      .m-typo{
        &_primary{
          margin-bottom: 0;
          font-size: 40px;
          color: #000;
          font-family: 'Fredericka the Great', cursive;
          padding-top: 15px;
          &:last-of-type{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            height: 20px;
            line-height: initial;
            font-weight: 300;
            padding-top: 0;
            position: relative;
            top: -2px;
          }
        }
      }
      &.other{
        .m-typo{
          &_primary{
            color: $cl-white;
          }
        }
      }
    }
  }
}

.footer{
  .m-typo{
    &_text{
      margin-bottom: 0;
      font-size: 14px;
      color: $cl-white;
      padding: 25px 15px 10px;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0.6px;
      @include breakpoint('desktop_small'){
        padding: 25px 70px 10px;
      }
      a{
        color: #fff;
        border-bottom: 1px solid #fff;
      }
      span{
        font-size: 12px;
        color: #000;
        padding-top: 10px;
        display: block;
      }
    }
  }
}
