@mixin rowMachine($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
        margin-bottom: 0;
    }
}

@mixin rowMachine2($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: $margin;
        margin-bottom: $margin;
    }
}


@mixin rowMachine3($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: 0;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
        margin-bottom: $margin;
    }
}


.div{
width:50px;
height:50px;
@include rowMachine(6,5)
}
/*  Center normal */
@mixin center-block {
    margin: 0 auto;
    display: block;
}
/* Center Horizontally and Vertically */
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Center Vertical Text */
@mixin center-vertical-text($height) {
    line-height: $height;
    text-align: center;
}
@mixin vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* Rem mixin with px fallback */


%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
/* Coverer */
@mixin cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// input,
// textarea {
//     @include input-placeholder {
//         color: $grey;
//     }
// }

    @mixin font($font-name,$font-weight) {
        font-family: '$font-name';
        font-weight: $font-weight;
    }
    %font-primary {
        @include font(Roboto,400);
    }
    @mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // =============================================================================
    // String Replace
    // =============================================================================

    @function str-replace($string, $search, $replace: "") {
    	$index: str-index($string, $search);

    	@if $index {
    		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    	}

    	@return $string;
    }

    // =============================================================================
    // Font Face
    // =============================================================================

    @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg otf) {
    	$src: null;

    	$extmods: (
    		eot: "?",
    		svg: "#" + str-replace($name, " ", "_")
    	);

    	$formats: (
    		otf: "opentype",
    		ttf: "truetype"
    	);

    	@each $ext in $exts {
    		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    	}

    	@font-face {
    		font-family: quote($name);
    		font-style: $style;
    		font-weight: $weight;
    		src: $src;
    	}
    }




  @mixin weight($weight) {
       @if $weight == light{
          font-weight:300;
      }
      @else if $weight == regular {
           font-weight:400;
      }
      @else if $weight == medium {
           font-weight:500;
      }
      @else if $weight == semi-bold {
           font-weight:600;
      }
      @else if $weight == bold {
           font-weight:700;
      }
  }

  @mixin font($size,$weight){
    @include rem($size+px);
    @include weight($weight);
  }
