.footer{
  margin-top: 50px;
  background: $cl-primary;
  min-height: 420px;
  .content-wrapper{
    @include breakpoint('desktop_small'){
      padding: 0 30px;
    }
    @include breakpoint('desktop'){
      padding: 0 10%;
    }
    @include breakpoint('desktop_big'){
      padding: 0 14%;
    }
    @include breakpoint('desktop_colossal'){
      padding: 0 18%;
    }
    .col-3{
      padding: 0 15px;
      @include breakpoint('tablet'){
        padding: 0 30px;
      }
      @include breakpoint('desktop_small'){
        width: 33.3%;
        display: inline-block;
        float: left;
        padding: 40px 0 0;
      }
      &:first-of-type{
        padding-top: 40px;
        @include breakpoint('tablet'){
          position: relative;
        }
        .brand-logo{
          display: block;
          margin: 40px auto 60px;
          @include breakpoint('tablet'){
            position: absolute;
            right: 30px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          @include breakpoint('desktop_small'){
            position: static;
            margin: 0;
            display: inline-block;
          }
        }
      }
      &:nth-of-type(2), &:nth-of-type(3){
        @include breakpoint('tablet'){
          width: calc(50% - 45px);
          display: inline-block;
          float: left;
        }
        @include breakpoint('desktop_small'){
          padding: 40px 0 0;
          width: 33.3%;
          text-align: center;
        }
      }
      &:nth-of-type(2){
        @include breakpoint('tablet'){
          padding-right: 15px;
        }
        @include breakpoint('desktop_small'){
          padding-right: 0;
        }
      }
      &:nth-of-type(3){
        @include breakpoint('tablet'){
          padding-left: 15px;
        }
        @include breakpoint('desktop_small'){
          padding-left: 0;
          text-align: right;
        }
      }
      .wpcf7{
        &-form{
          p{
            margin: 0 auto;
            @include breakpoint('desktop_small'){
              width: 75%;
            }
            span{
              .wpcf7-not-valid-tip{
                font-size: 13px;
                position: relative;
                top: -10px;
              }
              .wpcf7-form-control{
                border: none;
                height: 40px;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                font-weight: 600;
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 20px;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $cl-primary;
                  }
                  &::-moz-placeholder { /* Firefox 19+ */
                    color: $cl-primary;
                  }
                  &:-ms-input-placeholder { /* IE 10+ */
                    color: $cl-primary;
                  }
                  &:-moz-placeholder { /* Firefox 18- */
                    color: $cl-primary;
                  }

                &.wpcf7-textarea{
                  height: 125px;
                  margin-bottom: 10px;
                  resize: none;
                }
              }
            }
            .wpcf7-submit{
              border: none;
              background: transparent;
              color: $cl-white;
              font-size: 18px;
              font-family: 'Open Sans', sans-serif;
              font-weight: 600;
              letter-spacing: 0.8px;
              float: right;
              padding-right: 38px;
              cursor: pointer;
            }
            &:last-of-type{
              position: relative;
              margin-bottom: 30px;
              &::after{
                content: url(../images/arrow.png);
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                top: 4px;
              }
            }
          }
          .wpcf7-response-output{
            color: red;
            margin: 0 auto 30px;
            padding: 10px 15px;
            font-size: 13px;
            box-sizing: border-box;
            border: 2px solid $cl-white;
            @include breakpoint('desktop_small'){
              width: 75%;
              margin: 15px auto 0;
            }
            &.wpcf7-mail-sent-ok{
              color: $cl-white;
            }
          }
        }
      }
      iframe{
        border: 10px solid $cl-white;
        box-sizing: border-box;
        height: 285px;
        width: 100%;
        @include breakpoint('desktop_small'){
          width: 285px;
        }
      }
    }
  }
}
