.header{
  .content-wrapper{
    .two-boxes{
      .box{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        &:first-of-type{
          margin: 40px 0 15px;
          float: right;
          @include breakpoint('tablet'){
            margin: 30px 0 0;
          }
          @include breakpoint('desktop_small'){
            border-bottom: 11px solid $cl-primary;
            margin: 0;
            height: 386px;
            position: relative;
          }
          .hero{
            @include breakpoint('desktop_small'){
              position: relative;
              left: -39px;
              bottom: 80px;
              z-index: 3;
            }
          }
          &::after{
            @include breakpoint('desktop_small'){
              content: '';
              background-image: url(../images/hero-bg.png);
              display: block;
              border-bottom: 11px solid $cl-primary;
              bottom: -11px;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: 100px;
            }
            @include breakpoint('desktop_big'){
              background-position: center;
              position: absolute;
              left: 200px;
              right: -200px;
              background-size: cover;
            }
          }
        }
        @include breakpoint('tablet'){
          width: 50%;
          display: inline-block;
        }
        .hero{
          max-width: 100%;
          margin: 0 auto;
          display: block;
          @include breakpoint('tablet'){
            max-width: 80%;
          }
          @include breakpoint('desktop_small'){
            float: left;
            max-width: 100%;
          }
        }
      }
    }
  }
}
