.navbar{
  z-index: 2;
  transition: .3s all;
  height: 100px;
  background: $cl-primary;
  position: fixed;
  top: 0;
  width: 100%;
  @include breakpoint('desktop_small'){
    height: 130px;
    z-index: 3;
  }
  &.reduced{
    position: fixed;
    height: 70px;
    z-index: 6;
  }
  .content-wrapper{
    height: 100%;
    @include breakpoint('desktop_small'){
      position: relative;
    }
    .list{
      position: relative;
      height: 100vh;
      left: -1300px;
      transition: .3s all;
      width: 100%;
      @include breakpoint('desktop_small'){
        position: static;
        height: auto;
      }
      &.is-active{
        left: 0;
        right: 0;
        background: $cl-primary;
      }
      &_item{
        margin: 10px 0 18px;
        text-align: center;
        @include breakpoint('desktop_small'){
          display: inline-block;
          vertical-align: top;
          width: 14%;
          margin: 10px 0 0;
        }
        span{
          cursor: pointer;
        }
        &:first-of-type{
          padding-top: 140px;
          @include breakpoint('desktop_small'){
            padding-top: 0;
          }
        }
        &:nth-child(-n+3){
          .navbar-icon{
            @include breakpoint('desktop_small'){
              height: 84px;
            }
          }
          span{
            position: relative;
            top: -3px;
          }
        }
        &:nth-child(4), &:nth-child(5){
          @include breakpoint('desktop_small'){
            position: absolute;
            padding-top: 10px;
          }
          .navbar-icon{
            @include breakpoint('desktop_small'){
              height: 62px;
              padding-bottom: 9px;
            }
          }
        }
        &:nth-child(4){
          @include breakpoint('desktop_small'){
            right: 14%;
          }
        }
        &:nth-child(5){
          @include breakpoint('desktop_small'){
            right: 0;
          }
        }
        .box{
          @include breakpoint('desktop_small'){
            display: inline-block;
          }
        }
        .navbar-icon{
          cursor: pointer;
          transition: .3s all;
          display: none;
          @include breakpoint('desktop_small'){
            display: block;
            margin: 0 auto;
          }
        }
        a{
          padding: 5px;
          @include breakpoint('desktop_small'){
            padding: 0;
          }
        }
        &.reduced{
          .navbar-icon{
            opacity: 0;
            visibility: hidden;
            height: 10px;
          }
          &:nth-child(4), &:nth-child(5){
            transition: .3s all;
            padding-top: 0;
            .navbar-icon{
              height: 0;
            }
          }
        }
      }
    }
    .brand-logo{
      margin: 0 auto;
      padding-top: 15px;
      background: $cl-primary;
      border-radius: 50%;
      padding: 15px 8px 8px;
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      transition: .3s all;
      pointer-events: none;
      &.reduced{
        pointer-events: painted;
        top: -15px;
      }
    }
    .burger{
      position: absolute;
      right: 15px;
      top: 40px;
      transition: .3s all;
      @include breakpoint('desktop_small'){
        display: none;
      }
      &.reduced{
        top: 25px;
      }
      &_item{
        display: block;
        float: right;
        clear: both;
        width: 32px;
        height: 4px;
        background-color: $cl-white;
        margin-bottom: 5px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}
