.post-wrapper{
  padding: 0 15px;
  clear: both;
  @include breakpoint('desktop_small'){
    margin-top: 62px;
  }
  .post{
    margin-bottom: 70px;
    &:first-of-type{
      margin-top: 60px;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
    &_head{
      @include breakpoint('desktop_small'){
        float: left;
        width: 100%;
        box-sizing: border-box;
      }
      @include breakpoint('desktop'){
        padding: 0 8%;
      }
      &-img{
        margin: 0 auto 30px;
        display: block;
        max-height: 156px;
        max-width: 140px;
        @include breakpoint('desktop_small'){
          display: inline-block;
          float: left;
          margin: 0px 6% 0 4%;
        }
        @include breakpoint('desktop'){
          margin-right: 4%;
        }
      }
      .content{
        @include breakpoint('desktop_small'){
          width: 75%;
          display: inline-block;
          float: left;
        }
        @include breakpoint('desktop_big'){
          width: 77%;
        }
        @include breakpoint('desktop_colossal'){
          width: 78%;
        }
      }
    }
    &_body{
      @include breakpoint('desktop_small'){
        float: left;
        width: 100%;
      }
      .two-boxes{
        position: relative;
        padding-top: 100px;
        margin-top: 80px;
        border: 2px dashed $cl-secondary;
        @include breakpoint('desktop_small'){
          text-align: center;
          padding: 74px 0;
          margin-top: 60px;
        }
        .box{
          vertical-align: top;
          padding: 0 15px;
          @include breakpoint('desktop_small'){
            width: 40%;
            display: inline-block;
            padding: 0;
          }
          .post-body-img{
            max-width: 100%;
            margin: 0 auto 15px;
            display: block;
            @include breakpoint('tablet'){
              margin-bottom: 25px;
              max-width: 292px;
            }
            @include breakpoint('desktop_small'){
              width: 100%;
              max-width: 350px;
            }
            @include breakpoint('desktop'){
              max-width: 420px;
            }
          }
          &:first-of-type{
            @include breakpoint('desktop_small'){
              margin-right: 5%;
            }
          }
          &:last-of-type{
            margin-top: 50px;
            @include breakpoint('desktop_small'){
              margin: 0 0 0 5%;
            }
          }
        }
        &::after{
          content: url(../images/post-brand.png);
          display: block;
          position: absolute;
          top: -55px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
    }
  }
}
