@media screen and (min-width: 768px) {
  .site-header-bottom-wrapper .main-menu-wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .site-header-bottom-wrapper .main-menu-wrapper .main-menu-nav .main-menu-item {
    transition: .3s all;
  }
}

@media screen and (min-width: 768px) {
  .site-header-bottom-wrapper .main-menu-wrapper .main-menu-nav .main-menu-item:hover {
    background-color: #d54a3c;
  }
  .site-header-bottom-wrapper .main-menu-wrapper .main-menu-nav .main-menu-item:hover a {
    color: #fff !important;
  }
}

.site-header-bottom-wrapper .main-menu-wrapper .main-menu-nav .main-menu-item a {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .site-header-bottom-wrapper .main-menu-wrapper .main-menu-nav .main-menu-item a {
    line-height: 55px;
  }
}

@media screen and (min-width: 980px) {
  .site-header-main-wrapper .search-container .gensearch__form .inputbox {
    background-color: #fff;
    border: 2px solid #d9d9db;
    border-radius: 12px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
  }
}

.site-header-main-wrapper .search-container .gensearch__form .inputbox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
}

.site-header-main-wrapper .search-container .gensearch__form .inputbox::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
}

.site-header-main-wrapper .search-container .gensearch__form .inputbox:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
}

.site-header-main-wrapper .search-container .gensearch__form .inputbox:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
}

@media screen and (min-width: 980px) {
  .site-header-main-wrapper .search-container .gensearch__form .inputbox:focus {
    border: 1px solid #d9d9db;
  }
}

.site-header-main-wrapper .search-container .gensearch__form .gensearch__submit::before {
  color: #d9d9db;
  font-size: 17px;
}
