.site-header-top-wrapper {
  background-color: #f2f1e9 !important;
  display: none;
}

@media screen and (min-width: 768px) {
  .site-header-top-wrapper {
    display: block;
  }
}

.site-header-top-wrapper .fxb-row .wrapper img, .site-header-top-wrapper .fxb-row .wrapper .topbar-text {
  float: left;
  padding-top: 20px;
}

.site-header-top-wrapper .fxb-row .wrapper img {
  margin-right: 15px;
}

.site-header-top-wrapper .fxb-row .wrapper .topbar-text {
  font-weight: bold;
  color: #41434a;
  font-size: 14px;
}
