$FamilyPrimary: 'Montserrat', sans-serif;
$FamilySecondary: 'Arvo', serif;

.font-primary {
	font-family: $FamilyPrimary;
	&.fw-400 {
		font-weight: 400;
	}
	&.fw-600 {
		font-weight: 600;
	}
	&.fw-700 {
		font-weight: 700;
	}
	&.fw-900 {
		font-weight: 900;
	}
}

.font-secondary {
	font-family: $FamilySecondary;
	&.fw-400 {
		font-weight: 400;
	}
	&.fw-700 {
		font-weight: 700;
	}
}

.font-primary,
.font-secondary {
	font-size: 25px;
	line-height: 35px;
}

body {
	font: 400 13px/25px $FamilyPrimary;
}
