/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0;
}

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../fonts/MyriadPro-Cond.otf");
}

@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../fonts/MyriadPro-BoldCond.otf");
}

.typo_primary {
  font-family: Arial, sans-serif;
  color: #967b00;
  font-size: 38px;
  letter-spacing: .1px;
}

@media screen and (min-width: 768px) {
  .typo_primary {
    font-size: 40px;
  }
}

.typo_text, .typo a {
  font-family: MyriadPro, Sans-serif;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .typo_text, .typo a {
    font-size: 22px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .typo_text, .typo a {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 26px;
  }
}

.header .typo_primary, .header .typo_text {
  text-align: center;
}

.header .typo_primary {
  margin: 50px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header .typo_primary {
    margin: 75px 0;
  }
}

@media screen and (min-width: 1024px) {
  .header .typo_primary {
    margin: 84px 0 100px;
  }
}

@media screen and (min-width: 768px) {
  .header .typo_text {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .header .typo_text {
    width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module .typo_text {
    width: 85%;
  }
}

.footer .typo_text {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer .typo_text {
    width: 85%;
    margin: 0 auto 50px;
  }
}

@media screen and (min-width: 1024px) {
  .footer .typo_text {
    width: 65%;
  }
}

.footer .typo_text.author {
  margin-bottom: 0;
  color: #898989;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer .typo_text.author a {
  color: #898989;
  font-size: 16px;
}

.footer-brand-info .typo_text {
  font-family: MyriadPro-Cond, Sans-serif;
  font-size: 22px;
  color: #898989;
  margin-bottom: 80px;
}

@media screen and (min-width: 1024px) {
  .footer-brand-info .typo_text {
    line-height: 23px;
    font-size: 17px;
    margin-bottom: 105px;
  }
}

.footer-brand-info .typo_text a {
  color: #898989;
  font-family: MyriadPro-BoldCond, Sans-serif;
}

.header {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  border-bottom: 7px solid #898989;
  padding-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 75px;
  }
}

.header_img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .header_img {
    padding-top: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .header_img {
    padding-top: 96px;
  }
}

@media screen and (min-width: 768px) {
  .header .content-wrapper {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .header .content-wrapper::after {
    content: url("../images/header_hop.png");
    position: absolute;
    top: -21px;
    left: -30px;
    transform: scale(0.9);
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper::after {
    left: 82px;
    top: 0px;
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .header .content-wrapper::before {
    content: url("../images/header_wheat.png");
    position: absolute;
    top: -100px;
    right: -40px;
    transform: scale(0.8);
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper::before {
    right: 74px;
    top: -60px;
    transform: scale(1);
  }
}

.beer-module-presentation {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .beer-module-presentation {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 0 40px;
  }
}

.beer-module-presentation_name, .beer-module-presentation_bottle {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .beer-module-presentation_name, .beer-module-presentation_bottle {
    max-width: 45%;
    margin: unset;
  }
}

.beer-module-presentation_name {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .beer-module-presentation_name {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module-presentation_name {
    margin: 0px 5px 0 15px;
    max-width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .beer-module-presentation_name {
    max-width: none;
    width: auto;
    margin: 0;
  }
}

.beer-module-presentation_bottle {
  height: 260px;
}

@media screen and (min-width: 1024px) {
  .beer-module-presentation_bottle {
    height: 305px;
  }
}

.beer-module-descr {
  padding: 0 0 60px;
}

@media screen and (min-width: 1024px) {
  .beer-module-descr {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module-presentation, .beer-module-descr {
    width: 50%;
    padding: 52px 0 42px 0;
  }
}

.beer-module-ilustration {
  height: 240px;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .beer-module-ilustration {
    height: 380px;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module-ilustration {
    height: 600px;
  }
}

.beer-module-ilustration_bottle {
  display: none;
}

@media screen and (min-width: 768px) {
  .beer-module-ilustration_bottle {
    display: block;
    position: absolute;
    height: 440px;
    left: 60px;
    top: -30px;
    transform: rotate(-15deg);
  }
}

@media screen and (min-width: 1024px) {
  .beer-module-ilustration_bottle {
    height: auto;
    left: 150px;
  }
}

@media screen and (min-width: 768px) {
  .beer-module .content-wrapper {
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module .content-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}

.beer-module .bottle-scene {
  display: none;
}

@media screen and (min-width: 768px) {
  .beer-module .bottle-scene {
    display: inherit;
    transform: rotate(-20deg) !important;
    top: -90px;
    left: 10%;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module .bottle-scene {
    display: inline-block;
    top: -100px;
  }
}

.beer-module:nth-child(2n + 1) .content-wrapper {
  flex-direction: row-reverse;
}

.beer-module:nth-child(2n + 1) .content-wrapper .beer-module-presentation {
  flex-direction: row-reverse;
}

@media screen and (min-width: 1024px) {
  .beer-module:nth-child(2n + 1) .content-wrapper .beer-module-presentation_name {
    margin: 0px 15px 0 5px;
  }
}

@media screen and (min-width: 1200px) {
  .beer-module:nth-child(2n + 1) .content-wrapper .beer-module-presentation_name {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .beer-module:nth-child(2n + 1) .content-wrapper .bottle-scene {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(20deg) !important;
    right: -38%;
    left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .beer-module:nth-child(2n + 1) .content-wrapper .bottle-scene {
    right: 10%;
  }
}

.footer {
  padding: 40px 0 15px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 85px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 135px 0 0;
  }
}

.footer-bottles {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .footer-bottles {
    width: 65%;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.footer-bottles_item-img {
  height: 300px;
}

@media screen and (min-width: 1024px) {
  .footer-bottles_item-img {
    height: 345px;
  }
}

.footer-brand-info {
  text-align: center;
}

.footer-brand-info_logo {
  margin: 40px 0 25px;
}

@media screen and (min-width: 1024px) {
  .footer-brand-info_logo {
    margin: 50px 0 25px;
  }
}

.body {
  display: none;
}

.content-wrapper {
  margin: 0 15px;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1180px;
  }
}
