@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';
// modules
@import '_modules/_navbar.scss';
@import '_modules/_header.scss';
@import '_modules/_partners.scss';
@import '_modules/_form.scss';
@import '_modules/_bottom-bar.scss';
@import '_modules/_footer.scss';
@import '_modules/_top-bar.scss';
@import '_modules/_offer.scss';
@import '_modules/_whyus.scss';
@import '_modules/_header-slider.scss';
@import '_modules/_portfolio.scss';
@import '_modules/_listing-boxes.scss';
@import '_modules/_icons-category.scss';
@import '_modules/_category-listing.scss';
@import '_modules/_bar.scss';
@import '_modules/_about-product.scss';
@import '_modules/_article-navigation.scss';
@import '_modules/_doors.scss';
@import '_modules/_presentation-contact.scss';
@import '_modules/_article.scss';
@import '_modules/_gate.scss';
body {
    overflow-x: hidden;
    background: $cl-white;
    &.is-active {
        overflow: hidden;
    }
}

.content-wrapper {
    @include breakpoint('desktop_small') {
        margin: 0 auto;
        max-width: 1366px;
    }
}