.btn {
	border: 2px solid $cl-gray159;
	color: $cl-gray44;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .24em;
	display: inline-block;
	text-align: center;
	padding: 7px 20px;
	transition: all .3s;
	&:hover {
		background-color: $cl-gray159;
		color: $cl-white;
	}
	&-primary {
		border-color: $cl-yellow;
		&:hover {
			background-color: $cl-yellow;
			color: $cl-white;
		}
	}	
	&-secondary {
		border-color: $cl-yellow;
		background-color: $cl-yellow;
		color: $cl-white;
		&:hover {
			background-color: transparent;
			color: $cl-gray44;
		}
	}	
	&-tertiary {
		border-color: $cl-yellow;
		color: $cl-white;
		&:hover {
			background-color: $cl-yellow;
			color: $cl-white;
		}
	}
} 