.logo {
	display: block;
	float: left;
	@include breakpoint('desktop_small') {
		padding: 10px 0;
	}
	@include breakpoint('desktop') {
		padding: 24px 0px;
	}
	&-href {
		&.is-svg {
			display: block;
			max-width: 110px;
			@include breakpoint('desktop') {
				max-width: 180px;
			}
			img {
				display: block;
				width: 100%;
			}
		}
		img {
			display: inline-block;
		}
	}
}