.menu {
	float: right;
	margin-right: 25px;
	@include breakpoint('desktop_small') {
		float: left;
		margin-right: 0;
		margin-left: 10px;
	}
	@include breakpoint('desktop_big') {
		float: right;
		margin-left: 0;
	}
	.menu-burger {
		padding-top: 7px;
		@include breakpoint('desktop_small') {
			display: none;
		}
		span {
			display: block;
			height: 2px;
			background-color: $cl-gray44;
			margin-bottom: 4px;
			float: right;
			clear: both;
			transition: all .4s;
			&:first-child {
				width: 25px;
			}
			&:nth-child(2) {
				width: 18px;
			}			
			&:last-child {
				width: 22px;
			}
		}
		&.is-active {
			span {
				position: relative;
				width: 25px;
				&:first-child {
					transform: rotate(45deg);
					top: 6px;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg);
					top: -6px;
				}
			}
		}
	}
	.menu-list {
		position: absolute;
		top: 60px;
		left: -500px;
		min-width: 320px;
		background-color: $cl-white;
		transition: left .3s;
		box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.2);
		@include breakpoint('desktop_small') {
			position: static;
			box-shadow: none;
		}
		&.is-active {
			left: 0;
			width: 100%;
		}
		&_item {
			padding-left: 15px;
			position: relative;
			border-bottom: 1px solid $cl-gray227;
			@include breakpoint('desktop_small') {
				display: block;
				float: left;
				padding-left: 20px;
				border-bottom: 0;
				position: static;
			}
			@include breakpoint('desktop') {
			    padding-left: 40px;
			}			
			@include breakpoint('desktop_big') {
			    padding: 0 40px;
			}
			@include breakpoint('desktop_colossal') {
			    padding: 0 60px;
			}
			&:hover {
				a {
					@include breakpoint('desktop_small') {
						border-bottom: 2px solid $cl-yellow;
					}	
				}
			}
			&:last-child {
				border-bottom: 0;
			}
			&::after {
				content: '';
				background-image: url('../images/icons/keyboard-right-arrow-button.svg');
				background-size: cover;
				position: absolute;
				z-index: 50;
				width: 10px;
				height: 12px;
				top: 14px;
				right: 15px;
				transition: transform .2s;
				@include breakpoint('desktop_small') {
					display: none;
				}
			}
			a {	
				display: block;
				padding: 10px 0;
				font: 700 12px/20px $FamilyPrimary;
				letter-spacing: .075em;
				text-transform: uppercase;
				text-decoration: none;
				color: $cl-gray44;
				position: relative;
				z-index: 100;
				transition: border-color .3s;
				border-bottom: 2px solid transparent;
				@include breakpoint('desktop_small') {
					// padding: 0;
					line-height: 30px;
				}
				@include breakpoint('desktop') {
					padding: 33px 0;
				}
			}
			&.is-parent {
				z-index: 100;
				&::after {
					transform: rotate(90deg);
				}
				&.is-active {
					&::after {

						transform: rotate(270deg);
					}
				}
			}
			&:hover {
				.menu-children_list {
					@include breakpoint('desktop_small') {
						max-height: 1000px;
						overflow: visible;
						border-color: $cl-yellow;
						box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.2);
						padding: 15px;
					}
					@include breakpoint('desktop_big') {
						padding: 35px;
					}
					.menu-children_item {
						a {
							border-bottom: 0;
						}
						&:hover {
							a {
								color: $cl-yellow;
								border-bottom: 0;
							}
						}
					}
				}
			}
		}
		.menu-children_list {
			padding-left: 15px;
			overflow: hidden;
			max-height: 0;
			transition: max-height .2s;
			max-width: 1200px;
			@include breakpoint('desktop_small') {
				position: absolute;
				left: 0;	
				right: 0;
				border-top: 2px solid transparent;
				padding: 0 15px;
				transition: all .2s;
				background-color: $cl-white;
				width: 100%;
				box-sizing: border-box;
				left: 50%;
				transform: translateX(-50%);
			}
			@include breakpoint('desktop_big') {
				padding: 0 35px;
				max-width: 1370px;
			}			
			@include breakpoint('desktop_colossal') {
				max-width: 1570px;
			}
			&.is-active {
				max-height: 1000px;
			}
			.menu-children_item {
				@include breakpoint('desktop_small') {
					display: inline-block;
					width: 25%;
				}
				a {
					border-bottom: 0;
					@include breakpoint('desktop_small') {
						padding: 10px 0;
					}
				}
			}
		}
	}
}