.search {
	float: right;
	&-trigger {
		padding-top: 4px;
		@include breakpoint('desktop') {
			padding: 40px 0;
		}
		img {
			display: block;
			width: 20px;
		}
	}
	&-container {
		display: none;
	}
}