.m-btn {
	font-family: 'Lato', sans-serif;
	display: block;
	padding: 0px 16px;
	font-size: 12px;
	text-align: center;
	width: auto;
	background: transparent;
	color: $cl-white;
	border: 2px solid $cl-white;
}

.two-boxes{
	&.header-content{
		.m-btn{
			&_primary{
				margin: 0 2px;
			}
		}
	}
}

.contact{
	.m-btn{
		&_primary{
			cursor: pointer;
			border-radius: 10px;
			width: 100%;
			padding:  7px 16px;
		}
	}
}
