/**
 *
 * Colors variables
 *
 */
$cl-white: rgba(255,255,255,1);
$cl-primary: rgba(53, 191, 161, 1);
$cl-secondary: rgba(36, 135, 212, 1);
$cl-tertiary: rgba(29, 45, 61, 1);

body,
html,
a {
  font-family: 'Lato', sans-serif;
  color: $cl-white;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
