// FONTS
// font-family: 'Lato', sans-serif;


.m-typo {
	font-family: 'Lato', sans-serif;
  &_primary {
    font-size: 20px;
    color: $cl-white;
    margin-bottom: 30px;
    line-height: 22px;
    letter-spacing: .6px;
	font-weight: 900;
    @include breakpoint('tablet'){
      line-height: 36px;
    }
  }
  &_secondary {
    color: $cl-primary;
	text-transform: none;
	font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: .6px;
  }
  &_text {
    color: $cl-white;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
	line-height: 24px;
	font-size: 14px;
    @include breakpoint('tablet'){
      line-height: 25px;
    }
  }
}

.navbar{
	.list{
		&_item{
			.m-typo{
				&_secondary{
					color: $cl-white;
				}
			}
		}
	}
}

.two-boxes{
	&.header-content{
		.box{
			&:first-of-type{
				.m-typo{
					&_text{
						font-weight: 600;
						text-align: center;
						@include breakpoint('desktop_small'){
							text-align: left;
							padding: 0 12% 0 19.4%;
							font-size: 13px;
							font-weight: 800;
							letter-spacing: 0;
							line-height: 32px;
						}
					}
				}
			}
			&:last-of-type{
				.m-typo{
					&_primary{
						@include breakpoint('desktop_small'){
							font-size: 27px;
							color: $cl-white;
							letter-spacing: -0.6px;
							line-height: 32px;
							margin-bottom: 20px;
						}
					}
					&_text{
						font-weight: 400;
						margin-bottom: 20px;
						text-align: left;
					    font-size: 13px;
					    color: $cl-white;
					    letter-spacing: -0.1px;
					    line-height: 26px;
					}
				}
			}
		}
	}
}

.testimonials{
	.m-typo{
		margin-bottom: 0;
		&_primary{
			font-size: 14px;
			line-height: 15px;
			font-weight: 600;
			letter-spacing: 0.1px;
		    line-height: 17px;
			min-height: 75px;
			@include breakpoint('tablet'){
				word-break: break-all;
				font-size: 16px;
			    font-weight: 400;
			    letter-spacing: -0.2px;
			    line-height: 22px;
			}
			@include breakpoint('desktop_small'){
				line-height: 24px;
				font-size: 20px;
			}

		}
		&_text{
			font-size: 11px;
			@include breakpoint('desktop_small'){
				margin-top: 5px;
			}
			@include breakpoint('desktop'){
				margin-top: 17px;
			}
		}
	}
}

.achievements{
	.m-typo{
		&_text{
			word-break: break-all;
			margin-bottom: 0;
			@include breakpoint('desktop_small'){
				padding: 0 50px;
				line-height: 26.5px;
			    letter-spacing: 0px;
			}
		}
	}
}

.contact{
	.m-typo{
		&_primary{
			padding: 0 15px;
			margin-bottom: 45px;
			@include breakpoint('tablet'){
				font-size: 22px;
				letter-spacing: 0.7px;
				margin-bottom: 0;
			}
			@include breakpoint('desktop_small'){
				font-size: 24px;
				padding-left: 40px;
			}
			@include breakpoint('desktop'){
				padding-left: 69px;
			}
		}
	}
	.sm-hide{
		@include breakpoint('tablet'){
			display: none;
		}
	}
}

.footer{
	.box{
		&:first-of-type{
			.m-typo{
				&_text{
					font-size: 22px;
					@include breakpoint('tablet'){
						font-size: 17px;
					}
				}
			}
		}
		&:last-of-type{
			.m-typo{
				&_text{
					padding: 0 30px;
					@include breakpoint('phone'){
						text-align: center;
					}
					@include breakpoint('tablet'){
						text-align: left;
						letter-spacing: -.4px;
						padding: 0 30px 0 145px;
						max-width: 210px
					}
					@include breakpoint('desktop'){
						padding: 5px 30px 0 125px;
					}
					&:first-child{
						margin-bottom: 22px;
					}
				}
			}
		}
	}
	.bottom-bar{
		.m-typo{
			&_text{
				font-size: 12px;
				color: $cl-tertiary;
				margin-bottom: 0;
			    line-height: 50px;
			    text-align: center;
			}
		}
	}
}
