/**
 *
 * Colors variables
 *
 */

$cl-white: rgba(255, 255, 255, 1);
$cl-black: rgba(0, 0, 0, 1);
$cl-primary: rgba(36, 2, 2, 1);
$cl-secondary: rgba(141, 198, 63, 1);
$cl-lightCreamy: rgba(201, 199, 178, 1);
$cl-darkCreamy: rgba(155, 153, 124, 1);
$cl-lightGray: rgba(226, 226, 226, 1);
$cl-gray: rgba(105, 105, 105, 1);
body,
html,
a {
    color: $cl-white;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.ui-state-active {
    .m-btn {
        &_primary {
            background-color: $cl-primary;
            color: $cl-secondary;
            border-color: $cl-primary;
        }
    }
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */

strong {
    font-weight: 900;
}