// FONTS
// font-family: MyriadPro-Cond, Sans-serif;
@font-face {
    font-family: "MyriadPro-Cond";
    src: url("../fonts/MyriadPro-Cond.otf")
}

@font-face {
    font-family: "MyriadPro-Semi";
    src: url("../fonts/MyriadPro-Semibold.otf")
}

@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../fonts/MyriadPro-BoldCond.otf")
}

@font-face {
    font-family: "MyriadPro-Light";
    src: url("../fonts/MyriadPro-Light.otf")
}

@font-face {
    font-family: "Antonio-Bold";
    src: url("../fonts/Antonio-Bold.ttf")
}

.typo {
    &_primary {
        font-family: "Antonio-Bold";
        font-size: 24px;
        &.heading {
            color: $cl-darkCreamy;
            line-height: normal;
            font-size: 48px;
            text-align: center;
            margin: 15px 0 30px;
            @include breakpoint('tablet') {
                margin: 0 0 14px;
            }
        }
    }
    &_text {
        font-family: "MyriadPro-Cond";
        font-size: 24px;
        color: $cl-black;
    }
}

.nav {
    .typo {
        &_primary {
            color: $cl-primary;
            font-size: 22px;
            @include breakpoint('desktop_small') {
                font-size: 18px;
                color: $cl-lightCreamy;
            }
        }
    }
}

.main-slider {
    .typo {
        text-shadow: rgb(0, 0, 0) 4px 0px 0px, rgb(0, 0, 0) 3.87565px 0.989616px 0px, rgb(0, 0, 0) 3.51033px 1.9177px 0px, rgb(0, 0, 0) 2.92676px 2.72656px 0px, rgb(0, 0, 0) 2.16121px 3.36588px 0px, rgb(0, 0, 0) 1.26129px 3.79594px 0px, rgb(0, 0, 0) 0.282949px 3.98998px 0px, rgb(0, 0, 0) -0.712984px 3.93594px 0px, rgb(0, 0, 0) -1.66459px 3.63719px 0px, rgb(0, 0, 0) -2.51269px 3.11229px 0px, rgb(0, 0, 0) -3.20457px 2.39389px 0px, rgb(0, 0, 0) -3.69721px 1.52664px 0px, rgb(0, 0, 0) -3.95997px 0.56448px 0px, rgb(0, 0, 0) -3.97652px -0.432781px 0px, rgb(0, 0, 0) -3.74583px -1.40313px 0px, rgb(0, 0, 0) -3.28224px -2.28625px 0px, rgb(0, 0, 0) -2.61457px -3.02721px 0px, rgb(0, 0, 0) -1.78435px -3.57996px 0px, rgb(0, 0, 0) -0.843183px -3.91012px 0px, rgb(0, 0, 0) 0.150409px -3.99717px 0px, rgb(0, 0, 0) 1.13465px -3.8357px 0px, rgb(0, 0, 0) 2.04834px -3.43574px 0px, rgb(0, 0, 0) 2.83468px -2.82216px 0px, rgb(0, 0, 0) 3.44477px -2.03312px 0px, rgb(0, 0, 0) 3.84068px -1.11766px 0px, rgb(0, 0, 0) 3.9978px -0.132717px 0px;
        letter-spacing: 0.6px;
        &:first-child {
            font-size: 26px;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            @include breakpoint('tablet') {
                width: 60%;
                font-size: 30px;
                padding-top: 40px;
                line-height: 44px;
            }
            @include breakpoint('desktop_small') {
                line-height: 54px;
                font-size: 38px;
                padding-top: 32px;
            }
            @include breakpoint('desktop') {
                font-size: 40px;
            }
        }
        &:last-child {
            line-height: 32px;
            font-size: 20px;
            @include breakpoint('tablet') {
                font-size: 22px;
                margin-left: auto;
                width: 60%;
                line-height: 32px;
            }
            @include breakpoint('desktop_small') {
                word-spacing: 8px;
                line-height: 38px;
            }
            @include breakpoint('desktop') {
                font-size: 24px;
            }
        }
    }
}

.beers {
    .typo {
        &_primary {
            &.heading {
                margin: 45px 0 35px;
                @include breakpoint('tablet') {
                    margin: 25px 0 45px;
                }
                @include breakpoint('desktop_small') {
                    margin: 25px 0 62px;
                }
            }
        }
        &_text {
            color: $cl-gray;
            span {
                color: $cl-black;
            }
        }
    }
    &-list_item-descr {
        .typo {
            &_text {
                color: $cl-black;
                letter-spacing: .3px;
                word-spacing: 2px;
                line-height: 27px;
                transition: .3s color;
            }
        }
    }
    &-list_item {
        &:hover {
            .beers-list_item-descr {
                .typo {
                    color: $cl-white;
                }
            }
        }
    }
}

.footer {
    .typo {
        &_text {
            font-size: 18px;
            letter-spacing: .5px;
            color: $cl-white;
            opacity: 0.6;
            a {
                font-size: 18px;
                letter-spacing: .5px;
            }
        }
        &:first-of-type {
            opacity: 1;
            a {
                font-size: 24px;
            }
            margin-bottom: 15px;
            color: $cl-white;
            @include breakpoint('tablet') {
                margin: 0 45px 0 0;
            }
        }
    }
    .text-wrapper {
        .typo {
            &_text {
                margin: 0;
                color: $cl-black;
                a{
                    color: $cl-black;
                    font-size: 18px;
                }
            }
        }
    }
}

.posts-listing {
    .posts-item {
        .typo {
            &_primary {
                margin: 15px 0;
                line-height: 32px;
                font-family: "MyriadPro-Cond";
                color: $cl-black;
                font-size: 30px;
                letter-spacing: 1.3px;
                @include breakpoint('tablet') {
                    margin: 0 0 15px;
                }
                @include breakpoint('desktop_small') {
                    height: 70px;
                    margin-bottom: 0;
                }
            }
            &_text,
            a {
                color: $cl-black;
                font-family: "MyriadPro-Light";
                font-size: 18px;
                letter-spacing: 0.7px;
                line-height: 25px;
                span {
                    font-family: "MyriadPro-Cond";
                    display: block;
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    font-size: 20px;
                    @include breakpoint('desktop_small') {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}

.article,
.about {
    p {
        color: $cl-black;
        font-family: "MyriadPro-Light";
        font-size: 18px;
        strong {
            font-family: "MyriadPro-Semi";
        }
        em {
            font-style: italic;
        }
    }
}

.article {
    .typo {
        &_primary {
            color: $cl-black;
            &.heading {
                color: $cl-darkCreamy;
            }
            &.title {
                margin-bottom: 30px;
                line-height: 35px;
                letter-spacing: 1.3px;
            }
            a {
                color: $cl-black;
                font-family: "MyriadPro-Bold";
                font-size: 24px;
            }
        }
    }
}

.article,
.contact {
    .typo {
        &_text {
            color: $cl-black;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            color: $cl-gray;
            max-width: 750px;
            margin: 0 auto 30px;
            @include breakpoint('tablet') {
                margin: 0 auto 55px;
            }
        }
    }
}

.about {
    .typo_text {
        max-width: 750px;
        margin: 0 auto 30px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 32px;
            font-family: "MyriadPro-Cond";
            color: black;
            font-size: 30px;
            letter-spacing: 1.3px;
            margin-bottom: 15px;
        }
    }
}

.wpcf7-form {
    input,
    textarea {
        font-size: 16px;
        font-family: "MyriadPro-Light";
        color: $cl-white;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $cl-black;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $cl-black;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $cl-black;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: $cl-black;
        }
    }
}

.gallery {
    .gg-image-caption {
        font-family: "MyriadPro-Semi" !important;
        line-height: 24px;
        letter-spacing: .1px;
        font-style: italic;
    }
}