.oh-loader {
        width: 100%;
        text-align: center;
}
.oh-loader img {
        max-width: 48px;
        display: inline-block;
        margin: 30px 0;
}
.slick-arrow, .slick-dots {
        position: absolute;
        right: 0;
        bottom: 0;
}
.aside-nav__link, .pages__link {
        cursor: pointer;
}
.news__slide-dot--active a {
    background-color: black;
}
.slick-dots button {
        display: none;
}
.slick-dots li {
            display: inline-block;
     margin-left: 0.9375rem;
}
.slick-dots li a {
        display: inline-block;
        background-color: white;
        border-radius: 50%;
        border: 1px solid black;
        height: 8px;
        width: 8px;
}
.slick-dots li.slick-active a {
        background-color: black;
}
.nav, .mobile {
        position: fixed;
        top: 0;
        background-color: white;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
}
.nav:before {
        content: '';
        position: absolute;
        top: -55px;
        left: 0;
        right: 0;
        height: 60px;
        background-color: white;
}
.main {
        margin-top: 10.125rem;
}
.slick-slide {
  outline: 0;
}
.slick-track {
	min-height: 0;
	-webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}
.books__box-tag[data-new-taxonomy="2"] {
  display: none !important;
}
.pages__arrow {
  display: inline-block;
  cursor: pointer;
}
.pages__link--active {
  font-weight: 700;
}
.pages__arrow.inactive {
  opacity: 0.4;
}
.pages__arrow a {
  display: block;
  width: 10px;
  height: 46px;
}
.pages__arrow--left a {
  background-image: url('static/img/pages-left-black.png');

}
.pages__arrow--right a {
  background-image: url('static/img/pages-right-black.png');
}
.aside-nav__item:last-child {
  text-transform: lowercase;
}
