/**
 *
 * Colors variables
 *
 */

$cl-white: rgba(255, 255, 255, 1);
$cl-black: rgba(0, 0, 0, 1);
$cl-lightDark: rgba(78, 72, 76, 1);
$cl-primary: rgba(89, 133, 39, 1);
$cl-secondary: rgba(141, 198, 63, 1);
$cl-lightOrange: rgba(241, 234, 224, 1);
$cl-orange: rgba(255, 108, 0, 1);
$cl-gray: rgba(160, 160, 160, 1);
$cl-lightGray: rgba(225, 225, 225, 1);
$cl-kgh: rgba(7, 108, 34, 1);
$cl-kghRed: rgba(193, 39, 44, 1);
$cl-kghCreme: rgba(241, 241, 227, 1);
body,
html,
a {
    color: $cl-white;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.ui-state-active {
    .m-btn {
        &_primary {
            background-color: $cl-primary;
            color: $cl-secondary;
            border-color: $cl-primary;
        }
    }
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */

strong {
    font-weight: 900;
}