// FONTS
// font-family: MyriadPro, Sans-serif;
// font-family: MyriadPro-Semi, Sans-serif;
// font-family: MyriadPro-Cond, Sans-serif;
// font-family: MyriadPro-BoldCond, Sans-serif;
// font-family: 'Roboto', sans-serif;
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Light.otf")
}

@font-face {
    font-family: "MyriadPro-Semi";
    src: url("../fonts/MyriadPro-Semibold.otf")
}

@font-face {
    font-family: "MyriadPro-Cond";
    src: url("../fonts/MyriadPro-Cond.otf")
}

@font-face {
    font-family: "MyriadPro-BoldCond";
    src: url("../fonts/MyriadPro-BoldCond.otf")
}

.typo {
    font-family: MyriadPro, sans-serif;
    color: $cl-black;
    &_primary {
        font-family: MyriadPro-BoldCond, sans-serif;
        font-size: 24px;
        &.heading {
            font-size: 32px;
            display: table;
            margin: 26px auto 38px;
            position: relative;
            text-transform: uppercase;
            @include breakpoint('tablet') {
                font-size: 36px;
            }
            &::before {
                content: url('../images/brand-logo-small.png');
                position: absolute;
                left: -65px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 54px;
            }
        }
    }
    &_secondary {
        font-family: MyriadPro-Semi, Sans-serif;
    }
    &_text {
        font-family: 'Roboto', sans-serif;
    }
}

.header-nav_social {
    .typo {
        &_blog {
            font-size: 24px;
            font-weight: bold;
            background: $cl-kgh;
            color: $cl-white;
            display: inline-block;
            padding: 5px 14px 5px;
            border-radius: 50px;
            line-height: 25px;
        }
    }
}

.header-nav_about {
    a {
        &:first-of-type {
            .typo {
                &_primary {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-style: italic;
                    color: $cl-white;
                    padding: 10px;
                    opacity: 0;
                    transition: .3s opacity;
                    z-index: 2;
                }
            }
            &:hover {
                .typo {
                    &_primary {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .typo {
        &_primary {
            font-size: 18px;
            letter-spacing: 0.2px;
            font-style: italic;
            line-height: 25px;
        }
    }
}

.nav-list {
    li {
        font-family: MyriadPro-Semi, Sans-serif;
        &.current-menu-item {
            a {
                color: $cl-primary;
            }
        }
        a {
            color: $cl-black;
            font-size: 22px;
            transition: .3s color;
            @include breakpoint('tablet') {
                font-size: 25px;
            }
            @include breakpoint('desktop_small') {
                letter-spacing: -0.5px;
                font-size: 18px;
            }
            &:hover {
                color: $cl-kgh;
            }
        }
    }
}

.bar {
    .typo {
        &_primary {
            color: $cl-white;
            letter-spacing: 0.2px;
            font-size: 22px;
            padding: 10px;
            @include breakpoint('tablet') {
                font-size: 30px;
                padding: 0;
            }
        }
    }
}

.offer {
    &-box {
        .typo {
            &_primary {
                font-family: MyriadPro, sans-serif;
            }
        }
        &_excerpt {
            .typo {
                &_text {
                    padding: 0 5px;
                }
            }
        }
        &_bar {
            .typo {
                &_secondary {
                    color: $cl-white;
                    font-size: 18px;
                }
            }
        }
        &_img {
            &-caption {
                .typo {
                    color: $cl-white;
                    font-size: 18px;
                    margin-bottom: 9px;
                    &:first-of-type {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.realizations-slider {
    .typo {
        max-width: 332px;
        margin: 0 auto;
        &_primary {
            font-family: MyriadPro, sans-serif;
            font-size: 19px;
            margin-bottom: 12px;
        }
        &_text {
            opacity: .7;
        }
    }
}

.header-slider {
    .typo {
        &_primary {
            font-size: 32px;
            font-family: MyriadPro, sans serif;
            border: 2px dashed $cl-black;
            padding: 14px;
            margin-bottom: 30px;
            text-align: center;
            line-height: 36px;
            @include breakpoint('tablet') {
                line-height: 40px;
                padding: 25px;
                margin-bottom: 40px;
            }
        }
        &_text {
            text-align: center;
            max-width: 240px;
            line-height: 20px;
        }
    }
}

.sitemap {
    ul {
        li {
            a {
                font-family: MyriadPro, sans-serif;
                color: $cl-white;
            }
        }
    }
}

.copyright-bar {
    a {
        font-size: 16px;
        transition: .3s color;
        @include breakpoint('tablet') {
            font-size: 14px;
        }
        &:hover {
            color: $cl-kgh;
        }
    }
    .typo {
        &_secondary {
            color: $cl-white;
            margin-bottom: 15px;
            font-size: 16px;
            letter-spacing: -0.3px;
            @include breakpoint('tablet') {
                font-size: 14px;
            }
            @include breakpoint('desktop_small') {
                margin-bottom: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &:nth-child(2) {
                @include breakpoint('desktop_small') {
                    margin-left: auto;
                    padding-right: 10px;
                    margin-right: 10px;
                    position: relative;
                }
                &::after {
                    @include breakpoint('desktop_small') {
                        content: '';
                        height: 15px;
                        width: 1px;
                        background: $cl-white;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
}

.highlights {
    &_heading {
        .typo {
            &_primary {
                font-size: 22px;
                background: $cl-white;
                border: 2px solid $cl-black;
                padding: 9px 54px 9px 12px;
                letter-spacing: 0.8px;
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0 auto 28px;
                max-width: 220px;
                @include breakpoint('tablet') {
                    font-size: 36px;
                    padding: 9px 62px 9px 10px;
                    max-width: 350px;
                }
                &::after {
                    content: url('../images/loupe.png');
                    display: block;
                    display: block;
                    position: absolute;
                    background: $cl-kgh;
                    border: 2px solid $cl-black;
                    top: -2px;
                    bottom: 0;
                    right: -2px;
                    height: 34px;
                    padding: 8px 5px 0;
                }
            }
            &_text {
                max-width: 828px;
                margin: 0 auto;
            }
        }
    }
    &-boxes {
        &_box {
            .typo {
                &_primary {
                    text-align: center;
                    margin-bottom: 20px;
                    text-align: center;
                    letter-spacing: -0.1px;
                    @include breakpoint('tablet') {
                        margin-bottom: 34px;
                    }
                }
                &_text {
                    @include breakpoint('desktop_small') {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

.footer {
    &-boxes {
        &_box {
            &_heading {
                .typo {
                    &_primary {
                        color: $cl-white;
                    }
                }
            }
            .text-wrapper {
                .typo {
                    &_text {
                        line-height: 22px;
                        color: $cl-lightDark;
                        &:nth-child(2) {
                            padding: 15px 0;
                            @include breakpoint('tablet') {
                                padding: 20px 0;
                            }
                        }
                        a {
                            color: $cl-lightDark;
                        }
                    }
                }
            }
        }
    }
}

.wpcf7-form {
    input,
    select,
    textarea {
        font-size: 16px;
        font-family: "MyriadPro";
        color: $cl-lightDark;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $cl-lightDark;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $cl-lightDark;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $cl-lightDark;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: $cl-lightDark;
        }
    }
}

.articles {
    .typo {
        &_primary {
            margin-bottom: 15px;
            @include breakpoint('desktop_small') {
                margin-bottom: 20px;
            }
        }
    }
    &-more {
        .typo {
            &_secondary {
                padding: 7px 37px 7px 10px;
                background: $cl-black;
                display: inline-block;
                color: $cl-white;
                font-size: 22px;
                font-family: "MyriadPro-Cond";
                letter-spacing: 0.8px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 0 7px 16px;
                    border-color: transparent transparent transparent $cl-white;
                    top: 0;
                    bottom: 0;
                    right: 8px;
                    margin: auto;
                }
            }
        }
    }
}

.subpage-listing {
    &-row {
        .typo {
            &_primary {
                letter-spacing: -0.6px;
                margin-bottom: 15px;
                font-size: 24px;
                @include breakpoint('tablet') {
                    margin-bottom: 25px;
                }
            }
            &_text {
                font-family: MyriadPro, sans-serif;
                letter-spacing: 0.2px;
            }
        }
    }
}

.realizations-listing {
    &.tales {
        .realizations-listing {
            &-item {
                &_descr {
                    .typo {
                        &_secondary {
                            font-size: 20px;
                            letter-spacing: -0.4px;
                            margin-bottom: 10px;
                        }
                        &_text {
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
}

.page-heading {
    .typo {
        font-family: MyriadPro-BoldCond, sans-serif;
        font-size: 24px;
        line-height: 32px;
    }
}

.post {
    .typo {
        &_text {
            margin: 0 25px;
        }
    }
}

.products-group {
    .typo {
        &_text {
            margin: 0 15px;
            max-width: 680px;
            @include breakpoint('tablet') {
                margin: 25px auto 45px;
            }
        }
    }
    &-list {
        .typo {
            &_text {
                max-width: none;
                margin: auto;
                p {
                    margin-bottom: 15px;
                }
                span {
                    font-family: "MyriadPro-Semi";
                    font-size: 17px;
                }
            }
        }
    }
}

.subpage-heading {
    .typo {
        &_primary {
            margin: 0 25px;
            color: $cl-black;
            font-size: 26px;
            font-family: "MyriadPro";
            &.title {
                @include breakpoint('tablet') {
                    margin: 0 25px 15px;
                    margin-right: auto;
                }
            }
            &.realziations {
                @include breakpoint('tablet') {
                    margin-left: auto;
                }
            }
            a {
                font-size: 24px;
                color: $cl-black;
                transition: .3s color;
                &:hover {
                    color: $cl-kgh;
                }
            }
        }
    }
}

.article {
    p {
        font-family: "MyriadPro";
        color: $cl-black;
        letter-spacing: 0.3px;
        line-height: 26px;
        margin: 0 15px;
        @include breakpoint('desktop') {
            margin: 0;
        }
        em {
            font-style: italic;
            font-family: MyriadPro-BoldCond, Sans-serif;
        }
    }
}

.www-offer {
    .typo {
        &_text {
            &:first-of-type {
                font-size: 20px;
            }
        }
    }
}