.same-heading {
  font-size: 24px;
  color: #ff9800;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-shadow: 0 1px #fff;
  margin-top: 70px;
  letter-spacing: -.3px; }
  .same-heading .name {
    color: #212121; }

.same-paragraph {
  text-shadow: 0 1px #fff;
  margin-top: 48px;
  font-size: 16px;
  letter-spacing: -.2px;
  line-height: 32px;
  color: #212121; }
  .same-paragraph.margin-bottom {
    margin-bottom: 28px; }
  .same-paragraph.padding-bottom {
    padding-bottom: 50px; }

.same-img {
  width: 100%;
  display: block;
  margin: 40px auto 48px;
  height: 281px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75); }
  @media (min-width: 768px) {
    .same-img {
      width: 357px; } }
  @media (min-width: 590px) {
    .same-img {
      width: 440px; } }
  @media (min-width: 660px) {
    .same-img {
      width: 500px; } }
  @media (min-width: 768px) {
    .same-img {
      width: 350px; } }
  @media (min-width: 768px) {
    .same-img.article-heading-img {
      width: 727px;
      height: 425px;
      margin-bottom: 20px; } }
  .same-img.workplace-img {
    height: 308px; }
    @media (min-width: 768px) {
      .same-img.workplace-img {
        width: 500px; } }
    @media (min-width: 992px) {
      .same-img.workplace-img {
        width: 670px; } }

.button-href .button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: #fff;
  display: inline-block;
  padding: 11px 25px;
  color: #000;
  border: 2px solid #000;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  margin: 50px 0 53px;
  max-width: 100%; }

.no-results {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-align: center;
  padding: 40px 0;
  text-shadow: 0 1px #fff; }

body {
  background-image: url(../img/bg.jpg);
  color: #fff;
  overflow-x: hidden; }
  body.overflow {
    overflow-y: hidden; }

.nav-bar-wrapper .nav-bg {
  position: fixed;
  width: 100%;
  background-color: #212121;
  z-index: 999; }
  .nav-bar-wrapper .nav-bg .navbar {
    border: none;
    transition: .5s;
    position: static;
    height: 115px;
    background: #212121;
    margin-bottom: 0; }
    .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box {
      height: 115px;
      position: relative;
      transition: .5s; }
      .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box .brand-img {
        position: absolute;
        width: 180px;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: .5s;
        z-index: 99999; }
        @media (min-width: 768px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box .brand-img {
            width: 250px;
            top: 0;
            bottom: 0;
            right: inherit; } }
        @media (min-width: 992px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box .brand-img {
            top: 60px;
            left: 20px; } }
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box .brand-img.reduced {
          width: 140px; }
          @media (min-width: 768px) {
            .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box .brand-img.reduced {
              width: 160px; } }
          @media (min-width: 992px) {
            .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box .brand-img.reduced {
              width: 180px;
              top: 5px; } }
      .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box.reduced {
        height: 65px; }
        @media (min-width: 992px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .brand-box.reduced {
            height: 75px; } }
    .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box {
      height: 115px;
      position: static;
      transition: .5s; }
      @media (min-width: 992px) {
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box {
          padding: 0; } }
      @media (min-width: 1200px) {
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box {
          padding: 0 15px; } }
      .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box .burger {
        margin: 46px auto;
        width: 30px;
        transition: .5s; }
        @media (min-width: 768px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box .burger {
            width: 36px; } }
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box .burger .burger-brick {
          height: 3px;
          background-color: #fff; }
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box .burger .burger-brick.middle {
            margin: 7px 0; }
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box .burger.reduced {
          margin: 21px auto; }
      .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box.reduced {
        height: 65px; }
        @media (min-width: 992px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .burger-box.reduced {
            height: 75px; } }
    .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul {
      padding-left: 0;
      text-align: center;
      position: absolute;
      top: -5000px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: -1;
      height: 100vh;
      opacity: 0; }
      .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul.open {
        top: 0;
        background-color: #212121;
        opacity: 1;
        transition: .8s; }
      @media (min-width: 992px) {
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul {
          top: 1px;
          transition: .4s;
          left: 292px;
          z-index: auto;
          height: auto;
          opacity: 1; } }
      .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li {
        list-style-type: none;
        display: block;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        padding: 0 9px 0 9px;
        margin-top: 35px; }
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li:first-of-type {
          margin-top: 150px; }
          @media (min-width: 992px) {
            .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li:first-of-type {
              margin-top: auto; } }
        @media (min-width: 992px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li {
            margin-top: 67px;
            display: inline-block;
            transition: .5s; } }
        @media (min-width: 1200px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li {
            padding: 0 25px; } }
        .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li a {
          text-decoration: none;
          color: #fff;
          transition: .5s; }
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li a.active {
            color: #ff9800; }
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li a:hover {
            color: #ff9800; }
        @media (min-width: 992px) {
          .nav-bar-wrapper .nav-bg .navbar .desktop-nav .menu-ul li.reduced {
            margin-top: 40px; } }
    .nav-bar-wrapper .nav-bg .navbar.reduced {
      height: 65px; }
.nav-bar-wrapper .nav-space {
  height: 115px; }

.carousel-section {
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    .carousel-section {
      padding-top: 20px; } }
  .carousel-section .container-fluid .top-carousel {
    position: relative; }
    .carousel-section .container-fluid .top-carousel .slick-slide {
      margin: 0 7px; }
      .carousel-section .container-fluid .top-carousel .slick-slide:focus {
        outline: 0; }
    .carousel-section .container-fluid .top-carousel .carousel-img {
      height: 422px;
      margin-bottom: 2px;
      border: 1px solid #fff;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75); }
  .carousel-section .container-fluid .container .top-carousel-arrows .carousel-ul {
    padding-left: 0;
    position: relative; }
    .carousel-section .container-fluid .container .top-carousel-arrows .carousel-ul .arrow {
      display: inline-block;
      position: absolute;
      top: -240px; }
      .carousel-section .container-fluid .container .top-carousel-arrows .carousel-ul .arrow.next {
        right: 0; }
  .carousel-section .container-fluid .mobile-slide-wrapper {
    padding: 0; }
    .carousel-section .container-fluid .mobile-slide-wrapper .mobile .mobile-slide {
      width: 100%; }

.afewwords {
  font-family: "Roboto", sans-serif;
  margin-bottom: 58px; }
  @media (max-width: 360px) {
    .afewwords .container .iphone-center {
      width: 100%; } }
  .afewwords .container .me {
    display: block;
    margin: 0 auto;
    height: 100px;
    margin-top: 20px; }
  .afewwords .container .afewwords-topic {
    float: left;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ff9800;
    text-shadow: 0 1px #fff;
    padding-top: 30px; }
    @media (max-width: 360px) {
      .afewwords .container .afewwords-topic {
        padding-top: 5px;
        float: none; } }
    @media (min-width: 768px) {
      .afewwords .container .afewwords-topic {
        float: none; } }
    .afewwords .container .afewwords-topic.mobile {
      margin-bottom: 50px; }
    @media (min-width: 992px) {
      .afewwords .container .afewwords-topic {
        padding-top: 0px;
        margin-top: 43px;
        text-align: left; } }
    .afewwords .container .afewwords-topic .name {
      color: #000; }
  .afewwords .container .human {
    position: absolute;
    z-index: 3;
    left: -123px;
    top: -145px; }
  .afewwords .container .afewwords-content {
    border: 3px solid #000;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    letter-spacing: -.2px;
    padding: 25px;
    line-height: 30px;
    margin-top: 41px;
    border-radius: 35px; }
    @media (min-width: 768px) {
      .afewwords .container .afewwords-content {
        border-radius: 50px; } }
    @media (min-width: 992px) {
      .afewwords .container .afewwords-content {
        padding: 45px 25px 4px 117px; } }
    .afewwords .container .afewwords-content .paragraph {
      margin-bottom: 0; }
    .afewwords .container .afewwords-content .invite {
      margin: 20px 0 0; }
      @media (min-width: 768px) {
        .afewwords .container .afewwords-content .invite {
          text-align: right;
          padding-right: 13px; } }
      @media (min-width: 992px) {
        .afewwords .container .afewwords-content .invite {
          margin-bottom: 20px; } }
      @media (min-width: 1200px) {
        .afewwords .container .afewwords-content .invite {
          margin-top: 0; } }

.ilustration {
  font-family: "Roboto", sans-serif; }
  @media (min-width: 991px) and (max-width: 1200px) {
    .ilustration .small-lg {
      width: 50%; } }
  @media (min-width: 1200px) and (max-width: 1500px) {
    .ilustration .small-lg {
      width: 33.3%; } }
  .ilustration .small-lg .ilustration-box .img-wrapper {
    position: relative; }
    .ilustration .small-lg .ilustration-box .img-wrapper .bg {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-color: aquamarine;
      border: 2px solid #000;
      z-index: 1; }
    .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
      height: 240px;
      font-weight: 900;
      border: 1px solid #fff;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      background-image: url(../img/ilustration-img.png);
      background-size: cover;
      max-width: 445px;
      line-height: 30px;
      position: relative;
      font-size: 20px;
      margin: 20px auto 10px;
      transition: .5s;
      z-index: 2; }
      .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title.coloring-page-title {
        background-image: url(../img/coloring-page.png); }
      @media (min-width: 768px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          font-size: 22px; } }
      @media (min-width: 410px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 350px; } }
      @media (min-width: 768px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 280px; } }
      @media (min-width: 860px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 320px; } }
      @media (min-width: 910px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 330px; } }
      @media (min-width: 992px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 355px; } }
      @media (min-width: 1200px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 295px; } }
      @media (min-width: 1300px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 314px; } }
      @media (min-width: 1400px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 344px; } }
      @media (min-width: 1500px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 280px; } }
      @media (min-width: 1600px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 295px; } }
      @media (min-width: 1700px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 315px; } }
      @media (min-width: 1800px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 330px; } }
      @media (min-width: 1900px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title {
          height: 350px; } }
      .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title .title-content {
        color: #fff;
        position: absolute;
        bottom: 24px;
        padding: 0 34px;
        text-shadow: -3px 0 #000, -2px -3px #000, 0 3px #000, -2px 1px #000, 3px 0 #000, 2px -3px #000, 2px 3px #000, 0 -4px #000, -1px 5px 2px #000; }
      @media (min-width: 1200px) {
        .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title:hover {
          -ms-transform: rotate(-8deg);
          -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg); } }
      .ilustration .small-lg .ilustration-box .img-wrapper .ilustration-title.coloring-img {
        background-image: none;
        display: block;
        margin: 20px auto 10px; }
  .ilustration .small-lg .ilustration-box .ilustration-paragraph {
    z-index: 2;
    margin: 35px 0 40px;
    color: #212121;
    background-color: #fff;
    border-radius: 50px;
    min-height: 100px;
    line-height: 29px;
    font-size: 16px;
    letter-spacing: .1px;
    border: 3px solid #000;
    padding: 20px 19px;
    text-align: center;
    position: relative; }
    @media (min-width: 768px) {
      .ilustration .small-lg .ilustration-box .ilustration-paragraph {
        margin-top: 42px;
        margin-bottom: 10px;
        min-height: 125px;
        margin-bottom: 90px; } }
    @media (min-width: 1024px) {
      .ilustration .small-lg .ilustration-box .ilustration-paragraph {
        padding: 15px 28px 18px; } }
    .ilustration .small-lg .ilustration-box .ilustration-paragraph.coloring-page-paragraph {
      border: none;
      background: transparent;
      padding: 0 26px;
      text-align: inherit;
      margin-top: 18px;
      letter-spacing: -.2px;
      line-height: 31px;
      margin-bottom: 28px; }
  .ilustration .small-lg .ilustration-box .paragraph-arrow {
    z-index: 2;
    position: absolute;
    top: 243px;
    left: 100px;
    transition: all .4s; }
    @media (min-width: 410px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 353px; } }
    @media (min-width: 640px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        left: 160px; } }
    @media (min-width: 768px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        left: 100px;
        top: 310px; } }
    @media (min-width: 773px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 310px; } }
    @media (min-width: 860px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 350px; } }
    @media (min-width: 910px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 360px; } }
    @media (min-width: 992px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 385px; } }
    @media (min-width: 1200px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 325px; } }
    @media (min-width: 1300px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 344px; } }
    @media (min-width: 1400px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 374px; } }
    @media (min-width: 1500px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 310px; } }
    @media (min-width: 1600px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 325px; } }
    @media (min-width: 1700px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 345px; } }
    @media (min-width: 1800px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 360px; } }
    @media (min-width: 1900px) {
      .ilustration .small-lg .ilustration-box .paragraph-arrow {
        top: 380px; } }

.navigation {
  margin: 22px 0 62px; }
  @media (min-width: 768px) {
    .navigation {
      margin-top: 0;
      margin-bottom: 106px; } }
  .navigation .pagination-box .pagination-ul {
    padding-left: 0;
    text-align: center; }
    .navigation .pagination-box .pagination-ul .pagination-li {
      display: inline-block;
      background-color: #fff;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      vertical-align: top;
      margin: 0 10px;
      transition: .5s;
      border: 2px solid #212121;
      border-radius: 50px; }
      .navigation .pagination-box .pagination-ul .pagination-li .arrow {
        display: block;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center; }
        .navigation .pagination-box .pagination-ul .pagination-li .arrow.label-prev {
          background-image: url(../img/arrowprev.png); }
        .navigation .pagination-box .pagination-ul .pagination-li .arrow.label-next {
          background-image: url(../img/arrow.png); }
      .navigation .pagination-box .pagination-ul .pagination-li .pagination-href {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 22px;
        color: #212121;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        line-height: 1.9;
        text-align: center; }
      .navigation .pagination-box .pagination-ul .pagination-li.active {
        background-color: #ff9800; }
      .navigation .pagination-box .pagination-ul .pagination-li.last-page {
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;
        margin: 6px 0 0 0; }
        .navigation .pagination-box .pagination-ul .pagination-li.last-page:hover {
          background-color: transparent; }
      .navigation .pagination-box .pagination-ul .pagination-li:hover {
        background-color: #ff9800; }
    .navigation .pagination-box .pagination-ul.coloring-page {
      margin-top: 23px; }

.collabo {
  background-color: #fbfbf9;
  position: relative;
  margin-bottom: 52px; }
  .collabo .text-box {
    z-index: 2;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.6px;
    text-align: center;
    color: #000;
    border: 4px solid #000;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: -40px; }
    @media (min-width: 768px) {
      .collabo .text-box {
        width: 588px; } }
  .collabo .slick-arrow {
    visibility: hidden; }
  .collabo .collabo-align {
    text-align: center; }
    .collabo .collabo-align:focus {
      outline: 0; }
    .collabo .collabo-align .collabo-img {
      width: 100%;
      margin-top: 24px; }
      @media (min-width: 768px) {
        .collabo .collabo-align .collabo-img {
          margin-top: 36px;
          margin-bottom: 22px; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .collabo .collabo-align .collabo-img {
          width: 195px; } }
      @media (min-width: 1601px) and (max-width: 1830px) {
        .collabo .collabo-align .collabo-img {
          width: 245px; } }
      @media (max-width: 767px) {
        .collabo .collabo-align .collabo-img.mobile-pt {
          margin-top: 110px; }
        .collabo .collabo-align .collabo-img.mobile-pb {
          margin-bottom: 30px; } }

.download {
  margin-bottom: 88px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400; }
  .download .contact {
    position: relative; }
    .download .contact .contact-title {
      margin-top: 38px;
      margin-bottom: 5px; }
    .download .contact .contact-paragraph {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 35px; }
    .download .contact .social .facebook-img {
      position: absolute;
      top: -72px;
      right: 0;
      left: 0;
      margin: auto; }
      @media (min-width: 768px) {
        .download .contact .social .facebook-img {
          top: 0;
          right: 0;
          left: auto; } }
    .download .contact .comment-columns-padding {
      padding: 0; }
      @media (min-width: 768px) {
        .download .contact .comment-columns-padding {
          padding: 0 15px; } }
      @media (min-width: 1200px) {
        .download .contact .comment-columns-padding {
          padding: 0; } }
      .download .contact .comment-columns-padding .contact-phone {
        margin-top: 8px; }
      .download .contact .comment-columns-padding .contact-submit {
        text-align: right; }
        @media (min-width: 768px) {
          .download .contact .comment-columns-padding .contact-submit {
            text-align: center; } }
        @media (min-width: 1200px) {
          .download .contact .comment-columns-padding .contact-submit {
            text-align: inherit; } }
      .download .contact .comment-columns-padding .box {
        width: 100%;
        border: 3px solid #000;
        border-radius: 100px;
        font-size: 17px; }
        .download .contact .comment-columns-padding .box.message {
          border-radius: 30px;
          text-align: center;
          resize: none; }
          @media (min-width: 768px) {
            .download .contact .comment-columns-padding .box.message {
              text-align: inherit;
              border-radius: 100px;
              margin-bottom: 10px;
              height: 115px;
              padding: 45px 40px 0; } }
        @media (min-width: 1200px) {
          .download .contact .comment-columns-padding .box.mail {
            width: 250px; } }
        @media (min-width: 1200px) {
          .download .contact .comment-columns-padding .box.phone {
            width: 345px; } }
        .download .contact .comment-columns-padding .box.same-height {
          height: 45px; }
        .download .contact .comment-columns-padding .box.text-align {
          padding: 0 32px; }
        .download .contact .comment-columns-padding .box:focus {
          outline: none; }
      .download .contact .comment-columns-padding .submit {
        background-color: transparent;
        border: none;
        color: #212121;
        font-size: 30px;
        font-weight: 700;
        font-family: "Roboto", sans-serif; }
        .download .contact .comment-columns-padding .submit:focus {
          outline: none; }
        @media (min-width: 768px) {
          .download .contact .comment-columns-padding .submit {
            margin-top: 14px; } }
  .download .download-align {
    text-align: center; }
    .download .download-align .download-topic {
      font-weight: 700;
      margin-bottom: 24px;
      margin-top: 34px;
      float: left;
      color: #ff9800;
      text-shadow: 0 1px #fff; }
      .download .download-align .download-topic .download-topic-href {
        color: inherit; }
        .download .download-align .download-topic .download-topic-href:focus, .download .download-align .download-topic .download-topic-href:hover {
          text-decoration: none; }
      .download .download-align .download-topic .see-more {
        font-size: 16px; }
        @media (min-width: 768px) {
          .download .download-align .download-topic .see-more {
            font-size: 14px; } }
        @media (min-width: 992px) {
          .download .download-align .download-topic .see-more {
            font-size: 12px; } }
    .download .download-align .download-img {
      height: 148px;
      border: 1px solid #fff;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75); }
    .download .download-align .download-margin {
      margin-top: 18px; }
    .download .download-align .download-mobile-margin {
      margin-top: 18px; }
      .download .download-align .download-mobile-margin:first-of-type {
        margin-top: 0; }
      @media (min-width: 768px) {
        .download .download-align .download-mobile-margin {
          margin-top: 0; } }

.footer {
  background-color: #212121;
  min-height: 140px;
  text-align: center; }
  .footer .img-box {
    height: 140px;
    position: relative; }
    .footer .img-box .footer-img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }

.workplace {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }
  .workplace .wokplace-topic {
    color: #ff9800;
    font-size: 20px;
    font-weight: 500; }

.contact-page {
  margin-bottom: 82px; }
  @media (min-width: 768px) {
    .contact-page {
      margin-bottom: 52px; } }
  @media (min-width: 768px) {
    .contact-page .contact-page-heading {
      padding-left: 74px; } }
  .contact-page .me-img {
    display: block;
    margin: 44px auto 0; }
    @media (min-width: 992px) {
      .contact-page .me-img {
        margin: 44px 0 0;
        padding-left: 42px; } }
  .contact-page .same-paragraph {
    margin-top: 33px; }

.projects-offer {
  font-family: "Roboto", sans-serif;
  color: #5e6b72; }
  .projects-offer .less-padding {
    padding-right: 6px;
    text-align: center;
    height: 330px; }
  .projects-offer .offer-wrapper {
    margin-top: 53px;
    display: inline-block;
    text-align: left;
    min-width: 290px; }
    .projects-offer .offer-wrapper .icon-img {
      max-height: 61px; }
    .projects-offer .offer-wrapper .offer-topic {
      font-size: 20px;
      color: #212121;
      display: inline-block;
      max-width: 180px;
      margin-bottom: 0px;
      vertical-align: bottom;
      padding-left: 4px;
      line-height: 26px;
      margin-top: 0; }
      .projects-offer .offer-wrapper .offer-topic .orange {
        color: #ff9800; }
    .projects-offer .offer-wrapper .offer-paragraph {
      font-size: 18px;
      margin-top: 18px;
      letter-spacing: -0.4px;
      max-width: 290px; }
    .projects-offer .offer-wrapper .offer-ul {
      padding-left: 0;
      margin-top: 24px;
      line-height: 34px;
      max-width: 290px; }
      .projects-offer .offer-wrapper .offer-ul .offer-li {
        list-style-type: none;
        font-size: 16px;
        color: #5e6b72; }
        .projects-offer .offer-wrapper .offer-ul .offer-li::before {
          content: '';
          display: inline-block;
          background-color: #5e6b72;
          height: 10px;
          width: 10px;
          margin-bottom: 2px;
          margin-right: 22px; }

.bar {
  margin: 18px 0 60px;
  background-color: #212121; }
  .bar.realization {
    margin: 18px 0 0; }
  .bar .bar-wrapper {
    height: 66px;
    line-height: 66px;
    border-top: 1px solid #9e9e9e;
    position: relative; }
    .bar .bar-wrapper.realization {
      border-top: none;
      line-height: 53px; }
      @media (min-width: 768px) {
        .bar .bar-wrapper.realization {
          line-height: 66px; } }
    .bar .bar-wrapper .bar-heading {
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-size: 18px; }
      @media (min-width: 768px) {
        .bar .bar-wrapper .bar-heading {
          font-size: 24px; } }
    .bar .bar-wrapper .arrow-down {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -30px;
      margin: auto; }

@media (min-width: 768px) {
  .article .no-padding {
    padding: 0; } }
.article .same-paragraph {
  margin-top: 30px;
  line-height: 28px; }

.article-gallery {
  margin-top: 22px; }
  .article-gallery .same-img {
    margin: 20px auto 0; }

.branding .branding-heading {
  font-size: 20px; }
.branding .color-psychology, .branding .branding-typography {
  border: none;
  box-shadow: none; }
.branding .color-psychology {
  max-width: 194px; }
.branding .branding-typography, .branding .branding-hero {
  width: 100%; }

.realization .realization-bar {
  position: relative; }
.realization .realization-bar-span {
  font-size: 12px;
  position: absolute;
  padding-left: 10px;
  padding-top: 4px;
  left: 0;
  right: 0;
  bottom: -19px; }
  @media (min-width: 768px) {
    .realization .realization-bar-span {
      left: inherit;
      right: inherit;
      bottom: inherit; } }

.my-realizations {
  background-color: #fff;
  padding-top: 100px; }
  .my-realizations .my-realizations-wrapper {
    height: 194px;
    position: relative;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .my-realizations .my-realizations-wrapper {
        margin-bottom: 80px; } }
    @media (min-width: 1200px) {
      .my-realizations .my-realizations-wrapper {
        margin-bottom: 140px; } }
    .my-realizations .my-realizations-wrapper .my-realizations-logo {
      width: 100%;
      max-width: 226px;
      max-height: 195px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto; }
      @media (min-width: 1200px) {
        .my-realizations .my-realizations-wrapper .my-realizations-logo {
          max-width: 269px; } }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }

/*# sourceMappingURL=style.css.map */
