/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0;
}

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-family: 'Poppins', sans-serif;
  color: #090909;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.ui-state-active .m-btn_primary {
  background-color: #090909;
  color: #959595;
  border-color: #090909;
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900;
}

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px;
}

.m-btn_primary {
  background: white;
  color: red;
  border: 2px solid red;
}

.m-btn_secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

@font-face {
  font-family: "antonio";
  src: url("../font/antonio.bold.ttf");
}

.typo_primary {
  font-family: antonio, Sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  color: #959595;
  margin-bottom: 30px;
  line-height: 44px;
  letter-spacing: 1.1px;
}

@media screen and (min-width: 768px) {
  .typo_primary {
    line-height: 36px;
  }
}

.typo_secondary {
  font-family: antonio, Sans-serif;
  color: #959595;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 36px;
  letter-spacing: .6px;
}

.typo_text {
  font-family: 'Open Sans', sans-serif;
  color: #090909;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .typo_text {
    line-height: 25px;
    font-size: 18px;
  }
}

.navbar .typo_secondary {
  color: white;
}

@media screen and (min-width: 1024px) {
  .navbar .typo_secondary {
    font-size: 18px;
  }
}

.header .typo_text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  font-size: 28px;
  line-height: 39px;
}

@media screen and (min-width: 768px) {
  .header .typo_text {
    font-size: 24px;
    margin-top: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .header .typo_text {
    margin-top: 75px;
    padding-left: 4%;
    max-width: 490px;
  }
}

@media screen and (min-width: 1200px) {
  .header .typo_text {
    padding-left: 12%;
  }
}

.header .typo_text span {
  font-style: normal;
}

.post-wrapper .post .typo_primary, .post-wrapper .post .typo_secondary {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post .typo_primary {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .post-wrapper .post_body .typo_text {
    padding: 0 10%;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .typo_text {
    text-align: left;
    padding: 0;
    max-width: 350px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_body .typo_text {
    max-width: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .typo_secondary {
    max-width: 350px;
    margin: 0 auto 30px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_body .typo_secondary {
    max-width: 420px;
  }
}

.footer .typo {
  color: white;
}

.footer .typo_secondary {
  margin-bottom: 15px;
}

.footer .typo_text {
  margin-bottom: 0;
}

.footer .typo_text.author {
  text-align: center;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .footer .typo_text.author {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .footer .typo_text.author {
    padding: 15px 0;
  }
}

.footer .typo_text.author a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer .typo_text, .footer .typo_secondary {
    width: 60%;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .footer .typo_text, .footer .typo_secondary {
    width: 100%;
  }
}

.footer .col-3:first-of-type .typo_text {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer .col-3:first-of-type .typo_text {
    margin-bottom: 65px;
  }
}

.navbar {
  z-index: 2;
  transition: .3s all;
  height: 100px;
  background: #090909;
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: 130px;
    z-index: 3;
  }
}

.navbar.reduced {
  position: fixed;
  height: 70px;
  z-index: 6;
}

.navbar .content-wrapper {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper {
    position: relative;
  }
}

.navbar .content-wrapper .list {
  position: relative;
  height: 100vh;
  left: -1300px;
  transition: .3s all;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list {
    position: static;
    height: auto;
  }
}

.navbar .content-wrapper .list.is-active {
  left: 0;
  right: 0;
  background: #090909;
}

.navbar .content-wrapper .list_item {
  margin: 10px 0 18px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    margin: 10px 0 0;
  }
}

.navbar .content-wrapper .list_item span {
  cursor: pointer;
}

.navbar .content-wrapper .list_item:first-of-type {
  padding-top: 140px;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item:first-of-type {
    padding-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item:nth-child(-n+3) .navbar-icon {
    height: 84px;
  }
}

.navbar .content-wrapper .list_item:nth-child(-n+3) span {
  position: relative;
  top: -3px;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item:nth-child(4), .navbar .content-wrapper .list_item:nth-child(5) {
    position: absolute;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item:nth-child(4) .navbar-icon, .navbar .content-wrapper .list_item:nth-child(5) .navbar-icon {
    height: 62px;
    padding-bottom: 9px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item:nth-child(4) {
    right: 14%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item:nth-child(5) {
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item .box {
    display: inline-block;
  }
}

.navbar .content-wrapper .list_item .navbar-icon {
  cursor: pointer;
  transition: .3s all;
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item .navbar-icon {
    display: block;
    margin: 0 auto;
  }
}

.navbar .content-wrapper .list_item a {
  padding: 5px;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .list_item a {
    padding: 0;
  }
}

.navbar .content-wrapper .list_item.reduced .navbar-icon {
  opacity: 0;
  visibility: hidden;
  height: 10px;
}

.navbar .content-wrapper .list_item.reduced:nth-child(4), .navbar .content-wrapper .list_item.reduced:nth-child(5) {
  transition: .3s all;
  padding-top: 0;
}

.navbar .content-wrapper .list_item.reduced:nth-child(4) .navbar-icon, .navbar .content-wrapper .list_item.reduced:nth-child(5) .navbar-icon {
  height: 0;
}

.navbar .content-wrapper .brand-logo {
  margin: 0 auto;
  padding-top: 15px;
  background: #090909;
  border-radius: 50%;
  padding: 15px 8px 8px;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: .3s all;
  pointer-events: none;
}

.navbar .content-wrapper .brand-logo.reduced {
  pointer-events: painted;
  top: -15px;
}

.navbar .content-wrapper .burger {
  position: absolute;
  right: 15px;
  top: 40px;
  transition: .3s all;
}

@media screen and (min-width: 1024px) {
  .navbar .content-wrapper .burger {
    display: none;
  }
}

.navbar .content-wrapper .burger.reduced {
  top: 25px;
}

.navbar .content-wrapper .burger_item {
  display: block;
  float: right;
  clear: both;
  width: 32px;
  height: 4px;
  background-color: white;
  margin-bottom: 5px;
}

.navbar .content-wrapper .burger_item:last-of-type {
  margin-bottom: 0;
}

.header .content-wrapper .two-boxes .box {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.header .content-wrapper .two-boxes .box:first-of-type {
  margin: 40px 0 15px;
  float: right;
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box:first-of-type {
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type {
    border-bottom: 11px solid #090909;
    margin: 0;
    height: 386px;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type .hero {
    position: relative;
    left: -39px;
    bottom: 80px;
    z-index: 3;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box:first-of-type::after {
    content: '';
    background-image: url(../images/hero-bg.png);
    display: block;
    border-bottom: 11px solid #090909;
    bottom: -11px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px;
  }
}

@media screen and (min-width: 1370px) {
  .header .content-wrapper .two-boxes .box:first-of-type::after {
    background-position: center;
    position: absolute;
    left: 200px;
    right: -200px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box {
    width: 50%;
    display: inline-block;
  }
}

.header .content-wrapper .two-boxes .box .hero {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .header .content-wrapper .two-boxes .box .hero {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .header .content-wrapper .two-boxes .box .hero {
    float: left;
    max-width: 100%;
  }
}

.post-wrapper {
  padding: 0 15px;
  clear: both;
}

@media screen and (min-width: 1024px) {
  .post-wrapper {
    margin-top: 62px;
  }
}

.post-wrapper .post {
  margin-bottom: 70px;
}

.post-wrapper .post:first-of-type {
  margin-top: 60px;
}

.post-wrapper .post:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_head {
    padding: 0 8%;
  }
}

.post-wrapper .post_head-img {
  margin: 0 auto 30px;
  display: block;
  max-height: 156px;
  max-width: 140px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head-img {
    display: inline-block;
    float: left;
    margin: 0px 6% 0 4%;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_head-img {
    margin-right: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_head .content {
    width: 75%;
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 1370px) {
  .post-wrapper .post_head .content {
    width: 77%;
  }
}

@media screen and (min-width: 1760px) {
  .post-wrapper .post_head .content {
    width: 78%;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body {
    float: left;
    width: 100%;
  }
}

.post-wrapper .post_body .two-boxes {
  position: relative;
  padding-top: 100px;
  margin-top: 80px;
  border: 2px dashed #959595;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes {
    text-align: center;
    padding: 74px 0;
    margin-top: 60px;
  }
}

.post-wrapper .post_body .two-boxes .box {
  vertical-align: top;
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box {
    width: 40%;
    display: inline-block;
    padding: 0;
  }
}

.post-wrapper .post_body .two-boxes .box .post-body-img {
  max-width: 100%;
  margin: 0 auto 15px;
  display: block;
}

@media screen and (min-width: 768px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    margin-bottom: 25px;
    max-width: 292px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    width: 100%;
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .post-wrapper .post_body .two-boxes .box .post-body-img {
    max-width: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box:first-of-type {
    margin-right: 5%;
  }
}

.post-wrapper .post_body .two-boxes .box:last-of-type {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .post-wrapper .post_body .two-boxes .box:last-of-type {
    margin: 0 0 0 5%;
  }
}

.post-wrapper .post_body .two-boxes::after {
  content: url(../images/post-brand.png);
  display: block;
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  text-align: center;
}

.footer {
  margin-top: 50px;
  background: #090909;
  min-height: 420px;
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .content-wrapper {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1370px) {
  .footer .content-wrapper {
    padding: 0 14%;
  }
}

@media screen and (min-width: 1760px) {
  .footer .content-wrapper {
    padding: 0 18%;
  }
}

.footer .content-wrapper .col-3 {
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .footer .content-wrapper .col-3 {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3 {
    width: 33.3%;
    display: inline-block;
    float: left;
    padding: 40px 0 0;
  }
}

.footer .content-wrapper .col-3:first-of-type {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .footer .content-wrapper .col-3:first-of-type {
    position: relative;
  }
}

.footer .content-wrapper .col-3:first-of-type .brand-logo {
  display: block;
  margin: 40px auto 60px;
}

@media screen and (min-width: 768px) {
  .footer .content-wrapper .col-3:first-of-type .brand-logo {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3:first-of-type .brand-logo {
    position: static;
    margin: 0;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .footer .content-wrapper .col-3:nth-of-type(2), .footer .content-wrapper .col-3:nth-of-type(3) {
    width: calc(50% - 45px);
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3:nth-of-type(2), .footer .content-wrapper .col-3:nth-of-type(3) {
    padding: 40px 0 0;
    width: 33.3%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .content-wrapper .col-3:nth-of-type(2) {
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3:nth-of-type(2) {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer .content-wrapper .col-3:nth-of-type(3) {
    padding-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3:nth-of-type(3) {
    padding-left: 0;
    text-align: right;
  }
}

.footer .content-wrapper .col-3 .wpcf7-form p {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3 .wpcf7-form p {
    width: 75%;
  }
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-not-valid-tip {
  font-size: 13px;
  position: relative;
  top: -10px;
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-form-control {
  border: none;
  height: 40px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #090909;
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #090909;
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #090909;
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #090909;
}

.footer .content-wrapper .col-3 .wpcf7-form p span .wpcf7-form-control.wpcf7-textarea {
  height: 125px;
  margin-bottom: 10px;
  resize: none;
}

.footer .content-wrapper .col-3 .wpcf7-form p .wpcf7-submit {
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  float: right;
  padding-right: 38px;
  cursor: pointer;
}

.footer .content-wrapper .col-3 .wpcf7-form p:last-of-type {
  position: relative;
  margin-bottom: 30px;
}

.footer .content-wrapper .col-3 .wpcf7-form p:last-of-type::after {
  content: url(../images/arrow.png);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 4px;
}

.footer .content-wrapper .col-3 .wpcf7-form .wpcf7-response-output {
  color: red;
  margin: 0 auto 30px;
  padding: 10px 15px;
  font-size: 13px;
  box-sizing: border-box;
  border: 2px solid white;
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3 .wpcf7-form .wpcf7-response-output {
    width: 75%;
    margin: 15px auto 0;
  }
}

.footer .content-wrapper .col-3 .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: white;
}

.footer .content-wrapper .col-3 iframe {
  border: 10px solid white;
  box-sizing: border-box;
  height: 285px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .footer .content-wrapper .col-3 iframe {
    width: 285px;
  }
}

body {
  overflow-x: hidden;
  background: #f9f9f9;
  padding-top: 100px;
}

body.is-active {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1530px;
  }
}
