.article {
    .articles-more {
        padding: 0;
        margin-top: 40px;
        @include breakpoint('tablet') {
            margin-top: 50px;
        }
        @include breakpoint('desktop_small') {
            margin: 65px 0 56px;
        }
    }
    &.content-wrapper {
        img {
            padding: 0 15px;
            box-sizing: border-box;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            @include breakpoint('tablet') {
                max-width: 520px;
                margin-left: 0;
            }
            @include breakpoint('desktop_small') {
                padding: 0;
            }
        }
        p {
            @include breakpoint('tablet') {
                padding-right: 150px;
            }
        }
        .articles-more {
            .typo {
                cursor: pointer;
                &_secondary {
                    @include breakpoint('tablet') {
                        padding-right: 37px;
                    }
                }
            }
        }
    }
    .grid-gallery {
        margin-top: 40px;
        @include breakpoint('tablet') {
            margin-top: 50px;
        }
        .gg-link {
            @include breakpoint('tablet') {
                max-width: 50%;
            }
            .grid-gallery-caption {
                height: auto !important;
                .ggImg {
                    height: auto !important;
                }
            }
        }
    }
    &.tales-article {
        margin-bottom: 40px;
        @include breakpoint('desktop_small') {
            margin-bottom: 56px;
        }
    }
}