.articles {
    margin: 20px 0;
    @include breakpoint('tablet') {
        margin-top: 40px;
    }
    @include breakpoint('desktop_small') {
        margin-top: 52px;
    }
    &-item {
        margin: 0 15px 40px;
        @include breakpoint('tablet') {
            margin: 0 0 60px;
        }
        @include breakpoint('desktop_small') {
            margin: 0 15px 40px;
        }
        @include breakpoint('desktop') {
            margin: 0 0 60px;
        }
        &-href {
            @include breakpoint('tablet') {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 25px 46px;
            }
            @include breakpoint('desktop_small') {
                margin: 0 0 50px 55px;
            }
            @include breakpoint('desktop') {
                margin-bottom: 46px;
                margin: 0 0 46px 70px;
            }
            &:last-of-type {
                @include breakpoint('tablet') {
                    margin-bottom: 36px;
                }
                @include breakpoint('desktop') {
                    margin-bottom: 46px;
                }
            }
            .articles-item {
                &_img {
                    height: 228px;
                    max-width: 350px;
                    margin-bottom: 15px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin: 0 auto 15px;
                    @include breakpoint('tablet') {
                        width: 246px;
                        height: 165px;
                        margin: 0;
                    }
                }
                &_content {
                    @include breakpoint('tablet') {
                        width: 62%;
                    }
                    @include breakpoint('desktop_small') {
                        width: 66%;
                    }
                    @include breakpoint('desktop') {
                        width: 68%;
                    }
                }
            }
        }
    }
    &.main {
        .articles-item-href {
            @include breakpoint('desktop_small') {
                margin: 0 60px 46px;
            }
            @include breakpoint('desktop') {
                margin: 0 110px 46px;
            }
            .articles-item {
                &_content {
                    @include breakpoint('desktop') {
                        width: 70%;
                    }
                }
            }
        }
    }
    &-more {
        padding: 0 15px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
        @include breakpoint('tablet') {
            margin-bottom: 36px;
        }
        @include breakpoint('desktop_small') {
            margin: 0 30px 40px;
        }
        &_href {
            margin: 0;
        }
    }
}

.other_posts-template-default {
    .articles-more,
    .other-h {
        display: none;
    }
}

.post-template-default{
    .other-h {
        display: none;
    } 
}