.collabo-slider {
    margin: 20px 0;
    @include breakpoint('tablet') {
        margin: 40px 0;
    }
    .header-slider-wrapper {
        &_item {
            &-box {
                &-img {
                    max-width: 300px;
                    height: auto;
                    margin: 20px auto 20px;
                    max-width: 200px;
                    max-height: 150px;
                    @include breakpoint('tablet') {
                        max-width: 180px;
                        max-height: 180px;
                    }
                    @include breakpoint('desktop_small') {
                        max-width: 230px;
                        max-height: 230px;
                    }
                }
            }
        }
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
}