.coloring {
    &-items {
        margin: 0 15px;
        @include breakpoint('tablet') {
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        &_item {
            width: 100%;
            height: 240px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @include breakpoint('tablet') {
                width: 320px;
            }
            @include breakpoint('desktop_small') {
                width: 380px;
                height: 300px;
            }
            @include breakpoint('desktop') {
                width: 480px;
                height: 360px;
            }
        }
        a {
            margin: 15px; 
        }
    }
}