.contact {
    padding: 0 15px;
    margin-bottom: 25px;
    @include breakpoint('tablet_big') {
        margin-bottom: 56px;
    }
    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include breakpoint('desktop_small') {
            justify-content: space-between;
        }
        @include breakpoint('desktop') {
        }
        .contact {
            &-figure {
                margin: 0 auto 20px;
                display: inline-block;
                @include breakpoint('desktop_small') {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                }
            }
            &_descr {
                @include breakpoint('desktop_small') {
                    width: 72%;
                }
            }
        }
    }
}