.footer {
    @include breakpoint('desktop_small') {
        border-top: 48px solid $cl-black;
    }
    &-boxes {
        width: 100%;
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @include breakpoint('desktop_small') {
            position: relative;
            top: -48px;
            margin-bottom: -42px;
        }
        &_box {
            margin-bottom: 20px;
            @include breakpoint('tablet') {
                width: 50%;
            }
            @include breakpoint('desktop_small') {
                width: 33.3%;
                margin-bottom: 0;
            }
            &:last-of-type {
                @include breakpoint('tablet') {
                    width: 100%;
                }
                @include breakpoint('desktop_small') {
                    width: 33.3%;
                }
            }
            &_heading {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 5px 0;
                background: $cl-black;
                margin-bottom: 20px;
                @include breakpoint('desktop_small') {
                    margin-bottom: 27px;
                    padding: 3px 0 0;
                }
                &-img {
                    max-height: 42px;
                    margin: 0 17px 0 5px;
                    @include breakpoint('tablet') {
                        margin-right: 6px;
                    }
                }
            }
            .text-wrapper {
                border: 1px solid $cl-gray;
                margin: 0 15px;
                padding: 15px;
                @include breakpoint('tablet') {
                    display: inline-block;
                    padding: 18px 24px;
                }
            }
            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include breakpoint('tablet') {
                    flex-direction: row;
                    justify-content: space-evenly;
                }
                @include breakpoint('desktop_small') {
                    flex-wrap: wrap;
                }
                &-item {
                    margin-bottom: 15px;
                    @include breakpoint('tablet') {
                        margin: 0;
                    }
                    @include breakpoint('desktop_small') {
                        margin-bottom: 15px;
                    }
                    @include breakpoint('desktop') {
                        margin-bottom: 22px;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                        @include breakpoint('desktop_small') {
                            margin-bottom: 15px;
                        }
                        @include breakpoint('desktop') {
                            margin-bottom: 22px;
                        }
                    }
                    &-img {
                        border: 1px solid $cl-gray;
                        height: 146px;
                        width: 152px;
                        @include breakpoint('desktop_small') {
                            max-width: 130px;
                        }
                        @include breakpoint('desktop') {
                            max-width: 165px;
                        }
                    }
                }
            }
        }
    }
}