.wpcf7-form {
    padding: 0 15px;
    box-sizing: border-box;
    @include breakpoint('desktop') {
        padding: 0;
    }
    p {
        width: 100%;
        @include breakpoint('tablet') {
            width: 80%;
        }
    }
    textarea,
    input {
        border: 1px solid $cl-gray;
        padding-left: 18px;
        box-sizing: border-box;
        width: 100%;
    }
    input {
        height: 44px;
        margin-bottom: 18px;
        @include breakpoint('tablet') {
            margin-bottom: 12px;
        }
        &.wpcf7-submit {
            font-family: "MyriadPro-BoldCond";
            font-size: 26px;
            background: transparent;
            border: none;
            width: auto;
            float: right;
            margin-top: 14px;
            cursor: pointer;
            @include breakpoint('desktop_small') {
                margin-top: 26px;
            }
            @include breakpoint('desktop') {
                margin-top: 36px;
            }
        }
        &.wpcf7-not-valid{
            border-color: red;
        }
    }
    textarea {
        padding-top: 14px;
        height: 120px;
        resize: none;
    }
    .wpcf7-not-valid-tip,
    .wpcf7-response-output {
        font-family: "MyriadPro";
    }
    .wpcf7-not-valid-tip {
        position: relative;
        top: -10px;
        padding-left: 5px;
    }
    .wpcf7-response-output {
        margin: 0px;
        padding: 15px;
        box-sizing: border-box;
        margin-top: 40px;
        color: $cl-black;
        width: 100%;
        @include breakpoint('tablet') {
            width: 80%;
        }
        @include breakpoint('desktop_small') {
            margin-top: 60px;
        }
    }
}