.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px 15px 6px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    border-bottom: 8px solid $cl-black;
    background: $cl-white;
    transition: .3s padding;
    @include breakpoint('desktop_small') {
        transition: none;
        position: static;
        justify-content: space-between;
        padding: 14px 15px 48px;
        border-bottom: 0;
    }
    @include breakpoint('desktop') {
        padding: 14px 0 48px;
    }
    &_logo {
        &-img {
            max-width: 210px;
            transition: .3s all;
            @include breakpoint('desktop_small') {
                max-width: 220px;
            }
            @include breakpoint('desktop') {
                max-width: 270px;
            }
        }
    }
    &.reduced {
        padding: 8px 15px 0px;
        @include breakpoint('desktop_small') {
            padding: 14px 15px 48px;
        }
        .header-nav_logo {
            &-img {
                max-width: 150px;
                @include breakpoint('desktop_small') {
                    max-width: 220px;
                }
                @include breakpoint('desktop') {
                    max-width: 270px;
                }
            }
        }
        .burger {
            &_item {
                height: 5px;
                width: 35px;
                &:nth-child(2) {
                    margin: 4px 0;
                }
            }
        }
        .nav-list {
            margin-top: 65px;
            @include breakpoint('desktop_small') {
                margin-top: 0;
            }
            &.is-active {
                height: calc(100vh - 64px);
            }
            li {
                margin: 10px 0;
                @include breakpoint('tablet') {
                    margin: 12px 0;
                }
                @include breakpoint('desktop_small') {
                    margin: 0;
                }
            }
        }
    }
    &_nav{
        &.desktop-fixed{
            .content-wrapper{
                .header-nav_nav-brand-logo{
                    @include breakpoint('desktop_small'){
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .content-wrapper{
            @include breakpoint('desktop_small'){
                position: relative;
            }
            .header-nav_nav-brand-logo{
                display: none;
                @include breakpoint('desktop_small'){
                    transition: .3s all;
                    visibility: hidden;
                    opacity: 0;
                    display: flex;
                    position: absolute;
                    top: 0;
                    z-index: 4;
                }
                @include breakpoint('desktop'){
                    left: -6px;
                }
            }
        }
    }
}