.header-slider {
    background: $cl-black;
    position: relative;
    @include breakpoint('tablet') {
        display: block;
        padding-bottom: 8px;
    }
    &-wrapper {
        &_item {
            &-img {
                margin: 0 4px 8px;
                height: 370px;
                @include breakpoint('tablet') {
                    height: 365px;
                    margin: 0 4px;
                }
                @include breakpoint('desktop_small') {
                    height: 405px;
                }
                @include breakpoint('desktop') {
                    height: 445px;
                }
            }
        }
    }
}