.highlights {
    background: $cl-lightOrange;
    margin-top: 20px;
    padding-bottom: 20px;
    @include breakpoint('desktop_small') {
        margin-top: 42px;
        padding-bottom: 28px;
    }
    &_heading {
        padding: 35px 15px 26px;
    }
    &-boxes {
        @include breakpoint('tablet') {
            display: flex;
            justify-content: space-around;
        }
        &_box {
            margin-bottom: 40px;
            padding: 0 15px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include breakpoint('tablet') {
                margin-bottom: 0;
            }
            &-img {
                max-width: 140px;
                margin: 20px auto 35px;
                display: block;
                @include breakpoint('desktop_small') {
                    max-width: 190px;
                    margin-bottom: 40px;
                    letter-spacing: -0.1px;
                }
            }
        }
    }
}