.header-nav {
    &_nav {
        @include breakpoint('desktop_small') {
            max-width: none;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            background: $cl-black;
            height: 43px;
            top: 130px;
        }

        &.desktop-fixed {
            @include breakpoint('desktop_small') {
                position: fixed;
                top: 0;
                margin-top: 0;
                z-index: 3;
                padding-bottom: 0;
            }
        }
        .nav-list {
            background: $cl-black;
            position: absolute;
            bottom: 0;
            top: -1px;
            left: 0;
            right: 0;
            margin-top: 95px;
            height: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .3s height, opacity;
            overflow: hidden;
            @include breakpoint('desktop_small') {
                transition: 0s;
                height: 42px;
                overflow: visible;
                opacity: 1;
                clear: both;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 3;
                box-sizing: border-box;
                padding: 2px 15px 0 75px;
                margin: 0 auto;
                max-width: 1180px;
                top: 0;
            }
            @include breakpoint('desktop') {
                padding: 2px 0 0 75px;
            }
            li {
                margin: 6px 0;
                opacity: 0;
                transition: .3s opacity;
                &:last-of-type {
                    margin-bottom: 35px;
                    @include breakpoint('desktop_small') {
                        margin: 0;
                    }
                }
                @include breakpoint('tablet') {
                    margin: 12px 0;
                }
                @include breakpoint('desktop_small') {
                    opacity: 1;
                    margin: 0;
                }
            }
            &.is-active {
                height: calc(100vh - 94px);
                opacity: 1;
                li {
                    opacity: 1;
                }
            }
            &_close {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 20px 20px 20px;
                border-color: transparent transparent #ffffff transparent;
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
                margin: auto;
                cursor: pointer;
                @include breakpoint('desktop_small') {
                    display: none;
                }
            }
        }
    }
}