.offer {
    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include breakpoint('phone_big') {
            justify-content: space-around
        }
        @include breakpoint('tablet') {
            margin: 0 15px;
        }
        @include breakpoint('desktop_small') {
            justify-content: space-between;
        }
        @include breakpoint('desktop') {
            margin: 0 auto;
        }
    }
    &-box {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 15px 15px;
        max-width: 352px;
        @include breakpoint('phone_big') {
            max-width: 45%;
        }
        @include breakpoint('tablet') {
            margin: 0 0 15px;
            max-width: 350px;
        }
        @include breakpoint('desktop_small') {
            max-width: 310px;
            margin-bottom: 29px;
        }
        @include breakpoint('desktop') {
            max-width: 352px;
        }
        &_heading {
            display: flex;
            align-items: center;
            margin: 20px 0 16px;
            &-img {
                max-height: 42px;
                margin: 0 17px 0 5px;
            }
        }
        &_img {
            height: 228px;
            max-width: 350px;
            border: 1px solid $cl-black;
            margin-bottom: 15px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            &-caption {
                display: none;
                @include breakpoint('desktop_small') {
                    position: absolute;
                    display: block;
                    padding: 20px 0 0 32px;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, .6);
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    opacity: 0;
                    transition: .3s all;
                    visibility: hidden;
                }
            }
        }
        &_bar {
            background: $cl-gray;
            margin-top: 12px;
            @include breakpoint('desktop_small') {
                display: none; 
            }
            &-href {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                min-height: 37px;
            }
        }
        a {
            &:hover {
                .offer-box_img-caption {
                    @include breakpoint('desktop_small') {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}