.page-heading {
    display: flex;
    align-items: center;
    padding: 16px 0;
    justify-content: center;
    margin: 20px 0 25px;
    @include breakpoint('desktop_small') {
        margin: 40px 0 50px;
    }
    &_img {
        max-height: 42px;
        margin: 0 17px 0 5px;
    }
}
