.realizations-slider {
    .header-slider-wrapper {
        &_item {
            padding: 0 15px;
            box-sizing: border-box;
            @include breakpoint('tablet') {
                margin-bottom: 20px;
            }
            @include breakpoint('desktop_small') {
                margin-bottom: 4px;
            }
            &-box {
                height: 340px;
                display: flex;
                align-items: center;
                @include breakpoint('desktop_small') {
                    height: 378px;
                }
                &-img {
                    max-width: 300px;
                    height: auto;
                    margin: 20px auto 20px;
                    @include breakpoint('tablet') {
                        max-height: 300px;
                    }
                    @include breakpoint('desktop_small') {
                        max-width: 350px;
                        max-height: none;
                    }
                }
            }
        }
    }
}