.realizations-listing {
    background: $cl-lightGray;
    padding: 0 15px 15px;
    @include breakpoint('desktop') {
        padding: 0 0 15px;
    }
    &-item {
        margin-bottom: 30px;
        @include breakpoint('tablet') {
            width: 33.3%;
            max-width: 253px;
            display: inline-block;
            float: left;
            padding: 0 15px;
            box-sizing: border-box;
        }
        @include breakpoint('desktop_small') {
            width: 25%;
            max-width: none;
        }
        &_img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            max-width: 250px;
            height: 325px;
            margin: 0 auto;
            position: relative;
            @include breakpoint('desktop_small') {
                height: 360px;
                max-width: none;
            }
            &:hover {
                .realizations-listing-item_img-heading {
                    @include breakpoint('desktop_small') {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &-heading {
                position: absolute;
                background: rgba(0, 0, 0, 0.6);
                color: $cl-white;
                padding: 15px 15px 0;
                bottom: 10px;
                left: 10px;
                right: 10px;
                @include breakpoint('desktop_small') {
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s all;
                }
                span {
                    letter-spacing: 0.3px;
                    &:last-of-type {
                        padding: 46px 0 8px;
                        display: block;
                    }
                }
            }
        }
    }
    &.tales {
        .realizations-listing {
            &-item {
                @include breakpoint('tablet') {
                    width: 50%;
                    max-width: none;
                }
                @include breakpoint('desktop_small') {
                    width: 33.3%;
                }
                &_img {
                    margin: 0;
                    max-width: none;
                    height: 265px;
                    @include breakpoint('tablet') {
                        height: 275px;
                    }
                    @include breakpoint('desktop_small') {
                        max-width: 360px;
                        margin: 0 auto;
                    }
                }
                &_descr {
                    background: $cl-white;
                    padding: 14px 10px;
                    margin-top: 4px;
                    @include breakpoint('tablet') {
                        height: 91px;
                    }
                    @include breakpoint('desktop_small') {
                        max-width: 360px;
                        margin: 4px auto 0;
                        box-sizing: border-box;
                        height: auto;
                        max-height: 138px;
                    }
                }
            }
        }
    }
}

.page-heading {
    margin: 25px 0 25px;
}