.slick-dots {
    justify-content: center;
    padding: 10px 0;
    display: none !important;
    @include breakpoint('tablet') {
        display: flex !important;
    }
    li {
        border: 2px solid transparent;
        margin: 0 4px;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        align-items: center;
        transition: .1s all;
        button {
            cursor: pointer;
            color: transparent;
            background: red;
            border-radius: 50%;
            border-color: $cl-orange;
            height: 14px;
            width: 14px;
            border: 0;
            position: relative;
            background-image: url(../images/slider-dot.png);
            background-size: cover;
            background-repeat: no-repeat;
            &::after {
                content: '';
                position: absolute;
                height: 14px;
                width: 14px;
                background: green;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 50px;
            }
        }
        &.slick-active {
            border-color: $cl-white;
        }
    }
}

.realizations-slider {
    .slick-dots {
        li {
            &.slick-active {
                border-color: $cl-black;
            }
        }
    }
}