.slider-arrows {
    display: none !important;
    height: 65px;
    width: 65px;
    cursor: pointer;
    background: $cl-white;
    position: absolute;
    top: -18px;
    bottom: 0;
    z-index: 2;
    margin: auto;
    background-image: url('../images/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38px;
    @include breakpoint('tablet') {
        display: inline !important;
    }
    &.right {
        right: 0;
        transform: rotate(180deg);
    }
}

.realizations-slider,
.collabo-slider {
    .slider-arrows {
        filter: invert(100%);
    }
}

.collabo-slider {
    .slider-arrows {
        top: 0;
    }
}