.subpage-listing {
    margin: 0 15px;
    @include breakpoint('desktop') {
        margin: 0;
    }
    .content-wrapper {
        .subpage-listing-row {
            margin-bottom: 50px;
            @include breakpoint('tablet') {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 62px;
            }
            @include breakpoint('desktop_small') {
                align-items: flex-start;
            }
            &_img {
                height: 228px;
                max-width: 350px;
                margin-top: 15px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 15px auto 0;
                @include breakpoint('tablet') {
                    height: 280px;
                    margin: 0;
                }
                @include breakpoint('desktop_small') {
                    height: 330px;
                    max-width: 440px;
                }
                @include breakpoint('desktop') {
                    height: 350px;
                }
            }
            &_img,
            &_content {
                @include breakpoint('tablet') {
                    width: 48%;
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }
    &_heading {
        letter-spacing: -0.2px;
        line-height: 32px;
        margin-bottom: 50px;
        @include breakpoint('tablet') {
            margin-bottom: 62px;
        }
    }
}