.subpage-heading {
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px 0 25px;
        line-height: 70px;
        @include breakpoint('tablet') {
            line-height: normal;
            justify-content: space-between;
            position: relative;
        }
        @include breakpoint('desktop_small') {
            margin: 50px auto 56px;
        }
        &::after {
            @include breakpoint('tablet') {
                content: '';
                height: 3px;
                background: $cl-gray;
                width: calc(100% - 138px);
                margin: 0 auto;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &.no-realizations {
        .content-wrapper {
            &::after {
                @include breakpoint('tablet') {
                    left: auto;
                    right: 15px;
                    width: calc(100% - 84px);
                }
                @include breakpoint('desktop_small') {
                    right: 0;
                    width: calc(100% - 69px);
                }
            }
        }
    }
}