.www-offer {
    &-item {
        margin-bottom: 52px;
        display: flex;
        max-width: 290px;
        flex-wrap: wrap;
        @include breakpoint('phone'){
            margin: 0 15px 52px;
        }
        @include breakpoint('tablet') {
            max-width: 300px;
        }
        @include breakpoint('desktop'){
            margin: 0 0 52px;
        }
        &_img {
            max-height: 61px;
        }
        &_list {
            line-height: 32px;
            &-item {
                &::before {
                    content: '';
                    display: inline-block;
                    background-color: #5e6b72;
                    height: 10px;
                    width: 10px;
                    margin-right: 22px;
                }
            }
        }
    }
    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 15px;
        justify-content: space-around;
        @include breakpoint('tablet') {
            padding: 0;
        }
    }
}