// FONTS
// font-family: 'Open Sans', sans-serif;


.typo {
	font-family: 'Open Sans', sans-serif;
  &_primary {
    text-transform: uppercase;
    font-size: 24px;
    color: $cl-white;
    margin-bottom: 30px;
    line-height: 44px;
    letter-spacing: 1.1px;
	font-weight: 800;
    @include breakpoint('tablet'){
      line-height: 36px;
    }
  }
  &_secondary {
    color: $cl-primary;
	text-transform: uppercase;
	font-weight: 800;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: .6px;
  }
  &_text {
    color: $cl-gray;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
    @include breakpoint('tablet'){
      line-height: 25px;
    }
  }
}

.header{
	.typo{
		&_text{
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.1px;
			text-align: center;
			font-size: 18px;
			margin: 30px 15px 0;
			@include breakpoint('tablet'){
				font-size: 16px;
				margin: 40px 5% 0;
			}
			@include breakpoint('desktop_small'){
				margin: 40px auto 0;
				max-width: 874px;
			}
		}
	}
}

.mosaic{
	.box{
		.text-wrapper{
			@include breakpoint('tablet'){
				display: inline-block;
				width: 50%;
				margin-left: 5%;
				height: 230px;
				vertical-align: top;
				position: relative;
				display: table;
			}
			@include breakpoint('desktop_small'){
				width: 54%;
				margin-left: 0%;
				height: 200px;
			}
			@include breakpoint('desktop'){
				height: 230px;
			}
			.typo{
				&_text{
					line-height: 23px;
					font-size: 16px;
				    font-weight: 400;
					text-align: center;
					max-width: 300px;
				    margin: 0 auto;
					@include breakpoint('tablet'){
						max-width: none;
						display: table-cell;
						vertical-align: middle;
					}
					@include breakpoint('desktop'){
						padding: 0 10px;
					}
				}
			}
		}
		&:nth-child(even){
			.text-wrapper{
				@include breakpoint('tablet'){
					margin-left: 0;
					margin-right: 5%;
				}
				@include breakpoint('desktop_small'){
					margin-right: 0%;
				}
			}
		}
		&:nth-child(2n+1){
			.text-wrapper{
				@include breakpoint('tablet'){
					float: right;
				}
			}
		}
	}
	.show-more{
		.wrapper{
			.typo{
				&_text{
					font-weight: 800;
					color: $cl-primary;
					margin-bottom: -6px;
				}
			}
		}
	}
}

.mini-box, .bar{
	.typo{
		&_text{
			color: $cl-white;
			margin-bottom: 0;
			padding: 15px;
			text-align: center;
			font-size: 20px;
			line-height: 28px;
		}
	}
	&.coop{
		.typo{
			&_text{
				text-transform: uppercase;
				font-weight: 800;
				font-size: 24px;
				line-height: 40px;
			}
		}
	}
	&.bar{
		.typo{
			&_text{
				font-size: 18px;
				font-weight: 600;
			}
		}
	}
}

.two-boxes{
	.typo{
		&_text{
			&.coop-descr{
				font-weight: 400;
				font-size: 21px;
				text-align: center;
				margin: 10px 0 30px;
				line-height: 30px;
				@include breakpoint('tablet'){
					line-height: 28px;
					margin: 10px 5% 70px;
					font-size: 16px;
					line-height: 30px;
					letter-spacing: 0.1px;
				}
				@include breakpoint('desktop_small'){
					margin: 10px auto 80px;
					max-width: 980px;
				}
			}
		}
	}
	.box{
		.typo{
			&_primary{
				color: $cl-orange;
				font-size: 36px;
				margin-bottom: 12px;
			}
			&_text{
				font-size: 18px;
				line-height: 32px;
				color: #949494;
				line-height: 25px;
				letter-spacing: 0.2px;
				font-weight: 400;
				@include breakpoint('tablet'){
					font-size: 16px;
				}
			}
		}
	}
}



.bottom-bar{
	.typo{
		&_text{
			font-size: 12px;
			color: $cl-white;
			margin-bottom: 0;
		    line-height: 50px;
		    text-align: center;
			@include breakpoint('tablet'){
				position: absolute;
				bottom: 0;
				right: 0;
			}
			a{
				color: $cl-white;
				font-weight: 200;
				font-size: 12px;
			}
		}
	}
}

.download{
	.typo{
		&_text{
			color: #598527;
			background: #fff;
			text-transform: none;
			font-size: 20px;
			margin-bottom: 15px;
			text-align: center;
			min-height: 25px;
			font-size: 18px;
		    line-height: 21px;
			@include breakpoint('tablet'){
				width: 260px;
				font-size: 16px;
			}
			&.heading{
				text-transform: uppercase;
				color: $cl-white;
				margin: 0 auto;
				background: $cl-primary;
				text-align: center;
				min-height: 62px;
				line-height: 62px;
				width: auto;
				font-size: 20px;
				border-radius: 25px;
				@include breakpoint('tablet'){
					max-width: 365px;
				}
				@include breakpoint('desktop_small'){
					margin-bottom: 30px;
				}
				@include breakpoint('desktop'){
					margin-bottom: 38px;
				}
			}
		}
	}
}

.partners{
	.typo{
		&_text{
			&.heading{
				text-transform: uppercase;
				color: $cl-white;
				margin: 0 auto;
				background: $cl-primary;
				text-align: center;
				min-height: 62px;
				line-height: 62px;
				font-size: 20px;
				border-radius: 25px;
				@include breakpoint('tablet'){
					max-width: 230px;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					min-height: 40px;
					line-height: 40px;
				}
			}
		}
	}
}

.article{
	h1{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 30px;
		margin: 15px 0 50px;
		@include breakpoint('tablet'){
			margin: 15px 0 85px;
		}
	}
	h3{
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 5px;
		span{
			font-family: 'Open Sans', sans-serif;
		}
	}
	p{
		color: $cl-gray;
	    font-weight: 400;
	    margin-bottom: 30px;
		letter-spacing: -0.2px;
		line-height: 28px;
		@include breakpoint('tablet'){
			font-size: 16px;
		}
		strong{
			font-weight: 600;
		}
	}
}

.footer{
	.two-boxes{
		.typo{
			&_text{
				font-size: 18px;
				line-height: 24px;
			}
		}
		.box{
			.typo{
				&_secondary{
					text-align: center;
					margin: 15px 0;
					text-transform: none;
					@include breakpoint('desktop_small'){
						display: inline-block;
					    float: left;
					}
				}
			}
			.info{
				.typo{
					&_text{
						margin-bottom: 5px;
						color: $cl-gray;
						font-weight: 600;
						&:last-of-type{
							margin-bottom: 0;
						}
						a{
							color: $cl-gray;
							font-size: 18px;
							font-weight: 400;
						}
					}
				}
			}
			.short-descr{
				.typo{
					&_text{
						color: $cl-gray;
						line-height: 28px;
					}
				}
			}
			.info, .short-descr{
				.typo{
					&_text{
						text-align: left;
					}
				}
			}
		}
	}
}
