/*
Theme Name: Pbi: Polskie Badania Internetu
Author: Jacek Grzegorczyk, Sebastian Ślęczna
Version: 0.1

*/


/**
 *
 * Styles for editable content
 *
 */

.single-report img {
	max-width: 100%;
	margin: 0;
}

a.addtoany_share_save img {
	width: 15px !important;
}
@media (min-width: 1620px) {
	a.addtoany_share_save img {
		width: 18px !important;
	}
}
.single-report__main-paragraph ul {
	list-style: circle;
	padding-left: 25px;
}
.presentation-content__box-title a {
	color: #000;
}
.presentation-content__box-title a:hover {
	color: #ce0037;
}
.single-article__body ul,
.single-presentation__main-paragraph ul,
.single-lesson ul {
	list-style: disc !important;
	padding-left: 40px;
}
.single-presentation__main-paragraph ul {
	margin-bottom: 20px;
	line-height: 1.5;
}
.search__categories-item--active {
	font-weight: 600;
}
.single-presentation__main-paragraph li {
	line-height: 1.5;
}
.single-presentation__main-paragraph p {
	line-height: 1.5;
	margin-bottom: 20px;
}
.form-container--wrapper {
	padding-top: 20px;
}

#field_3_1 .form-text {
    margin: 55px 0 15px 0;
    margin: 3.4375rem 0 0.9375rem 0;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
}
#field_3_21 .gfield_label,
#field_3_27 .gfield_label,
#field_3_29 .gfield_label,
#field_3_31 .gfield_label,
#field_3_33 .gfield_label,
#field_3_36 .gfield_label,
#field_3_39 .gfield_label,
#field_3_41 .gfield_label,
#field_3_37 .gfield_label,
#field_3_25 .gfield_label,
#field_3_24 .gfield_label {
	display: none;
}
#field_3_21 .ginput_container_checkbox,
#field_3_22 .ginput_container_checkbox,
#field_3_23 .ginput_container_checkbox,
#field_3_24 .ginput_container_checkbox,
#field_3_25 .ginput_container_checkbox,
#field_3_26 .ginput_container_checkbox,
#field_3_27 .ginput_container_checkbox,
#field_3_28 .ginput_container_checkbox,
#field_3_29 .ginput_container_checkbox,
#field_3_30 .ginput_container_checkbox,
#field_3_32 .ginput_container_checkbox,
#field_3_33 .ginput_container_checkbox,
#field_3_34 .ginput_container_checkbox,
#field_3_35 .ginput_container_checkbox,
#field_3_36 .ginput_container_checkbox,
#field_3_37 .ginput_container_checkbox,
#field_3_38 .ginput_container_checkbox,
#field_3_39 .ginput_container_checkbox,
#field_3_40 .ginput_container_checkbox,
#field_3_41 .ginput_container_checkbox,
#field_3_42 .ginput_container_checkbox,
#field_3_44 .ginput_container_checkbox,
#field_3_45 .ginput_container_checkbox,
#field_3_46 .ginput_container_checkbox,
#field_3_47 .ginput_container_checkbox,
#field_3_31 .ginput_container_checkbox,
#field_3_21 .ginput_container_text,
#field_3_22 .ginput_container_text,
#field_3_23 .ginput_container_text,
#field_3_24 .ginput_container_text,
#field_3_25 .ginput_container_text,
#field_3_26 .ginput_container_text,
#field_3_27 .ginput_container_text,
#field_3_28 .ginput_container_text,
#field_3_29 .ginput_container_text,
#field_3_30 .ginput_container_text,
#field_3_32 .ginput_container_text,
#field_3_33 .ginput_container_text,
#field_3_34 .ginput_container_text,
#field_3_35 .ginput_container_text,
#field_3_36 .ginput_container_text,
#field_3_37 .ginput_container_text,
#field_3_38 .ginput_container_text,
#field_3_39 .ginput_container_text,
#field_3_40 .ginput_container_text,
#field_3_41 .ginput_container_text,
#field_3_42 .ginput_container_text,
#field_3_44 .ginput_container_text,
#field_3_45 .ginput_container_text,
#field_3_46 .ginput_container_text,
#field_3_48 .ginput_container_text,
#field_3_31 .ginput_container_text {
	margin-bottom: 0;
}
#field_3_23 .ginput_container_checkbox,
#field_3_26 .ginput_container_checkbox,
#field_3_28 .ginput_container_checkbox,
#field_3_30 .ginput_container_checkbox,
#field_3_32 .ginput_container_checkbox,
#field_3_34 .ginput_container_checkbox,
#field_3_35 .ginput_container_checkbox,
#field_3_38 .ginput_container_checkbox,
#field_3_40 .ginput_container_checkbox,
#field_3_42 .ginput_container_checkbox,
#field_3_22 .ginput_container_checkbox {
	padding-left: 10px;
	margin-bottom: 10px;
}
.footer__navbox a {
	color: #fff !important;
}
.report__box-tag--blue {
	background-color: #339CA6;
}
.report__box-tag__name--blue {
	color: #fff;
}
.wpcf7-form-control-wrap.checkbox-34 {
	margin-top: 25px;
	display: block;
}

.gf_browser_safari.gform_wrapper {
	display: block !important;
}
span.wpcf7-list-item {
	display: inline !important;
}
