$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;

////////////////////////////////////////////////////////
// Footer
.footer{
  clear:both;
  position:relative;
  min-height:350px;
  background-color:$background-primary;
  &__heading{
    color:white;
    @include weight(semi-bold);
    @include rem(18px);
    @include reming(padding,35px 0 0 20px);
  }
  &__content{
    color:white;
    @include reming(padding,0 0 0 50px);
    &-mobile__text{
      @include reming(padding,30px 0 0 0);
      @include weight(regular);
      @include rem(16px);
    }
    &-paragraph{
      @include reming(margin-top,5px);
    }
  }
}
.footer__mobile{
  @include screen(laptop){
      display:none;
  }

}
.footer{
  &__tablet{
      display:none;
    @include screen(laptop){
      min-height:480px;
      display:block;
      margin:0 auto;
      @include reming(padding,60px 10%);
    }
    @include screen(desktop){
      min-height:550px;
    }
  }
  &__container{
    &-left{
    width:20%;
    min-height:370px;
    float:left;
    position:relative;
    @include screen(desktop){
      min-height:420px;
    }
    &:before{
      content:"";
      border-left:1px solid #808080;
      height:100%;
      position:absolute;
      left:0;
      top:0;
    }
    }
    &-middle{
      width:60%;
      float:left;
    }
    &-right{
      position:relative;
      width:20%;
      min-height:370px;
      float:left;
      @include reming(padding,5px 0 0 15px);
      @include screen(desktop){
        min-height:420px;
      }
      &:before{
        content:"";
        border-left:1px solid #808080;
        height:100%;
        position:absolute;
        left:0;
        top:0;
      }
      &:after{
        content:"";
        border-left:1px solid #808080;
        height:100%;
        position:absolute;
        right:0;
        top:0;
      }
    }
  }
  &__navbox{
  @include reming(padding-top,5px);
  min-height:200px;
  float:left;
  width:25%;
  position:relative;
  @include screen(desktop){
    min-height:215px;
  }
    &:before{
      content:"";
      border-left:1px solid #808080;
      height:65%;
      position:absolute;
      left:0;
      top:0;
      @include screen(desktop){
        height:75%;
      }
    }
    &-title{
      color:white;
      position:absolute;
      top:-20px;
      left:0;
      font-size:14px;
      @include weight(semi-bold);
      @include screen(desktop){
        font-size:16px;
        top:-35px;
      }
      @include screen(large){
        font-size:20px;
      }
      @include screen(extra){
        font-size:21px;
        @include weight(semi-bold);
      }
    }
  }
&__navbox:nth-child(n+5){
  padding-top:45px;
    &:before{
      content:"";
      border-left:1px solid #808080;
      height:65%;
      position:absolute;
      left:0;
      top:20%;
      @include screen(desktop){
        height:75%;
      }
    }
  }
  &__navbox:nth-child(n+5) h3{
    top:5px;
  }
  &__about{
      color:white;
      font-size:14px;
      @include weight(regular);
      @include reming(padding,5px 25px 0 15px);
      line-height:1.3;
        @include screen(desktop){
          font-size:16px;
        }
        @include screen(extra){
          @include rem(21px);
        }
    }
    &__link{
      @include reming(padding,0 0 0 15px);
      @include reming(margin-bottom,12px);
      font-size:16px;
      display:inline-block;
        @include screen(desktop){
        font-size:16px;
        }
    }
    &__contact{
      border:1px solid red !important;
      &-adress{
        color:white;
        font-size:14px;
          @include screen(desktop){
          font-size:16px;
          }
      & p {
          @include reming(padding,7px 30px 0 0);
      }
      }
      &-telephone{
      color:white;
      @include reming(margin, 15px 0);
      font-size:14px;
      @include weight(regular);
      & p {
          @include reming(padding-top,7px);
      }
      @include screen(desktop){
        font-size:16px;
      }
      }
      &-email{
        color:white;

        @include rem(14px);
          @include screen(desktop){
            font-size:16px;
          }
      }
      &-social{
        @include reming(margin-top,30px);
      }
      &-social__link{
        @include reming(padding-right,10px);
      }

    }

}
