%bg-center{
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

%block-center{
margin:0 auto;
display:block;
}

%after{
  position:absolute;
  content:"";
}
