/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;

}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;

}


// Nav Wrapper
.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  float:left;
  overflow:hidden;
  height:112px;
}
//////////////////Navigation
.nav{
  display:none;
  @include screen(laptop){
    display:block;
  }
  float:left;
  height:112px;
  position:relative;
  @include reming(margin-left,20px);
  @include screen(tablet){

  }
  @include screen(extra){
      @include reming(margin-left,50px);
  }
  &__item{
    display:inline-block;
    @include screen(laptop){
      @include reming(padding-right,10px);
    }
    @include screen(laptop){
      @include reming(padding-right,15px);
    }
    @include screen(extra){
      @include reming(padding-right,25px);
    }
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include font(13,medium);
    }
    @include screen(desktop){
      @include font(16,medium);
    }
    @include screen(extra){
      @include font(19,medium);
    }
    &:hover{
      color:#B7C9D3;
    }
  }
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    width:130px;
    margin-top:10px;
    margin-left:15px;
    @include screen(tablet){
      margin-left:0;
      width:200px;
      height:55px;
      float:left;
      margin-top:25px;
    }
  }
  // Navigation container
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include reming(margin-bottom,25px);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:60px;
      transform:translateY(-50%);
      @include screen(desktop){
          right:80px;
      }
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:15px;
      @include screen(desktop){
      right:40px;
      }
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include screen(tablet){
      display:block;
      height:200px;
    }
    &-wrapper{
      width:95%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:95%;
        height:200px;
      }
      @include screen(extra){
        max-width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(48px);
      }
      @include screen(laptop){
        @include rem(70px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}



// /////////////
/////// Aside nav
.aside-nav{
  @include reming(margin-top,0px);
    width:100%;
  @include screen(desktop){
    @include reming(margin-top,20px);
    width: 25%;
    float:left;
  }
  &__item{
  display:inline-block;
  width:70%;
  @include reming(margin-left,40px);
  @include reming(padding,27px 0 27px 0);
  border-bottom:1px solid $font-secondary;
  }
  &__link{
  @include rem(20px);
  @include weight(light);
  text-align:left;
  color:$font-secondary;
  width:100%;
  &:hover{
    color:#B7C9D3;
  }
  }
}





////////////////////////////////////////////////////////
// Main



////////////////////////////////////
/////// Main
// Sub-Academy-Lessons
.academy{
overflow:hidden;
width:95%;
margin:0 auto;
@include screen(desktop){
  width:100%;
  padding-right:1%;
  @include reming(padding-bottom,250px);
}
&__title{
  @include rem(20px);
  @include reming(padding-top,90px);
  @include reming(padding-bottom,10px);
  @include weight(bold);
  @include screen(tablet){
    @include rem(48px);
      @include reming(padding-bottom,27px);
  }

}
&__lesson{
  overflow:hidden;
  max-width:1380px;
  &-item{
    border:1px solid $border-primary;
    height:170px;
    position:relative;
    @include reming(margin-bottom,10px);
  @include screen(tablet){
    @include rowMachine(2,1%);
    float:left;
    height:295px;
  }
  @include screen(large){
    @include rowMachine(3,1%);
    height:295px;
  }
  }
  &-number{
    position:absolute;
    left:0;
    top:0;
    background-size:contain;
    height:130px;
    width:100%;
    z-index:-1;
    @include screen(tablet){
        height:200px;
    }
    &--1{
      background: url('../img/numbers/01.svg') no-repeat left top;
    }
    &--2{
      background: url('../img/numbers/02.svg') no-repeat left top;
    }
    &--3{
      background: url('../img/numbers/03.svg') no-repeat left top;
    }
    &--4{
      background: url('../img/numbers/04.svg') no-repeat left top;
    }
    &--5{
      background: url('../img/numbers/05.svg') no-repeat left top;
    }
  }
  &-content{
    color:$font-secondary;
    @include reming(padding,40px 0 0 15px);
    @include screen(tablet){
      @include reming(padding,40px 0 0 60px);
    }
  }
  &-title{
    display:inline-block;
    @include reming(padding, 0 38px 20px 0);
    border-bottom:3px solid $font-secondary;
    @include rem(18px);
    @include weight(medium);
  }
  &-text{
    display:block;
    line-height:1.2;
    @include rem(20px);
    @include reming(padding,20px 95px 0 0);
    @include weight(medium);
    @include screen(tablet){
      @include reming(padding-top,20px);
      @include rem(30px);
      @include weight(bold);
    }
  }
  &-button{
    width:60px;
    height:45px;
    border-radius:23px;
    border:1px solid $font-secondary;
    position:absolute;
    right:22px;
    bottom:32px;
    cursor:pointer;
  }
  &-arrow{
    @include absolute-center;
  }
}
}

.aside-nav{
  @include reming(margin-top,20px);
    width:100%;
    display:block;
  @include screen(desktop){
    width: 25%;
    float:left;
  }
  &__item{
  display:inline-block;
  width:70%;
  @include reming(margin-left,40px);
  @include reming(padding,27px 0 27px 0);
  border-bottom:1px solid $font-secondary;
  }
  &__item:last-child{
    border-bottom:none;
  }
  &__link{
  @include rem(20px);
  @include weight(light);
  text-align:left;
  color:$font-secondary;
  width:100%;
  }
}

.academy-container{
  width:100%;
  max-width:1600px;
  @include screen(desktop){
    width: 75%;
    float:right;
  }
}


// Sub-Academy-Presentations
.presentation{
  overflow:hidden;
  clear:both;
}

.presentation-content{
  margin:0 auto;
  width:95%;
  overflow:hidden;
  @include screen(desktop){
    float:right;
    width:75%;
  }
  &--wrapper{
    max-width:1380px;
    overflow:hidden;
  }
  &__search{
    max-width:1380px;
    overflow:hidden;
    @include reming(margin,85px 0 35px 0);
  }
  &__search select{
  float:right;
  @include font(14,regular);
  height:30px;
  }
  &__box{
    @include reming(padding,15px 15px 0 15px);
    position:relative;

    margin-bottom:10px;
    height: 160px;
    width:100%;
    border:1px solid $border-primary;
    @include screen(tablet){
      float:left;
      @include reming(padding,35px 35px 0 35px);
    }
    @include screen(tablet){
      @include rowMachine(2,1%);
      height: 295px;
    }
    @include screen(desktop){
      @include rowMachine(3,1%);
      height:350px;
    }
    @include screen(extra){
      height: 295px;
    }
  }
  &__box-title{
    @include font(14,bold);
    @include reming(padding-bottom,10px);
    position:relative;
    &:after{
      @extend %after;
      bottom:0;
      left:0;
      width:80px;
      border:2px solid $background-primary;
    }
    @include screen(tablet){
      @include font(24,semi-bold);
    }
  }
  &__box-details{
    height:60px;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    overflow:hidden;
    @include reming(padding-left,15px);
    @include screen(tablet){
      height:80px;
      @include reming(padding-left,35px);
    }
  }
  &__box-author{
    @include font(14,bold);
    @include reming(margin-bottom,7px);
    @include screen(tablet){
      @include font(16,bold);
      @include reming(margin-bottom,13px);
    }
  }
  &__box-date{
    @include font(16,regular);
  }
  &__box-button{
    width:60px;
    height:45px;
    border-radius:23px;
    border:1px solid $font-secondary;
    position:absolute;
    right:22px;
    top:0;
    cursor:pointer;
    &:after{
      position:absolute;
      content:url("../img/arrow-small-desktop.png");
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }
}


// Single Research / Single Report
.single-presentation{
  width:95%;
  margin:0 auto;
  overflow:hidden;
  @include reming(margin-bottom,215px);
    @include reming(margin-top,25px);
  @include screen(tablet){
    @include reming(margin-top,85px);
  }
  @include screen(desktop){
    width:75%;
    @include reming(margin-top,85px);
  }
  @include screen(extra){
    max-width:1600px;
  }
  &__title{
    width:100%;
    @include font(20,bold);
    @include reming(padding-bottom,20px);
    @include reming(margin-bottom,20px);
    position: relative;
    @include screen(tablet){
      width:100%;
      @include font(48,bold);
    }
    @include screen(desktop){
      width:80%;
      max-width:950px;
      @include font(48,bold);
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width:87px;
      border: 2px solid black;
    }
  }
  &__aside{
    float:left;
    width:300px;
  }
  &__main{
    overflow:hidden;
    @include reming(margin-bottom,40px);
    @include custom(1000px){
      width:600px;
      float:left;
    }
    @include screen(desktop){
      width:580px;
      float:left;
    }
    @include screen(large){
      width:640px;
      float:left;
    }
  width:100%;
  float:left;
  }
}

.single-presentation__aside{
  &-details {
    @include font(20,bold);
    @include reming(margin-bottom,30px);
  }
  &-details span {
    @include font(18,regular);
  }
  &-download{
    width: 214px;
    height: 62px;
    line-height:62px;
    text-align:center;
    border:1px solid $background-primary;
    border-radius:30px;
    cursor:pointer;
    position: relative;
  }
  &-link{
    position: relative;
    &:after{
      content:'';
      position: relative;
      top:2px;
      display: inline-block;
      width: 27px;
      height: 13px;
      right:-10px;
      background-image:url('../img/download-icon.png');
      background-size:cover;
    }
  }
  &-download--desktop{
    display:none;
    @include custom(1000px){
      display:block;
    }
  }
  &-download--mobile{
    display:block;
    margin:0 auto;
    clear:both;
    @include custom(1000px){
      display:none;
    }
  }
}

// Single Presentation
.single-presentation__main{
  &-paragraph{
        line-height:1.3;
            @include font(14,regular);
    @include screen(tablet){
          @include font(18,regular);
    }
  }
  &-paragraph--intro{
    @include font(14,semi-bold);
    line-height:1.3;
    @include screen(tablet){
      @include font(18,semi-bold);
    }
    @include reming(margin-bottom,35px);
  }
}
