/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";
/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;
}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;
}

//////////////////Navigation
// Nav Wrapper
.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  float:left;
  overflow:hidden;
  height:112px;
}
//////////////////Navigation
.nav{
  display:none;
  @include screen(laptop){
    display:block;
  }
  float:left;
  height:112px;
  position:relative;
  @include reming(margin-left,20px);
  @include screen(tablet){

  }
  @include screen(extra){
      @include reming(margin-left,50px);
  }
  &__item{
    display:inline-block;
    @include screen(laptop){
      @include reming(padding-right,10px);
    }
    @include screen(laptop){
      @include reming(padding-right,15px);
    }
    @include screen(extra){
      @include reming(padding-right,25px);
    }
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include font(13,medium);
    }
    @include screen(desktop){
      @include font(16,medium);
    }
    @include screen(extra){
      @include font(19,medium);
    }
    &:hover{
      color:#B7C9D3;
    }
  }
}
////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  @include reming(margin-bottom,170px);
  @include screen(extra){
    @include reming(margin-bottom,260px);
  }
  &__logo{
    width:130px;
    margin-top:10px;
    margin-left:15px;
    @include screen(tablet){
      margin-left:0;
      width:200px;
      height:55px;
      float:left;
      margin-top:25px;
    }
  }
  // Navigation container
  &__navigation{
    height:65px;
    position:relative;
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:60px;
      transform:translateY(-50%);
      @include screen(desktop){
          right:80px;
      }
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:15px;
      @include screen(desktop){
      right:40px;
      }
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Claim
  &__claim{
    background:url('../img/header_claim.png') no-repeat center top;
    background-size:cover;
    min-height:380px;
    @include screen(desktop){
      min-height:500px;
      background:url('../img/header-claim-desktop.jpg') no-repeat center top;
    }
    @include screen(large){
      min-height:600px;
      background:url('../img/header-claim-desktop.jpg') no-repeat center top;
    }
    &-container{
      @include remy(padding,35px 0 0 10px);
      // Mobile
      @include screen(small){
        @include remy(padding,0);
        @include absolute-center;
        width:100%;
        text-align:center;
      }
      // Tablet
      @include screen(tablet){

      }
    }
    // Claim text
    &-text{
      color:white;
      @include rem(45px);
      @include weight(bold);
      @include screen(small){
      display:inline-block;
      @include rem(40px);
      @include screen(desktop){
        @include rem(56px);
      }
      @include screen(large){
        @include rem(68px);
      }
      @include screen(extra){
        @include rem(100px);
      }
      }
    }
  }
  // Navboxes
  // Container for navboxes
  &__navboxes{
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    overflow:hidden;
    bottom:-150px;
    width:95%;
    background-color:#fff;
    border:1px solid $border-primary;
    -webkit-box-shadow: -6px 8px 18px 0px rgba(209,209,209,0.7);
-moz-box-shadow: -6px 8px 18px 0px rgba(209,209,209,0.7);
box-shadow: -6px 8px 18px 0px rgba(209,209,209,0.7);
    @include custom(500px){
      width:455px;
    }
    @include screen(tablet){
      bottom:-100px;
      width:90%;
    }
    @include screen(desktop){
      bottom:-125px;
      max-width:1600px;
    }
    @include screen(large){
      bottom:-150px;

    }
    @include screen(extra){
        width:1600px;
        bottom:-200px;
    }
    // Navigation box
    &-navbox{
      position: relative;
      float:left;
      width:50%;
      height:150px;
      @include screen(tablet){
        width:25%;
        height:200px;
      }
      @include screen(desktop){
        height:250px;
      }
      @include screen(large){
        min-height:300px;
      }
      @include screen(extra){
        min-height:400px;
      }
      &:hover{
        @include screen(tablet){
          -webkit-box-shadow: -6px 3px 18px 0px rgba(191,189,191,1);
          -moz-box-shadow: -6px 3px 18px 0px rgba(191,189,191,1);
          box-shadow: -6px 3px 18px 0px rgba(191,189,191,1);
          position:relative;
          top:-6px;
        }
      }
      &__circle{
        position: absolute;
        z-index:-1;
        display:none;
        @include screen(tablet){
          display:block;
        }
        @include screen(tablet){
          max-width:70%;
        }
        @include screen(extra){
          max-width:100%;
        }
        &--1{
          left:0;
          bottom:0;
        }
        &--2{
          top:0;
          left:0;
        }
        &--3{
          bottom:0;
          left:0;
        }
        &--4{
          right:0;
          top:50%;
          transform:translateY(-50%);
        }
        &--1,&--4{

          @include screen(tablet){
            max-height:70%;
          }
        }
      }
      &__heading{
        color:$background-primary;
        display:inline-block;
        @include remy(margin,16px 0 0 10px);
        @include rem(16px);
        @include weight(regular);
        position:relative;
        text-transform: uppercase;
        @include screen(tablet){
          @include rem(20px);
          @include reming(margin,20px 0 0 25px);
        }
        @include screen(desktop){
          @include rem(24px);
          @include reming(margin,35px 0 0 50px);
          @include weight(medium);
        }
        @include screen(extra){
          @include rem(42px);
          @include reming(margin,75px 0 0 70px);
        }
      }
      // First heading with different padding
      &__heading--1{
        display:inline-block;
        @include remy(margin,6px 0 0 10px);
        @include screen(tablet){
          @include reming(margin,19px 0 0 25px);
        }
        @include screen(desktop){
          @include reming(margin,35px 0 0 50px);
          @include weight(medium);
        }
        @include screen(extra){
          text-align:left;
          @include rem(42px);
          @include reming(margin,75px 0 0 70px);
          padding:0;
        }
      }
      // Line after heading
      &__heading:after{
        position:absolute;
        content:"";
        border-bottom:3px solid #53565a;
        left:0;
        bottom:-13px;
        width:67px;
        @include screen(tablet){
          left:0;
          width:20%;
        }
        @include screen(desktop){
          width:45%;
        }
      }
      &__paragraph{
        line-height:1.3;
        @include remy(padding,0 5px 0 10px);
        margin-top:25px;
        @include rem(12px);
        @include screen(tablet){
          @include reming(padding,0 5px 0 25px);
        }
        @include screen(desktop){
          @include reming(padding,5px 5px 0 50px);
          @include rem(14px);
        }
        @include screen(extra){
          @include reming(padding,5px 45px 0 70px);
          @include weight(medium);
        }
        @include screen(extra){
          @include rem(18px);
        }
      }
      &__link{
      @include remy(padding,0 0 0 10px);
        @include screen(tablet){
          text-align:center;
          @include reming(margin,35px 0 0 25px);
          @include remy(padding,0);
          text-align:center;
          line-height:36px;
          display:block;
          width:105px;
          height:36px;
          border-radius:25px;
          border:1px solid $background-primary;
          color:$background-primary;
          @include rem(12px);
        }
        @include screen(desktop){
          @include reming(margin,35px 0 0 50px);
        }
        @include screen(large){
          @include reming(margin,45px 0 0 35px);
          width:150px;
          height:43px;
          line-height:43px;
        }
        @include screen(extra){
          @include reming(margin,60px 0 0 70px);
          @include rem(14px);
          width:180px;
          height:52px;
          line-height:52px;
        }
        &--text{
          display:none;
          @include screen(tablet){
            display:inline-block;
            width:100%;
            padding:0;
            margin:0;
            &:after{
              @include screen(large){
                content:url(../img/arrow-small.png);
                position:relative;
                right:-5px;
              }
            }
          }
        }
        &--arrow{
          @include screen(tablet){
            display:none;
          }
        }
      }
      &__link--1{
        @include screen(tablet){
          @include reming(margin,17px 0 0 35px);
        }
        @include screen(desktop){
          @include reming(margin,13px 0 0 35px);
        }
        @include screen(desktop){
          @include reming(margin,20px 0 0 50px);
        }
        @include screen(extra){
          @include reming(margin,20px 0 0 70px);
        }
      }
    }
    // Inner borders
    &-navbox--1{
      border-right:1px solid $border-primary;
      border-bottom:1px solid $border-primary;
      @include screen(tablet){
        border-bottom:none;
      }
    }
    &-navbox--2{
      border-bottom:1px solid $border-primary;
      @include screen(tablet){
        border-bottom:none;
        border-right:1px solid $border-primary;
      }
    }
    &-navbox--3{
      border-right:1px solid $border-primary;
      @include screen(tablet){
        border-bottom:none;
        border-right:1px solid $border-primary;
      }
    }
  }
}



.news{
  width:95%;
  margin:0 auto;
  overflow:hidden;
  @include screen(tablet){
    width:90%;
  }
  @include screen(extra){
    width:1600px;
  }
  &__wrapper-right{
    @include screen(laptop){
      float:right;
      width:calc(50% - 5px);
    }
  }
  &__wrapper-left{
    @include screen(laptop){
      float:left;
      width:calc(50% - 5px);
    }
    @include screen(extra){
      width:calc(50% - 15px);
    }
  }
  &__wrapper-aside{
    @include screen(laptop){
      float:right;
      width:calc(50% - 5px);

    }
    @include screen(extra){
        @include reming(margin-top,13px);
    }
  }
  &__heading{
    @include rem(20px);
    @include weight(bold);
    margin-bottom:5px;
    @include screen(tablet){
      @include rem(32px);
    }
    @include screen(desktop){
      @include reming(padding-bottom,20px);
      @include rem(36px);
    }
    @include screen(extra){
      @include rem(48px);
    }
  }
}
////////////////////////////////////////////////////////
// Promoted Article
.news__article{
  @include reming(margin-bottom,10px);
  @include screen(tablet){
    display:none;
  }
  &-bar{
    background-color:$border-primary;
    height:40px;
    position:relative;
    &__tag{
      line-height:40px;
      @include rem(12px)
      @include weight(semi-bold)
      @include remy(padding-left,10px);
    }
    &__share{
      position:absolute;
      top:55%;
      transform:translateY(-50%);
      right:10px;
    }
  }
  &-photo{
    width:100%;
    height:auto;
    display:block;
  }
  &-content{
  @include remy(padding,5px 10px 10px 10px);
  height:auto;
  background-color:$background-secondary;
  }
  &-date{
    margin-bottom:10px;
        @include font(12,regular);
    @include screen(tablet){
      @include font(14,regular);
    }
    @include screen(desktop){
      @include font(16,regular);
    }

  }
  &-title{
    @include rem(18px);
    margin-bottom:15px;
    &:hover{
      color:$font-secondary;
      cursor:pointer;
    }
  }
  &-text{
    @include rem(14px);
    @include weight(regular);
  }
}

////////////////////////////////////////////////////////
// Promoted Article tablet version
  .news__tarticle{
    height:600px;
    position:relative;
    display:none;
    overflow:hidden;
    @include reming(margin-bottom,10px);
    @include screen(tablet){
      display:block;
      height:400px;
    }
    @include screen(extra){
      display:block;
      height:603px;
    }
    &-circle{
      position:absolute;
      bottom:0;
      left:40px;
      z-index:99;
      max-width:50%;
      @include screen(extra){
        max-width:100%;
      }
    }
    &-img{
      position:absolute;
      display:block;
      top:0;
      bottom:0;
      left:0;
      right:0;
      overflow:hidden;
      max-width:100%;
      @include screen(tablet){
        max-width:100%;
        max-height:450px;
      }
      @include custom(850px){
        max-height:520px;

      }
      @include custom(995px){
        max-width:initial;
      }
      @include screen(extra){
      max-height:603px;
      }
    }
    &-title{
      z-index:5;
      position:absolute;
      top:55px;
      background-color:$border-primary;
      margin-right:25%;
      @include rem(18px);
      @include weight(bold);
      @include reming(padding,5px 0 0 20px);
      &:hover{
        color:$font-secondary;
        cursor:pointer;
      }
      @include screen(tablet){
        margin-right:15%;
        @include rem(16px);
      }
      @include custom(993px){
        @include reming(padding,5px 0 0 15px);
      }
      @include screen(extra){
        @include rem(34px);
        margin-right:5%;
      }
    }
    &-container{
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      width:35%;
      background-color:$border-primary;
    }
    &-bar{
      height:40px;
      position:relative;
      overflow:hidden;
      margin:0 auto;
      left:0px;
      width:85%;
      border-bottom:2px solid $background-secondary;
      &__title{
      @include rem(16px);
      @include weight(semi-bold);
      line-height:40px;
      }
      &__share{
        position:absolute;
        top:10px;
        right:1px;
      }
    }
    &-content{
      margin:0 auto;
      top:65px;
      width:85%;
      position:relative;
      border-top:2px solid $background-secondary;
      overflow:hidden;
      &__text{
        line-height:1.2;
        @include reming(padding-top,10px);
        @include rem(12px);
        @include screen(extra){
          @include rem(18px);
          @include reming(padding-top,30px);
        }
      }
    }
    &-details{
      @include reming(margin-top,15px);
      &__date{
        float:left;

      }
      &__link{
        float:right;
      }
    }
  }




////////////////////////////////////////////////////////
// Normal Article
.news__small{
width:100%;
margin:0 auto;
overflow:hidden;
  &-container{
  overflow:hidden;
  position:relative;
  margin-bottom:10px;
  border:1px solid $border-primary;
  @include screen(extra){
    margin-bottom:24px;
  }
  &__details{
    position:absolute;
    width:50%;
    bottom:0;
    height:40px;
    right:0;
    @include screen(large){
      width:40%;
    }
  }
  &:nth-child(even) .news__small-container__details{
    left:0;
  }
  &__date{
    position:absolute;
    top:0;
    left:0;
    height:40px;
    line-height:40px;
    @include reming(padding-left,10px);
    @include font(12,regular);
  @include screen(tablet){
    @include font(14,regular);
  }
  @include screen(desktop){
    @include font(16,regular);
  }
    @include screen(extra){
    @include reming(padding-left,15px);
    }
  }
  &__link{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:15px;
    line-height:40px;
  }
  &--padding{
    overflow:hidden;
    background-color:$background-secondary;
  }
  &:nth-child(even)>div{
    background-color:white;
  }

  }
  &-content{
    width:50%;
    position:relative;
    // Photo container
    &__circle-half{
      position:absolute;
      right:-81px;
      top:50%;
      transform:translateY(-50%);
      max-width:100%;
    }
    &--photo{
      float:left;
      width:50%;
      @include screen(tablet){
        max-height:240px;
      }
      @include screen(large){
        width:60%;
      }
      @include screen(extra){
        max-height:288px;
      }
    }
    // Text container
    &--text{
      float:left;
      width:50%;
      @include screen(large){
        width:40%;
      }
    }
    // Title of the small article
    &__title{
      position:relative;
      @include weight(bold);
      @include rem(14px);
      @include remy(margin,5px 0 0 5px);
      &:hover{
        color:$font-secondary;
        cursor:pointer;
      }
      @include screen(desktop){
        &:after{
          content:"";
          border-bottom:3px solid $background-primary;
          left:0;
          bottom:-4px;
          width:25%;
          position:absolute;
          @include screen(large){
            bottom:-8px;
          }
        }
      }
      @include screen(large){
        @include reming(margin,15px 0 0 15px);
      }
      @include screen(extra){
        @include rem(20px);
      }
    }
    &__text{
      line-height:1.2;
      display:none;
      @include custom(600px){
        display:block;
        @include rem(12px);
        @include remy(padding,5px 0 0 5px);
        @include screen(large){
        @include reming(padding,15px 15px 0 15px);
        }
      }
      @include screen(extra){
        @include rem(18px);
      }
    }
    // Time of publishing
  }
  &-photo{
    display:block;
    max-width:100%;
    height:auto;
  }
  &-bar{
    height:24px;
    position:relative;
    border:1px solid $border-primary;
    border-top:none;
    border-right:none;
    @include screen(large){
      height:40px;
    }
    // Name of Tag
    &__tag{
      @include weight(semi-bold);
      @include rem(10px);
      line-height:24px;
      @include remy(padding-left,5px)
      @include screen(large){
        line-height:40px;
        @include rem(12px);
        @include reming(padding-left,15px);
      }
      @include screen(extra){
        @include rem(16px);
      }
    }
    // Share Button
    &__share{
      position:absolute;
      top:4px;
      right:10px;
      @include screen(large){
        top:0;
        top:54%;
        transform:translateY(-50%);
      }
    }
  }
  &-showall{
    border:1px solid $border-primary;
    height:40px;
    line-height:40px;
    text-align:center;
    @include rem(16px);
    @include weight(regular);
    cursor:pointer;
    @include remy(margin-bottom,5px);
      &:hover{
        color:white;
        background-color: $border-primary;
      }
      @include screen(desktop){
        height:60px;
        line-height:60px;
        @include rem(18px);
      }
      @include screen(extra){
        @include rem(22px);
        height:80px;
        line-height:80px;
      }
  }
}
// float right every second article
div [where=right]{
  float:right;
}
////////////////////////////////////////////////////////
// Aside Promo Material
.news__aside {
  overflow:hidden;
  position:relative;
  @include remy(margin-bottom,10px);
  &-wrapper{
    @include remy(padding,20px 10px);
    overflow:hidden;
    @include screen(extra){
      @include reming(padding,100px 60px);
    }
  }
  &-content{
    width:100%;
    background-color:$background-primary;
    min-height:26vmax;
    @include screen(large){
      min-height:25vmax;
    }
    @include screen(extra){
    height:708px;
    }
  }
  &-circle{
    transform:rotate(-180deg);
    position:absolute;
    top:0;
    right:40px;
    max-width:50%;
    @include screen(extra){
      max-width:100%;
    }
  }
  &-icon{
    display:block;
    max-width:100%;
    @include screen(extra){
      display:none;
    }
  }
  &-icon--desktop{
  display:none;
    @include screen(extra){
      display:block;
      max-width:100%;
      @include reming(margin,0 0 50px 40px);
    }
  }
  &-title{
    color:#eedc00;
    position:relative;
    @include rem(36px);
    @include weight(bold);
    @include remy(padding,17px 0 10px 0);
    &:after{
      position:absolute;
      content:"";
      border-bottom:2px solid $border-primary;
      left:0;
      bottom:0;
      width:100%;
    }
    @include screen(extra){
      @include rem(54px);
    }
  }
  &-text{
    color:white;
    line-height:1.2;
    @include rem(16px);
    @include weight(semi-bold);
    @include remy(padding-top,10px);
    @include screen(large){
      float:left;
      width:50%;
      min-height:150px;
      @include reming(padding-top,25px);
    }
    @include screen(extra){
      @include rem(24px);
    }
  }
  &-button{
    @include reming(padding-top,30px);
    position:relative;
    @include screen(large){
      float:left;
      min-height:150px;
      width:50%;

      &__arrow{
        position:absolute;
        @include reming(padding-top,25px);
        left:50%;
        transform:translate(-50%,-50%);
      }
    }
  }
}

////////////////////////////////////////////////////////
// Section Materials
.materials{
    width:95%;
    margin:0 auto;
    overflow:hidden;
    @include screen(tablet){
      width:90%;
      @include reming(padding,30px 0 30px 0);
    }
    @include screen(desktop){
      @include reming(padding,100px 0 80px 0);
    }
    @include screen(extra){
      width:1600px;
    }
  &__heading{
    @include rem(20px);
    @include remy(margin-bottom,10px);
    @include weight(bold);
    @include screen(tablet){
      @include rem(32px);
    }
    @include screen(desktop){
      display:none;
    }
  }
  &__content{
    position:relative;
    overflow:hidden;

    @include remy(padding-bottom,20px);
    &:after{
      position:absolute;
      content:"";
      border-bottom:2px solid $border-primary;
      left:0;
      bottom:15px;
      width:100%;
    }
  }
  &__title{
    float:left;
    width:50%;
    @include rem(20px);
    @include weight(medium);
    text-transform: uppercase;
    @include screen(tablet){
        width:40%;
    }
    @include screen(desktop){
      @include rem(24px);
      width:40%;
    }
    @include screen(extra){
      @include rem(42px);
    }
  }
  &__description{
    float:right;
    width:50%;
    color:#53565A;
    @include rem(13px);
    @include weight(light);
    @include screen(tablet){
      width:45%;
      float:left;
    }
    @include screen(desktop){
      float:left;
      width:45%;
    }
    @include screen(extra){
      @include rem(26px);
    }
  }
  &__arrow{
  display:none;
    @include screen(tablet){
      display:inline-block;
      position:relative;
      left:55px;
    }
    @include screen(extra){
      display:none;
    }
  }
  &__arrow--big{
    display:none;
    @include screen(extra){
      display:block;
      position:absolute;
      top:30%;
      right:55px;
      transform:translateY(-50%);
    }
  }
  &__number{
    @include screen(desktop){
      display:none;
    }
    &-title{
      color:$special-font;
      @include rem(32px);
      @include weight(light);
    }
    &-content{
      width:50%;
      &--right{
        float:right;
      }
      &--left{
        float:left;
      }
    }
    &-big{
      color:$special-font;
      @include rem(50px);
      @include weight(bold);
    }
    &-text{
      @include remy(padding-top,10px);
      @include rem(15px);
      @include weight(semi-bold);
      @include screen(tablet){
        display:none;
      }
    }
  }
}

// Desktop Materials
.materials{
overflow:hidden;
@include screen(extra){
  height:600px;
  overflow:visible;
}
  &__left{
    display:none;
    @include screen(desktop){
      display:block;
      float:left;
      width:25%;
    }
  }
  &__middle{
    @include screen(desktop){
      width:50%;
      float:left;
    }
  }
  &__right{
    display:none;
    @include screen(desktop){
      display:block;
      float:right;
      width:25%;
    }
  }
  &__heading--desktop{
    @include rem(36px);
    @include reming(padding-bottom,35px);
    @include screen(extra){
      @include rem(48px);
    }
  }
  &__number--desktop{
    @include screen(laptop){
      @include reming(padding-left,25px);
    }
    @include screen(large){
      @include reming(padding-left,65px);
    }
  }
  &__number-title--desktop{
    color:$special-font;
    @include rem(20px);
    @include weight(light);
    text-align:left;
    @include screen(extra){
      @include rem(48px);
    }
  }
  &__number-big--desktop{
    color:$special-font;
    @include rem(80px);
    @include weight(bold);
    text-align:left;
    @include screen(extra){
      @include rem(175px);
      position:relative;
      z-index:55;
    }
    @include custom(1800px){
      @include rem(205px);
    }
    @include custom(1900px){
      @include rem(235px);
    }
  }
  &__number-big--desktop span{
    @include rem(80px);
  }
  &__number-text--desktop{
    color:black;
    @include rem(16px);
    @include weight(semi-bold);
    text-align:left;
    @include screen(extra){
      @include rem(24px);
    }
  }

  &__number-text--laptop{
    display:none;
    @include screen(tablet){
      display:block;
    }
    @include screen(desktop){
      display:none;
    }
  }
  &__icon--desktop{
    max-width:50%;
  }
}

////////////////////////////////////////////////////////
// How Can we Help
.help{
  width:100%;
  background-color:#b7c9d3;
  position:relative;
  @include screen(desktop){
    min-height:490px;
    padding-left:5%;
  }
  @include remy(margin-top,10px);
  &__container{
    overflow:hidden;

  }
  &__circle{
    position:absolute;
    left:0;

    z-index:0;
    display:none;
    @include custom(1200px){
      display:block;
          top:-300px;
    }
    @include screen(extra){
    top:-50%;
    }
  }
  &__wrapper{
    @include screen(desktop){
      width:90%;
      position:absolute;
      top:50%;
      left:5%;
      transform:translateY(-50%);
    }
  }
  &__box{
    min-height:130px;
    width:50%;
    float:left;

    position:relative;
    @include screen(desktop){
      width:20%;
      height:300px;
      &:after{
        content:"";
        position:absolute;
        border-right:1px solid black;;
        top:55%;
        transform:translateY(-50%);
        right:0;
        height:40%;
      }
      &:last-child:after{
        border:none;
      }
    }
    &:first-child{
      @include screen(desktop){
        display:none;
      }
    }
    &-wrapper{
      overflow:hidden;
      min-height:130px;
      @include remy(padding,10px 0 0 15px);
    @include screen(desktop){
      min-height:300px;
    }
    }
    &-title{
      @include rem(30px);
      @include weight(bold);
    }
    &-icon{
      max-width:100%;
      height:auto;
      @include screen(desktop){
      display:none;
      }
    }
    &-icon--desktop{
      display:none;
      @include screen(desktop){
        display:inline-block;
        max-width:100%;
        height:70px;
      }
    }
    &-text{
      color:#53565A;
      line-height:1.3;
      @include remy(margin-top,2px);
      @include rem(13px);
      @include weight(regular);
      @include screen(desktop){
        @include reming(padding,30px 15px 0 0);
      }
      @include screen(extra){
        @include rem(20px);
      }
    }
    &-arrow{
      display:none;
      @include screen(desktop){
        display:block;
        max-width:100%;
        max-height:50px;
        position:absolute;
        left:15px;
        bottom:10px;
      }
    }
    &--1,&--3,&--5{
        border-right:1px solid $border-primary;
        @include screen(desktop){
          border:none
        }
    }
    &--1,&--2{
      border-bottom:1px solid $border-primary;
      @include screen(desktop){
        border:none
      }
    }
    &--5,&--6{
      border-top:1px solid $border-primary;
      @include screen(desktop){
        border:none
      }
    }
  }
  &__title--desktop{
    display:none;
    @include screen(desktop){
      color:white;
      display:block;
      @include rem(24px);
      @include reming(padding-top,25px);
      @include screen(desktop){
        @include reming(padding-bottom,20px);
        @include rem(36px);
      }
    }
  }
  &__boxhide{
    background-color:white;
    position:absolute;
    bottom:-85px;
    left:0;
    z-index:0;
    width:100%;
    height:85px;
  }
}

////////////////////////////////////////////////////////
// Partners
.partners{
  width:95%;
  min-height:380px;
  position:relative;
  z-index:55;
  @include reming(padding,10px 0 0 0);
  @include screen(tablet){
    width:90%;
    margin:0 auto;
    min-height:300px;
  }
  @include screen(desktop){
      @include reming(padding-top,20px);
  }
  @include screen(extra){
    width:1600px;
  }
  @include remy(margin-top,5px);
  &__icon{
    max-width:100%;
    height:auto;
    display:inline-block;
    @include reming(padding,35px 35px 0 10px);
    @include screen(desktop){
      display:inline-block;
      @include reming(padding,0);
      @include reming(padding-right,25px);
    }
  }
  &__wrapper{
        width:100%;
        position:absolute;
        top:50%;
        left:0;
        transform:translateY(-50%);
  }
  &__container{

  }
  &__heading{
    @include weight(bold);
    @include rem(20px);
    @include reming(padding-left,10px);
    @include screen(tablet){
      @include rem(32px);
      @include reming(padding,10px 0 0 0);
    }
    @include screen(desktop){
      @include reming(padding-bottom,20px);
      @include rem(36px);
      @include reming(padding-left,0);
    }

  }
}
