/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;
}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
$primary-blue:#B7C9D3;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    width:200px;
    height:55px;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
  }
  // Navigation
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include reming(margin-bottom,25px);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:80px;
      transform:translateY(-50%);
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:40px;
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }

// Single article border
  .header__navigation--single-article{
    border-bottom:1px solid #E6E6E6;
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include reming(margin-bottom,27px);
    @include screen(tablet){
      display:block;
      height:200px;
      @include reming(margin-bottom,90px);
    }
    &-wrapper{
      width:90%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:95%;
        height:200px;
      }
      @include screen(extra){
        width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(56px);
      }
      @include screen(desktop){
        @include rem(72px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}

//////////////////Navigation
.nav{
  display:none;
  @include screen(desktop){
    display:block;
  }
  height:112px;
  position:relative;
  margin-left:245px;
  &__item{
    display:inline-block;
    @include reming(padding-right,25px);
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include rem(15px);
    }
    @include screen(extra){
      @include rem(19px);
    }
  }
}

.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:95%;
  overflow:hidden;
  height:65px;
  @include screen(tablet){
    height:112px;
    width:95%;
  }
  @include screen(extra){
    width:1600px;
  }
}


////////////////////////////////////
/////// Main


.search{
height:auto;
overflow:hidden;
@include reming(margin,0 0 15px 0);
  &--wrapper{
    width:95%;
    margin:0 auto;
    overflow:hidden;
    margin-bottom:25px;
    @include reming(margin-bottom,15px);
    @include screen(extra){
      max-width:1600px;
    }
  }
  &__input--wrapper{
    position:relative;
    display:block;
    overflow:hidden;
    float:left;
    width:100%;
    @include reming(margin-bottom,15px);
    @include screen(large){
      display:inline-block;
        width:210px;
    }
    &:before{
      content:url(../img/search-icon.png);
      position:absolute;
      left:1px;
      top:0;
      z-index:55;
    }
  }
  &__categories{
    float:left;
    @include screen(large){
      @include reming(margin-left,35px);
    }
  }
  &__categories-item{
    float:left;
    padding:5px;
    display:inline-block;
    @include font(14,regular);
    line-height:35px;
    @include reming(margin-right,10px);
    padding:0;
    @include screen(desktop){
        @include reming(margin-right,50px);
    }
  }
  &__categories-item:hover{
    @include font(14,semi-bold);
    cursor:pointer;
  }
  &__categories-item:after{
  display:block;
   content:attr(title);
   font-weight:bold;
   height:1px;
   color:transparent;
   overflow:hidden;
   visibility:hidden;
   margin-bottom:-1px;
  }
  &__field{
    position:relative;
    @include rem(14px);
    @include weight(regular);
    float:left;
    line-height:35px;
    border:none;
    border-bottom:1px solid $background-primary;
    @include reming(padding-left,45px);
    outline:0;
    @include reming(margin-bottom,15px);
    @include custom(500px){
      margin-bottom:0;
    }
  }
  &__details{
    float:left;
    @include custom(840px){
      float:right;
    }
  }
  &__select{
    min-height:38px;
  }
}

.news{
  overflow:hidden;
}
.news__content{
    clear:both;
    overflow:hidden;
  &--wrapper{
      overflow:hidden;
    width:95%;
    margin:0 auto;
    @include screen(extra){
    }
    max-width:1600px;
  }

  .news__loader{
    clear:both;
      width:100%;
      text-align:center;
      display:block;
      @include reming(margin,30px 0 70px 0);
  }
  .news__button{
    @include rem(14px);
    @include weight(regular);
    position:relative;
    color:#53565A;
    padding-top:2px;
    line-height:52px;
    display:inline-block;
    width:214px;
    height:52px;
    border-radius:25px;
    border:1px solid #53565A;
    &:hover{
      background-color:#53565A;
      transition:.2s ease-in;
      color:white;
    }
  }



  // search
  // Article Container and Rows
  &-article{
    border:1px solid $border-primary;
    width:100% ;
    height:85px;
    margin-bottom:10px;
    @include screen(small){
      float:left;
      width:100%;
      margin-bottom:1%;
      height:35vw;
    }
    @include custom(1035px){
      height:19vw;
      @include rowMachine(2,1%);
    }
    @include screen(extra){
      height:290px;
      @include rowMachine(2,1%);
    }
    background-color:$background-secondary;
  }
}

// Article Wrappers
.article{
  &__box-left{
    display:none;
    @include screen(small){
      display:block;
      float:left;
      width:60%;
    }
  }
  &__box-right{
    width:100%;
    height:85px;
    position:relative;
    float:left;
    width:100%;
    @include screen(small){
      height:35vw;
      float:right;
      width:40%;
    }
    @include custom(1035px){
      height:19vw;
    }
    @include screen(extra){
      height:290px;
    }

  }
  &__box-left{
    background:url('../img/news/news-small-photo.png')no-repeat center center;
    background-size:cover;
    height:100%;
  }
}
// Article every 3-4 wrapper (change of floats)

.article:nth-child(4n+3) .article__box-right .article__share,.article:nth-child(4n+4) .article__box-right .article__share{
  border-left:none;
}
// Different Float Flow for Small Devices
@media screen and (min-width: 300px) {
  .article{
    background-color:$background-secondary;
  }
}
@media screen and (min-width: 480px) {
  .article:nth-child(even) .article__box-left, .article:nth-child(even) .article__box-left{
    float:right;
    width:60%;
  }
  .article:nth-child(2){
    background-color:white;
  }
  .article:nth-child(even){
      background-color:white;
  }
}
// Different Float Flow for Desktop
@media screen and (min-width:1035px) {
  .article:nth-child(even) .article__box-right{
  float:initial;
  }
  .article:nth-child(2) .article__box-left{
  float:left;
  width:60%;
  }
  .article:nth-child(2) .article__box-right{
  float:right;
  width:40%;
  }
  .article:nth-child(4n+3),.article:nth-child(4n+4){
    background-color:white;
    border:1px solid $background-secondary;
  }
  .article:nth-child(2){
      background-color:$background-secondary;
  }
}

@media screen and (min-width:1036px) {
.article:nth-child(4n+3) .article__box-left,.article:nth-child(4n+4) .article__box-left{
    float:right;
    width:60%;
}
.article:nth-child(4n+3) .article__box-right,.article:nth-child(4n+4) .article__box-right{
  float:left;
  width:40%;
}
}


// Article styling
.article{
  // Tag Bar
  &__share{
    height:25px;
    border:1px solid $border-primary;
    overflow:hidden;
    width:100%;
    position:relative;
    border-right:none;
    border-top:none;
    @include screen(small){
      height:30px;
    }
    @include screen(laptop){
      height:42px;
    }
  }
  &__share-tag{
    display:inline-block;
    color:$font-secondary;
    line-height:25px;
    @include font(10,semi-bold);
    @include reming(padding-left,15px);
    @include screen(small){
        @include font(10,semi-bold);
        line-height:30px;
        @include reming(padding-left,15px);
    }
    @include screen(tablet){
        @include font(16,semi-bold);
        line-height:30px;
        @include reming(padding-left,15px);
    }
    @include screen(laptop){
      line-height:42px;
      @include reming(padding-left,15px);
    }
    @include screen(extra){
      line-height:42px;
      @include reming(padding-left,30px);
    }
  }
  &__share-link{
    width:15px;
    height:auto;
    position: absolute;
    top:60%;;
    transform:translateY(-50%);
    right:15px;
    display:block;
    @include screen(laptop){
      right:25px;
      top:55%;
      width:18px;
    }
    &:after{
      position:relative;
      content:url("../img/news/news-share.svg");
      height:auto;
      @include screen(tablet){
        width:18px;
      }
    }
  }
}


// Variables for Elipsis
$font-size: 18px;
$line-height: 1.2;
$lines-to-show: 4;

// Article Content
.article__content{
    @include reming(padding, 10px 15px 0 15px);

  @include screen(extra){
      @include reming(padding, 18px 30px 0 30px);
  }
  // Article Title
  &-title{
    position:relative;
    @include font(14,bold);
    width:65%;
    @include screen(small){
      width:100%;
      @include reming(padding-bottom,10px);
      @include font(16,bold);
    }
    @include screen(tablet){
      @include reming(padding-bottom,10px);
      @include font(18,bold);
    }
    @include screen(laptop){
      @include reming(padding-bottom,10px);
      @include font(18,bold);
    }
    @include custom(1380px){
      @include reming(padding-bottom,15px);
      @include font(20,bold);
    }
    @include screen(extra){
      @include reming(padding-bottom,15px);
      @include font(20,bold);

    }
    &:after{
      position:absolute;
      content:"";
      left:0;
      bottom:0;
      width:85px;
      border:none;
      @include screen(small){
        border:2px solid $background-primary;
      }
      @include screen(desktop){
        border:3px solid $background-primary;
      }
    }
  }
  &-text{
display:none;
  @include screen(small){
    $font-size: 12px;
     $lines-to-show:3;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include reming(margin-top,10px);
  }
  @include custom(700px){
    $lines-to-show: 4;
    $font-size: 16px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    @include font(16,regular);
    @include reming(margin-top,10px);
  }
  @include custom(1035px){
    $lines-to-show: 2;
    $font-size: 16px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    @include reming(margin-top,10px);
    @include font(16,regular);
  }
  @include custom(1160px){
    $lines-to-show: 3;
    $font-size: 16px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    @include reming(margin-top,10px);
    @include font(16,regular);
  }
    @include custom(1380px){
      $lines-to-show: 4;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      @include reming(margin-top,20px);
      @include font(18,regular);
    }

  }
}

// Article Details
.article__details{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30px;
  @include screen(small){
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
  }
  &-date{
    @include font(12,regular);
    position:absolute;
    bottom:5px;
    left:15px;
    @include screen(tablet){
      bottom:10px;
      left:15px;
      @include font(14,regular);
    }
    @include screen(laptop){
        @include font(14,regular);
      bottom:10px;
      left:15px;
    }
    @include screen(extra){
      @include font(16,regular);
      bottom:17px;
      left:30px;
    }
  }
  &-arrow{
    background:url('../img/news/news-small-arrow.svg')no-repeat;
    background-size:cover;
    height:6px;
    width:26px;
    right:15px;
    bottom:11px;
    display:block;
    position:absolute;
    @include screen(laptop){
      right:15px;
      bottom:11px;
    }
    @include screen(extra){
      right:25px;
      bottom:18px;
    }
  }
}

// Single Article
.single-article{
  overflow:hidden;
  &--wrapper{
        margin:0 auto;
        width:95%;
    @include screen(extra){
      max-width:1600px;
    }
  }
  &__main{
    float:left;
    width:80%;
    overflow:hidden;
  }
  &__aside{
    width:20%;
    float:right;
  }
}
.single-article{
  &__title{
    @include reming(margin,80px 0 18px 0);
    @include font(48,bold);
    position: relative;
    @include reming(padding-bottom,24px)
    &:after{
      position:absolute;
      content: '';
      bottom:0;
      left:0;
      width:87px;
      border-bottom:3px solid $background-primary;
    }
  }
  &__author,&__date,&__tag{
    margin-right:-4px;
  }
  &__author,&__tag{
    @include font(18,semi-bold);
  }
  &__date{
    @include font(18,regular);
  }
}


// Body of single article
.single-article{
  &__body{
  width:80%;
  }
  &__image{
    position: relative;
    @include reming(margin-top,25px);
  margin-right:10%;
  }
  &__image-author{
    @include font(14,regular);
    position: absolute;
    bottom:-15px;
    right:0;
  }
  &__image--intro{
    max-width:100%;
    height:auto;
  }
  &__lead{
      line-height:1.5;
    @include font(20,semi-bold);
    @include reming(padding,40px 0 35px 0);
  }
  &__paragraph{
      line-height:1.5;
    @include font(18,regular);
    @include reming(padding-bottom,40px);
  }
  &__paragraph--bold{
      line-height:1.5;
    @include font(25,semi-bold);
    @include reming(padding-bottom,20px);
  }
  &__paragraph--italic{
    font-family:"PlayFair Display","sans-serif";
    font-weight:700;
    font-style:italic;
    @include rem(22px);
    @include reming(margin-bottom,40px);
  }
}



// Aside Articles
.related-articles{
  @include reming(margin-top,200px);
  &__title{
    @include font(26,bold);
    color:$font-secondary;
    @include reming(padding-bottom,13px);
    @include reming(margin-bottom,18px);
    border-bottom:1px solid $border-primary;
  }
}

.related-article__box{
  position: relative;
  @include reming(padding-bottom,15px);
  @include reming(margin-bottom,28px);
  &:after{
    position:absolute;
    content: '';
    bottom:0;
    left:0;
    width:30%;
    border-bottom:1px solid $border-primary;
  }
}

.related-article{
  &__title{
    position: relative;
    @include font(20,bold);
    color:$font-secondary;
    @include reming(padding-bottom,13px);
    @include reming(margin-bottom,18px);
    &:after{
      position:absolute;
      content: '';
      bottom:0;
      left:0;
      width:30%;
      border-bottom:3px solid $background-primary;
    }
  }
  &__image-photo{
    max-width:100%;
  }
}
