/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";
@import "_base/_header__no-nav.scss";
/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;
}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;
}






////////////////////////////////////////////////////////
// Main
// Main content and wrappers
.main-about{
  clear:both;
position:relative;
overflow:hidden;
  &__img{
    display:none;
    @include screen(tablet){
      display:block;
      position:absolute;
      top:0;
      right:0;
    }
  }
}
.about{
  width:95%;
  margin:0 auto;
  &--wrapper{
    @include screen(extra){
      max-width:1600px;
      margin:0 auto;
    }
  }
}
// Introduction
.about{
  &-intro{
    @include screen(extra){
      @include reming(padding-left,160px);
    }
  }
  &-intro__title{
    position:relative;
    @include rem(20px);
    @include reming(padding-bottom,15px);
    @include screen(tablet){
      @include rem(48px);
      @include weight(bold);
      @include reming(padding-bottom,25px);
      @include reming(margin-top,85px);
    }
    @include screen(extra){
      left:-160px;
    }
  }
  &-intro__text{
    width:100%;
    line-height:1.3;
    @include rem(14px);
    @include weight(regular);
    @include reming(padding-top,15px);
    @include screen(tablet){
      width:60%;
      @include reming(padding-top,25px);
      @include rem(18px);
    }
    @include screen(extra){
      width:45%;
    }


    position:relative;
    &:before{
      position:absolute;
      content:"";
      left:0;
      top:0;
      width:81px;
      border:2px solid $background-primary;
    }
  }
}
// Owners logos
.about{
  &-owners{
    @include reming(margin-top,15px);
    overflow:hidden;
    @include screen(tablet){
      @include reming(margin-top,80px);
    }
    @include screen(extra){
      @include reming(padding-left,160px);
    }
    &:last-child{
      @include reming(margin-bottom,80px);
    }
  }
  &-owners__title{
    @include rem(20px);
    @include weight(bold);
    @include reming(margin-bottom,5px);
    position:relative;
    @include screen(tablet){
      @include rem(48px);
      @include reming(margin-bottom,30px);
    }
    @include screen(extra){
      left:-160px;
    }
  }
  &-owners--wrapper{
    max-width:1300px;
  }
  &-owners__logo{
    width:50%;
    margin:0 auto;
    text-align:center;
    position: relative;
    top:50px;
    @include screen(tablet){
      max-width:70%;
    }
    &:after{
      content:url('../img/signature.png');
      position: absolute;
      bottom:-70px;
      right:0;
    }
  }
  &-owners__logo--img{
    max-width:100%;
  }
  &-owners__logo-box{
    position: relative;
      width:100%;
      float:left;
      height:185px;
      border:1px solid #ddd;
      @include reming(margin-top,10px);
      @include screen(tablet){
      height:200px;
      @include rowMachine(3,0.5%);
    }
      @include screen(laptop){
          height:275px;
      }
  }
}
