
/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";
@import "_base/_header__no-nav.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;
}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;
}



// Search Field
.search{
@include reming(margin-top,35px);
height:80px;
@include custom(500px){
height:35px;
}
@include screen(tablet){
  @include reming(margin-top,85px);
}
  &--wrapper{
    width:95%;
    margin:0 auto;
    @include screen(extra){
      width:1600px;
    }
  }
  &__input--wrapper{
    position:relative;
    &:before{
      content:url(../img/search-icon.png);
      position:absolute;
      left:1px;
      top:0;
      z-index:55;
    }
  }
  &__field{
    position:relative;
    @include rem(14px);
    @include weight(regular);
    float:left;
    line-height:35px;
    border:none;
    border-bottom:1px solid $background-primary;
    @include reming(padding-left,45px);
    outline:0;
    @include reming(margin-bottom,15px);
    @include custom(500px){
      margin-bottom:0;
    }
  }
  &__details{
    float:left;
    @include custom(500px){
      float:right;
    }
  }
  &__select{
    min-height:38px;
  }
}
// Reports
.report{
  @include reming(margin,35px 0 0 0);
  &__wrapper{
    height:800px;
  margin:0 auto;
  width:95%;
  @include screen(tablet){
    width:95%;
  }
  @include screen(extra){
    width:1600px;
  }
  }
  // Box for items
  &__box{
    border:1px solid $border-primary;
    float:left;
    width:100%;
    height:430px;
    background-color:white;
    position:relative;
    @include reming(margin-bottom,10px);
    // Box on Hover
    &:hover{
      @include screen(tablet){
        -webkit-box-shadow: -10px 11px 36px -2px rgba(207,207,207,0.42);
        -moz-box-shadow: -10px 11px 36px -2px rgba(207,207,207,0.42);
        box-shadow: -10px 11px 36px -2px rgba(207,207,207,0.42);
        position: relative;
        top:-10px;
      }
    }
    // Box content responsive
    &-circle{
      position:absolute;
      top:0;
      right:0;
      z-index:0;
    }
    @include custom(450px){
      height:395px;
    }
      @include screen(tablet){
        width:385px;
        height:395px;
        @include rowMachine(2,2%);
      }
      @include screen(desktop){
        @include rowMachine(3,2%);
      }
      @include screen(extra){
        @include rowMachine(4,1%);
        min-width:385px;
    }
    &--wrapper{
      position:relative;
      z-index:1;
      @include reming(padding,50px 10px 0 10px);
      @include screen (tablet){
        @include reming(padding,50px 35px 0 35px);
      }
    }
    &-tag{
      position:absolute;
      top:-4px;
      z-index:55;
      left:0;
      width:80px;
      height:22px;
      background-color:#EEDC00;
      text-align:center;
      -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.1);
      -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.1);
      box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.1);
      &__name{
        color:#53565A;
        line-height:22px;
        @include rem(12px);
        @include weight(regular);
      }
      &__name--red{
        color:white;
      }
      @include reming(margin-left,15px);
      @include screen(tablet){
        @include reming(margin-left,35px);
      }
    }
    &-tag--red{
      background-color:$special-font;
    }
    // Title
  &-title{
    line-height:1.1;
    display:inline-block;
    position:relative;
    @include reming(padding-bottom,15px);
    @include rem(24px);
    @include weight(semi-bold);
    &:after{
      content:"";
      width:30%;
      position:absolute;
      bottom:0;
      left:0;
      border:2px solid $background-primary;
    }
  }
    &-text{
      line-height:1.2;
      @include rem(18px);
      @include weight(light);
      @include reming(margin-top,20px);
    }
    &-details{
      position:absolute;
      bottom:0;
      left:0;
      height:75px;
      width:100%;
      &--left{
        float:left;
      }
      &--right{
        float:right;
      }
      &__author{
        @include reming(padding,0 0 15px 15px);
        @include rem(16px);
        @include weight(semi-bold);
          @include screen(tablet){
          @include reming(padding,0 0 15px 35px);
        }
      }
      &__date{
        color:#53565A;
        @include reming(padding-left,15px);
        @include rem(16px);
        @include weight(regular);
        @include screen(tablet){
          @include reming(padding-left,35px);
        }
      }
      &__link{
        position:relative;
        display:block;
        height:45px;
        width:60px;
        border-radius:35px;
        border:1px solid #53565a;
        @include reming(margin-right,15px);
        @include screen(tablet){
        @include reming(padding-right,45px);
      }
      }
      &__icon{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
      }
    }
  }
  // End of Box
  &__box:nth-child(even){
  background-color:#f2f2f2;
  }
  &__loader{
    width:100%;
    text-align:center;
    display:block;
    padding:0;
    margin-top:30px;
    margin-bottom:70px;
  }
  &__button{
    @include rem(14px);
    @include weight(regular);
    position:relative;
    color:#53565A;
    padding-top:2px;
    line-height:52px;
    display:table-cell;
    width:215px;
    height:52px;
    border-radius:25px;
    border:1px solid #53565A;
    &:hover{
      background-color:#53565A;
      transition:.2s ease-in;
      color:white;
    }
  }
}





// Single Research / Single Report
.single-report{
  width:95%;
  margin:0 auto;
  overflow:hidden;
  @include reming(margin-bottom,215px);
    @include reming(margin-top,25px);
  @include screen(tablet){
    @include reming(margin-top,85px);
  }
  @include screen(extra){
    max-width:1600px;
  }
  &__title{
    width:100%;
    @include font(20,bold);
    @include reming(padding-bottom,20px);
    @include reming(margin-bottom,20px);
    position: relative;
    @include screen(tablet){
      width:60%;
      @include font(48,bold);
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width:87px;
      border: 2px solid black;
    }
  }
  &__aside{
    float:left;
    width:300px;
  }
  &__main{
    overflow:hidden;
    @include reming(margin-bottom,40px);
    @include custom(1000px){
      width:650px;
      float:left;
    }
  width:100%;
  float:left;
  }
}

.single-report__aside{
  &-details {
    @include font(20,bold);
    @include reming(margin-bottom,30px);
  }
  &-details span {
    @include font(18,regular);
  }
  &-download{
    width: 214px;
    height: 62px;
    line-height:62px;
    text-align:center;
    border:1px solid $background-primary;
    border-radius:30px;
    cursor:pointer;
    position: relative;
  }
  &-link{
    position: relative;
    &:after{
      content:'';
      position: relative;
      top:2px;
      display: inline-block;
      width: 27px;
      height: 13px;
      right:-10px;
      background-image:url('../img/download-icon.png');
      background-size:cover;
    }
  }
  &-download--desktop{
    display:none;
    @include custom(1000px){
      display:block;
    }
  }
  &-download--mobile{
    display:block;
    margin:0 auto;
    clear:both;
    @include custom(1000px){
      display:none;
    }
  }
}


.single-report__main{
  &-paragraph{
        line-height:1.3;
            @include font(14,regular);
    @include screen(tablet){
          @include font(18,regular);
    }


  }
  &-paragraph--intro{
    @include font(14,semi-bold);
    line-height:1.3;
    @include screen(tablet){
      @include font(18,semi-bold);
    }
    @include reming(margin-bottom,35px);
  }
}
