/**
 *
 * Colors variables
 *
 */
$cl-white: rgba(255,255,255,1);
$cl-primary: rgba(9, 9, 9, 1);
$cl-secondary: rgba(149, 149, 149,1);

body,
html,
a {
  font-family: 'Poppins', sans-serif;
  color: $cl-primary;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.ui-state-active {
  .m-btn {
    &_primary {
      background-color: $cl-primary;
      color: $cl-secondary;
      border-color: $cl-primary;
    }
  }
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900;
}
