// FONTS

// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Open Sans', sans-serif;



@font-face {
    font-family:"antonio";
    src: url("../font/antonio.bold.ttf")
}

.typo {
  &_primary {
    font-family: antonio, Sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    color: $cl-secondary;
    margin-bottom: 30px;
    line-height: 44px;
    letter-spacing: 1.1px;
    @include breakpoint('tablet'){
      line-height: 36px;
    }
  }
  &_secondary {
    font-family: antonio, Sans-serif;
    color: $cl-secondary;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 36px;
    letter-spacing: .6px;
  }
  &_text {
    font-family: 'Open Sans', sans-serif;
    color: $cl-primary;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 20px;
    @include breakpoint('tablet'){
      line-height: 25px;
      font-size: 18px;
    }
  }
}

.navbar{
  .typo{
    &_secondary{
      color: $cl-white;
      @include breakpoint('desktop_small'){
        font-size: 18px;
      }
    }
  }
}

.header{
  .typo{
    &_text{
      font-family: 'Open Sans Condensed', sans-serif;
      font-style: italic;
      font-size: 28px;
      line-height: 39px;
      @include breakpoint('tablet'){
        font-size: 24px;
        margin-top: 15%;
      }
      @include breakpoint('desktop_small'){
        margin-top: 75px;
        padding-left: 4%;
        max-width: 490px;
      }
      @include breakpoint('desktop'){
        padding-left: 12%;
      }
      span{
        font-style: normal;
      }
    }
  }
}

.post-wrapper{
  .post{
    .typo{
      &_primary, &_secondary{
        text-align: center;
      }
      &_primary{
        @include breakpoint('desktop_small'){
          text-align: left;
        }
      }
    }
    &_body{
      .typo{
        &_text{
          @include breakpoint('tablet'){
            padding: 0 10%;
            font-size: 16px;
          }
          @include breakpoint('desktop_small'){
            text-align: left;
            padding: 0;
            max-width: 350px;
            margin: 0 auto;
          }
          @include breakpoint('desktop'){
            max-width: 420px;
          }
        }
        &_secondary{
          @include breakpoint('desktop_small'){
            max-width: 350px;
            margin: 0 auto 30px;
            text-align: left;
          }
          @include breakpoint('desktop'){
            max-width: 420px;
          }
        }
      }
    }
  }
}

.footer{
  .typo{
    color: $cl-white;
    &_secondary{
      margin-bottom: 15px;
    }
    &_text{
      margin-bottom: 0;
      &.author{
        text-align: center;
        width: 100%;
        padding: 15px 30px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 500;
        @include breakpoint('tablet'){
          text-align: right;
        }
        @include breakpoint('desktop_small'){
          padding: 15px 0;
        }
        a{
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          color: $cl-white;
        }
      }
    }
    &_text, &_secondary{
      @include breakpoint('tablet'){
        width: 60%;
        display: inline-block;
      }
      @include breakpoint('desktop_small'){
        width: 100%;
      }
    }
  }
  .col-3{
    &:first-of-type{
      .typo{
        &_text{
          margin-bottom:25px;
          @include breakpoint('tablet'){
            margin-bottom: 65px;
          }
        }
      }
    }
  }
}
