<div class="header clearfix">
	<div class="header-wrapper">
		{% include "templates/modules/logo.twig" with {
			'url': '',
			'svg': true,
			'image': site.theme.link ~ '/core/images/logo.svg'
		} %}	
		{% include "templates/modules/search.twig" %}		
		{% include "templates/modules/menu.twig" with {
			'menu': menu.get_items
		} %}		

	</div>
</div>