<div class="contentBox">
    <h2 class="heading heading-secondary">O nas</h2>
    <div class="contentBox_content">
        <h3 class="heading heading-primary">Jesteśmy liderami w branzy oszczyszczalni.</h3>
        <p class="typo typo-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci a, et porro eius rem ratione perspiciatis esse ex quis necessitatibus itaque accusantium ea architecto magnam hic! Unde nisi dolorum qui!</p>
        {% include 'templates/modules/btn/btn.twig' with { 
            'href' : '#', 
            'label' : 'Czytaj więcej',
            'btn': 'btn btn-primary'
        } %}
    </div>
</div>

