.m-languages {
  float: right;
  li {
    display: inline-block;
    margin-left: 13px;
  }
  .m-language {
    text-decoration: none;
    color: $cl-greyBF;
    font-weight: 700;
    &.is-active {
      color: $cl-black;
    }
  }
}
