.m-menu {
  /**
    Temporary solution with before image
    TODO: replace image with svg or three span elements
  */
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  cursor: pointer;
  &:before {
    content: url('../images/brgr.png');
    display: block;
    float: left;
    width: 23px;
    height: 13px;
	margin: 0 0 0 -12px;
    position: relative;
    transition: all .5s;
    &:hover {
      left: -10px;
    }
	@include breakpoint('tablet'){
		margin-right: 15px;
	}
	@include breakpoint('desktop_small'){
		margin-right: 25px;
	}
  }
  span {
    color: $cl-white;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
    opacity: 1;
    transform: rotate(-90deg);
    transition: opacity .3s;
    &.is-hidden {
      opacity: 0;
    }
  }
}
.b-menu {
  .m-menu {
    min-width: 170px;
	top: 32%;
	right: 0;
	left: 0;
	display: flex;
	text-align: center;
	flex-direction: column;
    &:before {
      display: none;
    }
    .m-menu_item {
	  display: inline-block;
	  width: 150px;
	  margin: 0 auto 20px;
      float: left;
      clear: both;
      position: relative;
      padding: 0 10px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        width: 0;
        left: 0;
        top: 20px;
        right: 0;
        height: 10px;
        background-color: $cl-blue;
        transition: width .3s;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
      .m-menu_url {
        font-size: 35px;
        line-height: 45px;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        z-index: 20;
      }
    }
  }
}
