.m-services {
	margin: 0 -15px;
	background: $cl-red;
	@include breakpoint('tablet'){
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 30px;
	}
	@include breakpoint('desktop_small'){
		padding: 60px 40px;
	}
	@include breakpoint('desktop'){
		padding: 60px 60px;
	}
	&-box {
		padding: 30px 30px 0;
		@include breakpoint('tablet'){
			margin-bottom: 25px;
			padding: 0;
			width: 50%;
			margin-bottom: 55px;
		}
		&_details{
			@include breakpoint('tablet'){
				padding-right: 15px;
			}
			&-item{
				letter-spacing: 0.4px;
				color: $cl-white;
				font-size: 15px;
				line-height: 20px;
				@include breakpoint('tablet'){
					font-size: 14px;
					line-height: 20px;
				}
				@include breakpoint('desktop_small'){
					font-size: 15px;
				    line-height: 24px;
				}
			}
		}
		&:nth-child(1n + 3){
			margin-bottom: 0;
		}
		&:last-of-type{
			padding-bottom: 30px;
			@include breakpoint('tablet'){
				padding-bottom: 0;
			}
		}
	}
}
