.b-hero {
  .m-typo {
    font-size: 23px;
    font-weight: 600;
    line-height: 33px;
    &_primary {
      color: $cl-black;
    }
    &_secondary {
      color: $cl-white;
    }
  }
}
.b-zone {
  .m-typo {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 35px;
    span {
      font-weight: 600;
    }
    &_tertiary {
      margin-top: 10px;
      font-size: 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
.b-about{
	.m-typo{
		&_primary{
			&.heading{
				padding: 30px 0 40px;
				color: $cl-red;
				font-size: 68px;
			    line-height: 56px;
				clear: both;
				font-weight: 700;
				@include breakpoint('tablet'){
					padding: 40px 0 60px;
				}
				@include breakpoint('desktop_small'){
					font-size: 92px;
					line-height: 72px;
				}
				&:last-of-type{
					padding: 60px 0 60px;
					@include breakpoint('tablet'){
						padding: 120px 0 60px;
					}
					@include breakpoint('desktop_small'){
						padding: 200px 0 130px;
					}
				}
			}
		}
		&_text{
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
		}
	}
}
.b-overview{
	.m-typo{
		&_primary{
			font-size: 18px;
			margin-bottom: 15px;
			font-weight: 700;
			@include breakpoint('tablet'){
				margin-bottom: 20px;
				padding-right: 15px;
			}
			@include breakpoint('desktop_small'){
				font-size: 22px;
			    line-height: 26px;
			}
			span{
				color: $cl-red;
			}
		}
		&_text{
			@include breakpoint('desktop'){
				max-width: 380px;
			}
		}
	}
	.m-services-box{
		.m-typo{
			&_primary{
				color: $cl-white;
				margin-bottom: 15px;
				font-size: 20px;
				line-height: 18px;
				position: relative;
				@include breakpoint('tablet'){
					font-size: 18px;
					padding-right: 30px;
				}
				@include breakpoint('desktop_small'){
					line-height: 24px;
				}
				@include breakpoint('desktop'){
					font-size: 24px;
				}
				span{
					color: $cl-black;
					font-size: 28px;
				}
				&::before{
					content: '';
					// height: 17px;
					// width: 17px;
				    // top: 5px;
					left: -19px;
					height: 15px;
					width: 15px;
					top: 0; bottom: 0;
					margin: auto;
					position: absolute;
					background: $cl-black;
					z-index: 2;
					@include breakpoint('desktop_small'){
						height: 17px;
						width: 17px;
						left: -21px;
					}
				}
				&::after{
					content: '';
				    height: 22px;
				    width: 22px;
					left: -15px;
					top: 0;
				    bottom: 0;
				    margin: auto;
				    position: absolute;
				    border: 6px solid $cl-white;
				    opacity: .2;
					@include breakpoint('desktop_small'){
						left: -17px;
					}
				}
			}
		}
	}
}
