$nk: #33691e;

.pr30 {
  &:after {
    @media (min-width: 992px) {
      background-color: $nk !important;
      left: 97% !important;
    }
  }
}
.pl30{
  background-color: $nk;
}
.b-aside{
  background-color: $nk !important;
}
.comment-respond {
  textarea, input[type="text"], input[type="email"] {
    background-color: #f8f8f8;
    &:focus{
      outline:0;
    }
  }
  a {
    color: #4b4933;
  }
}


.addtoany_content_bottom{
  border-top: 2px solid #ffc107;
}



body{
  background-color: #fff;
  &.home{
    .container-fluid{
      .parallax{
        @media (min-width: 768px){
          display: block;
        }
      }
    }
  }
  .pr30{
    article{
      border-bottom: 2px solid #ffc107;
      .title{
        color: $nk !important;
        &:focus{
          outline: 0;
        }
      }
    }
  }
.fixed{
  box-shadow: 0 2px 10px -3px #555;
  .brand{
    .burger{
      z-index: 9999;
    }
  }
}
  aside{
    &:after{
      background-color: $nk;
      @media (min-width: 992px) {
        left: -19px;
      }
    }
    .module{
      h3{
        color: #fff;
      }
      p{
        color: #fff;
      }
      article{
        .title{
          color: #fff;
        }
      }
    }
  }


header{
  position: fixed;
  top: 0;
  height: 70px;
  &.fixed{
    background-color: $nk;
  }
  .add_ad{
    .wrapper{
      display: inline-block;
      .text-wrapper{
      left: 0;
      right: 0;
      text-align: center;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
        padding: 17px 28px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 6px;
        font-family: 'Roboto', serif;
        font-weight: 900;
        font-size: 18px;
        box-shadow: 0 2px 10px -3px #555;

        @media (min-width: 768px) {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          right: 20px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          top: 11px;
          left: inherit;
        }

        .add{
          color: #ffc107;
          transition: .15s;
        }
        .add_2{
          color: $nk;
          transition: .15s;
        }
        &:hover{
          .add{
            color: $nk;
          }
          .add_2{
            color: #ffc107;
          }
        }
      }
    }
  }
}

.container-fluid{
  margin-top: 70px;
  .parallax{
    display: none;
    background-image: url('../images/parallaxfhd.png');
    background-size: cover;
    height: 452px;
    .parallax-caption {
      display: none;
      @media (min-width: 500px) {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 169px;
      }
      p{
        &:first-of-type{
          font-size: 42px;
          margin-bottom: 2px;
          letter-spacing: 0;
          color: #ffc107;
        }
        text-shadow: 0px 4px 5px black;
        font-family: 'Roboto', serif;
        font-weight: 900;
        .next-paragraph{
          font-size: 20px;
          color: #fff;
          letter-spacing: .2px;
        }
      }
    }
  }
}

  .navigation {
      ul {
        li {
          &:hover{
            a{
              background: $nk !important;
              color: #fff !important;
              border: 2px solid $nk !important;
              span {
                &.label-prev {
                  &:after {
                    border-right: 10px solid #fff;
                  }
                }
                &.label-next {
                  &:after {
                    border-left: 10px solid #fff;
                  }
                }
              }
            }
          }
          &.active{
            a{
              background: $nk !important;
              color: #fff !important;
              border: 2px solid $nk !important;
            }
          }
          a{
            background: #ffc107 !important;
            border: 2px solid #ffc107 !important;
            font-size: 16px;
            font-weight: 800;
            font-family: 'Roboto', serif;
            span {
              &.label-prev {
                line-height: 26px ;
              }
              &.label-next {
                line-height: 26px ;
              }
            }
          }
        }
      }
  }


  .module {
    &.newsletter{
      p {
        color: #fff !important;
      }
    }
  }



article{
  .title {
    color: #fff !important;
  }
}

  button, input[type="submit"] {
    background-color: $nk;
  }

footer{
  background-color: $nk;
  .right, .left{
    color: #fff;
    padding-top: 15px;
    a{
      color: #fff;
    }
  }
  .left{
    font-size: 16px;
    text-align: center;
    @media (min-width: 1024px) {
      text-align: inherit;
    }
  }
  .right{
    text-align: center;
  }
}
}
