@media (min-width: 992px) {
  .pr30:after {
    background-color: #33691e !important;
    left: 97% !important; } }

.pl30 {
  background-color: #33691e; }

.b-aside {
  background-color: #33691e !important; }

.comment-respond textarea, .comment-respond input[type="text"], .comment-respond input[type="email"] {
  background-color: #f8f8f8; }
  .comment-respond textarea:focus, .comment-respond input[type="text"]:focus, .comment-respond input[type="email"]:focus {
    outline: 0; }
.comment-respond a {
  color: #4b4933; }

.addtoany_content_bottom {
  border-top: 2px solid #ffc107; }

body {
  background-color: #fff; }
  @media (min-width: 768px) {
    body.home .container-fluid .parallax {
      display: block; } }
  body .pr30 article {
    border-bottom: 2px solid #ffc107; }
    body .pr30 article .title {
      color: #33691e !important; }
      body .pr30 article .title:focus {
        outline: 0; }
  body .fixed {
    box-shadow: 0 2px 10px -3px #555; }
    body .fixed .brand .burger {
      z-index: 9999; }
  body aside:after {
    background-color: #33691e; }
    @media (min-width: 992px) {
      body aside:after {
        left: -19px; } }
  body aside .module h3 {
    color: #fff; }
  body aside .module p {
    color: #fff; }
  body aside .module article .title {
    color: #fff; }
  body header {
    position: fixed;
    top: 0;
    height: 70px; }
    body header.fixed {
      background-color: #33691e; }
    body header .add_ad .wrapper {
      display: inline-block; }
      body header .add_ad .wrapper .text-wrapper {
        left: 0;
        right: 0;
        text-align: center;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 17px 28px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 6px;
        font-family: 'Roboto', serif;
        font-weight: 900;
        font-size: 18px;
        box-shadow: 0 2px 10px -3px #555; }
        @media (min-width: 768px) {
          body header .add_ad .wrapper .text-wrapper {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            right: 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            top: 11px;
            left: inherit; } }
        body header .add_ad .wrapper .text-wrapper .add {
          color: #ffc107;
          transition: .15s; }
        body header .add_ad .wrapper .text-wrapper .add_2 {
          color: #33691e;
          transition: .15s; }
        body header .add_ad .wrapper .text-wrapper:hover .add {
          color: #33691e; }
        body header .add_ad .wrapper .text-wrapper:hover .add_2 {
          color: #ffc107; }
  body .container-fluid {
    margin-top: 70px; }
    body .container-fluid .parallax {
      display: none;
      background-image: url("../images/parallaxfhd.png");
      background-size: cover;
      height: 452px; }
      body .container-fluid .parallax .parallax-caption {
        display: none; }
        @media (min-width: 500px) {
          body .container-fluid .parallax .parallax-caption {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            max-width: 860px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 169px; } }
        body .container-fluid .parallax .parallax-caption p {
          text-shadow: 0px 4px 5px black;
          font-family: 'Roboto', serif;
          font-weight: 900; }
          body .container-fluid .parallax .parallax-caption p:first-of-type {
            font-size: 42px;
            margin-bottom: 2px;
            letter-spacing: 0;
            color: #ffc107; }
          body .container-fluid .parallax .parallax-caption p .next-paragraph {
            font-size: 20px;
            color: #fff;
            letter-spacing: .2px; }
  body .navigation ul li:hover a {
    background: #33691e !important;
    color: #fff !important;
    border: 2px solid #33691e !important; }
    body .navigation ul li:hover a span.label-prev:after {
      border-right: 10px solid #fff; }
    body .navigation ul li:hover a span.label-next:after {
      border-left: 10px solid #fff; }
  body .navigation ul li.active a {
    background: #33691e !important;
    color: #fff !important;
    border: 2px solid #33691e !important; }
  body .navigation ul li a {
    background: #ffc107 !important;
    border: 2px solid #ffc107 !important;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Roboto', serif; }
    body .navigation ul li a span.label-prev {
      line-height: 26px; }
    body .navigation ul li a span.label-next {
      line-height: 26px; }
  body .module.newsletter p {
    color: #fff !important; }
  body article .title {
    color: #fff !important; }
  body button, body input[type="submit"] {
    background-color: #33691e; }
  body footer {
    background-color: #33691e; }
    body footer .right, body footer .left {
      color: #fff;
      padding-top: 15px; }
      body footer .right a, body footer .left a {
        color: #fff; }
    body footer .left {
      font-size: 16px;
      text-align: center; }
      @media (min-width: 1024px) {
        body footer .left {
          text-align: inherit; } }
    body footer .right {
      text-align: center; }

/*# sourceMappingURL=style.css.map */
