.m-btn {
  font-family: 'Montserrat', sans-serif;
  min-width: 230px;
  display: block;
  border-radius: 50px;
  font-size: 16px;
  padding: 6px 16px;
  @include breakpoint('tablet'){
	  padding: 10px 16px;
	  min-width: 245px;
  }
  &_primary{
    background: $cl-secondary;
    color: $cl-primary;
	text-transform: uppercase;
    border: 2px solid $cl-secondary;
  }
  &_secondary{
    background: transparent;
    color: $cl-white;
    border: 2px solid $cl-white;
  }
}

.header{
	.m-btn{
		&_primary{
			margin: 0 auto;
			text-align: center;
			width: 245px;
			letter-spacing: 0.1px;
      -webkit-box-shadow: 5px 3px 69px -15px rgba(0,0,0,1);
      -moz-box-shadow: 5px 3px 69px -15px rgba(0,0,0,1);
      box-shadow: 5px 3px 69px -15px rgba(0,0,0,1);
		}
	}
}

.news{
	.m-btn{
		&_primary{
			margin: 0 auto;
			font-size: 18px;
			text-align: center;
			max-width: 395px;
			letter-spacing: 0.1px;
			line-height: 25px;
			background: $cl-primary;
			border-color: $cl-primary;
			@include breakpoint('tablet'){
				width: 395px;
				line-height: 32px;
			}
		}
	}
}
