/**
 *
 * Colors variables
 *
 */
$cl-white: rgba(255,255,255,1);
$cl-gray: rgba(108,108,108, 1);
$cl-primary: rgba(26, 35, 126, 1);
$cl-secondary: 	rgba(116, 219, 179, 1);
$cl-tertiary: 	rgba(229,240,253, 1);

body,
html,
a {
	font-family: 'Montserrat', sans-serif;
	color: $cl-primary;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
	display: table;
}

.clearfix:after {
    clear: both;
}

.ui-state-active {
	.m-btn {
		&_primary {
			background-color: $cl-primary;
			color: $cl-secondary;
			border-color: $cl-primary;
		}
	}
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
 	font-weight: 900;
}
