// FONTS
// font-family: 'Montserrat', sans-serif;


.m-typo {
	font-family: 'Montserrat', sans-serif;
  &_primary {
    text-transform: uppercase;
    font-size: 32px;
    color: $cl-white;
    margin-bottom: 30px;
    line-height: 44px;
    letter-spacing: 1.1px;
	font-weight: 700;
    @include breakpoint('tablet'){
      line-height: 36px;
    }
	&.heading{
		color: $cl-primary;
		text-align: center;
		margin-bottom: 38px;
		letter-spacing: -0.4px;
		font-size: 28px;
		@include breakpoint('tablet'){
			font-size: 32px;
			margin-bottom: 52px;
		}
	}
  }
  // medium
  &_secondary {
    color: $cl-primary;
		text-transform: uppercase;
		font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: .6px;
  }
  // light
  &_text {
    color: $cl-gray;
    font-weight: 300;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
    @include breakpoint('tablet'){
      line-height: 25px;
    }
  }
}

.header{
	.m-typo{
		&_text{
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.1px;
			text-align: center;
			font-size: 18px;
			margin: 30px 15px 0;
			@include breakpoint('tablet'){
				font-size: 16px;
				margin: 40px 5% 0;
			}
			@include breakpoint('desktop_small'){
				margin: 40px auto 0;
				max-width: 874px;
			}
		}
	}
	&-text{
		text-align: center;
		.m-typo{
			&_primary{
				margin-bottom: 3px;
				letter-spacing: 1.6px;
				font-size: 28px;
				@include breakpoint('tablet'){
					font-size: 32px;
				}
			}
			&_text{
				margin-top: 0;
				color: $cl-white;
				font-size: 19px;
				font-weight: 300;
				letter-spacing: -0.1px;
			}
		}
	}
	&-button{
		.m-typo{
			&_primary{
				font-size: 18px;
				color: $cl-primary;
			}
		}
	}
	.navbar{
		.list{
			li{
				a{
					font-weight: 600;
					color: #000;
					font-size: 18px;
					text-transform: uppercase;
				    line-height: 36px;
				    letter-spacing: .6px;
					@include breakpoint('desktop_small'){
						font-size: 12px;
					}
					@include breakpoint('desktop'){
						font-size: 14px;
					}
				}
			}
		}
	}
}

.categories{
	.m-typo{
		&_text{
			text-align: center;
			max-width: 880px;
			display: block;
			margin: 0 auto;
			line-height: 30px;
			padding: 0 15px;
			color: #000;
			@include breakpoint('tablet'){
				line-height: 35px;
			}
		}
	}
	.box{
		.m-typo{
			position: relative;
			z-index: 2;
			transition: .3s all;
			&_primary{
				font-size: 24px;
				position: absolute;
				bottom: 10px; left: 0; right: 0;
				text-align: center;
				padding: 0 15px;
				margin-bottom: 0;
				color: $cl-secondary;
				@include breakpoint('tablet'){
					color: $cl-primary;
				}
			}
			&_text{
				color: $cl-white;
				position: relative;
				padding: 30px 25px 0;
				line-height: 36px;
				@include breakpoint('tablet'){
					visibility: hidden;
					opacity: 0;
					padding: 30px 40px 0;
				}
				@include breakpoint('desktop_small'){
					padding: 25px 15px 0;
					line-height: 30px;
				}
				@include breakpoint('desktop'){
					padding: 25px 30px 0;
					line-height: 32px;
				}
			}
		}
		&:hover{
			@include breakpoint('tablet'){
				.m-typo{
					&_primary{
						color: $cl-secondary;
					}
					&_text{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.partners{
	.m-typo{
		&_primary{
			&.heading{
				@include breakpoint('tablet'){
					margin-bottom: 52px;
				}
			}
		}
	}
}

.contact{
	.m-typo{
		&_primary{
			&.heading{
				@include breakpoint('tablet'){
					margin-bottom: 80px;
				}
				@include breakpoint('tablet'){
					margin-bottom: 105px;
				}
			}
		}
	}
	.box{
		.m-typo{
			&_primary{
				font-size: 14px;
				font-weight: 400;
				color: $cl-secondary;
				margin-bottom: 5px;
				letter-spacing: 0.1px;
				@include breakpoint('tablet'){
					margin-bottom: 18px;
				}
				@include breakpoint('desktop_small'){
					margin-bottom: 26px;
				}
			}
			&_text{
			    font-weight: 600;
				font-size: 22px;
				color: #000;
				line-height: 28px;
				letter-spacing: -0.5px;
				@include breakpoint('tablet'){
					font-size: 18px;
				}
				@include breakpoint('desktop_small'){
					font-size: 24px;
				}
				&.email{
					font-size: 20px;
					@include breakpoint('tablet'){
						font-size: 18px;
					}
					@include breakpoint('desktop_small'){
						font-size: 22px;
					}
					@include breakpoint('desktop'){
						font-size: 24px;
					}
				}
			}
		}
	}
}

.bottom-bar{
	.m-typo{
		&_text{
			letter-spacing: 0;
			font-size: 14px;
			color: $cl-white;
			display: inline-block;
			margin-bottom: 0;
			margin: 0 auto;
			display: block;
			text-align: center;
			@include breakpoint('tablet'){
				text-align: left;
			}
			&:first-of-type{
				padding-top: 80px;
				@include breakpoint('tablet'){
					float: left;
				}
			}
			&:last-of-type{
				 padding: 10px 0 20px;
				 @include breakpoint('tablet'){
					 float: right;
				 }
			}
			&:first-of-type, &:last-of-type{
				@include breakpoint('tablet'){
					padding: 0;
				}
			}
		}
	}
}

.news{
	.m-typo{
		&_href{
			@include breakpoint('tablet'){
				display: inline-block;
				float: right;
			}
		}
		&_primary{
			&.heading{
				margin-bottom: 60px;
				@include breakpoint('tablet'){
					margin-bottom: 98px;
					text-align: left;
					padding-left: 30px;
					display: inline-block;
				}
				@include breakpoint('desktop_small'){
					margin-bottom: 128px;
				}
			}
		}
		&_text{
			&.heading{
				font-size: 18px;
				text-align: center;
				font-weight: 500;
				color: $cl-primary;
				position: relative;
				padding: 0 15px;
				letter-spacing: 0;
				@include breakpoint('tablet'){
					text-align: left;
					display: inline-block;
					float: right;
					margin: 6px 80px 0 0;
					padding-left: 0;
				}
				@include breakpoint('desktop_small'){
					font-weight: 600;
					margin-right: 90px;
				}
				&::after{
					@include breakpoint('tablet'){
						content: '';
						background-image: url(../images/calendar.png);
						position: absolute;
						height: 30px;
						width: 58px;
						background-size: cover;
						right: -50px;
						top: -5px;
					}
					@include breakpoint('desktop_small'){
						top: -8px;
						height: 40px;
					    width: 78px;
						right: -72px;
					}
				}
			}
		}
		&.category{
			color: $cl-secondary;
			font-size: 14px;
	    text-transform: uppercase;
	    font-weight: 500;
			letter-spacing: 0;
			margin: 20px 0;
			@include breakpoint('tablet'){
				margin: 28px 0;
				padding: 0 15px;
			}
			@include breakpoint('desktop_small'){
				margin: 36px 0;
			}
		}
		&_secondary{
			font-size: 24px;
			color: #000;
			font-weight: 600;
			line-height: 28px;
			text-transform: none;
			letter-spacing: -0.4px;
			margin-bottom: 25px;
			@include breakpoint('tablet'){
				height: 100px;
				padding: 0 15px;
			}
			@include breakpoint('desktop_small'){
				min-height: 146px;
			}
		}
	}
	.info{
		@include breakpoint('tablet'){
			padding: 0 15px;
		}
		.m-typo{
			font-size: 14px;
			font-weight: 600;
			display: inline-block;
			margin-bottom: 15px;
			@include breakpoint('tablet'){
				margin-bottom: 30px;
			}
			span{
				font-weight: 700;
				color: #000;
			}
		}
	}
}

// post listing typo styles
.news{
	&_listing{
		.m-typo{
			&_primary{
				&.heading{
					width: 100%;
					text-align: center;
					margin-bottom: 52px;
					box-sizing: border-box;
				}
			}
			&_text{
				&.descr{
					text-align: center;
					max-width: 880px;
					display: block;
					margin: 0 auto;
					line-height: 30px;
					padding: 0 15px;
					color: #000;
					@include breakpoint('tablet'){
						line-height: 35px;
					}
				}
			}
		}
	}
}

.post-navigation{
	.m-typo{
		&_text{
			font-size: 24px;
			color: $cl-primary;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}

.heading-bar{
	&.small{
		text-align: center;
		.m-typo{
			&_primary{
				font-size: 24px;
			    text-transform: none;
			    color: #000;
				margin-bottom: 15px;
			}
			&_text{
				margin-bottom: 10px;
				font-weight: 500;
			    color: #000;
				font-size: 18px;
				@include breakpoint('tablet'){
					padding: 0 8px;
					display: inline-block;
				}
				@include breakpoint('desktop_small'){
					padding: 0 2px;
				}
				@include breakpoint('desktop'){
					padding: 0;
				}
				&.cat{
					color: $cl-secondary;
				}
			}
		}
	}
	&.section{
		.m-typo{
			&.descr{
				text-align: left;
				font-size: 16px;
				font-weight: 400;
				max-width: 1090px;
				line-height: 28px;
			}
		}
	}
}
