.article{
	margin-bottom: 30px;
	.box{
		background: #fcfcfc;
		border: 2px solid #c8c8c8;
		margin: 20px 5px 0;
	    box-sizing: border-box;
	    padding: 30px 15px;
		@include breakpoint('tablet'){
			margin: 40px 5% 0;
			padding: 70px 8%;
		}
		@include breakpoint('desktop_small'){
			margin: 40px auto 0;
			max-width: 795px;
		}
		@include breakpoint('desktop_big'){
			max-width: 880px;
		}
		img{
			max-width: 100%;
			margin: 15px auto;
			display: block;
			// width: 100%;
			@include breakpoint('tablet'){
				margin: 45px auto;
			}
		}
		.tablepress{
			overflow: scroll;
		    display: block;
			margin-bottom: 15px;
			@include breakpoint('tablet'){
				margin-bottom: 45px;
				overflow: visible;
			}
			thead{
				tr{
					th{
						background: $cl-primary;
						color: $cl-white;
					}
				}
			}
		}
		ul, ol{
			margin-bottom: 15px;
			@include breakpoint('tablet'){
				margin-bottom: 45px;
			}
			li{
				padding: 5px 0 5px 20px;
				position: relative;
				color: $cl-gray;
				&:after{
					content: '';
					height: 8px;
					width: 8px;
					position: absolute;
					top: 0;
					bottom: 0;
					background: $cl-primary;
					left: 0;
				    margin: auto;
				    border-radius: 50%;
				}
			}
		}
	}
}
