.bar{
	background: $cl-primary;
	margin: 20px 0 22px;
	@include breakpoint('tablet'){
		margin: 0 0 42px;
	}
	.box{
		min-height: 100px;
		text-transform: uppercase;
		max-width: 665px;
		position: relative;
		margin: 0 auto;
		&::before{
			@include breakpoint('desktop_small'){
				content: url(../images/leaf.png);
				position: absolute;
				left: -100px;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    height: 75px;
				filter: brightness(100);
				transform: rotateY(180deg);
			}
		}
		&::after{
			@include breakpoint('desktop_small'){
				content: url(../images/leaf.png);
				position: absolute;
				right: -100px;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    height: 75px;
				filter: brightness(100);
			}
		}
	}
}
