.bottom-bar{
	background: $cl-primary;
	height: 50px;
	@include breakpoint('tablet'){
		height: 114px;
	}
	.content-wrapper{
		margin: 0 15px;
		position: relative;
		height: 100%;
		@include breakpoint('desktop'){
			margin: 0 auto;
		}
	}
}
