.download{
	margin-top: 20px;
	@include breakpoint('tablet'){
		margin-top: 60px;
		margin: 60px 0 48px;
	}
	.box{
		text-align: center;
		margin: 20px 15px 0;
		@include breakpoint('tablet'){
			margin: auto;
			margin-top: 40px;
			width: 50%;
		    display: inline-block;
		    float: left;
		}
		@include breakpoint('desktop_small'){
			width: 33.3%;
		}
		&:nth-child(n+4) {
			@include breakpoint('desktop_small'){
				margin-top: 15px;
			}
		}
		&:nth-of-type(odd){
			@include breakpoint('tablet'){
				box-sizing: border-box;
			}
			.sub-box{
				a{
					display: inline-block;
					@include breakpoint('tablet'){
						float: left;
					}
					p{
						@include breakpoint('tablet'){
							text-align: right;
						}
						@include breakpoint('desktop_small'){
							text-align: left;
						}
					}
					&:last-of-type{
						@include breakpoint('tablet'){
							margin-left: 15px;
						}
						@include breakpoint('desktop_small'){
							margin-right: 15px;
							margin-left: 0;
						}
						@include breakpoint('desktop'){
							margin-right: 18px;
						}
					}
				}
			}
		}
		&:nth-of-type(even){
			@include breakpoint('tablet'){
				box-sizing: border-box;
			}
			.sub-box{
				a{
					display: inline-block;
					@include breakpoint('tablet'){
						float: right;
					}
					@include breakpoint('desktop_small'){
						float: left;
					}
					p{
						@include breakpoint('tablet'){
							text-align: left;
						}
					}
					&:last-of-type{
						@include breakpoint('tablet'){
							margin-right: 15px;
						}
						@include breakpoint('desktop'){
							margin-right: 18px;
						}
					}
				}
			}
		}
		.sub-box{
			display: inline-block;
			margin: 0 auto;
			a{
				img{
					display: block;
					margin: 0 auto;
					@include breakpoint('tablet'){
						height: 55px;
						margin-top: 3px;
					}
				}
				&:first-of-type{
					@include breakpoint('desktop_small'){
						float: right;
					}
				}
			}
		}
	}
}
