.footer{
	.two-boxes{
		.box{
			text-align: left;
			@include breakpoint('desktop_small'){
				padding: 0 30px;
			}
			@include breakpoint('desktop'){
				padding: 0 80px;
			}
			img{
				margin: 0 auto 30px;
				display: block;
				@include breakpoint('desktop_small'){
					float: right;
					margin-top: 5px;
				}
			}
			.info{
				border-bottom: 3px solid $cl-primary;
				margin-bottom: 20px;
				padding-bottom: 20px;
				@include breakpoint('desktop_small'){
					clear: both;
				}
			}
		}
	}

	.wpcf7{
	  &-form{
		p{
		  margin: 0 auto;
		  @include breakpoint('desktop_small'){
			width: 95%;
			margin-left: 0;
		  }
		  span{
			.wpcf7-not-valid-tip{
			  font-size: 13px;
			  position: relative;
			  top: -10px;
			}
			.wpcf7-form-control{
			  border: 4px solid $cl-primary;
			  color: $cl-primary;
			  background: #ebebeb;
			  border-radius: 12px;
			  height: 50px;
			  width: 100%;
			  font-size: 18px;
		      font-weight: 600;
		      padding: 10px 10px 10px 20px;
			  box-sizing: border-box;
			  font-family: 'Open Sans', sans-serif;
			  margin-bottom: 20px;
			  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $cl-primary;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $cl-primary;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $cl-primary;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $cl-primary;
				}
			  &.wpcf7-textarea{
				height: 240px;
				margin-bottom: 0;
				resize: none;
			  }
			}
		  }
		  .wpcf7-submit{
			border: none;
			background: transparent;
			color: $cl-orange;
			font-size: 18px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 800;
			letter-spacing: 0.8px;
			float: right;
			padding-right: 15px;
			cursor: pointer;
		  }
		  &:last-of-type{
			position: relative;
			margin-bottom: 30px;
		  }
		}
		.wpcf7-response-output{
		  color: red;
		  margin: 0 auto 30px;
		  padding: 10px 15px;
		  font-size: 13px;
		  box-sizing: border-box;
		  border: none;
		  @include breakpoint('desktop_small'){
			margin: 15px auto 15px 0;
			display: block;
		    width: 85%;
		  }
		  &.wpcf7-mail-sent-ok{
			color: $cl-primary;
		  }
		  &.wpcf7-validation-errors, &.wpcf7-mail-sent-ng{
			  border: 2px solid $cl-primary;
		  }
		}
	  }
	}

}
