.gallery{
	background: $cl-primary;
	padding: 35px 0 5px;;
	box-sizing: border-box;
	margin: 50px 0 120px;
	@include breakpoint('desktop_small'){
		margin: 112px 0 70px;
	}
	.content-wrapper{
		@include breakpoint('desktop_small'){
			margin: 0 15px;
		}
		@include breakpoint('desktop'){
			margin: auto;
			max-width: none;
		}
		@include breakpoint('desktop_big'){
			max-width: 1580px;
		}
		@include breakpoint('desktop_colossal'){
			max-width: 1880px;
		}
		.box{
			position: relative;
			width: 90%;
			height: 190px;
		    display: block;
			margin: 0 auto 25px;
			background-size: cover;
		    background-position: center;
			&::after{
				content: '';
				display: block;
				background: red;
				height: 15px;
				position: absolute;
			}
			@media screen and (min-width: 375px) {
				height: 230px;
			}
			@media screen and (min-width: 500px) {
				height: 270px;
			}
			@media screen and (min-width: 575px) {
				height: 300px;
			}
			@media screen and (min-width: 620px) {
				height: 320px;
			}
			@media screen and (min-width: 650px) {
				height: 350px;
			}
			@include breakpoint('tablet'){
				height: 220px;
				width: 46%;
			    margin: 0 2% 25px;
				float: left;
			}
			@media screen and (min-width: 912px) {
				height: 270px;
			}
			@include breakpoint('desktop'){
				width: 23%;
				margin: 0 1% 25px;
				height: 240px;
			}
			@include breakpoint('desktop_colossal'){
				height: 280px;
			}
			// &:nth-child(3n+1){
			// 	@include breakpoint('desktop'){
			// 		margin-left: 0;
			// 	}
			// 	&::after{
			// 		@include breakpoint('desktop'){
			// 			content: '';
			// 		    display: block;
			// 		    background: #fff;
			// 		    height: 100%;
			// 		    position: absolute;
			// 		    width: 100%;
			// 		    left: -400px;
			// 		    top: 0;
			// 		}
			// 	}
			// }
			// &:nth-child(3n+2){
			// 	@include breakpoint('desktop'){
			// 		margin: 0 0 25px;
			// 	}
			// }
			// &:nth-child(3n+3){
			// 	@include breakpoint('desktop'){
			// 		margin-right: 0;
			// 	}
			// 	&::after{
			// 		@include breakpoint('desktop'){
			// 			content: '';
			// 			display: block;
			// 			background: #fff;
			// 			height: 100%;
			// 			position: absolute;
			// 			width: 100%;
			// 			right: -400px;
			// 			top: 0;
			// 		}
			// 	}
			// }
			a{
				height: 100%;
				width: 100%;
				display: block;
				// img{
				// 	width: 100%;
				// 	height: 100%;
				// 	@include breakpoint('tablet'){
				// 		max-width: 456px;
				// 		margin: 0 auto;
				// 		display: block;
				// 	}
				// 	@include breakpoint('desktop_big'){
				// 		max-width: 335px;
				// 	}
				// }
			}
		}
	}
	.lb-number{
		display: none;
	}
}
