.header{
	@include breakpoint('tablet'){
		background-position: center -50px;
		background-repeat: no-repeat;
		padding-top: 40px;
	}
	@include breakpoint('desktop_small'){
		padding-top: 90px;
		background-image: url(../images/bg-soja.jpg);
		background-position-y: -2px;
	}
	.box-wrapper{
		text-align: center;
		.box{
			border: 20px solid $cl-primary;
			display: inline-block;
			height: 360px;
			max-width: 680px;
			iframe{
				max-width: 100%;
				max-width: 100%;
				border: 8px solid #fff;
				box-sizing: border-box;
				-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.43);
				-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.43);
				box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.43);
			}
		}
	}
}
