.mini-box{
	margin: 120px 0 80px;
	@include breakpoint('tablet'){
		margin: 133px 0 60px;
	}
	.box{
		min-height: 70px;
		max-width: 608px;
		background: $cl-primary;
		position: relative;
		margin: 0 auto;
		border-radius: 10px;
		&::after{
			content: url(../images/leaf.png);
			position: absolute;
			top: -80px;
			right: 0;
			left: 0;
			margin: auto;
			text-align: center;
		}
	}
	&.coop{
		margin-bottom: 20px;
		@include breakpoint('desktop_small'){
			margin: 100px 0 30px;
		}
		.box{
			max-width: 440px;
			border-radius: 25px;
		}
	}
}
