.mosaic{
	.box{
		margin: 0 15px 50px;
		&:last-of-type{
			margin-bottom: 0;
		}
		@include breakpoint('tablet'){
			margin: 0 12% 40px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		@include breakpoint('desktop_small'){
			margin: 0 15px 40px;
			width: 46%;
			display: inline-block;
			margin-right: 0;
			max-height: 230px;
		}
		@include breakpoint('desktop'){
			margin-left: 0;
		}
		&.more{
			display: none;
			&.active{
				display: block !important;
				@include breakpoint('desktop_small'){
					display: inline-block !important;
				}
			}
			@include breakpoint('desktop_small'){
				float: left;
			}
		}
		.image{
			margin: 0 auto 20px;
			background-position: center;
		    background-size: cover;
			height: 230px;
			width: 230px;
			border-radius: 50%;
			@include breakpoint('tablet'){
				display: inline-block;
				margin-bottom: 0;
			}
			@include breakpoint('desktop_small'){
				width: 200px;
				height: 200px;
			}
			@include breakpoint('desktop'){
				height: 230px;
				width: 230px;
			}
		}
		&:nth-child(even){
			@include breakpoint('desktop_small'){
				float: right;
				margin-left: 0;
			}
			@include breakpoint('desktop'){
				margin-right: 0;
			}
			.image{
				@include breakpoint('tablet'){
					float: right;
				}
			}
		}
		&:nth-child(4n+3){
			.image{
				@include breakpoint('desktop_small'){
					float: right;
				}
			}
		}
		&:nth-child(4n+4){
			.image{
				@include breakpoint('desktop_small'){
					float: left;
				}
			}
		}
	}
	.show-more{
		width: 100%;
		text-align: center;
		clear: both;
		margin-top: -50px;
		.wrapper{
			cursor: pointer;
			display: inline-block;
			@include breakpoint('tablet'){
				margin-top: -20px;
			}
			img{
				transition: .3s all;
				transform: scale(0.6);
			}
			&.active{
				img{
					transform: rotateX(180deg) scale(0.6);
				}
			}
		}
	}
}
