.navbar{
		position: fixed;
		width: 100%;
		top: 0;
		background: $cl-white;
	    height: 85px;
		transition: .3s all;
		z-index: 2;
		@include breakpoint('desktop_small'){
			height: 80px;
		}
		&.reduced{
			-webkit-box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			height: 70px;
			@include breakpoint('desktop_small'){
				height: 65px;
			}
			.content-wrapper{
				.brand-logo{
					// top: 20px;
					// width: 120px;
					margin-top: -8px;
					@include breakpoint('desktop_small'){
						margin-top: 12px;
					}
				}
				.burger{
					top: 25px;
				}
				.list{
					@include breakpoint('desktop_small'){
						margin-top: 15px;
					}
				}
			}
		}
	.content-wrapper{
		height: 0;
		.brand-logo{
			position: absolute;
			left: 15px;
			top: 25px;
			z-index: 1;
			width: 169px;
			transition: .3s all;
			@include breakpoint('desktop_small'){
				position: static;
				display: inline-block;
				margin-top: 20px;
				margin-left: 15px;
			}
			@include breakpoint('desktop_big'){
				margin-left: 0;
			}
			img{
				width: 100%;
				transition: .3s all;
			}
		}
		.list{
			height: 100vh;
		    padding-top: 110px;
	    	text-align: center;
			position: relative;
		    left: -800px;
			transition: .3s all;
			@include breakpoint('desktop_small'){
				padding-top: 0;
				height: auto;
				left: 0;
				text-align: left;
				width: 80%;
				display: inline-block;
				vertical-align: top;
			    margin-top: 20px;
				float: right;
				width: auto;
				margin-right: 15px;
			}
			@include breakpoint('desktop_big'){
				margin-right: 0;
			}
			&.is-active{
				left: 0;
				background: $cl-white;
			}
			&_item{
				margin-bottom: 6px;
				@include breakpoint('desktop_small'){
					display: inline-block;
					margin-bottom: 0;
					margin-right: 30px;
					&:last-of-type{
						margin-right: 0;
					}
				}
			}
		}
		.burger{
		  cursor: pointer;
		  position: absolute;
		  right: 15px;
		  top: 30px;
		  transition: .3s all;
		  @include breakpoint('desktop_small'){
			display: none;
		  }
		  &.reduced{
			top: 25px;
		  }
		  &_item{
			display: block;
			float: right;
			clear: both;
			width: 32px;
			height: 4px;
			background-color: $cl-primary;
			margin-bottom: 5px;
			&:last-of-type{
			  margin-bottom: 0;
			}
		  }
		}
	}
}
