.partners{
	margin-top: 15px;
	.wrapper{
		@include breakpoint('tablet'){
			border-bottom: 4px solid $cl-primary;
		}
	}
	.box{
		text-align: center;
		margin-top: 20px;
		text-align: center;
		@include breakpoint('tablet'){
			margin-top: 2px;
			width: 50%;
			display: inline-block;
			float: left;
			height: 150px;
			display: table;
		}
		&:first-of-type{
			@include breakpoint('tablet'){
				padding-left: 8%;
				box-sizing: border-box;
			}
			@include breakpoint('desktop_small'){
				padding-left: 10%;
			}
			@include breakpoint('desktop'){
				padding-left: 12%;
			}
		}
		&:last-of-type{
			@include breakpoint('tablet'){
				padding-right: 8%;
				box-sizing: border-box;
			}
			@include breakpoint('desktop_small'){
				padding-right: 10%;
			}
			@include breakpoint('desktop'){
				padding-right: 12%;
			}
		}
		.sub-box{
			vertical-align: middle;
			display: block;
			@include breakpoint('tablet'){
				display: table-cell;
			}
			a{
				display: inline-block;
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
