.two-boxes{
	margin: 0 15px;
	text-align: center;
	@include breakpoint('tablet'){
		margin: 0;
	}
	.boxes-wrapper{
		@include breakpoint('desktop_small'){
			margin: 0 6%;
		}
		@include breakpoint('desktop'){
			margin: 0;
		}
		.box{
			@include breakpoint('tablet'){
				width: 50%;
			    display: inline-block;
			    float: left;
				padding: 0 30px;
				box-sizing: border-box;
			}
			@include breakpoint('desktop_small'){
				padding: 0 50px;
			}
			@include breakpoint('desktop'){
				padding: 0 75px;
			}
		}
	}
}
