<nav class="menu" role="navigation">
	<div class="menu-burger js-burger clearfix">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<ul class="menu-list js-menu_list clearfix">
		{% for item in menu %}
			<li class="menu-list_item{% if item.children %} is-parent{% endif %}">
				<a {% if item.children %}class="js-parent is-parent"{% endif %} href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
					<ul class="menu-children_list js-children_list">
					   {% for child in item.children %}
					    <li class="menu-children_item">
					        <a href="{{ child.link }}">{{ child.title }}</a>
					    </li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>