/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.b-container {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
  .b-columns-4 {
    width: 100%;
    @include breakpoint(tablet) {
      width: 50%;
      float: left;
    }
    @include breakpoint(desktop_small) {
      width: 25%;
    }
  }
  .b-columns-3 {
    width: 100%;
    @include breakpoint(desktop_small) {
      float: left;
      width: 33.333%;
    }
  }
  .b-columns-2 {
    width: 100%;
    @include breakpoint(desktop_small) {
      float: left;
      width: 50%;
    }
    &.footer-menu{
      width: 48%;
      @include breakpoint(tablet) {
        width: 25%;
      }
      @include breakpoint(desktop_small) {
        float: left;
        width: 50%;
      }
    }
  }
  &.is-single{
    padding: 25px 0;
  }
}
