.b-footer {
  clear: both;
  background-color: $cl-dark-primary;
  padding: 40px 15px;
  box-sizing: border-box;
  @include breakpoint('desktop_small') {
    padding: 20px 75px;
    height: 320px;
  }
  &-copyrights {
    clear: both;
    background-color: $cl-primary;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    color: $cl-white;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
}
