@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';

// modules
@import '_modules/_header.scss';
@import '_modules/_beer-module.scss';
@import '_modules/_footer.scss';

.body{
	display: none;
}
.content-wrapper{
	margin: 0 15px;
	@include breakpoint('desktop_small'){
		margin: 0 auto;
		max-width: 1180px;
	}
}
