/**
 *
 * Colors variables
 *
 */
$cl-white: rgba(255,255,255,1);
$cl-gray: rgba(137,137,137, 1);
$cl-text: rgba(0,0,0,1);
$cl-heading: rgba(150,123,0,1);

body,
html,
a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

body{
	overflow-x: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
