// FONTS
// font-family: 'Open Sans', sans-serif;

@font-face {
    font-family:"Arial";
    src: url("../fonts/Arial.ttf")
}
@font-face {
	font-family:"MyriadPro";
	src: url("../fonts/MyriadPro-Light.otf")
}
@font-face {
    font-family:"MyriadPro-Cond";
    src: url("../fonts/MyriadPro-Cond.otf")
}
@font-face {
    font-family:"MyriadPro-BoldCond";
    src: url("../fonts/MyriadPro-BoldCond.otf")
}


.typo {
	&_primary {
		font-family: Arial, sans-serif;
		color: $cl-heading;
		font-size: 38px;
		letter-spacing: .1px;
		@include breakpoint('tablet'){
			font-size: 40px;
		}
	}
	&_text, a{
		font-family: MyriadPro, Sans-serif;
		font-size: 20px;
	    line-height: 30px;
		@include breakpoint('tablet'){
			font-size: 22px;
			line-height: 36px;
		}
		@include breakpoint('desktop_small'){
			font-size: 18px;
			letter-spacing: 0.5px;
			line-height: 26px;
		}
	}
}

.header{
	.typo{
		&_primary, &_text{
			text-align: center;
		}
		&_primary{
			margin: 50px 0;
			text-align: center;
			@include breakpoint('tablet'){
				margin: 75px 0;
			}
			@include breakpoint('desktop_small'){
				margin: 84px 0 100px;
			}
		}
		&_text{
			@include breakpoint('tablet'){
				width: 85%;
				margin: 0 auto;
			}
			@include breakpoint('desktop_small'){
				width: 65%;
			}
		}
	}
}

.beer-module{
	.typo{
		&_text{
			@include breakpoint('desktop_small'){
				width: 85%;
			}
		}
	}
}

.footer{
	.typo{
		&_text{
			text-align: center;
			margin-bottom: 40px;
			@include breakpoint('tablet'){
				width: 85%;
				margin: 0 auto 50px;
			}
			@include breakpoint('desktop_small'){
				width: 65%;
			}
			&.author{
				margin-bottom: 0;
				color: $cl-gray;
				font-size: 16px;
				margin-bottom: 15px;
				a{
					color: $cl-gray;
					font-size: 16px;
				}
			}
		}
	}
	&-brand-info{
		.typo{
			&_text{
				font-family: MyriadPro-Cond, Sans-serif;
				font-size: 22px;
				color: $cl-gray;
				margin-bottom: 80px;
				@include breakpoint('desktop_small'){
					line-height: 23px;
					font-size: 17px;
					margin-bottom: 105px;
				}
				a{
					color: $cl-gray;
					font-family: MyriadPro-BoldCond, Sans-serif;
				}
			}
		}
	}
}
