.page-container {
	max-width: 1200px;
	margin: 0 auto;
	@include breakpoint('desktop_small') {
		padding: 0 15px;
	}
	@include breakpoint('desktop_big') {
		max-width: 1370px;
	}	
	@include breakpoint('desktop_colossal') {
		max-width: 1570px;
	}
}