.bottom-bar{
	clear: both;
	background: $cl-white;
	height: 50px;
	.content-wrapper{
		margin: 0 15px;
		position: relative;
		height: 100%;
		@include breakpoint('desktop'){
			margin: 0 auto;
		}
	}
}
