.contact{
	background-color: $cl-secondary;
	padding: 20px 0 40px;
	@include breakpoint('tablet'){
		position: relative;
		padding: 24px 0 30px;
	}
	@include breakpoint('desktop_small'){
		padding: 29px 0 39px;
	}
	.content-wrapper{
		@include breakpoint('desktop'){
			position: relative;
		}
		.form{
			padding: 0 35px;
			@include breakpoint('tablet'){
				position: absolute;
				right: 0;
				width: 50%;
				box-sizing: border-box;
				background: $cl-secondary;
				padding: 0 70px 35px;
			}
			@include breakpoint('desktop_small'){
				padding: 0 120px 48px;
			}
			@include breakpoint('desktop'){
				padding: 0 150px 48px;
			}
			@include breakpoint('desktop_big'){
				right: -35px;
				width: 622px;
			}
			.input, .textarea{
				width: 100%;
				border: 0;
				padding: 10px;
				box-sizing: border-box;
				border-radius: 10px;
				text-align: center;
				margin-bottom: 10px;
				font-family: 'Lato', sans-serif;
				resize: none;
			}
		}
	}
}
