.footer{
	background-color: $cl-tertiary;
	.box{
		&:first-of-type{
			text-align: left;
			margin: 55px 0;
			@include breakpoint('tablet'){
				margin: 44px 0 30px;
			}
			.list{
				padding-left: 38%;
				@include breakpoint('phone'){
					padding-left: 0;
					text-align: center;
				}
				@include breakpoint('tablet'){
					text-align: left;
					padding-left: 45%;
				}
				@include breakpoint('desktop'){
					padding-left: 61%;
				}
				&_item{
					margin-bottom: 14px;
					a{
						transition: .3s all;
						&:hover{
							color: $cl-secondary;
						}
					}
				}
			}
		}
		@include breakpoint('tablet'){
			margin: 44px 0 30px;
		}
	}
}
