.header{
	background-image: url(../images/header-bg.png);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	padding: 154px 0 184px;
	@include breakpoint('tablet'){
		padding: 208px 0 184px;
	}
	@include breakpoint('desktop_small'){
		padding-bottom: 210px;
	}
}
