.navbar{
		position: fixed;
		width: 100%;
		top: 0;
		height: 85px;
		transition: .3s all;
		z-index: 3;
		height: 70px;
		@include breakpoint('desktop_small'){
			height: 80px;
		}
		&.reduced{
			-webkit-box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			height: 55px;
			background-color: rgba(29, 45, 61, .8);
			.content-wrapper{
				.brand-logo{
					margin-top: -6px;
				}
				.burger{
					top: 23px;
					@include breakpoint('tablet'){
						top: 20px;
					}
				}
			}
		}
	.content-wrapper{
		height: 0;
		@include breakpoint('desktop_small'){
			position: relative;
		}
		.brand-logo{
			position: absolute;
			left: 15px;
			top: 18px;
			z-index: 1;
			width: 96px;
			transition: .3s all;
			@include breakpoint('tablet'){
				width: 108px;
			}
			@include breakpoint('desktop_big'){
				margin-left: 0;
			}
			img{
				width: 100%;
				transition: .3s all;
			}
		}
		.list{
			height: 100vh;
	   		padding-top: 110px;
    		text-align: center;
			position: relative;
		    right: -800px;
			transition: .3s all;
			@include breakpoint('desktop_small'){
				margin-left: 340px;
				height: 50px;
				padding-top: 18px;
				padding-right: 100px;
				right: -1300px;
			}
			@include breakpoint('desktop_big'){
				margin-right: 0;
			}
			&.is-active{
				right: 0;
				background-color: $cl-tertiary;
				@include breakpoint('desktop_small'){
					background-color: rgba(29, 45, 61, 0.8);
				}
			}
			&.reduced{
				@include breakpoint('desktop_small'){
					top: 55px;
					margin-left: 440px;
					padding: 10px 0 0;
				}
				@include breakpoint('desktop'){
					margin-left: 540px;
				}
			}
			&_item{
				margin-bottom: 6px;
				@include breakpoint('desktop_small'){
					display: inline-block;
					margin: 0 10px;
				}
				@include breakpoint('desktop'){
					margin: 0 15px;
				}
				a{
					transition: .3s all;
					&:hover{
						color: $cl-secondary;
					}
				}
			}
		}
		.burger{
		  cursor: pointer;
		  position: absolute;
		  right: 30px;
		  top: 28px;
		  transition: .3s all;
		  &_item{
				display: block;
				float: right;
				clear: both;
				height: 1px;
				width: 13px;
				background-color: $cl-white;
				margin-bottom: 3px;
				&:last-of-type{
				  margin-bottom: 0;
				}
				@include breakpoint('tablet'){
					margin-bottom: 4px;
					height: 3px;
					width: 19px;
				}
		  }
		  &::before{
			  content: 'MENU';
			  display: block;
			  position: absolute;
			  left: -39px;
		      font-size: 12px;
		      top: -7.5px;
			  font-weight: 600;
			  @include breakpoint('tablet'){
				  left: -86px;
				  top: -3px;
				  font-size: 18px;
				  left: -59px;
				  padding-right: 5px;
			  }
		  }
		}
	}
}
