.presentation{
	background-image: url(../images/bottom-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 0 240px;
	@include breakpoint('tablet'){
		padding: 80px 0 320px;
	}
	@include breakpoint('desktop_colossal'){
		background-position: 0 -250px;
	}
	a{
		@include breakpoint('tablet'){
			display: inline-block;
			margin: 0 0 0 5%;
		}
		@include breakpoint('desktop_small'){
			margin: 0 0 0 6%;
		}
		@include breakpoint('desktop'){
			margin: 0 0 0 9%;
		}
		.logo{
			width: 240px;
			display: block;
			margin: 0 auto;
			@include breakpoint('tablet'){
				width: 280px;
			}
			@include breakpoint('desktop_small'){
				width: 360px;
			}
		}
	}
}
