.testimonials{
	background-color: $cl-secondary;
	padding: 38px 30px;
	margin-bottom: 60px;
	@include breakpoint('tablet'){
		padding: 20px  30px;
		margin-bottom: 92px;
	}
	@include breakpoint('desktop_small'){
		margin-bottom: 112px;
	}
	@include breakpoint('desktop'){
		margin-bottom: 132px;
	}
	.slide{
		position: relative;
		@include breakpoint('tablet'){
			padding-left: 30px;
			box-sizing: border-box;
		}
		@include breakpoint('desktop_small'){
			padding-left: 110px;
		}
		@include breakpoint('desktop'){
			padding-left: 200px;
		}
		.box{
			display: inline-block;
			float: left;
			.person-img{
				background-image: url(../images/person.jpeg);
				height: 85px;
				width: 85px;
				background-position: -28px;
				background-size: cover;
				border-radius: 50%;
				-webkit-box-shadow: 0px 4px 26px -6px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 4px 26px -6px rgba(0,0,0,0.75);
				box-shadow: 0px 4px 26px -6px rgba(0,0,0,0.75);
				@include breakpoint('tablet'){
					height: 110px;
			    width: 110px;
				}
				@include breakpoint('desktop_small'){
					background-position: -46px;
					height: 160px;
					width: 160px;
				}
			}
			&:first-of-type{
				position: absolute;
				bottom: 0;
				top: 0;
				margin-top: auto;
				margin-bottom: auto;
				height: 85px;
				width: 85px;
				left: 0;
				@include breakpoint('tablet'){
					height: 110px;
					width: 110px;
					left: 30px;
				}
				@include breakpoint('desktop_small'){
					height: 160px;
					width: 160px;
					left: 110px;
				}
				@include breakpoint('desktop'){
					left: 200px;
				}
			}
			&:last-of-type{
				width: calc(98% - 85px);
				margin-left: 2%;
				padding-left: 85px;
				@include breakpoint('tablet'){
					padding: 10px 0 10px 115px;
			    width: 74%;
				}
				@include breakpoint('desktop_small'){
					padding: 52px 0 11px 183px;
					width: 60%;
				}
			}
		}
	}
	.arrow{
		z-index: 2;
		padding: 3px;
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: -18px;
		transform: translate(-50%, -50%);
		@include breakpoint('tablet'){
			padding: 5px;
			left: -5px;
		}
		@include breakpoint('desktop_small'){
			left: 15px;
		}
		@include breakpoint('desktop'){
			left: 75px;
		}
		&:first-of-type{
			transform: translate(-50%, -50%) rotate(180deg);
		}
		&:last-of-type{
			right: -18px;
			left: auto;
			@include breakpoint('tablet'){
				right: -5px;
			}
			@include breakpoint('desktop_small'){
				right: 15px;
			}
			@include breakpoint('desktop'){
				right: 65px;
			}
		}
		span{
		  height: 24px;
		  background: #fff;
		  display: block;
		  width: 3px;
		  display: block;
		  &:first-of-type{
				transform: rotate(-25deg);
				margin-bottom: -4px;
		  }
		  &:last-of-type{
				margin-top: -4px;
				transform: rotate(25deg);
		  }
		}
	}
}
