.two-boxes{
	margin: 0 15px;
	.box{
		@include breakpoint('tablet'){
			width: 50%;
			display: inline-block;
			float: left;
		}
	}
	&.header-content{
		margin: 0;
		.box{
			padding: 0 30px;
			@include breakpoint('tablet'){
				box-sizing: border-box;
			}
			.logo{
				margin-bottom: 30px;
				max-width: 330px;
			    display: block;
			    margin: 0 auto 30px;
				@include breakpoint('tablet'){
					max-width: none;
					width: 250px;
					display: block;
					margin: 0 auto 30px;
				}
				@include breakpoint('desktop_small'){
					width: 346px;
					margin-bottom: 38px;
				}
			}
			&:first-of-type{
				margin-bottom: 100px;
				@include breakpoint('tablet'){
					float: right;
					margin: 70px 0 0;
				}
				@include breakpoint('desktop_small'){
					margin: 48px 0
				}
			}
			&:last-of-type{
				background: rgba( 0, 0, 0, .6);
				padding: 40px 30px 70px;
				margin-bottom: 0;
				position: relative;
				@include breakpoint('desktop_small'){
					width: 44%;
					padding: 44px 50px 74px;
				}
				@include breakpoint('desktop'){
					width: 41%;
				}
				.slick-dots{
					bottom: 2px;
					left: 0;
					right: 0;
					li{
						width: 8px;
						button{
							&::before{
								content: '';
								display: block;
								height: 6px;
								width: 6px;
								background: transparent;
								border: 1.5px solid $cl-white;
								border-radius: 50%;
								opacity: 1;
							}
						}
						&.slick-active{
							button{
								&::before{
									background: $cl-white;
								}
							}
						}
					}
				}
			}
		}
	}
	&.achievements{
		margin: 0;
		@include breakpoint('tablet'){
			height: 350px;
			display: flex;
		}
		@include breakpoint('desktop_small'){
			height: 281px;
		}
		.box{
			background: $cl-primary;
			padding: 10px 30px 20px;
			@include breakpoint('tablet'){
				box-sizing: border-box;
				width: 44%;
		    margin: 0 4%;
				top: -100px;
				position: relative;
				padding: 10px 50px 40px;
			}
			@include breakpoint('desktop_small'){
				top: -132px;
				width: 46%;
				margin: 0 1%;
				padding: 14px 30px 50px;
			}
			&:first-of-type{
				margin-bottom: 30px;
				@include breakpoint('tablet'){
					margin-right: 2%;
				}
				@include breakpoint('desktop_small'){
					margin-right: 3%;
					margin-bottom: 0;
				}
			}
			&:last-of-type{
				margin-bottom: 40px;
				@include breakpoint('tablet'){
					margin-left: 2%;
				}
				@include breakpoint('desktop_small'){
					margin-left: 3%;
					margin-bottom: 0;
				}
			}
			.icon{
				width: 60px;
				display: block;
				margin: 0 auto;
				padding: 0 0 20px;
				@include breakpoint('tablet'){
					width: 70px;
					height: 80px;
				}
				@include breakpoint('desktop_small'){
					width: 88px;
			    height: 90px;
					margin-bottom: 7px;
				}
			}
		}
	}
}
