.article {
    &-presentation {
        margin: 0 15px;
        @include breakpoint('tablet') {
            justify-content: space-between;
            align-items: flex-end;
            min-height: 280px;
        }
        @include breakpoint('desktop_small') {
            min-height: 340px;
        }
        @include breakpoint('desktop') {
            min-height: 380px;
        }
        &_item {
            margin-bottom: 20px;
            @include breakpoint('tablet') {
                width: 30%;
            }
            @include breakpoint('desktop') {
                margin-bottom: 0;
            }
            &:first-of-type {
                @include breakpoint('tablet') {
                    position: relative;
                }
                .article-presentation_item-img {
                    bottom: -110px;
                    max-height: 285px;
                    @include breakpoint('tablet') {
                        position: absolute;
                        bottom: 40px;
                        max-height: 235px;
                    }
                    @include breakpoint('desktop_small') {
                        bottom: 30px;
                        max-height: 285px;
                    }
                    @include breakpoint('desktop') {
                        max-height: 365px;
                    }
                }
                .arrow {
                    @include breakpoint('tablet') {
                        width: 100%;
                    }
                }
            }
            &-img {
                max-width: 100%;
                &.blinds {
                    max-height: 372px;
                    @include breakpoint('tablet') {
                        max-height: 270px;
                    }
                    @include breakpoint('desktop_small') {
                        max-height: 310px;
                    }
                    @include breakpoint('desktop') {
                        max-height: 372px;
                    }
                }
            }
        }
    }
}