.article-navigation {
    margin: 60px 0 30px;
    &_item {
        background: $cl-gray;
        position: relative;
        height: 60px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint('tablet') {
            height: 50px;
            width: 110px;
        }
        @include breakpoint('desktop_small') {
            width: 150px;
        }
        &:nth-child(2) {
            @include breakpoint('tablet') {
                width: 90px;
            }
            .article-navigation_item-img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 60px;
                margin: auto;
            }
        }
        &-img {
            filter: brightness(0%);
        }
        &:hover {
            .article-navigation_item-img {
                filter: brightness(100%);
            }
        }
        &:first-of-type {
            .article-navigation_item-img {
                transform: scale(.6);
            }
        }
        &:last-of-type {
            .article-navigation_item-img {
                transform: scale(0.6) rotate(180deg);
            }
        }
        &:last-of-type,
        &:first-of-type {
            cursor: pointer;
        }
        &-wrapper{
            display: flex;
        }
    }
    .content-wrapper {
        justify-content: space-evenly;
        display: flex;
        justify-content: space-around;
        @include breakpoint('tablet') {
            width: 600px;
            margin: 0 auto;
        }
    }
}