.category-listing{
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        @include breakpoint('tablet'){
            flex-direction: row;
            justify-content: normal;
            padding-top: 25px;
        }
        &_item{
            margin-bottom: 25px;
            @include breakpoint('tablet'){
                width: 25%;
                justify-content: center;
                display: flex;
                margin: 0 0 45px;
            }   
            &-img{ 
                max-height: 240px;
                display: block;
                margin: -60px auto 0;
                position: relative;
                bottom: -90px;
                @include breakpoint('tablet'){
                    bottom: -60px;
                    margin: -50px auto 0;
                }
                @include breakpoint('desktop_small'){
                    max-height: 260px;
                }
            }
            .arrow{
                display: block;
                background: $cl-primary;
                height: 130px;
                padding: 10px;
                width: 180px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-direction: row;
                @include breakpoint('tablet'){
                    height: 90px;
                    width: 140px;
                    padding: 10px 15px;
                }
                @include breakpoint('desktop_small'){
                    width: 180px;
                }
                &_img{
                    transform: scale(0.6);
                    @include breakpoint('desktop_small'){
                        position: relative;
                        left: 15px;
                    }   
                }
            }
        }
    }
}