.presentation {
    &.doors {
        .presentation-body {
            .two-boxes {
                margin-bottom: 45px;
                @include breakpoint('tablet') {
                    display: flex;
                    justify-content: space-around;
                }
                &-item {
                    position: relative;
                    &::before {
                        content: url('../images/pdf-icon.png');
                        position: absolute;
                        transform: scale(0.5);
                        left: 0;
                        right: 0;
                        bottom: -68px;
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        @include breakpoint('tablet') {
                            left: 0;
                        }
                        @include breakpoint('desktop') {
                            bottom: -60px;
                        }
                    }
                    &_img {
                        height: 290px;
                        width: 150px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        bottom: 37px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        @include breakpoint('tablet') {
                            height: 360px;
                            width: 180px;
                        }
                        @include breakpoint('desktop') {
                            height: 410px;
                            width: 207px;
                        }
                    }
                }
                .arrow {
                    background: $cl-primary;
                    height: 110px;
                    padding: 10px;
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    flex-direction: row;
                    max-width: 300px;
                    margin: 240px auto 0;
                    @include breakpoint('tablet') {
                        width: 340px;
                        max-width: none;
                        margin-top: 287px;
                    }
                    @include breakpoint('desktop_small') {
                        width: 410px;
                    }
                    @include breakpoint('desktop') {
                        width: 560px;
                        height: 120px;
                        margin-top: 328px;
                    }
                    &_img {
                        transform: scale(0.6);
                    }
                }
            }
        }
    }
}