.gate {
    .sub-boxes-wrapper_box {
        .typo_secondary {
            padding: 15px 0;
            font-size: 22px;
            line-height: 32px;
            @include breakpoint('tablet') {
                line-height: 24px;
                font-size: 18px;
                box-sizing: border-box;
                justify-content: flex-start;
                padding: 0 0 10px 0;
            }
        }
    }
    .icons-slider {
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .box {
            text-align: center;
            @include breakpoint('tablet') {
                max-width: 220px;
            }
            @include breakpoint('desktop_small') {
                max-width: 260px;
            }
            @include breakpoint('desktop') {
                max-width: 280px;
            }
            img {
                max-width: 100%;
            }
            h6 {
                font-size: 20px;
                letter-spacing: 0;
                line-height: 30px;
                @include breakpoint('desktop_small') {
                    font-size: 22px;
                    line-height: 34px;
                }
            }
        }
    }
}

// gate single
.gate-heading {
    margin: 15px;
    @include breakpoint('tablet') {
        margin: 0;
    }
    &_img {
        height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include breakpoint('tablet') {
            margin: 15px 0;
            height: 360px;
        }
        @include breakpoint('desktop_small') {
            height: 450px;
        }
    }
    &_name {
        background: $cl-primary;
        margin: -50px 15px 0;
        height: 70px;
        color: #fff;
        display: flex;
        align-items: flex-end;
        padding: 15px;
        box-sizing: border-box;
        max-width: 440px;
        @include breakpoint('tablet') {
            font-size: 18px;
            height: 100px;
            margin-top: -90px;
            padding-left: 30px;
        }
        @include breakpoint('desktop_small') {
            height: 118px;
            padding-left: 35px;
            margin-top: -110px;
        }
    }
}

.tabs {
    margin: 0 15px;
    .tabs-nav-ul {
        margin: 25px 0 30px;
        @include breakpoint('tablet') {
            margin: 0;
        }
        @include breakpoint('desktop') {
            margin-left: 15px;
        }
        &_item {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            background: #f2f2f2;
            margin-bottom: 2px;
            transition: .3s all;
            font-size: 15px;
            font-weight: bold;
            @include breakpoint('tablet') {
                width: 200px;
                height: 60px;
            }
            @include breakpoint('desktop_small') {
                width: 275px;
                height: 75px;
            }
            &.active {
                background: #ff4411;
                color: $cl-white;
            }
            &:hover {
                background: #000;
                color: $cl-white;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .tabs-content {
        @include breakpoint('tablet') {
            padding-left: 60px;
        }
    }
    .content-wrapper {
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            margin: 30px auto;
        }
    }
    .heading {
        font-size: 18px;
        font-weight: bold;
        padding: 28px 0 10px;
        display: block;
    }
    .tab{
        p{
            @include breakpoint('tablet'){
                padding: 0 15px;
            }
        }
    }
}