.header-slider {
    margin-bottom: 38px;
    @include breakpoint('tablet') {
        margin-bottom: 55px;
    }
    .box {
        margin: 0 15px;
        @include breakpoint('desktop') {
            margin: 0;
        }
        &-heading {
            position: relative;
            margin: 20px -15px 0;
            @include breakpoint('tablet') {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                align-items: center;
                margin: 0 15px;
            }
            @include breakpoint('desktop_small') {
                margin: 0;
            }
            &_title,
            &_img {
                @include breakpoint('tablet') {
                    position: static;
                    width: 50%;
                    float: left;
                    box-sizing: border-box;
                    margin: 0;
                }
            }
            &_img {
                height: 350px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                @include breakpoint('desktop_small') {
                    width: 60%;
                    height: 400px;
                }
            }
            &_title {
                position: absolute;
                @include breakpoint('tablet') {
                    position: static;
                }
                @include breakpoint('desktop_small') {
                    width: 40%;
                }
            }
        }
        .box-sub {
            position: relative;
            @include breakpoint('tablet') {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: -20px;
            }
            @include breakpoint('desktop_small') {
                justify-content: flex-end;
            }
            .pagingInfo {
                position: absolute;
                bottom: 15px;
                left: 15px;
                @include breakpoint('tablet') {
                    position: static;
                }
                span {
                    font-weight: bold;
                    &:first-of-type,
                    &:last-of-type {
                        font-size: 20px;
                        position: relative;
                    }
                    &:first-of-type {
                        bottom: 10px;
                    }
                    &:last-of-type {
                        top: 10px;
                    }
                    &:nth-child(2) {
                        color: $cl-primary;
                        font-size: 26px;
                        padding: 0 5px;
                    }
                }
			}
			.arrow-wrapper{
				@include breakpoint('tablet'){
					margin-right: 15px;
				}
			}
            .arrow {
                background: $cl-primary;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                float: right;
                @include breakpoint('tablet') {
                    height: 120px;
                    width: 120px;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 15px;
                }
                &_img {
                    @include breakpoint('tablet') {
                        transform: scale(0.6);
                    }
                }
            }
        }
    }
}

// typo
.header-slider {
    .box {
        .typo {
            &_primary {
                background: $cl-primary;
                color: $cl-white;
                font-size: 20px;
                top: -20px;
                left: 0;
                right: 0;
                text-align: center;
                padding: 0 15px;
                @include breakpoint('tablet') {
                    background: transparent;
                    color: #000;
                    font-size: 38px;
                    text-align: right;
                    line-height: 50px;
                    padding: 0 30px 0 15px;
                }
                @include breakpoint('desktop_small') {
                    font-size: 40px;
                }
                @include breakpoint('desktop') {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
            &_text {
                background: $cl-gray;
                padding: 15px;
                line-height: 25px;
                position: relative;
                top: -20px;
                margin-bottom: 0;
                @include breakpoint('tablet') {
                    width: 60%;
                    margin: 0 35px;
                    position: static;
                    height: 120px;
                    display: flex;
                    align-items: center;
                }
                @include breakpoint('desktop_small') {
                    margin: 0 7%;
                    width: 50%;
                }
            }
        }
    }
}