.icons-category {
    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 0;
        @include breakpoint('tablet') {
            justify-content: space-between;
        }
        .box {
            margin: 5px 0;
            img {
                max-width: 140px;
                @include breakpoint('desktop_small') {
                    max-width: 180px;
                }
            }
        }
    }
}

.page-template-single-category-view {
    .icons-category {
        &-wrapper {
            @include breakpoint('tablet') {
                margin: 40px 0 60px;
            }
        }
    }
}