.presentation {
    &-head {}
    &-body {
        .boxes-wrapper {
            .box {
                margin-bottom: 80px;
                height: 280px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                @include breakpoint('tablet') {
                    height: 420px;
                }
                .arrow {
                    background: $cl-primary;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    float: right;
                    @include breakpoint('tablet') {
                        height: 70px;
                        width: 120px;
                        justify-content: flex-end;
                        align-items: flex-end;
                        padding: 15px;
                    }
                    @include breakpoint('desktop_small') {
                        height: 90px;
                    }
                    &_img {
                        @include breakpoint('tablet') {
                            transform: scale(0.6);
                        }
                    }
                }
                .sub-boxes-wrapper {
                    position: relative;
                    top: 50px;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    @include breakpoint('tablet') {
                        justify-content: space-between;
                        padding: 0 15px;
                        box-sizing: border-box;
                        align-items: flex-end;
                        width: 100%;
                        flex-direction: row;
                    }
                    @include breakpoint('desktop_small') {
                        padding: 0 30px;
                    }
                    &_box {
                        &:first-of-type {
                            margin-bottom: 0;
                            background: #000;
                            height: auto;
                            padding: 0 15px;
                            position: relative;
                            @include breakpoint('tablet') {
                                height: 100px;
                                width: 70%;
                                justify-content: flex-start;
                            }
                            @include breakpoint('desktop_small') {
                                height: 120px;
                            }
                            .icon {
                                max-width: 80px;
                                position: absolute;
                                top: -40px;
                                @include breakpoint('tablet') {
                                    max-width: 100px;
                                    top: -50px;
                                }
                                @include breakpoint('desktop_small') {
                                    max-width: 120px;
                                }
                            }
                        }
                    }
                }
            }
            &.large {
                @include breakpoint('tablet') {
                    margin-bottom: 120px;
                }
                .box {
                    &:first-of-type {
                        @include breakpoint('tablet') {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                        }
                        @include breakpoint('desktop_small') {
                            height: 500px;
                        }
                        @include breakpoint('desktop_big') {
                            height: 560px;
                        }
                    }
                }
            }
            &.small {
                @include breakpoint('tablet') {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .box {
                    @include breakpoint('tablet') {
                        width: 48%;
                    }
                    .arrow {
                        @include breakpoint('tablet') {
                            height: 15px;
                            width: 50px;
                            justify-content: center;
                            align-items: center;
                        }
                        @include breakpoint('desktop_small') {
                            height: 10px;
                            width: 40px;
                        }
                    }
                    .sub-boxes-wrapper {
                        @include breakpoint('tablet') {
                            top: 25px;
                        }
                        @include breakpoint('desktop_small') {
                            top: 20px;
                        }
                        &_box {
                            &:first-of-type {
                                @include breakpoint('tablet') {
                                    width: 42%;
                                    height: 112%;
                                }
                                @include breakpoint('desktop_small') {
                                    width: 35%;
                                    height: 110%;
                                }
                                @include breakpoint('desktop') {
                                    width: 30%;
                                }
                                .icon {
                                    max-width: 150px;
                                    background: #000;
                                    padding: 10px;
                                    top: -40px;
                                    left: 0;
                                    @include breakpoint('tablet') {
                                        right: 0;
                                        margin: auto;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.gate {
                .box {
                    @include breakpoint('tablet') {
                        height: 240px;
                    }
                    @include breakpoint('desktop_small') {
                        width: 32%;
                    }
                    .sub-boxes-wrapper_box {
                        &:first-of-type {
                            @include breakpoint('tablet') {
                                height: 40%;
                                background: $cl-primary;
                            }
                            @include breakpoint('desktop_small') {
                                width: 48%;
                            }
                            @include breakpoint('desktop') {
                                width: 34%;
                            }
                        }
                    }
                }
            }
        }
    }
}