.navbar{
		position: absolute;
		width: 100%;
		top: 0;
	    height: 85px;
		transition: .3s all;
		z-index: 2;
		@include breakpoint('desktop_small'){
			height: 80px;
		}
		&.reduced{
			-webkit-box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			box-shadow: 0px 1px 29px -14px rgba(0,0,0,0.75);
			height: 70px;
			@include breakpoint('desktop_small'){
				height: 65px;
			}
			.content-wrapper{
				.brand-logo{
					margin-top: -8px;
					@include breakpoint('desktop_small'){
						margin-top: 12px;
					}
				}
				.burger{
					top: 25px;
				}
				.list{
					@include breakpoint('desktop_small'){
						margin-top: 15px;
					}
				}
			}
		}
	.content-wrapper{
		height: 0;
		.brand-logo{
			position: absolute;
			width: 200px;
		    top: 20px;
		    left: 10px;
			z-index: 1;
			transition: .3s all;
			@include breakpoint('tablet'){
				width: 220px;
				top: 60px;
			}
			@include breakpoint('desktop_small'){
				display: inline-block;
				width: 180px;
			}
			@include breakpoint('desktop'){
				position: static;
				margin-top: 20px;
			}
			img{
				width: 100%;
				transition: .3s all;
			}
		}
		.list{
			height: 100vh;
		    padding-top: 110px;
	    	text-align: center;
			position: absolute;
		    left: -1000px;
			transition: .3s all;
			z-index: 9;
			@include breakpoint('desktop_small'){
				height: auto;
				text-align: left;
				width: 80%;
				display: inline-block;
				vertical-align: top;
			    margin-top: 13px;
				float: right;
				width: auto;
				margin-right: 15px;
				padding: 0 26px;
				position: static;
			}
			@include breakpoint('desktop_big'){
				padding: 0 36px;
				margin-right: 0;
			}
			&.is-active{
				left: 0;
				right: 0;
				background: $cl-white;
			}
			li{
				margin-bottom: 6px;
				@include breakpoint('desktop_small'){
					padding: 8px 0;
					display: inline-block;
					margin-bottom: 0;
					margin-right: 4px;
					&:last-of-type{
						margin-right: 0;
					}
					&.active{
						a{
							background: $cl-gray;
						}
					}
					a{
						transition: .3s all;
					}
				}
				@include breakpoint('desktop'){
					margin-right: 18px;
				}
				@include breakpoint('desktop_big'){
					margin-right: 20px;
				}
				&.menu-item-has-children{
					@include breakpoint('desktop_small'){
						position: relative;
					}
				}
				&.current_page_item{
					a{
						color: $cl-primary;
					}
				}
				.sub-menu{
					display: none;
					@include breakpoint('desktop_small'){
						position: absolute;
						top: 38px; left: -50px;
					}
					&:after{
						content: '';
						background: red;
						position: absolute;
						top: 60px;
					}
					li{
						margin-right: 0;
						@include breakpoint('desktop_small'){
							background: red;
							padding: 5px 20px;
							width: 110px;
							text-align: center;
						}
						&:first-of-type{
							@include breakpoint('desktop_small'){
								margin-top: 2px;
							}
						}
						a{
							color: $cl-secondary;
						}
					}
				}
			}
		}
		.burger{
		  background: $cl-primary;
		  cursor: pointer;
		  position: absolute;
		  right: 20px;
	      top: 22px;
		  transition: .3s all;
		  z-index: 10;
		  padding: 10px 8px;
		  @include breakpoint('tablet'){
			  top: 60px;
		  }
		  @include breakpoint('desktop_small'){
			display: none;
		  }
		  &.reduced{
			top: 25px;
		  }
		  &_item{
			display: block;
			float: right;
			clear: both;
			width: 26px;
			height: 3px;
			background-color: $cl-white;
			margin-bottom: 4px;
			&:last-of-type{
			  margin-bottom: 0;
			}
		  }
		}
	}
}
