.offer {
    margin-bottom: 38px;
    @include breakpoint('tablet') {
        margin-bottom: 25px;
    }
    .boxes-wrapper {
        margin: 0 15px;
        @include breakpoint('desktop') {
            margin: 0;
        }
        &_box {
            @include breakpoint('tablet') {
                width: 50%;
                display: inline-block;
                float: left;
                box-sizing: border-box;
            }
            @include breakpoint('desktop') {
                width: 25%;
            }
            &:nth-child(odd) {
                @include breakpoint('tablet') {
                    padding-right: 7.5px;
                }
                @include breakpoint('desktop') {
                    padding: 0;
                }
            }
            &:nth-child(even) {
                @include breakpoint('tablet') {
                    padding-left: 7.5px;
                }
                @include breakpoint('desktop') {
                    padding: 0;
                }
            }
            &:nth-child(1) {
                @include breakpoint('desktop') {
                    padding-right: 15px;
                }
                @include breakpoint('desktop_big') {
                    padding-right: 25px;
                }
            }
            &:nth-child(2) {
                @include breakpoint('desktop') {
                    padding-right: 7.5px;
                }
                @include breakpoint('desktop_big') {
                    padding-right: 12.5px;
                }
            }
            &:nth-child(3) {
                @include breakpoint('desktop') {
                    padding-left: 7.5px;
                }
                @include breakpoint('desktop_big') {
                    padding-left: 12.5px
                }
            }
            &:nth-child(4) {
                @include breakpoint('desktop') {
                    padding-left: 15px
                }
                @include breakpoint('desktop_big') {
                    padding-left: 25px;
                }
            }
            .img {
                height: 200px;
                position: relative;
                margin-bottom: 35px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                &_name,
                .arrow {
                    position: absolute;
                    bottom: -22px;
                    left: 15px;
                }
                .arrow {
                    left: auto;
                    right: 15px;
                    background: $cl-primary;
                    display: inline-flex;
                    padding: 11px 5px;
                    &_img {
                        transform: scale(0.6);
                        position: relative;
                        transition: .3s all;
                    }
                }
            }
        }
    }
}

// typo
.offer {
    .typo {
        &_secondary {
            font-size: 20px;
            font-weight: 700;
            color: $cl-white;
            min-width: 115px;
            padding: 4px 0 4px 20px;
            background: #000;
        }
        &_text {
            @include breakpoint('tablet') {
                padding: 0 15px;
                font-size: 15px;
            }
        }
    }
}