.partners{
	margin-bottom: 60px;
	@include breakpoint('desktop_small'){
		margin-bottom: 75px;
	}
	.carousel-wrapper-secondary{
		.box{
			position: relative;
			height: 150px;
			img{
				margin: 0 auto;
				max-width: 180px;
				max-height: 100px;
				position: absolute;
				bottom: 0; left: 0; right: 0; top: 0;
				margin: auto;
			}
		}
		.arrow{
			z-index: 2;
			background: #000;
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 40px;
			padding: 10px 0px 10px 20px;
			box-sizing: border-box;
			left: 25px;
			@include breakpoint('desktop_big'){
				left: -5px;
			}
			&:first-of-type{
				transform: translate(-50%, -50%) rotate(180deg);
			}
			&:last-of-type{
				right: -10px;
				left: auto;
				@include breakpoint('desktop_big'){
					right: -35px;
				}
			}
			span{
			  height: 18px;
			  background: $cl-primary;
			  display: block;
			  width: 2px;
			  display: block;
			  &:first-of-type{
					transform: rotate(-45deg);
					margin-bottom: -6px;
			  }
			  &:last-of-type{
					margin-top: -6px;
					transform: rotate(45deg);
			  }
			}
		}
	}
}
