.portfolio{
	margin-bottom: 38px;
	@include breakpoint('tablet'){
		margin-bottom: 55px;
	}
	.boxes-wrapper{
		@include breakpoint('tablet'){
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}
		.box{
			&_img{
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				height: 200px;
				@include breakpoint('tablet'){
					width: 100%;
					height: 300px;
				}
				@include breakpoint('desktop_small'){
					height: 380px;
				}
				@include breakpoint('desktop'){
					height: 460px;
				}
			}
			&_name{
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				align-items: center;
				flex-flow: row wrap;
				justify-content: center;
				background: $cl-primary;
				min-height: 50px;
				padding: 10px 15px;
				@include breakpoint('tablet'){
					flex-flow: inherit;
					height: 100%;
					box-sizing: border-box;
					align-items: flex-end;
				}
				@include breakpoint('desktop'){
					width: 362px;
				}
				span{
					font-size: 20px;
					color: $cl-white;
					font-weight: 700;
					@include breakpoint('tablet'){
						margin-right: 5px;
					}
					@include breakpoint('desktop'){
						font-size: 18px;
					}
				}
				.arrow{
					width: 100%;
				    display: flex;
				    justify-content: flex-end;
				    margin: 15px 0 5px;
					@include breakpoint('tablet'){
						width: auto;
						margin: 0;
					}
					&_img{
						transform: scale(0.6);
					}
				}
			}
		}
	}
}
