.presentation-contact {
    margin: 30px 0;
    &-box {
        &:first-of-type {
            background: $cl-gray;
            padding: 15px 15px 30px;
            position: relative;
            @include breakpoint('tablet') {
                width: 40%;
                height: 172px;
                max-width: 305px;
                padding: 30px 15px 30px;
            }
            @include breakpoint('desktop_small') {
                width: 30%;
                padding: 50px 15px 50px;
            }
        }
        &:last-of-type {
            background-image: url("../images/pres-contact.png");
            background-size: cover;
            background-position: center;
            height: 210px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            @include breakpoint('tablet') {
                width: 60%;
                height: 320px;
            }
            @include breakpoint('desktop_small') {
                width: 70%;
                height: 360px;
            }
        }
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        @include breakpoint('tablet') {
            flex-direction: row;
            align-items: center;
        }
    }
}