.top-bar{
	width: 100%;
	display: none;
	@include breakpoint('tablet'){
		display: block;
		border-bottom: 1px solid $cl-gray;
		padding: 8px 0 6px;
	}
	&_info{
		text-align: center;
		@include breakpoint('desktop_small'){
			float: right;
			margin: 0 15px;
		}
		.box{
			@include breakpoint('tablet'){
				width: 33.3%;
				display: inline-block;
				float: left;
			}
			@include breakpoint('desktop_small'){
				width: auto;
				margin-right: 40px;
			}
			&:nth-child(3){
				@include breakpoint('desktop_small'){
					margin-right: 0;
				}
			}
		}
	}
}


// typo
.top-bar{
	.typo{
		&_secondary, a{
			color: #000;
			font-weight: 300;
			font-size: 12px;
			span{
				font-weight: 700;
			}
		}
	}
	.box{
		&:last-of-type{
			.typo{
				&_secondary{
					margin: 0 5px;
					display: inline-block;
				}
			}
		}
	}
}
