.whyus{
	margin-bottom: 38px;
	@include breakpoint('tablet'){
		margin-bottom: 55px;
	}
	@include breakpoint('desktop_small'){
		margin-bottom: 75px;
	}
	.box{
		&_img{
			@include breakpoint('tablet'){
				background-image: url(http://via.placeholder.com/1366x500);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				height: 440px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				@include breakpoint('desktop_small'){
					align-items: flex-end;
				}
				@include breakpoint('desktop'){
					height: 500px;
				}
			}
			.subbox{
				width: 145px;
			    height: 145px;
				background: #000;
				margin: 0 auto 15px;
			    display: flex;
			    align-items: flex-end;
			    padding: 0 10px 5px;
				transition: .3s background;
				@include breakpoint('tablet'){
					margin-bottom: 0;
				}
				@include breakpoint('desktop_small'){
					width: 135px;
					height: 135px;
					position: relative;
					top: 20px;
				}
				@include breakpoint('desktop'){
					width: 155px;
				    height: 145px;
				}
				&:hover{
					background: $cl-primary;
				}
			}
		}
	}
}


// typo
.whyus{
	.typo{
		&_secondary{
			color: $cl-white;
			font-size: 18px;
		    line-height: 25px;
			font-weight: 700;
			@include breakpoint('desktop_small'){
				font-size: 16px;
			}
			@include breakpoint('desktop'){
				font-size: 18px;
			}
		}
	}
}
