// heder - navbar
.site-header-bottom-wrapper{
	.main-menu-wrapper{
			@media screen and (min-width: 768px) {
			height: 100%;
		}
		.main-menu-nav{
			.main-menu-item{
			@media screen and (min-width: 768px) {
					transition: .3s all;
				}
				&:hover{
				@media screen and (min-width: 768px) {
					background-color: #d54a3c;
					a{
						color: #fff !important;
					}
					}
				}
				a{
				font-size: 16px;
				@media screen and (min-width: 768px) {
						line-height: 55px;
					}
				}
			}
		}
	}
}

// navbar - search
.site-header-main-wrapper{
	.search-container{
		.gensearch__form{
			.inputbox{
				@media screen and (min-width: 980px) {
					background-color: #fff;
					border: 2px solid #d9d9db;
					border-radius: 12px;
					color: #000;
					font-size: 16px;
					font-weight: bold;
					font-style: normal;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #000;
					font-weight: bold;
					font-size: 16px;
					text-transform: none;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #000;
					font-weight: bold;
					font-size: 16px;
					text-transform: none;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #000;
					font-weight: bold;
					font-size: 16px;
					text-transform: none;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #000;
					font-weight: bold;
					font-size: 16px;
					text-transform: none;
				}
				&:focus{
					@media screen and (min-width: 980px) {
						border: 1px solid #d9d9db;
					}
				}
			}
			.gensearch__submit{
				&::before{
					color: #d9d9db;
					font-size: 17px;
				}
			}
		}
	}
}
