// daily offers & featured products slider
.eluid26f1768f, .eluid41785470{
	.kw-prodimage{
		height: 300px;
    position: relative;
		img{
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			margin: auto !important;
			width: 220px !important;
		}
	}
}
