.site-header-top-wrapper{
	background-color: #f2f1e9 !important;
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
	}
	.fxb-row{
		.wrapper{
			img, .topbar-text{
				float: left;
				padding-top: 20px;
			}
			img{
				margin-right: 15px;
			}
			.topbar-text{
				font-weight: bold;
				color: #41434a;
				font-size: 14px;
			}
		}
	}
}
