@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';


// modules
@import '_modules/_navbar.scss';
@import '_modules/_header.scss';
@import '_modules/_post.scss';
@import '_modules/_footer.scss';


body{
  overflow-x: hidden;
  background: #f9f9f9;
  &.is-active{
    overflow: hidden;
  }
  padding-top: 100px;
  @include breakpoint('desktop_small'){
    padding-top: 130px;
  }
}

// width class
.content-wrapper{
  @include breakpoint('desktop_small'){
    margin: 0 auto;
    max-width: 1530px;
  }
}
