$cl-white: rgba(255,255,255,1);
$cl-orange: rgba(246,160,0, 1);
$cl-primary: rgba(51,55,67,1);
$cl-secondary: rgba(89,191,199,1);
$cl-tertiary: rgba(146, 151, 163, 1);
$cl-quaternary: rgba(238, 237, 240, 1);
$cl-text: rgba(91,93,105, 1);


body{
	background: $cl-white;
	&.showed{
		overflow: hidden;
	}
	a{
		text-decoration: none;
		color: #000;
	}
	.container{
		width: 100%;
		max-width: 1570px;
		margin: 0 auto;
	}
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}


// cookies styles
.cn-bottom{
  background: $cl-quaternary !important;
  font-family: 'PT Sans Narrow', sans-serif;
	color: #000 !important;
  font-size: 16px !important;
  .cookie-notice-container{
    @include breakpoint('tablet'){
      padding-bottom: 40px;
    }
    @include breakpoint('desktop_small'){
      padding-bottom: 10px;
      width: 80%;
    }
    @include breakpoint('desktop_big'){
      width: 85%;
    }
    .cn-set-cookie{
			width: 100%;
			display: block !important;
			font-weight: 600;
	    color: $cl-white !important;
	    font-size: 16px !important;
	    background: $cl-secondary !important;
	    border: none !important;
	    border-radius: 0 !important;
	    padding: 3px 10px !important;
	    font-family: 'PT Sans Narrow', sans-serif !important;
	    letter-spacing: 1px;
      max-width: 160px;
      margin: 8px auto 0 !important;
      @include breakpoint('tablet'){
				width: auto;
        margin-top: 0;
        right: 15px;
        left: 15px;
        position: absolute;
        bottom: 5px;
      }
      @include breakpoint('desktop_small'){
        right: 15px;
        top: 7px;
        bottom: auto;
        left: auto;
        margin: auto !important;
      }
    }
  }
}
