$ff-vol: 'Vollkorn', serif;
$ff-pts: 'PT Sans Narrow', sans-serif;

.subpage-content{
	// p, h1,h2,h3,h4,h5,h6,ul,blockquote{
	// 	position: relative;
	// 	z-index: 2;
	// }
	p{
		font-family: $ff-vol;
		font-size: 20px;
		line-height: 26px;
		strong{
			font-weight: 600;
		}
		em{
			font-style: italic
		}
		a{
			color: $cl-secondary;
		}
	}
	h1, h2, h3, h4, h5, h6{
		color: $cl-secondary;
		letter-spacing: 0.5px;
		margin-bottom: 26px;
		@include breakpoint('desktop_small'){
			margin-bottom: 35px;
		}
	}
	h4, h5, h6{
		font-family: $ff-vol;
		font-weight: 600;
	}
	h1{
		font-size: 48px;
		font-weight: 700;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 32px;
	}
	h4{
		font-size: 24px;
	}
	h5{
		font-size: 22px;
	}
	h6{
		font-size: 20px;
	}
	ul{
		margin-left: 15px;
		margin-bottom: 10px;
		@include breakpoint('tablet'){
			margin-left: 30px;
		}
		@include breakpoint('desktop_small'){
			margin-left: 45px;
		}
		@include breakpoint('desktop'){
			margin-left: 65px;
		}
		li{
			position: relative;
			font-family: $ff-vol;
			font-size: 20px;
			margin-bottom: 10px;
			margin-bottom: 10px;
		    padding-left: 10px;
			&:last-of-type{
				margin-bottom: 0;
			}
			&::after{
				content: '';
				position: absolute;
				height: 4px;
				width: 4px;
				border-radius: 50%;
				background: $cl-secondary;
				left: 0; top: 0; bottom: 0;
				margin: auto;
			} 
		} 
	}
	blockquote{
		margin-left: 15px;
		border-left: 3px dashed $cl-secondary;
		padding: 24px 0 24px 25px;
		@include breakpoint('tablet'){
			margin-left: 30px;
		}
		@include breakpoint('desktop_small'){
			margin-left: 45px;
		}
		p{
			font-style: italic;
		}
	}
}
