.articles {
    margin: 20px 0;
    @include breakpoint('tablet') {
        margin-top: 40px;
    }
    @include breakpoint('desktop_small') {
        margin-top: 52px;
    }
    &-item {
        margin: 0 15px 40px;
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 60px;
        }
        @include breakpoint('desktop_small') {
            margin: 0 30px 50px;
        }
        @include breakpoint('desktop') {
            justify-content: space-evenly;
            margin-bottom: 80px;
        }
        &:last-of-type {
            @include breakpoint('tablet') {
                margin-bottom: 36px;
            }
            @include breakpoint('desktop') {
                margin-bottom: 46px;
            }
        }
        &_img {
            height: 228px;
            max-width: 350px;
            margin-bottom: 15px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include breakpoint('tablet') {
                width: 246px;
                height: 165px;
                margin-bottom: 0;
            }
        }
        &_content {
            @include breakpoint('tablet') {
                width: 60%;
            }
            @include breakpoint('desktop_small') {
                width: 63%;
            }
        }
    }
    &-more {
        padding: 0 15px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
        @include breakpoint('tablet') {
            margin-bottom: 36px;
        }
        @include breakpoint('desktop_small') {
            margin: 0 30px 40px;
        }
    }
}