.article {
    .articles-more {
        padding: 0;
        margin-top: 40px;
        @include breakpoint('tablet') {
            margin-top: 50px;
        }
        @include breakpoint('desktop_small') {
            margin: 65px 0 56px;
        }
    }
    p {
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    .grid-gallery {
        margin-top: 40px;
        @include breakpoint('tablet'){
            margin-top: 50px;
        }
        .gg-link {
            @include breakpoint('tablet') {
                max-width: 50%;
            }
            .grid-gallery-caption {
                height: auto !important;
                .ggImg {
                    height: auto !important;
                }
            }
        }
    }
}