 .copyright-bar {
     background: $cl-kgh;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding: 15px 15px 35px;
     width: 100%;
     box-sizing: border-box;
     @include breakpoint('tablet'){
         padding: 15px;
     }
     @include breakpoint('desktop_small') {
         display: block;
     }
     @include breakpoint('desktop') {
         padding: 20px 0;
     }
     .content-wrapper {
         @include breakpoint('desktop_small') {
             display: flex;
             justify-content: space-between
         }
     }
 }