.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px 15px 6px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    background: $cl-white;
    transition: .3s all;
    height: 90px;
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    @include breakpoint('desktop_small') {
        height: 108px;
    }
    &.reduced {
        height: 80px;
        @include breakpoint('desktop_small') {
            height: 90px;
        }
    }
    @include breakpoint('desktop_small') {
        transition: none;
        position: static;
        justify-content: space-between;
        padding: 10px 40px;
        border-bottom: 0;
    }
    @include breakpoint('desktop') {
        padding: 0;
    }
    &_nav-brand-logo {
        @include breakpoint('desktop_small') {
            width: 128px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 80px;
            transition: .3s all;
            @include breakpoint('desktop_small') {
                max-width: 220px;
            }
            @include breakpoint('desktop') {
                max-width: 270px;
            }
        }
    }
    &.reduced {
        .header-nav_nav-brand-logo {
            img {
                max-width: 80px;
                @include breakpoint('desktop_small') {
                    max-width: 70px;
                }
            }
        }
        .burger {
            &_item {
                height: 5px;
                width: 35px;
                &:nth-child(2) {
                    margin: 4px 0;
                }
            }
        }
        .nav-list {
            margin-top: 65px;
            @include breakpoint('desktop_small') {
                margin-top: 0;
            }
            &.is-active {
                height: calc(100vh - 64px);
                margin-top: 77px;
                @include breakpoint('tablet') {
                    margin-top: 90px;
                }
            }
            li {
                margin: 10px 0;
                @include breakpoint('tablet') {
                    margin: 12px 0;
                }
                @include breakpoint('desktop_small') {
                    margin: 0;
                }
            }
        }
    }
    &_nav {
        &.desktop-fixed {
            .content-wrapper {
                .header-nav_nav-brand-logo {
                    @include breakpoint('desktop_small') {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .content-wrapper {
            .header-nav_nav-brand-logo {
                @include breakpoint('desktop_small') {
                    margin-left: 15px;
                }
                @include breakpoint('desktop') {
                    left: -6px;
                    margin-left: 0;
                }
                img {
                    display: flex;
                    align-content: center;
                }
            }
        }
    }
}