.header-slider {
    margin-bottom: 30px;
    &_box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
        @include breakpoint('tablet') {
            margin: 0;
        }
        &:first-of-type,
        &:last-of-type {
            display: none;
            @include breakpoint('tablet') {
                display: flex;
                flex-direction: row;
            }
            @include breakpoint('desktop') {
                width: 30%;
            }
        }
        &:nth-child(2) {
            @include breakpoint('desktop') {
                width: 30%;
                z-index: 2;
            }
        }
        &_item {
            &-img {
                @include breakpoint('tablet') {
                    height: 260px;
                }
                @include breakpoint('desktop_small') {
                    height: 350px;
                }
                @include breakpoint('desktop') {
                    height: 510px;
                }
            }
        }
    }
    // .slider-arrows {
    //     border: 3px solid black;
    //     border-bottom-right-radius: 50%;
    //     border-top-right-radius: 50%;
    // }
}

.box {
    @include breakpoint('tablet') {
        width: auto;
    }
    @include breakpoint('desktop_small') {
        justify-content: center;
    }
}

.slick-initialized {
    .slick-slide {
        @include breakpoint('tablet') {
            display: flex;
        }
    }
}