.header-nav {
    &_about {
        display: none;
        @include breakpoint('desktop_small') {
            display: flex;
            align-items: center;
            max-width: 560px;
            margin: 0 36px 0 26px;
        }
        @include breakpoint('desktop') {
            max-width: 610px;
        }
        &-img {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            transition: .3s filter;
        }
        a {
            position: relative;
            border: 3px solid $cl-gray;
            border-radius: 50%;
            padding: 2px;
            margin-right: 20px;
            &:hover {
                .header-nav_about-img {
                    filter: brightness(70%);
                }
            }
        }
    }
}