.header-nav {
    &_social {
        display: none;
        @include breakpoint('desktop_small') {
            display: flex;
            flex-wrap: wrap;
            width: 158px;
            justify-content: center;
        }
        a {
            height: 35px;
            &:first-child {
                margin: 0 22px 15px 0;
            }
        }
        span {
            a {
                &:first-child {
                    margin: 0;
                }
            }
        }
    }
}