.products-group {
    margin-top: 30px;
    img {
        max-width: 100%;
    }
    &_heading {
        display: none;
        @include breakpoint('tablet') {
            display: block;
        }
    }
    &_showbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        @include breakpoint('tablet') {
            flex-direction: row;
        }
        img {
            max-width: 240px;
            margin: 15px 0;
            @include breakpoint('tablet') {
                max-width: none;
                margin: 0;
                max-height: 100px;
            }
            @include breakpoint('desktop_small') {
                max-height: 125px;
            }
            @include breakpoint('desktop') {
                max-height: 140px;
            }
        }
    }
    &-list {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        flex-direction: column;
        @include breakpoint('tablet') {
            margin-bottom: 120px;
            align-items: center;
        }
        &_item {
            max-width: 680px;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            &:last-of-type{
                margin-bottom: 0;
            }
            @include breakpoint('tablet'){
                flex-direction: row;
            }
            img {
                margin: 35px auto 15px;
                display: block;
                max-height: 200px;
                @include breakpoint('tablet') {
                    max-height: 240px;
                    margin: 0;
                }
                @include breakpoint('desktop_small') {
                    max-height: none;
                }
            }
            &-descr {
                background: $cl-kghCreme;
                padding: 15px;
                @include breakpoint('tablet') {
                    margin: 0 68px 0 25px;
                }
            }
        }
    }
}