.post {
    &-img,
    &-img-large {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
        }
    }
    .row {
        margin: 50px 15px 0;
        @include breakpoint('tablet') {
            margin-top: 80px;
        }
        &:last-of-type {
            margin-bottom: 80px;
            @include breakpoint('tablet') {
                margin-bottom: 120px;
            }
        }
    }
    &-img {
        img {
            max-width: 240px;
            max-height: 34px;
            margin-bottom: 15px;
            @include breakpoint('tablet') {
                max-width: none;
                max-height: none;
            }
        }
    }
    &-img-large {
        img {
            margin-top: 30px;
        }
    }
}