.header-nav {
    &_nav {
        a {
            color: #000;
        }
        .nav-list {
            margin-top: 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .3s height, opacity;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            height: 0;
            @include breakpoint('tablet') {
                margin-top: 108px;
            }
            @include breakpoint('desktop_small') {
                transition: 0s;
                overflow: visible;
                opacity: 1;
                clear: both;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 3;
                box-sizing: border-box;
                padding: 2px 15px 0 35px;
                margin: 0 auto;
                max-width: 1180px;
                top: 0;
            }
            @include breakpoint('desktop_small') {
                visibility: visible;
            }
            @include breakpoint('desktop') {
                padding: 2px 0 0 35px;
            }
            li {
                margin: 6px 0;
                opacity: 0;
                transition: .3s opacity;
                &:last-of-type {
                    margin-bottom: 35px;
                    @include breakpoint('desktop_small') {
                        margin: 0;
                    }
                }
                @include breakpoint('tablet') {
                    margin: 12px 0;
                }
                @include breakpoint('desktop_small') {
                    opacity: 1;
                    margin: 0;
                }
            }
            &.is-active {
                height: calc(100vh - 94px);
                opacity: 1;
                visibility: visible;
                @include breakpoint('tablet') {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    background: $cl-white;
                }
                li {
                    opacity: 1;
                }
            }
            &_close {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 20px 20px 20px;
                border-color: transparent transparent #ffffff transparent;
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
                margin: auto;
                cursor: pointer;
                @include breakpoint('desktop_small') {
                    display: none;
                }
            }
        }
    }
}

.header-nav_nav {
    width: 100%;
    @include breakpoint('desktop_small') {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 5;
        transition: .3s all;
        margin-top: 0;
        background-color: #fff;
    }
    .content-wrapper {
        display: flex;
        align-items: center;
        transition: .3s all;
        @include breakpoint('desktop_small') {
            height: 125px;
            justify-content: center;
        }
    }
    &.desktop-fixed {
        @include breakpoint('desktop_small') {
            -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
        }
        .content-wrapper {
            @include breakpoint('desktop_small') {
                height: 65px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav-list li {
        transition: none !important;
        margin-bottom: 20px !important;
    }
    .nav-list.is-active {
        position: absolute;
        display: block;
        background-color: white;
        top: 13px;
        left: 0;
        right: 0;
        padding: 20px;
        text-align: center;
    }
}