.offer {
    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include breakpoint('phone_big') {
            justify-content: space-around
        }
        @include breakpoint('tablet') {
            margin: 0 15px;
        }
        @include breakpoint('desktop_small') {
            justify-content: space-between;
        }
        @include breakpoint('desktop') {
            margin: 0 auto;
        }
    }
    &-box {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 15px 15px;
        max-width: 352px;
        @include breakpoint('phone_big') {
            max-width: 45%;
        }
        @include breakpoint('tablet') {
            margin: 0 0 15px;
            max-width: 350px;
        }
        @include breakpoint('desktop_small') {
            max-width: 310px;
            margin-bottom: 29px;
        }
        @include breakpoint('desktop') {
            max-width: 352px;
        }
        &_heading {
            display: flex;
            align-items: center;
            margin: 20px 0 40px;
            &-img {
                max-height: 42px;
                margin: 0 17px 0 5px;
            }
        }
        &_img {
            height: 220px;
            max-width: 350px;
            margin-bottom: 15px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            @include breakpoint('tablet'){
                height: 300px;
            }
        }
        &_bar {
            background: $cl-gray;
            margin-top: 12px;
            @include breakpoint('desktop_small') {
                display: none;
            }
            &-href {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                min-height: 37px;
            }
        }
    }
}