.parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    background-image: url('../images/catalog_parallax.png');
    box-sizing: border-box;
    padding: 30px;
    @include breakpoint('desktop_small') {
        padding: 110px 0 90px;
        height: 415px;
    }
    .catalog {
        &_container {
            @include breakpoint('desktop_small') {
                display: flex;
                max-width: 1180px;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
            }
        }
        &_text, &_cta {
            @include breakpoint('desktop_small') {
                margin: 0 27px;
            }
        }
        &_text {
            background-color: rgba(0,0,0,.42);
            color: #fff;
            padding: 16px;
            @include breakpoint('desktop_small') {
                max-width: 620px;
            }
        }
        &_cta {
            .btn {
                &_primary {
                    display: block;
                    text-align: center;
                    padding: 16px;
                    background-color: #fff;
                    color: #000;
                    transition: opacity .3s;
                    @include breakpoint('desktop_small') {
                        display: inline-block;
                    }
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }
}