.realizations-slider {
    .header-slider-wrapper {
        &_item {
            padding: 0 15px;
            box-sizing: border-box;
            @include breakpoint('tablet') {
                margin-bottom: 20px;
            }
            @include breakpoint('desktop_small') {
                margin: 40px 0 32px;
                justify-content: center;
            }
            &-box {
                display: flex;
                align-items: center;
                &-img {
                    max-width: 300px;
                    height: auto;
                    margin: 0 auto 32px;
                    @include breakpoint('tablet') {
                        max-height: 300px;
                    }
                    @include breakpoint('desktop_small') {
                        max-width: 350px;
                        max-height: none;
                    }
                }
            }
        }
    }
}