.sitemap {
    background: $cl-kgh;
    padding: 38px 15px 15px;
    @include breakpoint('desktop') {
        padding: 38px 0 15px;
    }
    .content-wrapper {
        @include breakpoint('tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &-list {
        margin-bottom: 15px;
        line-height: 30px;
        text-align: center;
        @include breakpoint('tablet') {
            text-align: left;
        }
    }
    &-logo {
        @include breakpoint('tablet') {
            width: 100%;
        }
        @include breakpoint('desktop_small') {
            width: auto;
            display: flex;
            align-items: center;
            margin-right: 50px;
        }
        &_img {
            max-width: 240px;
            margin: 30px auto 5px;
            display: block;
            @include breakpoint('desktop_small') {
                margin: auto;
            }
        }
    }
}