.slick-dots {
    justify-content: center;
    background: $cl-kgh;
    display: none !important;
    @include breakpoint('tablet') {
        display: flex !important;
        height: 10px;
        align-items: center;
        margin: 50px 0;
    }
    @include breakpoint('desktop_small') {
        margin: 22px 0 50px;
    }
    li {
        border: 2px solid transparent;
        margin: 0 4px;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        align-items: center;
        transition: .1s all;
        button {
            z-index: 2;
            cursor: pointer;
            color: transparent;
            background: $cl-kghRed;
            border-radius: 50%;
            border-color: $cl-kghRed;
            height: 14px;
            width: 14px;
            border: 0;
            position: relative;
        }
        &.slick-active {
            border-color: $cl-kghRed;
            button {
                width: 20px;
                height: 20px;
            }
        }
        &::after {
            content: '';
            background: $cl-white;
            height: 22px;
            width: 75px;
            position: absolute;
        }
    }
}

.realizations-slider {
    .slick-dots {
        li {
            &.slick-active {
                border-color: $cl-black;
            }
        }
    }
}