.slider-arrows {
    display: none !important;
    height: 62px;
    width: 62px;
    background-size: 35px;
    background-position-x: 10px;
    cursor: pointer;
    background: $cl-white;
    position: absolute;
    top: -42px;
    bottom: 0;
    z-index: 2;
    margin: auto;
    background-image: url('../images/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    @include breakpoint('tablet') {
        display: inline !important;
    }
    &.right {
        right: 0;
        transform: rotate(180deg);
    }
}

.collabo-slider {
    .slider-arrows {
        top: 0;
    }
}