.subpage-heading {
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        line-height: 70px;
        @include breakpoint('tablet') {
            line-height: normal;
            justify-content: space-between;
            position: relative;
        }
        &:first-of-type {
            margin: 45px auto 20px;
            @include breakpoint('tablet') {
                margin: 62px auto;
            }
            &::after {
                @include breakpoint('tablet') {
                    content: '';
                    height: 8px;
                    background: $cl-kgh;
                    width: calc(100% - 52px);
                    margin: 0 auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &.w-brands {
            margin-bottom: 0;
            @include breakpoint('tablet') {
                margin-bottom: 0;
            }
        }
    }
    &.no-realizations {
        .content-wrapper {
            &::after {
                @include breakpoint('tablet') {
                    left: auto;
                    right: 15px;
                    width: calc(100% - 140px);
                }
                @include breakpoint('desktop_small') {
                    right: 0;
                    width: calc(100% - 126px);
                }
            }
        }
    }
    &_brand {
        margin: 0 25px;
        @include breakpoint('tablet'){
            margin-top: 10px;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                margin: 0 auto;
                display: flex;
                align-items: center;
                margin: 15px auto;
                @include breakpoint('tablet'){
                    margin: 0 auto;
                }
                @include breakpoint('tablet'){
                    margin-right: 10px;
                }
                img {}
            }
        }
    }
}