<template>

    <div id="app">

        <h1>Użytkownicy</h1>

        <UserList :users="users" />

        <br>

        <ol>
            <li v-for="user in users">{{ user.name }} - {{ user.age }}</li>
        </ol>

    </div>

</template>

<script>

import UserList from "./components/UserList";

export default {
    name: "App",
    computed: {
        users() {
            return this.$store.state.users;
        }
    },
    components: {
        UserList
    }
}

</script>