@import '_custom/_reset.scss';
@import '_custom/_mixins.scss';
@import '_custom/_custom.scss';
@import '_custom/_btn.scss';
@import '_custom/_typo.scss';


body{
  overflow-x: hidden;
}

.content-wrapper{
  @include breakpoint('desktop_small'){
    width: 100%;
    margin: 0 auto;
    max-width: 1540px;
  }
}


.header{
  height: 100vh;
  min-height: 538px;
  padding: 15px;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint('tablet'){
    height: 868px;
  }
  @include breakpoint('tablet_big'){
    position: relative;
  }
  &::after{
    @include breakpoint('tablet_big'){
      content: '';
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      width: 23.5%;
      background: $cl-primary;
      position: absolute;
      @include breakpoint('desktop_small'){
        width: 27%;
      }
      @include breakpoint('desktop_big'){
        width: 35%;
      }
    }
  }
  .content-wrapper{
    height: 100%;
    @include breakpoint('tablet_big'){
      position: relative;
      &::after{
        content: url('../images/hero.png');
        position: absolute;
        top: 0px;
        right: -20%;
        z-index: 3;
        transform: scale(0.5);
        top: 36px;
        @include breakpoint('desktop_small'){
          transform: scale(0.6);
          right: -14%;
        }
        @include breakpoint('desktop'){
          transform: scale(0.8);
          right: -7%;
        }
        @include breakpoint('desktop_big'){
          right: 5%;
        }
      }
    }
  }
  &_top-bar{
    .brand{
      display: inline-block;
      &_logo{
        width: 90%;
        @include breakpoint('tablet'){
          width: 200px;
        }
      }
    }
    .burger-menu{
      display: inline-block;
      padding: 14px;
      float: right;
      margin-right: 10px;
      @include breakpoint('tablet_big'){
        position: absolute;
        right: 0;
        z-index: 2;
      }
      @include breakpoint('desktop'){
        right: 66px;
        top: 4px;
      }
      .brick{
        background: $cl-primary;
        height: 4px;
        width: 32px;
        @include breakpoint('tablet_big'){
          background: $cl-white;
        }
        @include breakpoint('desktop_small'){
          height: 2px;
          width: 24px;
        }
        &_middle{
          margin: 4px 0;
          @include breakpoint('desktop_small'){
            margin: 3px 0;
          }
        }
      }
    }
  }
  &_main{
    @include breakpoint('tablet'){
      margin-top: 336px;
    }
    .slider{
      margin-top: 110px;
      .slick-list{
        @include breakpoint('tablet'){
          width: 90%;
          float: right;
        }
        @include breakpoint('desktop_small'){
          width: 94%;
        }
      }
      .slick-dots{
        text-align: center;
        @include breakpoint('tablet'){
          text-align: left;
          display: inline-block;
          position: relative;
          top: -23px;
          float: right;
          margin-right: 12px;
        }
        li{
          display: inline-block;
          margin: 10px 15px;
          @include breakpoint('tablet'){
            margin: 1px 0;
            display: block;
          }
          &.slick-active{
            button{
              background: $cl-primary;
            }
          }
          button{
            border: none;
            border-radius: 50px;
            color: transparent;
            background: $cl-grey;
            height: 12px;
            width: 10px;
            @include breakpoint('tablet'){
              transform: scale(0.5);
            }
          }
        }
      }
    }
  }
}


.about-us{
  background: $cl-primary;
  .four-boxes{
    padding-top: 50px;
    @include breakpoint('tablet'){
      padding: 0 15px;
      text-align: center;
      padding-top: 0;
      position: relative;
      top: -55px;
      z-index: 2;
    }
    @include breakpoint('desktop_small'){
      width: 95%;
      margin: 0 auto;
    }
    .box{
      width: 90%;
      background: $cl-white;
      margin: 0 auto 20px;
      padding-bottom: 25px;
      @include breakpoint('phone'){
        width: 80%;
        margin-bottom: 30px;
      }
      @include breakpoint('phone_big'){
        width: 50%;
      }
      @include breakpoint('tablet'){
        width: 340px;
        height: 405px;
        display: inline-block;
        margin: 6px 6px;
      }
      @include breakpoint('desktop_small'){
        width: 24%;
        height: 456px;
        margin: auto;
      }
      @include breakpoint('desktop_big'){
        margin: 0 16px;
        max-width: 333px;
        width: 22%;
      }
      &_icon{
        display: block;
        margin: 0 auto;
        padding: 34px 0 32px;
        @include breakpoint('desktop_small'){
          padding-top: 66px;
        }
      }
    }
  }
  .about-us-row{
    padding-bottom: 20px;
    position: relative;
    @include breakpoint('tablet'){
      padding-bottom: 60px;
    }
    @include breakpoint('desktop_small'){
      height: 360px;
      padding-bottom: 100px;
    }
    .about-us{
      &_text{
        @include breakpoint('desktop_small'){
          width: 45%;
          display: inline-block;
        }
        @include breakpoint('desktop'){
          width: 40%;
        }
      }
      &_image-wrapper{
        @include breakpoint('desktop_small'){
          background-image: url(../images/shop.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 370px;
          width: 50%;
          display: inline-block;
          position: absolute;
          top: 45px;
          right: 40px;
        }
        @include breakpoint('desktop'){
          width: 65%;
          top: -75px;
          right: -62px;
          height: 560px;
        }
        @include breakpoint('desktop_big'){
          top: -205px;
          max-width: 1050px;
          height: 690px;
          right: -140px;
          width: 70%;
        }
      }
    }
  }
}


// services styles
.services{
  padding: 50px 10px 0;
  @include breakpoint('desktop_small'){
    padding-top: 70px;
  }
  @include breakpoint('desktop'){
    padding-top: 120px;
  }
  &_boxes-wrapper{
    float: left;
    @include breakpoint('tablet'){
      text-align: center;
      height: 645px;
      margin-bottom: 66px;
      float: none;
    }
    @include breakpoint('desktop_small'){
      margin: 0 auto 66px;
    }
    .heading{
      margin-bottom: 62px;
    }
    .box{
      width: 90%;
      padding: 15px;
      position: relative;
      -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
      margin: 30px auto;
      transition: .2s all;
      @include breakpoint('tablet'){
        float: left;
        width: 50%;
        display: inline-block;
        text-align: left;
        box-sizing: border-box;
        padding: 30px 15px 30px 30px;
        margin: inherit;
        box-shadow: none;
        margin-bottom: 42px;
      }
      @include breakpoint('desktop_small'){
        width: 33.3%;
        max-width: 550px;
        margin-bottom: 50px;
      }
      &:hover{
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.25);
      }
    }
  }
  &_bar{
    float: left;
    @include breakpoint('desktop_small'){
      margin: 0 auto;
      float: none;
    }
    .bar{
      background: $cl-primary;
      clear: both;
      padding-bottom: 20px;
      @include breakpoint('tablet'){
        padding-bottom: 60px;
      }
      @include breakpoint('desktop'){
        height: 214px;
      }
      &_image{
        display: none;
        @include breakpoint('tablet_big'){
         position: absolute;
         right: 0;
         display: block;
         height: 350px;
         bottom: -40px;
        }
        @include breakpoint('desktop'){
          right: 30px;
          height: 410px;
          bottom: -90px;
        }
      }
    }
  }
}

// logotypes styles
.logotypes{
  clear: both;
  padding: 20px 0;
  @include breakpoint('tablet'){
    padding-top: 80px;
  }
  @include breakpoint('desktop'){
    padding-top: 120px;
  }
  &_wrapper{
    @include breakpoint('tablet'){
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 0;
    }
    @include breakpoint('desktop_small'){
      width: 100%;
    }
    .box{
      border-bottom: 1px solid $cl-border;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      padding-bottom: 10px;
      min-height: 110px;
      max-width: 200px;
      position: relative;
      @include breakpoint('tablet'){
        display: inline-block;
        width: 33.3%;
        margin-bottom: 0;
        &:nth-child(3n+2){
          border-left: 1px solid $cl-border;
          border-right: 1px solid $cl-border;
        }
      }
      @include breakpoint('desktop_small'){
        width: 16.5%;
        max-width: none;
        padding-bottom: 30px;
        &:nth-child(3){
          border-right: 1px solid $cl-border;
        }
      }
      &_logo{
        max-width: 150px;
        max-height: 90px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        @include breakpoint('tablet'){
          max-width: 140px;
          max-height: 80px;
        }
        @include breakpoint('desktop_small'){
          max-width: 150px;
          max-height: 70px;
        }
        @include breakpoint('desktop'){
          max-height: 80px;
          max-width: 160px;
        }
      }
    }
  }
}


// map styles
.map{
  margin-bottom: 40px;
  &_wrapper{
    .map{
      border-bottom: 7px solid $cl-primary;
    }
  }
}


// footer styles
.footer{
  @include breakpoint('tablet'){
    background-image: url(../images/cisan-big.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &_boxes-primary{
    margin-bottom: 30px;
    @include breakpoint('tablet'){
      text-align: center;
      margin-bottom: 12px;
    }
    @include breakpoint('desktop_small'){
      width: 75%;
      margin: 0 auto 12px;
    }
    @include breakpoint('desktop'){
      width: 60%;
    }
    .box{
      width: 70%;
      margin: 0 auto;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      @include breakpoint('tablet'){
        margin-bottom: 0;
        width: 24%;
        margin: inherit;
        display: inline-block;
      }
      &_icon{
        display: block;
        margin: 0 auto 10px;
      }
    }
  }
  &_boxes-secondary{
    text-align: center;
    height: 40px;
    @include breakpoint('phone_big'){
      width: 50%;
      margin: 0 auto;
    }
    @include breakpoint('tablet'){
      width: 35%;
    }
    @include breakpoint('desktop_small'){
      width: 28%;
    }
    @include breakpoint('desktop'){
      width: 22%;
    }
    @include breakpoint('desktop_big'){
      width: 20%;
    }
    .box{
      display: inline-block;
      width: 25%;
      float: left;
      &_icon{
        height: 36px;
      }
    }
  }
  &_box-wrapper{
    text-align: center;
    margin: 30px 0;
    .box{
      display: inline-block;
    }
  }
  &_bar{
    height: 42px;
    background: $cl-primary;
    display: table;
    width: 100%;
    text-align: center;
  }
}
