/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: 0; }

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.ui-state-active .m-btn_primary {
  background-color: #598527;
  color: #8dc63f;
  border-color: #598527; }

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900; }

.preloader {
  z-index: 10;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff; }
  .preloader_img {
    width: 150px;
    animation: spin 2s ease infinite;
    animation-direction: alternate; }

@keyframes spin {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px; }
  .m-btn_primary {
    background: white;
    color: red;
    border: 2px solid red; }
  .m-btn_secondary {
    background: transparent;
    color: white;
    border: 2px solid white; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Light.otf"); }

@font-face {
  font-family: "MyriadPro-Semi";
  src: url("../fonts/MyriadPro-Semibold.otf"); }

@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../fonts/MyriadPro-Cond.otf"); }

@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../fonts/MyriadPro-BoldCond.otf"); }

.typo {
  font-family: MyriadPro, sans-serif;
  color: black; }
  .typo_primary {
    font-family: MyriadPro-BoldCond, sans-serif;
    font-size: 24px; }
    .typo_primary.heading {
      font-size: 32px;
      display: table;
      margin: 26px auto 38px;
      position: relative;
      text-transform: uppercase; }
      @media screen and (min-width: 768px) {
        .typo_primary.heading {
          font-size: 36px; } }
      .typo_primary.heading::before {
        content: url("../images/brand-logo-small.png");
        position: absolute;
        left: -65px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 54px; }
  .typo_secondary {
    font-family: MyriadPro-Semi, Sans-serif; }
  .typo_text {
    font-family: 'Roboto', sans-serif; }

.header-nav_social .typo_blog {
  font-size: 24px;
  font-weight: bold;
  background: #ff6c00;
  color: white;
  display: inline-block;
  padding: 5px 14px 5px;
  border-radius: 50px;
  line-height: 25px; }

.header-nav_about a:first-of-type .typo_primary {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  opacity: 0;
  transition: .3s opacity;
  z-index: 2; }

.header-nav_about a:first-of-type:hover .typo_primary {
  opacity: 1; }

.header-nav_about .typo_primary {
  font-size: 18px;
  letter-spacing: 0.2px;
  font-style: italic;
  line-height: 25px; }

.nav-list li {
  font-family: MyriadPro-Semi, Sans-serif; }
  .nav-list li.current-menu-item a {
    color: #ff6c00; }
  .nav-list li a {
    color: white;
    font-size: 22px;
    transition: .3s color; }
    @media screen and (min-width: 768px) {
      .nav-list li a {
        font-size: 25px; } }
    @media screen and (min-width: 1024px) {
      .nav-list li a {
        letter-spacing: -0.5px;
        font-size: 18px; } }
    .nav-list li a:hover {
      color: #ff6c00; }

.bar .typo_primary {
  color: white;
  letter-spacing: 0.2px;
  font-size: 22px;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .bar .typo_primary {
      font-size: 30px;
      padding: 0; } }

.offer-box_excerpt .typo_text {
  padding: 0 5px; }

.offer-box_bar .typo_secondary {
  color: white;
  font-size: 18px; }

.offer-box_img-caption .typo {
  color: white;
  font-size: 18px;
  margin-bottom: 9px; }
  .offer-box_img-caption .typo:first-of-type, .offer-box_img-caption .typo:last-of-type {
    position: relative;
    transition: .3s all; }
  .offer-box_img-caption .typo:first-of-type {
    font-size: 30px;
    top: -80px; }
  .offer-box_img-caption .typo:last-of-type {
    left: -100px; }

.offer-box:hover .offer-box_img-caption .typo:first-of-type {
  top: 0; }

.offer-box:hover .offer-box_img-caption .typo:last-of-type {
  left: 0; }

.realizations-slider .typo {
  max-width: 332px;
  margin: 0 auto; }
  .realizations-slider .typo_primary {
    font-size: 19px;
    margin-bottom: 12px; }
  .realizations-slider .typo_text {
    opacity: .7; }

.sitemap ul li a {
  font-family: MyriadPro, sans-serif;
  color: white;
  transition: .3s color; }
  .sitemap ul li a:hover {
    color: #ff6c00; }

.copyright-bar a {
  font-size: 16px;
  transition: .3s color; }
  @media screen and (min-width: 768px) {
    .copyright-bar a {
      font-size: 14px; } }
  .copyright-bar a:hover {
    color: #ff6c00; }

.copyright-bar .typo_secondary {
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: -0.3px; }
  @media screen and (min-width: 768px) {
    .copyright-bar .typo_secondary {
      font-size: 14px; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar .typo_secondary {
      margin-bottom: 0; } }
  .copyright-bar .typo_secondary:last-of-type {
    margin-bottom: 0; }
  @media screen and (min-width: 1024px) {
    .copyright-bar .typo_secondary:nth-child(2) {
      margin-left: auto;
      padding-right: 10px;
      margin-right: 10px;
      position: relative; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar .typo_secondary:nth-child(2)::after {
      content: '';
      height: 15px;
      width: 1px;
      background: white;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; } }

.highlights_heading .typo_primary {
  font-size: 22px;
  background: white;
  border: 2px solid black;
  padding: 9px 54px 9px 12px;
  letter-spacing: 0.8px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 28px;
  max-width: 220px; }
  @media screen and (min-width: 768px) {
    .highlights_heading .typo_primary {
      font-size: 36px;
      padding: 9px 62px 9px 10px;
      max-width: 350px; } }
  .highlights_heading .typo_primary::after {
    content: url("../images/loupe.png");
    display: block;
    display: block;
    position: absolute;
    background: #ff6c00;
    border: 2px solid black;
    top: -2px;
    bottom: 0;
    right: -2px;
    height: 34px;
    padding: 8px 5px 0; }

.highlights_heading .typo_text {
  max-width: 828px;
  margin: 0 auto; }

.highlights-boxes_box .typo_primary {
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.1px; }
  @media screen and (min-width: 768px) {
    .highlights-boxes_box .typo_primary {
      margin-bottom: 34px; } }

@media screen and (min-width: 1024px) {
  .highlights-boxes_box .typo_text {
    padding: 0 15px; } }

.footer-boxes_box_heading .typo_primary {
  color: white; }

.footer-boxes_box .text-wrapper .typo_text {
  line-height: 22px;
  color: #4e484c; }
  .footer-boxes_box .text-wrapper .typo_text:nth-child(2) {
    padding: 15px 0; }
    @media screen and (min-width: 768px) {
      .footer-boxes_box .text-wrapper .typo_text:nth-child(2) {
        padding: 20px 0; } }
  .footer-boxes_box .text-wrapper .typo_text a {
    color: #4e484c; }

.wpcf7-form input,
.wpcf7-form textarea {
  font-size: 16px;
  font-family: "MyriadPro";
  color: #4e484c; }
  .wpcf7-form input::-webkit-input-placeholder,
  .wpcf7-form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4e484c; }
  .wpcf7-form input::-moz-placeholder,
  .wpcf7-form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #4e484c; }
  .wpcf7-form input:-ms-input-placeholder,
  .wpcf7-form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #4e484c; }
  .wpcf7-form input:-moz-placeholder,
  .wpcf7-form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #4e484c; }

.articles .typo_primary {
  margin-bottom: 15px; }
  @media screen and (min-width: 1024px) {
    .articles .typo_primary {
      margin-bottom: 20px; } }

.articles-more .typo_secondary {
  padding: 7px 37px 7px 10px;
  background: black;
  display: inline-block;
  color: white;
  font-size: 22px;
  font-family: "MyriadPro-Cond";
  letter-spacing: 0.8px;
  position: relative; }
  .articles-more .typo_secondary::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 16px;
    border-color: transparent transparent transparent white;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto; }

.subpage-listing-row .typo_primary {
  letter-spacing: -0.6px;
  margin-bottom: 15px;
  font-size: 24px; }
  @media screen and (min-width: 768px) {
    .subpage-listing-row .typo_primary {
      margin-bottom: 25px; } }

.subpage-listing-row .typo_text {
  font-family: MyriadPro, sans-serif;
  letter-spacing: 0.2px; }

.realizations-listing.tales .realizations-listing-item_descr .typo_secondary {
  font-size: 20px;
  letter-spacing: -0.4px;
  margin-bottom: 10px; }

.realizations-listing.tales .realizations-listing-item_descr .typo_text {
  line-height: 19px; }

.page-heading .typo {
  font-family: MyriadPro-BoldCond, sans-serif;
  font-size: 24px;
  line-height: 32px; }

.subpage-heading .typo_primary {
  margin: 0 15px;
  color: #ff6c00;
  font-size: 24px;
  cursor: pointer; }
  .subpage-heading .typo_primary.title {
    padding: 10px 0;
    max-width: 400px;
    line-height: 32px; }
    @media screen and (min-width: 768px) {
      .subpage-heading .typo_primary.title {
        margin-right: auto; } }
    @media screen and (min-width: 1024px) {
      .subpage-heading .typo_primary.title {
        max-width: 580px; } }
  @media screen and (min-width: 768px) {
    .subpage-heading .typo_primary.realziations {
      margin-left: auto; } }
  .subpage-heading .typo_primary a {
    font-size: 24px;
    color: black;
    transition: .3s color; }
    .subpage-heading .typo_primary a:hover {
      color: #ff6c00; }

.page-template-template-comics .subpage-listing_heading.typo_text {
  font-family: "MyriadPro-Cond";
  font-size: 18px;
  line-height: 26px; }
  @media screen and (min-width: 768px) {
    .page-template-template-comics .subpage-listing_heading.typo_text {
      margin: -10px auto 42px;
      max-width: 560px; } }
  @media screen and (min-width: 1024px) {
    .page-template-template-comics .subpage-listing_heading.typo_text {
      margin: -45px auto 42px;
      max-width: 660px; } }

.article p {
  font-family: "MyriadPro";
  color: black;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 0 15px; }
  @media screen and (min-width: 1200px) {
    .article p {
      margin: 0; } }
  .article p em {
    font-style: italic;
    font-family: MyriadPro-BoldCond, Sans-serif; }

.www-offer_heading {
  font-size: 20px;
  width: 175px;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  line-height: 28px;
  font-weight: bold;
  flex-wrap: wrap; }
  .www-offer_heading strong {
    color: #ff6c00; }

.www-offer_descr {
  font-size: 18px;
  margin: 18px 0 26px; }

.content-wrapper.article ul {
  margin: 20px 15px; }
  @media screen and (min-width: 1024px) {
    .content-wrapper.article ul {
      margin: 20px 0; } }
  .content-wrapper.article ul li {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    color: black;
    font-family: MyriadPro, sans-serif; }
    .content-wrapper.article ul li:last-of-type {
      margin-bottom: 0; }
    .content-wrapper.article ul li::after {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #ff6c00;
      left: 0;
      top: 4px; }

.content-wrapper.article p a {
  color: #ff6c00;
  font-family: MyriadPro-Semi, Sans-serif; }

.content-wrapper.article h2 {
  font-family: MyriadPro-BoldCond, sans-serif;
  color: #ff6c00;
  font-size: 20px;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .content-wrapper.article h2 {
      padding-right: 150px; } }

.bar {
  background: black;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center; }

.offer .content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 640px) {
    .offer .content-wrapper {
      justify-content: space-around; } }
  @media screen and (min-width: 768px) {
    .offer .content-wrapper {
      margin: 0 15px; } }
  @media screen and (min-width: 1024px) {
    .offer .content-wrapper {
      justify-content: space-between; } }
  @media screen and (min-width: 1200px) {
    .offer .content-wrapper {
      margin: 0 auto; } }

.offer-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px 15px;
  max-width: 352px; }
  @media screen and (min-width: 640px) {
    .offer-box {
      max-width: 45%; } }
  @media screen and (min-width: 768px) {
    .offer-box {
      margin: 0 0 15px;
      max-width: 350px; } }
  @media screen and (min-width: 1024px) {
    .offer-box {
      max-width: 310px;
      margin-bottom: 29px; } }
  @media screen and (min-width: 1200px) {
    .offer-box {
      max-width: 352px; } }
  .offer-box_heading {
    display: flex;
    align-items: center;
    margin: 20px 0 16px; }
    .offer-box_heading-img {
      max-height: 42px;
      margin: 0 17px 0 5px; }
  .offer-box_img {
    height: 228px;
    max-width: 350px;
    border: 1px solid black;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    .offer-box_img-caption {
      display: none; }
      @media screen and (min-width: 1024px) {
        .offer-box_img-caption {
          position: absolute;
          display: block;
          padding: 20px 0 0 32px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.6);
          display: flex;
          justify-content: center;
          flex-direction: column;
          opacity: 0;
          transition: .3s all;
          visibility: hidden; } }
  .offer-box_bar {
    background: #a0a0a0;
    margin-top: 12px; }
    @media screen and (min-width: 1024px) {
      .offer-box_bar {
        display: none; } }
    .offer-box_bar-href {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      min-height: 37px; }
  @media screen and (min-width: 1024px) {
    .offer-box a:hover .offer-box_img-caption {
      opacity: 1;
      visibility: visible; } }

.header-slider {
  background: black;
  position: relative; }
  @media screen and (min-width: 768px) {
    .header-slider {
      display: block;
      padding-bottom: 8px; } }
  .header-slider-wrapper_item-img {
    margin: 0 4px 8px;
    height: 370px; }
    @media screen and (min-width: 768px) {
      .header-slider-wrapper_item-img {
        height: 365px;
        margin: 0 4px; } }
    @media screen and (min-width: 1024px) {
      .header-slider-wrapper_item-img {
        height: 405px; } }
    @media screen and (min-width: 1200px) {
      .header-slider-wrapper_item-img {
        height: 445px; } }

.slider-arrows {
  display: none !important;
  height: 65px;
  width: 65px;
  cursor: pointer;
  background: white;
  position: absolute;
  top: -18px;
  bottom: 0;
  z-index: 2;
  margin: auto;
  background-image: url("../images/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 38px; }
  @media screen and (min-width: 768px) {
    .slider-arrows {
      display: inline !important; } }
  .slider-arrows.right {
    right: 0;
    transform: rotate(180deg); }

.realizations-slider .slider-arrows,
.collabo-slider .slider-arrows {
  filter: invert(100%); }

.collabo-slider .slider-arrows {
  top: 0; }

.slick-dots {
  justify-content: center;
  padding: 10px 0;
  display: none !important; }
  @media screen and (min-width: 768px) {
    .slick-dots {
      display: flex !important; } }
  .slick-dots li {
    border: 2px solid transparent;
    margin: 0 4px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    transition: .1s all; }
    .slick-dots li button {
      cursor: pointer;
      color: transparent;
      background: red;
      border-radius: 50%;
      border-color: #ff6c00;
      height: 14px;
      width: 14px;
      border: 0;
      position: relative;
      background-image: url(../images/slider-dot.png);
      background-size: cover;
      background-repeat: no-repeat; }
      .slick-dots li button::after {
        content: '';
        position: absolute;
        height: 14px;
        width: 14px;
        background: green;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 50px; }
    .slick-dots li.slick-active {
      border-color: white; }

.realizations-slider .slick-dots li.slick-active {
  border-color: black; }

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 15px 6px;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  border-bottom: 8px solid black;
  background: white;
  transition: .3s padding; }
  @media screen and (min-width: 1024px) {
    .header-nav {
      transition: none;
      position: static;
      justify-content: space-between;
      padding: 14px 15px 48px;
      border-bottom: 0; } }
  @media screen and (min-width: 1200px) {
    .header-nav {
      padding: 14px 0 48px; } }
  .header-nav_logo-img {
    max-width: 210px;
    transition: .3s all; }
    @media screen and (min-width: 1024px) {
      .header-nav_logo-img {
        max-width: 220px; } }
    @media screen and (min-width: 1200px) {
      .header-nav_logo-img {
        max-width: 270px; } }
  .header-nav.reduced {
    padding: 8px 15px 0px; }
    @media screen and (min-width: 1024px) {
      .header-nav.reduced {
        padding: 14px 15px 48px; } }
    .header-nav.reduced .header-nav_logo-img {
      max-width: 150px; }
      @media screen and (min-width: 1024px) {
        .header-nav.reduced .header-nav_logo-img {
          max-width: 220px; } }
      @media screen and (min-width: 1200px) {
        .header-nav.reduced .header-nav_logo-img {
          max-width: 270px; } }
    .header-nav.reduced .burger_item {
      height: 5px;
      width: 35px; }
      .header-nav.reduced .burger_item:nth-child(2) {
        margin: 4px 0; }
    .header-nav.reduced .nav-list {
      margin-top: 65px; }
      @media screen and (min-width: 1024px) {
        .header-nav.reduced .nav-list {
          margin-top: 0; } }
      .header-nav.reduced .nav-list.is-active {
        height: calc(100vh - 64px); }
      .header-nav.reduced .nav-list li {
        margin: 10px 0; }
        @media screen and (min-width: 768px) {
          .header-nav.reduced .nav-list li {
            margin: 12px 0; } }
        @media screen and (min-width: 1024px) {
          .header-nav.reduced .nav-list li {
            margin: 0; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav.desktop-fixed .content-wrapper .header-nav_nav-brand-logo {
      opacity: 1;
      visibility: visible; } }
  @media screen and (min-width: 1024px) {
    .header-nav_nav .content-wrapper {
      position: relative; } }
  .header-nav_nav .content-wrapper .header-nav_nav-brand-logo {
    display: none; }
    @media screen and (min-width: 1024px) {
      .header-nav_nav .content-wrapper .header-nav_nav-brand-logo {
        transition: .3s all;
        visibility: hidden;
        opacity: 0;
        display: flex;
        position: absolute;
        top: 0;
        z-index: 4; } }
    @media screen and (min-width: 1200px) {
      .header-nav_nav .content-wrapper .header-nav_nav-brand-logo {
        left: -6px; } }

.burger {
  margin-left: auto; }
  .burger_item {
    display: block;
    width: 45px;
    height: 7px;
    background: black;
    transition: .3s all;
    cursor: pointer; }
    .burger_item:nth-child(2) {
      margin: 5px 0; }
  @media screen and (min-width: 1024px) {
    .burger {
      display: none; } }

@media screen and (min-width: 1024px) {
  .header-nav_nav {
    max-width: none;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: black;
    height: 43px;
    top: 130px; } }

@media screen and (min-width: 1024px) {
  .header-nav_nav.desktop-fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 3;
    padding-bottom: 0; } }

.header-nav_nav .nav-list {
  background: black;
  position: absolute;
  bottom: 0;
  top: -1px;
  left: 0;
  right: 0;
  margin-top: 95px;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s height, opacity;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .header-nav_nav .nav-list {
      transition: 0s;
      height: 42px;
      overflow: visible;
      opacity: 1;
      clear: both;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 3;
      box-sizing: border-box;
      padding: 2px 15px 0 75px;
      margin: 0 auto;
      max-width: 1180px;
      top: 0; } }
  @media screen and (min-width: 1200px) {
    .header-nav_nav .nav-list {
      padding: 2px 0 0 75px; } }
  .header-nav_nav .nav-list li {
    margin: 6px 0;
    opacity: 0;
    transition: .3s opacity; }
    .header-nav_nav .nav-list li:last-of-type {
      margin-bottom: 35px; }
      @media screen and (min-width: 1024px) {
        .header-nav_nav .nav-list li:last-of-type {
          margin: 0; } }
    @media screen and (min-width: 768px) {
      .header-nav_nav .nav-list li {
        margin: 12px 0; } }
    @media screen and (min-width: 1024px) {
      .header-nav_nav .nav-list li {
        opacity: 1;
        margin: 0; } }
  .header-nav_nav .nav-list.is-active {
    height: calc(100vh - 94px);
    opacity: 1; }
    .header-nav_nav .nav-list.is-active li {
      opacity: 1; }
  .header-nav_nav .nav-list_close {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer; }
    @media screen and (min-width: 1024px) {
      .header-nav_nav .nav-list_close {
        display: none; } }

.header-nav_about {
  display: none; }
  @media screen and (min-width: 1024px) {
    .header-nav_about {
      display: flex;
      align-items: center;
      max-width: 560px;
      margin: 0 36px 0 26px; } }
  @media screen and (min-width: 1200px) {
    .header-nav_about {
      max-width: 610px; } }
  .header-nav_about-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: .3s filter; }
  .header-nav_about a {
    position: relative;
    border: 3px solid #a0a0a0;
    border-radius: 50%;
    padding: 2px;
    margin-right: 20px; }
    .header-nav_about a:hover .header-nav_about-img {
      filter: brightness(70%); }

.header-nav_social {
  display: none; }
  @media screen and (min-width: 1024px) {
    .header-nav_social {
      display: flex;
      flex-wrap: wrap;
      width: 158px;
      justify-content: center; } }
  .header-nav_social a {
    height: 35px; }
    .header-nav_social a:first-child {
      margin: 0 22px 15px 0; }
  .header-nav_social span a:first-child {
    margin: 0; }

.realizations-slider .header-slider-wrapper_item {
  padding: 0 15px;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .realizations-slider .header-slider-wrapper_item {
      margin-bottom: 20px; } }
  @media screen and (min-width: 1024px) {
    .realizations-slider .header-slider-wrapper_item {
      margin-bottom: 4px; } }
  .realizations-slider .header-slider-wrapper_item-box {
    height: 340px;
    display: flex;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .realizations-slider .header-slider-wrapper_item-box {
        height: 378px; } }
    .realizations-slider .header-slider-wrapper_item-box-img {
      max-width: 300px;
      height: auto;
      margin: 20px auto 20px; }
      @media screen and (min-width: 768px) {
        .realizations-slider .header-slider-wrapper_item-box-img {
          max-height: 300px; } }
      @media screen and (min-width: 1024px) {
        .realizations-slider .header-slider-wrapper_item-box-img {
          max-width: 350px;
          max-height: none; } }

.highlights {
  background: #f1eae0;
  margin-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 1024px) {
    .highlights {
      margin-top: 42px;
      padding-bottom: 28px; } }
  .highlights_heading {
    padding: 35px 15px 26px; }
  @media screen and (min-width: 768px) {
    .highlights-boxes {
      display: flex;
      justify-content: space-around; } }
  .highlights-boxes_box {
    margin-bottom: 40px;
    padding: 0 15px; }
    .highlights-boxes_box:last-of-type {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .highlights-boxes_box {
        margin-bottom: 0; } }
    .highlights-boxes_box-img {
      max-width: 140px;
      margin: 20px auto 35px;
      display: block; }
      @media screen and (min-width: 1024px) {
        .highlights-boxes_box-img {
          max-width: 190px;
          margin-bottom: 40px;
          letter-spacing: -0.1px; } }

.wpcf7-form {
  padding: 0 15px;
  box-sizing: border-box; }
  @media screen and (min-width: 1200px) {
    .wpcf7-form {
      padding: 0; } }
  .wpcf7-form p {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .wpcf7-form p {
        width: 80%; } }
  .wpcf7-form textarea,
  .wpcf7-form input {
    border: 1px solid #a0a0a0;
    padding-left: 18px;
    box-sizing: border-box;
    width: 100%; }
  .wpcf7-form input {
    height: 44px;
    margin-bottom: 18px; }
    @media screen and (min-width: 768px) {
      .wpcf7-form input {
        margin-bottom: 12px; } }
    .wpcf7-form input.wpcf7-submit {
      font-family: "MyriadPro-BoldCond";
      font-size: 26px;
      background: transparent;
      border: none;
      width: auto;
      float: right;
      margin-top: 14px;
      cursor: pointer; }
      @media screen and (min-width: 1024px) {
        .wpcf7-form input.wpcf7-submit {
          margin-top: 26px; } }
      @media screen and (min-width: 1200px) {
        .wpcf7-form input.wpcf7-submit {
          margin-top: 36px; } }
    .wpcf7-form input.wpcf7-not-valid {
      border-color: red; }
  .wpcf7-form textarea {
    padding-top: 14px;
    height: 120px;
    resize: none; }
  .wpcf7-form .wpcf7-not-valid-tip,
  .wpcf7-form .wpcf7-response-output {
    font-family: "MyriadPro"; }
  .wpcf7-form .wpcf7-not-valid-tip {
    position: relative;
    top: -10px;
    padding-left: 5px; }
  .wpcf7-form .wpcf7-response-output {
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 40px;
    color: black;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .wpcf7-form .wpcf7-response-output {
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      .wpcf7-form .wpcf7-response-output {
        margin-top: 60px; } }

.copyright-bar {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 15px 35px;
  width: 100%;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .copyright-bar {
      padding: 15px; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar {
      display: block; } }
  @media screen and (min-width: 1200px) {
    .copyright-bar {
      padding: 20px 0; } }
  @media screen and (min-width: 1024px) {
    .copyright-bar .content-wrapper {
      display: flex;
      justify-content: space-between; } }

.sitemap {
  background: black;
  padding: 38px 15px 15px; }
  @media screen and (min-width: 1200px) {
    .sitemap {
      padding: 38px 0 15px; } }
  @media screen and (min-width: 768px) {
    .sitemap .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  .sitemap-list {
    margin-bottom: 15px;
    line-height: 30px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .sitemap-list {
        text-align: left; } }
  @media screen and (min-width: 768px) {
    .sitemap-logo {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .sitemap-logo {
      width: auto;
      display: flex;
      align-items: center;
      margin-right: 50px; } }
  .sitemap-logo_img {
    max-width: 240px;
    margin: 30px auto 5px;
    display: block; }
    @media screen and (min-width: 1024px) {
      .sitemap-logo_img {
        margin: auto; } }

.collabo-slider {
  margin: 20px 0; }
  @media screen and (min-width: 768px) {
    .collabo-slider {
      margin: 40px 0; } }
  .collabo-slider .header-slider-wrapper_item-box-img {
    max-width: 300px;
    height: auto;
    margin: 20px auto 20px;
    max-width: 200px;
    max-height: 150px; }
    @media screen and (min-width: 768px) {
      .collabo-slider .header-slider-wrapper_item-box-img {
        max-width: 180px;
        max-height: 180px; } }
    @media screen and (min-width: 1024px) {
      .collabo-slider .header-slider-wrapper_item-box-img {
        max-width: 230px;
        max-height: 230px; } }
  .collabo-slider .slick-track {
    display: flex;
    align-items: center; }

.articles {
  margin: 20px 0; }
  @media screen and (min-width: 768px) {
    .articles {
      margin-top: 40px; } }
  @media screen and (min-width: 1024px) {
    .articles {
      margin-top: 52px; } }
  .articles-item {
    margin: 0 15px 40px; }
    @media screen and (min-width: 768px) {
      .articles-item {
        margin: 0 0 60px; } }
    @media screen and (min-width: 1024px) {
      .articles-item {
        margin: 0 15px 40px; } }
    @media screen and (min-width: 1200px) {
      .articles-item {
        margin: 0 0 60px; } }
    @media screen and (min-width: 768px) {
      .articles-item-href {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 25px 46px; } }
    @media screen and (min-width: 1024px) {
      .articles-item-href {
        margin: 0 0 50px 55px; } }
    @media screen and (min-width: 1200px) {
      .articles-item-href {
        margin-bottom: 46px;
        margin: 0 0 46px 70px; } }
    @media screen and (min-width: 768px) {
      .articles-item-href:last-of-type {
        margin-bottom: 36px; } }
    @media screen and (min-width: 1200px) {
      .articles-item-href:last-of-type {
        margin-bottom: 46px; } }
    .articles-item-href .articles-item_img {
      height: 228px;
      max-width: 350px;
      margin-bottom: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto 15px; }
      @media screen and (min-width: 768px) {
        .articles-item-href .articles-item_img {
          width: 246px;
          height: 165px;
          margin: 0; } }
    @media screen and (min-width: 768px) {
      .articles-item-href .articles-item_content {
        width: 62%; } }
    @media screen and (min-width: 1024px) {
      .articles-item-href .articles-item_content {
        width: 66%; } }
    @media screen and (min-width: 1200px) {
      .articles-item-href .articles-item_content {
        width: 68%; } }
  @media screen and (min-width: 1024px) {
    .articles.main .articles-item-href {
      margin: 0 60px 46px; } }
  @media screen and (min-width: 1200px) {
    .articles.main .articles-item-href {
      margin: 0 110px 46px; } }
  @media screen and (min-width: 1200px) {
    .articles.main .articles-item-href .articles-item_content {
      width: 70%; } }
  .articles-more {
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .articles-more {
        margin-bottom: 36px; } }
    @media screen and (min-width: 1024px) {
      .articles-more {
        margin: 0 30px 40px; } }
    .articles-more_href {
      margin: 0; }

.other_posts-template-default .articles-more,
.other_posts-template-default .other-h {
  display: none; }

.post-template-default .other-h {
  display: none; }

.subpage-listing {
  margin: 0 15px; }
  @media screen and (min-width: 1200px) {
    .subpage-listing {
      margin: 0; } }
  .subpage-listing .content-wrapper .subpage-listing-row {
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      .subpage-listing .content-wrapper .subpage-listing-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 62px; } }
    @media screen and (min-width: 1024px) {
      .subpage-listing .content-wrapper .subpage-listing-row {
        align-items: flex-start; } }
    .subpage-listing .content-wrapper .subpage-listing-row_img {
      height: 228px;
      max-width: 350px;
      margin-top: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 15px auto 0; }
      @media screen and (min-width: 768px) {
        .subpage-listing .content-wrapper .subpage-listing-row_img {
          height: 280px;
          margin: 0; } }
      @media screen and (min-width: 1024px) {
        .subpage-listing .content-wrapper .subpage-listing-row_img {
          height: 330px;
          max-width: 440px; } }
      @media screen and (min-width: 1200px) {
        .subpage-listing .content-wrapper .subpage-listing-row_img {
          height: 350px; } }
    @media screen and (min-width: 768px) {
      .subpage-listing .content-wrapper .subpage-listing-row_img, .subpage-listing .content-wrapper .subpage-listing-row_content {
        width: 48%; } }
    .subpage-listing .content-wrapper .subpage-listing-row:nth-child(even) {
      flex-direction: row-reverse; }
  .subpage-listing_heading {
    letter-spacing: -0.2px;
    line-height: 32px;
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      .subpage-listing_heading {
        margin-bottom: 62px; } }

.page-heading {
  display: flex;
  align-items: center;
  padding: 16px 0;
  justify-content: center;
  margin: 20px 0 25px; }
  @media screen and (min-width: 1024px) {
    .page-heading {
      margin: 40px 0 50px; } }
  .page-heading_img {
    max-height: 42px;
    margin: 0 17px 0 5px; }

.realizations-listing {
  background: #e1e1e1;
  padding: 0 15px 15px; }
  @media screen and (min-width: 1200px) {
    .realizations-listing {
      padding: 0 0 15px; } }
  .realizations-listing-item {
    margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .realizations-listing-item {
        width: 33.3%;
        max-width: 253px;
        display: inline-block;
        float: left;
        padding: 0 15px;
        box-sizing: border-box; } }
    @media screen and (min-width: 1024px) {
      .realizations-listing-item {
        width: 25%;
        max-width: none; } }
    .realizations-listing-item_img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 250px;
      height: 325px;
      margin: 0 auto;
      position: relative; }
      @media screen and (min-width: 1024px) {
        .realizations-listing-item_img {
          height: 360px;
          max-width: none; } }
      @media screen and (min-width: 1024px) {
        .realizations-listing-item_img:hover .realizations-listing-item_img-heading {
          opacity: 1;
          visibility: visible; } }
      .realizations-listing-item_img-heading {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 15px 15px 0;
        bottom: 10px;
        left: 10px;
        right: 10px; }
        @media screen and (min-width: 1024px) {
          .realizations-listing-item_img-heading {
            opacity: 0;
            visibility: hidden;
            transition: .3s all; } }
        .realizations-listing-item_img-heading span {
          letter-spacing: 0.3px; }
          .realizations-listing-item_img-heading span:last-of-type {
            padding: 46px 0 8px;
            display: block; }
  @media screen and (min-width: 768px) {
    .realizations-listing.tales .realizations-listing-item {
      width: 50%;
      max-width: none; } }
  @media screen and (min-width: 1024px) {
    .realizations-listing.tales .realizations-listing-item {
      width: 33.3%; } }
  .realizations-listing.tales .realizations-listing-item_img {
    margin: 0;
    max-width: none;
    height: 265px; }
    @media screen and (min-width: 768px) {
      .realizations-listing.tales .realizations-listing-item_img {
        height: 275px; } }
    @media screen and (min-width: 1024px) {
      .realizations-listing.tales .realizations-listing-item_img {
        max-width: 360px;
        margin: 0 auto; } }
  .realizations-listing.tales .realizations-listing-item_descr {
    background: white;
    padding: 14px 10px;
    margin-top: 4px; }
    @media screen and (min-width: 768px) {
      .realizations-listing.tales .realizations-listing-item_descr {
        height: 91px; } }
    @media screen and (min-width: 1024px) {
      .realizations-listing.tales .realizations-listing-item_descr {
        max-width: 360px;
        margin: 4px auto 0;
        box-sizing: border-box;
        height: auto;
        max-height: 138px; } }

.page-heading {
  margin: 25px 0 25px; }

.subpage-heading .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0 25px;
  line-height: 70px; }
  @media screen and (min-width: 768px) {
    .subpage-heading .content-wrapper {
      line-height: normal;
      justify-content: space-between;
      position: relative; } }
  @media screen and (min-width: 1024px) {
    .subpage-heading .content-wrapper {
      margin: 50px auto 56px; } }
  @media screen and (min-width: 768px) {
    .subpage-heading .content-wrapper::after {
      content: '';
      height: 3px;
      background: #a0a0a0;
      width: calc(100% - 138px);
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; } }

@media screen and (min-width: 768px) {
  .subpage-heading.no-realizations .content-wrapper::after {
    left: auto;
    right: 15px;
    width: calc(100% - 84px); } }

@media screen and (min-width: 1024px) {
  .subpage-heading.no-realizations .content-wrapper::after {
    right: 0;
    width: calc(100% - 69px); } }

@media screen and (min-width: 1024px) {
  .footer {
    border-top: 48px solid black; } }

.footer-boxes {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .footer-boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; } }
  @media screen and (min-width: 1024px) {
    .footer-boxes {
      position: relative;
      top: -48px;
      margin-bottom: -42px; } }
  .footer-boxes_box {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .footer-boxes_box {
        width: 50%; } }
    @media screen and (min-width: 1024px) {
      .footer-boxes_box {
        width: 33.3%;
        margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .footer-boxes_box:last-of-type {
        width: 100%; } }
    @media screen and (min-width: 1024px) {
      .footer-boxes_box:last-of-type {
        width: 33.3%; } }
    .footer-boxes_box_heading {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 0;
      background: black;
      margin-bottom: 20px; }
      @media screen and (min-width: 1024px) {
        .footer-boxes_box_heading {
          margin-bottom: 27px;
          padding: 3px 0 0; } }
      .footer-boxes_box_heading-img {
        max-height: 42px;
        margin: 0 17px 0 5px; }
        @media screen and (min-width: 768px) {
          .footer-boxes_box_heading-img {
            margin-right: 6px; } }
    .footer-boxes_box .text-wrapper {
      border: 1px solid #a0a0a0;
      margin: 0 15px;
      padding: 15px; }
      @media screen and (min-width: 768px) {
        .footer-boxes_box .text-wrapper {
          display: inline-block;
          padding: 18px 24px; } }
    .footer-boxes_box_list {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media screen and (min-width: 768px) {
        .footer-boxes_box_list {
          flex-direction: row;
          justify-content: space-evenly; } }
      @media screen and (min-width: 1024px) {
        .footer-boxes_box_list {
          flex-wrap: wrap; } }
      .footer-boxes_box_list-item {
        margin-bottom: 15px; }
        @media screen and (min-width: 768px) {
          .footer-boxes_box_list-item {
            margin: 0; } }
        @media screen and (min-width: 1024px) {
          .footer-boxes_box_list-item {
            margin-bottom: 15px; } }
        @media screen and (min-width: 1200px) {
          .footer-boxes_box_list-item {
            margin-bottom: 22px; } }
        .footer-boxes_box_list-item:last-of-type {
          margin-bottom: 0; }
          @media screen and (min-width: 1024px) {
            .footer-boxes_box_list-item:last-of-type {
              margin-bottom: 15px; } }
          @media screen and (min-width: 1200px) {
            .footer-boxes_box_list-item:last-of-type {
              margin-bottom: 22px; } }
        .footer-boxes_box_list-item-img {
          border: 1px solid #a0a0a0;
          height: 146px;
          width: 152px; }
          @media screen and (min-width: 1024px) {
            .footer-boxes_box_list-item-img {
              max-width: 130px; } }
          @media screen and (min-width: 1200px) {
            .footer-boxes_box_list-item-img {
              max-width: 165px; } }

.contact {
  padding: 0 15px;
  margin-bottom: 25px; }
  @media screen and (min-width: 980px) {
    .contact {
      margin-bottom: 56px; } }
  .contact .content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 1024px) {
      .contact .content-wrapper {
        justify-content: space-between; } }
    .contact .content-wrapper .contact-figure {
      margin: 0 auto 20px;
      display: inline-block; }
      @media screen and (min-width: 1024px) {
        .contact .content-wrapper .contact-figure {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0; } }
    @media screen and (min-width: 1024px) {
      .contact .content-wrapper .contact_descr {
        width: 72%; } }

.article .articles-more {
  padding: 0;
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .article .articles-more {
      margin-top: 50px; } }
  @media screen and (min-width: 1024px) {
    .article .articles-more {
      margin: 65px 0 56px; } }

.article.content-wrapper img {
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .article.content-wrapper img {
      max-width: 520px;
      margin-left: 0; } }
  @media screen and (min-width: 1024px) {
    .article.content-wrapper img {
      padding: 0; } }

@media screen and (min-width: 768px) {
  .article.content-wrapper p {
    padding-right: 150px; } }

.article.content-wrapper .articles-more .typo {
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .article.content-wrapper .articles-more .typo_secondary {
      padding-right: 37px; } }

.article .grid-gallery {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .article .grid-gallery {
      margin-top: 50px; } }
  @media screen and (min-width: 768px) {
    .article .grid-gallery .gg-link {
      max-width: 50%; } }
  .article .grid-gallery .gg-link .grid-gallery-caption {
    height: auto !important; }
    .article .grid-gallery .gg-link .grid-gallery-caption .ggImg {
      height: auto !important; }

.article.tales-article {
  margin-bottom: 40px; }
  @media screen and (min-width: 1024px) {
    .article.tales-article {
      margin-bottom: 56px; } }

.www-offer-item {
  margin-bottom: 52px;
  display: flex;
  max-width: 290px;
  flex-wrap: wrap; }
  @media screen and (min-width: 480px) {
    .www-offer-item {
      margin: 0 15px 52px; } }
  @media screen and (min-width: 768px) {
    .www-offer-item {
      max-width: 300px; } }
  @media screen and (min-width: 1200px) {
    .www-offer-item {
      margin: 0 0 52px; } }
  .www-offer-item_img {
    max-height: 61px; }
  .www-offer-item_list {
    line-height: 32px; }
    .www-offer-item_list-item::before {
      content: '';
      display: inline-block;
      background-color: #5e6b72;
      height: 10px;
      width: 10px;
      margin-right: 22px; }

.www-offer .content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: space-around; }
  @media screen and (min-width: 768px) {
    .www-offer .content-wrapper {
      padding: 0; } }

.coloring-items {
  margin: 0 15px; }
  @media screen and (min-width: 768px) {
    .coloring-items {
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 30px; } }
  .coloring-items_item {
    width: 100%;
    height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px) {
      .coloring-items_item {
        width: 320px; } }
    @media screen and (min-width: 1024px) {
      .coloring-items_item {
        width: 380px;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .coloring-items_item {
        width: 480px;
        height: 360px; } }
  .coloring-items a {
    margin: 15px; }

body {
  overflow-x: hidden;
  background: white;
  padding-top: 90px; }
  @media screen and (min-width: 1024px) {
    body {
      padding-top: 0; } }
  body.is-active {
    overflow: hidden; }

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1180px; } }

@media screen and (min-width: 1024px) {
  .content-wrapper.narrow {
    max-width: 874px; } }

@media screen and (min-width: 1200px) {
  .content-wrapper.narrow {
    max-width: 920px; } }

@media screen and (min-width: 1024px) {
  .content-wrapper.article {
    max-width: 782px; } }
