.footer{
	background: url(./../images/footer-bg.png) center bottom no-repeat;
	background-size: cover;
	@include breakpoint('desktop_small'){
		background-position-y: 86%;
		padding-top: 70px;
	}
	@include breakpoint('desktop_colossal'){
		background-position-y: 78%;
	}
	&_content{
		padding: 0 15px;
		box-sizing: border-box;
		@include breakpoint('desktop_small'){
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-box{
			margin-bottom: 30px;
			@include breakpoint('desktop_small'){
				float: left;
				margin-bottom: 0;
			}
			&:first-of-type{
				@include breakpoint('desktop_small'){
					width: 26%;
					position: relative;
				}
			}
			&:last-of-type{
				@include breakpoint('desktop_small'){
					width: 64%;
				}
			}
			&-social{
				@include breakpoint('desktop_small'){
					position: absolute;
					left: 0;
				    right: 0;
				    bottom: -15.5px;
				}
			}
			figure{
				text-align: center;
				margin: 30px 0;
				@include breakpoint('desktop_small'){
					margin: 42px 0;
				}
			}
		}
	}
}
