.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px;
  &_primary{
    background: $cl-white;
    color: $cl-grey;
    border: 2px solid $cl-grey;
  }
  &_secondary{
    background: transparent;
    color: $cl-white;
    border: 2px solid $cl-white;
  }
}
.about-us{
  .m-btn{
    margin: 0 auto;
    text-align: center;
    position: relative;
    @include breakpoint('tablet'){
      bottom: -20px;
    }
    @include breakpoint('desktop_small'){
      bottom: -10px;
    }
    @include breakpoint('desktop'){
      bottom: -6px;
    }
  }
  &_text{
    .m-btn{
      background: $cl-white;
      @include breakpoint('desktop_small'){
        margin: inherit;
        margin-left: 15px;
      }
    }
  }
}
.services{
  &_bar{
    .m-btn{
      text-align: center;
      margin: 0 auto;
      @include breakpoint('tablet'){
        float: left;
        margin-left: 15px;
      }
      @include breakpoint('desktop'){
        position: absolute;
        bottom: 15px;
      }
    }
  }
}
