/**
 *
 * Colors variables
 *
 */
$cl-white: rgba(255,255,255,1);
$cl-pure-grey: rgba(51,51,51,1);
$cl-grey: rgba(146,161,165,1);
$cl-border: rgba(237,237,237,1);
$cl-primary: rgba(255,95,28,1);
$cl-secondary: rgba(0,158,227,1);
$cl-tertiary: rgb(0,158,227);

body,
html,
a {
  font-family: 'Montserrat', sans-serif;
  color: $cl-primary;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.ui-state-active {
  .m-btn {
    &_primary {
      background-color: $cl-primary;
      color: $cl-secondary;
      border-color: $cl-primary;
    }
  }
}

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900;
}
