// FONTS

// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Poppins', sans-serif;


.m-typo {
  transition: color .3s;
  &_url {
    font-size: 11px;
    &::before {
      margin-right: 6px;
    }
    &:hover {
      color: $cl-secondary;
    }
  }
  &_primary {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: $cl-white;
    margin-bottom: 30px;
    line-height: 32px;
    letter-spacing: 0;
  }
  &_secondary {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    color: $cl-white;
    line-height: 30px;
    letter-spacing: 0;
  }
}

.header{
  &_top-bar{
    .brand{
      .m-typo{
        &_primary{
          color: $cl-grey;
          font-size: 14px;
          display: none;
          margin-bottom: 0;
          @include breakpoint('tablet'){
            display: block;
            float: right;
            line-height: 48px;
            &::before{
              content: url('../images/phone-icon.png');
              height: 10px;
              width: 10px;
              margin: 0 6px 0 10px;
            }
          }
        }
      }
    }
  }
  &_main{
    .slider{
      .m-typo{
        &_primary{
          color: #000;
          font-size: 54px;
          line-height: 55px;
          font-weight: 800;
          margin-bottom: 26px;
          @include breakpoint('tablet'){
            padding-left: 30px;
          }
          @include breakpoint('desktop_small'){
            padding-left: 43px;
          }
        }
        &_secondary{
          color: $cl-grey;
          font-size: 15px;
          font-weight: 500;
          @include breakpoint('phone'){
            width: 90%;
          }
          @include breakpoint('phone_big'){
            width: 70%;
          }
          @include breakpoint('tablet'){
            font-size: 14px;
            width: 60%;
            max-width: 450px;
            padding-left: 35px;
          }
          @include breakpoint('desktop_small'){
            width: 50%;
            padding-left: 48px;
          }
        }
      }
    }
  }
}
.about-us{
  .m-typo{
    &_primary{
      color: $cl-grey;
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px;
    }
    &_secondary{
      font-size: 15px;
      color: $cl-grey;
      padding: 0 20px;
      text-align: center;
      margin-bottom: 30px;
      @include breakpoint('tablet'){
        margin-bottom: 5px;
        height: 120px;
      }
      @include breakpoint('desktop_small'){
        height: 145px;
      }
      @include breakpoint('desktop'){
        height: 125px;
      }
    }
  }
  &_text{
    .m-typo{
      padding: 0 15px;
      color: $cl-white;
      text-align: left;
      &_primary{
        text-align: center;
        margin: 60px 0 44px;
        @include breakpoint('desktop_small'){
          text-align: left;
        }
      }
      &_secondary{
        margin-bottom: 40px;
        line-height: 29px;
        height: 100%;
        @include breakpoint('tablet'){
          margin-bottom: 30px;
        }
        @include breakpoint('desktop_small'){
          padding-right: 50px;
        }
        @include breakpoint('desktop'){
          padding-right: 100px;
        }
      }
    }
  }
}
.services{
  &_boxes-wrapper{
    .heading{
      .m-typo{
        color: $cl-primary;
        text-align: center;
        padding: 0 15px;
        @include breakpoint('tablet'){
          text-align: left;
          padding: 0 30px;
        }
      }
    }
    .box{
      .m-typo{
        &_primary{
          color: $cl-pure-grey;
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 10px;
          display: inline-block;
          letter-spacing: -1.5px;
          &:last-child{
            color: $cl-primary;
            font-size: 18px;
            position: absolute;
            bottom: -5px;
            right: 30px;
            transition: .2s all;
            letter-spacing: 0;
            @include breakpoint('tablet'){
              opacity: 0;
              visibility: hidden;
            }
          }
        }
        &_secondary{
          color: $cl-grey;
          letter-spacing: 0.2px;
          padding-right: 20px;
          line-height: 28px;
        }
      }
      &:hover{
        .m-typo{
          &_primary{
            &:last-child{
              @include breakpoint('tablet'){
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  &_bar{
    .bar{
      @include breakpoint('tablet_big'){
        position: relative;
      }
      .m-typo{
        &_primary{
          text-transform: uppercase;
          text-align: center;
          padding-top: 20px;
          @include breakpoint('tablet'){
            padding-top: 40px;
            text-align: left;
            padding-left: 15px;
            display: inline-block;
            margin-bottom: 22px;
          }
        }
        &_secondary{
          padding: 0 15px;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 28px;
          @include breakpoint('tablet_big'){
            width: 50%;
          }
        }
      }
    }
  }
}
.footer{
  .m-typo{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
  }
  &_boxes-primary{
    .m-typo{
      &_primary{
        color: $cl-primary;
        text-align: center;
      }
    }
  }
  &_bar{
    .m-typo{
      &_primary{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
