{% if data is not empty %}

    <section class="slider">
        <div class="slider_container">
            {% for slide in data %}
                <div class="slider_item">
                    {{ slide|raw }}
                </div>
            {% endfor %}
        </div>
    </section>

{% endif %}
