/**
 * Wordpress template created for "Trener Personalny Dawid Woźniakowski"
 *
 * Version 1.0
 * Date: 08.08.2017
 *
 * @author Sebastian Ślęczka @ sebastians@interpages.pl
 *
 * @package WordPress
 *
 */

.is-loading .b-four-boxes{
	opacity: 0.2;
}
.is-loading {
	position: relative;
}
.is-loading::after {
	content: url('assets/images/spinner.svg');
    position: absolute;
    width: 40px;
    left: calc(50% - 28px);
    top: calc(50% - 28px);
    height: 40px;
    display: block;
    z-index: 1999999;
}