/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: 0; }

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-family: 'Montserrat', sans-serif;
  color: #ff5f1c;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.ui-state-active .m-btn_primary {
  background-color: #ff5f1c;
  color: #009ee3;
  border-color: #ff5f1c; }

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900; }

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px; }
  .m-btn_primary {
    background: white;
    color: #92a1a5;
    border: 2px solid #92a1a5; }
  .m-btn_secondary {
    background: transparent;
    color: white;
    border: 2px solid white; }

.about-us .m-btn {
  margin: 0 auto;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .about-us .m-btn {
      bottom: -20px; } }
  @media screen and (min-width: 1024px) {
    .about-us .m-btn {
      bottom: -10px; } }
  @media screen and (min-width: 1200px) {
    .about-us .m-btn {
      bottom: -6px; } }

.about-us_text .m-btn {
  background: white; }
  @media screen and (min-width: 1024px) {
    .about-us_text .m-btn {
      margin: inherit;
      margin-left: 15px; } }

.services_bar .m-btn {
  text-align: center;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .services_bar .m-btn {
      float: left;
      margin-left: 15px; } }
  @media screen and (min-width: 1200px) {
    .services_bar .m-btn {
      position: absolute;
      bottom: 15px; } }

.m-typo {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }
  .m-typo_url {
    font-size: 11px; }
    .m-typo_url::before {
      margin-right: 6px; }
    .m-typo_url:hover {
      color: #009ee3; }
  .m-typo_primary {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 30px;
    line-height: 32px;
    letter-spacing: 0; }
  .m-typo_secondary {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    color: white;
    line-height: 30px;
    letter-spacing: 0; }

.header_top-bar .brand .m-typo_primary {
  color: #92a1a5;
  font-size: 14px;
  display: none;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .header_top-bar .brand .m-typo_primary {
      display: block;
      float: right;
      line-height: 48px; }
      .header_top-bar .brand .m-typo_primary::before {
        content: url("../images/phone-icon.png");
        height: 10px;
        width: 10px;
        margin: 0 6px 0 10px; } }

.header_main .slider .m-typo_primary {
  color: #000;
  font-size: 54px;
  line-height: 55px;
  font-weight: 800;
  margin-bottom: 26px; }
  @media screen and (min-width: 768px) {
    .header_main .slider .m-typo_primary {
      padding-left: 30px; } }
  @media screen and (min-width: 1024px) {
    .header_main .slider .m-typo_primary {
      padding-left: 43px; } }

.header_main .slider .m-typo_secondary {
  color: #92a1a5;
  font-size: 15px;
  font-weight: 500; }
  @media screen and (min-width: 480px) {
    .header_main .slider .m-typo_secondary {
      width: 90%; } }
  @media screen and (min-width: 640px) {
    .header_main .slider .m-typo_secondary {
      width: 70%; } }
  @media screen and (min-width: 768px) {
    .header_main .slider .m-typo_secondary {
      font-size: 14px;
      width: 60%;
      max-width: 450px;
      padding-left: 35px; } }
  @media screen and (min-width: 1024px) {
    .header_main .slider .m-typo_secondary {
      width: 50%;
      padding-left: 48px; } }

.about-us .m-typo_primary {
  color: #92a1a5;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px; }

.about-us .m-typo_secondary {
  font-size: 15px;
  color: #92a1a5;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .about-us .m-typo_secondary {
      margin-bottom: 5px;
      height: 120px; } }
  @media screen and (min-width: 1024px) {
    .about-us .m-typo_secondary {
      height: 145px; } }
  @media screen and (min-width: 1200px) {
    .about-us .m-typo_secondary {
      height: 125px; } }

.about-us_text .m-typo {
  padding: 0 15px;
  color: white;
  text-align: left; }
  .about-us_text .m-typo_primary {
    text-align: center;
    margin: 60px 0 44px; }
    @media screen and (min-width: 1024px) {
      .about-us_text .m-typo_primary {
        text-align: left; } }
  .about-us_text .m-typo_secondary {
    margin-bottom: 40px;
    line-height: 29px;
    height: 100%; }
    @media screen and (min-width: 768px) {
      .about-us_text .m-typo_secondary {
        margin-bottom: 30px; } }
    @media screen and (min-width: 1024px) {
      .about-us_text .m-typo_secondary {
        padding-right: 50px; } }
    @media screen and (min-width: 1200px) {
      .about-us_text .m-typo_secondary {
        padding-right: 100px; } }

.services_boxes-wrapper .heading .m-typo {
  color: #ff5f1c;
  text-align: center;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .services_boxes-wrapper .heading .m-typo {
      text-align: left;
      padding: 0 30px; } }

.services_boxes-wrapper .box .m-typo_primary {
  color: #333333;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: -1.5px; }
  .services_boxes-wrapper .box .m-typo_primary:last-child {
    color: #ff5f1c;
    font-size: 18px;
    position: absolute;
    bottom: -5px;
    right: 30px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    letter-spacing: 0; }
    @media screen and (min-width: 768px) {
      .services_boxes-wrapper .box .m-typo_primary:last-child {
        opacity: 0;
        visibility: hidden; } }

.services_boxes-wrapper .box .m-typo_secondary {
  color: #92a1a5;
  letter-spacing: 0.2px;
  padding-right: 20px;
  line-height: 28px; }

@media screen and (min-width: 768px) {
  .services_boxes-wrapper .box:hover .m-typo_primary:last-child {
    opacity: 1;
    visibility: visible; } }

@media screen and (min-width: 980px) {
  .services_bar .bar {
    position: relative; } }

.services_bar .bar .m-typo_primary {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px; }
  @media screen and (min-width: 768px) {
    .services_bar .bar .m-typo_primary {
      padding-top: 40px;
      text-align: left;
      padding-left: 15px;
      display: inline-block;
      margin-bottom: 22px; } }

.services_bar .bar .m-typo_secondary {
  padding: 0 15px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 28px; }
  @media screen and (min-width: 980px) {
    .services_bar .bar .m-typo_secondary {
      width: 50%; } }

.footer .m-typo {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400; }

.footer_boxes-primary .m-typo_primary {
  color: #ff5f1c;
  text-align: center; }

.footer_bar .m-typo_primary {
  display: table-cell;
  vertical-align: middle; }

body {
  overflow-x: hidden; }

@media screen and (min-width: 1024px) {
  .content-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1540px; } }

.header {
  height: 100vh;
  min-height: 538px;
  padding: 15px;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .header {
      height: 868px; } }
  @media screen and (min-width: 980px) {
    .header {
      position: relative; } }
  @media screen and (min-width: 980px) {
    .header::after {
      content: '';
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      width: 23.5%;
      background: #ff5f1c;
      position: absolute; } }
  @media screen and (min-width: 980px) and (min-width: 1024px) {
    .header::after {
      width: 27%; } }
  @media screen and (min-width: 980px) and (min-width: 1370px) {
    .header::after {
      width: 35%; } }
  .header .content-wrapper {
    height: 100%; }
    @media screen and (min-width: 980px) {
      .header .content-wrapper {
        position: relative; }
        .header .content-wrapper::after {
          content: url("../images/hero.png");
          position: absolute;
          top: 0px;
          right: -20%;
          z-index: 3;
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          top: 36px; } }
    @media screen and (min-width: 980px) and (min-width: 1024px) {
      .header .content-wrapper::after {
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
        right: -14%; } }
    @media screen and (min-width: 980px) and (min-width: 1200px) {
      .header .content-wrapper::after {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        right: -7%; } }
    @media screen and (min-width: 980px) and (min-width: 1370px) {
      .header .content-wrapper::after {
        right: 5%; } }
  .header_top-bar .brand {
    display: inline-block; }
    .header_top-bar .brand_logo {
      width: 90%; }
      @media screen and (min-width: 768px) {
        .header_top-bar .brand_logo {
          width: 200px; } }
  .header_top-bar .burger-menu {
    display: inline-block;
    padding: 14px;
    float: right;
    margin-right: 10px; }
    @media screen and (min-width: 980px) {
      .header_top-bar .burger-menu {
        position: absolute;
        right: 0;
        z-index: 2; } }
    @media screen and (min-width: 1200px) {
      .header_top-bar .burger-menu {
        right: 66px;
        top: 4px; } }
    .header_top-bar .burger-menu .brick {
      background: #ff5f1c;
      height: 4px;
      width: 32px; }
      @media screen and (min-width: 980px) {
        .header_top-bar .burger-menu .brick {
          background: white; } }
      @media screen and (min-width: 1024px) {
        .header_top-bar .burger-menu .brick {
          height: 2px;
          width: 24px; } }
      .header_top-bar .burger-menu .brick_middle {
        margin: 4px 0; }
        @media screen and (min-width: 1024px) {
          .header_top-bar .burger-menu .brick_middle {
            margin: 3px 0; } }
  @media screen and (min-width: 768px) {
    .header_main {
      margin-top: 336px; } }
  .header_main .slider {
    margin-top: 110px; }
    @media screen and (min-width: 768px) {
      .header_main .slider .slick-list {
        width: 90%;
        float: right; } }
    @media screen and (min-width: 1024px) {
      .header_main .slider .slick-list {
        width: 94%; } }
    .header_main .slider .slick-dots {
      text-align: center; }
      @media screen and (min-width: 768px) {
        .header_main .slider .slick-dots {
          text-align: left;
          display: inline-block;
          position: relative;
          top: -23px;
          float: right;
          margin-right: 12px; } }
      .header_main .slider .slick-dots li {
        display: inline-block;
        margin: 10px 15px; }
        @media screen and (min-width: 768px) {
          .header_main .slider .slick-dots li {
            margin: 1px 0;
            display: block; } }
        .header_main .slider .slick-dots li.slick-active button {
          background: #ff5f1c; }
        .header_main .slider .slick-dots li button {
          border: none;
          border-radius: 50px;
          color: transparent;
          background: #92a1a5;
          height: 12px;
          width: 10px; }
          @media screen and (min-width: 768px) {
            .header_main .slider .slick-dots li button {
              -webkit-transform: scale(0.5);
              -ms-transform: scale(0.5);
              transform: scale(0.5); } }

.about-us {
  background: #ff5f1c; }
  .about-us .four-boxes {
    padding-top: 50px; }
    @media screen and (min-width: 768px) {
      .about-us .four-boxes {
        padding: 0 15px;
        text-align: center;
        padding-top: 0;
        position: relative;
        top: -55px;
        z-index: 2; } }
    @media screen and (min-width: 1024px) {
      .about-us .four-boxes {
        width: 95%;
        margin: 0 auto; } }
    .about-us .four-boxes .box {
      width: 90%;
      background: white;
      margin: 0 auto 20px;
      padding-bottom: 25px; }
      @media screen and (min-width: 480px) {
        .about-us .four-boxes .box {
          width: 80%;
          margin-bottom: 30px; } }
      @media screen and (min-width: 640px) {
        .about-us .four-boxes .box {
          width: 50%; } }
      @media screen and (min-width: 768px) {
        .about-us .four-boxes .box {
          width: 340px;
          height: 405px;
          display: inline-block;
          margin: 6px 6px; } }
      @media screen and (min-width: 1024px) {
        .about-us .four-boxes .box {
          width: 24%;
          height: 456px;
          margin: auto; } }
      @media screen and (min-width: 1370px) {
        .about-us .four-boxes .box {
          margin: 0 16px;
          max-width: 333px;
          width: 22%; } }
      .about-us .four-boxes .box_icon {
        display: block;
        margin: 0 auto;
        padding: 34px 0 32px; }
        @media screen and (min-width: 1024px) {
          .about-us .four-boxes .box_icon {
            padding-top: 66px; } }
  .about-us .about-us-row {
    padding-bottom: 20px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .about-us .about-us-row {
        padding-bottom: 60px; } }
    @media screen and (min-width: 1024px) {
      .about-us .about-us-row {
        height: 360px;
        padding-bottom: 100px; } }
    @media screen and (min-width: 1024px) {
      .about-us .about-us-row .about-us_text {
        width: 45%;
        display: inline-block; } }
    @media screen and (min-width: 1200px) {
      .about-us .about-us-row .about-us_text {
        width: 40%; } }
    @media screen and (min-width: 1024px) {
      .about-us .about-us-row .about-us_image-wrapper {
        background-image: url(../images/shop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 370px;
        width: 50%;
        display: inline-block;
        position: absolute;
        top: 45px;
        right: 40px; } }
    @media screen and (min-width: 1200px) {
      .about-us .about-us-row .about-us_image-wrapper {
        width: 65%;
        top: -75px;
        right: -62px;
        height: 560px; } }
    @media screen and (min-width: 1370px) {
      .about-us .about-us-row .about-us_image-wrapper {
        top: -205px;
        max-width: 1050px;
        height: 690px;
        right: -140px;
        width: 70%; } }

.services {
  padding: 50px 10px 0; }
  @media screen and (min-width: 1024px) {
    .services {
      padding-top: 70px; } }
  @media screen and (min-width: 1200px) {
    .services {
      padding-top: 120px; } }
  .services_boxes-wrapper {
    float: left; }
    @media screen and (min-width: 768px) {
      .services_boxes-wrapper {
        text-align: center;
        height: 645px;
        margin-bottom: 66px;
        float: none; } }
    @media screen and (min-width: 1024px) {
      .services_boxes-wrapper {
        margin: 0 auto 66px; } }
    .services_boxes-wrapper .heading {
      margin-bottom: 62px; }
    .services_boxes-wrapper .box {
      width: 90%;
      padding: 15px;
      position: relative;
      -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
      margin: 30px auto;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
      @media screen and (min-width: 768px) {
        .services_boxes-wrapper .box {
          float: left;
          width: 50%;
          display: inline-block;
          text-align: left;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 30px 15px 30px 30px;
          margin: inherit;
          -webkit-box-shadow: none;
          box-shadow: none;
          margin-bottom: 42px; } }
      @media screen and (min-width: 1024px) {
        .services_boxes-wrapper .box {
          width: 33.3%;
          max-width: 550px;
          margin-bottom: 50px; } }
      .services_boxes-wrapper .box:hover {
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25); }
  .services_bar {
    float: left; }
    @media screen and (min-width: 1024px) {
      .services_bar {
        margin: 0 auto;
        float: none; } }
    .services_bar .bar {
      background: #ff5f1c;
      clear: both;
      padding-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .services_bar .bar {
          padding-bottom: 60px; } }
      @media screen and (min-width: 1200px) {
        .services_bar .bar {
          height: 214px; } }
      .services_bar .bar_image {
        display: none; }
        @media screen and (min-width: 980px) {
          .services_bar .bar_image {
            position: absolute;
            right: 0;
            display: block;
            height: 350px;
            bottom: -40px; } }
        @media screen and (min-width: 1200px) {
          .services_bar .bar_image {
            right: 30px;
            height: 410px;
            bottom: -90px; } }

.logotypes {
  clear: both;
  padding: 20px 0; }
  @media screen and (min-width: 768px) {
    .logotypes {
      padding-top: 80px; } }
  @media screen and (min-width: 1200px) {
    .logotypes {
      padding-top: 120px; } }
  @media screen and (min-width: 768px) {
    .logotypes_wrapper {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 0; } }
  @media screen and (min-width: 1024px) {
    .logotypes_wrapper {
      width: 100%; } }
  .logotypes_wrapper .box {
    border-bottom: 1px solid #ededed;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    min-height: 110px;
    max-width: 200px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .logotypes_wrapper .box {
        display: inline-block;
        width: 33.3%;
        margin-bottom: 0; }
        .logotypes_wrapper .box:nth-child(3n+2) {
          border-left: 1px solid #ededed;
          border-right: 1px solid #ededed; } }
    @media screen and (min-width: 1024px) {
      .logotypes_wrapper .box {
        width: 16.5%;
        max-width: none;
        padding-bottom: 30px; }
        .logotypes_wrapper .box:nth-child(3) {
          border-right: 1px solid #ededed; } }
    .logotypes_wrapper .box_logo {
      max-width: 150px;
      max-height: 90px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto; }
      @media screen and (min-width: 768px) {
        .logotypes_wrapper .box_logo {
          max-width: 140px;
          max-height: 80px; } }
      @media screen and (min-width: 1024px) {
        .logotypes_wrapper .box_logo {
          max-width: 150px;
          max-height: 70px; } }
      @media screen and (min-width: 1200px) {
        .logotypes_wrapper .box_logo {
          max-height: 80px;
          max-width: 160px; } }

.map {
  margin-bottom: 40px; }
  .map_wrapper .map {
    border-bottom: 7px solid #ff5f1c; }

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../images/cisan-big.png);
    background-repeat: no-repeat;
    background-position: center; } }

.footer_boxes-primary {
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .footer_boxes-primary {
      text-align: center;
      margin-bottom: 12px; } }
  @media screen and (min-width: 1024px) {
    .footer_boxes-primary {
      width: 75%;
      margin: 0 auto 12px; } }
  @media screen and (min-width: 1200px) {
    .footer_boxes-primary {
      width: 60%; } }
  .footer_boxes-primary .box {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px; }
    .footer_boxes-primary .box:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .footer_boxes-primary .box {
        margin-bottom: 0;
        width: 24%;
        margin: inherit;
        display: inline-block; } }
    .footer_boxes-primary .box_icon {
      display: block;
      margin: 0 auto 10px; }

.footer_boxes-secondary {
  text-align: center;
  height: 40px; }
  @media screen and (min-width: 640px) {
    .footer_boxes-secondary {
      width: 50%;
      margin: 0 auto; } }
  @media screen and (min-width: 768px) {
    .footer_boxes-secondary {
      width: 35%; } }
  @media screen and (min-width: 1024px) {
    .footer_boxes-secondary {
      width: 28%; } }
  @media screen and (min-width: 1200px) {
    .footer_boxes-secondary {
      width: 22%; } }
  @media screen and (min-width: 1370px) {
    .footer_boxes-secondary {
      width: 20%; } }
  .footer_boxes-secondary .box {
    display: inline-block;
    width: 25%;
    float: left; }
    .footer_boxes-secondary .box_icon {
      height: 36px; }

.footer_box-wrapper {
  text-align: center;
  margin: 30px 0; }
  .footer_box-wrapper .box {
    display: inline-block; }

.footer_bar {
  height: 42px;
  background: #ff5f1c;
  display: table;
  width: 100%;
  text-align: center; }
