// bg
$c0: #212121;
// normalny font
$c1: #ff9800;
// mniejszy font
$c2: #747474;
$c3: #5e6b72;


// mediaqueries
$iphone-center: "(max-width: 360px)";
$mobile: "(min-width: 412px)";
$tablet: "(min-width: 768px)";
$sdesktop: "(min-width: 992px)";
$desktop: "(min-width: 1024px)";
$ldesktop: "(min-width: 1200px)";

// fonts
// kalam - 400, 700
$kalam: 'Kalam', cursive;
// roboto - 400, 400italic, 700, 900
$roboto: 'Roboto', sans-serif;
// caveat 700
$caveat: 'Caveat', cursive;
$bangers: 'Bangers', cursive;

// mixin
@mixin box-shadow {
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

// same
.same-heading{
  font-size: 24px;
  color: $c1;
  font-family: $roboto;
  font-weight: 500;
  text-shadow: 0 1px #fff;
  margin-top: 70px;
  letter-spacing: -.3px;
  .name{
    color: $c0;
  }
}

.same-paragraph{
  text-shadow: 0 1px #fff;
  margin-top: 48px;
  font-size: 16px;
  letter-spacing: -.2px;
  line-height: 32px;
  color: $c0;
  &.margin-bottom{
    margin-bottom: 28px;
  }
  &.padding-bottom{
    padding-bottom: 50px;
  }
}

.same-img{
  width: 100%;
  display: block;
  margin: 40px auto 48px;
  height: 281px;
  @include box-shadow ;
  @media #{$tablet}{
    width: 357px;
  }
  @media (min-width: 590px){
    width: 440px;
  }
  @media (min-width: 660px){
    width: 500px;
  }
  @media (min-width: 768px){
    width: 350px;
  }
  &.article-heading-img{
    @media #{$tablet}{
      width: 727px;
      height: 425px;
      margin-bottom: 20px;
    }
  }
  &.workplace-img{
    height: 308px;
    @media #{$tablet}{
      width: 500px;
    }
    @media (min-width: 992px){
      width: 670px;
    }
  }
}
.button-href{
  .button{
    font-family: $roboto;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    display: inline-block;
    padding: 11px 25px;
    color: #000;
    border: 2px solid #000;
    border-radius: 30px;
    min-width: 200px;
    text-align: center;
    margin: 50px 0 53px;
    max-width: 100%;
  }
}












body{
  background-image: url(../img/bg.jpg);
  color: #fff;
  overflow-x: hidden;
  &.overflow{
    overflow-y: hidden;
  }
}

.nav-bar-wrapper{
  .nav-bg{
    position: fixed;
    width: 100%;
    background-color: $c0;
    // position: relative;
    z-index: 999;
    // @media #{$sdesktop}{
    //   position: static;
    // }
    .navbar{
      border: none;
      transition: .5s;
      position: static;
      height: 115px;
      background: $c0;
      margin-bottom: 0;
      .desktop-nav{
        .brand-box{
          height: 115px;
          position: relative;
          transition: .5s;
          .brand-img{
            position: absolute;
            width: 180px;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: .5s;
            z-index: 99999;
            @media #{$tablet}{
              width: 250px;
              top: 0;
              bottom: 0;
              right: inherit;
            }
            @media #{$sdesktop}{
              top: 60px;
              left: 20px;
            }
            &.reduced{
              width: 140px;
              @media #{$tablet}{
                width: 160px;
              }
              @media #{$sdesktop}{
                width: 180px;
                top: 5px;
              }
            }
          }
          &.reduced{
              height: 65px;
              @media #{$sdesktop}{
                height: 75px;
              }
            }
        }
        .burger-box{
          height: 115px;
          position: static;
          transition: .5s;
          @media #{$sdesktop}{
            padding: 0;
          }
          @media #{$ldesktop}{
            padding: 0 15px;
          }
          .burger{
            margin: 46px auto;
            width: 30px;
            transition: .5s;
            @media #{$tablet}{
              width: 36px;
            }
            .burger-brick{
              height: 3px;
              background-color: #fff;
              &.middle{
                margin: 7px 0;
              }
            }
            &.reduced{
              margin: 21px auto;
            }
          }
          &.reduced{
              height: 65px;
              @media #{$sdesktop}{
                height: 75px;
              }
            }
        }
        .menu-ul{
          padding-left: 0;
          text-align: center;
          position: absolute;
          top: -5000px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: transparent;
          z-index: -1;
          height: 100vh;
          opacity: 0;
          &.open{
            top: 0;
            background-color: $c0;
            opacity: 1;
            transition: .8s;
          }
          @media #{$sdesktop}{
            // position: static;
            top: 1px;
            transition: .4s;
            left: 292px;
            z-index: auto;
            height: auto;
            opacity: 1;
          }
          .menu-li{
            list-style-type: none;
            // display: inline-block;
            display: block;
            font-size: 18px;
            font-family: $roboto;
            font-weight: 700;
            padding: 0 9px 0 9px;
            margin-top: 35px;
            &:first-of-type{
              margin-top: 150px;
              @media #{$sdesktop}{
                margin-top: auto;
              }
            }
            @media #{$sdesktop}{
              margin-top: 67px;
              display: inline-block;
              transition: .5s;
            }
            @media #{$ldesktop}{
              padding: 0 25px;
            }
            .menu-li-href{
              text-decoration: none;
              color: #fff;
              transition: .5s;
              &.active{
                color: $c1;
              }
              &:hover{
                color: $c1;
              }
            }
            &.reduced{
              @media #{$sdesktop}{
                margin-top: 40px;
              }
            }
          }
        }
      }
      &.reduced{
          height: 65px;
        }
    }
  }
  .nav-space{
    height: 115px;
  }
}





.carousel-section{
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 10px;
  @media #{$tablet}{
    padding-top: 20px;
  }
  .container-fluid{
    .top-carousel{
      position: relative;
      .slick-slide{
        margin: 0 7px;
        &:focus{
          outline: 0;
        }
      }
      .carousel-img{
        height: 422px;
        margin-bottom: 2px;
        border: 1px solid #fff;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
      }
    }
    .container{
      .top-carousel-arrows{
        .carousel-ul{
          padding-left: 0;
          position: relative;
          .arrow{
            display: inline-block;
            position: absolute;
            top: -240px;
            &.next{
              right: 0;
            }
          }
        }
      }
    }
    .mobile-slide-wrapper{
      padding: 0;
      .mobile{
        .mobile-slide{
          width: 100%;
        }
      }
    }
  }
}

.afewwords{
  font-family: $roboto;
  margin-bottom: 58px;
  .container{
    .iphone-center{
      @media #{$iphone-center}{
        width: 100%;
      }
    }
      .me{
        display: block;
        margin: 0 auto;
        height: 100px;
        margin-top: 20px;
      }
    .afewwords-topic{
      float: left;
      @media #{$iphone-center}{
        padding-top: 5px;
        float: none;
      }
      @media #{$tablet}{
        float: none;
      }
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      color: $c1;
      text-shadow: 0 1px #fff;
      padding-top: 30px;
      &.mobile{
        margin-bottom: 50px;
      }
      @media #{$sdesktop}{
        padding-top: 0px;
        margin-top: 43px;
        text-align: left;
      }
      .name{
        color: #000;
      }
    }
    .human{
      position: absolute;
      z-index: 3;
      left: -123px;
      top: -145px;
    }
    .afewwords-content{
      border: 3px solid #000;
      position: relative;
      font-size: 16px;
      font-weight: 400;
      background-color: #fff;
      color: #000;
      letter-spacing: -.2px;
      padding: 25px;
      line-height: 30px;
      margin-top: 41px;
      border-radius: 35px;
      @media #{$tablet}{
        border-radius: 50px;
      }
      @media #{$sdesktop}{
        padding: 45px 25px 4px 117px;
      }
      .paragraph{
        margin-bottom: 0;
      }
      .invite{
        margin: 20px 0 0;
        @media #{$tablet}{
          text-align: right;
          padding-right: 13px;
        }
        @media #{$sdesktop}{
          margin-bottom: 20px;
        }
        @media #{$ldesktop}{
          margin-top: 0;
        }
      }
    }
  }
}


.ilustration{
  font-family: $roboto;
.small-lg{
  @media (min-width: 991px) and (max-width: 1200px){
    width: 50%;
  }
  @media (min-width: 1200px) and (max-width: 1500px){
    width: 33.3%;
  }
  .ilustration-box{
    .img-wrapper{
      position: relative;
      .bg{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: aquamarine;
        border: 2px solid #000;
        z-index: 1;
      }
      .ilustration-title{
        height: 240px;
        font-weight: 900;
        border: 1px solid #fff;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        background-image: url(../img/ilustration-img.png);
        background-size: cover;
        max-width: 445px;
        line-height: 30px;
        position: relative;
        font-size: 20px;
        margin: 20px auto 10px;
        transition: .5s;
        z-index: 2;
        &.coloring-page-title{
          background-image: url(../img/coloring-page.png);
        }
        @media #{$tablet}{
          font-size: 22px;
        }
        @media (min-width: 410px){
          height: 350px;
        }
        @media (min-width: 768px){
          height: 280px;
        }
        @media (min-width: 860px){
          height: 320px;
        }
        @media (min-width: 910px){
          height: 330px;
        }
        @media (min-width: 992px){
          height: 355px;
        }
        @media (min-width: 1200px){
          height: 295px;
        }
        @media (min-width: 1300px){
          height: 314px;
        }
        @media (min-width: 1400px){
          height: 344px;
        }
        @media (min-width: 1500px){
          height: 280px;
        }
        @media (min-width: 1600px){
          height: 295px;
        }
        @media (min-width: 1700px){
          height: 315px;
        }
        @media (min-width: 1800px){
          height: 330px;
        }
        @media (min-width: 1900px){
          height: 350px;
        }

        .title-content{
          color: #fff;
          position: absolute;
          bottom: 24px;
          padding: 0 34px;
          text-shadow: -3px 0 #000, -2px -3px #000, 0 3px #000, -2px 1px #000, 3px 0 #000, 2px -3px #000, 2px 3px #000, 0 -4px #000, -1px 5px 2px #000;
        }
        &:hover{
          @media #{$ldesktop}{
            -ms-transform: rotate(-8deg);
            -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
          }
        }
        &.coloring-img{
          background-image: none;
          display: block;
          margin: 20px auto 10px
        }
      }
    }
    .ilustration-paragraph{
      z-index: 2;
      margin: 35px 0 40px;
      color: $c0;
      background-color: #fff;
      border-radius: 50px;
      min-height: 100px;
      line-height: 29px;
      font-size: 16px;
      letter-spacing: .1px;
      border: 3px solid #000;
      padding: 20px 19px;
      text-align: center;
      position: relative;
      @media #{$tablet}{
      margin-top: 42px;
      margin-bottom: 10px;
      min-height: 125px;
      margin-bottom: 90px;
      }
      @media #{$desktop}{
        padding: 15px 28px 18px;
      }
      &.coloring-page-paragraph{
        border: none;
        background: transparent;
        padding: 0 26px;
        text-align: inherit;
        margin-top: 18px;
        letter-spacing: -.2px;
        line-height: 31px;
        margin-bottom: 28px;
      }
    }
    .paragraph-arrow{
      z-index: 2;
      position: absolute;
      top: 243px;
      left: 100px;
      transition: all .4s;


      @media (min-width: 410px){
        top: 353px;
      }
      @media (min-width: 640px){
        left: 160px;
      }
      @media (min-width: 768px){
        left: 100px;
        top: 310px;
      }
      @media (min-width: 773px){
        top: 310px;
      }
      @media (min-width: 860px){
        top: 350px;
      }
      @media (min-width: 910px){
        top: 360px;
      }
      @media (min-width: 992px){
        top: 385px;
      }
      @media (min-width: 1200px){
        top: 325px;
      }
      @media (min-width: 1300px){
        top: 344px;
      }
      @media (min-width: 1400px){
        top: 374px;
      }
      @media (min-width: 1500px){
        top: 310px;
      }
      @media (min-width: 1600px){
        top: 325px;
      }
      @media (min-width: 1700px){
        top: 345px;
      }
      @media (min-width: 1800px){
        top: 360px;
      }
      @media (min-width: 1900px){
        top: 380px;
      }
    }
  }
}
}




.navigation{
  margin: 22px 0 62px;
  @media #{$tablet}{
    margin-top: 0;
    margin-bottom: 106px
  }
  .pagination-box{
    .pagination-ul{
      padding-left: 0;
      text-align: center;
      .pagination-li{
        display: inline-block;
        background-color: #fff;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        vertical-align: top;
        margin: 0 10px;
        transition: .5s;
        border: 2px solid $c0;
        border-radius: 50px;
        .arrow{
          display: block;
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          &.label-prev{
            background-image: url(../img/arrowprev.png);
          }
          &.label-next{
            background-image: url(../img/arrow.png);
          }
        }
        .pagination-href{
          display: block;
          width: 100%;
          height: 100%;
          font-size: 22px;
          color: $c0;
          text-decoration: none;
          font-family: $roboto;
          font-weight: 900;
          line-height: 1.9;
          text-align: center;
        }
        &.active{
          background-color: $c1;
        }
        &.last-page{
          height: 30px;
          width: 30px;
          background-color: transparent;
          border: none;
          margin: 6px 0 0 0;
          &:hover{
            background-color: transparent;
          }
        }
        &:hover{
          background-color: $c1;
        }
      }
      &.coloring-page{
        margin-top: 23px;
      }
    }
  }
}






.collabo{
  background-color: #fbfbf9;
  position: relative;
  margin-bottom: 52px;
  .text-box{
    z-index: 2;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    font-family: $roboto;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.6px;
    text-align: center;
    color: #000;
    border: 4px solid #000;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: -40px;
    @media #{$tablet}{
      width: 588px;
    }
  }
  .slick-arrow{
    visibility: hidden;
  }
  .collabo-align{
    text-align: center;
    &:focus{
      outline: 0;
    }
    .collabo-img{
      width: 100%;
      margin-top: 24px;
      @media #{$tablet}{
        margin-top: 36px;
        margin-bottom: 22px;
      }
      @media #{$ldesktop} and (max-width: 1600px){
        width: 195px;
      }
      @media (min-width: 1601px) and (max-width: 1830px){
        width: 245px;
      }
      @media (max-width: 767px){
        &.mobile-pt{
          margin-top: 110px;
        }
        &.mobile-pb{
          margin-bottom: 30px;
        }
      }
    }
  }
}
  .download{
    margin-bottom: 88px;
    font-family: $roboto;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    .contact{
      position: relative;
      .contact-title{
        margin-top: 38px;
        margin-bottom: 5px;
      }
      .contact-paragraph{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 35px;
      }
      .social{
        .facebook-img{
          position: absolute;
          top: -72px;
          right: 0;
          left: 0;
          margin: auto;
          @media #{$tablet}{
            top: 0;
            right: 0;
            left: auto;
          }
        }
      }
      .comment-columns-padding{
        padding: 0;
        @media #{$tablet}{
          padding: 0 15px;
        }
        @media #{$ldesktop}{
          padding: 0;
        }
        .contact-phone{
          margin-top: 8px;
        }
        .contact-submit{
          text-align: right;
          @media #{$tablet}{
            text-align: center;
          }
          @media #{$ldesktop}{
            text-align: inherit;
          }
        }
        .box{
          width: 100%;
          border: 3px solid #000;
          border-radius: 100px;
          font-size: 17px;
          &.message{
            border-radius: 30px;
            text-align: center;
            resize: none;
            @media #{$tablet}{
              text-align: inherit;
              border-radius: 100px;
              margin-bottom: 10px;
              height: 115px;
              padding: 45px 40px 0;
            }
          }
          &.mail{
            @media #{$ldesktop}{
              width: 250px;
            }
          }
          &.phone{
            @media #{$ldesktop}{
              width: 345px;
            }
          }
          &.same-height{
            height: 45px;
          }
          &.text-align{
            // text-align: center;
            padding: 0 32px;
          }
          &:focus{
            outline: none;
          }
        }
        .submit{
          background-color: transparent;
          border: none;
          color: $c0;
          font-size: 30px;
          font-weight: 700;
          font-family: $roboto;
          &:focus{
            outline: none;
          }
          @media #{$tablet}{
            margin-top: 14px;
          }
        }
      }
    }
    .download-align{
      text-align: center;
      .download-topic{
        font-weight: 700;
        margin-bottom: 24px;
        margin-top: 34px;
        float: left;
        color: $c1;
        text-shadow: 0 1px #fff;
        .download-topic-href{
          color: inherit;
          &:focus, &:hover{
            text-decoration: none;
          }
        }
        .see-more{
          font-size: 16px;
          @media #{$tablet}{
            font-size: 14px;
          }
          @media #{$sdesktop}{
            font-size: 12px;
          }
        }
      }
      .download-img{
        height: 148px;
        border: 1px solid #fff;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
      }
      .download-margin{
        margin-top: 18px;
      }
      .download-mobile-margin{
        margin-top: 18px;
        &:first-of-type{
          margin-top: 0;
        }
        @media #{$tablet}{
          margin-top: 0;
        }
      }
    }
  }


.footer{
  background-color: $c0;
  min-height: 140px;
  text-align: center;
  .img-box{
    height: 140px;
    position: relative;
    .footer-img{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

// WORKPLACE STYLES
.workplace{
  color: #000;
  font-family: $roboto;
  font-weight: 400;
  .wokplace-topic{
    color: $c1;
    font-size: 20px;
    font-weight: 500;
  }
}
// END WORKPLACE STYLES

// CONTACT STYLES
  .contact-page{
    margin-bottom: 82px;
    @media #{$tablet}{
      margin-bottom: 52px;
    }
    .contact-page-heading{
      @media #{$tablet}{
        padding-left: 74px;
      }
    }
    .me-img{
      display: block;
      margin: 44px auto 0;
      @media #{$sdesktop}{
        margin: 44px 0 0;
        padding-left: 42px
      }
    }
    .same-paragraph{
      margin-top: 33px;
    }
  }
// END CONTACT STYLES


// OFFER STYLES
.projects-offer{
  font-family: $roboto;
  color: $c3;
  .less-padding{
    padding-right: 6px;
    text-align: center;
    height: 330px;
  }
  .offer-wrapper{
    margin-top: 53px;
    display: inline-block;
    text-align: left;
    min-width: 290px;
    .icon-img{
      max-height: 61px;
    }
    .offer-topic{
      font-size: 20px;
      color: $c0;
      display: inline-block;
      max-width: 180px;
      margin-bottom: 0px;
      vertical-align: bottom;
      padding-left: 4px;
      line-height: 26px;
      margin-top: 0;
      .orange{
        color:$c1;
      }
    }
    .offer-paragraph{
      font-size: 18px;
      margin-top: 18px;
      letter-spacing: -0.4px;
      max-width: 290px;
    }
    .offer-ul{
      padding-left: 0;
      margin-top: 24px;
      line-height: 34px;
      max-width: 290px;
      .offer-li{
        list-style-type: none;
        font-size: 16px;
        color: $c3;
        &::before{
          content: '';
          display: inline-block;
          background-color: $c3;
          height: 10px;
          width: 10px;
          margin-bottom: 2px;
          margin-right: 22px;
        }
      }
    }
  }
}

.bar{
  margin: 18px 0 60px;
  background-color: $c0;
  &.realization{
    margin: 18px 0 0;
  }
    .bar-wrapper{
      height: 66px;
      line-height: 66px;
      border-top: 1px solid #9e9e9e;
      position: relative;
      &.realization{
        border-top: none;
        line-height: 53px;
        @media #{$tablet}{
          line-height: 66px;
        }
      }
      .bar-heading{
        font-weight: 500;
        font-family: $roboto;
        text-align: center;
        font-size: 18px;
        @media #{$tablet}{
          font-size: 24px;
        }
      }
      .arrow-down{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        margin: auto;
      }
    }
}
// END OFFER STYLES

// ARTICLE STYLES
.article{
  .no-padding{
    @media #{$tablet}{
      padding: 0;
    }
  }
  .same-paragraph{
    margin-top: 30px;
    line-height: 28px;
  }
}
.article-gallery{
  margin-top: 22px;
  .same-img{
    margin: 20px auto 0;
  }
}
// END ARTICLE STYLES


// BRANDING STYLES
  .branding{
    .branding-heading{
      font-size: 20px;
    }
    .color-psychology, .branding-typography{
      border: none;
      box-shadow: none;
    }
    .color-psychology{
      max-width: 194px;
    }
    .branding-typography, .branding-hero{
      width: 100%;
    }
  }
  .realization{
    .realization-bar{
      position: relative;
    }
    .realization-bar-span{
      font-size: 12px;
      position: absolute;
      padding-left: 10px;
      padding-top: 4px;
      left: 0;
      right: 0;
      bottom: -19px;
      @media #{$tablet}{
        left: inherit;
        right: inherit;
        bottom: inherit;
      }
    }
  }
  .my-realizations{
    background-color: #fff;
    padding-top: 100px;
    .my-realizations-wrapper{
      height: 194px;
      position: relative;
      margin-bottom: 25px;
      @media #{$tablet}{
        margin-bottom: 80px;
      }
      @media #{$ldesktop}{
        margin-bottom: 140px;
      }
      .my-realizations-logo{
        width: 100%;
        max-width: 226px;
        max-height: 195px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        @media #{$ldesktop}{
          max-width: 269px;
        }
      }
    }
  }
// END BRANDING STYLES






// burger-tablet
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
