/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: 0; }

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-family: 'Poppins', sans-serif;
  color: #171338;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.ui-state-active .m-btn_primary {
  background-color: #171338;
  color: #b5ca53;
  border-color: #171338; }

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900; }

.m-btn {
  font-family: 'Montserrat', sans-serif;
  height: 26px;
  width: 112px;
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 16px; }
  .m-btn_primary {
    background: white;
    color: red;
    border: 2px solid red; }
  .m-btn_secondary {
    background: transparent;
    color: white;
    border: 2px solid white; }

.m-typo {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }
  .m-typo_url {
    font-size: 11px; }
    .m-typo_url::before {
      margin-right: 6px; }
    .m-typo_url:hover {
      color: #b5ca53; }
  .m-typo_primary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #171338;
    margin-bottom: 30px;
    line-height: 36px;
    letter-spacing: 0; }
    @media screen and (min-width: 768px) {
      .m-typo_primary {
        font-size: 36px; } }
  .m-typo_secondary {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    color: #171338;
    line-height: 24px; }
  .m-typo_text {
    text-transform: uppercase;
    font-weight: 600;
    color: #b5ca53;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    line-height: 30px; }

.header .m-typo_text {
  margin-bottom: 15px; }
  @media screen and (min-width: 1024px) {
    .header .m-typo_text {
      margin-bottom: 35px; } }

.header .m-typo_primary {
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 1.5px; }
  @media screen and (min-width: 768px) {
    .header .m-typo_primary {
      margin-bottom: 15px; } }

@media screen and (min-width: 1024px) {
  .header .m-typo_secondary {
    max-width: 540px; } }

.header .m-typo_text, .header .m-typo_primary {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .header .m-typo_text, .header .m-typo_primary {
      text-align: left; } }
  @media screen and (min-width: 1024px) {
    .header .m-typo_text, .header .m-typo_primary {
      margin-bottom: 30px; } }

.products-boxes .box .m-typo_text {
  text-align: center; }
  .products-boxes .box .m-typo_text:nth-of-type(1) {
    position: relative;
    bottom: -310px; }
  .products-boxes .box .m-typo_text:last-of-type {
    background: #171338;
    color: white;
    max-width: 260px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 28px;
    font-size: 14px;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: -25px; }
    .products-boxes .box .m-typo_text:last-of-type::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      background-color: #fff;
      margin: auto;
      position: relative;
      top: -2px;
      bottom: 0;
      margin: auto 4px auto 0; }
    .products-boxes .box .m-typo_text:last-of-type::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      background-color: #fff;
      margin: auto;
      position: relative;
      top: -2px;
      bottom: 0;
      margin: auto 0 auto 4px; }

.products-boxes .box .points .m-typo_primary {
  margin-bottom: 0;
  font-size: 40px;
  color: #000;
  font-family: 'Fredericka the Great', cursive;
  padding-top: 15px; }
  .products-boxes .box .points .m-typo_primary:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    height: 20px;
    line-height: initial;
    font-weight: 300;
    padding-top: 0;
    position: relative;
    top: -2px; }

.products-boxes .box .points.other .m-typo_primary {
  color: white; }

.footer .m-typo_text {
  margin-bottom: 0;
  font-size: 14px;
  color: white;
  padding: 25px 15px 10px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.6px; }
  @media screen and (min-width: 1024px) {
    .footer .m-typo_text {
      padding: 25px 70px 10px; } }
  .footer .m-typo_text a {
    color: #fff;
    border-bottom: 1px solid #fff; }
  .footer .m-typo_text span {
    font-size: 12px;
    color: #000;
    padding-top: 10px;
    display: block; }

body {
  overflow-x: hidden;
  background: white; }

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1530px; } }

.header {
  background-image: url("../images/top.png");
  background-size: contain;
  background-repeat: no-repeat; }
  .header .two-boxes {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    margin: 20px 0 60px; }
    @media screen and (min-width: 768px) {
      .header .two-boxes {
        margin: 170px 0 120px; } }
    @media screen and (min-width: 1024px) {
      .header .two-boxes {
        margin: 200px 0 120px; } }
    @media screen and (min-width: 1370px) {
      .header .two-boxes {
        margin: 250px 15px 130px  14%; } }
    @media screen and (min-width: 1760px) {
      .header .two-boxes {
        margin: 290px 15px 130px  14%; } }
    .header .two-boxes .box {
      margin: 0 15px; }
      @media screen and (min-width: 768px) {
        .header .two-boxes .box {
          margin: 0;
          width: 50%;
          float: left;
          display: inline-block; } }
      @media screen and (min-width: 768px) {
        .header .two-boxes .box:first-of-type {
          width: 35%; } }
      @media screen and (min-width: 1024px) {
        .header .two-boxes .box:first-of-type {
          width: 25%; } }
      @media screen and (min-width: 1370px) {
        .header .two-boxes .box:first-of-type {
          width: 15%; } }
      @media screen and (min-width: 768px) {
        .header .two-boxes .box:last-of-type {
          width: 65%;
          padding: 0 15px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; } }
      @media screen and (min-width: 1024px) {
        .header .two-boxes .box:last-of-type {
          width: 75%; } }
      @media screen and (min-width: 1370px) {
        .header .two-boxes .box:last-of-type {
          width: 80%;
          margin-left: 5%; } }
      .header .two-boxes .box .brand-logo {
        display: block;
        margin: 0 auto;
        padding: 80px 0 15px; }
        @media screen and (min-width: 768px) {
          .header .two-boxes .box .brand-logo {
            padding: 30px 0 0; } }
        @media screen and (min-width: 1024px) {
          .header .two-boxes .box .brand-logo {
            padding: 10px 0 0; } }
        @media screen and (min-width: 1200px) {
          .header .two-boxes .box .brand-logo {
            padding: 0; } }

.products-boxes {
  margin: 0 15px; }
  @media screen and (min-width: 768px) {
    .products-boxes {
      margin: auto; } }
  @media screen and (min-width: 768px) {
    .products-boxes .content-wrapper {
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    .products-boxes .content-wrapper {
      text-align: left;
      margin: 0 15px; } }
  @media screen and (min-width: 1200px) {
    .products-boxes .content-wrapper {
      text-align: center;
      margin: 0 auto; } }
  .products-boxes .content-wrapper .box {
    position: relative;
    border-radius: 8px;
    height: 450px;
    margin: 0 15px;
    background-image: url("../images/box-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-box-shadow: 0px 0px 48px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 48px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 48px -18px rgba(0, 0, 0, 0.75);
    max-width: 360px;
    margin: 0 auto 120px; }
    .products-boxes .content-wrapper .box:last-of-type {
      margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .products-boxes .content-wrapper .box:last-of-type {
          margin-bottom: 120px; } }
    @media screen and (min-width: 768px) {
      .products-boxes .content-wrapper .box {
        display: inline-block;
        width: 40%;
        margin: 0 15px 120px; } }
    @media screen and (min-width: 1024px) {
      .products-boxes .content-wrapper .box {
        margin: 0 0 120px;
        width: 30%; }
        .products-boxes .content-wrapper .box:nth-of-type(3n+2) {
          margin: 0 45px; } }
    @media screen and (min-width: 1200px) {
      .products-boxes .content-wrapper .box:nth-of-type(3n+2) {
        margin: 0 46px; } }
    .products-boxes .content-wrapper .box .img {
      margin: 0 auto;
      display: block;
      padding: 45px 0 30px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 120px;
      max-height: 260px;
      max-width: 280px; }
      @media screen and (min-width: 768px) {
        .products-boxes .content-wrapper .box .img {
          max-width: 310px; } }
      @media screen and (min-width: 1024px) {
        .products-boxes .content-wrapper .box .img {
          max-width: 290px; } }
      @media screen and (min-width: 1200px) {
        .products-boxes .content-wrapper .box .img {
          max-width: 310px; } }
    .products-boxes .content-wrapper .box .points {
      z-index: 2;
      position: absolute;
      top: -50px;
      right: 20px;
      border-radius: 100%;
      width: 100px;
      height: 100px;
      display: table;
      -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.75); }
      .products-boxes .content-wrapper .box .points.food {
        background: #b5ca53; }
      .products-boxes .content-wrapper .box .points.water {
        background: #fcd309; }
      .products-boxes .content-wrapper .box .points.other {
        background: #171338; }
      .products-boxes .content-wrapper .box .points .wrapper {
        text-align: center;
        display: table-cell;
        vertical-align: middle; }
  @media screen and (min-width: 768px) {
    .products-boxes .pagination {
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    .products-boxes .pagination {
      margin-bottom: 40px; } }
  .products-boxes .pagination .btn {
    display: block;
    text-align: center;
    max-width: 190px;
    margin: 10px auto;
    background-color: #171338;
    font-size: 18px;
    color: #fff;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .products-boxes .pagination .btn {
        display: inline-block; } }
    @media screen and (min-width: 768px) {
      .products-boxes .pagination .btn:first-of-type {
        margin-right: 10px; } }
    @media screen and (min-width: 768px) {
      .products-boxes .pagination .btn:last-of-type {
        margin-left: 10px; } }
    .products-boxes .pagination .btn.hidden {
      display: none; }

.footer {
  margin-top: 100px; }
  @media screen and (min-width: 1024px) {
    .footer {
      margin-top: 0; } }
  .footer .box {
    background: #b5ca53; }
    @media screen and (min-width: 768px) {
      .footer .box {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px; } }
    @media screen and (min-width: 1370px) {
      .footer .box {
        margin: 0 6% 0; } }
    @media screen and (min-width: 1760px) {
      .footer .box {
        margin: 0 11% 0; } }
