$rwd: true;

$break_point1: if($rwd, 768px, 1px);
$break_point2: if($rwd, 1024px, 1px);
$break_point3: if($rwd, 1200px, 1px);
$break_point4: if($rwd, 1370px, 1px);

@mixin breakpoint($name) {
  @if $name == "tablet" {
    @media screen and (min-width: $break_point1) {
      @content;
    }
  }
  @else if $name == "desktop_small" {
    @media screen and (min-width: $break_point2) {
      @content;
    }
  }
  @else if $name == "desktop" {
    @media screen and (min-width: $break_point3) {
      @content;
    }
  }
  @else if $name == "desktop_big" {
    @media screen and (min-width: $break_point4) {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $name) {
      @content;
    }
  }
}

body{
  overflow-x: hidden;
}
.content-wrapper{
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
  .brand-logo{
    display: block;
    margin: 0 auto;
    max-width: 40%;
    @include breakpoint('tablet'){
      display: inline-block;
      max-width: 100%;
    }
  }
  .content{
    @include breakpoint('desktop'){
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
    }
    @include breakpoint('desktop_big'){
      width: 80%;
      margin-top: 40px;
    }
    .text{
      max-width: 100%;
      margin: 70px auto 15px;
      display: block;
      @include breakpoint('tablet'){
        margin: 100px auto 15px;
      }
      @include breakpoint('desktop_small'){
        max-width: 550px;
        margin-top: 18%;
        float: left;
      }
    }
    .img{
      max-width: 100%;
      margin: 0 auto;
      display: block;
      @include breakpoint('desktop_small'){
        float: right;
      }
    }
    .text, .img{
      @include breakpoint('desktop_small'){
        display: inline-block;
        width: 50%;
      }
    }
  }
}
