body {
  overflow-x: hidden; }

.content-wrapper {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto; }
  .content-wrapper .brand-logo {
    display: block;
    margin: 0 auto;
    max-width: 40%; }
    @media screen and (min-width: 768px) {
      .content-wrapper .brand-logo {
        display: inline-block;
        max-width: 100%; } }
  @media screen and (min-width: 1200px) {
    .content-wrapper .content {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px; } }
  @media screen and (min-width: 1370px) {
    .content-wrapper .content {
      width: 80%;
      margin-top: 40px; } }
  .content-wrapper .content .text {
    max-width: 100%;
    margin: 70px auto 15px;
    display: block; }
    @media screen and (min-width: 768px) {
      .content-wrapper .content .text {
        margin: 100px auto 15px; } }
    @media screen and (min-width: 1024px) {
      .content-wrapper .content .text {
        max-width: 550px;
        margin-top: 18%;
        float: left; } }
  .content-wrapper .content .img {
    max-width: 100%;
    margin: 0 auto;
    display: block; }
    @media screen and (min-width: 1024px) {
      .content-wrapper .content .img {
        float: right; } }
  @media screen and (min-width: 1024px) {
    .content-wrapper .content .text, .content-wrapper .content .img {
      display: inline-block;
      width: 50%; } }
