.b-container {
  width: calc(100% - 25px);
  margin: 0 auto;
  position: relative;
  @include breakpoint('tablet'){
	width: calc(100% - 90px);
  }
  &.b-header {
    min-height: 45px;
    line-height: 45px;
  }
  &.b-home {
    background-color: $cl-blue;
    height: calc(100vh - 90px);
	min-height: 400px;
	margin-bottom: 50px;
	@include breakpoint('tablet'){
		min-height: 438px;
	}
  }
	&.b-about {
		background-color: $cl-greyEB;
		height: auto;
		padding: 20px 15px 0;
	    box-sizing: border-box;
		@include breakpoint('tablet'){
			padding: 45px 60px 0;
		}
		@include breakpoint('desktop_small'){
			padding: 45px 80px 0;
		}
		@include breakpoint('desktop'){
			padding: 120px 180px 0;
		}
	}
}
