.b-hero {
	max-width: 650px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 60px;
	right: 5%;
	@include breakpoint('tablet'){
		left: 90px;
	}
	@include breakpoint('desktop_small'){
		left: 140px;
	}
	@include breakpoint('desktop'){
		left: 180px;
	}
}
