.b-menu {
  position: absolute;
  overflow: hidden;
  width: 0;
  top: 44px;
  left: 12px;
  height: calc(100vh - 88px);
  background-color: $cl-greyEB;
  z-index: 10;
  transition: width .3s;
  @include breakpoint('tablet'){
	  left: 44px;
  }
  &.is-active {
	width: calc(100% - 24px);
	min-height: 400px;
	@include breakpoint('tablet'){
		min-height: 440px;
		left: 44px;
		width: calc(100% - 89px);
	}
  }
}
