.b-overview{
	@include breakpoint('tablet'){
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		min-height: 355px;
	}
	@include breakpoint('desktop_small'){
		min-height: 400px;
	}
	@include breakpoint('desktop_big'){
		min-height: 375px;
	}
	.m-box{
		margin-bottom: 30px;
		@include breakpoint('tablet'){
			width: 40%;
		}
		@include breakpoint('desktop_small'){
			width: 44%;
		}
		&:last-of-type{
			margin-bottom: 0;
			@include breakpoint('tablet'){
				right: 0;
			    position: absolute;
				width: 55%;
			}
			@include breakpoint('desktop_small'){
				width: 50%;
			}
		}
	}
	&.rev{
		flex-direction: row-reverse;
		margin-bottom: 30px;
		@include breakpoint('tablet'){
			margin-bottom: 60px;
		}
		@include breakpoint('desktop_small'){
			margin-bottom: 130px;
		}
		@include breakpoint('desktop'){
			margin-bottom: 160px;
		}
		.m-box{
			&:last-of-type{
				left: 0;
				right: auto;
				.m-services{
					background-color: transparent;
					background-image: url('http://via.placeholder.com/460x280');
					background-position: center;
					background-size: cover;
			    	height: 200px;
					@include breakpoint('tablet'){
						height: 260px;
					}
					@include breakpoint('desktop_small'){
						height: 280px;
					}
				}
			}
		}
	}
}
