/*
Theme Name: Pbi: Polskie Badania Internetu
Author: Jacek Grzegorczyk, Sebastian Ślęczna
Version: 0.1

*/


/**
 *
 * Styles for editable content
 *
 */

.single-report img {
	max-width: 100%;
	margin: 0;
}

a.addtoany_share_save img {
	width: 15px !important;
}
@media (min-width: 1620px) {
	a.addtoany_share_save img {
		width: 18px !important;
	}
}
.single-report__main-paragraph ul {
	list-style: circle;
	padding-left: 25px;
}
.presentation-content__box-title a {
	color: #000;
}
.presentation-content__box-title a:hover {
	color: #ce0037;
}
.single-article__body ul,
.single-presentation__main-paragraph ul,
.single-lesson ul {
	list-style: disc !important;
	padding-left: 40px;
}
.single-presentation__main-paragraph ul {
	margin-bottom: 20px;
	line-height: 1.5;
}
.search__categories-item--active {
	font-weight: 600;
}
.single-presentation__main-paragraph li {
	line-height: 1.5;
}
.single-presentation__main-paragraph p {
	line-height: 1.5;
	margin-bottom: 20px;
}
.form-container--wrapper {
	padding-top: 20px;
}

#field_3_1 .form-text {
    margin: 55px 0 15px 0;
    margin: 3.4375rem 0 0.9375rem 0;
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
}
#field_3_21 .gfield_label,
#field_3_27 .gfield_label,
#field_3_29 .gfield_label,
#field_3_31 .gfield_label,
#field_3_33 .gfield_label,
#field_3_36 .gfield_label,
#field_3_39 .gfield_label,
#field_3_41 .gfield_label,
#field_3_37 .gfield_label,
#field_3_25 .gfield_label,
#field_3_24 .gfield_label {
	display: none;
}
#field_3_21 .ginput_container_checkbox,
#field_3_22 .ginput_container_checkbox,
#field_3_23 .ginput_container_checkbox,
#field_3_24 .ginput_container_checkbox,
#field_3_25 .ginput_container_checkbox,
#field_3_26 .ginput_container_checkbox,
#field_3_27 .ginput_container_checkbox,
#field_3_28 .ginput_container_checkbox,
#field_3_29 .ginput_container_checkbox,
#field_3_30 .ginput_container_checkbox,
#field_3_32 .ginput_container_checkbox,
#field_3_33 .ginput_container_checkbox,
#field_3_34 .ginput_container_checkbox,
#field_3_35 .ginput_container_checkbox,
#field_3_36 .ginput_container_checkbox,
#field_3_37 .ginput_container_checkbox,
#field_3_38 .ginput_container_checkbox,
#field_3_39 .ginput_container_checkbox,
#field_3_40 .ginput_container_checkbox,
#field_3_41 .ginput_container_checkbox,
#field_3_42 .ginput_container_checkbox,
#field_3_44 .ginput_container_checkbox,
#field_3_45 .ginput_container_checkbox,
#field_3_46 .ginput_container_checkbox,
#field_3_47 .ginput_container_checkbox,
#field_3_31 .ginput_container_checkbox,
#field_3_21 .ginput_container_text,
#field_3_22 .ginput_container_text,
#field_3_23 .ginput_container_text,
#field_3_24 .ginput_container_text,
#field_3_25 .ginput_container_text,
#field_3_26 .ginput_container_text,
#field_3_27 .ginput_container_text,
#field_3_28 .ginput_container_text,
#field_3_29 .ginput_container_text,
#field_3_30 .ginput_container_text,
#field_3_32 .ginput_container_text,
#field_3_33 .ginput_container_text,
#field_3_34 .ginput_container_text,
#field_3_35 .ginput_container_text,
#field_3_36 .ginput_container_text,
#field_3_37 .ginput_container_text,
#field_3_38 .ginput_container_text,
#field_3_39 .ginput_container_text,
#field_3_40 .ginput_container_text,
#field_3_41 .ginput_container_text,
#field_3_42 .ginput_container_text,
#field_3_44 .ginput_container_text,
#field_3_45 .ginput_container_text,
#field_3_46 .ginput_container_text,
#field_3_48 .ginput_container_text,
#field_3_31 .ginput_container_text {
	margin-bottom: 0;
}
#field_3_23 .ginput_container_checkbox,
#field_3_26 .ginput_container_checkbox,
#field_3_28 .ginput_container_checkbox,
#field_3_30 .ginput_container_checkbox,
#field_3_32 .ginput_container_checkbox,
#field_3_34 .ginput_container_checkbox,
#field_3_35 .ginput_container_checkbox,
#field_3_38 .ginput_container_checkbox,
#field_3_40 .ginput_container_checkbox,
#field_3_42 .ginput_container_checkbox,
#field_3_22 .ginput_container_checkbox {
	padding-left: 10px;
	margin-bottom: 10px;
}
.footer__navbox a {
	color: #fff !important;
}
.report__box-tag--blue {
	background-color: #339CA6;
}
.report__box-tag__name--blue {
	color: #fff;
}
.wpcf7-form-control-wrap.checkbox-34 {
	margin-top: 25px;
	display: block;
}

.gf_browser_safari.gform_wrapper {
	display: block !important;
}
span.wpcf7-list-item {
	display: inline !important;
}

#field_3_44.gfield_contains_required > .gfield_label,
#field_3_45.gfield_contains_required > .gfield_label,
#field_3_46.gfield_contains_required > .gfield_label {
	margin-left: 5px;
}
#field_3_48.gfield_contains_required > .gfield_label {
	display: none;
}
#field_3_44.gfield_contains_required > .gfield_label + .ginput_container,
#field_3_45.gfield_contains_required > .gfield_label + .ginput_container,
#field_3_46.gfield_contains_required > .gfield_label + .ginput_container,
#field_3_48.gfield_contains_required > .gfield_label + .ginput_container {
	float: left;
}
#field_3_44,
#field_3_45,
#field_3_46,
#field_3_48 {
	clear: both;
	margin-bottom: 15px;
}

#label_3_48_1 {
	float: left;
}
#field_3_48.gfield_contains_required > .gfield_label + .ginput_container {
	position: relative;
}
#field_3_48.gfield_contains_required .ginput_container label {
	padding-left: 20px;
}
#field_3_48.gfield_contains_required .ginput_container input {
	position: absolute;
	left: 0;
}
#field_3_47 > label {
	display: none;
}
#ui-datepicker-div .ui-datepicker-header a {
	width: 50%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;
}
#ui-datepicker-div .ui-datepicker-title select{
	width: 40%;
	margin: 15px 5%;

}
#ui-datepicker-div {
	background-color: white;
	border: 2px solid #009CA6;
	padding-top: 15px;
}
#ui-datepicker-div table {
	border-spacing: 0;
	border-top: 2px solid #009CA6;
}
#ui-datepicker-div table td {
	text-align: center;
	padding: 5px;
}
@media (min-width: 1620px) {
	.materials__number-big--desktop {
    font-size: 175px;
    font-size: 8.9375rem;
    position: relative;
    z-index: 55;
	}
}
.single-article .header__navboxes-navbox__link {
	padding: 0 20px;
	margin-bottom: 40px !important;
	background-color: #eedc00;
	text-align: center;
	line-height: 36px;
	display: inline-block;
	height: 36px;
	border-radius: 25px;
	border: 1px solid #53565a;
	color: #53565a;
}
@media (min-width: 768px) {
	.single-article .header__navboxes-navbox__link {
    margin: 35px 0 0 25px;
    margin: 2.1875rem 0 0 1.5625rem;
    font-size: 12px;
    font-size: 0.75rem;
	}
}
@media (min-width: 1200px) {
	.single-article .header__navboxes-navbox__link {
		margin: 35px 0 0 50px;
		margin: 2.1875rem 0 0 3.125rem;
	}
}
@media (min-width: 1360px) {
	.single-article .header__navboxes-navbox__link {
    margin: 45px 0 0 35px;
    margin: 2.8125rem 0 0 2.1875rem;
    /*width: 250px;*/
    height: 43px;
    line-height: 43px;
	}
}
@media (min-width: 1620px) {
	.single-article .header__navboxes-navbox__link {
		margin: 60px 0 0 70px;
		margin: 3.75rem 0 0 4.375rem;
		font-size: 14px;
		font-size: 0.875rem;
		/*width: 280px;*/
		height: 52px;
		line-height: 52px;
	}
}
@media (min-width: 768px) {
	.single-article .header__navboxes-navbox__link--text {
    /*display: inline-block;*/
    width: 100%;
    padding: 0;
    margin: 0;
	}
}
@media (min-width: 1620px) {
	.single-article .header__navboxes-navbox__link--text {
    line-height: 52px;
	}
}
@media (min-width: 1360px) {
	.single-article .header__navboxes-navbox__link--text {
    line-height: 43px;
	}
}
.single-article .header__navboxes-navbox__link .header__navboxes-navbox__link--arrow {
	float: right;
	position: relative;
	top: 3px;
	margin-left: 10px;
}
@media (min-width: 1620px) {
	.single-article .header__navboxes-navbox__link .header__navboxes-navbox__link--arrow {
		top: 6px;
	}
}
.research-indicators__container:nth-child(4) .research-indicators__box {
	min-height: 460px;
}
