/*Imported Components*/
/* Mixin for fluid floating boxes*/
/* input,*/
/* textarea {*/
/*     @include input-placeholder {*/
/*         color: $grey;*/
/*     }*/
/* }*/
/* Rem mixin*/
/* ----*/
/* libsass (v3.2.5)*/
/* ----*/
/* list-separator polyfill by Hugo Giraudel (https://sass-compatibility.github.io/#list_separator_function)*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&subset=latin-ext");
.nav__logo, .footer__logo-access, .footer__logo-creative {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation*/
.nav {
  z-index: 25;
  position: fixed;
  background-color: white;
  margin-right: 5%;
  top: 0;
  padding-top: 45px;
  display: none;
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1200px) {
  .nav {
    max-width: 1680px;
    width: 100%;
  }
}

.nav__logo--wrapper {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 34px;
  top: 55px;
  background-color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding: 0px 60px;
  padding: 0rem 3.75rem;
  z-index: 15;
}

.nav ul {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  position: relative;
  padding-left: 150px;
  padding-left: 9.375rem;
}

.nav ul:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: black;
  z-index: -1;
}

.nav ul li:first-child {
  position: relative;
}

.nav__item {
  min-height: 40px;
  float: left;
  text-align: center;
  width: 21%;
  text-transform: uppercase;
  position: relative;
  border-bottom: 6px solid black;
}

@media (min-width: 1200px) {
  .nav__item {
    width: 225px;
  }
}

.nav__item:after {
  position: absolute;
  content: '';
  height: 6px;
  background-color: #fff;
  width: 4px;
  bottom: -6px;
  right: 0;
}

.nav__item:before {
  position: absolute;
  content: '';
  height: 6px;
  background-color: #fff;
  width: 4px;
  bottom: -6px;
  left: 0;
}

.nav__item--inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.nav__item--inner:before {
  content: '';
  left: 3px;
  top: 9px;
  height: 1px;
  background-color: black;
  position: absolute;
  width: 5%;
}

@media (min-width: 500px) {
  .nav__item--inner:before {
    width: 5px;
  }
}

@media (min-width: 768px) {
  .nav__item--inner:before {
    width: 5%;
  }
}

@media (min-width: 1024px) {
  .nav__item--inner:before {
    width: 10%;
  }
}

@media (min-width: 1200px) {
  .nav__item--inner:before {
    width: 15%;
  }
}

.nav__item--inner:after {
  content: '';
  right: 8px;
  top: 9px;
  height: 1px;
  background-color: black;
  position: absolute;
  width: 15%;
}

@media (min-width: 500px) {
  .nav__item--inner:after {
    width: 5px;
  }
}

@media (min-width: 768px) {
  .nav__item--inner:after {
    width: 5%;
  }
}

@media (min-width: 1024px) {
  .nav__item--inner:after {
    width: 10%;
  }
}

@media (min-width: 1200px) {
  .nav__item--inner:after {
    width: 15%;
  }
}

.nav__link {
  position: relative;
  display: inline;
  height: auto;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .nav__link {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
  }
}

.nav__link:hover {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .nav__link:hover {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 900;
  }
}

.nav__link:hover:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: url("../img/nav-border.png");
  position: absolute;
  bottom: -29px;
}

@media (min-width: 768px) {
  .nav__link:hover:after {
    bottom: -30px;
  }
}

@media (min-width: 1000px) {
  .nav__link:hover:after {
    bottom: -29px;
  }
}

.nav__link--active:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: url("../img/nav-border.png");
  position: absolute;
  bottom: -29px;
}

@media (min-width: 768px) {
  .nav__link--active:after {
    bottom: -30px;
  }
}

@media (min-width: 1000px) {
  .nav__link--active:after {
    bottom: -29px;
  }
}

.nav ul li:last-child a:after {
  position: absolute;
  content: '';
  height: 6px;
  background-color: #fff;
  width: 8px;
  bottom: -6px;
  right: 0;
}

.nav ul li:last-child:hover a:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: url("../img/nav-border.png");
  position: absolute;
  bottom: -29px;
}

@media (min-width: 768px) {
  .nav ul li:last-child:hover a:before {
    bottom: -30px;
  }
}

@media (min-width: 1000px) {
  .nav ul li:last-child:hover a:before {
    bottom: -29px;
  }
}

.nav ul li:last-child:hover .nav__link--active:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: url("../img/nav-border.png");
  position: absolute;
  bottom: -29px;
}

@media (min-width: 768px) {
  .nav ul li:last-child:hover .nav__link--active:before {
    bottom: -30px;
  }
}

@media (min-width: 1000px) {
  .nav ul li:last-child:hover .nav__link--active:before {
    bottom: -29px;
  }
}

/* Mobile navigation*/
.mobile {
  height: 90px;
  width: 100%;
  display: block;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile--wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 90px;
}

.mobile__logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

.nav-toggle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 3;
  right: 0;
}

@media (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: black;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: black;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  display: none;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    margin-top: 30px;
    margin-top: 1.875rem;
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.visible {
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: block;
  z-index: 15;
  margin-bottom: 0;
}

.nav-mobile__list {
  position: relative;
  z-index: 2;
  display: inline-block;
  height: 162px;
  width: 100%;
  background-color: black;
}

.nav-mobile__list--wrapper, .nav-mobile__list-aside--wrapper {
  margin: 0 auto;
  width: 90%;
}

.nav-mobile__item {
  color: white;
  text-transform: uppercase;
  margin-left: 45px;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.nav-mobile__item:last-child {
  position: relative;
  display: inline-block;
}

.nav-mobile__item:last-child:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  right: -110%;
  top: 49%;
  background-color: white !important;
}

.nav-mobile__aside {
  position: relative;
  z-index: 1;
  padding-top: 25px;
  padding-top: 1.5625rem;
  height: 315px;
  background-color: white;
  border-bottom: 3px solid black;
}

.nav-mobile__aside-title {
  text-transform: uppercase;
  margin-left: 45px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
}

.nav-mobile__aside-item {
  position: relative;
  z-index: 1;
  width: 240px;
  float: left;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  margin-left: 45px;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.nav-mobile__aside-item:before {
  position: absolute;
  background-color: black;
  content: '';
  height: 1px;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-mobile__aside-item:nth-child(2) {
  text-transform: uppercase;
}

.nav-mobile__aside-link {
  left: 30px;
  position: relative;
  z-index: 1;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

/* Footer*/
.footer-main {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-main {
    width: 100%;
  }
}

.footer {
  margin-top: 100px;
  margin-top: 6.25rem;
  position: relative;
  width: 100%;
  max-width: 1517px;
  border-top: 2px solid black;
  border-bottom: 1px solid #B2B2B2;
  float: right;
  height: 100px;
}

.footer__logo-access {
  max-width: 100px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
}

@media (min-width: 500px) {
  .footer__logo-access {
    max-width: 100%;
  }
}

.footer__logo-creative {
  position: absolute;
  max-width: 100px;
  left: 135px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (min-width: 500px) {
  .footer__logo-creative {
    max-width: 100%;
    left: 200px;
  }
}

@media (min-width: 768px) {
  .footer__logo-creative {
    left: 300px;
  }
}

.footer-details {
  position: relative;
  clear: both;
  float: right;
  width: 100%;
  max-width: 1517px;
  margin-bottom: 75px;
  margin-bottom: 4.6875rem;
}

.footer-details__copyright {
  margin-top: 25px;
  margin-top: 1.5625rem;
}

@media (min-width: 768px) {
  .footer-details__copyright {
    margin: 0;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    position: absolute;
    left: 0;
  }
}

.footer-details__cookies {
  display: block;
  margin: 25px 0;
  margin: 1.5625rem 0;
}

@media (min-width: 768px) {
  .footer-details__cookies {
    margin: 0;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.footer-details__design {
  display: block;
}

@media (min-width: 768px) {
  .footer-details__design {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    position: absolute;
    right: 0;
  }
}

/* Aside Navigation ////////////////////////////////////////////////////////////////////////////*/
.aside-nav {
  position: fixed;
  top: 200px;
  display: inline-block;
  max-width: 225px;
  width: 18%;
  display: none;
}

@media (min-width: 768px) {
  .aside-nav {
    left: 125px;
    display: block;
  }
}

@media (min-width: 1024px) {
  .aside-nav {
    left: 135px;
  }
}

@media (min-width: 1200px) {
  .aside-nav {
    left: 150px;
  }
}

.aside-nav__title {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 6px solid black;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.aside-nav__item {
  height: 50px;
  line-height: 49px;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.aside-nav__item:after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  z-index: -5;
  top: 50%;
}

.aside-nav__item:hover .aside-nav__link {
  font-size: 18pxpx;
  font-size: 1.125pxrem;
  font-weight: 700;
  position: absolute;
  -webkit-transition: margin 0.8s;
  transition: margin 0.8s;
  margin-left: 55px;
}

.aside-nav__item:first-child {
  text-transform: uppercase;
}

.aside-nav__item:last-child {
  text-transform: uppercase;
  position: relative;
}

.aside-nav__item:last-child:before {
  content: '';
  position: absolute;
  bottom: -15px;
  border: 1px solid black;
  width: 100%;
}

.aside-nav__item:hover:after {
  height: 3px;
}

.aside-nav__item--active:after {
  height: 3px;
}

.aside-nav__link {
  margin-left: 22px;
  display: display-inline;
  background-color: white;
  padding: 0 10px;
  -webkit-transition: margin 0.8s;
  transition: margin 0.8s;
  padding: 0px 10px;
  padding: 0rem 0.625rem;
}

@media (min-width: 768px) {
  .aside-nav__link {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
  }
}

@media (min-width: 1200px) {
  .aside-nav__link {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 300;
  }
}

.aside-nav__link:hover {
  font-size: 18pxpx;
  font-size: 1.125pxrem;
  font-weight: 700;
  position: absolute;
  -webkit-transition: margin 0.8s;
  transition: margin 0.8s;
  margin-left: 45px;
}

.aside-nav__link--active {
  font-size: 18pxpx;
  font-size: 1.125pxrem;
  font-weight: 700;
  position: absolute;
  -webkit-transition: margin 0.8s;
  transition: margin 0.8s;
  margin-left: 45px;
}

/* First uppercase element*/
.aside-nav li:nth-child(2) {
  text-transform: uppercase;
}

input, form {
  font-family: "Lato","sans-serif";
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 34px;
  width: 35px;
  top: 55px;
  right: 100px;
  -webkit-transition: .8s all;
  transition: .8s all;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search--wrapper {
    right: 0px;
    display: block;
  }
}

.search--wrapper :hover:after {
  cursor: pointer;
  position: absolute;
  content: url("../img/search-icon.png");
  height: 34px;
  width: 35px;
  border: none;
  top: 0;
  right: 0;
  z-index: 55;
  -webkit-transition: .8s all;
  transition: .8s all;
}

.search-input {
  display: none;
}

.search-input label {
  position: relative;
  z-index: 1;
}

.search-input:checked + label:after {
  position: absolute;
  content: url("../img/search-icon--black.png");
  height: 34px;
  width: 35px;
  top: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: .8s all;
  transition: .8s all;
}

.search-input ~ input {
  position: absolute;
  height: 34px;
  outline: none;
  border: 1px solid black;
  -webkit-transition: width .8s;
  transition: width .8s;
  width: 31px;
  top: 0;
  right: 2px;
  z-index: -1;
  color: white;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
}

.search-input ~ input::-webkit-input-placeholder {
  color: white;
}

.search-input:checked ~ input::-webkit-input-placeholder {
  color: #B2B2B2;
}

.search-input:checked ~ input {
  padding-bottom: 5px;
  position: absolute;
  z-index: 1;
  height: 34px;
  outline: none;
  border: none;
  border: 1px solid black;
  bottom: -10px;
  right: 4px;
  width: 205px;
  -webkit-transition: width .8s;
  transition: width .8s;
  padding-left: 10px;
  padding-left: 0.625rem;
  color: #B2B2B2;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body,
html {
  font-size: 13px;
  font-family: "Lato","sans-serif";
  min-width: 320px;
}

@media (min-width: 500px) {
  body,
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  body,
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body,
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  body,
  html {
    font-size: 16px;
  }
}

/******/
/*//*/
/* Main ////////////////////////////////////////////////////////////////////////*/
/******/
/*//*/
.main {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main {
    width: auto;
    margin: initial;
    height: auto;
    max-width: 1680px;
    margin-right: 5% !important;
    margin-top: 130px;
    padding-left: 110px;
    padding-left: 6.875rem;
  }
}

.content {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

@media (min-width: 768px) {
  .content {
    width: 70%;
    float: right;
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .content {
    width: 75%;
    float: right;
  }
}

/* Wrappers for books container*/
.contact-content {
  margin-bottom: 125px;
}

.contact-content__title {
  position: relative;
  margin: 0 0 25px 0;
  margin: 0 0 1.5625rem 0;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

.contact-content__title:after {
  position: absolute;
  content: '';
  height: 1px;
  background-color: black;
  width: 90px;
  left: 0;
  bottom: 0;
}

.contact-content__paragraph {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.contact-content__paragraph:before {
  content: url("../img/contact-circle.png");
  position: absolute;
  left: 0;
  top: 0;
}

.contact-content__paragraph:nth-child(2) {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.contact-content__paragraph:nth-child(2):before {
  content: url("../img/contact-pin.png");
  position: absolute;
  left: 0;
  top: 0;
}

.contact-content__paragraph:last-child {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.contact-content__paragraph:last-child:before {
  content: url("../img/contact-envelope.png");
  position: absolute;
  left: 0;
  top: 0;
}

.map__img {
  display: inline-block;
  height: 400px;
  width: 100%;
}
