@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: 0; }

/**
 * Breakpoint modules
 *
 * How to use:
 * @import breakpoint('desktop') {...}
 *
 */
/**
 *
 * Colors variables
 *
 */
body,
html,
a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/**
 * DEVELOPMENT STYLES!!!
 * TODO: delete this after deveopment!!!
 *
 */
strong {
  font-weight: 900; }

.m-btn {
  font-family: 'Montserrat', sans-serif;
  min-width: 230px;
  display: block;
  border-radius: 50px;
  font-size: 16px;
  padding: 6px 16px; }
  @media screen and (min-width: 768px) {
    .m-btn {
      padding: 10px 16px;
      min-width: 245px; } }
  .m-btn_primary {
    background: #74dbb3;
    color: #ff4411;
    text-transform: uppercase;
    border: 2px solid #74dbb3; }
  .m-btn_secondary {
    background: transparent;
    color: white;
    border: 2px solid white; }

.header .m-btn_primary {
  margin: 0 auto;
  text-align: center;
  width: 245px;
  letter-spacing: 0.1px;
  -webkit-box-shadow: 5px 3px 69px -15px black;
  -moz-box-shadow: 5px 3px 69px -15px black;
  box-shadow: 5px 3px 69px -15px black; }

.news .m-btn_primary {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  max-width: 395px;
  letter-spacing: 0.1px;
  line-height: 25px;
  background: #ff4411;
  border-color: #ff4411; }
  @media screen and (min-width: 768px) {
    .news .m-btn_primary {
      width: 395px;
      line-height: 32px; } }

.typo {
  font-family: 'Montserrat', sans-serif; }
  .typo_primary {
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
    margin-bottom: 30px;
    line-height: 40px;
    letter-spacing: -1.8px;
    font-weight: 700;
    margin: 0 15px; }
    @media screen and (min-width: 768px) {
      .typo_primary {
        line-height: 36px; } }
    @media screen and (min-width: 1200px) {
      .typo_primary {
        margin: 0; } }
    .typo_primary.heading {
      color: #000;
      margin-bottom: 38px; }
      @media screen and (min-width: 768px) {
        .typo_primary.heading {
          margin-bottom: 55px; } }
  .typo_secondary {
    color: #000;
    line-height: 36px;
    letter-spacing: .6px; }
  .typo_text {
    color: #000;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: -0.1px; }
    @media screen and (min-width: 768px) {
      .typo_text {
        line-height: 25px; } }

.header .m-typo_text {
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 18px;
  margin: 30px 15px 0; }
  @media screen and (min-width: 768px) {
    .header .m-typo_text {
      font-size: 16px;
      margin: 40px 5% 0; } }
  @media screen and (min-width: 1024px) {
    .header .m-typo_text {
      margin: 40px auto 0;
      max-width: 874px; } }

.header-text {
  text-align: center; }
  .header-text .m-typo_primary {
    margin-bottom: 3px;
    letter-spacing: 1.6px;
    font-size: 28px; }
    @media screen and (min-width: 768px) {
      .header-text .m-typo_primary {
        font-size: 32px; } }
  .header-text .m-typo_text {
    margin-top: 0;
    color: white;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: -0.1px; }

.header-button .m-typo_primary {
  font-size: 18px;
  color: #ff4411; }

.header .navbar .list li a {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: .6px; }
  @media screen and (min-width: 768px) {
    .header .navbar .list li a {
      font-size: 24px; } }
  @media screen and (min-width: 1024px) {
    .header .navbar .list li a {
      font-weight: bold;
      font-size: 16px;
      padding: 5px 10px; } }
  .header .navbar .list li a:hover {
    background: #f2f2f2; }

@media screen and (min-width: 768px) {
  .contact .typo_primary.heading {
    margin-bottom: 80px; } }

@media screen and (min-width: 768px) {
  .contact .typo_primary.heading {
    margin-bottom: 105px; } }

.contact .box .typo_primary {
  font-size: 14px;
  font-weight: 400;
  color: #ff4411;
  margin-bottom: 5px;
  letter-spacing: 0.1px; }
  @media screen and (min-width: 768px) {
    .contact .box .typo_primary {
      margin-bottom: 18px; } }
  @media screen and (min-width: 1024px) {
    .contact .box .typo_primary {
      margin: 0 15px 20px; } }

.contact .box .typo_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin: 0 15px 15px; }
  @media screen and (min-width: 768px) {
    .contact .box .typo_text {
      font-size: 18px; } }
  @media screen and (min-width: 1024px) {
    .contact .box .typo_text {
      font-size: 22px; } }

.bottom-bar .typo_text {
  color: white;
  margin-bottom: 15px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .bottom-bar .typo_text {
      text-align: left;
      margin: 0;
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    .bottom-bar .typo_text:first-of-type {
      float: left; } }
  .bottom-bar .typo_text:last-of-type {
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .bottom-bar .typo_text:last-of-type {
        float: right; } }
  @media screen and (min-width: 768px) {
    .bottom-bar .typo_text:first-of-type, .bottom-bar .typo_text:last-of-type {
      padding: 0; } }

@media screen and (min-width: 768px) {
  .news .m-typo_href {
    display: inline-block;
    float: right; } }

.news .m-typo_primary.heading {
  margin-bottom: 60px; }
  @media screen and (min-width: 768px) {
    .news .m-typo_primary.heading {
      margin-bottom: 98px;
      text-align: left;
      padding-left: 30px;
      display: inline-block; } }
  @media screen and (min-width: 1024px) {
    .news .m-typo_primary.heading {
      margin-bottom: 128px; } }

.news .m-typo_text.heading {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #ff4411;
  position: relative;
  padding: 0 15px;
  letter-spacing: 0; }
  @media screen and (min-width: 768px) {
    .news .m-typo_text.heading {
      text-align: left;
      display: inline-block;
      float: right;
      margin: 6px 80px 0 0;
      padding-left: 0; } }
  @media screen and (min-width: 1024px) {
    .news .m-typo_text.heading {
      font-weight: 600;
      margin-right: 90px; } }
  @media screen and (min-width: 768px) {
    .news .m-typo_text.heading::after {
      content: '';
      background-image: url(../images/calendar.png);
      position: absolute;
      height: 30px;
      width: 58px;
      background-size: cover;
      right: -50px;
      top: -5px; } }
  @media screen and (min-width: 1024px) {
    .news .m-typo_text.heading::after {
      top: -8px;
      height: 40px;
      width: 78px;
      right: -72px; } }

.news .m-typo.category {
  color: #74dbb3;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0;
  margin: 20px 0; }
  @media screen and (min-width: 768px) {
    .news .m-typo.category {
      margin: 28px 0;
      padding: 0 15px; } }
  @media screen and (min-width: 1024px) {
    .news .m-typo.category {
      margin: 36px 0; } }

.news .m-typo_secondary {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  line-height: 28px;
  text-transform: none;
  letter-spacing: -0.4px;
  margin-bottom: 25px; }
  @media screen and (min-width: 768px) {
    .news .m-typo_secondary {
      height: 100px;
      padding: 0 15px; } }
  @media screen and (min-width: 1024px) {
    .news .m-typo_secondary {
      min-height: 146px; } }

@media screen and (min-width: 768px) {
  .news .info {
    padding: 0 15px; } }

.news .info .m-typo {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .news .info .m-typo {
      margin-bottom: 30px; } }
  .news .info .m-typo span {
    font-weight: 700;
    color: #000; }

.news_listing .m-typo_primary.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 52px;
  box-sizing: border-box; }

.news_listing .m-typo_text.descr {
  text-align: center;
  max-width: 880px;
  display: block;
  margin: 0 auto;
  line-height: 30px;
  padding: 0 15px;
  color: #000; }
  @media screen and (min-width: 768px) {
    .news_listing .m-typo_text.descr {
      line-height: 35px; } }

.post-navigation .m-typo_text {
  font-size: 24px;
  color: #ff4411;
  text-transform: uppercase;
  font-weight: 700; }

.heading-bar.small {
  text-align: center; }
  .heading-bar.small .m-typo_primary {
    font-size: 24px;
    text-transform: none;
    color: #000;
    margin-bottom: 15px; }
  .heading-bar.small .m-typo_text {
    margin-bottom: 10px;
    font-weight: 500;
    color: #000;
    font-size: 18px; }
    @media screen and (min-width: 768px) {
      .heading-bar.small .m-typo_text {
        padding: 0 8px;
        display: inline-block; } }
    @media screen and (min-width: 1024px) {
      .heading-bar.small .m-typo_text {
        padding: 0 2px; } }
    @media screen and (min-width: 1200px) {
      .heading-bar.small .m-typo_text {
        padding: 0; } }
    .heading-bar.small .m-typo_text.cat {
      color: #74dbb3; }

.heading-bar.section .m-typo.descr {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  max-width: 1090px;
  line-height: 28px; }

.presentation .typo_primary.heading {
  margin-bottom: 38px; }

.presentation-head .typo:first-child {
  font-weight: bold;
  margin-bottom: 15px; }

.presentation-head .typo_text {
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .presentation-head .typo_text {
      padding: 0 30px; } }

.presentation-body .typo_secondary {
  color: white;
  padding: 10px 0 10px 95px;
  height: 100%;
  align-items: flex-end;
  display: flex; }
  @media screen and (min-width: 768px) {
    .presentation-body .typo_secondary {
      padding: 0; } }
  @media screen and (min-width: 1200px) {
    .presentation-body .typo_secondary {
      font-size: 18px; } }
  .presentation-body .typo_secondary span {
    font-weight: bold;
    padding-left: 5px; }

@media screen and (min-width: 768px) {
  .presentation-body .small .typo_secondary {
    justify-content: center; } }

.presentation.doors .typo_secondary {
  padding: 0;
  line-height: 22px;
  height: auto; }

.category-listing .typo_primary.heading {
  margin-bottom: 38px; }

.category-listing-head .typo_text {
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .category-listing-head .typo_text {
      padding: 0 30px; } }

.category-listing-body .arrow .typo_secondary {
  color: white;
  line-height: initial; }

@media screen and (min-width: 768px) {
  .page-template-single-category-view .typo_primary.heading {
    margin-bottom: 60px; } }

.bar .typo_secondary {
  color: white;
  background: #000;
  text-align: center;
  padding: 30px 15px;
  font-size: 20px; }
  @media screen and (min-width: 768px) {
    .bar .typo_secondary {
      padding: 40px 15px; } }
  @media screen and (min-width: 1024px) {
    .bar .typo_secondary {
      font-size: 22px;
      padding: 45px 15px; } }
  .bar .typo_secondary span,
  .bar .typo_secondary a {
    color: #ff4411; }
  .bar .typo_secondary span {
    display: block; }
    @media screen and (min-width: 768px) {
      .bar .typo_secondary span {
        display: inline-block; } }
  .bar .typo_secondary a {
    font-weight: bold;
    font-size: 18px; }
    @media screen and (min-width: 768px) {
      .bar .typo_secondary a {
        font-size: 20px; } }
    @media screen and (min-width: 1024px) {
      .bar .typo_secondary a {
        font-size: 22px; } }

.footer .map .typo_primary {
  margin-bottom: 0; }

.footer .map .typo_secondary {
  color: #ff4411;
  letter-spacing: 0px;
  margin: 0 15px 35px;
  font-size: 20px;
  line-height: 28px; }
  @media screen and (min-width: 1200px) {
    .footer .map .typo_secondary {
      font-size: 22px;
      margin: 0 0 35px; } }

.about-product p {
  margin-bottom: 15px; }

.about-product .typo_secondary {
  height: 65px;
  background: #000;
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 0 4px 15px;
  font-size: 20px; }
  @media screen and (min-width: 768px) {
    .about-product .typo_secondary {
      padding: 0 0 2px 30px; } }
  @media screen and (min-width: 1200px) {
    .about-product .typo_secondary {
      margin: 20px 0; } }

.presentation-contact .typo_text {
  margin-bottom: 0;
  border: 2px solid #ff4411;
  padding: 15px 15px 30px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .presentation-contact .typo_text {
      box-sizing: border-box;
      width: 464px;
      padding-right: 165px;
      min-height: 174px; } }
  @media screen and (min-width: 1024px) {
    .presentation-contact .typo_text {
      width: 534px;
      padding-right: 235px; } }
  @media screen and (min-width: 1200px) {
    .presentation-contact .typo_text {
      width: 634px;
      padding-right: 335px; } }
  @media screen and (min-width: 768px) {
    .presentation-contact .typo_text::after {
      content: url("../images/pres-arrow.png");
      position: absolute;
      bottom: -110px;
      left: 155px; } }
  @media screen and (min-width: 1024px) {
    .presentation-contact .typo_text::after {
      left: 170px; } }
  @media screen and (min-width: 1200px) {
    .presentation-contact .typo_text::after {
      left: 150px; } }
  .presentation-contact .typo_text::before {
    content: 'Skontaktuj się z nami';
    position: absolute;
    background: #f2f2f2;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 181px;
    padding: 0 10px;
    bottom: -15px;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      .presentation-contact .typo_text::before {
        bottom: -14px;
        left: -140px; } }
    @media screen and (min-width: 1024px) {
      .presentation-contact .typo_text::before {
        left: -180px; } }
    @media screen and (min-width: 1200px) {
      .presentation-contact .typo_text::before {
        left: -315px; } }

.presentation-contact .typo_secondary {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px; }
  @media screen and (min-width: 1024px) {
    .presentation-contact .typo_secondary {
      padding-left: 70px; } }
  @media screen and (min-width: 1200px) {
    .presentation-contact .typo_secondary {
      letter-spacing: 8px;
      padding-left: 155px; } }
  .presentation-contact .typo_secondary span {
    color: #ff4411; }

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  height: 85px;
  transition: .3s all;
  z-index: 2; }
  @media screen and (min-width: 1024px) {
    .navbar {
      height: 80px; } }
  .navbar.reduced {
    -webkit-box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 29px -14px rgba(0, 0, 0, 0.75);
    height: 70px; }
    @media screen and (min-width: 1024px) {
      .navbar.reduced {
        height: 65px; } }
    .navbar.reduced .content-wrapper .brand-logo {
      margin-top: -8px; }
      @media screen and (min-width: 1024px) {
        .navbar.reduced .content-wrapper .brand-logo {
          margin-top: 12px; } }
    .navbar.reduced .content-wrapper .burger {
      top: 25px; }
    @media screen and (min-width: 1024px) {
      .navbar.reduced .content-wrapper .list {
        margin-top: 15px; } }
  .navbar .content-wrapper {
    height: 0; }
    .navbar .content-wrapper .brand-logo {
      position: absolute;
      width: 200px;
      top: 20px;
      left: 10px;
      z-index: 1;
      transition: .3s all; }
      @media screen and (min-width: 768px) {
        .navbar .content-wrapper .brand-logo {
          width: 220px;
          top: 60px; } }
      @media screen and (min-width: 1024px) {
        .navbar .content-wrapper .brand-logo {
          display: inline-block;
          width: 180px; } }
      @media screen and (min-width: 1200px) {
        .navbar .content-wrapper .brand-logo {
          position: static;
          margin-top: 20px; } }
      .navbar .content-wrapper .brand-logo img {
        width: 100%;
        transition: .3s all; }
    .navbar .content-wrapper .list {
      height: 100vh;
      padding-top: 110px;
      text-align: center;
      position: absolute;
      left: -1000px;
      transition: .3s all;
      z-index: 9; }
      @media screen and (min-width: 1024px) {
        .navbar .content-wrapper .list {
          height: auto;
          text-align: left;
          width: 80%;
          display: inline-block;
          vertical-align: top;
          margin-top: 13px;
          float: right;
          width: auto;
          margin-right: 15px;
          padding: 0 26px;
          position: static; } }
      @media screen and (min-width: 1370px) {
        .navbar .content-wrapper .list {
          padding: 0 36px;
          margin-right: 0; } }
      .navbar .content-wrapper .list.is-active {
        left: 0;
        right: 0;
        background: white; }
      .navbar .content-wrapper .list li {
        margin-bottom: 6px; }
        @media screen and (min-width: 1024px) {
          .navbar .content-wrapper .list li {
            padding: 8px 0;
            display: inline-block;
            margin-bottom: 0;
            margin-right: 4px; }
            .navbar .content-wrapper .list li:last-of-type {
              margin-right: 0; }
            .navbar .content-wrapper .list li.active a {
              background: #f2f2f2; }
            .navbar .content-wrapper .list li a {
              transition: .3s all; } }
        @media screen and (min-width: 1200px) {
          .navbar .content-wrapper .list li {
            margin-right: 18px; } }
        @media screen and (min-width: 1370px) {
          .navbar .content-wrapper .list li {
            margin-right: 20px; } }
        @media screen and (min-width: 1024px) {
          .navbar .content-wrapper .list li.menu-item-has-children {
            position: relative; } }
        .navbar .content-wrapper .list li.current_page_item a {
          color: #ff4411; }
        .navbar .content-wrapper .list li .sub-menu {
          display: none; }
          @media screen and (min-width: 1024px) {
            .navbar .content-wrapper .list li .sub-menu {
              position: absolute;
              top: 38px;
              left: -50px; } }
          .navbar .content-wrapper .list li .sub-menu:after {
            content: '';
            background: red;
            position: absolute;
            top: 60px; }
          .navbar .content-wrapper .list li .sub-menu li {
            margin-right: 0; }
            @media screen and (min-width: 1024px) {
              .navbar .content-wrapper .list li .sub-menu li {
                background: red;
                padding: 5px 20px;
                width: 110px;
                text-align: center; } }
            @media screen and (min-width: 1024px) {
              .navbar .content-wrapper .list li .sub-menu li:first-of-type {
                margin-top: 2px; } }
            .navbar .content-wrapper .list li .sub-menu li a {
              color: #74dbb3; }
    .navbar .content-wrapper .burger {
      background: #ff4411;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 22px;
      transition: .3s all;
      z-index: 10;
      padding: 10px 8px; }
      @media screen and (min-width: 768px) {
        .navbar .content-wrapper .burger {
          top: 60px; } }
      @media screen and (min-width: 1024px) {
        .navbar .content-wrapper .burger {
          display: none; } }
      .navbar .content-wrapper .burger.reduced {
        top: 25px; }
      .navbar .content-wrapper .burger_item {
        display: block;
        float: right;
        clear: both;
        width: 26px;
        height: 3px;
        background-color: white;
        margin-bottom: 4px; }
        .navbar .content-wrapper .burger_item:last-of-type {
          margin-bottom: 0; }

.header {
  position: relative;
  height: 100px;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .header {
      margin-bottom: 30px; } }
  @media screen and (min-width: 1024px) {
    .header {
      margin-bottom: 55px; } }
  .header .carousel-wrapper-primary {
    margin-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .header .carousel-wrapper-primary {
        height: 100vh;
        min-height: 550px; } }
    .header .carousel-wrapper-primary .box {
      background-size: cover;
      height: 100vh;
      background-position: center;
      position: relative;
      filter: contrast(170%); }
      @media screen and (min-width: 768px) {
        .header .carousel-wrapper-primary .box {
          height: 600px; } }
      @media screen and (min-width: 1024px) {
        .header .carousel-wrapper-primary .box {
          height: 670px; } }
      @media screen and (min-width: 1200px) {
        .header .carousel-wrapper-primary .box {
          min-height: 550px;
          height: 100vh; } }
      .header .carousel-wrapper-primary .box::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(15, 77, 161, 0.4); }
    .header .carousel-wrapper-primary .slick-dots {
      bottom: 30px; }
      .header .carousel-wrapper-primary .slick-dots li button::before {
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        background: transparent;
        border: 1.5px solid #ff4411;
        border-radius: 50%;
        opacity: 1; }
      .header .carousel-wrapper-primary .slick-dots li.slick-active button::before {
        background: #ff4411; }
  .header-text, .header-button {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 26%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box; }
    @media screen and (min-width: 768px) {
      .header-text, .header-button {
        top: 28%; } }
  .header-button {
    padding: inherit;
    bottom: 85px;
    top: auto; }
    .header-button::after {
      content: '';
      height: 50px;
      width: 100px;
      background: red;
      -webkit-box-shadow: 9px 10px 55px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 9px 10px 55px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 9px 10px 55px -4px rgba(0, 0, 0, 0.75); }
  .header_other .header-bg {
    height: 260px;
    background-size: cover;
    background-position: center; }
    @media screen and (min-width: 768px) {
      .header_other .header-bg {
        height: 280px; } }
    @media screen and (min-width: 1024px) {
      .header_other .header-bg {
        height: 380px; } }
    @media screen and (min-width: 1200px) {
      .header_other .header-bg {
        height: 460px; } }
    @media screen and (min-width: 1370px) {
      .header_other .header-bg {
        height: 530px; } }

.partners {
  margin-bottom: 60px; }
  @media screen and (min-width: 1024px) {
    .partners {
      margin-bottom: 75px; } }
  .partners .carousel-wrapper-secondary .box {
    position: relative;
    height: 150px; }
    .partners .carousel-wrapper-secondary .box img {
      margin: 0 auto;
      max-width: 180px;
      max-height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto; }
  .partners .carousel-wrapper-secondary .arrow {
    z-index: 2;
    background: #000;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    left: 25px; }
    @media screen and (min-width: 1370px) {
      .partners .carousel-wrapper-secondary .arrow {
        left: -5px; } }
    .partners .carousel-wrapper-secondary .arrow:first-of-type {
      transform: translate(-50%, -50%) rotate(180deg); }
    .partners .carousel-wrapper-secondary .arrow:last-of-type {
      right: -10px;
      left: auto; }
      @media screen and (min-width: 1370px) {
        .partners .carousel-wrapper-secondary .arrow:last-of-type {
          right: -35px; } }
    .partners .carousel-wrapper-secondary .arrow span {
      height: 18px;
      background: #ff4411;
      display: block;
      width: 2px;
      display: block; }
      .partners .carousel-wrapper-secondary .arrow span:first-of-type {
        transform: rotate(-45deg);
        margin-bottom: -6px; }
      .partners .carousel-wrapper-secondary .arrow span:last-of-type {
        margin-top: -6px;
        transform: rotate(45deg); }

.form {
  margin: 40px auto 0;
  max-width: 1366px;
  padding: 0 15px 50px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .form {
      padding: 0 0 50px;
      margin-top: 60px; } }
  @media screen and (min-width: 1024px) {
    .form {
      padding: 0 0 120px;
      margin-top: 50px; } }
  .form p {
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .form p {
        width: 33.3%;
        display: inline-block;
        float: left;
        padding: 0 15px;
        box-sizing: border-box; } }
    @media screen and (min-width: 1200px) {
      .form p {
        padding: 0 15px 0 0; } }
    .form p:nth-of-type(4) {
      margin: 60px 0; }
      @media screen and (min-width: 1024px) {
        .form p:nth-of-type(4) {
          margin: 80px 0 40px; } }
    @media screen and (min-width: 768px) {
      .form p:nth-of-type(4), .form p:last-of-type {
        width: 100%; } }
    .form p:last-of-type {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: max-content;
      margin: 0 auto; }
    .form p label {
      font-size: 14px;
      color: #ff4411;
      text-transform: uppercase; }
      .form p label input,
      .form p label textarea {
        border: 0;
        border-bottom: 2px solid #000;
        width: 100%;
        padding: 5px 0;
        font-size: 18px; }
      .form p label textarea {
        transition: .3s all;
        height: 31px;
        font-family: 'Montserrat', sans-serif;
        resize: none; }
    .form p .wpcf7-submit {
      font-family: 'Montserrat', sans-serif;
      min-width: 230px;
      display: block;
      font-size: 16px;
      padding: 15px 16px;
      background: #ff4411;
      color: #ff4411;
      text-transform: uppercase;
      border: 2px solid #ff4411;
      cursor: pointer;
      color: white;
      font-weight: 600; }
      @media screen and (min-width: 768px) {
        .form p .wpcf7-submit {
          min-width: 245px; } }
  .form .wpcf7-validation-errors,
  .form .wpcf7-mail-sent-ng {
    border: 0;
    color: red; }

.bottom-bar .box {
  background: #000;
  padding: 10px 15px; }
  @media screen and (min-width: 1024px) {
    .bottom-bar .box {
      padding: 10px 30px; } }

.contact .boxes .box {
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .contact .boxes .box {
      box-sizing: border-box;
      width: 33.3%;
      display: inline-block;
      float: left; } }
  @media screen and (min-width: 1200px) {
    .contact .boxes .box {
      padding: 0 15px 0 0; } }

.bottom-bar .box {
  background: #000;
  padding: 10px 15px; }
  @media screen and (min-width: 1024px) {
    .bottom-bar .box {
      padding: 10px 30px; } }

.map {
  margin-bottom: 15px; }

.top-bar {
  width: 100%;
  display: none; }
  @media screen and (min-width: 768px) {
    .top-bar {
      display: block;
      border-bottom: 1px solid #f2f2f2;
      padding: 8px 0 6px; } }
  .top-bar_info {
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .top-bar_info {
        float: right;
        margin: 0 15px; } }
    @media screen and (min-width: 768px) {
      .top-bar_info .box {
        width: 33.3%;
        display: inline-block;
        float: left; } }
    @media screen and (min-width: 1024px) {
      .top-bar_info .box {
        width: auto;
        margin-right: 40px; } }
    @media screen and (min-width: 1024px) {
      .top-bar_info .box:nth-child(3) {
        margin-right: 0; } }

.top-bar .typo_secondary, .top-bar .typo a {
  color: #000;
  font-weight: 300;
  font-size: 12px; }
  .top-bar .typo_secondary span, .top-bar .typo a span {
    font-weight: 700; }

.top-bar .box:last-of-type .typo_secondary {
  margin: 0 5px;
  display: inline-block; }

.offer {
  margin-bottom: 38px; }
  @media screen and (min-width: 768px) {
    .offer {
      margin-bottom: 25px; } }
  .offer .boxes-wrapper {
    margin: 0 15px; }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper {
        margin: 0; } }
    @media screen and (min-width: 768px) {
      .offer .boxes-wrapper_box {
        width: 50%;
        display: inline-block;
        float: left;
        box-sizing: border-box; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box {
        width: 25%; } }
    @media screen and (min-width: 768px) {
      .offer .boxes-wrapper_box:nth-child(odd) {
        padding-right: 7.5px; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box:nth-child(odd) {
        padding: 0; } }
    @media screen and (min-width: 768px) {
      .offer .boxes-wrapper_box:nth-child(even) {
        padding-left: 7.5px; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box:nth-child(even) {
        padding: 0; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box:nth-child(1) {
        padding-right: 15px; } }
    @media screen and (min-width: 1370px) {
      .offer .boxes-wrapper_box:nth-child(1) {
        padding-right: 25px; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box:nth-child(2) {
        padding-right: 7.5px; } }
    @media screen and (min-width: 1370px) {
      .offer .boxes-wrapper_box:nth-child(2) {
        padding-right: 12.5px; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box:nth-child(3) {
        padding-left: 7.5px; } }
    @media screen and (min-width: 1370px) {
      .offer .boxes-wrapper_box:nth-child(3) {
        padding-left: 12.5px; } }
    @media screen and (min-width: 1200px) {
      .offer .boxes-wrapper_box:nth-child(4) {
        padding-left: 15px; } }
    @media screen and (min-width: 1370px) {
      .offer .boxes-wrapper_box:nth-child(4) {
        padding-left: 25px; } }
    .offer .boxes-wrapper_box .img {
      height: 200px;
      position: relative;
      margin-bottom: 35px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .offer .boxes-wrapper_box .img_name,
      .offer .boxes-wrapper_box .img .arrow {
        position: absolute;
        bottom: -22px;
        left: 15px; }
      .offer .boxes-wrapper_box .img .arrow {
        left: auto;
        right: 15px;
        background: #ff4411;
        display: inline-flex;
        padding: 11px 5px; }
        .offer .boxes-wrapper_box .img .arrow_img {
          transform: scale(0.6);
          position: relative;
          transition: .3s all; }

.offer .typo_secondary {
  font-size: 20px;
  font-weight: 700;
  color: white;
  min-width: 115px;
  padding: 4px 0 4px 20px;
  background: #000; }

@media screen and (min-width: 768px) {
  .offer .typo_text {
    padding: 0 15px;
    font-size: 15px; } }

.whyus {
  margin-bottom: 38px; }
  @media screen and (min-width: 768px) {
    .whyus {
      margin-bottom: 55px; } }
  @media screen and (min-width: 1024px) {
    .whyus {
      margin-bottom: 75px; } }
  @media screen and (min-width: 768px) {
    .whyus .box_img {
      background-image: url(http://via.placeholder.com/1366x500);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 440px;
      display: flex;
      flex-wrap: wrap;
      align-items: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .whyus .box_img {
      align-items: flex-end; } }
  @media screen and (min-width: 768px) and (min-width: 1200px) {
    .whyus .box_img {
      height: 500px; } }
  .whyus .box_img .subbox {
    width: 145px;
    height: 145px;
    background: #000;
    margin: 0 auto 15px;
    display: flex;
    align-items: flex-end;
    padding: 0 10px 5px;
    transition: .3s background; }
    @media screen and (min-width: 768px) {
      .whyus .box_img .subbox {
        margin-bottom: 0; } }
    @media screen and (min-width: 1024px) {
      .whyus .box_img .subbox {
        width: 135px;
        height: 135px;
        position: relative;
        top: 20px; } }
    @media screen and (min-width: 1200px) {
      .whyus .box_img .subbox {
        width: 155px;
        height: 145px; } }
    .whyus .box_img .subbox:hover {
      background: #ff4411; }

.whyus .typo_secondary {
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    .whyus .typo_secondary {
      font-size: 16px; } }
  @media screen and (min-width: 1200px) {
    .whyus .typo_secondary {
      font-size: 18px; } }

.header-slider {
  margin-bottom: 38px; }
  @media screen and (min-width: 768px) {
    .header-slider {
      margin-bottom: 55px; } }
  .header-slider .box {
    margin: 0 15px; }
    @media screen and (min-width: 1200px) {
      .header-slider .box {
        margin: 0; } }
    .header-slider .box-heading {
      position: relative;
      margin: 20px -15px 0; }
      @media screen and (min-width: 768px) {
        .header-slider .box-heading {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          margin: 0 15px; } }
      @media screen and (min-width: 1024px) {
        .header-slider .box-heading {
          margin: 0; } }
      @media screen and (min-width: 768px) {
        .header-slider .box-heading_title, .header-slider .box-heading_img {
          position: static;
          width: 50%;
          float: left;
          box-sizing: border-box;
          margin: 0; } }
      .header-slider .box-heading_img {
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        @media screen and (min-width: 1024px) {
          .header-slider .box-heading_img {
            width: 60%;
            height: 400px; } }
      .header-slider .box-heading_title {
        position: absolute; }
        @media screen and (min-width: 768px) {
          .header-slider .box-heading_title {
            position: static; } }
        @media screen and (min-width: 1024px) {
          .header-slider .box-heading_title {
            width: 40%; } }
    .header-slider .box .box-sub {
      position: relative; }
      @media screen and (min-width: 768px) {
        .header-slider .box .box-sub {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: -20px; } }
      @media screen and (min-width: 1024px) {
        .header-slider .box .box-sub {
          justify-content: flex-end; } }
      .header-slider .box .box-sub .pagingInfo {
        position: absolute;
        bottom: 15px;
        left: 15px; }
        @media screen and (min-width: 768px) {
          .header-slider .box .box-sub .pagingInfo {
            position: static; } }
        .header-slider .box .box-sub .pagingInfo span {
          font-weight: bold; }
          .header-slider .box .box-sub .pagingInfo span:first-of-type, .header-slider .box .box-sub .pagingInfo span:last-of-type {
            font-size: 20px;
            position: relative; }
          .header-slider .box .box-sub .pagingInfo span:first-of-type {
            bottom: 10px; }
          .header-slider .box .box-sub .pagingInfo span:last-of-type {
            top: 10px; }
          .header-slider .box .box-sub .pagingInfo span:nth-child(2) {
            color: #ff4411;
            font-size: 26px;
            padding: 0 5px; }
      @media screen and (min-width: 768px) {
        .header-slider .box .box-sub .arrow-wrapper {
          margin-right: 15px; } }
      .header-slider .box .box-sub .arrow {
        background: #ff4411;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        float: right; }
        @media screen and (min-width: 768px) {
          .header-slider .box .box-sub .arrow {
            height: 120px;
            width: 120px;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 15px; } }
        @media screen and (min-width: 768px) {
          .header-slider .box .box-sub .arrow_img {
            transform: scale(0.6); } }

.header-slider .box .typo_primary {
  background: #ff4411;
  color: white;
  font-size: 20px;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .header-slider .box .typo_primary {
      background: transparent;
      color: #000;
      font-size: 38px;
      text-align: right;
      line-height: 50px;
      padding: 0 30px 0 15px; } }
  @media screen and (min-width: 1024px) {
    .header-slider .box .typo_primary {
      font-size: 40px; } }
  @media screen and (min-width: 1200px) {
    .header-slider .box .typo_primary {
      font-size: 50px;
      line-height: 60px; } }

.header-slider .box .typo_text {
  background: #f2f2f2;
  padding: 15px;
  line-height: 25px;
  position: relative;
  top: -20px;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .header-slider .box .typo_text {
      width: 60%;
      margin: 0 35px;
      position: static;
      height: 120px;
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 1024px) {
    .header-slider .box .typo_text {
      margin: 0 7%;
      width: 50%; } }

.portfolio {
  margin-bottom: 38px; }
  @media screen and (min-width: 768px) {
    .portfolio {
      margin-bottom: 55px; } }
  @media screen and (min-width: 768px) {
    .portfolio .boxes-wrapper {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex; } }
  .portfolio .boxes-wrapper .box_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px; }
    @media screen and (min-width: 768px) {
      .portfolio .boxes-wrapper .box_img {
        width: 100%;
        height: 300px; } }
    @media screen and (min-width: 1024px) {
      .portfolio .boxes-wrapper .box_img {
        height: 380px; } }
    @media screen and (min-width: 1200px) {
      .portfolio .boxes-wrapper .box_img {
        height: 460px; } }
  .portfolio .boxes-wrapper .box_name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    background: #ff4411;
    min-height: 50px;
    padding: 10px 15px; }
    @media screen and (min-width: 768px) {
      .portfolio .boxes-wrapper .box_name {
        flex-flow: inherit;
        height: 100%;
        box-sizing: border-box;
        align-items: flex-end; } }
    @media screen and (min-width: 1200px) {
      .portfolio .boxes-wrapper .box_name {
        width: 362px; } }
    .portfolio .boxes-wrapper .box_name span {
      font-size: 20px;
      color: white;
      font-weight: 700; }
      @media screen and (min-width: 768px) {
        .portfolio .boxes-wrapper .box_name span {
          margin-right: 5px; } }
      @media screen and (min-width: 1200px) {
        .portfolio .boxes-wrapper .box_name span {
          font-size: 18px; } }
    .portfolio .boxes-wrapper .box_name .arrow {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin: 15px 0 5px; }
      @media screen and (min-width: 768px) {
        .portfolio .boxes-wrapper .box_name .arrow {
          width: auto;
          margin: 0; } }
      .portfolio .boxes-wrapper .box_name .arrow_img {
        transform: scale(0.6); }

.presentation-body .boxes-wrapper .box {
  margin-bottom: 80px;
  height: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .presentation-body .boxes-wrapper .box {
      height: 420px; } }
  .presentation-body .boxes-wrapper .box .arrow {
    background: #ff4411;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    float: right; }
    @media screen and (min-width: 768px) {
      .presentation-body .boxes-wrapper .box .arrow {
        height: 70px;
        width: 120px;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 15px; } }
    @media screen and (min-width: 1024px) {
      .presentation-body .boxes-wrapper .box .arrow {
        height: 90px; } }
    @media screen and (min-width: 768px) {
      .presentation-body .boxes-wrapper .box .arrow_img {
        transform: scale(0.6); } }
  .presentation-body .boxes-wrapper .box .sub-boxes-wrapper {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end; }
    @media screen and (min-width: 768px) {
      .presentation-body .boxes-wrapper .box .sub-boxes-wrapper {
        justify-content: space-between;
        padding: 0 15px;
        box-sizing: border-box;
        align-items: flex-end;
        width: 100%;
        flex-direction: row; } }
    @media screen and (min-width: 1024px) {
      .presentation-body .boxes-wrapper .box .sub-boxes-wrapper {
        padding: 0 30px; } }
    .presentation-body .boxes-wrapper .box .sub-boxes-wrapper_box:first-of-type {
      margin-bottom: 0;
      background: #000;
      height: auto;
      padding: 0 15px;
      position: relative; }
      @media screen and (min-width: 768px) {
        .presentation-body .boxes-wrapper .box .sub-boxes-wrapper_box:first-of-type {
          height: 100px;
          width: 70%;
          justify-content: flex-start; } }
      @media screen and (min-width: 1024px) {
        .presentation-body .boxes-wrapper .box .sub-boxes-wrapper_box:first-of-type {
          height: 120px; } }
      .presentation-body .boxes-wrapper .box .sub-boxes-wrapper_box:first-of-type .icon {
        max-width: 80px;
        position: absolute;
        top: -40px; }
        @media screen and (min-width: 768px) {
          .presentation-body .boxes-wrapper .box .sub-boxes-wrapper_box:first-of-type .icon {
            max-width: 100px;
            top: -50px; } }
        @media screen and (min-width: 1024px) {
          .presentation-body .boxes-wrapper .box .sub-boxes-wrapper_box:first-of-type .icon {
            max-width: 120px; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.large {
    margin-bottom: 120px; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.large .box:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end; } }

@media screen and (min-width: 1024px) {
  .presentation-body .boxes-wrapper.large .box:first-of-type {
    height: 500px; } }

@media screen and (min-width: 1370px) {
  .presentation-body .boxes-wrapper.large .box:first-of-type {
    height: 560px; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.small {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.small .box {
    width: 48%; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.small .box .arrow {
    height: 15px;
    width: 50px;
    justify-content: center;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .presentation-body .boxes-wrapper.small .box .arrow {
    height: 10px;
    width: 40px; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper {
    top: 25px; } }

@media screen and (min-width: 1024px) {
  .presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper {
    top: 20px; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper_box:first-of-type {
    width: 42%;
    height: 112%; } }

@media screen and (min-width: 1024px) {
  .presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper_box:first-of-type {
    width: 35%;
    height: 110%; } }

@media screen and (min-width: 1200px) {
  .presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper_box:first-of-type {
    width: 30%; } }

.presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper_box:first-of-type .icon {
  max-width: 150px;
  background: #000;
  padding: 10px;
  top: -40px;
  left: 0; }
  @media screen and (min-width: 768px) {
    .presentation-body .boxes-wrapper.small .box .sub-boxes-wrapper_box:first-of-type .icon {
      right: 0;
      margin: auto;
      top: 50%;
      transform: translateY(-50%); } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.gate .box {
    height: 240px; } }

@media screen and (min-width: 1024px) {
  .presentation-body .boxes-wrapper.gate .box {
    width: 32%; } }

@media screen and (min-width: 768px) {
  .presentation-body .boxes-wrapper.gate .box .sub-boxes-wrapper_box:first-of-type {
    height: 40%;
    background: #ff4411; } }

@media screen and (min-width: 1024px) {
  .presentation-body .boxes-wrapper.gate .box .sub-boxes-wrapper_box:first-of-type {
    width: 48%; } }

@media screen and (min-width: 1200px) {
  .presentation-body .boxes-wrapper.gate .box .sub-boxes-wrapper_box:first-of-type {
    width: 34%; } }

.icons-category-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0; }
  @media screen and (min-width: 768px) {
    .icons-category-wrapper {
      justify-content: space-between; } }
  .icons-category-wrapper .box {
    margin: 5px 0; }
    .icons-category-wrapper .box img {
      max-width: 140px; }
      @media screen and (min-width: 1024px) {
        .icons-category-wrapper .box img {
          max-width: 180px; } }

@media screen and (min-width: 768px) {
  .page-template-single-category-view .icons-category-wrapper {
    margin: 40px 0 60px; } }

.category-listing-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .category-listing-body {
      flex-direction: row;
      justify-content: normal;
      padding-top: 25px; } }
  .category-listing-body_item {
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .category-listing-body_item {
        width: 25%;
        justify-content: center;
        display: flex;
        margin: 0 0 45px; } }
    .category-listing-body_item-img {
      max-height: 240px;
      display: block;
      margin: -60px auto 0;
      position: relative;
      bottom: -90px; }
      @media screen and (min-width: 768px) {
        .category-listing-body_item-img {
          bottom: -60px;
          margin: -50px auto 0; } }
      @media screen and (min-width: 1024px) {
        .category-listing-body_item-img {
          max-height: 260px; } }
    .category-listing-body_item .arrow {
      display: block;
      background: #ff4411;
      height: 130px;
      padding: 10px;
      width: 180px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row; }
      @media screen and (min-width: 768px) {
        .category-listing-body_item .arrow {
          height: 90px;
          width: 140px;
          padding: 10px 15px; } }
      @media screen and (min-width: 1024px) {
        .category-listing-body_item .arrow {
          width: 180px; } }
      .category-listing-body_item .arrow_img {
        transform: scale(0.6); }
        @media screen and (min-width: 1024px) {
          .category-listing-body_item .arrow_img {
            position: relative;
            left: 15px; } }

.bar {
  margin: 20px 0 30px; }
  @media screen and (min-width: 768px) {
    .bar {
      margin: 20px 0 40px; } }

.about-product ul,
.about-product ol {
  list-style-type: decimal;
  margin: 0 25px; }
  .about-product ul li,
  .about-product ol li {
    margin-bottom: 15px;
    line-height: 25px; }

.article-navigation {
  margin: 60px 0 30px; }
  .article-navigation_item {
    background: #f2f2f2;
    position: relative;
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .article-navigation_item {
        height: 50px;
        width: 110px; } }
    @media screen and (min-width: 1024px) {
      .article-navigation_item {
        width: 150px; } }
    @media screen and (min-width: 768px) {
      .article-navigation_item:nth-child(2) {
        width: 90px; } }
    .article-navigation_item:nth-child(2) .article-navigation_item-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60px;
      margin: auto; }
    .article-navigation_item-img {
      filter: brightness(0%); }
    .article-navigation_item:hover .article-navigation_item-img {
      filter: brightness(100%); }
    .article-navigation_item:first-of-type .article-navigation_item-img {
      transform: scale(0.6); }
    .article-navigation_item:last-of-type .article-navigation_item-img {
      transform: scale(0.6) rotate(180deg); }
    .article-navigation_item:last-of-type, .article-navigation_item:first-of-type {
      cursor: pointer; }
    .article-navigation_item-wrapper {
      display: flex; }
  .article-navigation .content-wrapper {
    justify-content: space-evenly;
    display: flex;
    justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .article-navigation .content-wrapper {
        width: 600px;
        margin: 0 auto; } }

.presentation.doors .presentation-body .two-boxes {
  margin-bottom: 45px; }
  @media screen and (min-width: 768px) {
    .presentation.doors .presentation-body .two-boxes {
      display: flex;
      justify-content: space-around; } }
  .presentation.doors .presentation-body .two-boxes-item {
    position: relative; }
    .presentation.doors .presentation-body .two-boxes-item::before {
      content: url("../images/pdf-icon.png");
      position: absolute;
      transform: scale(0.5);
      left: 0;
      right: 0;
      bottom: -68px;
      z-index: 2;
      display: flex;
      justify-content: center; }
      @media screen and (min-width: 768px) {
        .presentation.doors .presentation-body .two-boxes-item::before {
          left: 0; } }
      @media screen and (min-width: 1200px) {
        .presentation.doors .presentation-body .two-boxes-item::before {
          bottom: -60px; } }
    .presentation.doors .presentation-body .two-boxes-item_img {
      height: 290px;
      width: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 37px;
      left: 0;
      right: 0;
      margin: auto; }
      @media screen and (min-width: 768px) {
        .presentation.doors .presentation-body .two-boxes-item_img {
          height: 360px;
          width: 180px; } }
      @media screen and (min-width: 1200px) {
        .presentation.doors .presentation-body .two-boxes-item_img {
          height: 410px;
          width: 207px; } }
  .presentation.doors .presentation-body .two-boxes .arrow {
    background: #ff4411;
    height: 110px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    max-width: 300px;
    margin: 240px auto 0; }
    @media screen and (min-width: 768px) {
      .presentation.doors .presentation-body .two-boxes .arrow {
        width: 340px;
        max-width: none;
        margin-top: 287px; } }
    @media screen and (min-width: 1024px) {
      .presentation.doors .presentation-body .two-boxes .arrow {
        width: 410px; } }
    @media screen and (min-width: 1200px) {
      .presentation.doors .presentation-body .two-boxes .arrow {
        width: 560px;
        height: 120px;
        margin-top: 328px; } }
    .presentation.doors .presentation-body .two-boxes .arrow_img {
      transform: scale(0.6); }

.presentation-contact {
  margin: 30px 0; }
  .presentation-contact-box:first-of-type {
    background: #f2f2f2;
    padding: 15px 15px 30px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .presentation-contact-box:first-of-type {
        width: 40%;
        height: 172px;
        max-width: 305px;
        padding: 30px 15px 30px; } }
    @media screen and (min-width: 1024px) {
      .presentation-contact-box:first-of-type {
        width: 30%;
        padding: 50px 15px 50px; } }
  .presentation-contact-box:last-of-type {
    background-image: url("../images/pres-contact.png");
    background-size: cover;
    background-position: center;
    height: 210px;
    display: flex;
    align-items: center;
    padding: 0 15px; }
    @media screen and (min-width: 768px) {
      .presentation-contact-box:last-of-type {
        width: 60%;
        height: 320px; } }
    @media screen and (min-width: 1024px) {
      .presentation-contact-box:last-of-type {
        width: 70%;
        height: 360px; } }
  .presentation-contact .content-wrapper {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .presentation-contact .content-wrapper {
        flex-direction: row;
        align-items: center; } }

.article-presentation {
  margin: 0 15px; }
  @media screen and (min-width: 768px) {
    .article-presentation {
      justify-content: space-between;
      align-items: flex-end;
      min-height: 280px; } }
  @media screen and (min-width: 1024px) {
    .article-presentation {
      min-height: 340px; } }
  @media screen and (min-width: 1200px) {
    .article-presentation {
      min-height: 380px; } }
  .article-presentation_item {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .article-presentation_item {
        width: 30%; } }
    @media screen and (min-width: 1200px) {
      .article-presentation_item {
        margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .article-presentation_item:first-of-type {
        position: relative; } }
    .article-presentation_item:first-of-type .article-presentation_item-img {
      bottom: -110px;
      max-height: 285px; }
      @media screen and (min-width: 768px) {
        .article-presentation_item:first-of-type .article-presentation_item-img {
          position: absolute;
          bottom: 40px;
          max-height: 235px; } }
      @media screen and (min-width: 1024px) {
        .article-presentation_item:first-of-type .article-presentation_item-img {
          bottom: 30px;
          max-height: 285px; } }
      @media screen and (min-width: 1200px) {
        .article-presentation_item:first-of-type .article-presentation_item-img {
          max-height: 365px; } }
    @media screen and (min-width: 768px) {
      .article-presentation_item:first-of-type .arrow {
        width: 100%; } }
    .article-presentation_item-img {
      max-width: 100%; }
      .article-presentation_item-img.blinds {
        max-height: 372px; }
        @media screen and (min-width: 768px) {
          .article-presentation_item-img.blinds {
            max-height: 270px; } }
        @media screen and (min-width: 1024px) {
          .article-presentation_item-img.blinds {
            max-height: 310px; } }
        @media screen and (min-width: 1200px) {
          .article-presentation_item-img.blinds {
            max-height: 372px; } }

.gate .sub-boxes-wrapper_box .typo_secondary {
  padding: 15px 0;
  font-size: 22px;
  line-height: 32px; }
  @media screen and (min-width: 768px) {
    .gate .sub-boxes-wrapper_box .typo_secondary {
      line-height: 24px;
      font-size: 18px;
      box-sizing: border-box;
      justify-content: flex-start;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 768px) {
  .gate .icons-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

.gate .icons-slider .box {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .gate .icons-slider .box {
      max-width: 220px; } }
  @media screen and (min-width: 1024px) {
    .gate .icons-slider .box {
      max-width: 260px; } }
  @media screen and (min-width: 1200px) {
    .gate .icons-slider .box {
      max-width: 280px; } }
  .gate .icons-slider .box img {
    max-width: 100%; }
  .gate .icons-slider .box h6 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px; }
    @media screen and (min-width: 1024px) {
      .gate .icons-slider .box h6 {
        font-size: 22px;
        line-height: 34px; } }

.gate-heading {
  margin: 15px; }
  @media screen and (min-width: 768px) {
    .gate-heading {
      margin: 0; } }
  .gate-heading_img {
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px) {
      .gate-heading_img {
        margin: 15px 0;
        height: 360px; } }
    @media screen and (min-width: 1024px) {
      .gate-heading_img {
        height: 450px; } }
  .gate-heading_name {
    background: #ff4411;
    margin: -50px 15px 0;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    box-sizing: border-box;
    max-width: 440px; }
    @media screen and (min-width: 768px) {
      .gate-heading_name {
        font-size: 18px;
        height: 100px;
        margin-top: -90px;
        padding-left: 30px; } }
    @media screen and (min-width: 1024px) {
      .gate-heading_name {
        height: 118px;
        padding-left: 35px;
        margin-top: -110px; } }

.tabs {
  margin: 0 15px; }
  .tabs .tabs-nav-ul {
    margin: 25px 0 30px; }
    @media screen and (min-width: 768px) {
      .tabs .tabs-nav-ul {
        margin: 0; } }
    @media screen and (min-width: 1200px) {
      .tabs .tabs-nav-ul {
        margin-left: 15px; } }
    .tabs .tabs-nav-ul_item {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      background: #f2f2f2;
      margin-bottom: 2px;
      transition: .3s all;
      font-size: 15px;
      font-weight: bold; }
      @media screen and (min-width: 768px) {
        .tabs .tabs-nav-ul_item {
          width: 200px;
          height: 60px; } }
      @media screen and (min-width: 1024px) {
        .tabs .tabs-nav-ul_item {
          width: 275px;
          height: 75px; } }
      .tabs .tabs-nav-ul_item.active {
        background: #ff4411;
        color: white; }
      .tabs .tabs-nav-ul_item:hover {
        background: #000;
        color: white; }
      .tabs .tabs-nav-ul_item:last-of-type {
        margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .tabs .tabs-content {
      padding-left: 60px; } }
  @media screen and (min-width: 768px) {
    .tabs .content-wrapper {
      display: flex;
      flex-direction: row;
      margin: 30px auto; } }
  .tabs .heading {
    font-size: 18px;
    font-weight: bold;
    padding: 28px 0 10px;
    display: block; }
  @media screen and (min-width: 768px) {
    .tabs .tab p {
      padding: 0 15px; } }

body {
  overflow-x: hidden;
  background: white; }
  body.is-active {
    overflow: hidden; }

@media screen and (min-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1366px; } }
