@charset "UTF-8";
/**
 * Wordpress INTR THEME framework
 *
 * Version 1.0
 * Date: 04.02.2018
 *
 * @author Sebastian Ślęczka @ me[at]sevastijan[dot]com
 * @package WordPress
 * @subpackage Timber for INTR THEME 
 *
 * Import customs
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.g-dn {
  display: none; }

/**
 * Wordpress INTR THEME framework
 *
 * Version 1.0
 * Date: 04.02.2018
 *
 * @author Sebastian Ślęczka @ me[at]sevastijan[dot]com
 * @package WordPress
 * @subpackage Timber for INTR THEME 
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.font-primary {
  font-family: "Montserrat", sans-serif; }
  .font-primary.fw-400 {
    font-weight: 400; }
  .font-primary.fw-600 {
    font-weight: 600; }
  .font-primary.fw-700 {
    font-weight: 700; }
  .font-primary.fw-900 {
    font-weight: 900; }

.font-secondary {
  font-family: "Arvo", serif; }
  .font-secondary.fw-400 {
    font-weight: 400; }
  .font-secondary.fw-700 {
    font-weight: 700; }

.form-ui_block .font-primary,
.form-ui_block .font-secondary {
  font-size: 25px;
  line-height: 35px; }

body {
  font: 400 13px/25px "Montserrat", sans-serif; }

/**
 * Import modules
 */
.btn {
  border: 2px solid #9fa3a7;
  color: #2c2c2c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .24em;
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    background-color: #9fa3a7;
    color: white; }
  .btn-primary {
    border-color: #ffc80a; }
    .btn-primary:hover {
      background-color: #ffc80a;
      color: white; }
  .btn-secondary {
    border-color: #ffc80a;
    background-color: #ffc80a;
    color: white; }
    .btn-secondary:hover {
      background-color: transparent;
      color: #2c2c2c; }
  .btn-tertiary {
    border-color: #ffc80a;
    color: white; }
    .btn-tertiary:hover {
      background-color: #ffc80a;
      color: white; }

.logo {
  display: block;
  float: left; }
  @media screen and (min-width: 1024px) {
    .logo {
      padding: 10px 0; } }
  @media screen and (min-width: 1200px) {
    .logo {
      padding: 24px 0px; } }
  .logo-href.is-svg {
    display: block;
    max-width: 110px; }
    @media screen and (min-width: 1200px) {
      .logo-href.is-svg {
        max-width: 180px; } }
    .logo-href.is-svg img {
      display: block;
      width: 100%; }
  .logo-href img {
    display: inline-block; }

.menu {
  float: right;
  margin-right: 25px; }
  @media screen and (min-width: 1024px) {
    .menu {
      float: left;
      margin-right: 0;
      margin-left: 10px; } }
  @media screen and (min-width: 1370px) {
    .menu {
      float: right;
      margin-left: 0; } }
  .menu .menu-burger {
    padding-top: 7px; }
    @media screen and (min-width: 1024px) {
      .menu .menu-burger {
        display: none; } }
    .menu .menu-burger span {
      display: block;
      height: 2px;
      background-color: #2c2c2c;
      margin-bottom: 4px;
      float: right;
      clear: both;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
      .menu .menu-burger span:first-child {
        width: 25px; }
      .menu .menu-burger span:nth-child(2) {
        width: 18px; }
      .menu .menu-burger span:last-child {
        width: 22px; }
    .menu .menu-burger.is-active span {
      position: relative;
      width: 25px; }
      .menu .menu-burger.is-active span:first-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 6px; }
      .menu .menu-burger.is-active span:nth-child(2) {
        opacity: 0; }
      .menu .menu-burger.is-active span:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -6px; }
  .menu .menu-list {
    position: absolute;
    top: 106px;
    left: -500px;
    min-width: 320px;
    background-color: white;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    -webkit-box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 1024px) {
      .menu .menu-list {
        position: static;
        -webkit-box-shadow: none;
        box-shadow: none; } }
    .menu .menu-list.is-active {
      left: 0;
      width: 100%; }
    .menu .menu-list_item {
      padding-left: 15px;
      position: relative;
      border-bottom: 1px solid #e3e3e5; }
      @media screen and (min-width: 1024px) {
        .menu .menu-list_item {
          display: block;
          float: left;
          padding-left: 20px;
          border-bottom: 0;
          position: static; } }
      @media screen and (min-width: 1200px) {
        .menu .menu-list_item {
          padding-left: 40px; } }
      @media screen and (min-width: 1370px) {
        .menu .menu-list_item {
          padding: 0 40px; } }
      @media screen and (min-width: 1760px) {
        .menu .menu-list_item {
          padding: 0 60px; } }
      @media screen and (min-width: 1024px) {
        .menu .menu-list_item:hover a {
          border-bottom: 2px solid #ffc80a; } }
      .menu .menu-list_item:last-child {
        border-bottom: 0; }
      .menu .menu-list_item::after {
        content: '';
        background-image: url("../img/icons/keyboard-right-arrow-button.svg");
        background-size: cover;
        position: absolute;
        z-index: 50;
        width: 10px;
        height: 12px;
        top: 14px;
        right: 15px;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s; }
        @media screen and (min-width: 1024px) {
          .menu .menu-list_item::after {
            display: none; } }
      .menu .menu-list_item a {
        display: block;
        padding: 10px 0;
        font: 700 12px/20px "Montserrat", sans-serif;
        letter-spacing: .075em;
        text-transform: uppercase;
        text-decoration: none;
        color: #2c2c2c;
        position: relative;
        z-index: 100;
        -webkit-transition: border-color .3s;
        -o-transition: border-color .3s;
        transition: border-color .3s;
        border-bottom: 2px solid transparent; }
        @media screen and (min-width: 1024px) {
          .menu .menu-list_item a {
            line-height: 30px; } }
        @media screen and (min-width: 1200px) {
          .menu .menu-list_item a {
            padding: 33px 0; } }
      .menu .menu-list_item.is-parent {
        z-index: 100; }
        .menu .menu-list_item.is-parent::after {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
        .menu .menu-list_item.is-parent.is-active::after {
          -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
      @media screen and (min-width: 1024px) {
        .menu .menu-list_item:hover .menu-children_list {
          max-height: 1000px;
          overflow: visible;
          border-color: #ffc80a;
          -webkit-box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.2);
          padding: 15px; } }
      @media screen and (min-width: 1370px) {
        .menu .menu-list_item:hover .menu-children_list {
          padding: 35px; } }
      .menu .menu-list_item:hover .menu-children_list .menu-children_item a {
        border-bottom: 0; }
      .menu .menu-list_item:hover .menu-children_list .menu-children_item:hover a {
        color: #ffc80a;
        border-bottom: 0; }
    .menu .menu-list .menu-children_list {
      padding-left: 15px;
      overflow: hidden;
      max-height: 0;
      -webkit-transition: max-height .2s;
      -o-transition: max-height .2s;
      transition: max-height .2s;
      max-width: 1200px; }
      @media screen and (min-width: 1024px) {
        .menu .menu-list .menu-children_list {
          position: absolute;
          left: 0;
          right: 0;
          border-top: 2px solid transparent;
          padding: 0 15px;
          -webkit-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
          background-color: white;
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); } }
      @media screen and (min-width: 1370px) {
        .menu .menu-list .menu-children_list {
          padding: 0 35px;
          max-width: 1370px; } }
      @media screen and (min-width: 1760px) {
        .menu .menu-list .menu-children_list {
          max-width: 1570px; } }
      .menu .menu-list .menu-children_list.is-active {
        max-height: 1000px; }
      @media screen and (min-width: 1024px) {
        .menu .menu-list .menu-children_list .menu-children_item {
          display: inline-block;
          width: 25%; } }
      .menu .menu-list .menu-children_list .menu-children_item a {
        border-bottom: 0; }
        @media screen and (min-width: 1024px) {
          .menu .menu-list .menu-children_list .menu-children_item a {
            padding: 10px 0; } }

.search {
  float: right; }
  .search-trigger {
    padding-top: 4px; }
    @media screen and (min-width: 1200px) {
      .search-trigger {
        padding: 40px 0; } }
    .search-trigger img {
      display: block;
      width: 20px; }
  .search-container {
    display: none; }

/**
 * Import blocks
 */
.page-container {
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .page-container {
      padding: 0 15px; } }
  @media screen and (min-width: 1370px) {
    .page-container {
      max-width: 1370px; } }
  @media screen and (min-width: 1760px) {
    .page-container {
      max-width: 1570px; } }

.form-ui_section {
  padding: 50px;
  border-top: 2px solid #9fa3a7; }

.form-ui_block {
  display: inline-block;
  vertical-align: top;
  padding: 35px 50px; }
  .form-ui_block.is-dark {
    background-color: #2c2c2c; }

.header {
  padding: 15px;
  background-color: white;
  border-bottom: 2px solid #ffc80a; }
  @media screen and (min-width: 1024px) {
    .header {
      border-bottom: 0;
      padding: 0; } }
