.home-header .social-wrapper {
  bottom: -100%;
  z-index: 0; }
  @media screen and (min-width: 768px) {
    .home-header .social-wrapper {
      bottom: auto; } }
  @media screen and (min-width: 992px) {
    .home-header .social-wrapper {
      bottom: -46%; } }
  @media screen and (min-width: 1250px) {
    .home-header .social-wrapper {
      bottom: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }

.social-wrapper {
  bottom: -62%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  top: auto;
  background: #fff;
  padding: 3px 10px 6px;
  right: 0;
  overflow: hidden;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .social-wrapper {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      bottom: auto;
      right: 92px; } }
  @media screen and (min-width: 992px) {
    .social-wrapper {
      bottom: -46%;
      top: auto;
      right: 0; } }
  @media screen and (min-width: 1250px) {
    .social-wrapper {
      background: transparent;
      right: 122px;
      bottom: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 0; } }
  .social-wrapper .a2a_svg {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px; }
    @media screen and (min-width: 992px) {
      .social-wrapper .a2a_svg {
        height: 24px;
        width: 24px; } }
  .social-wrapper .a2a_label {
    display: none; }
  .social-wrapper.footer {
    padding: 0 5px 0 0;
    background: transparent;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: static; }
    .social-wrapper.footer .a2a_svg {
      display: inline-block;
      margin: 6px 10px 6px 0;
      clear: both;
      float: left; }
    .social-wrapper.footer .box {
      float: left;
      margin-top: 6px;
      width: 100%;
      display: table;
      border-bottom: 1px solid #808080; }
      .social-wrapper.footer .box .social-text {
        font-size: 16px;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        width: 100%; }

.social-media-title {
  font-size: 14px;
  color: #fff;
  font-weight: 600; }

.search .pagination-box .pagination-ul {
  margin: 30px 0;
  text-align: center; }
  .search .pagination-box .pagination-ul .pagination-li {
    display: inline-block;
    color: #fff;
    padding: 12px 0;
    background: #53565a;
    font-weight: 600; }
    .search .pagination-box .pagination-ul .pagination-li.active {
      background: grey; }
    .search .pagination-box .pagination-ul .pagination-li a {
      padding: 7px 18px; }
      .search .pagination-box .pagination-ul .pagination-li a .arrow {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg); }
        .search .pagination-box .pagination-ul .pagination-li a .arrow.label-next {
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg); }
