@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.download__rules-details__button, .download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.download__rules-details__link, .download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__rules-details__link:after, .download__experts-box__button-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a;
}

.footer__heading {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 20px;
  /* 9 */
  padding: 2.1875rem 0 0 1.25rem;
  /* 9 */
}

.footer__content {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 50px;
  /* 9 */
  padding: 0 0 0 3.125rem;
  /* 9 */
}

.footer__content-mobile__text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 30px 0 0 0;
  /* 9 */
  padding: 1.875rem 0 0 0;
  /* 9 */
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.footer__content-paragraph {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.3125rem;
  /* 9 */
}

@media (min-width: 992px) {
  .footer__mobile {
    display: none;
  }
}

.footer__tablet {
  display: none;
}

@media (min-width: 992px) {
  .footer__tablet {
    min-height: 480px;
    display: block;
    margin: 0 auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    padding: 60px;
    /* 9 */
    padding: 3.75rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .footer__tablet {
    min-height: 550px;
  }
}

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__container-left {
    min-height: 420px;
  }
}

.footer__container-left:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-middle {
  width: 60%;
  float: left;
}

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__container-right {
    min-height: 420px;
  }
}

.footer__container-right:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-right:after {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__navbox {
    min-height: 215px;
  }
}

.footer__navbox:before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .footer__navbox:before {
    height: 75%;
  }
}

.footer__navbox-title {
  color: white;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .footer__navbox-title {
    font-size: 16px;
    top: -35px;
  }
}

@media (min-width: 1360px) {
  .footer__navbox-title {
    font-size: 20px;
  }
}

@media (min-width: 1620px) {
  .footer__navbox-title {
    font-size: 21px;
    font-weight: 600;
  }
}

.footer__navbox:nth-child(n+5) {
  padding-top: 45px;
}

.footer__navbox:nth-child(n+5):before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 1200px) {
  .footer__navbox:nth-child(n+5):before {
    height: 75%;
  }
}

.footer__navbox:nth-child(n+5) h3 {
  top: 5px;
}

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .footer__about {
    font-size: 16px;
  }
}

@media (min-width: 1620px) {
  .footer__about {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
  }
}

.footer__link:hover {
  color: #B7C9D3;
}

.footer__contact {
  border: 1px solid red !important;
}

.footer__contact-adress {
  color: white;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .footer__contact-adress {
    font-size: 16px;
  }
}

.footer__contact-adress p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 7px 30px 0 0;
  /* 9 */
  padding: 0.4375rem 1.875rem 0 0;
  /* 9 */
}

.footer__contact-telephone {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
  font-size: 14px;
  font-weight: 400;
}

.footer__contact-telephone p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 7px;
  /* 9 */
  padding-top: 0.4375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__contact-telephone {
    font-size: 16px;
  }
}

.footer__contact-email {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .footer__contact-email {
    font-size: 16px;
  }
}

.footer__contact-social {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
}

.footer__contact-social__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-right: 10px;
  /* 9 */
  padding-right: 0.625rem;
  /* 9 */
}

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.download__rules-details__button, .download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.download__rules-details__link, .download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__rules-details__link:after, .download__experts-box__button-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12;
}

@media (min-width: 768px) {
  .nav-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: white;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.nav-mobile__facebook {
  position: absolute;
  right: 75px;
  bottom: 15px;
}

.nav-mobile__linkedin {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.nav-mobile__search--wrapper {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 80px 25px 0 0;
  /* 9 */
  margin: 5rem 1.5625rem 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__search--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 100px 25px 0 0;
    /* 9 */
    margin: 6.25rem 1.5625rem 0 0;
    /* 9 */
  }
}

.nav-mobile__search {
  position: relative;
  top: -3px;
  float: right;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

.nav-mobile__english {
  text-transform: uppercase;
  color: white;
  float: right;
  margin-right: 5px;
}

.visible {
  display: none;
}

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 150px;
    /* 9 */
    margin-top: 9.375rem;
    /* 9 */
  }
}

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 30px;
    /* 9 */
    margin-left: 1.875rem;
    /* 9 */
  }
}

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.nav-mobile__link:hover {
  color: #B7C9D3;
}

@media (min-width: 768px) {
  .nav-mobile__link {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.download__rules-details__button, .download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.download__rules-details__link, .download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__rules-details__link:after, .download__experts-box__button-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 47%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .header__navigation-search {
    right: 0;
    display: inline-block;
  }
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__navigation--search {
  border-bottom: 1px solid #E6E6E6;
}

.header__navigation--nomargin {
  margin: 0;
}

.header__title {
  display: none;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title {
    display: block;
    height: 200px;
    background-image: url("../img/header/badania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__title-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title-wrapper {
    width: 95%;
    height: 200px;
  }
}

@media (min-width: 1620px) {
  .header__title-wrapper {
    max-width: 1600px;
  }
}

.header__title-text {
  position: absolute;
  bottom: -6px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 70px;
    font-size: 4.375rem;
  }
}

@media (min-width: 1620px) {
  .header__title-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__title--badania {
  background-image: url("../img/header/badania.jpg");
}

.header__title--raporty {
  background-image: url("../img/header/raporty.jpg");
}

.header__title--akademia {
  background-image: url("../img/header/akademia.jpg");
}

.header__title--kontakt {
  background-image: url("../img/header/kontakt.jpg");
}

.header__title--pbi {
  background-image: url("../img/header/pbi.jpg");
}

.header__title--media {
  background-image: url("../img/header/media.jpg");
}

.header__title--aktualnosci {
  background-image: url("../img/header/aktualnosci.jpg");
}

.header__title--gemius {
  background-image: url("../img/header/gemius.jpg");
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.download__rules-details__button, .download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.download__rules-details__link, .download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__rules-details__link:after, .download__experts-box__button-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
  border: none;
}

.search-input label {
  position: relative;
  z-index: 15;
  display: none;
}

@media (min-width: 992px) {
  .search-input label {
    display: block;
  }
}

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -7px;
  right: 0;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .search-input ~ input {
    display: block;
  }
}

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 992px) {
  .search-input:checked ~ input {
    display: block;
  }
}

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__mobile--wrapper {
    display: none;
  }
}

.search__mobile-input {
  display: none;
  padding-bottom: 5px;
}

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a;
}

@media (min-width: 768px) {
  .search__mobile-input label {
    display: none;
  }
}

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .search__mobile-input ~ input {
    display: none;
  }
}

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 768px) {
  .search__mobile-input:checked ~ input {
    display: none;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.download__rules-details__button, .download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.download__rules-details__link, .download__experts-box__button-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__rules-details__link:after, .download__experts-box__button-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.toggle__nav {
  margin: 0 auto;
  display: block;
  width: 95%;
  text-align: center;
  position: relative;
  left: 1px;
}

@media (min-width: 992px) {
  .toggle__nav {
    display: none;
  }
}

.toggle__nav label {
  cursor: pointer;
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #F2F2F2;
}

.toggle__nav label:before {
  content: url("../img/arrow-toggle.png");
  display: block;
  position: relative;
  top: 1px;
  padding: 1px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.toggle__nav label span {
  position: absolute;
  left: -9999em;
}

.toggle__nav input[type='checkbox']:checked + label[for='toggle__checkbox']:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.toggle__nav input[type='checkbox'] {
  position: absolute;
  left: -9999em;
}

.toggle__nav input[type='checkbox']:checked ~ ul {
  max-height: 13em;
  /* This value needs to exceed the potential height of the content. Try to make as close to the approximate of the content as possible. The greater the difference between the value and height of the content, the longer the pause before animation will be */
}

.toggle__nav ul {
  margin: 0 !important;
  padding: 0 !important;
  background: white;
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: 1;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle__nav ul li {
  text-align: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 15px 0;
  /* 9 */
  margin: 0.9375rem 0 0.9375rem 0;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 5px;
  /* 9 */
  padding-left: 0.3125rem;
  /* 9 */
}

.toggle__nav ul li a {
  color: black;
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 300;
}

.toggle__nav ul li a:hover {
  color: #B7C9D3;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body,
html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

.aside-nav {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
  display: none;
}

@media (min-width: 992px) {
  .aside-nav {
    display: block;
    width: 25%;
    float: left;
  }
}

.aside-nav__item {
  display: inline-block;
  width: 70%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 40px;
  /* 9 */
  margin-left: 2.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 27px 0 27px 0;
  /* 9 */
  padding: 1.6875rem 0 1.6875rem 0;
  /* 9 */
  border-bottom: 1px solid #53565A;
}

.aside-nav__item--active a {
  color: #B7C9D3;
}

.aside-nav__item:last-child {
  border-bottom: none;
}

.aside-nav__link {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: left;
  color: #53565A;
  width: 100%;
}

.aside-nav__link:hover {
  color: #B7C9D3;
}

.aside-nav__link--active {
  color: #B7C9D3;
}

/* Search //////////////////////////////////////////////////////////////////////*/
.search {
  height: auto;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 85px 0 35px 0;
  /* 9 */
  margin: 5.3125rem 0 2.1875rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .search {
    height: 25px;
  }
}

.search--wrapper-media {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1620px) {
  .search--wrapper-media {
    max-width: 1280px;
  }
}

@media (min-width: 1820px) {
  .search--wrapper-media {
    max-width: 1380px;
  }
}

.search__categories {
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 35px;
  /* 9 */
  margin-right: 2.1875rem;
  /* 9 */
  display: none;
}

@media (min-width: 768px) {
  .search__categories {
    display: inline-block;
  }
}

.search__categories-item {
  float: left;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
  line-height: 35px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 10px;
  /* 9 */
  margin-right: 0.625rem;
  /* 9 */
  padding: 0;
}

@media (min-width: 992px) {
  .search__categories-item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 33px;
    /* 9 */
    margin-right: 2.0625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .search__categories-item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 45px;
    /* 9 */
    margin-right: 2.8125rem;
    /* 9 */
  }
}

.search__categories-item:hover {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600;
  cursor: pointer;
}

.search__categories-item:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px;
}

.search__field {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  float: left;
  line-height: 35px;
  border: none;
  border-bottom: 1px solid #53565a;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 45px;
  /* 9 */
  padding-left: 2.8125rem;
  /* 9 */
  outline: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 500px) {
  .search__field {
    margin-bottom: 0;
  }
}

.search__details {
  float: right;
}

@media (min-width: 768px) {
  .search__details {
    float: right;
  }
}

.search__select {
  min-height: 38px;
}

.search__select--categories {
  display: block;
  float: right;
  min-height: 38px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .search__select--categories {
    display: none;
  }
}

/* Main*/
.media-main {
  overflow: hidden;
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 992px) {
  .media-main {
    width: 75%;
    float: right;
  }
}

.media-main__box-left {
  display: none;
}

@media (min-width: 500px) {
  .media-main__box-left {
    display: block;
    width: 50%;
    float: left;
    max-height: 280px;
    position: relative;
    height: 30vw;
  }
}

@media (min-width: 768px) {
  .media-main__box-left {
    height: 25vw;
  }
}

@media (min-width: 1200px) {
  .media-main__box-left {
    height: 17vw;
  }
}

@media (min-width: 1214px) {
  .media-main__box-left {
    width: 55%;
  }
}

.media-main__box-right {
  border: 1px solid #e6e6e6;
  width: 100%;
  float: left;
  height: 87px;
  position: relative;
}

@media (min-width: 500px) {
  .media-main__box-right {
    float: right;
    width: 50%;
    height: 30vw;
    max-height: 280px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 768px) {
  .media-main__box-right {
    height: 25vw;
  }
}

@media (min-width: 1200px) {
  .media-main__box-right {
    height: 17vw;
    width: 45%;
  }
}

@media (min-width: 1214px) {
  .media-main__box-right {
    width: 45%;
  }
}

@media (min-width: 1620px) {
  .media-main__box-right {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 0 10px 0 25px;
    /* 9 */
    padding: 0 0.625rem 0 1.5625rem;
    /* 9 */
  }
}

.media-main__boxes {
  overflow: hidden;
  width: 100%;
}

.media-main__boxes--wrapper {
  overflow: hidden;
}

@media (min-width: 1620px) {
  .media-main__boxes--wrapper {
    max-width: 1280px;
  }
}

@media (min-width: 1820px) {
  .media-main__boxes--wrapper {
    max-width: 1380px;
  }
}

.media-main {
  overflow: hidden;
}

.media-main__box {
  overflow: hidden;
  margin: 0 auto 15px;
  width: 100%;
  height: 87px;
}

@media (min-width: 500px) {
  .media-main__box {
    float: left;
    max-height: 280px;
    width: 100%;
    height: 30vw;
  }
}

@media (min-width: 768px) {
  .media-main__box {
    height: 25vw;
  }
}

@media (min-width: 1200px) {
  .media-main__box {
    height: 17vw;
  }
}

@media (min-width: 1214px) {
  .media-main__box {
    width: 49%;
    height: 17vw;
    float: left;
    max-height: 280px;
  }
  .media-main__box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .media-main__box:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.media-main__box:nth-child(even) {
  background-color: #f2f2f2;
}

.media-main__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .media-main__img {
    max-height: 280px;
    height: 17vw;
  }
}

.media-main__box-tag {
  color: #53565A;
  font-size: 12px;
  font-size: 12px/16pxrem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 5px 10px;
  /* 9 */
  padding: 0.3125rem 0 0.3125rem 0.625rem;
  /* 9 */
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 500px) {
  .media-main__box-tag {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 600;
    padding: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 15px;
    /* 9 */
    margin-bottom: 0.9375rem;
    /* 9 */
    border: none;
  }
}

.media-main__box-title {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 700;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0px 10px 0px 10px;
  /* 9 */
  padding: 0px 0.625rem 0px 0.625rem;
  /* 9 */
}

@media (min-width: 500px) {
  .media-main__box-title {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 0 0 10px 0;
    /* 9 */
    padding: 0 0 0.625rem 0;
    /* 9 */
    position: relative;
  }
}

@media (min-width: 1234px) {
  .media-main__box-title {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 1620px) {
  .media-main__box-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 15px;
    /* 9 */
    padding-bottom: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 500px) {
  .media-main__box-title:after {
    content: "";
    width: 73px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid #53565a;
  }
}

.media-main__box-title a {
  color: black;
}

.media-main__box-title a:hover {
  color: #ce0037;
  cursor: pointer;
}

.media-main__box-title:hover {
  color: #ce0037;
  cursor: pointer;
}

.media-main__box-text {
  display: none;
}

@media (min-width: 500px) {
  .media-main__box-text {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 36.4px;
    /* Fallback for non-webkit */
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 768px) {
  .media-main__box-text {
    height: 62.4px;
    /* Fallback for non-webkit */
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .media-main__box-text {
    height: 46.8px;
    /* Fallback for non-webkit */
    font-size: 18px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 18px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 1612px) {
  .media-main__box-text {
    height: initial;
    display: inline-block;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 15px;
    /* 9 */
    margin-top: 0.9375rem;
    /* 9 */
  }
}

.media-main__box-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

.media-main__box-date {
  font-size: 12px;
  font-size: 12px/16pxrem;
  font-weight: 400;
  position: absolute;
  line-height: 30px;
  left: 10px;
}

@media (min-width: 500px) {
  .media-main__box-date {
    left: 15px;
  }
}

@media (min-width: 768px) {
  .media-main__box-date {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1620px) {
  .media-main__box-date {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

.media-main__box-link {
  background: url("../img/arrow-small-media.svg") no-repeat;
  background-size: cover;
  height: 6px;
  width: 26px;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  position: absolute;
}

/* To Download*/
/* Wrappers*/
.download {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .download {
    float: right;
    width: 75%;
  }
}

.download--wrapper {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1620px) {
  .download--wrapper {
    max-width: 1600px;
  }
}

/* Download Buttons*/
.download__rules-details__button, .download__experts-box__button {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.download__rules-details__link, .download__experts-box__button-link {
  color: black;
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__rules-details__link:after, .download__experts-box__button-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

.download__buttons--wrapper {
  text-align: center;
}

@media (min-width: 768px) {
  .download__buttons--wrapper {
    text-align: initial;
  }
}

.download__media {
  display: inline-block;
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .download__media {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 60px;
    /* 9 */
    margin-right: 3.75rem;
    /* 9 */
  }
}

.download__media-link {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

.download__media-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

/* Main Content Intro Text*/
.download__intro-title {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 0 0 20px 0;
  /* 9 */
  margin: 0 0 1.25rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .download__intro-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 80px 0 30px 0;
    /* 9 */
    margin: 5rem 0 1.875rem 0;
    /* 9 */
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

.download__intro-text {
  max-width: 650px;
  line-height: 1.4;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .download__intro-text {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 50px;
    /* 9 */
    margin-bottom: 3.125rem;
    /* 9 */
  }
}

/* Fast contact for mobile*/
.media {
  position: relative;
}

.media__big-circle {
  display: none;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
}

@media (min-width: 1360px) {
  .media__big-circle {
    display: block;
  }
}

.media__circle {
  display: none;
  position: absolute;
  top: 140px;
  right: 110px;
  width: 210px;
}

@media (min-width: 1360px) {
  .media__circle {
    display: block;
  }
}

.media__circle-title {
  font-size: 28px;
  font-size: 28px/16pxrem;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

.media__circle-name {
  font-size: 22px;
  font-size: 22px/16pxrem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

.media__circle-email {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 500;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

.media__circle-mobile {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 500;
}

.media__circle-text {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
  line-height: 1.4;
}

.download__fast {
  max-width: 650px;
}

@media (min-width: 1360px) {
  .download__fast {
    display: none;
  }
}

.download__fast-title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 400;
  position: relative;
  display: inline-block;
}

.download__fast-title:after {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 1px;
  left: 0;
  border: 5px solid #EEDC00;
}

.download__fast-name {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
}

.download__fast-email {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 500;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 5px;
  /* 9 */
  margin-bottom: 0.3125rem;
  /* 9 */
}

.download__fast-mobile {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 500;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 5px;
  /* 9 */
  margin-bottom: 0.3125rem;
  /* 9 */
}

.download__fast-text {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
  line-height: 1.4;
}

/* Fast contact for tablet +*/
/* Rules of conducting research*/
.download__rules {
  margin-bottom: 0;
  /* Normal Link*/
  /* Button Link*/
}

.download__rules-title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 50px 0 20px 0;
  /* 9 */
  margin: 3.125rem 0 1.25rem 0;
  /* 9 */
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .download__rules-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 60px 0 30px 0;
    /* 9 */
    margin: 3.75rem 0 1.875rem 0;
    /* 9 */
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .download__rules-text {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    line-height: 1.4;
    max-width: 650px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
  }
}

.download__rules-details {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
  height: auto;
}

@media (min-width: 768px) {
  .download__rules-details {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 45px;
    /* 9 */
    margin-top: 2.8125rem;
    /* 9 */
  }
}

.download__rules-link {
  display: none;
}

@media (min-width: 768px) {
  .download__rules-link {
    display: inline-block;
    line-height: 62px;
    margin-top: 10px;
    position: relative;
    top: 4px;
    font-size: 32px;
    font-size: 32px/16pxrem;
    font-weight: 300;
    color: #53565A;
  }
}

@media (min-width: 1200px) {
  .download__rules-details__button {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

/* Experts*/
.download__experts {
  overflow: hidden;
}

@media (min-width: 768px) {
  .download__experts {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 35px;
    /* 9 */
    margin-bottom: 2.1875rem;
    /* 9 */
  }
}

.download__experts--wrapper {
  max-width: 1600px;
}

.download__experts-title {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 20px 0 20px 0;
  /* 9 */
  margin: 1.25rem 0 1.25rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .download__experts-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 90px 0 25px 0;
    /* 9 */
    margin: 5.625rem 0 1.5625rem 0;
    /* 9 */
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .download__experts-box {
    width: 32.66667%;
    float: left;
  }
  .download__experts-box:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .download__experts-box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.download__experts-box--wrapper-first {
  height: 220px;
}

@media (min-width: 500px) {
  .download__experts-box--wrapper-first {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .download__experts-box--wrapper-first {
    height: 260px;
  }
}

@media (min-width: 1033px) {
  .download__experts-box--wrapper-first {
    height: 240px;
  }
}

@media (min-width: 1200px) {
  .download__experts-box--wrapper-first {
    height: 300px;
  }
}

.download__experts-box--wrapper-middle {
  height: 230px;
}

@media (min-width: 768px) {
  .download__experts-box--wrapper-middle {
    height: 270px;
  }
}

@media (min-width: 1200px) {
  .download__experts-box--wrapper-middle {
    height: 300px;
  }
}

.download__experts-box--wrapper-last {
  height: 200px;
}

@media (min-width: 768px) {
  .download__experts-box--wrapper-last {
    height: 235px;
  }
}

@media (min-width: 1200px) {
  .download__experts-box--wrapper-last {
    height: 300px;
  }
}

.download__experts-image--wrapper {
  text-align: center;
}

@media (min-width: 768px) {
  .download__experts-image--wrapper {
    text-align: initial;
  }
}

@media (min-width: 500px) {
  .download__experts-box__name {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .download__experts-box__name {
    text-align: initial;
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 600;
    color: #53565A;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 20px 0;
    /* 9 */
    margin: 1.25rem 0;
    /* 9 */
  }
}

.download__experts-box__name--position {
  font-size: 24px;
  font-size: 24px/16pxrem;
  font-weight: 300;
  color: #53565A;
}

.download__experts-box__email {
  position: relative;
  top: 5px;
}

@media (min-width: 500px) {
  .download__experts-box__email {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .download__experts-box__email {
    text-align: initial;
    top: 15px;
  }
}

@media (min-width: 500px) {
  .download__experts-box__topics {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .download__experts-box__topics {
    text-align: initial;
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
    line-height: 1.4;
  }
}

.download__experts-button--wrapper {
  text-align: center;
}

@media (min-width: 768px) {
  .download__experts-button--wrapper {
    text-align: initial;
  }
}

.download__experts-box__button {
  width: 180px;
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .download__experts-box__button {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 20px;
    /* 9 */
    margin-right: 1.25rem;
    /* 9 */
  }
}

.download__experts-box__button:last-child {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 65px;
  /* 9 */
  margin-bottom: 4.0625rem;
  /* 9 */
}
