@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700i&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a;
}

.footer__heading {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 20px;
  /* 9 */
  padding: 2.1875rem 0 0 1.25rem;
  /* 9 */
}

.footer__content {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 50px;
  /* 9 */
  padding: 0 0 0 3.125rem;
  /* 9 */
}

.footer__content-mobile__text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 30px 0 0 0;
  /* 9 */
  padding: 1.875rem 0 0 0;
  /* 9 */
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.footer__content-paragraph {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.3125rem;
  /* 9 */
}

@media (min-width: 992px) {
  .footer__mobile {
    display: none;
  }
}

.footer__tablet {
  display: none;
}

@media (min-width: 992px) {
  .footer__tablet {
    min-height: 480px;
    display: block;
    margin: 0 auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    padding: 60px;
    /* 9 */
    padding: 3.75rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .footer__tablet {
    min-height: 550px;
  }
}

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__container-left {
    min-height: 420px;
  }
}

.footer__container-left:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-middle {
  width: 60%;
  float: left;
}

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__container-right {
    min-height: 420px;
  }
}

.footer__container-right:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-right:after {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__navbox {
    min-height: 215px;
  }
}

.footer__navbox:before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .footer__navbox:before {
    height: 75%;
  }
}

.footer__navbox-title {
  color: white;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .footer__navbox-title {
    font-size: 16px;
    top: -35px;
  }
}

@media (min-width: 1360px) {
  .footer__navbox-title {
    font-size: 20px;
  }
}

@media (min-width: 1620px) {
  .footer__navbox-title {
    font-size: 21px;
    font-weight: 600;
  }
}

.footer__navbox:nth-child(n+5) {
  padding-top: 45px;
}

.footer__navbox:nth-child(n+5):before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 1200px) {
  .footer__navbox:nth-child(n+5):before {
    height: 75%;
  }
}

.footer__navbox:nth-child(n+5) h3 {
  top: 5px;
}

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .footer__about {
    font-size: 16px;
  }
}

@media (min-width: 1620px) {
  .footer__about {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
  }
}

.footer__link:hover {
  color: #B7C9D3;
}

.footer__contact {
  border: 1px solid red !important;
}

.footer__contact-adress {
  color: white;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .footer__contact-adress {
    font-size: 16px;
  }
}

.footer__contact-adress p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 7px 30px 0 0;
  /* 9 */
  padding: 0.4375rem 1.875rem 0 0;
  /* 9 */
}

.footer__contact-telephone {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
  font-size: 14px;
  font-weight: 400;
}

.footer__contact-telephone p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 7px;
  /* 9 */
  padding-top: 0.4375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__contact-telephone {
    font-size: 16px;
  }
}

.footer__contact-email {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .footer__contact-email {
    font-size: 16px;
  }
}

.footer__contact-social {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
}

.footer__contact-social__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-right: 10px;
  /* 9 */
  padding-right: 0.625rem;
  /* 9 */
}

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12;
}

@media (min-width: 768px) {
  .nav-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: white;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.nav-mobile__facebook {
  position: absolute;
  right: 75px;
  bottom: 15px;
}

.nav-mobile__linkedin {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.nav-mobile__search--wrapper {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 80px 25px 0 0;
  /* 9 */
  margin: 5rem 1.5625rem 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__search--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 100px 25px 0 0;
    /* 9 */
    margin: 6.25rem 1.5625rem 0 0;
    /* 9 */
  }
}

.nav-mobile__search {
  position: relative;
  top: -3px;
  float: right;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

.nav-mobile__english {
  text-transform: uppercase;
  color: white;
  float: right;
  margin-right: 5px;
}

.visible {
  display: none;
}

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 150px;
    /* 9 */
    margin-top: 9.375rem;
    /* 9 */
  }
}

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 30px;
    /* 9 */
    margin-left: 1.875rem;
    /* 9 */
  }
}

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.nav-mobile__link:hover {
  color: #B7C9D3;
}

@media (min-width: 768px) {
  .nav-mobile__link {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 47%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .header__navigation-search {
    right: 0;
    display: inline-block;
  }
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__navigation--search {
  border-bottom: 1px solid #E6E6E6;
}

.header__navigation--nomargin {
  margin: 0;
}

.header__title {
  display: none;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title {
    display: block;
    height: 200px;
    background-image: url("../img/header/badania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__title-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title-wrapper {
    width: 95%;
    height: 200px;
  }
}

@media (min-width: 1620px) {
  .header__title-wrapper {
    max-width: 1600px;
  }
}

.header__title-text {
  position: absolute;
  bottom: -6px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 70px;
    font-size: 4.375rem;
  }
}

@media (min-width: 1620px) {
  .header__title-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__title--badania {
  background-image: url("../img/header/badania.jpg");
}

.header__title--raporty {
  background-image: url("../img/header/raporty.jpg");
}

.header__title--akademia {
  background-image: url("../img/header/akademia.jpg");
}

.header__title--kontakt {
  background-image: url("../img/header/kontakt.jpg");
}

.header__title--pbi {
  background-image: url("../img/header/pbi.jpg");
}

.header__title--media {
  background-image: url("../img/header/media.jpg");
}

.header__title--aktualnosci {
  background-image: url("../img/header/aktualnosci.jpg");
}

.header__title--gemius {
  background-image: url("../img/header/gemius.jpg");
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
  border: none;
}

.search-input label {
  position: relative;
  z-index: 15;
  display: none;
}

@media (min-width: 992px) {
  .search-input label {
    display: block;
  }
}

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -7px;
  right: 0;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .search-input ~ input {
    display: block;
  }
}

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 992px) {
  .search-input:checked ~ input {
    display: block;
  }
}

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__mobile--wrapper {
    display: none;
  }
}

.search__mobile-input {
  display: none;
  padding-bottom: 5px;
}

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a;
}

@media (min-width: 768px) {
  .search__mobile-input label {
    display: none;
  }
}

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .search__mobile-input ~ input {
    display: none;
  }
}

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 768px) {
  .search__mobile-input:checked ~ input {
    display: none;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.toggle__nav {
  margin: 0 auto;
  display: block;
  width: 95%;
  text-align: center;
  position: relative;
  left: 1px;
}

@media (min-width: 992px) {
  .toggle__nav {
    display: none;
  }
}

.toggle__nav label {
  cursor: pointer;
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #F2F2F2;
}

.toggle__nav label:before {
  content: url("../img/arrow-toggle.png");
  display: block;
  position: relative;
  top: 1px;
  padding: 1px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.toggle__nav label span {
  position: absolute;
  left: -9999em;
}

.toggle__nav input[type='checkbox']:checked + label[for='toggle__checkbox']:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.toggle__nav input[type='checkbox'] {
  position: absolute;
  left: -9999em;
}

.toggle__nav input[type='checkbox']:checked ~ ul {
  max-height: 13em;
  /* This value needs to exceed the potential height of the content. Try to make as close to the approximate of the content as possible. The greater the difference between the value and height of the content, the longer the pause before animation will be */
}

.toggle__nav ul {
  margin: 0 !important;
  padding: 0 !important;
  background: white;
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: 1;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle__nav ul li {
  text-align: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 15px 0;
  /* 9 */
  margin: 0.9375rem 0 0.9375rem 0;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 5px;
  /* 9 */
  padding-left: 0.3125rem;
  /* 9 */
}

.toggle__nav ul li a {
  color: black;
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 300;
}

.toggle__nav ul li a:hover {
  color: #B7C9D3;
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*//////////////////////////////////*/
/*///// Main*/
.search {
  height: auto;
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 0 0 15px 0;
  /* 9 */
  margin: 0 0 0.9375rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .search {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .search {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 85px;
    /* 9 */
    margin-top: 5.3125rem;
    /* 9 */
  }
}

.search--wrapper-news {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 25px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 1620px) {
  .search--wrapper-news {
    max-width: 1600px;
  }
}

.search__input--wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 8 */
  margin-bottom: 0px;
  /* 9 */
}

@media (min-width: 768px) {
  .search__input--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 15px;
    /* 9 */
    margin-bottom: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1360px) {
  .search__input--wrapper {
    display: inline-block;
    width: 210px;
  }
}

.search__input--wrapper:before {
  content: url(../img/search-icon.png);
  position: absolute;
  left: 1px;
  top: 0;
  z-index: 55;
}

.search__categories {
  float: left;
}

@media (min-width: 1360px) {
  .search__categories {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 35px;
    /* 9 */
    margin-left: 2.1875rem;
    /* 9 */
  }
}

.search__categories-item {
  float: left;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
  line-height: 35px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 10px;
  /* 9 */
  margin-right: 0.625rem;
  /* 9 */
  padding: 0;
}

@media (min-width: 1200px) {
  .search__categories-item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 50px;
    /* 9 */
    margin-right: 3.125rem;
    /* 9 */
  }
}

.search__categories-item:hover {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600;
  cursor: pointer;
}

.search__categories-item--active {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600;
}

.search__categories-item:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px;
}

.search__field {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  float: left;
  line-height: 35px;
  border: none;
  border-bottom: 1px solid #53565a;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 45px;
  /* 9 */
  padding-left: 2.8125rem;
  /* 9 */
  outline: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 500px) {
  .search__field {
    margin-bottom: 0;
  }
}

.search__details {
  float: left;
}

@media (min-width: 730px) {
  .search__details {
    float: right;
  }
}

.search__select {
  min-height: 38px;
}

.news {
  overflow: hidden;
}

.news__content {
  clear: both;
  overflow: hidden;
  /* search*/
  /* Article Container and Rows*/
}

.news__content--wrapper {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  max-width: 1600px;
}

.news__content .news__loader {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 30px 0 70px 0;
  /* 9 */
  margin: 1.875rem 0 4.375rem 0;
  /* 9 */
}

.news__content .news__button {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  color: #53565A;
  padding-top: 2px;
  line-height: 52px;
  display: inline-block;
  width: 214px;
  height: 52px;
  border-radius: 25px;
  border: 1px solid #53565A;
}

.news__content .news__button:hover {
  background-color: #53565A;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  color: white;
}

.news__content-article {
  border: 1px solid #E6E6E6;
  width: 100%;
  height: 105px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

@media (min-width: 500px) {
  .news__content-article {
    float: left;
    width: 100%;
    margin-bottom: 1%;
    height: 35vw;
  }
}

@media (min-width: 1035px) {
  .news__content-article {
    height: 19vw;
    width: 49.5%;
  }
  .news__content-article:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .news__content-article:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1620px) {
  .news__content-article {
    height: 290px;
    width: 49.5%;
  }
  .news__content-article:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .news__content-article:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

/* Article Wrappers*/
.article__box-left {
  display: none;
}

@media (min-width: 500px) {
  .article__box-left {
    display: block;
    float: left;
    width: 60%;
  }
}

.article__box-right {
  width: 100%;
  height: 105px;
  position: relative;
  float: left;
  width: 100%;
}

@media (min-width: 500px) {
  .article__box-right {
    height: 35vw;
    float: right;
    width: 40%;
  }
}

@media (min-width: 1035px) {
  .article__box-right {
    height: 19vw;
  }
}

@media (min-width: 1620px) {
  .article__box-right {
    height: 290px;
  }
}

.article__box-left {
  background: url("../img/news/news-small-photo.png") no-repeat center center;
  background-size: cover;
  height: 100%;
}

/* Article every 3-4 wrapper (change of floats)*/
.article:nth-child(4n+3) .article__box-right .article__share, .article:nth-child(4n+4) .article__box-right .article__share {
  border-left: none;
}

/* Different Float Flow for Small Devices*/
@media screen and (min-width: 300px) {
  .article {
    background-color: #f2f2f2;
  }
}

@media screen and (min-width: 480px) {
  .article:nth-child(even) .article__box-left, .article:nth-child(even) .article__box-left {
    float: right;
    width: 60%;
  }
  .article:nth-child(2) {
    background-color: white;
  }
  .article:nth-child(even) {
    background-color: white;
  }
}

@media screen and (min-width: 1036px) {
  .article:nth-child(4n+2) .article__box-left {
    float: left;
    width: 60%;
  }
  .article:nth-child(4n+3) .article__box-left {
    float: right;
    width: 60%;
  }
}

/* Article styling*/
.article {
  /* Tag Bar*/
}

.article__share {
  height: 25px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
  width: 100%;
  position: relative;
  border-right: none;
  border-top: none;
}

@media (min-width: 500px) {
  .article__share {
    height: 30px;
  }
}

@media (min-width: 992px) {
  .article__share {
    height: 42px;
  }
}

.article__share-tag {
  display: inline-block;
  color: #53565A;
  line-height: 25px;
  font-size: 10px;
  font-size: 10px/16pxrem;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 15px;
  /* 9 */
  padding-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 500px) {
  .article__share-tag {
    font-size: 10px;
    font-size: 10px/16pxrem;
    font-weight: 600;
    line-height: 30px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 768px) {
  .article__share-tag {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 600;
    line-height: 30px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .article__share-tag {
    line-height: 42px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 15px;
    /* 9 */
    padding-left: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .article__share-tag {
    line-height: 42px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 30px;
    /* 9 */
    padding-left: 1.875rem;
    /* 9 */
  }
}

.article__share-link {
  width: 15px !important;
}

@media (min-width: 1620px) {
  .article__share-link {
    width: 18px !important;
  }
}

.article__share-link img {
  cursor: pointer;
  width: 15px !important;
  position: absolute;
  top: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  display: block;
}

@media (min-width: 992px) {
  .article__share-link img {
    top: 20px;
  }
}

@media (min-width: 1620px) {
  .article__share-link img {
    right: 15px;
    top: 20px;
    width: 18px !important;
  }
}

/* Variables for Elipsis*/
/* Article Content*/
.article__content {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 10px 15px 0 15px;
  /* 9 */
  padding: 0.625rem 0.9375rem 0 0.9375rem;
  /* 9 */
  /* Article Title*/
}

@media (min-width: 1620px) {
  .article__content {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 18px 30px 0 30px;
    /* 9 */
    padding: 1.125rem 1.875rem 0 1.875rem;
    /* 9 */
  }
}

.article__content-title {
  position: relative;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 700;
  width: 65%;
}

@media (min-width: 500px) {
  .article__content-title {
    width: 100%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .article__content-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .article__content-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 10px;
    /* 9 */
    padding-bottom: 0.625rem;
    /* 9 */
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 1380px) {
  .article__content-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 15px;
    /* 9 */
    padding-bottom: 0.9375rem;
    /* 9 */
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 1620px) {
  .article__content-title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-bottom: 15px;
    /* 9 */
    padding-bottom: 0.9375rem;
    /* 9 */
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
  }
}

.article__content-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 85px;
  border: none;
}

@media (min-width: 500px) {
  .article__content-title:after {
    border: 2px solid #53565a;
  }
}

@media (min-width: 1200px) {
  .article__content-title:after {
    border: 2px solid #53565a;
  }
}

.article__content-title:hover {
  color: #ce0037;
  cursor: pointer;
}

.article__content-title a {
  color: black;
}

.article__content-title a:hover {
  cursor: pointer;
  color: #ce0037;
}

.article__content-text {
  display: none;
}

@media (min-width: 500px) {
  .article__content-text {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 43.2px;
    /* Fallback for non-webkit */
    font-size: 12px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 700px) {
  .article__content-text {
    height: 76.8px;
    /* Fallback for non-webkit */
    font-size: 16px;
    line-height: 1.2;
    -webkit-line-clamp: 4;
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 1035px) {
  .article__content-text {
    height: 38.4px;
    /* Fallback for non-webkit */
    font-size: 16px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1165px) {
  .article__content-text {
    height: 57.6px;
    /* Fallback for non-webkit */
    font-size: 16px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 10px;
    /* 9 */
    margin-top: 0.625rem;
    /* 9 */
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 1400px) {
  .article__content-text {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
    line-height: 1.3;
    -webkit-line-clamp: initial;
    height: initial;
  }
}

/* Article Details*/
.article__details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

@media (min-width: 500px) {
  .article__details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
  }
}

.article__details-date {
  font-size: 12px;
  font-size: 12px/16pxrem;
  font-weight: 400;
  position: absolute;
  bottom: 5px;
  left: 15px;
}

@media (min-width: 768px) {
  .article__details-date {
    bottom: 10px;
    left: 15px;
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  .article__details-date {
    font-size: 14px;
    font-size: 14px/16pxrem;
    font-weight: 400;
    bottom: 10px;
    left: 15px;
  }
}

@media (min-width: 1620px) {
  .article__details-date {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 400;
    bottom: 17px;
    left: 30px;
  }
}

.article__details-arrow {
  background: url("../img/news/news-small-arrow.svg") no-repeat;
  background-size: cover;
  height: 6px;
  width: 26px;
  right: 15px;
  bottom: 11px;
  display: block;
  position: absolute;
}

@media (min-width: 992px) {
  .article__details-arrow {
    right: 15px;
    bottom: 11px;
  }
}

@media (min-width: 1620px) {
  .article__details-arrow {
    right: 15px;
    bottom: 18px;
  }
}

/* Single Article*/
.single-article {
  overflow: hidden;
}

.single-article--wrapper {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 1620px) {
  .single-article--wrapper {
    max-width: 1600px;
  }
}

.single-article__main {
  width: 100%;
}

@media (min-width: 768px) {
  .single-article__main {
    float: left;
    width: 80%;
    overflow: hidden;
  }
}

.single-article__aside {
  display: none;
}

@media (min-width: 768px) {
  .single-article__aside {
    width: 20%;
    float: right;
  }
}

.single-article {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 0px 0 20px 0;
  /* 9 */
  margin: 0px 0 1.25rem 0;
  /* 9 */
}

.single-article__title {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 24px;
  /* 9 */
  padding-bottom: 1.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .single-article__title {
    font-size: 32px;
    font-size: 32px/16pxrem;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .single-article__title {
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 80px 0 20px 0;
    /* 9 */
    margin: 5rem 0 1.25rem 0;
    /* 9 */
  }
}

.single-article__title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 87px;
  border-bottom: 3px solid #53565a;
}

.single-article__author, .single-article__date, .single-article__tag {
  margin-right: -4px;
  display: inline-block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 15px;
  /* 9 */
  margin-top: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .single-article__author, .single-article__date, .single-article__tag {
    margin-top: 0;
  }
}

.single-article__author, .single-article__tag {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .single-article__author, .single-article__tag {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 600;
  }
}

.single-article__date {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .single-article__date {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
  }
}

/* Body of single article*/
.single-article {
  /* &__paragraph--bold{*/
  /**/
  /*   @include reming(padding-bottom,20px);*/
  /* }*/
}

.single-article__body {
  width: 100%;
}

@media (min-width: 768px) {
  .single-article__body {
    width: 80%;
  }
}

.single-article img {
  height: auto;
  max-width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 15px 0;
  /* 9 */
  /*margin: 0.9375rem 0 0.9375rem 0;*/
  margin: 0;
  /* 9 */
}

.single-article__image {
  max-width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .single-article__image {
    margin-right: 10%;
  }
}

.single-article__image-author {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
  position: absolute;
  bottom: -25px;
  right: 0;
  height: 0;
}

.single-article__image--intro {
  max-width: 100%;
  height: auto;
}

.single-article a {
  color: black;
}

.single-article h1 {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 600;
  line-height: 1.5;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 40px 0 35px 0;
  /* 9 */
  /*padding: 2.5rem 0 2.1875rem 0;*/
  padding: 10px 0;
  /* 9 */
}

@media (min-width: 768px) {
  .single-article h1 {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 600;
  }
}

.single-article h2, .single-article h3, .single-article h4, .single-article h5, .single-article h6 {
  line-height: 1.3;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 10px 0 15px 0;
  /* 9 */
  padding: 0.625rem 0 0.9375rem 0;
  /* 9 */
}

.single-article p {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
  line-height: 1.5;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 10px 0;
  /* 9 */
  margin: 0.9375rem 0 0.625rem 0;
  /* 9 */
}

@media (min-width: 768px) {
  .single-article p {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
  }
}

.single-article ol, .single-article ul, .single-article li {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0 10px 0;
  /* 9 */
  margin: 0.9375rem 0 0.625rem 0;
  /* 9 */
}

.single-article__paragraph {
  font-size: 16px;
  font-size: 16px/16pxrem;
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .single-article__paragraph {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
  }
}

.single-article b {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 20px;
  /* 9 */
  padding-bottom: 1.25rem;
  /* 9 */
  line-height: 1.5;
  font-size: 25px;
  font-size: 25px/16pxrem;
  font-weight: 600;
}

.single-article i {
  font-size: 16px;
  font-size: 1rem;
  font-family: "PlayFair Display","sans-serif";
  font-weight: 700;
  font-style: italic;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 20px;
  /* 9 */
  margin-bottom: 1.25rem;
  /* 9 */
}

@media (min-width: 768px) {
  .single-article i {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.single-article__paragraph--italic {
  font-family: "PlayFair Display","sans-serif";
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  font-size: 1.375rem;
}

/* Aside Articles*/
.related-articles {
  display: none;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 200px;
  /* 9 */
  margin-top: 12.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .related-articles {
    display: block;
  }
}

.related-articles__title {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  color: #53565A;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 13px;
  /* 9 */
  padding-bottom: 0.8125rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 18px;
  /* 9 */
  margin-bottom: 1.125rem;
  /* 9 */
  border-bottom: 1px solid #E6E6E6;
}

@media (min-width: 1200px) {
  .related-articles__title {
    font-size: 26px;
    font-size: 26px/16pxrem;
    font-weight: 700;
  }
}

.related-article__box {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 15px;
  /* 9 */
  padding-bottom: 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 28px;
  /* 9 */
  margin-bottom: 1.75rem;
  /* 9 */
}

.related-article__box:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 30%;
  border-bottom: 1px solid #E6E6E6;
}

.related-article__title {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 700;
  position: relative;
  color: #53565A;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 13px;
  /* 9 */
  padding-bottom: 0.8125rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 18px;
  /* 9 */
  margin-bottom: 1.125rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .related-article__title {
    font-size: 20px;
    font-size: 20px/16pxrem;
    font-weight: 700;
  }
}

.related-article__title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 30%;
  border-bottom: 3px solid #53565a;
}

.related-article__title:hover {
  color: #ce0037;
  cursor: pointer;
}

.related-article__title a {
  color: black;
}

.related-article__title a:hover {
  color: #ce0037;
  cursor: pointer;
}

.related-article__image-photo {
  max-width: 100%;
  height: auto;
  margin: 0 !important;
}
