@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/* Components */
/*//////////////////////////////////////////////////////*/
/* Footer*/
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a;
}

.footer__heading {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 35px 0 0 20px;
  /* 9 */
  padding: 2.1875rem 0 0 1.25rem;
  /* 9 */
}

.footer__content {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 50px;
  /* 9 */
  padding: 0 0 0 3.125rem;
  /* 9 */
}

.footer__content-mobile__text {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 30px 0 0 0;
  /* 9 */
  padding: 1.875rem 0 0 0;
  /* 9 */
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.footer__content-paragraph {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 5px;
  /* 9 */
  margin-top: 0.3125rem;
  /* 9 */
}

@media (min-width: 992px) {
  .footer__mobile {
    display: none;
  }
}

.footer__tablet {
  display: none;
}

@media (min-width: 992px) {
  .footer__tablet {
    min-height: 480px;
    display: block;
    margin: 0 auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    padding: 60px;
    /* 9 */
    padding: 3.75rem;
    /* 9 */
  }
}

@media (min-width: 1200px) {
  .footer__tablet {
    min-height: 550px;
  }
}

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__container-left {
    min-height: 420px;
  }
}

.footer__container-left:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-middle {
  width: 60%;
  float: left;
}

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__container-right {
    min-height: 420px;
  }
}

.footer__container-right:before {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__container-right:after {
  content: "";
  border-left: 1px solid #808080;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative;
}

@media (min-width: 1200px) {
  .footer__navbox {
    min-height: 215px;
  }
}

.footer__navbox:before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .footer__navbox:before {
    height: 75%;
  }
}

.footer__navbox-title {
  color: white;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .footer__navbox-title {
    font-size: 16px;
    top: -35px;
  }
}

@media (min-width: 1360px) {
  .footer__navbox-title {
    font-size: 20px;
  }
}

@media (min-width: 1620px) {
  .footer__navbox-title {
    font-size: 21px;
    font-weight: 600;
  }
}

.footer__navbox:nth-child(n+5) {
  padding-top: 45px;
}

.footer__navbox:nth-child(n+5):before {
  content: "";
  border-left: 1px solid #808080;
  height: 65%;
  position: absolute;
  left: 0;
  top: 20%;
}

@media (min-width: 1200px) {
  .footer__navbox:nth-child(n+5):before {
    height: 75%;
  }
}

.footer__navbox:nth-child(n+5) h3 {
  top: 5px;
}

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .footer__about {
    font-size: 16px;
  }
}

@media (min-width: 1620px) {
  .footer__about {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
  }
}

.footer__link:hover {
  color: #B7C9D3;
}

.footer__contact {
  border: 1px solid red !important;
}

.footer__contact-adress {
  color: white;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .footer__contact-adress {
    font-size: 16px;
  }
}

.footer__contact-adress p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 7px 30px 0 0;
  /* 9 */
  padding: 0.4375rem 1.875rem 0 0;
  /* 9 */
}

.footer__contact-telephone {
  color: white;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0;
  /* 9 */
  margin: 0.9375rem 0;
  /* 9 */
  font-size: 14px;
  font-weight: 400;
}

.footer__contact-telephone p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 7px;
  /* 9 */
  padding-top: 0.4375rem;
  /* 9 */
}

@media (min-width: 1200px) {
  .footer__contact-telephone {
    font-size: 16px;
  }
}

.footer__contact-email {
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .footer__contact-email {
    font-size: 16px;
  }
}

.footer__contact-social {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 30px;
  /* 9 */
  margin-top: 1.875rem;
  /* 9 */
}

.footer__contact-social__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-right: 10px;
  /* 9 */
  padding-right: 0.625rem;
  /* 9 */
}

/* *Mobile Navigation*/
/**/
/*Animation for mobile toggler*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.nav-toggle {
  position: absolute;
  top: 31px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
  padding: 10px 35px 10px 0;
  display: block;
  z-index: 12;
}

@media (min-width: 768px) {
  .nav-toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

/*Drawing Lines*/
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 2px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-toggle span.active,
.nav-toggle span:before.active,
.nav-toggle span:after.active {
  top: 0;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/*Active state rotation*/
.nav-toggle--active span {
  background-color: transparent;
}

.nav-toggle--active span:before {
  background: white;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle--active span:after {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile {
  background-color: #53565a;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 11;
}

.nav-mobile__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 130px;
  height: auto;
}

@media (min-width: 768px) {
  .nav-mobile__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */
    width: 170px;
    margin-left: 25px;
    top: initial;
    left: initial;
  }
}

.nav-mobile__facebook {
  position: absolute;
  right: 75px;
  bottom: 15px;
}

.nav-mobile__linkedin {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.nav-mobile__search--wrapper {
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 80px 25px 0 0;
  /* 9 */
  margin: 5rem 1.5625rem 0 0;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__search--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    margin: 100px 25px 0 0;
    /* 9 */
    margin: 6.25rem 1.5625rem 0 0;
    /* 9 */
  }
}

.nav-mobile__search {
  position: relative;
  top: -3px;
  float: right;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

.nav-mobile__english {
  text-transform: uppercase;
  color: white;
  float: right;
  margin-right: 5px;
}

.visible {
  display: none;
}

.nav-mobile__list {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 120px;
  /* 9 */
  margin-top: 7.5rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__list {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 150px;
    /* 9 */
    margin-top: 9.375rem;
    /* 9 */
  }
}

.nav-mobile__item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .nav-mobile__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 40px;
    /* 9 */
    margin-bottom: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 30px;
    /* 9 */
    margin-left: 1.875rem;
    /* 9 */
  }
}

.nav-mobile__link {
  color: white;
  font-family: "Hind","sans-serif";
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
}

.nav-mobile__link:hover {
  color: #B7C9D3;
}

@media (min-width: 768px) {
  .nav-mobile__link {
    font-size: 24px;
    font-size: 24px/16pxrem;
    font-weight: 700;
  }
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/*////////////////Navigation*/
.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */
  /* /////////Navigation Link*/
}

@media (min-width: 992px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1620px) {
  .nav {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 50px;
    /* 9 */
    margin-left: 3.125rem;
    /* 9 */
  }
}

.nav__item {
  display: inline-block;
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */
  }
}

@media (min-width: 992px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 15px;
    /* 9 */
    padding-right: 0.9375rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .nav__item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 25px;
    /* 9 */
    padding-right: 1.5625rem;
    /* 9 */
  }
}

.nav__link {
  color: #53565A;
  line-height: 112px;
  font-weight: 500;
}

@media (min-width: 500px) {
  .nav__link {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 13px;
    font-size: 13px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    font-size: 16px/16pxrem;
    font-weight: 500;
  }
}

@media (min-width: 1620px) {
  .nav__link {
    font-size: 19px;
    font-size: 19px/16pxrem;
    font-weight: 500;
  }
}

.nav__link:hover {
  color: #B7C9D3;
}

/*//////////////////////////////////////////////////////*/
/*Header*/
.header {
  position: relative;
  /* Navigation container*/
  /* Header Title For Subpages*/
}

.header__logo {
  width: 130px;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 25px;
    width: 170px;
    float: left;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 25px;
    /* 9 */
    margin-top: 1.5625rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .header__logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 55px;
    /* 9 */
    margin-left: 3.4375rem;
    /* 9 */
  }
}

.header__navigation {
  height: 65px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 25px;
  /* 9 */
  margin-bottom: 1.5625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .header__navigation {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
    border-bottom: none;
    height: 112px;
  }
}

.header__navigation-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 47%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .header__navigation-search {
    right: 0;
    display: inline-block;
  }
}

.header__navigation-english {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 75px;
}

@media (min-width: 992px) {
  .header__navigation-english {
    right: 40px;
    display: block;
  }
}

.header__navigation-english h3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #53565A;
  font-weight: 600;
}

.header__navigation--search {
  border-bottom: 1px solid #E6E6E6;
}

.header__navigation--nomargin {
  margin: 0;
}

.header__title {
  display: none;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title {
    display: block;
    height: 200px;
    background-image: url("../img/header/badania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__title-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media (min-width: 768px) {
  .header__title-wrapper {
    width: 95%;
    height: 200px;
  }
}

@media (min-width: 1620px) {
  .header__title-wrapper {
    max-width: 1600px;
  }
}

.header__title-text {
  position: absolute;
  bottom: -6px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 48px;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 70px;
    font-size: 4.375rem;
  }
}

@media (min-width: 1620px) {
  .header__title-text {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.header__title--badania {
  background-image: url("../img/header/badania.jpg");
}

.header__title--raporty {
  background-image: url("../img/header/raporty.jpg");
}

.header__title--akademia {
  background-image: url("../img/header/akademia.jpg");
}

.header__title--kontakt {
  background-image: url("../img/header/kontakt.jpg");
}

.header__title--pbi {
  background-image: url("../img/header/pbi.jpg");
}

.header__title--media {
  background-image: url("../img/header/media.jpg");
}

.header__title--aktualnosci {
  background-image: url("../img/header/aktualnosci.jpg");
}

.header__title--gemius {
  background-image: url("../img/header/gemius.jpg");
}

/*Imported Components*/
.div {
  width: 50px;
  height: 50px;
  width: 12.5%;
}

.div:nth-child(n) {
  margin-bottom: 5;
  margin-right: 5;
}

.div:nth-child(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.search--wrapper {
  display: none;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .search--wrapper {
    right: 80px;
    display: block;
  }
}

.search-input {
  display: none;
  border: none;
}

.search-input label {
  position: relative;
  z-index: 15;
  display: none;
}

@media (min-width: 992px) {
  .search-input label {
    display: block;
  }
}

.search-input ~ input {
  padding-bottom: 5px;
  position: absolute;
  width: 0;
  border: none;
  border-bottom: 1px solid #53565A;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -7px;
  right: 0;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .search-input ~ input {
    display: block;
  }
}

.search-input:checked ~ input {
  display: none;
  padding-bottom: 5px;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid #53565A;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 992px) {
  .search-input:checked ~ input {
    display: block;
  }
}

.search__mobile--wrapper {
  display: block;
  position: relative;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #53565a;
  top: 8px;
  right: 40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__mobile--wrapper {
    display: none;
  }
}

.search__mobile-input {
  display: none;
  padding-bottom: 5px;
}

.search__mobile-input label {
  position: relative;
  z-index: 15;
  color: white;
  background-color: #53565a;
}

@media (min-width: 768px) {
  .search__mobile-input label {
    display: none;
  }
}

.search__mobile-input ~ input {
  color: #53565a;
  position: absolute;
  width: 0;
  padding-bottom: 5px;
  border: none;
  background-color: #53565a;
  border-bottom: 1px solid white;
  -webkit-transition: width .8s;
  transition: width .8s;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .search__mobile-input ~ input {
    display: none;
  }
}

.search__mobile-input:checked ~ input {
  color: white;
  padding-bottom: 5px;
  background-color: #53565a;
  position: absolute;
  z-index: -1;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  bottom: -10px;
  right: 0;
  width: 101px;
  -webkit-transition: width .8s;
  transition: width .8s;
}

@media (min-width: 768px) {
  .search__mobile-input:checked ~ input {
    display: none;
  }
}

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important;
}

body,
html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px;
}

/* Search Field*/
.search {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 35px;
  /* 9 */
  margin-top: 2.1875rem;
  /* 9 */
  height: 80px;
}

@media (min-width: 500px) {
  .search {
    height: 35px;
  }
}

@media (min-width: 768px) {
  .search {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 85px;
    /* 9 */
    margin-top: 5.3125rem;
    /* 9 */
  }
}

.search--wrapper-reports {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1620px) {
  .search--wrapper-reports {
    max-width: 1600px;
  }
}

.search__input--wrapper {
  position: relative;
}

.search__input--wrapper:before {
  content: url("../img/search-icon.png");
  position: absolute;
  left: 1px;
  top: 0;
  z-index: 55;
}

.search__field {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  float: left;
  line-height: 35px;
  border: none;
  border-bottom: 1px solid #53565a;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 45px;
  /* 9 */
  padding-left: 2.8125rem;
  /* 9 */
  outline: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 0.9375rem;
  /* 9 */
}

@media (min-width: 500px) {
  .search__field {
    margin-bottom: 0;
  }
}

.search__details {
  float: left;
}

@media (min-width: 500px) {
  .search__details {
    float: right;
  }
}

.search__select {
  min-height: 38px;
}

/* Reports*/
.report {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 35px 0 0 0;
  /* 9 */
  margin: 2.1875rem 0 0 0;
  /* 9 */
  /* Box for items*/
  /* End of Box*/
}

.report__wrapper {
  height: 800px;
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 768px) {
  .report__wrapper {
    width: 95%;
  }
}

@media (min-width: 1620px) {
  .report__wrapper {
    width: 1600px;
  }
}

.report__box {
  border: 1px solid #E6E6E6;
  float: left;
  width: 100%;
  height: 430px;
  background-color: white;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 10px;
  /* 9 */
  margin-bottom: 0.625rem;
  /* 9 */
  /* Box on Hover*/
  /* Box content responsive*/
  /* Title*/
}

@media (min-width: 768px) {
  .report__box:hover {
    box-shadow: -10px 11px 36px -2px rgba(207, 207, 207, 0.42);
    position: relative;
    top: -10px;
  }
}

.report__box-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

@media (min-width: 450px) {
  .report__box {
    height: 395px;
  }
}

@media (min-width: 768px) {
  .report__box {
    width: 385px;
    height: 395px;
    width: 49%;
  }
  .report__box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .report__box:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .report__box {
    width: 32%;
  }
  .report__box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .report__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1620px) {
  .report__box {
    width: 24.25%;
    min-width: 385px;
  }
  .report__box:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .report__box:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.report__box--wrapper {
  position: relative;
  z-index: 1;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 50px 10px 0 10px;
  /* 9 */
  padding: 3.125rem 0.625rem 0 0.625rem;
  /* 9 */
}

@media (min-width: 768px) {
  .report__box--wrapper {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 50px 35px 0 35px;
    /* 9 */
    padding: 3.125rem 2.1875rem 0 2.1875rem;
    /* 9 */
  }
}

.report__box-tag {
  position: absolute;
  top: -4px;
  z-index: 55;
  left: 0;
  width: 80px;
  height: 22px;
  background-color: #EEDC00;
  text-align: center;
  box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.1);
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 15px;
  /* 9 */
  margin-left: 0.9375rem;
  /* 9 */
}

.report__box-tag__name {
  color: #53565A;
  line-height: 22px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
}

.report__box-tag__name--red {
  color: white;
}

@media (min-width: 768px) {
  .report__box-tag {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 35px;
    /* 9 */
    margin-left: 2.1875rem;
    /* 9 */
  }
}

.report__box-tag--red {
  background-color: #ce0037;
}

.report__box-title {
  line-height: 1.1;
  display: inline-block;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 15px;
  /* 9 */
  padding-bottom: 0.9375rem;
  /* 9 */
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}

.report__box-title:after {
  content: "";
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #53565a;
}

.report__box-title:hover {
  cursor: pointer;
  color: #ce0037;
}

.report__box-title a {
  color: black;
}

.report__box-title a:hover {
  cursor: pointer;
  color: #ce0037;
}

.report__box-text {
  line-height: 1.2;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 20px;
  /* 9 */
  margin-top: 1.25rem;
  /* 9 */
}

.report__box-details {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
}

.report__box-details--left {
  float: left;
}

.report__box-details--right {
  float: right;
}

.report__box-details__author {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 15px 15px;
  /* 9 */
  padding: 0 0 0.9375rem 0.9375rem;
  /* 9 */
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .report__box-details__author {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 0 0 15px 35px;
    /* 9 */
    padding: 0 0 0.9375rem 2.1875rem;
    /* 9 */
  }
}

.report__box-details__date {
  color: #53565A;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-left: 15px;
  /* 9 */
  padding-left: 0.9375rem;
  /* 9 */
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .report__box-details__date {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-left: 35px;
    /* 9 */
    padding-left: 2.1875rem;
    /* 9 */
  }
}

.report__box-details__link {
  color: black;
  position: relative;
  display: block;
  height: 45px;
  width: 60px;
  border-radius: 35px;
  border: 1px solid #53565a;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 15px;
  /* 9 */
  margin-right: 0.9375rem;
  /* 9 */
}

@media (min-width: 768px) {
  .report__box-details__link {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 45px;
    /* 9 */
    padding-right: 2.8125rem;
    /* 9 */
  }
}

.report__box-details__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.report__box-details__link:hover .report__box-details__icon {
  left: 55%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.report__box:nth-child(even) {
  background-color: #f2f2f2;
}

.report__loader {
  width: 100%;
  text-align: center;
  display: block;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 70px;
}

.report__button {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  color: #53565A;
  padding-top: 2px;
  line-height: 52px;
  display: table-cell;
  width: 215px;
  height: 52px;
  border-radius: 40px;
  border: 1px solid #53565A;
}

.report__button:hover {
  background-color: #53565A;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: white;
}

/* Single Research / Single Report*/
.single-report {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 215px;
  /* 9 */
  margin-bottom: 13.4375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 25px;
  /* 9 */
  margin-top: 1.5625rem;
  /* 9 */
}

.single-report h1{
  padding: 25px 0;
}

@media (min-width: 768px) {
  .single-report {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 85px;
    /* 9 */
    margin-top: 5.3125rem;
    /* 9 */
  }
}

@media (min-width: 1620px) {
  .single-report {
    max-width: 1600px;
  }
}

.single-report__title {
  width: 100%;
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-bottom: 20px;
  /* 9 */
  padding-bottom: 1.25rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 20px;
  /* 9 */
  margin-bottom: 1.25rem;
  /* 9 */
  position: relative;
}

@media (min-width: 768px) {
  .single-report__title {
    width: 60%;
    font-size: 48px;
    font-size: 48px/16pxrem;
    font-weight: 700;
  }
}

.single-report__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 87px;
  border: 2px solid black;
}

.single-report__aside {
  float: left;
  width: 300px;
}

.single-report__main {
  overflow: hidden;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 40px;
  /* 9 */
  margin-bottom: 2.5rem;
  /* 9 */
  width: 100%;
  float: left;
}

@media (min-width: 1000px) {
  .single-report__main {
    width: 650px;
    float: left;
  }
}

.single-report__aside-details {
  font-size: 20px;
  font-size: 20px/16pxrem;
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 30px;
  /* 9 */
  margin-bottom: 1.875rem;
  /* 9 */
}

.single-report__aside-details span {
  font-size: 18px;
  font-size: 18px/16pxrem;
  font-weight: 400;
}

.single-report__aside-download {
  width: 214px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border: 1px solid #53565a;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.single-report__aside-link {
  color: black;
  position: relative;
}

.single-report__aside-link:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 27px;
  height: 13px;
  right: -10px;
  background-image: url("../img/download-icon.png");
  background-size: cover;
}

.single-report__aside-download--desktop {
  display: none;
}

@media (min-width: 1000px) {
  .single-report__aside-download--desktop {
    display: block;
  }
}

.single-report__aside-download--mobile {
  display: block;
  margin: 0 auto;
  clear: both;
}

@media (min-width: 1000px) {
  .single-report__aside-download--mobile {
    display: none;
  }
}

.single-report__main-paragraph {
  line-height: 1.4;
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .single-report__main-paragraph {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 400;
  }
}

.single-report__main-paragraph p {
  line-height: 1.4;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 10px 0px;
  /* 9 */
  margin: 0.625rem 0px;
  /* 9 */
}

.single-report__main-paragraph ul,
.single-report__main li,
.single-report__main ol {
  line-height: 1.4;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 15px 0px;
  /* 9 */
  margin: 0.9375rem 0px;
  /* 9 */
}

.single-report__main-paragraph h2,
.single-report__main h3,
.single-report__main h4,
.single-report__main h5,
.single-report__main h6 {
  line-height: 1.4;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 10px 0px;
  /* 9 */
  margin: 0.625rem 0px;
  /* 9 */
}

.single-report__main-paragraph img {
  max-width: 100%;
  height: auto;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 0 10px;
  /* 9 */
  margin: 0 0.625rem;
  /* 9 */
}

.single-report__main-paragraph a {
  color: black;
}

.single-report__main-paragraph--intro {
  font-size: 14px;
  font-size: 14px/16pxrem;
  font-weight: 600;
  line-height: 1.5;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 35px;
  /* 9 */
  margin-bottom: 2.1875rem;
  /* 9 */
}

@media (min-width: 768px) {
  .single-report__main-paragraph--intro {
    font-size: 18px;
    font-size: 18px/16pxrem;
    font-weight: 600;
  }
}
