/*Imported Components*/
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext");
.div {
  width: 50px;
  height: 50px;
  width: 12.5%; }
  .div:nth-child(n) {
    margin-bottom: 5;
    margin-right: 5; }
  .div:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0; }

/*  Center normal */
/* Center Horizontally and Vertically */
/* Center Vertical Text */
/* Rem mixin with px fallback */
/* Coverer */
.footer {
  clear: both;
  position: relative;
  min-height: 350px;
  background-color: #53565a; }
  .footer__heading {
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.125rem;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 35px 0 0 20px;
    /* 9 */
    padding: 2.1875rem 0 0 1.25rem;
    /* 9 */ }
  .footer__content {
    color: white;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 0 0 0 50px;
    /* 9 */
    padding: 0 0 0 3.125rem;
    /* 9 */ }
    .footer__content-mobile__text {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 5 */
      padding: 30px 0 0 0;
      /* 9 */
      padding: 1.875rem 0 0 0;
      /* 9 */
      font-weight: 400;
      font-size: 16px;
      font-size: 1rem; }
    .footer__content-paragraph {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-top: 5px;
      /* 9 */
      margin-top: 0.3125rem;
      /* 9 */ }

@media (min-width: 992px) {
  .footer__mobile {
    display: none; } }

.footer__tablet {
  display: none; }
  @media (min-width: 992px) {
    .footer__tablet {
      min-height: 480px;
      display: block;
      margin: 0 auto;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 6 */
      /* 6 */
      padding: 60px;
      /* 9 */
      padding: 3.75rem;
      /* 9 */ } }
  @media (min-width: 1200px) {
    .footer__tablet {
      min-height: 550px; } }

.footer__container-left {
  width: 20%;
  min-height: 370px;
  float: left;
  position: relative; }
  @media (min-width: 1200px) {
    .footer__container-left {
      min-height: 420px; } }
  .footer__container-left:before {
    content: "";
    border-left: 1px solid #808080;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.footer__container-middle {
  width: 60%;
  float: left; }

.footer__container-right {
  position: relative;
  width: 20%;
  min-height: 370px;
  float: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 0 0 15px;
  /* 9 */
  padding: 0.3125rem 0 0 0.9375rem;
  /* 9 */ }
  @media (min-width: 1200px) {
    .footer__container-right {
      min-height: 420px; } }
  .footer__container-right:before {
    content: "";
    border-left: 1px solid #808080;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .footer__container-right:after {
    content: "";
    border-left: 1px solid #808080;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; }

.footer__navbox {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding-top: 5px;
  /* 9 */
  padding-top: 0.3125rem;
  /* 9 */
  min-height: 200px;
  float: left;
  width: 25%;
  position: relative; }
  @media (min-width: 1200px) {
    .footer__navbox {
      min-height: 215px; } }
  .footer__navbox:before {
    content: "";
    border-left: 1px solid #808080;
    height: 65%;
    position: absolute;
    left: 0;
    top: 0; }
    @media (min-width: 1200px) {
      .footer__navbox:before {
        height: 75%; } }
  .footer__navbox-title {
    color: white;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 14px;
    font-weight: 600; }
    @media (min-width: 1200px) {
      .footer__navbox-title {
        font-size: 16px;
        top: -35px; } }
    @media (min-width: 1360px) {
      .footer__navbox-title {
        font-size: 20px; } }
    @media (min-width: 1620px) {
      .footer__navbox-title {
        font-size: 21px;
        font-weight: 600; } }

.footer__navbox:nth-child(n+5) {
  padding-top: 45px; }
  .footer__navbox:nth-child(n+5):before {
    content: "";
    border-left: 1px solid #808080;
    height: 65%;
    position: absolute;
    left: 0;
    top: 20%; }
    @media (min-width: 1200px) {
      .footer__navbox:nth-child(n+5):before {
        height: 75%; } }

.footer__navbox:nth-child(n+5) h3 {
  top: 5px; }

.footer__about {
  color: white;
  font-size: 14px;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 25px 0 15px;
  /* 9 */
  padding: 0.3125rem 1.5625rem 0 0.9375rem;
  /* 9 */
  line-height: 1.3; }
  @media (min-width: 1200px) {
    .footer__about {
      font-size: 16px; } }
  @media (min-width: 1620px) {
    .footer__about {
      font-size: 21px;
      font-size: 1.3125rem; } }

.footer__link {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 0 0 15px;
  /* 9 */
  padding: 0 0 0 0.9375rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 12px;
  /* 9 */
  margin-bottom: 0.75rem;
  /* 9 */
  font-size: 16px;
  display: inline-block; }
  @media (min-width: 1200px) {
    .footer__link {
      font-size: 16px; } }

.footer__contact {
  border: 1px solid red !important; }
  .footer__contact-adress {
    color: white;
    font-size: 14px; }
    @media (min-width: 1200px) {
      .footer__contact-adress {
        font-size: 16px; } }
    .footer__contact-adress p {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 5 */
      padding: 7px 30px 0 0;
      /* 9 */
      padding: 0.4375rem 1.875rem 0 0;
      /* 9 */ }
  .footer__contact-telephone {
    color: white;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    margin: 15px 0;
    /* 9 */
    margin: 0.9375rem 0;
    /* 9 */
    font-size: 14px;
    font-weight: 400; }
    .footer__contact-telephone p {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding-top: 7px;
      /* 9 */
      padding-top: 0.4375rem;
      /* 9 */ }
    @media (min-width: 1200px) {
      .footer__contact-telephone {
        font-size: 16px; } }
  .footer__contact-email {
    color: white;
    font-size: 14px;
    font-size: 0.875rem; }
    @media (min-width: 1200px) {
      .footer__contact-email {
        font-size: 16px; } }
  .footer__contact-social {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-top: 30px;
    /* 9 */
    margin-top: 1.875rem;
    /* 9 */ }
  .footer__contact-social__link {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding-right: 10px;
    /* 9 */
    padding-right: 0.625rem;
    /* 9 */ }

/*General styling*/
*,
*:after,
*:before {
  box-sizing: border-box !important; }

body, html {
  font-size: 16px;
  font-family: "Hind","sans-serif";
  min-width: 320px; }

.navi__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  float: left;
  overflow: hidden;
  height: 112px; }

.nav {
  display: none;
  float: left;
  height: 112px;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-left: 20px;
  /* 9 */
  margin-left: 1.25rem;
  /* 9 */ }
  @media (min-width: 992px) {
    .nav {
      display: block; } }
  @media (min-width: 1620px) {
    .nav {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-left: 50px;
      /* 9 */
      margin-left: 3.125rem;
      /* 9 */ } }
  .nav__item {
    display: inline-block; }
    @media (min-width: 992px) {
      .nav__item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-right: 10px;
        /* 9 */
        padding-right: 0.625rem;
        /* 9 */ } }
    @media (min-width: 992px) {
      .nav__item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-right: 15px;
        /* 9 */
        padding-right: 0.9375rem;
        /* 9 */ } }
    @media (min-width: 1620px) {
      .nav__item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        padding-right: 25px;
        /* 9 */
        padding-right: 1.5625rem;
        /* 9 */ } }
  .nav__link {
    color: #53565A;
    line-height: 112px;
    font-weight: 500; }
    @media (min-width: 500px) {
      .nav__link {
        font-size: 12px;
        font-size: 0.75rem; } }
    @media (min-width: 768px) {
      .nav__link {
        font-size: 13px;
        font-size: 13px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1200px) {
      .nav__link {
        font-size: 16px;
        font-size: 16px/16pxrem;
        font-weight: 500; } }
    @media (min-width: 1620px) {
      .nav__link {
        font-size: 19px;
        font-size: 19px/16pxrem;
        font-weight: 500; } }
    .nav__link:hover {
      color: #B7C9D3; }

.header {
  position: relative; }
  .header__logo {
    width: 130px;
    margin-top: 10px;
    margin-left: 15px; }
    @media (min-width: 768px) {
      .header__logo {
        margin-left: 0;
        width: 200px;
        height: 55px;
        float: left;
        margin-top: 25px; } }
  .header__navigation {
    height: 65px;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 25px;
    /* 9 */
    margin-bottom: 1.5625rem;
    /* 9 */ }
    @media (min-width: 768px) {
      .header__navigation {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 5 */
        /* 8 */
        margin-bottom: 0;
        /* 9 */
        border-bottom: none;
        height: 112px; } }
    .header__navigation-search {
      position: absolute;
      top: 50%;
      right: 60px;
      transform: translateY(-50%); }
      @media (min-width: 1200px) {
        .header__navigation-search {
          right: 80px; } }
    .header__navigation-english {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px; }
      @media (min-width: 1200px) {
        .header__navigation-english {
          right: 40px; } }
      .header__navigation-english h3 {
        font-size: 20px;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: black;
        font-weight: 600; }
  .header__title {
    display: none;
    height: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72;
    /* Old browsers */
    background: -moz-linear-gradient(left, #596a72 0%, #cedce7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #596a72 0%, #cedce7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #596a72 0%, #cedce7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 );
    /* IE6-9 */ }
    @media (min-width: 768px) {
      .header__title {
        display: block;
        height: 200px; } }
    .header__title-wrapper {
      width: 95%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      height: 150px; }
      @media (min-width: 768px) {
        .header__title-wrapper {
          width: 95%;
          height: 200px; } }
      @media (min-width: 1620px) {
        .header__title-wrapper {
          max-width: 1600px; } }
    .header__title-text {
      position: absolute;
      bottom: -6px;
      color: white;
      font-weight: 300;
      font-size: 32px;
      font-size: 2rem; }
      @media (min-width: 768px) {
        .header__title-text {
          font-size: 48px;
          font-size: 3rem; } }
      @media (min-width: 992px) {
        .header__title-text {
          font-size: 70px;
          font-size: 4.375rem; } }
      @media (min-width: 1620px) {
        .header__title-text {
          font-size: 100px;
          font-size: 6.25rem; } }

.aside-nav {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 8 */
  margin-top: 0px;
  /* 9 */
  width: 100%; }
  @media (min-width: 1200px) {
    .aside-nav {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-top: 20px;
      /* 9 */
      margin-top: 1.25rem;
      /* 9 */
      width: 25%;
      float: left; } }
  .aside-nav__item {
    display: inline-block;
    width: 70%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-left: 40px;
    /* 9 */
    margin-left: 2.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 27px 0 27px 0;
    /* 9 */
    padding: 1.6875rem 0 1.6875rem 0;
    /* 9 */
    border-bottom: 1px solid #53565A; }
  .aside-nav__link {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    color: #53565A;
    width: 100%; }
    .aside-nav__link:hover {
      color: #B7Cd04; }
