/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;

}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;

}


// Nav Wrapper
.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  float:left;
  overflow:hidden;
  height:112px;
}
//////////////////Navigation
.nav{
  display:none;
  @include screen(laptop){
    display:block;
  }
  float:left;
  height:112px;
  position:relative;
  @include reming(margin-left,20px);
  @include screen(tablet){

  }
  @include screen(extra){
      @include reming(margin-left,50px);
  }
  &__item{
    display:inline-block;
    @include screen(laptop){
      @include reming(padding-right,10px);
    }
    @include screen(laptop){
      @include reming(padding-right,15px);
    }
    @include screen(extra){
      @include reming(padding-right,25px);
    }
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include font(13,medium);
    }
    @include screen(desktop){
      @include font(16,medium);
    }
    @include screen(extra){
      @include font(19,medium);
    }
    &:hover{
      color:#B7C9D3;
    }
  }
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    width:130px;
    margin-top:10px;
    margin-left:15px;
    @include screen(tablet){
      margin-left:0;
      width:200px;
      height:55px;
      float:left;
      margin-top:25px;
    }
  }
  // Navigation container
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include reming(margin-bottom,25px);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:60px;
      transform:translateY(-50%);
      @include screen(desktop){
          right:80px;
      }
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:15px;
      @include screen(desktop){
      right:40px;
      }
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include screen(tablet){
      display:block;
      height:200px;
    }
    &-wrapper{
      width:95%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:95%;
        height:200px;
      }
      @include screen(extra){
        max-width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(48px);
      }
      @include screen(laptop){
        @include rem(70px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}


////////////////////////////////
/// Main

.intro{
overflow:hidden;
clear:both;
@include screen(tablet){
  @include reming(margin-bottom,100px);
}
@include screen(tablet){
  @include reming(margin-top,85px);
}
  &__wrapper{
  width:100%;
  overflow:hidden;
    @include screen(tablet){
      width:90%;
        margin:0 auto;
    }
  }
  &__wrapper--inside{
    @include screen(extra){
      max-width:1600px;
      margin:0 auto;
    }
  }
  &__box{
  width:100%;
  text-align:center;
  float:left;
  height:auto;
  @include reming(margin-bottom,35px);
  @include screen(tablet){
    @include rowMachine(2,1%);
    margin-bottom:50px !important;
  }
  @include screen(large){
    @include rowMachine(4,1%);
  }
    &-icon{
    height:60px;
    @include reming(margin-bottom,10px);
      @include screen(laptop){
        @include reming(margin-bottom,60px);
      }
    }
    &-title{
      display:inline-block;
      @include rem(20px);
      color:$font-secondary;
      position:relative;
      text-transform:uppercase;
      @include reming(padding-bottom,10px);
      @include weight(medium);
        @include screen(laptop){
          @include rem(42px);
          @include reming(padding-bottom,27px);
        }
      &:before{
        content:"";
        border-bottom:3px solid $background-primary;
        bottom:0;
        left:50%;
        position:absolute;
        width:80%;
        transform:translateX(-50%);
      }
    }
    &-text{
      @include reming(margin-top,10px);
        @include screen(tablet){
          line-height:1.2;
          @include rem(18px);
          @include weight(regular);
          @include reming(margin-top,27px);
        }
    }
  }
}

// Research Tiles

.research{
  width:90%;
  margin:0 auto;
  overflow:hidden;
  @include screen(tablet){
    width:95%;
  }
  @include screen(extra){
    max-width:1600px;
  }
  &__title-container{
    position:absolute;
    top:15px;
    right:15px;
    text-align:right;
    @include screen(tablet){
      top:25px;
      right:25px;
    }
  }
  &__title{
    color:$font-yellow;
    @include weight(light);
    @include rem(24px);
    @include screen(tablet){
      @include rem(42px);
    }
    @include screen(large){
      @include rem(72px);
    }
  }
  &__circle{
    position:absolute;
    left:0;
    bottom:1px;
    max-width:50%;
    @include screen(tablet){
      max-width:100%;
      bottom:0;
    }
  }
  &__left{
    overflow:hidden;
    position:relative;
    height:92px;
    background-color:$background-primary;
    width:95%;
    margin:0 auto;
    margin-bottom:1.5%;
    @include screen(tablet){
      height:150px;
      display:none;
    }
    @include screen(large){
      height:auto;
      float:left;
      width:25%;
      margin-bottom:0;
    }
    &-top{
      display:none;
      @include screen(large){
        display:block;
        height:450px;
        width:100%;
        margin-top:2.25%;
      }
    }
    &-bottom{
      display:none;
      @include screen(large){
        display:block;
        height:450px;
        width:100%;
      }
    }
  }
  &__right{
    width:100%;
    overflow:hidden;
  }
  &__boxes-wrapper{
    width:95%;
    margin:0 auto;
    @include screen(large){
      width:100%;
      padding-left:1.5%;
      overflow:hidden;
    }
  }

  &__box{
    border:1px solid #E6E6E6;
    height:150px;
    position:relative;
    width:100%;
    margin-bottom:10px;
    @include screen(tablet){
      height:450px;
      width:385px;
      float:left;
      @include rowMachine(2,1.5%);
    }
    @include screen(laptop){
      @include rowMachine(3,1.5%);
    }
    @include screen(large){
      @include rowMachine(4,1.5%);
    }
    &-container{
      @include reming(margin,15px 55px 0 10px);
      @include screen(tablet){
        @include reming(padding,42px 0 0 42px);
        @include reming(margin-right,0);
      }
    }
    &-first__title{
      text-align:right;
      color:$font-yellow;
      @include font(72,light);
      @include reming(padding-right,27px);
    }
    &-circle--yellow{
      position: absolute;
      left:-1px;
      bottom:0;
    }
    &-first__title:first-child{
      @include reming(margin-top,27px);
    }
    &-title{
      display:inline-block;
      color:$font-secondary;
      position:relative;
      @include reming(padding-bottom,10px);
      @include screen(tablet){
        @include reming(padding-bottom,25px);
      }
      &:before{
        content:"";
        border-bottom:3px solid $background-primary;
        bottom:0;
        left:0;
        position:absolute;
        width:80%;
        @include screen(tablet){
          width:40%;
        }
      }
    }
    &-title--long{
      @include weight(medium);
      @include rem(20px);
      @include reming(padding-right,10px);
      @include screen(tablet){
        @include rem(42px);
      }
      @include screen(extra){
        @include reming(padding-right,5px);
      }
    }
    &-text{
    @include rem(14px);
    color:$font-secondary;
    @include reming(margin-top,10px);
    line-height:1.2;
    @include reming(padding-right,45px);
    @include screen(tablet){
      @include rem(18px);
      @include reming(margin-top,25px);
    }
    }
    &-details{
      height:25px;
      @include screen(tablet){
        height:115px;
      }
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      background-color: #e6e6e6;
    }
    &-circle{
      display:none;
      position:absolute;
      right:25px;
      top:0;
      @include screen(tablet){
        display:block;
      }
    }
    &-button{
      display:none;
      left:15px;
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      width:69px;
      height: 52px;
      border:1px solid $background-primary;
      border-radius:42px;
      cursor:pointer;
      @include screen(tablet){
        display:block;
        left:42px;
      }
      &:hover{
        background-color:white;
      }
      &__arrow{
        @include absolute-center;
      }
    }
    &-button--mobile{
      display:block;
      border:1px solid $font-secondary;
      top:40%;
      right:10px;
      left:initial;
      transform:translateY(-50%);
      @include screen(tablet){
        display:none;
      }
    }
  }
  &__box--first{
    display:none;
    @include screen(tablet){
      display:block;
    }
    background-color:$font-secondary;
  }
  &__box:nth-child(2) .research__box-details,&__box:nth-child(4) .research__box-details,&__box:nth-child(5) .research__box-details,&__box:nth-child(7) .research__box-details{
    background-color:  #B7C9D3;
  }
  &__box:nth-child(5) .research__box-details .research__box-circle,&__box:nth-child(7) .research__box-details .research__box-circle,{
    top:0;
  }
  &__box:nth-child(3) .research__box-details .research__box-circle,&__box:nth-child(6) .research__box-details .research__box-circle,&__box:nth-child(8) .research__box-details .research__box-circle{
    top:-80px;
  }
}

.research__box-details--hover{
  background-color:black;
}
