/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";
/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;
}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    max-width:100%;
    height:auto;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
  }
  // Navigation
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include reming(margin-bottom,0);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:80px;
      transform:translateY(-50%);
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:40px;
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include screen(tablet){
      display:block;
      height:200px;
    }
    &-wrapper{
      width:90%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:90%;
        height:200px;
      }
      @include screen(extra){
        width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(48px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}

//////////////////Navigation
.nav{
  display:none;
  @include screen(desktop){
    display:block;
  }
  height:112px;
  position:relative;
  margin-left:200px;
  &__item{
    display:inline-block;
    @include reming(padding-right,25px);
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include rem(15px);
    }
    @include screen(extra){
      @include rem(19px);
    }
  }
}

.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:95%;
  overflow:hidden;
  height:65px;
  @include screen(tablet){
    height:112px;
    width:90%;
  }
  @include screen(extra){
    width:1600px;
  }
}



// /////////////
/////// Aside nav
.aside-nav{
  @include reming(margin-top,0px);
    width:100%;
  @include screen(desktop){
    @include reming(margin-top,20px);
    width: 25%;
    float:left;
  }
  &__item{
  display:inline-block;
  width:70%;
  @include reming(margin-left,40px);
  @include reming(padding,27px 0 27px 0);
  border-bottom:1px solid $font-secondary;
  }
  &__link{
  @include rem(20px);
  @include weight(light);
  text-align:left;
  color:$font-secondary;
  width:100%;
  }
}


////////////////////////////////////
/////// Main
.gemius{
  overflow:hidden;
  &-content{
    width:95%;
    margin:0 auto;
    @include screen(desktop){
      float:right;
      padding-right:5%;
      width:75%;
    }
    &--wrapper{
      max-width:1440px;
      overflow:hidden;
    }
    &__main-title{
      @include rem(20px);
      @include weight(bold);
      @include reming(padding,20px 0 25px 0);
      @include screen(tablet){
        @include rem(48px);
        @include reming(padding,87px 0 55px 0);
      }
    }
  }
}
.gemius-intro__content{
  max-width:1280px;
}

.gemius-box{
    width:100%;
    text-align:center;
    height:215px;
  @include screen(tablet){
    @include rowMachine3(3,0);
    float:left;
    height: 370px;
    background-color:#808080;
    border-right:1px solid white;
  }
  &__icon{
    display:none;
    text-align:center;
    @include screen(tablet){
      display:inline-block;
    }
    height:106px;
    @include reming(margin,70px 0 36px 0);
    &--1{
      @include reming(margin-top,30px);
      height: 106px;
      @include screen(tablet){
        @include reming(margin-top,70px);
      }
    }
    &--2{
      height: 81px;
      @include reming(margin-top,38px);
      @include screen(tablet){
      @include reming(margin-top,98px);
    }
    }
    &--3{
      height: 65px;
      @include reming(margin-top,38px);
      @include screen(tablet){
      @include reming(margin-top,113px);
    }
    }
  }
  &__icon--mobile{
    display:inline-block;
    @include reming(margin-bottom,15px);
    @include screen(tablet){
      display:none;
    }
  }
  &__title:before{
    position:absolute;
    content:"";
    border-bottom:3px solid $background-primary;
    top:0;
    width:81px;
    left:50%;
    transform:translateX(-50%);
    @include screen(tablet){
      border-bottom:3px solid white;
    }
  }
  &__title{
    color:$background-primary;
    line-height:1.3;
    position:relative;
    @include reming(padding-top,15px);
    @include screen(tablet){
      @include reming(padding-top,30px);
      color:white;
      @include rem(25px);
      @include weight(bold);

    }

  }
}

.gemius-possibilities{
  overflow:hidden;
  @include reming(margin-bottom,10px);
  @include screen(tablet){
    @include reming(margin-bottom,95px);
  }
  &__title{
    @include reming(padding,40px 0 15px 0);
    @include rem(20px);
    @include weight(bold);
    @include screen(tablet){
      @include rem(48px);
      @include reming(padding,85px 0 48px 0);
    }
  }
  &__content{
  max-width:1280px;
  &--wrapper{
    max-width:1440px;
  }
  }
}
.gemius-possibilities__box{
    position:relative;
    background-color:$background-secondary;
    @include reming(margin-bottom,10px);
  @include screen(tablet){
    @include reming(margin-bottom,0);
    height:100px;
    width:100%;
    @include rowMachine(3,1%);
    height:300px;
    float:left;
  }
  &-content{
    @include reming(padding,45px);
  }
  &-circle{
    display:none;
    @include screen(tablet){
      display:block;
      position:absolute;
    }
  &--1{
    top: 0;
    right: 0;
  }
  &--2{
    bottom: 0;
    right: 0;
  }
  &--3{
    top: 0;
    left: 0;
  }
  &--4{
    top: 0;
    left:0;
  }
  &--5{
    top: 0;
    left: 50%;
    transform:translateX(-50%);
  }
  &--6{
    bottom: 0;
    left: 0;
  }
  &--7{
    top: 0;
    right: 0;
  }
  &--8{
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
  }
  &--9{
    bottom: 0;
    right: 0;
  }
  }
  &-title{
    position:relative;
    @include rem(20px);
    @include weight(medium);
    @include reming(padding-bottom,36px);
    @include screen(tablet){
      @include rem(32px);
      @include weight(light);
    }
    &:before{
      position:absolute;
      content:"";
      border-bottom:3px solid $special-font;
      left:0;
      bottom:0;
      width:103px;
    }
  }
}

// Promoted Circle Gemius Explorer
.gemius-promoted{
    position:relative;
    @include reming(margin-bottom,15px);
    @include screen(tablet){
      height:505px;
      @include reming(margin-bottom,90px);
    }
  &__content{
    @include reming(padding, 0 0 0 0);
    @include screen(tablet){
      @include reming(padding, 135px 0 0 357px);
    }
    &-title--first{
      @include weight(bold);
      @include rem(20px);
      @include screen(tablet){
        @include rem(48px);
      }
    }
    &-title{
      @include weight(medium);
      @include rem(20px);
      @include reming(padding-bottom,10px);
      position:relative;
      @include screen(tablet){
        @include rem(36px);
        @include weight(light);
        @include reming(padding-bottom,20px);
        @include reming(margin-bottom,28px);
      }
      &:after{
        position:absolute;
        content:"";
        left:0;
        bottom:0;
        width:81px;
        border-bottom:2px solid $background-primary;
      }
    }
    &-text{
      @include rem(14px);
      @include weight(regular);
      @include reming(margin-top,10px);
      @include screen(tablet){
        line-height:1.2;
        @include rem(22px);
        @include weight(light);
      }
    }
    &-text--line{
      @include font(16,regular);
      display:inline-block;
      @include reming(margin-bottom,20px);
      letter-spacing:0.5px;
      @include screen(tablet){
        @include font(16,regular);
        @include reming(margin-bottom,5px);
      }
      @include screen(laptop){
        @include font(20,regular);
      }
      @include screen(desktop){
        @include font(24,regular);
      }
    }
  }
  &__content-img{
    display:none;
    @include screen(tablet){
      display:block;
      position:absolute;
      top:0;
      left:0;
      width:505px;
      height:505px;
      z-index:-1;
    }
  }
  &__content-img--mobile{
    position:absolute;
    left:-2.65%;
    top:0;
    z-index:-1;
    @include screen(tablet){
      display:none;
    }
  }
}

// Four Steps
.gemius-steps{
  overflow:hidden;
  &__title{
    @include rem(20px);
    @include weight(bold);
    @include screen(tablet){
      @include rem(48px);
    }
  }
  &__subtitle{
    @include rem(20px);
    @include weight(medium);
    @include screen(tablet){
      @include rem(36px);
      @include weight(light);
    }
  }
  &__content{
    width: 100%;
    overflow:hidden;
  }
}
.gemius-steps__content{
    max-width:1280px;
  &-box{
    position: relative;
    width: 100%;
    padding-left:5%;
    @include reming(margin-top,70px);
    @include screen(small){
      width: 50%;
      float:left;
      padding-left:0;
    }
    @include screen(tablet){
      width: 25%;
      float:left;
      padding-left:0;
    }
  }
  &-box:nth-child(3) p{
    @include reming(margin-bottom,25px);
    @include screen(tablet){
      margin:0;
    }
  }
  &-image{
    height:110px;
    position:relative;
  }
  &-icon{
    position:absolute;
    bottom:10px;
    width: 50px;
    @include screen(tablet){
      left:0;
      top:50%;
      transform:translateY(-50%);
    }
    &--2{
      width:65px;
    }
    &--3{
      width:80px;
      left:-10px;
    }
    &--4{
      width:70px;
    }
  }
  &-arrow{
    display:none;
  @include screen(tablet){
    position: absolute;
    width:13px;
    top:-2px;
    right:50px;
  }
  }
  &-title{
      display:inline-block;
      position:relative;
      @include font(50,light);
      @include reming(margin-top,20px);
      @include reming(padding-bottom,10px);
      @include screen(tablet){
        @include reming(padding-bottom,23px);
      }
    &:after{
      position:absolute;
      content:"";
      left:0;
      bottom:0;
      width:65px;
      border-bottom:3px solid $background-primary;
    }
    &:before{
      content:url('../img/four-steps-circle.svg');
      width:118px;
      position: absolute;
      z-index:-1;
      left:0;
      top:-70px;
    }
  }
  &-title--mobile{
    position:absolute;
    bottom:5px;
    left:100px;
    @include screen(tablet){
      display:none;
    }
  }
  &-text{
    line-height:1.2;
    @include reming(padding-top,10px);
    @include rem(18px);
    @include weight(semi-bold);
    position:relative;
    @include screen(tablet){
      @include reming(padding-top,23px);
    }
  }
}

.gemius-steps__content{
  &-send{
    overflow:hidden;
    width:100%;
    max-width:1280px;
    height:62px;
    clear:both;
    text-align:center;
    @include reming(margin,55px 0 90px 0);
    @include screen(tablet){
      @include reming(margin,88px 0 160px 0);
    }
  }
  &-button{
    cursor:pointer;
    color:$background-primary;
    height:61px;
    width: 278px;
    display:inline-block;
    border:1px solid $background-primary;
    border-radius:25px;
    line-height:61px;
    &:hover{
      background-color:$background-primary;
      color:white;
    }
  }
  &-button span:after{
    content:url("../img/arrow-small.png");
    position:relative;
    left:10px;
  }
}
