/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;
}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;

}


// Nav Wrapper
.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  float:left;
  overflow:hidden;
  height:65px;
  @include screen(tablet){
    height:112px;
  }
}
//////////////////Navigation
.nav{
  display:none;
  @include screen(laptop){
    display:block;
  }
  float:left;
  height:112px;
  position:relative;
  @include reming(margin-left,20px);
  @include screen(tablet){

  }
  @include screen(extra){
      @include reming(margin-left,50px);
  }
  &__item{
    display:inline-block;
    @include screen(laptop){
      @include reming(padding-right,10px);
    }
    @include screen(laptop){
      @include reming(padding-right,15px);
    }
    @include screen(extra){
      @include reming(padding-right,25px);
    }
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include font(13,medium);
    }
    @include screen(desktop){
      @include font(16,medium);
    }
    @include screen(extra){
      @include font(19,medium);
    }
  }
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    width:130px;
    margin-top:10px;
    margin-left:15px;
    @include screen(tablet){
      margin-left:0;
      width:200px;
      height:55px;
      float:left;
      margin-top:25px;
    }
  }
  // Navigation container
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:60px;
      transform:translateY(-50%);
      @include screen(desktop){
          right:80px;
      }
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:15px;
      @include screen(desktop){
      right:40px;
      }
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include screen(tablet){
      display:block;
      height:200px;
    }
    &-wrapper{
      width:95%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:95%;
        height:200px;
      }
      @include screen(extra){
        max-width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(48px);
      }
      @include screen(laptop){
        @include rem(70px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}



////////////////////////////////////
/////// Main
.contact{
  position: relative;
  &__intro-circle{
    display:none;
    @include screen(tablet){
      display:block;
      position: absolute;
      left:0;
      top:0;
      z-index:-1;
    }
  }
  &--wrapper{
    width:95%;
    margin: 0 auto;
    @include screen(extra){
      max-width:1600px;
    }
  }
  &__title{
    display:inline-block;
    position: relative;
    @include font(20,bold);
    @include reming(padding-top,20px);
    @include screen(tablet){
      @include font(48,bold);
      @include reming(padding-top,85px);
      @include reming(padding-bottom,15px);
    }
    &:after{
      display:none;
      @include screen(tablet){
        display:block;
        content:"";
        width:38%;
        position:absolute;
        bottom:0;
        left:0;
        border:2px solid $background-primary;
      }
    }
  }
  &__intro-text{
    @include font(14,regular);
    @include reming(padding-left,10px);
    @include reming(margin-top,15px);
    @include screen(tablet){
      @include font(18,regular);
      max-width:640px;
    }
  }
}

.contact__us{

  &--wrapper{
    max-width:1600px;
  overflow:hidden;
  }
  &-title{
    @include reming(margin,25px 0 20px 0);
    @include font(20,bold);
    @include screen(tablet){
      @include font(48,bold);
      @include reming(margin,100px 0 80px 0);
    }
  }
  &-box{
      width:100%;
      @include reming(margin-bottom,35px);
    @include screen(tablet){
      @include rowMachine(3,3%);
      height:auto;
      float:left;
    }
  }
  // &-box--wrapper:nth-child(1){
  //   border:1px solid red;
  //   position: relative;
  //   @include reming(padding-left,150px);
  //   &:before{
  //     content:url('../img/kontakt/kontakt-circle-person.png');
  //     position:absolute;
  //     left:-45px;
  //     top:50%;
  //     transform:TranslateY(-50%);
  //     z-index:1;
  //   }
  // }
  // &-box--wrapper:nth-child(2){
  //   &:before{
  //     content:url('../img/kontakt/kontakt-circle-person.png');
  //   }
  // }
  // &-box--wrapper:nth-child(3){
  //   &:before{
  //     content:url('../img/kontakt/kontakt-circle-person.png');
  //   }
  // }
  &-box--wrapper{
    width:100%;
    position: relative;
  }
  &-box__image{
    float:left;
    position:absolute;
    top:-10px;
    left:-40px;
    @include screen(tablet){
      float:initial;
      position:initial;
      left:0;
    }
  }
  &-box--details{
    position:relative;
    padding-left:140px;
    @include reming(margin-bottom,40px);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      padding:0;
      float:initial;
      position:initial;
      left:0;
      width:auto;
    }
  }
  &-box__name{
    @include font(16,regular);
    @include screen(tablet){
    @include font(20,regular);
    }
  }
  &-box__surname{
    @include font(20,bold);
    @include screen(tablet){
      @include font(24,bold);
    }
  }
  &-box__area{
    display:inline-block;
    position: relative;
    @include reming(margin,15px 0);
    @include screen(tablet){
      @include font(14,regular);
    }
    &:after{
      display:block;
      content:"";
      width:100%;
      position:absolute;
      z-index:-1;
      bottom:1px;
      left:0;
      border:5px solid $font-yellow;
    }
  }
  &-box__text{
    clear:both;
    line-height:1.3;
    @include font(16,regular);
    @include reming(margin-bottom,15px);
    @include screen(tablet){
      @include font(18,regular);
      line-height:1.4;
      @include reming(margin-bottom,30px);
    }
  }
  &-box__mail{
    @include reming(padding-bottom,10px);
    position: relative;
    display:inline-block;
    @include reming(margin-bottom,15px);
      @include screen(tablet){
        @include font(14,regular);
        @include reming(padding-bottom,20px);
      }
    &:after{
      display:block;
      content:"";
      width:81px;
      position:absolute;
      bottom:0;
      left:0;
      border:2px solid $background-primary;
    }
}
}


.contact__us-map{
  &__title{
    display:none;
    @include screen(tablet){
      display:block;
      @include font(48,bold);
      @include reming(margin-top,80px);
    }
  }
  clear:both;
}
// Mobile contact information
.contact__us-contact{
  display:block;
  @include screen(desktop){
    display:none;
  }
  &__information{
    @include reming(margin-bottom,40px);
  }
  &__title{
    color: $font-secondary;
    @include reming(margin-bottom,20px);
  }
  &__paragraph{
    @include font(18,regular);
    line-height:1.4;
  }
}

// Tablet + contact information
// map
.map__img{
  height:400px;
  width:100%;
  position: relative;
}

.map{
  position: relative;
}

.map__contact{
  display:none;
  @include screen(desktop){
    display:block;
  }
  width:670px;
  height: 485px;
  background-color:#B7C9D3;
  position:absolute;
  bottom:0;
  right:140px;
  z-index:1;
&-left{
  float:left;
  width:50%;
  @include reming(padding,28px 0 0 42px);
}
&-right{
  float:left;
  width:50%;
  @include reming(padding,28px 0 0 42px);
}
&-title{
@include font(30,bold);
@include reming(padding-bottom,18px);
@include reming(margin-bottom,18px);
position: relative;
  &:after{
    display:block;
    content:"";
    width:81px;
    position:absolute;
    bottom:0;
    left:0;
    border:2px solid $background-primary;
  }
}
&-text{
  @include font(18,regular);
  line-height:1.4;
}
}
