// *Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;

}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;

}


// Nav Wrapper
.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  float:left;
  overflow:hidden;
  height:112px;
}
//////////////////Navigation
.nav{
  display:none;
  @include screen(laptop){
    display:block;
  }
  float:left;
  height:112px;
  position:relative;
  @include reming(margin-left,20px);
  @include screen(tablet){

  }
  @include screen(extra){
      @include reming(margin-left,50px);
  }
  &__item{
    display:inline-block;
    @include screen(laptop){
      @include reming(padding-right,10px);
    }
    @include screen(laptop){
      @include reming(padding-right,15px);
    }
    @include screen(extra){
      @include reming(padding-right,25px);
    }
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include font(13,medium);
    }
    @include screen(desktop){
      @include font(16,medium);
    }
    @include screen(extra){
      @include font(19,medium);
    }
  }
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    width:130px;
    margin-top:10px;
    margin-left:15px;
    @include screen(tablet){
      margin-left:0;
      width:200px;
      height:55px;
      float:left;
      margin-top:25px;
    }
  }
  // Navigation container
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include reming(margin-bottom,25px);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:60px;
      transform:translateY(-50%);
      @include screen(desktop){
          right:80px;
      }
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:15px;
      @include screen(desktop){
      right:40px;
      }
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include screen(tablet){
      display:block;
      height:200px;
    }
    &-wrapper{
      width:95%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:95%;
        height:200px;
      }
      @include screen(extra){
        max-width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(48px);
      }
      @include screen(laptop){
        @include rem(70px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}


.aside-nav{
  @include reming(margin-top,20px);
  width: 100%;
  float:left;
  @include screen(tablet){
    width: 25%;
    float:left;
  }
  &__item{
  display:inline-block;
  width:70%;
  @include reming(margin-left,40px);
  @include reming(padding,27px 0 27px 0);
  border-bottom:1px solid $font-secondary;
  }
  &__item:last-child{
    border-bottom:none;
  }
  &__link{
  @include rem(20px);
  @include weight(light);
  text-align:left;
  color:$font-secondary;
  width:100%;
  }
}

// Search //////////////////////////////////////////////////////////////////////
.search{
height:auto;
@include reming(margin,85px 0 35px 0);
@include custom(768px){
height:25px;
}
  &--wrapper{
    width:100%;
    overflow:hidden;
    @include screen(extra){
      max-width:1280px;
    }
  }
  &__categories{
    float:left;
    @include reming(margin-right,35px);
  }
  &__categories-item{
    float:left;
    padding:5px;
    display:inline-block;
    @include font(14,regular);
    line-height:35px;
    @include reming(margin-right,15px);
    padding:0;
    @include screen(laptop){
      @include reming(margin-right,50px);
    }
  }
  &__categories-item:hover{
    @include font(14,semi-bold);
    cursor:pointer;
  }
  &__categories-item:after{
  display:block;
   content:attr(title);
   font-weight:bold;
   height:1px;
   color:transparent;
   overflow:hidden;
   visibility:hidden;
   margin-bottom:-1px;
  }
  &__field{
    position:relative;
    @include rem(14px);
    @include weight(regular);
    float:left;
    line-height:35px;
    border:none;
    border-bottom:1px solid $background-primary;
    @include reming(padding-left,45px);
    outline:0;
    @include reming(margin-bottom,15px);
    @include custom(500px){
      margin-bottom:0;
    }
  }
  &__details{
    float:left;
    @include custom(712px){
      float:right;
    }
  }
  &__select{
    min-height:38px;
  }
}
// Main
.media-main{
overflow:hidden;
margin:0 auto;
width:95%;
@include screen(desktop){
  width:75%;
  float:right;
}
&__box-left{
  display:none;
  @include screen(small){
    display:block;
    width:50%;
    float:left;
    max-height:280px;
    position: relative;
    height:30vw;
  }
  @include screen(tablet){
  height:25vw;
  }
  @include screen(desktop){
    height:17vw;
  }
  @include custom(1214px){
    width:55%;
  }
}
&__box-right{
  border:1px solid #e6e6e6;
  width:100%;
  float:left;
  height:87px;
  position: relative;
  @include screen(small){
    float:right;
    width:50%;
    height:30vw;
    max-height:280px;
    @include reming(padding-left,15px);
  }

  @include screen(tablet){
  height:25vw;
  }
  @include screen(desktop){
    height:17vw;
    width:45%;
  }
  @include custom(1214px){
    width:45%;
  }
}
}

.media-main__boxes{
  overflow:hidden;
  width:100%;
  &--wrapper{
    overflow:hidden;
    @include screen(extra){
      max-width:1280px;
    }
  }
}

.media-main{
overflow:hidden;
  &__box{
    overflow:hidden;
    margin:0 auto;
    margin-bottom:15px;
    width:100%;
    height:87px;
    @include screen(small){
      float:left;
      max-height:280px;
      width:100%;
      height:30vw;
    }
    @include screen(tablet){
    height:25vw;
    }
    @include screen(desktop){
      height:17vw;
    }
    @include custom(1214px){
      @include rowMachine(2,2%);
      height:17vw;
      float:left;
      max-height:280px;
    }
  }
  &__box:nth-child(even){
    background-color:#f2f2f2;
  }
  &__img{
    position: absolute;
    top:0;
    left:0;
    right:0;
    left:0;
    max-width:100%;
    height:auto;
    @include screen(desktop){
      max-height:280px;
      height:17vw;
    }
  }
  &__box-tag{
  @include font(12,semi-bold);
  @include reming(margin-bottom,10px);
  @include reming(padding,5px 0 5px 10px);
  border-bottom:1px solid #e6e6e6;
  @include screen(small){
    @include font(16,semi-bold);
    padding:0;
    @include reming(margin-top,10px);
    @include reming(margin-bottom,15px);
    border:none;
  }
  }
  &__box-title{
    @include font(14,bold);
    position: relative;
    @include reming(padding,0px 10px 0px 10px);
    @include screen(small){
      @include font(16,bold);
      @include reming(padding,0 0 10px 0);
      position: relative;
    }
    @include custom(1234px){
      @include font(20,bold);
    }
    &:after{
      @include screen(small){
        content:"";
        width:73px;
        position:absolute;
        bottom:0;
        left:0;
        border:2px solid $background-primary;
      }
    }
  }


  $line-height: 1.3;
  $lines-to-show: 2;

  &__box-text{
      display:none;
      @include screen(small){
        @include font(14,regular);
        $font-size: 14px;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include reming(margin-top,10px);
      }
      @include screen(tablet){
        $font-size: 16px;
        $line-height: 1.3;
        $lines-to-show: 3;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        display: -webkit-box;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        @include reming(margin-top,10px);
      }
      @include screen(laptop){
        $font-size: 18px;
        $line-height: 1.3;
        $lines-to-show: 2;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        display: -webkit-box;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        @include reming(margin-top,10px);
      }
    @include custom(1612px){
      $font-size: 18px;
      $line-height: 1.3;
      $lines-to-show: 4;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      display: -webkit-box;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      @include reming(margin-top,25px);
    }
  }
  &__box-details{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:30px;
  }
  &__box-date{
    @include font(12,regular);
    position:absolute;
    line-height:30px;
    left:10px;
    @include screen(small){
      left:15px;
    }
    @include screen(tablet){
        @include font(14,regular);
    }
  }
  &__box-link{
    background:url('../img/arrow-small-media.svg')no-repeat;
    background-size:cover;
    height:6px;
    width:26px;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    display:block;
    position:absolute;
  }
}


// To Download
// Wrappers
.download{
  width:100%;
  overflow:hidden;
  @include screen(tablet){
    float:right;
    width:75%;
  }
  &--wrapper{
    overflow:hidden;
    width:95%;
    margin:0 auto;
    @include screen(extra){
      max-width:1600px;
    }
  }
}
// Download Buttons
%standard-button{
  display:inline-block;
  width: 214px;
  height: 62px;
  line-height:62px;
  text-align:center;
  border:1px solid $background-primary;
  border-radius:30px;
  cursor:pointer;
  position: relative;
}
%standard-link{
  position: relative;
  @include font(14,regular);
  &:after{
    content:'';
    position: relative;
    top:2px;
    display: inline-block;
    width: 27px;
    height: 13px;
    right:-10px;
    background-image:url('../img/download-icon.png');
    background-size:cover;
}
}
.download{
  &__buttons--wrapper{
    text-align:center;
    @include screen(tablet){
      text-align:initial;
    }
  }
  &__media{
    display:inline-block;
    width: 214px;
    height: 62px;
    line-height:62px;
    text-align:center;
    border:1px solid $background-primary;
    border-radius:30px;
    cursor:pointer;
    position: relative;
    @include reming(margin-top,15px);
      @include screen(tablet){
        @include reming(margin-right,60px);
      }
  }
  &__media-link{
      position: relative;
      @include font(14,regular);
      &:after{
        content:'';
        position: relative;
        top:2px;
        display: inline-block;
        width: 27px;
        height: 13px;
        right:-10px;
        background-image:url('../img/download-icon.png');
        background-size:cover;
    }
}
}

// Main Content Intro Text
.download__intro{
  &-title{
      @include font(20,bold);
      @include reming(margin,0 0 20px 0);
    @include screen(tablet){
      @include reming(margin,80px 0 30px 0);
      @include font(48,bold);
    }
  }
  &-text{
    max-width:650px;
    line-height:1.4;
    @include font(14,regular);
    @include screen(tablet){
      @include font(18,regular);
        @include reming(margin-bottom,50px);
    }
  }
}
// Fast contact for mobile
.media{
  position: relative;
  &__big-circle{
    display:none;
      @include screen(large){
        display:block;
      }
      position:absolute;
      top:-100px;
      right:0;
      z-index:-1;
  }
  &__circle{
    display:none;
    @include screen(large){
      display:block;
    }
    position: absolute;
    top:140px;
    right:110px;
    width:210px;
    &-title{
      @include font(28,regular);
      @include reming(margin-bottom,10px);
    }
    &-name{
      @include font(22,semi-bold);
        @include reming(margin-bottom,15px);
    }
    &-email{
      @include font(18,medium);
      @include reming(margin-bottom,10px);
    }
    &-mobile{
      @include font(18,medium);
    }
    &-text{
      @include font(16,regular);
        @include reming(margin-top,15px);
        line-height:1.4;
    }
  }
}
.download__fast{
  max-width:650px;
  @include screen(large){
    display:none;
  }
  &-title{
    @include reming(margin-top,30px);
    @include font(20,regular);
    position: relative;
    display:inline-block;
    &:after{
      display:block;
      content:"";
      width:100%;
      position:absolute;
      z-index:-1;
      bottom:1px;
      left:0;
      border:5px solid $font-yellow;
    }
  }
  &-name{
    @include font(18,semi-bold);
    @include reming(margin-bottom,10px);
  }
  &-email{
    @include font(16,medium);
    @include reming(margin-bottom,5px);
  }
  &-mobile{
    @include font(16,medium);
    @include reming(margin-bottom,5px);
  }
  &-text{
    @include font(14,regular);
    line-height:1.4;
  }
}

// Fast contact for tablet +
// Rules of conducting research
.download__rules{
  &-title{
    @include reming(margin,50px 0 20px 0);
    @include font(20,bold);
    @include screen(tablet){
      @include reming(margin,60px 0 30px 0);
      @include font(48,bold);
    }
  }
  &-text{
    @include screen(tablet){
      @include font(18,regular);
      line-height:1.4;
        max-width:650px;
        @include reming(margin-bottom,50px);
    }
  }
  &-details{
    @include reming(margin-top,15px);
    height:auto;
    @include screen(tablet){
      @include reming(margin-top,45px);
    }
  }
  // Normal Link
  &-link{
    display:none;
    @include screen(tablet){
      display:inline-block;
      line-height:62px;
      margin-top:10px;
      position: relative;
      top:4px;
      @include font(32,light);
      color:$font-secondary;
    }
  }
  &-details__button{
    @extend %standard-button;
    @include reming(margin-left,50px);
  }
  // Button Link
  &-details__link{
    @extend %standard-link;
  }
}


// Experts
.download__experts{
  overflow:hidden;
  @include screen(tablet){
    @include reming(margin-bottom,415px);
  }
  &--wrapper{
    max-width:1600px;
  }
  &-title{
    @include font(20,bold);
      @include reming(margin,20px 0 20px 0);

    @include screen(tablet){
      @include reming(margin,90px 0 25px 0);
      @include font(48,bold);
    }
  }
  &-box{
    @include screen(desktop){
      @include rowMachine(3,1%);
      float:left;
    }
  }
  &-box--wrapper-first{
      height:220px;
    @include screen(small){
      height:200px;
    }
    @include custom(768px){
        height:260px;
    }
    @include custom(1033px){
      height:240px;
    }
    @include screen(desktop){
      height:300px;
    }
  }
  &-box--wrapper-middle{
      height:230px;
    @include screen(tablet){
      height:270px;
    }
    @include screen(desktop){
      height:300px;
    }
  }
    &-box--wrapper-last{
      height:200px;
      @include screen(tablet){
        height:235px;
      }
      @include screen(desktop){
        height:300px;
      }
    }
  &-image--wrapper{
    text-align:center;
    @include screen(tablet){
      text-align:initial;
    }
  }
  &-box__image{
    @include screen(tablet){
    }
  }
  &-box__name{
    @include screen(small){
      text-align:center;
    }
    @include screen(tablet){
      text-align:initial;
      @include font(24,semi-bold);
      color:$font-secondary;
      @include reming(margin,20px 0);
    }
    &--position{
      @include font(24,light);
      color:$font-secondary;
    }
  }
  &-box__email{
    position: relative;
    top:5px;
    @include screen(small){
      text-align:center;
    }
    @include screen(tablet){
      text-align:initial;
      top:15px;
    }
  }
  &-box__topics{
    @include screen(small){
      text-align:center;
    }
    @include screen(tablet){
      text-align:initial;
      @include font(18,regular);
      line-height:1.4;
    }
  }
  &-button--wrapper{
    text-align:center;
    @include screen(tablet){
      text-align:initial;
    }
  }
  &-box__button{
    @extend %standard-button;
    width:180px;
    display:inline-block;
  @include reming(margin-bottom,15px);
    @include screen(tablet){
        @include reming(margin-right,20px);
    }
  }
  &-box__button:last-child{
    @include reming(margin-bottom,65px);
  }
  &-box__button-link{
    @extend %standard-link;
  }
}
