/*Imported Components*/
@import "_base/_variables.scss";
@import "_base/_mixins.scss";
@import "_base/_functions.scss";
@import "_base/_rwd.scss";
@import "_base/_placeholders.scss";
@import "_base/_footer.scss";

/*General styling*/
*,
*:after,
*:before {
  box-sizing:border-box !important;

}

$background-primary:#53565a;
$background-secondary:#f2f2f2;
$border-primary:#E6E6E6;
$special-font:#ce0037;
$font-secondary:#53565A;
$font-yellow:#EEDC00;
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin-ext');

body,html{
  font-size:16px;
  font-family:"Hind","sans-serif";
  min-width:320px;

}


// Nav Wrapper
.navi__wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  float:left;
  overflow:hidden;
  height:112px;
}
//////////////////Navigation
.nav{
  display:none;
  @include screen(laptop){
    display:block;
  }
  float:left;
  height:112px;
  position:relative;
  @include reming(margin-left,20px);
  @include screen(tablet){

  }
  @include screen(extra){
      @include reming(margin-left,50px);
  }
  &__item{
    display:inline-block;
    @include screen(laptop){
      @include reming(padding-right,10px);
    }
    @include screen(laptop){
      @include reming(padding-right,15px);
    }
    @include screen(extra){
      @include reming(padding-right,25px);
    }
  }
  // /////////Navigation Link
  &__link{
    color:#53565A;
    line-height:112px;
    @include weight(medium);
    @include screen(small){
      @include rem(12px);
    }
    @include screen(tablet){
      @include font(13,medium);
    }
    @include screen(desktop){
      @include font(16,medium);
    }
    @include screen(extra){
      @include font(19,medium);
    }
  }
}


////////////////////////////////////////////////////////
//Header
.header{
  position:relative;
  &__logo{
    width:130px;
    margin-top:10px;
    margin-left:15px;
    @include screen(tablet){
      margin-left:0;
      width:200px;
      height:55px;
      float:left;
      margin-top:25px;
    }
  }
  // Navigation container
  &__navigation{
    height:65px;
    position:relative;
    border-bottom:1px solid #E6E6E6;
    @include reming(margin-bottom,25px);
    @include screen(tablet){
      @include reming(margin-bottom,0);
      border-bottom:none;
      height:112px;
    }
    &-search{
      position:absolute;
      top:50%;
      right:60px;
      transform:translateY(-50%);
      @include screen(desktop){
          right:80px;
      }
    }
    &-english{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      right:15px;
      @include screen(desktop){
      right:40px;
      }
      & h3{
      @include rem(20px);
      text-transform:uppercase;
      color:black;
      @include weight(semi-bold);
      }
    }
  }
  // Header Title For Subpages
  &__title{
    display:none;
    height:150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
    background: #596a72; /* Old browsers */
    background: -moz-linear-gradient(left,  #596a72 0%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
    @include screen(tablet){
      display:block;
      height:200px;
    }
    &-wrapper{
      width:95%;
      margin:0 auto;
      position:relative;
      overflow:hidden;
      height:150px;
      @include screen(tablet){
        width:95%;
        height:200px;
      }
      @include screen(extra){
        max-width:1600px;
      }
    }
    &-text{
      position:absolute;
      bottom:-6px;
      color:white;
      @include weight(light);
      @include rem(32px);
      @include screen(tablet){
        @include rem(48px);
      }
      @include screen(laptop){
        @include rem(70px);
      }
      @include screen(extra){
        @include rem(100px)
      }
    }
  }
}
