.b-article-text{
  position: relative;
  clear: both;
  margin-bottom: 35px;
  @include breakpoint('tablet'){
    width: 75%;
    margin: inherit;
    display: inline-block;
    margin-bottom: 35px;
  }
  ol{
    margin: 0 30px;
    li{
      list-style-position: outside;
      list-style-image: url(../images/arrow.png);
      p{
        margin-left: 5px;
      }
    }
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .b-personel{
    float: left;
    width: 100%;
    @include breakpoint('desktop_big'){
      margin-top: 15px;
    }
    &:nth-child(n+2) {
      margin-top: 40px;
    }
    &_image{
      display: inline-block;
      float: left;
      text-align: center;
      @include breakpoint('desktop_big'){
        width: 50%;
      }
      img{
        padding: 0 15px;
        box-sizing: border-box;
        margin: 15px 0;
        @include breakpoint('tablet'){
          padding: 0;
        }
        @include breakpoint('desktop_small'){
          max-width: 70%;
        }
        @include breakpoint('desktop_big'){
          max-width: 100%;
          margin: 0;
        }
      }
    }
    &_descr{
      display: inline-block;
      box-sizing: border-box;
      padding: 0 15px 0 30px;
      font-weight: 500;
      line-height: 35px;
      color: $cl-secondary;
      font-size: 18px;
      @include breakpoint('desktop_big'){
        width: 50%;
      }
    }
  }
  &_franchise{
	  .b-article-text_title{
		  h1{
			  position: relative;
			  &:after{
				  content: url(../images/header-heading-bg.png);
				  position: absolute;
			      top: -30px;
			      left: 0;
			      z-index: -1;
			  }
		  }
	  }
	  ul, ol{
		  li{
			  position: relative;
			  padding-left: 45px;
			  font-family: 'Roboto', sans-serif;
			  line-height: 30px;
		      font-weight: 400;
			  &::before{
				  content: url(../images/arrow.png);
				  position: absolute;
			      bottom: 0;
			      top: 0;
			      left: 0;
			  }
		  }
	  }
	  p{
		  margin: 0;
		  img{
			  padding: 0 15px 15px 15px;
			  box-sizing: border-box;
			  @include breakpoint('tablet'){
				  width: 50%;
				  padding: 0 12px 24px;
				  display: inline-block;
				  float: left;
				  clear: none;
			  }
			  @include breakpoint('desktop_small'){
				  width: 33.3%;
				  padding: 0 10px;
			  }
		  }
	  }
	  .b-franchise-info{
		  .boxes-wrapper{
			  .box{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				float: left;
				box-sizing: border-box;
				@include breakpoint('desktop_small'){
					width: 50%;
					height: 220px;
				}
				p{
					padding: 15px;
					font-size: 24px;
					font-family: 'Raleway', sans-serif;
					text-align: center;
					@include breakpoint('desktop_small'){
						text-align: left;
					}
					@include breakpoint('desktop_big'){
						margin-right: 60px;
					}
					@include breakpoint('desktop_colossal'){
						margin-right: 105px;
					}
				}
				&:first-of-type{
					border: 4px solid $cl-primary;
					background: $cl-white;
					p{
						font-weight: bold;
						text-transform: uppercase;
						color: $cl-primary;
						font-size: 28px;
						@include breakpoint('desktop_small'){
							line-height: 30px;
						}
					}
				}
				&:last-of-type{
					background: $cl-primary;
					display: grid;
					p{
						color: $cl-white;
						font-family: 'Roboto', sans-serif !important;
						font-weight: 400;
						span{
							font-weight: bold;
							font-family: 'Roboto', sans-serif !important;
							@include breakpoint('tablet'){
								font-size: 28px;
							}
							a{
								font-size: 24px;
								color: $cl-white;
								@include breakpoint('tablet'){
									font-size: 28px;
								}
							}
						}
						&:first-of-type{
							padding-bottom: 0;
						}
						&:last-of-type{
							padding-top: 0;
						}
					}
				}
			  }
		  }
	  }
  }
}
.franchise-bottom-img{
	width: 100%;
	position: relative;
	bottom: -9px;
	margin-top: -20px;
	@include breakpoint('tablet'){
		margin-top: -70px;
	}
}
body{
	&.page-template-template-franchise{
		&:after{
			@include breakpoint('desktop_small'){
				content: url(../images/franchise-flower.png);
				position: absolute;
				top: 220px;
			    right: -7.3%;
			    transform: scale(0.7);
			}
			@include breakpoint('desktop'){
				transform: scale(1);
				right: 0;
				top: 310px;
			}
		}
	}
}
