.b-benefits{
  clear: both;
  @include breakpoint('tablet'){
    width: 75%;
    margin: inherit;
    display: inline-block;
  }
  .m-benefits-box-wrapper{
    margin-top: 60px;
    .box{
      box-sizing: border-box;
      position: relative;
      display: table;
      margin: 0 15px;
      width: calc(100% - 30px);
      margin-bottom: 30px;
      &::before{
        content: '';
        height: 100%;
        width: 1px;
        background: $cl-primary;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
      &:nth-child(even){
        background: $cl-primary;
        border-right: 1px solid $cl-white;
      }
      &:last-child{
        margin-bottom: 80px;
        @include breakpoint('tablet'){
          margin-bottom: 50px;
        }
        @include breakpoint('desktop_small'){
          margin-bottom: 70px;
        }
        @include breakpoint('desktop'){
          margin-bottom: 100px;
        }
      }
      @include breakpoint('tablet'){
        margin: 0 0 50px;
        width: 50%;
        float: left;
      }
      @include breakpoint('desktop_small'){
        width: 33.3%;
        margin-bottom: 70px;
      }
      @include breakpoint('desktop'){
        width: 33.3%;
        margin-bottom: 100px;
      }
    }
  }
}
