#m-breadcrumbs{
  clear: both;
  margin-bottom: 50px;
  @include breakpoint('tablet'){
    width: 75%;
    margin: inherit;
    display: inline-block;
    margin-bottom: 50px;
  }
  span {
    padding: 2px 8px;
    &:first-child{
      position: relative;
      padding-left: 0;
    }
    &:nth-child(n+2){
      border-left: 1px solid $cl-primary;
    }
    a{
        padding: 2px 5px;
        padding-left: 28px;
        position: relative;
        &::after{
          content: "";
          background-image: url(../images/home-icon.png);
          height: 20px;
          width: 20px;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
    }
    span{
      span{
        a{
          padding-left: 0;
          &::after{
            display: none;
          }
        }
      }
    }
  }
}
