.m-btn,
.button {
  height: 38px;
  display: block;
  margin: 3px auto;
  border: 2px solid transparent;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.01em;
  font-size: 16px;
  min-width: 115px;
  padding-right: 38px;
  transition: .2s all;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  &::after{
    content: url(../images/arrow-icon.png);
    text-align: left;
    display: inline-block;
    background: $cl-primary;
    width: 38px;
    height: 42px;
    position: absolute;
    right: 0px;
    top: -2px;
  }
  @include breakpoint('tablet') {
    float: left;
    margin: 3px;
  }
  &_primary {
    background-color: $cl-white;
    border-color: $cl-primary;
    color: $cl-primary;
  }
  &_tertiary {
    background-color: $cl-primary;
    color: $cl-white;
    border: 2px solid $cl-primary;
    padding: 0;
    &::after{
      content: '';
    }
  }
}

.b-features, .b-posts{
  .m-features-box, .m-posts-box{
    .m-btn{
      &_primary{
        position: absolute;
        bottom: 10px;
        right: 20px;
        background: $cl-white;
        @include breakpoint('tablet'){
          background: $cl-primary;
        }
        @include breakpoint('desktop'){
          right: 10px;
        }
        @include breakpoint('desktop_big'){
          right: 20px;
        }
      }
    }
    &.m-features-box{
      .m-btn{
        &_primary{
          left: 20px;
          @include breakpoint('tablet'){
            background: transparent;
            border: 2px solid transparent;
            color: transparent;
          }
          @include breakpoint('desktop'){
            left: 10px;
          }
          @include breakpoint('desktop_big'){
            left: 20px;
          }
        }
        &::after{
          @include breakpoint('tablet'){
            background: transparent;
            transition: .3s all;
          }
        }
      }
      &:hover{
        .m-btn{
          border: 2px solid $cl-primary;
          color: $cl-primary;
          &::after{
            background: $cl-primary;
          }
        }
      }
      &:last-child{
        .m-btn{
          &_primary{
              border-color: $cl-white;
              color: $cl-white;
              background: $cl-primary;
              &::after{
                background: $cl-white;
                content: url(../images/arrow.png);
              }
          }
        }
      }
    }
    &:hover{
      .m-btn{
        background: $cl-white;
      }
    }
  }
}
.b-hero{
  .m-btn{
    margin-bottom: 35px;
    @include breakpoint('tablet'){
      float: right;
      width: 250px;
      margin-bottom: 45px;
    }
  }
}
.b-pos{
  .m-btn{
    &_tertiary{
      margin: 0 15px 30px;
      cursor: pointer;
      &::after{
        display: none;
      }
      @include breakpoint('tablet'){
        float: right;
        width: 152px;
      }
      @include breakpoint('desktop_small'){
        margin-bottom: 0;
      }
    }
  }
}

.b-product{
  .m-btn{
    &_primary{
      font-family: 'Raleway', sans-serif;
      background: $cl-primary;
      color: $cl-white;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 8px 15px;
      text-align: left;
      &::after{
        top: 4px;
      }
      @include breakpoint('tablet'){
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
      }
      @include breakpoint('desktop_small'){
        bottom: 0;
        font-size: 20px;
      }
      @include breakpoint('desktop_big'){
        padding: 18px 26px;
        font-size: 24px;
        &::after{
          top: 14px;
        }
      }
    }
  }
}

.b-sidebar-product{
  .m-btn{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 15px;
    background: transparent;
  }
}

.b-nav-arrows{
  .m-btn{
    margin: 0 auto 15px;
    font-weight: 400;
    &_tertiary{
      width: 154px;
      padding-right: 30px;
      @include breakpoint('phone'){
        float: right;
      }
      &::after{
        content: url(../images/arrow-icon.png);
        text-align: center;
      }
    }
    &:first-child{
      padding: 0 0 0 30px;
      @include breakpoint('phone'){
        float: left;
      }
      &::after{
        left: 0;
        transform: scaleX(-1);
        text-align: inherit;
      }
    }
  }
}

.b-six-boxes, .b-four-boxes, .b-article-text{
  .m-btn{
    margin: 0 auto;
    &_tertiary{
      width: 144px;
      padding-right: 40px;
      &::after{
        content: url(../images/arrow-icon.png);
      }
      @include breakpoint('tablet'){
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &.b-article-text{
    .m-btn{
      &_tertiary{
        margin-bottom: 30px;
        @include breakpoint('tablet'){
          margin-bottom: 0;
          top: -42px;
        }
      }
    }
  }
  &.b-four-boxes{
    .box{
      .m-btn{
        background: $cl-tertiary;
        border-color: $cl-tertiary;
        color: $cl-primary;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        margin-bottom: 2px;
        width: auto;
        text-align: left;
        padding-left: 15px;
        &::after{
          content: url(../images/arrow.png);
          filter: invert(1);
          background: #000;
          top: 0;
          width: 34px;
          padding-left: 15px;
        }
        @include breakpoint('tablet'){
          position: relative;
          width: -webkit-fill-available;
        }
        &_personel{
          background: $cl-primary;
          border: $cl-primary;
          color: $cl-white;
          text-align: left;
          padding: 23px;
          font-size: 22px;
          cursor: pointer;
          margin-bottom: 0;
          font-weight: 700;
          @include breakpoint('desktop_small'){
            font-size: 16px;
            letter-spacing: -0.1px;
          }
          @include breakpoint('desktop'){
            font-size: 19px;
          }
          @include breakpoint('desktop_big'){
            font-size: 22px;
          }
          &::after{
            filter: invert(0);
            background: transparent;
            content: url(../images/arrow-icon.png);
            top: 18px;
            right: 10px;
          }
        }
      }
      &:nth-child(1){
        .m-btn{
          background: $cl-orange;
          color: $cl-white;
          border-color: $cl-orange;
          padding: 4px 0 0 5px;
        }
      }
      &:nth-child(2){
        .m-btn{
          background: $cl-primary;
          border: $cl-primary;
          color: $cl-white;
          text-align: center;
          padding: 23px;
          font-size: 22px;
          cursor: pointer;
          margin-bottom: 0;
          font-weight: 700;
          @include breakpoint('desktop_small'){
            font-size: 16px;
            letter-spacing: -0.1px;
          }
          @include breakpoint('desktop'){
            font-size: 19px;
          }
          @include breakpoint('desktop_big'){
            font-size: 22px;
          }
          &::after{
            display: none;
          }
        }
      }
      &_contact{
        .m-btn{
          opacity: 0;
          transition: 1.2s all;
          background: $cl-white;
          border: $cl-white;
          color: $cl-primary;
          cursor: pointer;
          padding-right: 0;
          @include breakpoint('tablet'){
            bottom: 35px;
            left: 0;
            top: auto;
          }
          @include breakpoint('desktop_small'){
            bottom: 95px;
          }
          @include breakpoint('desktop'){
            bottom: 115px;
          }
        }
      }
    }
  }
}

.b-mosaic{
  .m-btn{
    &_primary{
      position: absolute;
      right: 0;
      bottom: 0;
      background: transparent;
      font-weight: 400;
      z-index: 3;
      border-color: transparent;
      color: transparent;
      transition: 0.2s all;
      right: 5px;
      bottom: 5px;
      left: 5px;
      &::after{
        background: transparent;
        transition: 0.2s all;
      }
    }
  }
  .box{
    &:hover{
      .m-btn{
        &_primary{
          color: $cl-primary;
          border-color: $cl-primary;
          &::after{
            background: $cl-primary;
          }
        }
      }
    }
  }
}

.b-footer{
  .m-btn{
    &_primary{
      cursor: pointer;
      margin: 0;
      min-width: 135px;
      padding: 0;
      color: $cl-dark-primary;
      height: 40px;
    }
  }
}
