
.b-collapse {
  height: 0;
  overflow: hidden;
  transition: all .4s;
  opacity: 0;
  padding-left: 15px;
  @include breakpoint('desktop_small'){
    height: auto;
    overflow: visible;
    opacity: 1;
    padding-left: 0;
  }
  &.is-open {
    opacity: 1;
    height: 200px;
    overflow: visible;
    @include breakpoint('desktop_small'){
      height: auto;
    }
  }
}
.b-columns-3 {
  &:first-child {
    .b-collapse {
      &.is-open {
        height: 240px;
      }
    }
  }
}
