.b-features{
  clear: both;
  @include breakpoint('desktop'){
    height: 432px;
  }
  @include breakpoint('desktop_big'){
    text-align: center;
  }
  &_boxes{
    @include breakpoint('tablet_big'){
      width: 85%;
      margin: 0 auto;
    }
    @include breakpoint('desktop'){
      width: 98%;
    }
    @include breakpoint('desktop_big'){
      width: 100%;
      display: inline-block;
    }
        .m-features-box{
          height: 410px;
          position: relative;
          box-sizing: border-box;
          padding: 18px;
          transition: .3s all;
          margin: 10px 0;
          background: $cl-white;
          background-size: cover;
          background-position: center;
          position: relative;
          width: 100%;
          @include breakpoint('tablet'){
           margin: 0;
           float: left;
           height: 320px;
          }
          @include breakpoint('tablet_big'){
            width: calc(50% - 5px);
            &:nth-child(-n+2){
              margin-bottom: 10px;
            }
            &:nth-child(even){
              margin-left: 5px;
            }
            &:nth-child(odd){
              margin-right: 5px;
            }
          }
          @include breakpoint('desktop'){
           width: calc(25% - 5px);
           height: 432px;
           margin: 0 2.5px;
           &:first-child{
             margin: 0 2.5px 0 0;
           }
           &:last-child{
             margin: 0 0 0 2.5px;
           }
          }
          @include breakpoint('desktop_big'){
            text-align: left;
            width: calc(25% - 20px);
            margin: 0 10px;
            &:nth-child(even), &:nth-child(odd){
              margin: 0 10px;
            }
          }
          &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $cl-primary;
            opacity: .6;
            z-index: 2;
            visibility: visible;
            transition: .2s all;
          }
          &:hover{
            transition: .3s all;
            background-image: none;
            &::after{
              opacity: 0;
              visibility: hidden;
            }
            .m-features-layer{
              @include breakpoint('tablet'){
                background: $cl-white;
                transition: .2s all;
              }
            }
          }
          .m-features-layer{
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            bottom: 0;
            background: $cl-white;
            box-sizing: border-box;
            padding: 15px;
            width: 100%;
            @include breakpoint('tablet'){
              background: none;
              transition: .7s all;
            }
          }
          &:last-child{
            .m-features-layer{
              background: $cl-primary;
            }
          }
        }

  }
}
