.b-product{
  position: relative;
  background-color: $cl-bright-primary;
  &_title{
    padding-top: 40px;
    @include breakpoint('desktop_small'){
      padding-top: 35px;
    }
  }
  .b-box_wrapper{
    .b-box{
      text-align: center;
      margin: 0 15px;
      margin-bottom: 20px;
      @include breakpoint('tablet'){
        margin-bottom: 30px;
      }
      @include breakpoint('desktop_small'){
        margin-bottom: 0;
        width: 70%;
        display: inline-block;
        padding: 10px 0 60px;
        text-align: center;
      }
      .product-img{
        width: 80%;
        @include breakpoint('desktop_small'){
          position: relative;
          bottom: 40px;
        }
        @include breakpoint('desktop'){
          width: 70%;
          bottom: 50px;
        }
      }
    }
    .two-boxes{
      padding-bottom: 30px;
      @include breakpoint('desktop_small'){
        padding-bottom: 0;
        width: 20%;
        display: inline-block;
        float: right;
        position: absolute;
        right: 60px;
        top: 0;
        bottom: 0;
      }
      @include breakpoint('desktop'){
        right: 115px;
      }
      .b-box{
        text-align: left;
        background: $cl-white;
        @include breakpoint('tablet'){
          margin-bottom: 120px;
          width: calc(50% - 25px);
          display: inline-block;
          position: relative;
          &:nth-child(1){
            margin-right: 7.5px;
            @include breakpoint('desktop_small'){
              margin: 0 0 20px;
            }
          }
          &:nth-child(2){
            margin-left: 7.5px;
            @include breakpoint('desktop_small'){
              margin: 20px 0 0;
            }
          }
        }
        @include breakpoint('desktop_small'){
          display: block;
          padding: 0;
          width: 100%;
          text-align: left;
          height: calc(50% - 10px);
        }
        @include breakpoint('desktop'){
          max-width: 320px;
        }
        .product-img{
          width: 100%;
          padding: 70px 0;
          position: static;
          @include breakpoint('tablet'){
            padding-bottom: 30px;
          }
          @include breakpoint('desktop_small'){
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}
