.b-four-boxes{
  width: 100%;
  .boxes-row-wrapper{
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
    @include breakpoint('tablet'){
      text-align: center;
      margin-bottom: 80px;
    }
    .box{
      height: 425px;
      margin: 40px 15px;
      vertical-align: top;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      @include breakpoint('tablet'){
        margin: 0 15px;
        width: 40%;
        display: inline-block;
        text-align: left;
        margin-bottom: 30px;
      }
      @include breakpoint('desktop_small'){
        float: left;
        width: calc(25% - 30px);
        margin-bottom: 0;
      }
      .text-wrapper, .btn-wrapper{
        margin-top: 40px;
        @include breakpoint('tablet'){
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
        &.text-wrapper{
          border: 2px solid $cl-primary;
          padding: 10px 20px;
          clear: both;
          @include breakpoint('desktop_small'){
            padding: 0 20px;
          }
          @include breakpoint('desktop_big'){
            padding: 10px 20px;
          }
        }
        &.btn-wrapper{
          &.personel{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
      &:nth-child(2){
        @include breakpoint('tablet'){
          padding-top: 112px;
          box-sizing: border-box;
        }
      }
      &:nth-child(n+3){
        @include breakpoint('desktop_small'){
          margin-right: 0;
          margin-left: 10px;
          width: calc(25% - 10px);
        }
        &:nth-child(4){
          @include breakpoint('desktop_small'){
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
      &_contact{
        background: $cl-primary;
        margin: 0 15px;
        position: absolute;
        right: 0;
        left: 0;
        top: 50.7%;
        transition: .6s all;
        opacity: 0;
        visibility: hidden;
        @include breakpoint('tablet'){
          top: 32%;
          left: 50%;
          right: 6%;
          bottom: 53%;
        }
        @include breakpoint('desktop_small'){
          left: 26%;
          right: 50%;
          top: 425px;
          bottom: auto;
        }
        @include breakpoint('desktop'){
          left: 26%;
          right: 50%;
          top: 425px;
        }
        .m-btn{
          visibility: hidden;
          opacity: 0;
        }
        &.active{
          opacity: 1;
          visibility: visible;
          bottom: 4.6%;
          top: 32.3%;
          @include breakpoint('tablet'){
            bottom: 53.3%;
            top: 12.3%;
            right: 45px;
            left: 45px;
          }
          @include breakpoint('desktop_small'){
            margin: 0;
            top: 0;
            right: 51.4%;
            bottom: 0;
            left: 0;
          }
          @include breakpoint('desktop'){
            right: 50.9%;
          }
          .m-typo{
            opacity: 1;
          }
          .m-btn{
            visibility: visible;
            opacity: 1;
          }
          .m-form {
            &_input {
              transition: 1.2s all;
              opacity: 1;
            }
          }
        }
        .m-form {
          &_input {
            margin: 0 auto;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $cl-tertiary;
            display: block;
            width: 100%;
            max-width: 240px;
            padding: 5px 0;
            margin-bottom: 15px;
            color: $cl-white;
            font-size: 14px;
            font-family: 'Roboto Condensed', sans-serif;
            opacity: 0;
            @include breakpoint('tablet'){
              max-width: calc(50% - 30px);
              &:nth-child(-n+2){
                display: inline-block;
                margin-bottom: 30px;
              }
              &:nth-child(1){
                @include breakpoint('tablet'){
                  margin-right: 15px
                }
              }
              &:nth-child(2){
                @include breakpoint('tablet'){
                  margin-left: 15px
                }
              }
            }
            &::placeholder {
              color: $cl-quaternary;
            }
            &:focus {
              outline: 0;
            }
            &.wpcf7-not-valid{
                border-bottom: 1px solid red;
            }
          }
        }
      }
    }
    &:nth-child(n+2){
      .box{
        &:nth-child(2){
          @include breakpoint('tablet'){
            padding-top: 0;
          }
        }
      }
    }
    .close{
      height: 40px;
      width: 40px;
      border: 1px solid $cl-white;
      display: table;
      margin: 8px auto 0;
      cursor: pointer;
      @include breakpoint('tablet'){
        float: right;
        margin: auto;
        position: relative;
        right: 15px;
        bottom: 15px;
      }
      @include breakpoint('desktop_small'){
        margin: 70px auto 0;
        float: none;
        position: static;
      }
      @include breakpoint('desktop'){
        margin: 95px auto 0;
      }
      &::after{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        content: "\00d7";
        font-size: 45px;
        color: #fff;
      }
    }
  }
}
.b-posHome{
  .b-four-boxes{
    clear: both;
    .boxes-row-wrapper{
      .box{
        &_contact{
          &.active{
            top: 26%;
            @include breakpoint('tablet'){
              top: 12.3%;
            }
            @include breakpoint('desktop_small'){
              top: 0;
            }
          }
        }
      }
    }
  }
}
