.b-hero{
  &_header{
    padding-bottom: 60px;
    height: 125px;
    @include breakpoint('tablet'){
      height: 222px;
    }
    .nav-icon{
      background: #ff9000;
      display: inline-block;
      padding: 18px 10px;
      position: absolute;
      right: 55px;
      width: 135px;
      text-align: center;
      z-index: 2;
      transition: .3s all;
      @include breakpoint('desktop_small'){
        display: none;
      }
      &.reduced{
        padding: 23px 10px;
        @include breakpoint('tablet'){
          padding: 28px 10px;
        }
      }
      .contact-icon{
        height: 22px;
        float: left;
        padding-right: 5px;
      }
    }
  }
  &_nav-wrapper{
    &::after{
      content: '';
      height: 70px;
      width: 100%;
      background: $cl-white;
      border-bottom: 1px solid $cl-gray;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      transition: .3s all;
      opacity: 0;
      @include breakpoint('tablet'){
        height: 80px;
      }
    }
    &.reduced{
      position: fixed;
      right: 0;
      left: 0;
      max-width: 1570px;
      margin: 0 auto;
      height: 70px;
      z-index: 20;
      @include breakpoint('tablet'){
        height: 80px;
      }
      @include breakpoint('desktop_small'){
        right: 5%;
        left: 5%;
      }
      &::after{
        opacity: 1;
      }
    }
  }
  &-wrapper_heading{
    float: left;
    width: 100%;
    @include breakpoint('tablet'){
      padding-bottom: 40px;
      position: relative;
      overflow: hidden;
      &::after{
        content: url(../images/header-img.png);
        display: block;
        position: absolute;
        top: 0;
        right: -400px;
      }
    }
    @include breakpoint('desktop_small'){
      overflow: hidden;
      right: 5%;
      width: 110%;
      &::after{
        right: -270px;
      }
    }
    @include breakpoint('desktop'){
      overflow: visible;
      width: 100%;
      right: 0;
      &::after{
        right: -140px;
      }
    }
    @include breakpoint('desktop_big'){
      &::after{
        right: -50px;
      }
    }
    .b-hero-heading{
      width: 100%;
      float: left;
      padding: 60px 15px;
      box-sizing: border-box;
      @include breakpoint('tablet'){
        padding: 60px 0 100px;
        position: relative;
        width: 55%;
      }
      @include breakpoint('desktop_small'){
        padding: 10px 0 90px;
        width: 45%;
        left: 4.5%;
      }
      @include breakpoint('desktop'){
        left: 0;
      }
      @include breakpoint('desktop_big'){
        margin: 0;
        width: 42%;
      }
      .heading-box{
        display: inline-block;
        float: right;
        background-repeat: no-repeat;
        background-position-x: 40px;
        clear: both;
        padding: 25px 0;
        position: relative;
        z-index: 2;
        &::after{
          position: absolute;
          top: -5px;
          left: 30px;
          z-index: -1;
        }
        &:first-child{
          &::after{
            content: url(../images/header-heading-bg1.png);
          }
        }
        &:nth-child(2){
          float: left;
          &::after{
            content: url(../images/header-heading-bg.png);
          }
        }
        &:last-child{
          &::after{
            content: url(../images/header-heading-bg2.png);
          }
        }
        @include breakpoint('tablet'){
          text-align: right;
          &:nth-child(2){
            text-align: left;
            margin-left: 0;
          }
        }
        @include breakpoint('desktop_small'){
          padding: 30px 0;
          float: none;
          text-align: left;
          display: block;
          &:nth-child(odd){
            position: relative;
            left: 50.4%;
          }
        }
        @include breakpoint('desktop'){
          &:nth-child(odd){
            left: 55.4%;
          }
        }
        @include breakpoint('desktop_big'){
          &:nth-child(odd){
            left: 59.4%;
          }
        }
      }
    }
  }
  &-wrapper_about{
    float: left;
    @include breakpoint('desktop_small'){
      position: relative;
      &::after{
        content: url(../images/about-hero3.png);
        display: block;
        position: absolute;
        bottom: -108px;
        left: -90px;
      }
    }
    @include breakpoint('desktop_big'){
      &::after{
        left: -6%;
        bottom: -148px;
        transform: scale(1.1);
      }
    }
    @include breakpoint('desktop_colossal'){
      &::after{
        left: -16%;
        bottom: -148px;
      }
    }
    .box-about{
      margin: 0 15px;
      @include breakpoint('desktop_small'){
        margin: 0;
        width: 50%;
        float: right;
      }
      &_title{
        margin-left: -15px;
        margin-right: -15px;
        @include breakpoint('desktop_small'){
          margin: 0;
        }
      }
      &_text{
        // margin: 0 15px;
        @include breakpoint('tablet'){
          margin: 0 60px;
        }
      }
    }
  }
}
