.b-knowledge-zone{
  position: relative;
  float: left;
  background: url(../images/knowledge-zone.png);
  background-size: cover;
  @include breakpoint('desktop_big'){
    float: none;
  }
}
.b-knowledgeZone{
  .b-knowledge-zone{
    @include breakpoint('desktop_big'){
      float: left;
    }
  }
}
