.m-lines {
	display: none;
	@include breakpoint('desktop_small') {
		margin: 0 5%;
		display: block;
		max-width: 1570px;
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	@include breakpoint('desktop_colossal'){
		margin: 0 auto;
	}
	&_single {
		width: 1px;
		background-color: $cl-gray;
		height: 100vh;
		position: absolute;
		transform: translateX(-1px);
		&:first-child {
			left: 0;
			// left: 5%;
		}
		&:nth-child(2) {
			left: 25%;
			// left: 27.5%;
		}
		&:nth-child(3) {
			// left: 50%;
			left: 50%;
		}
		&:nth-child(4) {
			left: 75%;
			// left: 72.5%;
		}
		&:nth-child(5) {
			right: 0;
			// right: 5%;
		}
	}
}
