.m-logo{
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-height: 220px;
  transition: .3s all;
  .logo-img{
    width: 35%;
    margin: 0 0 0 15px;
    transition: .3s all;
    top: 0;
    // @include breakpoint('tablet'){
    //   // width: 70%;
    // }
    @include breakpoint('desktop_small'){
      width: 100%;
      margin: 0;
    }
  }
  &.reduced{
    max-height: 35px;
    top: 20px;
    @include breakpoint('tablet'){
      max-height: 81px;
      top: 0;
    }
    @include breakpoint('desktop_small'){
      max-height: 82px;
    }
    .logo-img{
      width: 50%;
      position: relative;
      top: -87px;
      @include breakpoint('tablet'){
        top: 0;
      }
      @include breakpoint('desktop_small'){
        width: 50.8%;
      }
      @include breakpoint('desktop_big'){
        width: 51%;
      }
    }
  }
}
