.b-hero_header{
  .m-menu {
    transition: .3s all;
    float: right;
    display: none;
    @include breakpoint('desktop_small') {
      display: block;
      margin-top: 55px;
      &.reduced{
        margin-top: 25px;
      }
    }
    @include breakpoint('desktop_big'){
      margin-right: 0;
    }
    &_item {
      display: inline-block;
      transition: border .3s;
      position: relative;
      z-index: 1000;
      .m-menu_sub-menu {
        position: absolute;
        background-color: $cl-grayEB;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: .3s max-height;
        z-index: 100000;
        &_item {
  	      border-bottom: 1px solid $cl-white;
  	      &:last-child {
  	      	border-bottom: 0;
  	      }
        }
        &_url {
          display: block;
          min-width: 200px;
          padding: 6px 20px;
          color: $cl-primary;
          font-size: 16px;
      		line-height: 30px;
      		letter-spacing: 0.015em;
      		font-weight: 300;
      		font-family: 'Roboto Condensed', sans-serif;
        }
      }
      &:hover {
  		&_url {

  		}
        .m-menu_sub-menu {
          @include breakpoint('desktop_small') {
            max-height: 250px;
          }
          &_url {
            transition: .2s all;
            &:hover {
              background-color: $cl-dark-primary;
              color: $cl-white;
            }
          }
        }
        .m-menu_url {
          color: $cl-white;
          			&::before {
  				width: 100%;
  			}
        }
      }
    }
    &_url {
      color: $cl-primary;
      transition: color .3s;
      font-size: 18px;
      line-height: 40px;
      letter-spacing: 0.015em;
      font-weight: 300;
      font-family: 'Roboto Condensed', sans-serif;
      position: relative;
      padding: 0 40px;
      z-index: 10;
      transition: .3s all;
      @include breakpoint('desktop_small'){
        padding: 0 9px;
        font-size: 15px;
      }
      @include breakpoint('desktop'){
        padding: 0 14px;
        font-size: 18px;
      }
      @include breakpoint('desktop_big'){
        padding: 0 30px 0 25px;
      }
      &::before {
      	content: '';
      	display: block;
      	height: 40px;
      	width: 3px;
      	background-color: $cl-primary;
      	position: absolute;
      	left: 0;
      	z-index: -5;
      	transition: .3s width;
      }
    }
    &:first-child {
  	.m-menu_url {
  		&::before {
  			background-color: transparent;
  		}
  	}
   }
  }
  .m-menu__item--is-last {
  	background-color: $cl-orange;
  	.m-menu_url {
  		color: $cl-white;
      padding-left: 15px;
  		padding-right: 15px;
      &::before{
        background-color: $cl-orange;
      }
  	}
  }
  .m-menu__item--social {
  	background-color: $cl-primary;
    background-image: url(../images/facebook-icon.svg);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  	.m-menu_url {
      color: transparent;
      font-size: 17px;
      padding: 10px 10px;
  	}
    &:hover{
      .m-menu_url{
        color: transparent;
        &::before{
          width: 0;
        }
      }
    }
  }
  .m-mobile {
    .m-menu {
      min-width: 320px;
      display: block;
      float: none;
      margin-top: 0;
      &_item,
      &_url {
        display: block;
        text-align: center;
        &:hover {
          color: $cl-primary;
        }
      }
      &_url {
        padding: 5px 0;
      }
    }
  }
    .m-burger {
      cursor: pointer;
      position: absolute;
      margin: 0;
      z-index: 1;
      top: 25px;
      right: 15px;
      opacity: 1;
      transition: opacity .2s;
      transition: .3s all;
      &::after{
        content: '';
        height: 65px;
        width: 45px;
        background: $cl-primary;
        z-index: -1;
        display: block;
        position: absolute;
        top: -30px;
        right: -10px;
        transition: .3s all;
      }
      @include breakpoint('desktop_small'){
        display: none;
      }
      &.reduced{
        top: 30px;
        @include breakpoint('tablet'){
          top: 34px;
        }
        &::after{
          height: 70px;
          @include breakpoint('tablet'){
            height: 80px;
            top: -34px;
          }
        }
      }
      &.is-open {
        .m-burger {
          opacity: 1;
        }
      }
    }
  }
  .m-burger {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: 25px;
    right: 15px;
    opacity: 1;
    transition: opacity .2s;
    &.is-open {
      .m-burger {
        opacity: 1;
      }
    }
    &_item {
      display: block;
      float: right;
      clear: both;
      width: 25px;
      height: 2px;
      background-color: $cl-white;
      margin-bottom: 4px;
      &:nth-child(2) {
        width: 18px;
      }
      &:last-child {
        width: 22px;
      }
    }
    &.is-close{
      .m-burger_item{
        background-color: $cl-white;
      }
    }
  }
  .m-mobile {
  background-color: $cl-primary;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
  min-height: 568px;
  width: 0;
  overflow: hidden;
  transition: width .2s;
  &.is-open {
    width: 100%;
  }
  .m-burger{
    &.reduced{
      top: 35px;
    }
  }
}
