.b-footer {
  .b-columns-2{
    display: inline-block;
    vertical-align: top;
    .m-menu {
      margin: 0;
      display: block;
      &_item {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
      }
      &_url {
        font-size: 13px;
        font-weight: 400;
        color: $cl-white;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}
