.b-mosaic{
  float: left;
  padding-top: 60px;
  width: 100%;
  .mosaic-boxes-wrapper{
    .box{
      background: $cl-primary;
      margin: 0 15px 15px;
      height: auto;
      min-height: 150px;
      position: relative;
      background-position: center;
      background-size: cover;
      @include breakpoint('tablet'){
        width: calc(50% - 30px);
        display: inline-block;
        float: left;
        min-height: 440px;
      }
      @include breakpoint('tablet_big'){
        min-height: 385px;
      }
      @include breakpoint('desktop_small'){
        margin-bottom: 80px;
      }
      @include breakpoint('desktop'){
        width: calc(33.3% - 30px);
        margin-bottom: 110px;
        min-height: 500px;
      }
      @include breakpoint('desktop_big'){
        min-height: 405px;
      }
      @include breakpoint('desktop_colossal'){
        min-height: 325px;
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $cl-primary;
        opacity: .6;
        z-index: 2;
        visibility: visible;
        transition: .2s all;
      }
      &:hover{
        &::after{
          opacity: 1;
          background: $cl-white;
        }
      }
    }
  }
  &_contact{
    .mosaic-boxes-wrapper{
      .box{
        background: transparent;
        @include breakpoint('tablet'){
          min-height: 200px;
        }
        @include breakpoint('desktop'){
          width: 28%;
        }
        @include breakpoint('desktop_big'){
          width: 23%;
        }
        &:nth-child(3n+4){
          @include breakpoint('desktop_big'){
            clear: left;
          }
        }
        &::after{
          content: none;
        }
      }
    }
  }
}

.b-knowledgeZone{
  .b-mosaic{
    .mosaic-boxes-wrapper{
      .box{
        height: auto;
        min-height: 260px;
        @include breakpoint('tablet'){
          height: 310px;
          min-height: 0;
        }
        @include breakpoint('desktop_small'){
          height: 280px;
        }
      }
    }
  }
}
