.m-newsletter{
  .m-form {
    &_input {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid $cl-white;
      display: block;
      width: 100%;
      max-width: 250px;
      padding: 5px 0;
      margin-bottom: 15px;
      color: $cl-white;
      font-size: 12px;
      @include breakpoint('desktop') {
        max-width: 300px;
      }
      &::placeholder {
        color: $cl-primary;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}
