.b-partners{
  float: left;
  padding: 5px 0 30px;
  @include breakpoint('desktop_small'){
    padding: 15px 0 100px;
  }
  @include breakpoint('desktop_big'){
    float: inherit;
  }
  &_title{
    text-align: center;
    margin-top: 50px;
    .m-partners-title-box{
      background: $cl-primary;
      display: inline-block;
      margin-bottom: 35px;
    }
  }
  &_wrapper{
    text-align: center;
    .m-partners-box{
      display: inline-block;
      &_logo{
        margin: 0 auto;
        max-width: 230px;
        display: inline-block;
        vertical-align: sub;
        @include breakpoint('phone'){
          max-width: none;
          top: 8px;
          position: relative;
          vertical-align: inherit;
        }
      }
    }
  }
  .m-partners{
    &_prev,
    &_next {
      cursor: pointer;
      position: relative;
      width: 38px;
      height: 38px;
      background-color: $cl-primary;
      float: left;
      margin-right: 1px;
      top: -54px;
      display: inline-block;
      &::after {
        content: url(../images/arrow-icon.png);
        width: 100%;
        position: absolute;
        top: 7px;
      }
    }
    &_next{
      float: right;
      @include breakpoint('phone'){
        margin-right: 15px;
      }
      @include breakpoint('desktop_big'){
        margin-right: 0;
      }
    }
    &_prev{
      transform: rotate(180deg);
      @include breakpoint('phone'){
        margin-left: 15px;
      }
      @include breakpoint('desktop_big'){
        margin-left: 0;
      }
    }
  }
}
