
.b-posts{
  float: left;
  @include breakpoint('desktop'){
    height: auto;
  }
  @include breakpoint('desktop_big'){
    text-align: center;
    float: inherit;
  }
  &_title{
    padding-top: 35px;
  }
  &_boxes{
    margin-top: 30px;
    @include breakpoint('tablet_big'){
      width: 85%;
      margin: 0 auto;
    }
    @include breakpoint('desktop'){
      width: 95%;
      margin-top: 50px;
    }
    @include breakpoint('desktop_big'){
      width: 100%;
      display: inline-block;
    }
    .m-posts-box{
      background: $cl-white;
      height: 410px;
      position: relative;
      box-sizing: border-box;
      padding: 18px;
      transition: .3s all;
      margin: 10px 0;
      @include breakpoint('tablet'){
       margin: 0;
       float: left;
       height: 300px;
       background: $cl-primary;
       width: 100%;
      }
      @include breakpoint('tablet_big'){
        height: 360px;
        width: calc(50% - 5px);
        &:nth-child(-n+2){
          margin-bottom: 10px;
        }
        &:nth-child(even){
          margin-left: 5px;
        }
        &:nth-child(odd){
          margin-right: 5px;
        }
      }
      @include breakpoint('desktop'){
       width: calc(25% - 5px);
       height: 510px;
       margin: 0 2.5px;
       &:first-child{
         margin: 0 2.5px 0 0;
       }
       &:last-child{
         margin: 0 0 0 2.5px;
       }
      }
      @include breakpoint('desktop_big'){
        height: 432px;
        text-align: left;
        width: calc(25% - 20px);
        margin: 0 10px;
        &:nth-child(even), &:nth-child(odd){
          margin: 0 10px;
        }
      }
      &:hover{
        transition: .3s all;
        background: $cl-white;
        .m-posts-layer{
          &_icon{
            filter: none;
            @include breakpoint('desktop'){
              opacity: 0;
              visibility: hidden;
            }
            @include breakpoint('desktop_big'){
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .m-posts-layer{
        &_icon{
          max-height: 89px;
          max-width: 82px;
          filter: none;
          position: absolute;
          bottom: 10px;
          transition: .3s all;
          @include breakpoint('tablet'){
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}
