.b-pos{
  clear: both;
  padding-top: 90px;
  position: relative;
  @include breakpoint('desktop_small'){
    padding-top: 120px;
    height: 500px;
  }
  @include breakpoint('desktop'){
    height: 605px;
  }
  .m-pos_select-wrapper{
    &::after{
      content: "";
      background-image: url(../images/pos-image2.png);
      background-size: contain;
      display: inline-block;
      width: 100%;
      height: 280px;
      background-repeat: no-repeat;
      background-position: center;
      @include breakpoint('tablet'){
        position: absolute;
        right: 35px;
        top: 120px;
        width: 280px;
        height: 310px;
      }
      @include breakpoint('desktop_small'){
        width: 480px;
        height: 420px;
      }
      @include breakpoint('desktop'){
        width: 625px;
        height: 540px;
        top: 75px;
      }
    }
    margin: 30px 0 30px;
    @include breakpoint('tablet'){
      margin: 78px 15px 0;
      max-width: 390px;
    }
    .m-pos_select-box{
      width: calc(100% - 30px);
      height: 60px;
      margin: 0 15px;
      border: 2px solid $cl-primary;
      padding-left: 25px;
      background: url(../images/select-bg.png) no-repeat right;
      -webkit-appearance: none;
      margin-bottom: 15px;
      &::after{
        content: url(../images/arrow-icon.png);
        text-align: left;
        display: inline-block;
        background: $cl-primary;
        width: 38px;
        height: 38px;
        position: absolute;
        right: 0px;
        top: 0;
      }
      @include breakpoint('tablet'){
        max-width: 360px;
        margin-bottom: 25px;
      }
      .m-pos_select_item{
        &:hover{
          color: $cl-white;
          background: $cl-primary;
        }
      }
    }
  }
  .pos-img{
    width: 90%;
    display: block;
    margin: 35px auto;
    max-width: 400px;
    @include breakpoint('tablet'){
      max-width: none;
      width: 40%;
      display: inline-block;
      float: right;
      margin-right: 30px;
      margin: 0 30px 35px 0;
    }
    @include breakpoint('desktop_small'){
      position: relative;
      right: 90px;
      top: -58px;
      margin: 0;
    }
    @include breakpoint('desktop'){
      right: 130px;
      top: -70px;
    }
    @include breakpoint('desktop_big'){
      right: 160px;
      top: -100px;
    }
  }
}
