

.b-price-three-boxes{
  width: 100%;
  float: left;
  @include breakpoint('desktop_small'){
    width: 75%;
  }
  .box{
    background: $cl-primary;
    margin: 0 15px 15px;
    height: auto;
    min-height: 150px;
    position: relative;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 15px;
    @include breakpoint('tablet'){
      width: 71%;
      display: inline-block;
      float: left;
      min-height: 180px;
      margin-top: 30px;
    }
    @include breakpoint('desktop_small'){
      margin-bottom: 80px;
      width: calc(33% - 30px);
      min-height: 500px;
    }
    @include breakpoint('desktop'){
      width: calc(33.3% - 30px);
      margin-bottom: 110px;
    }
    @include breakpoint('desktop_big'){
      min-height: 525px;
    }
    &::after{
      content: url(../images/price-box-after.png);
      display: inline-block;
      position: absolute;
      right: -15px;
      top: -30px;
    }
    &:nth-child(2){
      background: #fca600;
      .price-wrapper{
        .price{
          &.shadow{
            color: #fdbd41;
          }
        }
      }
    }
    .price-wrapper{
      position: relative;
      z-index: 2;
      @include breakpoint('desktop_small'){
        position: absolute;
        bottom: 0;
        right: 15px;
      }
    }
  }
}
