.b-sidebar-product{
  display: none;
  @include breakpoint('tablet'){
    width: 24%;
    display: inline-block;
    float: right;
  }
  .box{
    background-color: $cl-bright-primary;
    position: relative;
    @include breakpoint('tablet'){
      width: 100%;
    }
    .product-img{
      width: 100%;
      padding: 20px 0 80px;
      @include breakpoint('tablet'){
        padding: 40px 0 100px;
      }
    }
  }
}
