.b-six-boxes{
  clear: both;
  margin-bottom: 35px;
  position: relative;
  @include breakpoint('tablet'){
    width: 75%;
    margin: inherit;
    display: inline-block;
    margin-bottom: 35px;
  }
  .box_row{
    margin: 30px 0 15px;
    &:last-child{
      margin-bottom: 0;
      margin-top: 0;
    }
    @include breakpoint('tablet'){
      &:last-child{
        margin-bottom: 30px;
      }
    }
    @include breakpoint('desktop_small'){
      height: 80px;
      margin: 50px 30px 15px;
      &:last-child{
        margin-bottom: 50px;
      }
    }
    .box{
      @include breakpoint('desktop_small'){
        display: inline-block;
        vertical-align: middle;
      }
      &:nth-child(odd){
        background: $cl-primary;
      }
      &:nth-child(1){
        @include breakpoint('desktop_small'){
          width: 27%;
        }
        @include breakpoint('desktop_big'){
          width: 20%;
          max-width: 220px;
        }
      }
      &:nth-child(2){
        @include breakpoint('desktop_small'){
          width: 54.5%;
        }
        @include breakpoint('desktop_big'){
          width: 50%;
          max-width: 530px;
        }
      }
      &:nth-child(3){
        @include breakpoint('desktop_small'){
          width: 17%;
        }
        @include breakpoint('desktop_big'){
          width: 14%;
          max-width: 160px;
        }
      }
    }
  }
}
