
.m-testimonials{
  position: relative;
  &::after{
    @include breakpoint('desktop_small'){
      content: url(../images/testi-leavesOfTree.png);
      position: absolute;
      right: -23px;
      top: -105px;
      transform: scale(.8);
    }
    @include breakpoint('desktop_big'){
      transform: scale(1);
      right: 0;
      top: -90px;
    }
  }
  &_navi{
    position: absolute;
    left: 0;
    right: 0;
    @include breakpoint('desktop_small'){
      z-index: 3;
    }
    @include breakpoint('desktop_big'){
      position: relative;
      margin: auto;
    }
  }
  clear: both;
  &_wrapper{
    background: $cl-primary;
    @include breakpoint('desktop_small'){
      height: 332px;
    }
    .slick-list{
      .m-testimonials-item{
        padding: 50px 15px 80px;
        @include breakpoint('desktop_small'){
          display: table;
          padding: 75px 15px;
          height: 152px;
        }
        @include breakpoint('desktop'){
          padding: 90px 15px;
        }
        .m-testimonials-itemAuthor, .m-testimonials-itemDescribe{
          margin-bottom: 25px;
          @include breakpoint('desktop_small'){
            margin-bottom: 0;
            display: table;
            height: 100%;
            float: left;
          }
          &.m-testimonials-itemAuthor{
            @include breakpoint('desktop_small'){
              width: 16%;
              margin-left: 4%;
            }
          }
          &.m-testimonials-itemDescribe{
            @include breakpoint('desktop_small'){
              width: 65%;
            }
          }
        }
      }
    }
  }
  &_prev,
  &_next {
    cursor: pointer;
    position: relative;
    width: 54px;
    height: 38px;
    background-color: $cl-white;
    float: left;
    top: -60px;
    @include breakpoint('desktop_small'){
      float: right;
      top: auto;
    }
    &::after {
      content: url(../images/arrow-icon-blue.png);
      width: 20%;
      position: absolute;
      top: 2px;
      transform: rotate(270deg);
      right: 32px;
    }
  }
  &_next{
    float: right;
    margin-right: 15px;
    @include breakpoint('desktop_small'){
      margin-right: 0;
      transform: rotate(270deg);
      top: -222px;
      right: 30;
    }
    @include breakpoint('desktop_big'){
      right: 116px;
    }
  }
  &_prev{
    margin-left: 15px;
    transform: rotate(180deg);
    @include breakpoint('desktop_small'){
      margin-left: 0;
      transform: rotate(90deg);
      right: 54px;
      bottom: 142px;
    }
    @include breakpoint('desktop_big'){
      right: 170px;
    }
  }
}
