.b-two-boxes{
  &_box{
    @include breakpoint('desktop_small'){
      width: 50%;
      float: left;
    }
    .m-posts-box{
      @include breakpoint('desktop_small'){
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      @include breakpoint('desktop_big'){
        width: calc(50% - 20px);
        margin: 0 10px !important;
      }
    }
    .b-features{
      &_boxes{
        @include breakpoint('tablet'){
          width: 100%;
        }
        .m-features-box{
          @include breakpoint('tablet'){
            height: 360px;
          }
          @include breakpoint('desktop_small'){
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
          @include breakpoint('desktop'){
            height: 510px;
          }
          @include breakpoint('desktop_big'){
            height: 432px;
            width: calc(50% - 20px);
            margin: 0 10px;
          }
          .m-features-layer{
            .m-typo{
              display: block;
            }
          }
          &:last-child{
            .m-features-layer{
              background: white;
              @include breakpoint('tablet'){
                background: none;
              }
              .m-btn{
                background: transparent;
                color: transparent;
                border: 2px solid transparent;
                &::after{
                  content: url(../images/arrow-icon.png);
                  background: transparent;
                }
              }
            }
          }
          &:hover{
            .m-features-layer{
              background: $cl-white !important;
              .m-typo{
                display: block;
              }
              .m-btn{
                border: 2px solid $cl-primary;
                color: $cl-primary;
                &::after{
                  content: url(../images/arrow-icon.png);
                  background: $cl-primary;
                }
              }
            }
          }
        }
      }
    }
	.m-btn{
		&.more{
			@include breakpoint('tablet'){
				margin: 15px;
				float: right;
			}
			@include breakpoint('desktop_small'){
				float: left;
				margin-left: 0;
			}
			@include breakpoint('desktop_big'){
				margin-left: 10px;
			}
		}
	}
  }
}
