.m-typo{
  transition: color .3s;
  &_primary{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: $cl-white;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
  }
  &_secondary{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.015em;
    font-weight: 300;
    margin-bottom: 30px;
    color: $cl-secondary;
    font-family: 'Roboto Condensed', sans-serif;
  }
  &_tertiary{
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.015em;
    font-weight: 300;
    margin-bottom: 30px;
    color: $cl-white;
    font-family: 'Roboto', sans-serif;
  }
}

.b-features, .b-posts, .b-pos, .b-product, .b-six-boxes, .b-benefits, .b-article-text, .b-price-three-boxes{
  &_title{
    .m-typo{
      &_primary{
        color: $cl-primary;
        text-align: left;
        position: relative;
        padding: 0 15px;
        margin-bottom: 45px;
        min-height: 80px;
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        &::before{
          content: '';
          height: 100%;
          width: 1px;
          background: $cl-primary;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
  .m-features-box, .m-posts-box{
    .m-typo{
      &_primary{
        min-height: 60px;
        color: $cl-primary;
        @include breakpoint('tablet'){
          color: $cl-white;
        }
      }
      &_secondary{
        visibility: visible;
        opacity: 1;
        transition: .3s all;
        color: $cl-primary;
        @include breakpoint('tablet'){
          visibility: hidden;
          opacity: 0;
        }
      }
    }
    &.m-features-box{
      .m-typo{
        position: relative;
        z-index: 3;
        &_primary{
          @include breakpoint('tablet'){
            margin-bottom: 15px;
          }
          @include breakpoint('desktop'){
            margin-bottom: 30px;
          }
        }
        &_secondary{
          color: $cl-primary;
        }
      }
      &:last-child{
        .m-typo{
          display: none;
        }
      }
    }
    &:hover{
      .m-features-layer, .m-posts-layer{
        .m-typo{
          &_primary{
            color: $cl-primary;
          }
          &_secondary{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
.b-partners{
  .m-typo{
    &_secondary{
      color: $cl-white;
      font-size: 16px;
      margin-bottom: 0;
      padding: 10px 50px;
    }
  }
}
.b-hero{
  .m-typo{
    &_primary{
      color: $cl-primary;
      padding-left: 15px;
      position: relative;
      display: inline-block;
      text-align: left;
      width: 200px;
      height: auto;
      overflow: hidden;
      @include breakpoint('tablet'){
        height: 60px;
      }
      span{
        position: relative;
        left: -300px;
        transition: 1.6s all;
      }
      &.slide{
        span{
          left: 0;
        }
      }
      @include breakpoint('phone_big'){
        width: 250px;
      }
      &::before{
        content: '';
        height: 100%;
        width: 1px;
        background: $cl-primary;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  .box-about{
    &_title{
      .m-typo{
        width: auto;
        line-height: 35px;
        height: auto;
      }
    }
    &_text{
      .m-typo{
        font-weight: 500;
      }
    }
  }
  &_header{
    .nav-icon{
      a{
        .m-typo{
          &_text{
            color: $cl-white;
            font-size: 13px;
            font-family: 'Roboto Condensed', sans-serif;
          }
        }
      }
    }
  }
}

.m-testimonials{
  .m-typo{
    margin-bottom: 0;
    &_primary{
      line-height: 24px;
      @include breakpoint('desktop_small'){
        display: table-cell;
        vertical-align: middle;
      }
      span{
        font-size: 14px;
      }
    }
    &_secondary{
      color: $cl-white;
      @include breakpoint('desktop_small'){
        padding: 0 30px 0 50px;
        display: table-cell;
        vertical-align: middle;
      }
      @include breakpoint('desktop_big'){
        padding-left: 130px;
      }
    }
  }
}

.b-pos{
  .m-typo{
    width: auto;
    line-height: 35px;
    padding: 0 15px;
  }
}

.b-product{
  .m-typo{
    &_secondary{
      margin-bottom: 0;
      color: $cl-primary;
      font-size: 16px;
      padding: 0 15px;
      @include breakpoint('desktop_small'){
        position: absolute;
        bottom: 65px;
      }
      @include breakpoint('desktop_big'){
        bottom: 85px;
      }
    }
  }
}

.b-six-boxes{
  .box{
    .m-typo{
      &_secondary{
        text-align: center;
        color: white;
        font-size: 18px;
        margin-bottom: 0;
        padding: 10px 20px;
        font-weight: 700;
        @include breakpoint('desktop_small'){
          padding: 25px 0px;
          max-height: 80px;
          font-size: 16px;
        }
        @include breakpoint('desktop'){
          padding: 25px 5px;
        }
        @include breakpoint('desktop_colossal'){
          font-size: 18px;
        }
      }
    }
    &:nth-child(1){
      .m-typo{
        &_secondary{
          text-transform: uppercase;
        }
      }
    }
    &:nth-child(2){
      .m-typo{
        &_secondary{
          color: $cl-primary;
          @include breakpoint('desktop_small'){
            height: 100%;
            padding: 0 15px;
          }
        }
      }
    }
  }
}

#m-breadcrumbs{
  a, span{
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    color: $cl-secondary;
  }
}

.b-benefits{
  .box{
    .m-typo{
      &_secondary{
        position: relative;
        font-weight: 700;
        color: $cl-primary;
        font-size: 16px;
        padding: 0 15px;
        line-height: 23px;
        margin-bottom: 0;
        height: 80px;
        display: table-cell;
        vertical-align: middle;
        @include breakpoint('desktop_small'){
          padding: 0 8px;
          font-size: 15px;
        }
        @include breakpoint('desktop'){
          font-size: 16px;
        }
        @include breakpoint('desktop_big'){
          padding: 0 15px;
        }
      }
    }
    &:nth-child(even){
      .m-typo{
        color: $cl-white;
      }
    }
  }
}

.b-article-text{
font-family: 'Roboto Condensed', sans-serif;
  h6{
    font-weight: 700;
    color: $cl-white;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    margin: 3px 0;
    background: $cl-primary;
  }
  p, li{
    margin: 15px;
    font-weight: 500;
    line-height: 35px;
    color: $cl-secondary;
    font-size: 18px;
  }
  &_franchise{
	h2, h5{
		padding: 15px;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		clear: left;
	}
	h5{
		font-weight: bold;
		color: #000;
		line-height: 32px;
		position: relative;
		z-index: 2;
	}
	h2{
		color: $cl-primary;
		margin-bottom: 20px;
		font-weight: bold;
	}
  }
}

.b-sidebar-product{
  .m-typo{
    &_primary{
      padding: 15px 15px;
      color: $cl-primary;
      @include breakpoint('tablet'){
        padding: 15px 30px;
      }
    }
  }
}


.b-four-boxes{
  .box{
    .m-typo{
      &_primary{
        color: $cl-primary;
        padding-top: 10px;
        border-top: 1px solid $cl-primary;
        margin-bottom: 15px;
      }
      &_secondary{
        font-size: 16px;
        color: $cl-primary;
        font-weight: 500;
        margin: 0;
        span{
          float: right;
        }
      }
    }
    &:nth-child(2){
      .m-typo{
        &_primary{
          font-weight: 400;
          margin-bottom: 10px;
          line-height: 32px;
          padding: 10px 20px 0;
          @include breakpoint('desktop_small'){
            line-height: 32px;
            padding: 10px 0 0;
          }
          @include breakpoint('desktop'){
            padding: 10px 20px 0;
          }
          @include breakpoint('desktop_big'){
            line-height: 34px;
          }
        }
        &_secondary{
          border-top: 1px solid $cl-bright-primary;
          font-size: 24px;
          font-weight: 600;
          padding: 5px 20px;
          @include breakpoint('desktop_small'){
            padding: 5px 0;
          }
          @include breakpoint('desktop'){
            padding: 5px 20px;
          }
          &:last-of-type{
            font-size: 16px;
          }
        }
      }
      .phone{
        .m-typo{
          &_secondary{
            font-size: 24px;
            display: inline-block;
          }
        }
      }
    }
    .b-four-boxes_title{
      .m-typo{
        border: none;
        margin-bottom: 42px;
      }
    }
    &_contact{
      .m-typo{
        &_primary{
          opacity: 0;
          transition: 1.2s all;
          font-size: 20px;
          margin: 32px 15px 50px;
          @include breakpoint('tablet'){
            text-align: left;
          }
        }
      }
    }
  }
}

.m-mobile {
  .m-menu{
    margin-top: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    a{
      color: $cl-white;
      font-size: 22px;
      font-weight: 500;
      padding: 10px;
      line-height: 44px;
    }
    &__item--is-last{
      a{
        color: $cl-orange;
      }
    }
  }
}


.b-mosaic{
  .m-typo{
    z-index: 3;
    position: relative;
    &_primary{
      font-size: 18px;
      margin-bottom: 15px;
      padding: 15px 15px 0;
    }
    &_secondary{
      margin:  0 15px 15px;
      padding-bottom: 60px;
      visibility: hidden;
      opacity: 0;
      transition: .3s all;
      @include breakpoint('tablet'){
        padding-bottom: 0;
      }
    }
  }
  .box{
    &:hover{
      .m-typo{
        &_secondary{
          visibility: visible;
          opacity: 1;
        }
        &_primary, &_secondary{
          color: $cl-primary;
          visibility: visible;
        }
      }
    }
  }
  &_contact{
    .m-typo{
      &_primary{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 0;
        @include breakpoint('tablet'){
          min-height: 30px;
        }
      }
      &_primary, &_secondary{
        color: $cl-secondary;
        font-weight: 400;
      }
      &_secondary{
        visibility: visible;
        opacity: 1;
      }
    }
    .box{
      &:hover{
        .m-typo{
          &_primary, &_secondary{
            color: $cl-secondary;
          }
        }
      }
    }
  }
}

.b-price-three-boxes{
  .m-typo{
    &_primary, &_secondary{
      font-size: 22px;
      @include breakpoint('desktop_small'){
        font-size: 18px;
        line-height: 25px;
      }
      @include breakpoint('desktop_big'){
        font-size: 22px;
        line-height: 30px;
      }
    }
    &_primary{
      text-transform: uppercase;
      padding-top: 110px;
      @include breakpoint('tablet'){
        padding-top: 60px;
        padding-right: 20px;
      }
      @include breakpoint('desktop_small'){
        padding-top: 80px;
      }
    }
    &_secondary{
      color: $cl-white;
      font-weight: 600;
      margin-bottom: 5px;
      letter-spacing: 0.9px;
    }
  }

  .price-wrapper{
    text-align: right;
    padding: 80px 0 30px 0;
    font-size: 22px;
    color: $cl-white;
    position: relative;
    z-index: 2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    @include breakpoint('tablet'){
      padding-top: 0;
    }
    @include breakpoint('desktop_small'){
      font-size: 18px;
    }
    @include breakpoint('desktop_big'){
      font-size: 22px;
    }
    .price{
      font-size: 90px;
      font-weight: 600;
      z-index: 2;
      position: relative;
      @include breakpoint('desktop_small'){
        font-size: 60px;
      }
      @include breakpoint('desktop_big'){
        font-size: 90px;
      }
      &.shadow{
        position: absolute;
        bottom: 60px;
        right: 19px;
        color: #079597;
        transform: scale(1.5);
        z-index: -1;
        @include breakpoint('desktop_small'){
          bottom: 46px;
          transform: scale(1.4);
        }
        @include breakpoint('desktop_big'){
          bottom: 60px;
          transform: scale(1.5);
        }
      }
    }
  }
  &_title{
    .m-typo{
      &_primary{
        padding-top: 0;
      }
    }
  }
}



.b-footer {
  .m-typo {
    &_primary{
      font-size: 18px;
      color: $cl-white;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 38px;
      cursor: pointer;
      @include breakpoint('desktop_small') {
        cursor: default;
        margin-bottom: 20px;
      }
    }
    &_tertiary {
      margin-bottom: 15px;
      strong {
        letter-spacing: 0.02em;
        font-weight: 500;
      }
    }
  }
}
